﻿@using IInterface.Common;
@using IInterface.Models;
@{
    Paginate<DepartmentModel> paginate = ViewData["listDepartment"] as Paginate<DepartmentModel>;
    var grid = new WebGrid(
                          rowsPerPage: paginate.PageSize,
                          canPage: true,
                          canSort: false,
                          ajaxUpdateContainerId: "tableGridDepartment"
                          );

    grid.Bind(paginate.List,
    autoSortAndPage: false,
    rowCount: paginate.Count);
    grid.Pager(WebGridPagerModes.All);
}
@{
    if (paginate.Count > 0)
    {
        var gridColumns = new List<WebGridColumn>();
        gridColumns.Add(grid.Column("STT", format: item => item.WebGrid.Rows.IndexOf(item) + 1
                + Math.Round(Convert.ToDouble(grid.TotalRowCount / grid.PageCount) / grid.RowsPerPage)
                * grid.RowsPerPage * grid.PageIndex));
        gridColumns.Add(grid.Column(header: "Tên đơn vị", format: @<text>
        <a href="javascript:void(0)" onclick="getMenuListByDepartment(@item.DepartmentID, '@item.DepartmentName')">@item.DepartmentName</a>
        </text>));
        gridColumns.Add(grid.Column("Address", "Địa chỉ"));
        gridColumns.Add(grid.Column("PhoneNumber", "Số điện thoại"));
        gridColumns.Add(grid.Column("RepresentPersonName", "Người đại diện"));
        gridColumns.Add(grid.Column("RepresentPosition", "Chức vụ"));
        gridColumns.Add(grid.Column(header: "", format: @<text>
            <a href="@Url.Action("DepartmentInfo", "Department", new { id = item.DepartmentID})" title="Sửa đơn vị" style="font-size: 16px;"><i class="fa fa-edit"></i></a>
        </text>));
                gridColumns.Add(grid.Column(header: "", format: @<text>
            <a href="javascript:void(0)" onclick="deleteDepartment(@item.DepartmentID)" title="Xóa đơn vị" style="font-size: 16px;"><i class="fa fa-trash-o text-danger"></i></a>
                </text>));

        @grid.GetHtml(htmlAttributes: new { id = "tableGridDepartment" },
                                      fillEmptyRows: false,
                                      tableStyle: "table table-hover table-striped",
                                      footerStyle: "table-pager",
                                      alternatingRowStyle: "altRow",
                                      selectedRowStyle: "selectRow",
                                      mode: WebGridPagerModes.All,
                                      columns: gridColumns)
    }
    else
    {
        <div style="color:red; margin-left:10px;">
            Không có dữ liệu
        </div>
    }
}
<script type="text/javascript">
    function deleteDepartment(id) {
        if (!confirm("Bạn có chắc chắn muốn xóa đơn vị?")) {
            return;
        }
        $.ajax({
            type: "POST",
            url: '@Url.Action("Delete", "Department")',
            data: { 'id': id },
            success: function (data) {
                CommonJS.alert(data);
                searchDepartment();
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }
</script>