﻿@using System.Diagnostics
@using IInterface.Models;
@{
    List<MainActionModel> lstAction = ViewData["lstAction"] as List<MainActionModel>;
    int? targetId = ViewData["targetId"] as int?;
}

@if (lstAction.Any())
{
    <input type="hidden" name="roleId" value="@targetId" />
    <table class="table table-hover" id="tableChooseAction">
        <thead>
            <tr>
                <th>
                    Mã
                </th>
                <th>
                    Nội dung
                </th>
                <th>
                    <input type="checkbox" id="checkAllAction" onclick="checkAll(this)" />
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (MainActionModel action in lstAction)
            {
                string isChecked = "";
                if (action.IsSelected)
                {
                    isChecked = "checked";
                }
                <tr>
                    <td>
                        &nbsp;@action.ActionCode
                    </td>
                    <td>
                        @*<a href="javascript:void(0)"><i class="fa fa-arrow-down" onclick="changeDisplayChild(this, @action.MainActionID, false)"></i></a>*@&nbsp;@action.ActionContent
                    </td>
                    <td>
                        <input type="checkbox" id="checkAllAction_@action.MainActionID" name="ActionIds" @isChecked onclick="checkChild(this)" value="@action.TargetID-@action.MainActionID" />
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div style="color:red; margin-left:10px;">
        Danh sách hoạt động chưa được khai báo
    </div>
}
<script type="text/javascript">

    function checkAll(item) {
        var checked = $(item).prop("checked");
        $("#tableChooseAction tbody input[name='ActionIds']").prop("checked", checked);
        if (checked) {
            $("#tableChooseAction tbody input[name='ActionIds']").each(function () {
                var val = $(this).val();                
                listActionChoose.push(val);
            });
        } else {
            $("#tableChooseAction tbody input[name='ActionIds']").each(function () {
                var val = $(this).val();
                listActionChoose = jQuery.grep(listActionChoose, function (value) {
                    return value != val;
                });
            });
        }
    }

    function checkChild(item) {
        var parentId = $(item).val();

        $("#tableChooseAction tbody input:checkbox[parent='" + parentId + "']")
            .prop("checked", $(item).prop("checked"));
        // Kiem tra check all
        if (!$(item).is(':checked')) {
            $("#checkAllAction").prop("checked", false);

            if (listActionChoose.indexOf(parentId)>-1) {
                var r = listActionChoose.indexOf(parentId);
                listActionChoose.splice(r, 1);
            }
        } else {
            if ($("#tableChooseAction tbody input[name='ActionIds']:checked").length ==
                $("#tableChooseAction tbody input[name='ActionIds']").length) {
                $("#checkAllAction").prop("checked", true);
            }
            listActionChoose.push(parentId);
        }
    }


    function changeDisplayChild(item, menuId, status) {
        if (status) {
            $(item).attr("class", "fa fa-arrow-down");;
            $("#tableChooseAction tbody tr[parent='" + menuId + "']").show();
        } else {
            $(item).attr("class", "fa fa-arrow-right");
            $("#tableChooseAction tbody tr[parent='" + menuId + "']").hide();
        }
        status = !status;
        $(item).attr("onclick", "changeDisplayChild(this, " + menuId + "," + status + ")");
        // Kiem tra check all
        if (!$(item).is(':checked')) {
            $("#checkAllAction").prop("checked", false);
        } else {
            if ($("#tableChooseAction tbody input[name='ActionIds']:checked").length ==
                $("#tableChooseAction tbody input[name='ActionIds']").length) {
                $("#checkAllAction").prop("checked", true);
            }
        }
    }

    function checkOne(item) {
        var parentId = $(item).attr("parent");
        if (!$(item).is(':checked')) {
            $("#checkAllAction").prop("checked", false);
            $("#checkAllAction_" + parentId).prop("checked", false);
        } else {
            if ($("#tableChooseAction tbody input[parent='" + parentId + "']:checked").length ==
                $("#tableChooseAction tbody input[parent='" + parentId + "']").length) {
                $("#checkAllAction_" + parentId).prop("checked", true);
            }
            if ($("#tableChooseAction tbody input[name='ActionIds']:checked").length ==
                $("#tableChooseAction tbody input[name='ActionIds']").length) {
                $("#checkAllAction").prop("checked", true);
            }
        }
    }
</script>
