﻿<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header" style="padding-bottom: 5px!important">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Lựa chọn hoạt động</h4>
        </div>
        <div class="modal-body">
            <input type="hidden" id="oldTargetAction" value="@ViewData["oldTargetAction"]" />

            <div class="row">
                <div class="col-lg-5">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="list-group" style="margin-bottom: 0px;">
                                <a href="javascript:void(0)" class="list-group-item bg-green-active text-center text-uppercase">Danh sách mục tiêu quỹ</a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12" id="divGridTarget">
                        </div>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="list-group" style="margin-bottom: 0px;">
                                <a href="javascript:void(0)" class="list-group-item bg-green-active text-center text-uppercase">Danh sách hoạt động</a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12" id="divActionOfDeptList">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" data-dismiss="modal" onclick="SelectTargetAction()" class="btn btn-success"><i class="fa fa-plus"></i> Chọn</button>
        </div>
    </div>
</div>

<script>
    var listActionChoose = [];

    $(document).ready(function () {
        $.validator.unobtrusive.parse("#frmChooseAction");

        var oldTarAc = $("#oldTargetAction").val();
        if (oldTarAc!= null&& oldTarAc!="") {
        listActionChoose = oldTarAc.split(',');
        }

        searchTarget();
    });

    function searchTarget() {
        $.ajax({
            url: '@Url.Action("SearchTarget", "Department")',
            data: {
                'TargetName': $("TargetName").val()
            },
            success: function (result) {
                $("#divGridTarget").html(result);
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }

    function  SelectTargetAction() {
        $("#ListTargetAction").val(listActionChoose);
        $.ajax({
            type: "POST",
            url: '@Url.Action("LoadActionChosen", "Department")',
            data: {
                'actionIDs': listActionChoose
            },
            success: function (result) {
                $("#divListAction").html(result);
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }

    function onSuccessSearch() {
        $("#divMenuList").html("");
    }

    function getActionListByTarget(id, name) {
        var deptId = $("#DepartmentID").val();
        $("a[name='target']").removeClass("active");
        $('#tg_' + id).addClass("active");
        $.ajax({
            url: '@Url.Action("ViewListActionByTarget", "Department")',
            data: {
                'targetId': id,
                'departmentId':deptId,
                'actionIDs': listActionChoose
            },
            success: function (result) {
                $("#divActionOfDeptList").html(result);
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }

    function onSuccessSearchActtion(msg) {
        CommonJS.alert(msg);
    }
</script>






