﻿@using IInterface.Common;
@using IInterface.Models;
@{
    List<TargetModel> listTarget = ViewData["listTarget"] as List<TargetModel>;
}
@if (listTarget != null && listTarget.Any())
{
    <div class="list-group" style="margin-bottom: 0px !important;">
        @foreach (var objPlanTarget in listTarget)
        {
            string activeClass = "list-group-item";
            <a href="javascript:void(0)" onclick="getActionListByTarget(@objPlanTarget.TargetID)" class="@activeClass" id="tg_@objPlanTarget.TargetID" name="target">
                <strong>
                    <i class="fa fa-folder-o"></i> <span id="titleOfTarget_@objPlanTarget.TargetID">@objPlanTarget.TargetTitle </span>
                </strong>
                <p class="list-group-item-text text-sm">
                    @objPlanTarget.TargetContent
                </p>
            </a>
        }
    </div>
}
else
{
    <div style="color:red; margin-left:10px;">
        Không có mục tiêu quỹ
    </div>
}