﻿@using System.Diagnostics
@using IInterface.Models;
@{
    List<MainActionModel> lstAction = ViewData["lstAction"] as List<MainActionModel>;
    int? targetId = ViewData["targetId"] as int?;
}
@if (lstAction != null && lstAction.Any())
{
    <div class="row" style="margin-left: 0px !important; margin-right: 0px !important">
        <div class="col-md-12">
            <table class="table table-hover" id="tableChooseAction">
                <thead>
                    <tr>
                        <th style="width: 80px !important">
                            Mã hoạt động
                        </th>
                        <th>
                            Mục tiêu
                        </th>
                        <th>
                            Nội dung hoạt động
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (MainActionModel action in lstAction)
                    {
                        <tr>
                            <td>
                                @action.ActionCode
                            </td>
                            <td>
                                @action.TargetName
                            </td>
                            <td>
                                @action.ActionContent
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}
else
{
    <div style="color:red; margin-left:10px;">
        Danh sách hoạt động chưa được khai báo
    </div>
}
