﻿@using IInterface.Models
@model DepartmentModel
@{
    List<SelectListItem> listParent = ViewData["listParent"] as List<SelectListItem>;
}
    @Html.DropDownListFor(x => x.ParentID, listParent, new { @class = "js-example-basic-single form-control", style = "width:100%" })
<script type="text/javascript">
    $(document).ready(function () {
        $(".js-example-basic-single").select2(
            {
                placeholder: "---Chọn đơn vị cha---",
                allowClear: true
            });
        $.validator.unobtrusive.parse("#frmCreateOrEdit");
    });
</script>