﻿@using System.Configuration
@using IInterface.Models
@using IInterface.Common
@model DepartmentModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<SelectListItem> listParent = ViewData["listParent"] as List<SelectListItem>;
    List<SelectListItem> listTarget = ViewData["listTarget"] as List<SelectListItem>;
    List<int> lstDeptTypeAllowed = ViewData["lstDeptTypeAllowed"] as List<int>;
    List<SelectListItem> listDeptType = ViewData["listDeptType"] as List<SelectListItem>;
}
@using (Ajax.BeginForm("AddOrEdit", "Department", new AjaxOptions()
{
    HttpMethod = "post",
    OnBegin = "onBegin",
    OnSuccess = "onSuccess",
    OnFailure = "onFail"
}, new { id = "frmCreateOrEdit" }))
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-lg-12">
            <div class="box">
                <div class="box-header">
                    @if (Model != null && Model.DepartmentID > 0)
                    {
                        @Html.HiddenFor(model => model.DepartmentID)
                        <h3 class="modal-title"><i class="fa fa-edit"></i> Cập nhật đơn vị</h3>
                    }
                    else
                    {
                        <h3 class="modal-title"><i class="fa fa-plus"></i> Thêm mới đơn vị</h3>
                    }
                    @Html.HiddenFor(model => model.ListTargetAction)
                </div>
                <div class="box-body">
                    <div class="form-horizontal">
                        <fieldset class="fieldset-border">
                            <legend class="legend-border">Thông tin chung</legend>
                            <div class="form-group">
                                <label class="control-label col-md-2">Mã đơn vị</label>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(x => x.DepartmentCode, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(x => x.DepartmentCode)
                                </div>
                                <label class="control-label col-md-2">Tên đơn vị <span class="text-red">*</span></label>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(x => x.DepartmentName, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(x => x.DepartmentName)
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2">Địa chỉ</label>
                                <div class="col-md-10">
                                    @Html.TextBoxFor(x => x.Address, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(x => x.Address)
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2">Số điện thoại</label>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(x => x.PhoneNumber, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(x => x.PhoneNumber)
                                </div>
                                <label class="control-label col-md-2">Fax</label>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(x => x.Fax, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(x => x.Fax)
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2">Số tài khoản</label>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(x => x.AccountNumber, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(x => x.AccountNumber)
                                </div>
                                <label class="control-label col-md-2">Ngân hàng</label>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(x => x.BankName, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(x => x.BankName)
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2">Đơn vị cha</label>
                                <div class="col-md-4" id="divParent">
                                    @Html.DropDownListFor(x => x.ParentID, listParent, new { @class = "select js-example-basic-single form-control", style = "width:100%" })
                                </div>
                                <label class="control-label col-md-2">Loại đơn vị</label>
                                <div class="col-md-4">
                                    @Html.DropDownListFor(x => x.DepartmentType, listDeptType, new { @class = "select js-example-basic-single form-control", id = "DepartmentType", style = "width:100%" })
                                </div>
                            </div>
                            <div class="form-group" id="divSelectTarget">
                                @*<label class="control-label col-md-2">Mục tiêu quỹ</label>
                                    <div class="col-md-10" id="divParent">
                                        @Html.DropDownListFor(x => x.TargetID, listTarget, new { @class = "js-example-basic-single form-control", style = "width:100%" })
                                    </div>*@
                                <div class="col-md-6">
                                </div>
                                <div class="col-md-2">
                                </div>
                                <div class="col-md-4">
                                    <span class="input-group-btn">
                                        <a class="btn btn-success disabled" href="#" id="btnChooseTarget" onclick="PrepareChooseTargetAction(@Model.DepartmentID)"><i class="fa fa-plus"></i> Chọn mục tiêu và hoạt động</a>
                                    </span>
                                </div>
                            </div>
                        </fieldset>
                        <div class="form-group" id="divListAction">
                            <fieldset class="fieldset-border">
                                <legend class="legend-border">Hoạt động thực hiện</legend>
                                @if (Model != null && Model.DepartmentType == Constants.DEPT_TYPE_PBQUY)
                                {
                                    @Html.Partial("_ListActionChosen")
                                }

                            </fieldset>
                        </div>
                        <fieldset class="fieldset-border">
                            <legend class="legend-border">Người đại diện</legend>
                            <div class="form-group">
                                <label class="control-label col-md-2">Họ tên</label>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(x => x.RepresentPersonName, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(x => x.RepresentPersonName)
                                </div>
                                <label class="control-label col-md-2">Chức vụ</label>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(x => x.RepresentPosition, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(x => x.RepresentPosition)
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2">Địa chỉ</label>
                                <div class="col-md-10">
                                    @Html.TextBoxFor(x => x.RepresentAddress, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(x => x.RepresentAddress)
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2">Số điện thoại</label>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(x => x.RepresentPhone, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(x => x.RepresentPhone)
                                </div>
                                <label class="control-label col-md-2">Email</label>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(x => x.RepresentEmail, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(x => x.RepresentEmail)
                                </div>
                            </div>
                        </fieldset>
                        <fieldset class="fieldset-border">
                            <legend class="legend-border">Đầu mối liên hệ</legend>
                            <div class="form-group">
                                <label class="control-label col-md-2">Họ tên</label>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(x => x.ContactPersonName, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(x => x.ContactPersonName)
                                </div>
                                <label class="control-label col-md-2">Chức vụ</label>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(x => x.ContactPosition, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(x => x.ContactPosition)
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2">Địa chỉ</label>
                                <div class="col-md-10">
                                    @Html.TextBoxFor(x => x.ContactAddress, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(x => x.ContactAddress)
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2">Số điện thoại</label>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(x => x.ContactPhone, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(x => x.ContactPhone)
                                </div>
                                <label class="control-label col-md-2">Email</label>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(x => x.ContactEmail, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(x => x.ContactEmail)
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
                <div class="box-footer text-center">
                    <button type="submit" class="btn btn-success"><i class="fa fa-floppy-o"></i> Lưu</button>
                    <a class="btn btn-default" href="@Url.Action("Index", "Department")"><i class="fa fa-backward"></i> Quay lại</a>
                </div>
            </div>
        </div>
    </div>
    <div id="modal-add-targetAction" class="modal fade" Period="dialog"></div>
}
<script type="text/javascript">
    var lstConfig ="@ConfigurationManager.AppSettings["DEPARTMENT_TYPE_FOR_ADD_TARGET_ACTION"]";
    $(document).ready(function () {
        $('select').select2();
        $.validator.unobtrusive.parse("#frmCreateOrEdit");

        var type = $("#DepartmentType").val();
        if(lstConfig.indexOf(""+type) > -1) {
            $("#btnChooseTarget").removeClass("disabled");
        } else {
            $("#btnChooseTarget").addClass("disabled");
        }

        $("#DepartmentType").change(function () {
            var deptType = $(this).val();
            if(lstConfig.indexOf(""+deptType) > -1) {
                $("#btnChooseTarget").removeClass("disabled");
            } else {
                $("#btnChooseTarget").addClass("disabled");
            }
        });
    });


    function PrepareChooseTargetAction(id) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("ChooseTargetAction", "Department")',
            data: {
                'id': id
            },
            success: function (result) {
                $("#modal-add-targetAction").html(result);
                $("#modal-add-targetAction").modal("show");
                $("#hidTargetID").val(id);
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }

    function onBegin() {
        if ($("#frmCreateOrEdit").valid()) {
            return true;
        } else {
            return false;
        }
    }

    function onSuccess(msg) {
        CommonJS.alert(msg);
        var hidDepartmentID = $('#frmCreateOrEdit #DepartmentID');
        if (hidDepartmentID == undefined || hidDepartmentID.val() == undefined || $.trim(hidDepartmentID.val()) == '') {
            $("#frmCreateOrEdit").trigger('reset');
            $.ajax({
                type: "POST",
                url: '@Url.Action("ReloadParent", "Department")',
                data: {},
                success: function (data) {
                    $("#divParent").html(data);
                },
                error: function (xhr) {
                    CommonJS.alert(xhr.responseText);
                }
            });
        }
    }

    function onFail(xhr) {
        CommonJS.alert(xhr.responseText);
    }
</script>
