﻿@using IInterface.Models
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<SelectListItem> listDeptType = IInterface.Common.Utils.GetDepartmentType().ToList();
    listDeptType.RemoveAt(0);
}
<div class="row">
    <div class="col-lg-12">
        <div class="box">
            <div class="box-header with-border">
                @using (Ajax.BeginForm("SearchDepartment", "Department", new AjaxOptions
                {
                    HttpMethod = "get",
                    UpdateTargetId = "divGridDepartment"
                }, new { id = "frmSearchDepartment", enctype = "multipart/form-data" }))
                {
                    <div class="form-horizontal">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.Label("Loại đơn vị", new { @class = "control-label col-md-3" })
                                    <div class="col-md-9">
                                        <select id="DeptType" name="DeptType" style="width: 100%" class="form-control select2">
                                            <option value="">--Tất cả--</option>
                                            @foreach (SelectListItem item in listDeptType)
                                            {
                                                <option value="@item.Value">@item.Text</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.Label("Thông tin khác", new { @class = "control-label col-md-3" })
                                    <div class="col-md-9">
                                        <div class="input-group with-border">
                                            <input id="Keyword" name="Keyword" class="form-control" placeholder="Từ khóa tìm kiếm" type="text" />
                                            <span class="input-group-btn">
                                                <button class="btn btn-default" type="submit"> <i class="fa fa-search"></i> Tìm kiếm</button>
                                                <a class="btn btn-success" href="@Url.Action("DepartmentInfo", "Department")"> <i class="fa fa-plus"></i> Thêm mới</a>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-lg-12" id="divGridDepartment">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("select").select2();
        searchDepartment();
    });

    function searchDepartment() {
        $("#frmSearchDepartment").submit();
    }
</script>
