﻿body {
    font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #a7a599;
    background: #f3f3f4;
    font-size: 12px;
    /*#31302b;*/
}

/*Login form style*/
/* === Logo === */

.logo {
    background-position: center;
    height: 60px;
    width: 140px;
    margin: 100px auto 30px auto;
}
.text-center {
  text-align: center;
}
.middle-box {
    max-width: 400px;
    z-index: 100;
    margin: 0 auto;
}

.lockscreen.middle-box {
    width: 200px;
    padding-top: 110px;
}

.loginscreen.middle-box {
    width: 300px;
}

.loginColumns {
    max-width: 800px;
    margin: 0 auto;
    padding: 100px 20px 20px 20px;
}

.passwordBox {
    max-width: 460px;
    margin: 0 auto;
    padding: 100px 20px 20px 20px;
}

.logo-name {
    color: #e6e6e6;
    font-size: 180px;
    font-weight: 800;
    letter-spacing: -10px;
    margin-bottom: 0;
}

.middle-box h1 {
    font-size: 120px;
}

.wrapper .middle-box {
    margin-top: 100px;
}

.lock-word {
    z-index: 10;
    position: absolute;
    top: 110px;
    left: 50%;
    margin-left: -470px;    
}

    .lock-word span {
        font-size: 100px;
        font-weight: 600;
        color: #e9e9e9;
        display: inline-block;
    }

    .lock-word .first-word {
        margin-right: 160px;
    }


/* === Form === */
.form {
    width: 100%;
}

    .form .field {
        position: relative;
    }

        .form .field i {
            font-size: 16px;
            left: 0px;
            top: 0px;
            position: absolute;
            height: 20px;
            width: 44px;
            color: #676056;
            text-align: center;
            line-height: 35px;
            transition: all 0.3s ease-out;
            pointer-events: none;
        }

/* === Login styles === */
h1 {
    color: #e6e6e6;
    font-size: 180px;
    font-weight: 800;
    letter-spacing: -10px;
    margin-bottom: 0;
}


/*input style*/
/* === Input Form === */
::-webkit-input-placeholder {
    color: #ded9cf;
}

:-moz-placeholder {
    color: #ded9cf !important;
    font-family: 'Open Sans';
}

.form input[type=text], input[type=password] {
    font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    padding: 7px 15px 7px 55px;
    position: relative;
    width: 80%;
    height: 20px;
    color: #676056;
    border: none;
    border: 0.01em solid #f7f3eb;
    background-color: #FFFFFF;
    color: #777;
}

.form input[type=text] {
    margin-bottom: 5px;
}

    .form input[type=text]:hover ~ i,
    .form input[type=password]:hover ~ i {
        color: #27ae60;
    }

    .form input[type=text]:focus ~ i,
    .form input[type=password]:focus ~ i {
        color: #27ae60;
    }

    .form input[type=text]:focus,
    .form input[type=password]:focus,
    .form button[type=submit]:focus {
        outline: none;
    }

.form input[type=submit] {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 0.01em solid transparent;
    border-radius: 4px;
    color: #fff;
    width: 104%;
    background-color: #1ab394;
    border-color: #1ab394;
    -webkit-animation: shadowFadeOut 0.4s;
    -moz-animation: shadowFadeOut 0.4s;
}

    .form input[type=submit]:hover, input[type=submit]:focus {
        color: #fff;
        box-shadow: inset 0px 46px 0px 0px #1aa98d;
        -webkit-animation: shadowFade 0.4s;
        -moz-animation: shadowFade 0.4s;
    }

/*keyframes for input animation*/
@keyframes shadowFade {
    0% {
        box-shadow: inset 0px 0px 0px 0px #1aa98d;
        color: #fff;
    }

    100% {
        box-shadow: inset 0px 46px 0px 0px #1aa98d;
        color: #fff;
    }
}

@keyframes shadowFadeOut {
    0% {
        box-shadow: inset 0px 46px 0px 0px #1aa98d;
        color: #fff;
    }

    100% {
        box-shadow: inset 0px 0px 0px 0px #1aa98d;
        color: #fff;
    }
}

@-webkit-keyframes shadowFade {
    0% {
        box-shadow: inset 0px 0px 0px 0px #1aa98d;
        color: #fff;
    }

    100% {
        box-shadow: inset 0px 46px 0px 0px #1aa98d;
        color: #fff;
    }
}

@-webkit-keyframes shadowFadeOut {
    0% {
        box-shadow: inset 0px 46px 0px 0px #1aa98d;
        color: #fff;
    }

    100% {
        box-shadow: inset 0px 0px 0px 0px #1aa98d;
        color: #fff;
    }
}

@-moz-keyframes shadowFade {
    0% {
        box-shadow: inset 0px 0px 0px 0px #1aa98d;
        color: #fff;
    }

    100% {
        box-shadow: inset 0px 46px 0px 0px #1aa98d;
        color: #fff;
    }
}

@-moz-keyframes shadowFadeOut {
    0% {
        box-shadow: inset 0px 44px 0px 0px #1aa98d;
        color: #fff;
    }

    100% {
        box-shadow: inset 0px 0px 0px 0px #1aa98d;
        color: #fff;
    }
}

/* === Copyright === */
.copyright {
    margin-top: 30px;
}

    .copyright p, .copyright a {
        color: #828078;
        font-size: 12px;
        text-decoration: none;
        transition: color 0.3s ease-out;
    }

        .copyright p a:hover, .copyright a a:hover {
            color: #f2672e;
        }

.text-danger {
    color: #a94442;
}

.msg-type-SUCCESS {
    z-index: 10000;
    padding: 5px;
    margin: auto;
    position: fixed;
    left: 0;
    right: 0;
    top: 1%;
    border: 1px solid #67dc6d;
    background: #bbfcbf;
    display: none;
    width: 65%;
    text-align: center;
    box-shadow: 2px 2px 5px #888888;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
}

.msg-type-ERROR {
    z-index: 10000;
    padding: 5px;
    margin: auto;
    position: fixed;
    left: 0;
    right: 0;
    top: 1%;
    border: 1px solid #ffa6a6;
    background: #f55d5d;
    display: none;
    width: 65%;
    text-align: center;
    box-shadow: 2px 2px 5px #888888;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
}
