﻿body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    font-size: 12px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
.form-control {
    border: 0.1em solid #ccc !important;
    font-size: 12px !important;
}

    .form-control:focus {
        border-color: #66afe9 !important;
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
    }

.msg-type-SUCCESS {
    z-index: 10000;
    padding: 5px;
    margin: auto;
    position: fixed;
    left: 0;
    right: 0;
    top: 1%;
    border: 1px solid #67dc6d;
    background: #bbfcbf;
    display: none;
    width: 65%;
    text-align: center;
    box-shadow: 2px 2px 5px #888888;
    font-size: 12px;
    font-weight: bold;
    color: #1b5e20;
}

.msg-type-ERROR {
    z-index: 10000;
    padding: 5px;
    margin: auto;
    position: fixed;
    left: 0;
    right: 0;
    top: 1%;
    border: 1px solid #ffa6a6;
    background: #f55d5d;
    display: none;
    width: 65%;
    text-align: center;
    box-shadow: 2px 2px 5px #888888;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
}

/*Overwrite css*/
.box {
    border-radius: 0px !important;
}

.box-nopadding {
    margin-bottom: 1px !important;
}

.btn-success {
    background-color: #1ab394 !important;
    border-color: #18a689 !important;
}

    .btn-success:hover,
    .btn-success:focus,
    .btn-success:active,
    .btn-success.active,
    .open .dropdown-toggle.btn-success,
    .btn-success:active:focus,
    .btn-success:active:hover,
    .btn-success.active:hover,
    .btn-success.active:focus {
        background-color: #18a689 !important;
        border-color: #18a689 !important;
    }

.btn-info {
    background-color: #23c6c8 !important;
    border-color: #23c6c8 !important;
}

    .btn-info:hover,
    .btn-info:focus,
    .btn-info:active,
    .btn-info.active,
    .open .dropdown-toggle.btn-info,
    .btn-info:active:focus,
    .btn-info:active:hover,
    .btn-info.active:hover,
    .btn-info.active:focus {
        background-color: #21b9bb !important;
        border-color: #21b9bb !important;
    }

.timeline-inverse > li > .timeline-item {
    background: #f9f9f9 !important;
    border: 0.01em solid #ebebeb !important;
    margin-right: -10px !important;
}

.timeline > li > .timeline-item > .timeline-header {
    border-bottom: 0.01em solid #ebebeb !important;
}

blockquote {
    font-size: 13px !important;
}

.btn {
    border-width: 1px !important;
}

.btn-primary {
    background-color: #4285f4 !important;
    border-color: #4285f4 !important;
}

    .btn-primary:hover,
    .btn-primary:focus,
    .btn-primary:active,
    .btn-primary.active,
    .open .dropdown-toggle.btn-primary,
    .btn-primary:active:focus,
    .btn-primary:active:hover,
    .btn-primary.active:hover,
    .btn-primary.active:focus {
        background-color: #3079ed !important;
        border-color: #4285f4 !important;
    }

.box.box-primary {
    border-top-color: #4285f4 !important;
}

.text-light-blue-edited {
    color: #4285f4 !important;
}

.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
    z-index: 2;
    color: #fff;
    background-color: #4285f4;
    border-color: #3079ed;
}

    .list-group-item.active .list-group-item-text, .list-group-item.active:hover .list-group-item-text, .list-group-item.active:focus .list-group-item-text {
        color: #fff !important;
    }

fieldset.fieldset-border {
    border: solid 1px #DDD !important;
    padding: 0 10px 10px 10px;
    border-bottom: none;
    margin-bottom: 10px;
}

legend.legend-border {
    width: auto !important;
    border: none;
    margin-bottom: 0px;
    font-size: 18px;
}

.bs-callout {
    padding: 10px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}

.bs-callout-info {
    border-left-color: #4285f4;
}

.control-label-df {
    padding-top: 7px;
    margin-bottom: 0;
    text-align: right;
    font-weight: normal !important;
}

.control-label-em {
    /*padding-top: 7px;*/
    margin-bottom: 0;
    text-align: right;
    font-weight: normal !important;
    font-style: italic;
}

.control-label-st {
    /*padding-top: 7px;*/
    margin-bottom: 0;
    text-align: right;
    font-weight: bold !important;
}

/*Pace Process*/
.pace {
    -webkit-pointer-events: none;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.pace-inactive {
    display: none;
}

.table-pager {
    text-align: right;
}

    .table-pager > td {
        padding-top: 10px;
    }

        .table-pager > td > a {
            background-color: #f5f5f5;
            border: 1px solid #ccc;
            border-radius: 3px;
            padding: 3px 7px;
        }

            .table-pager > td > a:hover {
                background-color: #f0f0f0;
            }

.form-horizontal {
    padding-bottom: 0px;
}

textarea {
    border-radius: 5px !important;
}

.skin-blue-light .main-header .navbar {
    background-color: #1ab394 !important;
}

    .skin-blue-light .main-header .navbar .sidebar-toggle:hover {
        background-color: #18a689 !important;
    }

.skin-blue-light .main-header .logo {
    background-color: #1ab394 !important;
}

    .skin-blue-light .main-header .logo:hover {
        background-color: #18a689 !important;
    }

.skin-blue-light .sidebar-menu > li > a {
    font-weight: 400 !important;
}

.strong-left {
    text-align: left !important;
}

.select2-container--default .select2-selection--single {
    border-radius: 0px !important;
}

.field-validation-error {
    color: #a94442 !important;
}

.multiline {
    white-space: pre-wrap;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #fff !important;
    background-color: #4CAF50 !important;
    font-weight: bold !important;
}

.skin-blue-light .sidebar-menu .treeview-menu > li.active > a {
    background-color: #4285f4;
    font-weight: 600;
    color: #fff !important;
}

.treeview-menu {
    line-height: 30px;
    padding-left: 0 !important;
}

    .treeview-menu > li > a {
        font-size: 12px !important;
    }

.skin-blue-light .sidebar-menu > li > .treeview-menu {
    border-left: #1ab394 5px solid;
    color:#3079ed !important;
}
