﻿@using IInterface.Models
@model PeriodModel
@using (Ajax.BeginForm("Save", "Period", new AjaxOptions()
{
    HttpMethod = "post",
    OnBegin = "onBegin",
    OnSuccess = "onSuccess",
    OnFailure = "onFail"
}, new { id = "frmCreateOrEdit" }))
{
    @Html.AntiForgeryToken()
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                @if (Model != null && Model.PeriodID > 0)
                {
                    @Html.HiddenFor(model => model.PeriodID)
                    <h4 class="modal-title">Cập nhật kỳ lập kế hoạch</h4>
                }
                else
                {
                    <h4 class="modal-title">Thêm mới kỳ lập kế hoạch</h4>
                }

            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        @Html.LabelFor(model => model.PeriodName, new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.TextBoxFor(model => model.PeriodName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.PeriodName)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.FromDate, new { @class = "control-label col-md-3" })
                        <div class="col-md-3">
                            <div class="input-group datetimepickerFromDate">
                                @Html.TextBoxFor(model => model.FromDate, "{0:dd/MM/yyyy}", new { @class = "form-control" })
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar">
                                    </i>
                                </div>
                            </div>
                            @Html.ValidationMessageFor(model => model.FromDate)
                        </div>
                        @Html.LabelFor(model => model.ToDate, new { @class = "control-label col-md-3" })
                        <div class="col-md-3">
                            <div class="input-group datetimepickerToDate">
                                @Html.TextBoxFor(model => model.ToDate, "{0:dd/MM/yyyy}", new { @class = "form-control" })
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar">
                                    </i>
                                </div>
                            </div>
                            @Html.ValidationMessageFor(model => model.ToDate)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.TextAreaFor(model => model.Description, new { @class = "form-control", row = "5" })
                            @Html.ValidationMessageFor(model => model.Description)
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success"><i class="fa fa-floppy-o"></i> Lưu</button>
                <button type="button" data-dismiss="modal" class="btn btn-default"><i class="fa fa-ban"></i> Hủy</button>
            </div>
        </div>
    </div>
}
<script type="text/javascript">
    $.validator.unobtrusive.adapters.add('isgreater', ['otherproperty', 'ownerproperty'], function (options) {
        options.rules['isgreater'] = { otherproperty: options.params.otherproperty, ownerproperty: options.params.ownerproperty };
        options.messages['isgreater'] = options.message;
    });

    $.validator.addMethod("isgreater", function (value, element, param) {
        var ownerId = element.id;
        var otherid = param.otherproperty;
        if (ownerId !== param.ownerproperty) {
            otherid = ownerId.substr(0, ownerId.length - param.ownerproperty.length) + otherid;
        }
        var otherProp = $('#' + otherid);
        if (otherProp.val() != '') {
            var StartDate = new Date(moment(otherProp.val(), 'DD/MM/YYYY'));

            var Enddate = new Date(moment(value, 'DD/MM/YYYY'));
            if (StartDate != '') {
                return Enddate >= StartDate;
            }
        }
        return true;
    });
    $('.datetimepickerFromDate').click(function (event) {
        event.preventDefault();
        $('#FromDate').focus();
    });
    $('.datetimepickerToDate').click(function (event) {
        event.preventDefault();
        $('#ToDate').focus();
    });
    $(document).ready(function () {
        $('select').select2();
        $('#FromDate').datepicker({
            locale: 'vi',
            format: 'dd/mm/yyyy',
            startView: "year",
            minViewMode: "months",
            autoclose: true
        });
        $('#ToDate').datepicker({
            locale: 'vi',
            format: 'dd/mm/yyyy',
            startView: "year",
            minViewMode: "months",
            autoclose: true
        });
        $(function () {
            $.validator.methods.date = function (value, element) {
                return this.optional(element) || moment(value, "DD/MM/YYYY", true).isValid();
            }
        });
        $.validator.unobtrusive.parse("#frmCreateOrEdit");
    });

    function onBegin() {
        if ($("#frmCreateOrEdit").valid()) {
            return true;
        } else {
            return false;
        }
    }

    function onSuccess(msg) {
        CommonJS.alert(msg);
        searchPeriod();
    }

    function onFail(xhr) {
        CommonJS.alert(xhr.responseText);
    }
</script>

