﻿@using IInterface.Common;
@using IInterface.Models;
@{
    Paginate<PeriodModel> paginate = ViewData["listPeriod"] as Paginate<PeriodModel>;
    var grid = new WebGrid(
                          rowsPerPage: paginate.PageSize,
                          canPage: true,
                          canSort: false,
                          ajaxUpdateContainerId: "divGridPeriod"
                          );

    grid.Bind(paginate.List,
    autoSortAndPage: false,
    rowCount: paginate.Count);
    grid.Pager(WebGridPagerModes.All);
}

@{
    if (paginate.Count > 0)
    {
        var gridColumns = new List<WebGridColumn>();
        gridColumns.Add(grid.Column("PeriodName", "Tên giai đoạn"));
        gridColumns.Add(grid.Column("Từ ngày", format: (item) => string.Format("{0:MM/yyyy}", item.FromDate)));
        gridColumns.Add(grid.Column("Tới ngày", format: (item) => string.Format("{0:MM/yyyy}", item.ToDate)));
        gridColumns.Add(grid.Column("Description", "Mô tả", style: "Deptname"));
        gridColumns.Add(grid.Column(header: "", format: @<text>
            <a href="javascript:void(0)" onclick="prepareEditPeriod(@item.PeriodID)" class="btn btn-xs btn-primary" title="Sửa kỳ lập kế hoạch"><i class="fa fa-edit"></i> Sửa</a>
            <a href="javascript:void(0)" onclick="deletePeriod(@item.PeriodID)" class="btn btn-xs btn-danger" title="Xóa kỳ lập kế hoạch"><i class="fa fa-trash-o"></i> Xóa</a>
        </text>));
        @grid.GetHtml(htmlAttributes: new { id = "divGridPeriod" },
                                      fillEmptyRows: false,
                                      tableStyle: "table table-hover table-striped",
                                      footerStyle: "table-pager",
                                      alternatingRowStyle: "altRow",
                                      selectedRowStyle: "selectRow",
                                      mode: WebGridPagerModes.All,
                                      columns: gridColumns)
    }
    else
    {
        <div style="color:red; margin-left:10px;">
            Không có kỳ lập kế hoạch nào
        </div>
    }
}
<script type="text/javascript">
    function deletePeriod(id) {
        if (!confirm("Bạn có chắc chắn muốn xóa kỳ lập kế hoạch?")) {
            return;
        }
        $.ajax({
            type: "POST",
            url: '@Url.Action("Delete", "Period")',
            data: { 'id': id },
            success: function (data) {
                CommonJS.alert(data);
                searchPeriod();
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }

    function prepareEditPeriod(id) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("PrepareAddOrEdit", "Period")',
            data: {
                'id': id
            },
            success: function (result) {
                $("#modal-Period").html(result);
                $("#modal-Period").modal("show");
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }

</script>
