﻿@using IModel
@using IInterface.Common
@using IInterface.Models
@{
    SettleSynthesis entity = ViewData["settleReport"] as SettleSynthesis;
}
<div class="row">
    <div class="col-md-12" id="divBody">
        <div class="row">
            <div class="col-md-12">                
                <div class="box box-success">
                    <div class="box-header with-border">
                        @Html.Hidden("PlanTargetActionID")
                        <div class="box-title">
                            <div class="list-group" style="padding-right: 20px;">
                                <a href="javascript:void(0)" class="list-group-item active">
                                    <strong>
                                        <span id="actionCode">Tất cả</span>
                                    </strong>
                                    <p class="list-group-item-text text-sm" id="actionName">
                                    </p>
                                </a>
                            </div>
                        </div>                        
                        <div class="box-tools">
                            <button class="btn btn-box-tool" type="button" onclick="loadActionByTarget()"><i class="fa fa-bars"></i></button>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="row" id="ListExpense">
                            @Html.Partial("_ListExpenseView", (PlanTargetModel)ViewData["planTarget"])
                        </div>
                        @if (entity.Status >= Constants.PLAN_NEXT_LEVER)
                        {
                            <br />
                            <div class="row">
                                @Html.Partial("../Comment/_ListCommentView", ViewData)
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>