﻿@using IInterface.Models
@using IInterface.Common
@model SettleInfoModel
@{
    List<SelectListItem> listPeriod = ViewData["listPeriod"] as List<SelectListItem>;
    List<SelectListItem> listYear = ViewData["listYear"] as List<SelectListItem>;
    List<SelectListItem> listQuarter = ViewData["listQuarter"] as List<SelectListItem>;
    int isReview = (ViewData["isReview"] as int?).GetValueOrDefault();
}
@using (Ajax.BeginForm("SaveGeneralInfo", "SettleSynthesis", new AjaxOptions
{
    HttpMethod = "post",
    OnBegin = "onBegin",
    OnSuccess = "onSuccess",
    OnFailure = "onFail"
}, new { id = "frmGeneralInfo", @class = "form-horizontal" }))
{
    <div class="row">
        <div class="col-lg-12">
            <div class="box">
                <div class="box-header with-border text-center">
                    @if (Model.Quarter != null && Model.Quarter > 0)
                    {
                        <h4 class="box-title">BẢNG TỔNG HỢP QUYẾT TOÁN QUÝ @Utils.ToRoman(Model.Quarter.Value) / @Model.Year</h4>
                    }
                    @*<div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>*@
                </div>
                <div class="box-body">
                    <div class="form-horizontal">
                        <div class="row">
                            @Html.HiddenFor(x => x.SettleSynthesisID)
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.HiddenFor(x => x.PeriodID)
                                    @Html.Label("Giai đoạn:", new { @class = "control-label col-md-4" })
                                    <div class="col-md-8 control-label strong-left">
                                        @Model.PlanName
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    @Html.HiddenFor(x => x.Year)
                                    @Html.Label("Năm:", new { @class = "control-label col-md-3" })
                                    <div class="col-md-9 control-label strong-left">
                                        @Model.Year
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    @Html.HiddenFor(x => x.Quarter)
                                    @Html.Label("Quý:", new { @class = "control-label col-md-3" })
                                    <div class="col-md-9 control-label strong-left">
                                        @Model.Quarter
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                        </div>
                    </div>
                </div>
                <div class="box-footer">
                    <div class="row">
                        <div class="col-md-12 text-right">
                            @if (isReview == 0)
                            {
                                <a class="btn btn-default" href="@Url.Action("IndexDept", "SettleSynthesis")"><i class="fa fa-backward"></i> Quay lại</a>
                            }
                            else
                            {
                                <a class="btn btn-default" href="@Url.Action("IndexReview", "SettleSynthesis")"><i class="fa fa-backward"></i> Quay lại</a>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<div id="modal-AddOrEdit" class="modal fade" Period="dialog"></div>
<script>
    $(document).ready(function () {
        $(".ui-select2").select2();
        $("#PeriodID").change(function () {
            $.ajax({
                type: "POST",
                url: '@Url.Action("LoadYear", "SettleSynthesis")',
                data: { PeriodID: $("#PeriodID").val() },
                success: function (YearList) {
                    $("#Year").empty();
                    for (var i = 0; i < YearList.length; i++) {
                        if (YearList[i].Value != '0') {
                            $("#Year").append("<option value='" + YearList[i].Value + "'>" + YearList[i].Text + "</option>");
                        }
                    }
                },
                error: function (xhr) {
                    CommonJS.alert(xhr.responseText);
                }
            });
            loadDisb();
        });
    });
    function onBegin() {
        if ($("#frmGeneralInfo").valid()) {
            return true;
        } else {
            return false;
        }
    }
    function onSuccess(id) {
        $('#frmCreateOrEditExpense').submit();
    }

    function onFail(xhr) {
        CommonJS.alert(xhr.responseText);
    }
</script>
