﻿@using IInterface.Models
@using IInterface.Common
@model SubActionSpendItemModel
@{
    string parentid = Model.ParentID != null ? "subcost_" + Model.ParentID.Value :
       (Model.SubActionPlanID != null ? "subaction_" + Model.SubActionPlanID.Value : "targetaction_" + Model.PlanTargetActionID.Value);
    string sReadOnly = string.Empty;
    if ((Model.ListChild != null && Model.ListChild.Any())
        || (Model.ListSettleCost != null && Model.ListSettleCost.Any()))
    {
        sReadOnly = "readonly";
    }
    int isView = (ViewData["isView"] as int?).GetValueOrDefault();
}

<tr id="subcost_@Model.SubActionSpendItemID" parentid="@parentid">
    <td style="text-align:center; vertical-align: middle">
        @if (isView == 0)
        {
            <a onclick="openAddSpendItem('@Model.SubActionSpendItemID', '@Model.SpendItemName','subcost', 'subcost_@Model.SubActionSpendItemID')" href="javascript:void(0)">
                <span class="fa fa-plus-square"></span>
            </a>
        }
        @if (Model.ListChild != null && Model.ListChild.Any())
        {
            <b>@Model.SpendItemTitle</b>
        }
        else
        {
            <text>@Model.SpendItemTitle</text>
        }
    </td>
    <td style="vertical-align: middle">
        @if (Model.ListChild != null && Model.ListChild.Any())
        {
            <b>@Model.SpendItemName</b>
        }
        else
        {
            <text>@Model.SpendItemName</text>
        }
    </td>
    <td style="text-align: right; vertical-align: middle">
        @Utils.FormatMoney(Model.TotalPrice)
    </td>
    <td style="text-align: right; vertical-align: middle">
        @if (isView == 0)
            {
            <input type="hidden" name="Types" value="subcost" />
            <input type="hidden" name="IDs" value="@Model.SubActionSpendItemID" />
            <input type="hidden" name="SyncCostIDs" value="@Model.SettleSynthesisCostID" />
            <input type="text" @sReadOnly class="currency form-control text-right" name="ArrValue" onblur="sumMoney(this)" value="@Model.TotalSettleMoney" />
        }
        else
        {
            <text>@Utils.FormatMoney(Model.TotalSettleMoney)</text>
        }
    </td>
    <td>
        @if (isView == 0)
            {
            <textarea class="form-control" name="ArrDesc">@Model.SettleDescription</textarea>
        }
        else
        {
            <text>@Model.SettleDescription</text>
        }
    </td>
</tr>
@if (Model.ListChild != null && Model.ListChild.Any())
{
    foreach (SubActionSpendItemModel item in Model.ListChild)
    {
        @Html.Partial("_ListSubCost", item);
    }
}
@if (Model.ListSettleCost != null && Model.ListSettleCost.Any())
{
    foreach (SettleSynCostModel item in Model.ListSettleCost)
    {
        item.ParentPath = "subcost_" + Model.SubActionSpendItemID;
        @Html.Partial("_ListSettleCost", item);
    }
}