﻿@using IInterface.Common;
@using IInterface.Models;
@{
    List<PlanTargetActionModel> listAction = ViewData["listAction"] as List<PlanTargetActionModel>;
}
<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Lựa chọn hoạt động</h4>
        </div>
        <div class="modal-body">
            <table class="table no-margin">
                <thead>
                    <tr>
                        <th>Mã hoạt động</th>
                        <th>Tên hoạt động</th>
                    </tr>
                </thead>
                <tbody>
                    @if (listAction != null)
                    {
                        foreach (PlanTargetActionModel item in listAction)
                        {
                            <tr>
                                <td>
                                    @item.ActionCode
                                </td>
                                <td>
                                    <a href="javascript:void(0)" onclick="getAction(@item.PlanTargetActionID, '@item.ActionCode', '@item.ActionContent')" data-dismiss="modal">@item.ActionContent</a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>