﻿@using IInterface.Models
@using IInterface.Common
@model SubActionPlanModel
@{
    string parentid = Model.ParentID != null ? "subaction_" + Model.ParentID.Value : "targetaction_" + Model.PlanTargetActionID.GetValueOrDefault();
    string sReadOnly = string.Empty;
    if ((Model.ListChildSubActionPlan != null && Model.ListChildSubActionPlan.Any())
        || (Model.ListSubActionSpendItem != null && Model.ListSubActionSpendItem.Any()))
    {
        sReadOnly = "readonly";
    }
    int isView = (ViewData["isView"] as int?).GetValueOrDefault();
}

<tr id="subaction_@Model.SubActionPlanID" parentid="@parentid">
    @if (Model.ListChildSubActionPlan == null || Model.ListChildSubActionPlan.Count == 0)
    {
        <td style="text-align:center; vertical-align: middle">
            @if (isView == 0)
            {
                <a onclick="openAddSpendItem('@Model.SubActionPlanID', '@Model.SubActionContent','subaction', 'subaction_@Model.SubActionPlanID')" href="javascript:void(0)">
                    <span class="fa fa-plus-square"></span>
                </a>
            }
            @Model.SubActionCode
        </td>
    }
    else
    {
        <td style="text-align:center; vertical-align: middle">
            @Model.SubActionCode
        </td>
    }

    <td style="vertical-align: middle">
        @Model.SubActionContent
    </td>
    <td style="text-align: right;vertical-align: middle">
        @Utils.FormatMoney(Model.TotalBudget)
    </td>
    <td style="text-align: right; vertical-align: middle">
        @if (isView == 0)
        {
            <input type="hidden" name="Types" value="subaction" />
            <input type="hidden" name="IDs" value="@Model.SubActionPlanID" />
            <input type="hidden" name="SyncCostIDs" value="@Model.SettleSynthesisCostID" />
            <input type="text" @sReadOnly class="currency form-control text-right" name="ArrValue" onblur="sumMoney(this)" value="@Model.TotalSettleMoney" />
        }
        else
        {
            <text>@Utils.FormatMoney(Model.TotalSettleMoney)</text>
        }
    </td>
    <td style="vertical-align: middle">
        @if (isView == 0)
        {
            <textarea class="form-control" name="ArrDesc">@Model.SettleDescription</textarea>
        }
        else
        {
            <text>@Model.SettleDescription</text>
        }
    </td>
</tr>
@if (Model.ListChildSubActionPlan != null && Model.ListChildSubActionPlan.Any())
{
    foreach (SubActionPlanModel item in Model.ListChildSubActionPlan)
    {
        @Html.Partial("_ListSubAction", item);
    }
}
else
{
    if (Model.ListSubActionSpendItem != null && Model.ListSubActionSpendItem.Any())
    {
        foreach (SubActionSpendItemModel item in Model.ListSubActionSpendItem)
        {
            @Html.Partial("_ListSubCost", item);
        }
    }
    if (Model.ListSettleCost != null && Model.ListSettleCost.Any())
    {
        foreach (SettleSynCostModel item in Model.ListSettleCost)
        {
            item.ParentPath = "subaction_" + Model.SubActionPlanID;
            @Html.Partial("_ListSettleCost", item);
        }
    }
}