﻿@using IInterface.Models
@using IInterface.Common
@model SettleSynCostModel
@{
    string parentid = Model.ParentPath;
    int isView = (ViewData["isView"] as int?).GetValueOrDefault();
}
<tr id="settlecost_@Model.SettleSynthesisCostID" parentid="@parentid">
    <td style="text-align:center">
        @if (isView == 0)
        {
            <a onclick="openAddSpendItem('@Model.SettleSynthesisCostID', '@Model.ActionTitle','settlecost', '@parentid')" href="javascript:void(0)">
                <span class="fa fa-plus-square"></span>
            </a>
            <a onclick="delSpendItem('@Model.SettleSynthesisCostID')" href="javascript:void(0)">
                <span class="fa fa-trash-o text-danger"></span>
            </a>
        }
        @if (Model.ListChildCost != null && Model.ListChildCost.Any())
        {
            <b>@Model.ActionCode</b>
        }
        else
        {
            <text>@Model.ActionCode</text>
        }
    </td>
    <td>
        @if (Model.ListChildCost != null && Model.ListChildCost.Any())
        {
            <b>@Model.ActionTitle</b>
        }
        else
        {
            <text>@Model.ActionTitle</text>
        }
    </td>
    <td style="text-align: right">
        @Model.PlanSetttleMoney
    </td>
    <td style="text-align: right">
        @if (isView == 0)
        {
            <input type="hidden" name="Types" value="settlecost" />
            <input type="hidden" name="IDs" value="0" />
            <input type="hidden" name="SyncCostIDs" value="@Model.SettleSynthesisCostID" />
            <input type="text" class="currency form-control text-right" onblur="sumMoney(this)" name="ArrValue" value="@Model.SetttleMoney" />
        }
        else
        {
            <text>@Utils.FormatMoney(Model.SetttleMoney)</text>
        }
    </td>
    <td>
        @if (isView == 0)
        {
            <textarea class="form-control" name="ArrDesc">@Model.Description</textarea>
        }
        else
        {
            <text>@Model.Description</text>
        }
    </td>
</tr>
@if (Model.ListChildCost != null && Model.ListChildCost.Any())
{
    foreach (SettleSynCostModel item in Model.ListChildCost)
    {
        item.ParentPath = "settlecost_" + Model.SettleSynthesisCostID;
        @Html.Partial("_ListSettleCost", item);
    }
}