﻿@using IInterface.Models
@using IInterface.Common
@model PlanTargetModel
<div class="col-md-12">
    <table class="table table-bordered table-responsive" id="tableData">
        <thead>
            <tr class="bg-info text-white">
                <th style="width: 10%; text-align: center; vertical-align: middle">Mã HĐ</th>
                <th style="width: 30%; text-align: center; vertical-align: middle">Nội dung chi</th>
                <th style="width: 15%; text-align: center; vertical-align: middle">Số tiền dự toán</th>
                <th style="width: 15%; text-align: center; vertical-align: middle">Số tiền quyết toán</th>
                <th style="width: 30%; text-align: center; vertical-align: middle">Chứng từ kèm theo</th>
            </tr>
        </thead>
        <tbody>
            <tr style="background-color:gold" id="target_@Model.PlanTargetID" parentid="">
                @if (Model.CostUpdateUserID == null || Model.CostUpdateType.GetValueOrDefault() == Constants.UPDATE_TYPE_TAO
|| Model.TotalSettleMoney.GetValueOrDefault() == Model.TotalSettleMoneyChange.GetValueOrDefault()
|| Model.CostUpdateType.GetValueOrDefault() == Constants.UPDATE_TYPE_TAO)
                {
                    <td style="text-align: center; vertical-align: middle"><b>@Model.TargetCode</b></td>
                }
                else
                {
                    <td><span class="btn-primary">@Model.TargetCode</span></td>
                }
                @if (Model.CostUpdateUserID == null || Model.CostUpdateType.GetValueOrDefault() == Constants.UPDATE_TYPE_TAO
|| Model.TotalSettleMoney.GetValueOrDefault() == Model.TotalSettleMoneyChange.GetValueOrDefault()
|| Model.CostUpdateType.GetValueOrDefault() == Constants.UPDATE_TYPE_TAO)
                {
                    <td style="vertical-align: middle">
                        <b>
                            @Model.PlanTargetContent
                        </b>
                    </td>
                }
                else
                {
                    <td><span class="btn-primary">@Model.PlanTargetContent</span></td>
                }
                <td style="text-align: right; vertical-align: middle">
                    @Utils.FormatMoney(Model.TotalBudget)
                </td>
                <td style="text-align: right; vertical-align: middle">
                    @Utils.FormatMoney(Model.TotalSettleMoney)
                </td>
                <td style="vertical-align: middle">
                    @Model.SettleDescription
                </td>
            </tr>
            @foreach (PlanTargetActionModel action in Model.ListPlanTargetActionModel)
            {
                @Html.Partial("_ListPlanTargetAction", action);
            }
        </tbody>
    </table>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#tableData_@Model.PlanTargetID").freezeHeader();
    });
</script>