﻿@using IInterface.Models;
@using IInterface.Common;
@model PlanTargetActionModel
@{
    string parentID = "target_" + Model.PlanTargetID;
    string sReadOnly = string.Empty;
    if ((Model.ListSubActionPlan != null && Model.ListSubActionPlan.Any())
        || (Model.ListSubActionSpendItem != null && Model.ListSubActionSpendItem.Any())
        || (Model.ListSettleCost != null && Model.ListSettleCost.Any()))
    {
        sReadOnly = "readonly";
    }
    int isView = (ViewData["isView"] as int?).GetValueOrDefault();
}

<tr id="targetaction_@Model.PlanTargetActionID" parentid="@parentID" class="success">
    @if (Model.ListSubActionPlan == null || Model.ListSubActionPlan.Count == 0)
    {
        <td style="text-align:center; vertical-align: middle">
            @if (isView == 0)
            {
                @*<a onclick="openAddSpendItem('@Model.PlanTargetActionID', '@Model.ActionContent','targetaction', 'targetaction_@Model.PlanTargetActionID')" href="javascript:void(0)">
                    <span class="fa fa-plus-square"></span>
                </a>*@
            }
            <b>@Model.ActionCode</b>
        </td>
    }
    else
    {
        <td style="text-align:center; vertical-align: middle">
            <b> @Model.ActionCode </b>
        </td>
    }
    <td style="vertical-align: middle">
        <b>@Model.ActionContent</b>
    </td>
    <td style="text-align: right; vertical-align: middle">
        @Utils.FormatMoney(Model.TotalBudget)
    </td>
    <td style="text-align: right; vertical-align: middle">
        @if (isView == 0)
        {
            <input type="hidden" name="Types" value="targetaction" />
            <input type="hidden" name="IDs" value="@Model.PlanTargetActionID" />
            <input type="hidden" name="SyncCostIDs" value="@Model.SettleSynthesisCostID" />
            <input type="text" @sReadOnly class="currency form-control text-right" name="ArrValue" onblur="sumMoney(this)" parentid="@parentID" value="@Model.TotalSettleMoney" />
        }
        else
        {
            <text>@Utils.FormatMoney(Model.TotalSettleMoney)</text>
        }
    </td>
    <td style="vertical-align: middle">
        @if (isView == 0)
        {
            <textarea class="form-control" name="ArrDesc">@Model.SettleDescription</textarea>
        }
        else
        {
            <text>@Model.SettleDescription</text>
        }
    </td>
</tr>
@if (Model.ListSubActionPlan != null && Model.ListSubActionPlan.Any())
{
    foreach (SubActionPlanModel item in Model.ListSubActionPlan)
    {
        @Html.Partial("_ListSubAction", item);
    }
}
else
{
    if (Model.ListSubActionSpendItem != null && Model.ListSubActionSpendItem.Any())
    {
        foreach (SubActionSpendItemModel item in Model.ListSubActionSpendItem)
        {
            @Html.Partial("_ListSubCost", item);
        }
    }
    if (Model.ListSettleCost != null && Model.ListSettleCost.Any())
    {
        foreach (SettleSynCostModel item in Model.ListSettleCost)
        {
            item.ParentPath = "targetaction_" + Model.PlanTargetActionID;
            @Html.Partial("_ListSettleCost", item);
        }
    }
}