﻿@using IInterface.Models
@using IInterface.Common
@using IModel
@model PlanTargetModel
@{
    string sReadOnly = string.Empty;
    if (Model.ListPlanTargetActionModel != null && Model.ListPlanTargetActionModel.Any())
    {
        sReadOnly = "readonly";
    }
    SettleSynthesis entity = ViewData["settleReport"] as SettleSynthesis;
}
@using (Ajax.BeginForm("Save", "SettleSynthesis", new AjaxOptions()
{
    HttpMethod = "post",
    OnBegin = "disableSave",
    OnSuccess = "onSuccess",
    OnFailure = "onFail"
}, new { id = "frmCreateOrEditExpense" }))
{
    @Html.AntiForgeryToken()
    <div class="col-md-12">
        @Html.Hidden("SettleSynthesisID", entity.SettleSynthesisID)
        @Html.Hidden("PlanTargetID", Model.PlanTargetID)
        <table class="table table-bordered table-responsive" id="tableData_@Model.PlanTargetID">
            <thead>
                <tr class="bg-info text-white">
                    <th style="width: 10%; text-align: center; vertical-align: middle">Mã HĐ</th>
                    <th style="width: 30%; text-align: center; vertical-align: middle">Nội dung chi</th>
                    <th style="width: 15%; text-align: center; vertical-align: middle">Số tiền dự toán</th>
                    <th style="width: 15%; text-align: center; vertical-align: middle">Số tiền quyết toán</th>
                    <th style="width: 30%; text-align: center; vertical-align: middle">Chứng từ kèm theo</th>
                </tr>
            </thead>
            <tbody>
                <tr style="background-color:gold" id="target_@Model.PlanTargetID" parentid="">
                    @if (Model.CostUpdateUserID == null || Model.CostUpdateType.GetValueOrDefault() == Constants.UPDATE_TYPE_TAO
|| Model.TotalSettleMoney.GetValueOrDefault() == Model.TotalSettleMoneyChange.GetValueOrDefault()
|| Model.CostUpdateType.GetValueOrDefault() == Constants.UPDATE_TYPE_TAO)
                    {
                        <td style="text-align: center; vertical-align: middle"><b>@Model.TargetCode</b></td>
                    }
                    else
                    {
                        <td><span class="btn-primary">@Model.TargetCode</span></td>
                    }
                    @if (Model.CostUpdateUserID == null || Model.CostUpdateType.GetValueOrDefault() == Constants.UPDATE_TYPE_TAO
|| Model.TotalSettleMoney.GetValueOrDefault() == Model.TotalSettleMoneyChange.GetValueOrDefault()
|| Model.CostUpdateType.GetValueOrDefault() == Constants.UPDATE_TYPE_TAO)
                    {
                        <td style="vertical-align: middle">
                            <b>
                                @Model.PlanTargetContent
                            </b>
                        </td>
                    }
                    else
                    {
                        <td><span class="btn-primary">@Model.PlanTargetContent</span></td>
                    }
                    <td style="text-align: right; vertical-align: middle">
                        @Utils.FormatMoney(Model.TotalBudget)
                    </td>
                    <td style="text-align: right; vertical-align: middle">
                        <input type="hidden" name="Types" value="target" />
                        <input type="hidden" name="IDs" value="@Model.PlanTargetID" />
                        <input type="hidden" name="SyncCostIDs" value="@Model.SettleSynthesisCostID" />
                        <input type="text" @sReadOnly class="currency form-control text-right" name="ArrValue" onblur="sumMoney(this)" id="target_@Model.PlanTargetID" parentid="" value="@Model.TotalSettleMoney" />
                    </td>
                    <td style="text-align: right; vertical-align: middle">
                        <textarea name="ArrDesc" class="form-control">@Model.SettleDescription</textarea>
                    </td>
                </tr>
                @foreach (PlanTargetActionModel action in Model.ListPlanTargetActionModel)
                {
                    @Html.Partial("_ListPlanTargetAction", action);
                }
            </tbody>
        </table>
    </div>
    <div class="col-md-12 text-right">
        <button class="btn btn-success" id="btnSubmit" type="submit"> <i class="fa fa-floppy-o"></i> Lưu lại</button>
    </div>
}
<script type="text/javascript">
    $(document).ready(function () {
        $("#tableData_@Model.PlanTargetID").freezeHeader();
        $("#tableData_@Model.PlanTargetID").find('.currency').each(function () {
            var val = getVal($(this));
            setVal($(this), format(val));
        });
    });

    function disableSave() {
        $(this).find('#btnSubmit').attr('disabled', 'disabled');
    }

    function delExpense(synCostID) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("DelExpenseByAction", "SettleSynthesis")',
            data: {
                'synCostID': synCostID
            },
            success: function (data) {
                CommonJS.alert(data);
                loadExpenseByAction(true);
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }
    $(function () {
        $(".currency").keyup(function (e) {
            $(this).val(format($(this).val()));
        });
        $('.currency').keypress(function (event) {
            if (event.keyCode != 46 && event.which != 46 && event.which != 8 && isNaN(String.fromCharCode(event.which))) {
                event.preventDefault();
            }
        });
    });
</script>
