﻿@using IInterface.Models
@using IInterface.Common
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model SettleInfoModel
@{
    UserInfo user = SessionManager.GetUserInfo();
    List<PlanTargetModel> lstTarget = ViewData["listTarget"] as List<PlanTargetModel>;
    bool? isView = ViewData["isView"] as bool?;
    int planTargetID = 0;
    bool isReview = user.DepartmentID != Model.DeptID;
}
<script type="text/javascript" src="~/Scripts/jquery.freezeheader.js"></script>
<div class="row">
    <div class="col-md-12">
        @if (isView.GetValueOrDefault())
        {
            @Html.Hidden("isView", 1)
            @Html.Partial("_GeneralView", Model, ViewData)
        }
        else
        {
            @Html.Hidden("isView", 0)
            if (isReview)
            {
                @Html.Partial("_GeneralView", Model, ViewData)
            }
            else
            {
                @Html.Partial("_General", Model, ViewData)
            }
        }
    </div>
</div>
@if (Model != null && Model.SettleSynthesisID > 0 && lstTarget != null)
{
    PlanTargetModel targetFirst = lstTarget.FirstOrDefault();
    planTargetID = targetFirst != null ? targetFirst.PlanTargetID : 0;
    <div class="row">
        <div class="col-md-12">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    @for (int i = 0; i < lstTarget.Count; i++)
                {
                    PlanTargetModel target = lstTarget[i];
                    string tabId = "#tab" + target.PlanTargetID;
                    if (i == 0)
                    {
                            <li class="active">
                                <a data-toggle="tab" href="@tabId" onclick="loadExpenInfo(@target.PlanTargetID)">
                                    @target.PlanTargetTitle
                                </a>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a data-toggle="tab" href="@tabId" onclick="loadExpenInfo(@target.PlanTargetID)">
                                    @target.PlanTargetTitle
                                </a>
                            </li>
                        }
                    }
                </ul>
                <div class="tab-content">
                    @Html.Hidden("TargetChoice")
                    @for (int i = 0; i < lstTarget.Count; i++)
                {
                    PlanTargetModel target = lstTarget[i];
                    string tabId = "tab" + target.PlanTargetID;
                    if (i == 0)
                    {
                            <div id="@tabId" class="tab-pane fade active in"></div>
                        }
                        else
                        {
                            <div id="@tabId" class="tab-pane fade"></div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" id="DisbView">
        </div>
    </div>
    <div id="modal-action" class="modal fade" role="dialog">
    </div>
    if (!isView.GetValueOrDefault())
    {
        <div id="modalSpendItem" class="modal fade" role="dialog">
            @Html.Partial("_AddSpendItem")
        </div>
    }
    if (!isView.GetValueOrDefault())
    {
        <div id="modal-disb" class="modal fade" role="dialog">
        </div>
    }
}
else
{
    <div class="row">
        <div class="col-md-12" id="DisbView">
        </div>
    </div>
}
<script type="text/javascript">
    $(document).ready(function () {
        var periodID = $("#PeriodID").val();
        if(periodID == undefined || periodID == ''){
            CommonJS.alert("Chưa có kế hoạch nào của đơn vị được phê duyệt", false);
        } else {
            var planTargetID = @planTargetID;
            if(planTargetID > 0){
                loadExpenInfo(planTargetID);
            }
            loadDisb();
        }
    });

    function loadExpenInfo(planTargetID) {
        var isView = $('#isView').val();
        var synId = $('#frmGeneralInfo #SettleSynthesisID').val();
        if (synId == '') {
            CommonJS.alert("Bạn phải nhập thông tin chung của báo cáo quyết toán trước", false);
            return;
        }
        $('#TargetChoice').val(planTargetID);
        $.ajax({
            type: "POST",
            url: '@Url.Action("LoadExpenseInfo", "SettleSynthesis")',
            data: { "synID": synId, "planTargetID": planTargetID, "isView" : isView },
            success: function (data) {
                $('#tab' + planTargetID).html(data);
                $('#tab' + planTargetID).find('.currency').each(function () {
                    var val = getVal($(this));
                    setVal($(this), format(val));
                });
                $('#tab' + planTargetID).find('textarea').each(function () {
                    formatArea(this);
                    $(this).attr("onkeyup", "textAreaAdjust(this)")
                });
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }
    function getAction(id, code, name){
        var targetID = $('#TargetChoice').val();
        $('#tab' + targetID +' #actionName').html('');
        $('#tab' + targetID +' #PlanTargetActionID').val(id);
        $('#tab' + targetID +' #actionCode').html(code);
        if(id > 0){
            $('#tab' + targetID +' #actionName').html(name);
        }
        loadExpenseByAction(true);
    }

    function loadDisb(){
        var synID = $('#frmGeneralInfo #SettleSynthesisID').val();
        $.ajax({
            type: "POST",
            url: '@Url.Action("LoadDisb", "FinancialReport")',
            data: {
                'periodID': $("#PeriodID").val(),
                'reportID': synID,
                'type': '@Constants.REPORT_TYPE_SETTLE'
            },
            success: function (data) {
                $("#DisbView").html(data);
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }

    function loadActionByTarget() {
        var synID = $('#frmGeneralInfo #SettleSynthesisID').val();
        var planTargetID = $('#TargetChoice').val();
        $.ajax({
            type: "POST",
            url: '@Url.Action("LoadActionByTarget", "SettleSynthesis")',
            data: {
                'planTargetID': planTargetID,
                'synID': synID
            },
            success: function (data) {
                $("#modal-action").html(data);
                $("#modal-action").modal("show");
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }

    function loadExpenseByAction(loadFromCombo, id) {
        var synId = $('#frmGeneralInfo #SettleSynthesisID').val();
        var planTargetID = $('#TargetChoice').val();
        var actionId = loadFromCombo ? $('#tab' + planTargetID +' #PlanTargetActionID').val() : id;
        var isView = $('#isView').val();
        if(actionId == ''){
            actionId = 0;
        }
        $.ajax({
            type: "POST",
            url: '@Url.Action("LoadCostByAction", "SettleSynthesis")',
            data: { "planTargetActionID": actionId, "planTargetID": $('#TargetChoice').val(), "synID": synId, "isView" : isView },
            success: function (data) {
                $('#tab' + planTargetID +' #ListExpense').html(data);
                $('#tab' + planTargetID +' #ListExpense').find('.currency').each(function () {
                    var val = getVal($(this));
                    setVal($(this), format(val));
                });
                $('#tab' + planTargetID).find('textarea').each(function () {
                    formatArea(this);
                    $(this).attr("onkeyup", "textAreaAdjust(this)")
                });
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }

    function sumMoney(item) {
        var tr = $(item).closest("tr");
        var targetID = $('#TargetChoice').val();
        var parid = tr.attr('parentid');
        if (parid != "") {
            var sum = 0;
            $('#tab' + targetID +' #ListExpense table tr[parentid="' + parid + '"]').each(function () {
                var val = $(this).find('input[name="ArrValue"]:first').val();
                val = val.replace(/\,/g, "");;
                var money = val.trim() != "" ? parseFloat(val) : 0;
                sum += money;
            });
            var trparentid = '#tab' + targetID +' #ListExpense #' + parid;
            var inppar = $(trparentid).find('input[name="ArrValue"]:first');
            if (sum > 0) {
                inppar.val(format(sum));
            } else {
                inppar.val('');
            }
            sumMoney(inppar);
        }
    }

    function removeSpend(tr){
        var targetID = $('#TargetChoice').val();
        var id = tr.attr('id');
        $('#tab' + targetID + ' #ListExpense table tr[parentid="' + id + '"]').each(function () {
            removeSpend($(this));
        });
        tr.remove();
    }

    function delSpendItem(id) {
        if (!confirm("Bạn có chắc chắn muốn xóa mục chi này không?")) {
            return;
        }
        var targetID = $('#TargetChoice').val();
        $.ajax({
            type: "POST",
            url: '@Url.Action("DelSpendItem", "SettleSynthesis")',
            data: { "id": id },
            success: function (data) {
                var tr = $('#tab' + targetID + ' #settlecost_' + id);
                tr.find('input[name="ArrValue"]').each(function () {
                    $(this).val(0);
                    sumMoney($(this));
                });                
                removeSpend(tr);
                $('#tab' + targetID + ' #frmCreateOrEditExpense').submit();
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }

    function openAddSpendItem(id, name, type, idpar){
        $("#modalSpendItem").modal("show");
        var targetID = $('#TargetChoice').val();
        $("#modalSpendItem #synID").val($('#frmGeneralInfo #SettleSynthesisID').val());
        $("#modalSpendItem #id").val(id);
        $("#modalSpendItem #type").val(type);
        $("#modalSpendItem #idpar").val(idpar);
        $("#modalSpendItem #titleSpend").html("Hạng mục chi: " + name);
        $("#modalSpendItem #tblSpendItem tbody").empty();
    }

    var format = function (num) {
        var str = num.toString().replace("$", ""), parts = false, output = [], i = 1, formatted = null;
        if (str.indexOf(".") > 0) {
            parts = str.split(".");
            str = parts[0];
        }
        str = str.split("").reverse();
        for (var j = 0, len = str.length; j < len; j++) {
            if (str[j] != ",") {
                output.push(str[j]);
                if (i % 3 == 0 && j < (len - 1)) {
                    output.push(",");
                }
                i++;
            }
        }
        formatted = output.reverse().join("");
        return (formatted + ((parts) ? "." + parts[1].substr(0, 2) : ""));
    };

    function getVal(item){
        if($(item).is("input")){
            return $(item).val();
        } else {
            return $(item).html();
        }
    }

    function setVal(item, val){
        if($(item).is("input")){
            $(item).val(val);
        } else {
            return $(item).html(val);
        }
    }
</script>