﻿@using IInterface.Common
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    List<SelectListItem> listPeriod = ViewData["listPeriod"] as List<SelectListItem>;
    List<SelectListItem> listYear = ViewData["listYear"] as List<SelectListItem>;
    List<SelectListItem> listDept = ViewData["listDept"] as List<SelectListItem>;
    List<SelectListItem> listStatus = ViewData["listStatus"] as List<SelectListItem>;
    List<SelectListItem> listQuarter = ViewData["listQuarter"] as List<SelectListItem>;
}
<div class="row">
    <div class="col-lg-12">
        <div class="box">
            <div class="box-header with-border">
                <i class="fa fa-search"></i>
                <h4 class="box-title">Thông tin tra cứu</h4>
            </div>
            <div class="box-body">
                @using (Ajax.BeginForm("Search", "SettleSynthesis", new AjaxOptions
                {
                    HttpMethod = "get",
                    UpdateTargetId = "divGridResultSettle"
                }, new { id = "frmSearch", @class = "form-horizontal" }))
                {
                    <div class="form-horizontal">
                        <div class="form-group">
                            @Html.Label("Đơn vị", new { @class = "control-label col-md-1" })
                            <div class="col-md-5">
                                @Html.DropDownList("DeptID", listDept, new { @class = "form-control" })
                            </div>
                            @Html.Label("Trạng thái", new { @class = "control-label col-md-1" })
                            <div class="col-md-5">
                                @Html.DropDownList("Status", listStatus, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.Hidden("IsReview", Constants.IS_ACTIVE)
                            @Html.Label("Giai đoạn", new { @class = "control-label col-md-1" })
                            <div class="col-md-5">
                                @Html.DropDownList("PeriodID", listPeriod, new { @class = "form-control" })
                            </div>
                            @Html.Label("Năm", new { @class = "control-label col-md-1" })
                            <div class="col-md-2">
                                @Html.DropDownList("Year", listYear, new { @class = "form-control" })
                            </div>
                            @Html.Label("Quý", new { @class = "control-label col-md-1" })
                            <div class="col-md-2">
                                @Html.DropDownList("Quarter", listQuarter, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12 text-center">
                                <button class="btn btn-primary" type="submit"> <i class="fa fa-search"></i> Tìm kiếm</button>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="box box-info">
            <div class="box-header with-border">
                <h4 class="box-title">Danh sách báo cáo quyết toán</h4>
            </div>
            <div class="box-body">
                <br />
                <div class="row">
                    <div class="col-lg-12" id="divGridResultSettle">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="modal-his" class="modal fade" role="dialog"></div>
<script>
    $(document).ready(function () {
        $("select").select2();
        $("#PeriodID").change(function () {
            $.ajax({
                type: "POST",
                url: '@Url.Action("LoadYear", "SettleSynthesis")',
                data: { PeriodID: $("#PeriodID").val() },
                success: function (YearList) {
                    $("#Year").empty();
                    for (var i = 0; i < YearList.length; i++) {
                        $("#Year").append("<option value='" + YearList[i].Value + "'>" + YearList[i].Text + "</Year>");
                    }
                },
                error: function (xhr) {
                    CommonJS.alert(xhr.responseText);
                }
            });
        });
        Search();
    });
    function Search() {
        $("#frmSearch").submit();
    }
</script>
