﻿@using IInterface.Common;
@using IInterface.Models;
@{
    Paginate<PeriodDeptModel> paginate = ViewData["listSummaryPlan"] as Paginate<PeriodDeptModel>;
    var grid = new WebGrid(rowsPerPage: paginate.PageSize,
                          canPage: true,
                          canSort: false,
                          ajaxUpdateContainerId: "divGrid"
                          );

    grid.Bind(paginate.List,
    autoSortAndPage: false,
    rowCount: paginate.Count);
    grid.Pager(WebGridPagerModes.All);
}
@{
    if (paginate.Count > 0)
    {
        var gridColumns = new List<WebGridColumn>();
        gridColumns.Add(grid.Column("PeriodName", "Giai đoạn"));
        gridColumns.Add(grid.Column("Status", "Trạng thái", format: @<text>
        @if (item.Status == Constants.PERIOD_NEW)
        {
            <span class="label label-primary">Dự thảo</span>
        }
        else if (item.Status == Constants.PERIOD_PLANNED)
        {
            <span class="label label-primary">Đã lập kế hoạch</span>
        }
        else if (item.Status == Constants.PERIOD_NEXT_LEVER)
        {
            <span class="label label-info">Chuyển tiếp</span>
        }
        else if (item.Status == Constants.PERIOD_APPROVED)
        {
            <span class="label label-success">Đã tổng hợp</span>
        }
        else
        {
            <span class="label label-default">Chưa lập kế hoạch</span>
        }
        </text>));
        gridColumns.Add(grid.Column("Từ ngày", format: (item) => string.Format("{0:MM/yyyy}", item.FromDate)));
        gridColumns.Add(grid.Column("Tới ngày", format: (item) => string.Format("{0:MM/yyyy}", item.ToDate)));
        gridColumns.Add(grid.Column("Description", "Mô tả"));
        gridColumns.Add(grid.Column(header: "", format: @<text>
            <div class="btn-group" role="group" aria-label="...">
                <a href='@Url.Action("Step", "PlanSummary", new { PeriodID = item.PeriodID })' class="btn btn-sm btn-warning" title="Tổng hợp"><i class="fa fa-recycle"></i> Tổng hợp</a>
                @if (item.PlanID != null && item.PlanID > 0)
                {
                    <a href='@Url.Action("PlanningInfo", "PeriodDepartment", new { PeriodID = item.PeriodID, PlanID = item.PlanID })' class="btn btn-sm btn-success" title="Điều chỉnh"><i class="fa fa-line-chart"></i> Điều chỉnh</a>
                    <a href='@Url.Action("Index", "SubActionPlanTime", new { planID = item.PlanID })' class="btn btn-sm btn-default" title="Dự toán"><i class="fa fa-clock-o"></i> Thời gian</a>
                    <a href='@Url.Action("Index", "CostEstimate", new { periodId = item.PeriodID })' class="btn btn-sm btn-default" title="Dự toán"><i class="fa fa-money"></i> Dự toán</a>
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-success btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-file-word-o"></i> Xuất báo cáo
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href='@Url.Action("ExportPLanPL01", "PlanHeadDocExport", new { planID = item.PlanID })' title="Xuất file PL01"><i class="fa fa-file-word-o"></i> Xuất PL01</a></li>
                            <li><a href='@Url.Action("ExportPlanActionReport", "ExportReport", new { planID = item.PlanID })' title="Xuất file PL02"><i class="fa fa-file-excel-o"></i> Xuất PL02</a></li>
                            <li><a href='@Url.Action("ExportCostReport", "CostEstimate", new { periodID = item.PeriodID })' title="Xuất file PL03"><i class="fa fa-file-excel-o"></i> Xuất PL03</a></li>
                        </ul>
                    </div>
                }
            </div>
        </text>));
        @grid.GetHtml(htmlAttributes: new { id = "divGrid" },
                                      fillEmptyRows: false,
                                      tableStyle: "table table-hover table-striped",
                                      footerStyle: "table-pager",
                                      alternatingRowStyle: "altRow",
                                      selectedRowStyle: "selectRow",
                                      mode: WebGridPagerModes.All,
                                      columns: gridColumns)
    }
    else
    {
        <div style="color:red; margin-left:10px;">
            Không có kỳ lập kế hoạch nào
        </div>
    }
}


