﻿@using IInterface.Models;
@using IInterface.Common.CommonBO;
@using IInterface.Common;

@if (Model != null)
{
    <ul class="list-group">
        @foreach (var SubAction in Model)
        {            
            <li class="list-group-item list-group-item-info">
                <i class="fa fa-tags"></i> <strong>@SubAction.SubActionContent</strong>
            </li>
            if (!string.IsNullOrWhiteSpace(SubAction.ContentPropaganda))
            {
                <li class="list-group-item">
                    <strong><i class="fa fa-bookmark-o"></i> NỘI DUNG TUYÊN TRUYỀN: </strong>
                    <br />
                    @Html.Raw(SubAction.ContentPropaganda)
                </li>
            }
            if (!string.IsNullOrWhiteSpace(SubAction.SubActionObject))
            {
                <li class="list-group-item">
                    <strong><i class="fa fa-bookmark-o"></i> ĐỐI TƯỢNG PHẠM VI: </strong>
                    <br />
                    @Html.Raw(SubAction.SubActionObject)
                </li>
            }
            if (!string.IsNullOrWhiteSpace(SubAction.SubActionMethod))
            {
                <li class="list-group-item">
                    <strong><i class="fa fa-bookmark-o"></i> PHƯƠNG THỨC THỰC HIỆN: </strong>
                    <br />
                    @Html.Raw(SubAction.SubActionMethod)
                </li>
            }
            if (!string.IsNullOrWhiteSpace(SubAction.Result))
            {
                <li class="list-group-item">
                    <strong><i class="fa fa-bookmark-o"></i> KẾT QUẢ DỰ KIẾN: </strong>
                    <br />
                    @Html.Raw(SubAction.Result)
                </li>
            }
            if (!string.IsNullOrWhiteSpace(SubAction.ActionTime))
            {
                <li class="list-group-item">
                    <strong><i class="fa fa-bookmark-o"></i> THỜI GIAN THỰC HIỆN: </strong>
                    <br />
                    @Html.Raw(SubAction.ActionTime)
                </li>
            }
        }
    </ul>
}
