﻿@using IInterface.Models;
@{

    List<TargetActionModel> TargetAction = ViewData["ListActions"] as List<TargetActionModel>;
    List<SubActionPlanModel> AllSubActions = ViewData["AllSubActions"] as List<SubActionPlanModel>;
    List<PlanActionIndexModel> AllSubIndexs = ViewData["AllSubIndexs"] as List<PlanActionIndexModel>;
}
<ul class="timeline timeline-inverse">
    @if (TargetAction != null && TargetAction.Count > 0)
    {
        foreach (TargetActionModel objTargetActionModel in TargetAction)
        {
            <li>
                <i class="fa"></i>
                <div class="box box-solid">
                    <div class="box-header with-border">
                        <i class="fa fa-tag"></i>
                        <strong>@Html.Raw(objTargetActionModel.ActionContent)</strong>
                        <div class="box-tools">
                            <button class="btn btn-box-tool" type="button" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="box-body">
                        <strong><i class="fa fa-bookmark-o"></i> NỘI DUNG TUYÊN TRUYỀN: </strong>
                        <br />
                        @Html.Raw(objTargetActionModel.ContentPropaganda)
                        <br />
                        <br />
                        <strong><i class="fa fa-bookmark-o"></i> ĐỐI TƯỢNG PHẠM VI: </strong>
                        <br />
                        @Html.Raw(objTargetActionModel.ObjectScope)
                        <br />
                        <br />
                        <strong><i class="fa fa-bookmark-o"></i> PHƯƠNG THỨC THỰC HIỆN: </strong>
                        <br />
                        @Html.Raw(objTargetActionModel.ActionMethod)
                        <br />
                        <br />
                        <strong><i class="fa fa-bookmark-o"></i> THỜI GIAN THỰC HIỆN: </strong>
                        <br />
                        @if (objTargetActionModel.ActionTimes != null)
                        {
                            <span>Từ ngày: @objTargetActionModel.ActionTimes</span>
                        }
                    </div>
                    <div class="box-footer with-border">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="col-md-12" id="listSubAction_@objTargetActionModel.PlanTargetActionID">
                                        @Html.Partial("_Step3SubActionView", AllSubActions.Where(a => a.PlanTargetActionID == objTargetActionModel.PlanTargetActionID).ToList())
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        }
    }
    <li>
        <i class="fa fa-clock-o bg-gray"></i>
    </li>
</ul>