﻿@model IInterface.Models.PlanModel

<div class="box">
    <div class="box-body">
        <div class="form-horizontal">
            <h4>I. THÔNG TIN VỀ CƠ QUAN, ĐƠN VỊ ĐỀ NGHỊ HỖ TRỢ</h4>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-md-3 control-label-st" for="formGroupInputLarge">1. Tên tổ chức</label>
                        <div class="col-md-9">
                            @Html.DisplayFor(x => x.DepartmentName, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-md-3 control-label-st" for="formGroupInputLarge">2. Địa chỉ</label>
                        <div class="col-md-9">
                            @Html.DisplayFor(x => x.Address, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-md-3 control-label-st" for="formGroupInputLarge">3.Tài khoản</label>
                        <div class="col-md-9">
                            @Html.DisplayFor(x => x.AccountNumber, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-md-3 control-label-st" for="formGroupInputLarge">Số điện thoại</label>
                        <div class="col-md-9">
                            @Html.DisplayFor(x => x.PhoneNumber, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-md-3 control-label-st" for="formGroupInputLarge">4.Người đại diện</label>
                        <div class="col-md-9">

                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-md-3 control-label-st" for="formGroupInputLarge"></label>
                        <div class="col-md-9">

                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-md-3 control-label-em" for="formGroupInputLarge">Họ và tên:</label>
                        <div class="col-md-9">
                            @Html.DisplayFor(x => x.RepresentPersonName, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-md-3 control-label-em" for="formGroupInputLarge">Chức vụ: </label>
                        <div class="col-md-9">
                            @Html.DisplayFor(x => x.RepresentPosition, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-md-3 control-label-em" for="formGroupInputLarge">Địa chỉ liên lạc :</label>
                        <div class="col-md-9">
                            @Html.DisplayFor(x => x.RepresentAddress, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-md-3 control-label-em" for="formGroupInputLarge">Điện thoại: </label>
                        <div class="col-md-9">
                            @Html.DisplayFor(x => x.RepresentPhone, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-md-3 control-label-st" for="formGroupInputLarge">5. Cán bộ đầu mối</label>
                        <div class="col-md-9">

                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-md-3 control-label-st" for="formGroupInputLarge"></label>
                        <div class="col-md-9">

                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-md-3 control-label-em" for="formGroupInputLarge">Họ và tên:</label>
                        <div class="col-md-9">
                            @Html.DisplayFor(x => x.ContactPersonName, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-md-3 control-label-em" for="formGroupInputLarge">Chức vụ: </label>
                        <div class="col-md-9">
                            @Html.DisplayFor(x => x.ContactPosition, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-md-3 control-label-em" for="formGroupInputLarge">Địa chỉ liên lạc :</label>
                        <div class="col-md-9">
                            @Html.DisplayFor(x => x.ContactAddress, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-md-3 control-label-em" for="formGroupInputLarge">Điện thoại: </label>
                        <div class="col-md-9">
                            @Html.DisplayFor(x => x.ContactPhone, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
            </div>
            <h4 class="legend-border">II.  NỘI DUNG HOẠT ĐỘNG</h4>
            <div class="row">
                <div class="col-md-12">
                    <label>1. Cơ sở đề xuất hoạt động</label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <div class="col-md-12">
                            @if (!string.IsNullOrWhiteSpace(Model.PlanContent))
                            {
                                @Html.Raw(Model.PlanContent.Replace("\r\n", "<br />"))
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <label> 2. Thời gian thực hiện:</label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.FromDate, new { @class = "control-label-em col-md-3" })
                        <div class="col-md-9">
                            @Html.DisplayFor(model => model.FromDate, "{0:dd/MM/yyyy}", new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.ToDate, new { @class = "control-label-em col-md-3" })
                        <div class="col-md-9">
                            @Html.DisplayFor(model => model.ToDate, "{0:dd/MM/yyyy}", new { @class = "form-control" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <label> 3: Mục tiêu chung:</label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    @if (!string.IsNullOrWhiteSpace(Model.PlanTarget))
                    {
                        @Html.Raw(Model.PlanTarget.Replace("\r\n", "<br />"))
                    }
                    @Html.HiddenFor(model => model.PlanID)
                    @Html.HiddenFor(model => model.PeriodID)
                    @Html.HiddenFor(model => model.DepartmentID)
                    @Html.HiddenFor(model => model.Type)
                    @Html.HiddenFor(model => model.Status)
                    @Html.HiddenFor(model => model.ParentPlanID)
                </div>
            </div>
        </div>
    </div>
</div>