﻿@using IInterface.Models;
@{
    List<PlanTargetModel> Targets = ViewData["ListTarget"] as List<PlanTargetModel>;
    List<TargetIndexModel> Indexs = ViewData["ListIndex"] as List<TargetIndexModel>;
    int TargetID = (ViewData["TargetID"] as int?).GetValueOrDefault();
    string targetTitle = string.Empty;
}
<div class="row">
    <div class="col-md-4">
        <div class="row">
            <div class="col-md-12" id="ListSubTarget">
                <div class="list-group">
                    @if (Targets != null && Targets.Any())
                    {
                        foreach (var objPlanTarget in Targets)
                        {
                            string activeClass = "list-group-item";
                            if (TargetID == objPlanTarget.TargetID)
                            {
                                activeClass = "list-group-item active";
                                targetTitle = objPlanTarget.PlanTargetTitle;
                            }
                            <a href="javascript:void(0)" onclick="SelectTarget(@objPlanTarget.TargetID)"
                               class="@activeClass" id="Target_@objPlanTarget.TargetID" name="target">
                                <strong>
                                    <i class="fa fa-folder-o"></i> <span id="titleOfTarget_@objPlanTarget.TargetID">@objPlanTarget.PlanTargetTitle </span>
                                </strong>
                                <p class="list-group-item-text text-sm">
                                    @objPlanTarget.PlanTargetContent
                                </p>
                            </a>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12" id="ListTargetIndex">
                @Html.Partial("_Step2Indexs")
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function SelectTarget(TargetID) {
        //Thay doi active li
        $("a[name='target']").removeClass("active");
        $('#Target_' + TargetID).addClass("active");
        $('#TargetID').val(TargetID);
        var PeriodID = $('#PeriodID').val();
        
        //Load Index
        $.ajax({
            type: "POST",
            url: '@Url.Action("Step1Indexs", "PlanSummary")',
            data: {
                'PeriodID': PeriodID,
                'TargetID': TargetID
            },
            success: function (data) {
                $('#ListTargetIndex').html(data);
                $('#TargetTitle').html($("#titleOfTarget_" + TargetID).html());
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
        //Load Action
    }
</script>