﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-lg-12">
        <div class="box box-solid">
            <div class="box-header">
                @using (Ajax.BeginForm("Search", "PlanSummary", new AjaxOptions
                {
                    HttpMethod = "get",
                    UpdateTargetId = "divGrid"
                }, new { id = "frmSearch" }))
                {
                    <div class="input-group with-border">
                        <input id="PeriodName" name="PeriodName" class="form-control" placeholder="Tên giai đoạn" type="text" />
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit"> <i class="fa fa-search"></i> Tìm kiếm</button>
                        </span>
                    </div>
                }
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-lg-12" id="divGrid">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="modal-Period" class="modal fade" Period="dialog"></div>
<script>
    $(document).ready(function () {
        searchPeriod();
    });
    function searchPeriod() {
        $("#frmSearch").submit();
    }
</script>
