﻿
@{
    ViewBag.Title = "Step";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IInterface.Models.PlanModel
@Html.HiddenFor(model => model.PlanID)
@Html.HiddenFor(model => model.PeriodID)
@Html.Hidden("TargetID", ViewData["firstTargetID"])
<div class="row">
    <div class="col-md-12">
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li id="liPlanInfor" class="active"><a href='@Url.Action("Step", "PlanSummary", new { PeriodID = Model.PeriodID })'><i class="fa fa-bar-chart"></i> 1. Thông tin chung</a></li>
                        <li id="liTargetIndex"><a href='javascript:void(0)' onclick="TargetIndex(@Model.PeriodID)"><i class="fa fa-dashboard"></i> 2. Mục tiêu chỉ số</a></li>
                        <li id="liTargetAction"><a href='javascript:void(0)' onclick="Action(@Model.PeriodID)"><i class="fa fa-recycle"></i> 3. Hoạt động</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <div class="btn-group btn-group-sm">
                                <button class="btn btn-success navbar-btn" onclick="SavePlan()"><i class="fa fa-recycle"></i> Tổng hợp</button>
                                <button class="btn btn-default navbar-btn" onclick="javascript:location.href= '@Url.Action("Index", "PlanSummary")'"><i class="fa fa-reply"></i> Quay lại</button>
                            </div>
                        </li>
                    </ul>
                </div>

            </div>
        </nav>
    </div>
    <div class="col-md-12" id="divPlanContent">
        @Html.Partial("_Step1View", Model)
    </div>
</div>
<script type="text/javascript">
    function SavePlan() {
        if (!confirm("Tổng hợp lại kế hoạch sẽ xóa toàn bộ dữ liệu của kế hoạch để tổng hợp mới. Bạn có chắc chắn muốn thực hiện?")) {
            return;
        }
        var PlanID = $('#PlanID').val();
        var MainTarget = $('#PlanTarget').val();
        var PeriodID = $('#PeriodID').val();
        $.ajax({
            type: "POST",
            url: '@Url.Action("PlanInforSave", "PlanSummary")',
            data: {
                'PlanID': PlanID,
                'Target': MainTarget,
                'PeriodID': PeriodID
            },
            success: function (data) {
                CommonJS.alert(data);
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }

    var CreateCost = function () {
        var PlanID = $('#PlanID').val();
        var PeriodID = $('#PeriodID').val();
        if (PlanID == null || PlanID == "") {
            CommonJS.alert("Kế hoạch chưa hoàn thành", false);
            return false;
        } else {
            location.href = '/CostEstimate/Index?periodID=' + PeriodID;
        }
    }

    //Muc tieu tieu chi
    function TargetIndex(PeriodID) {
        var TargetID = $('#TargetID').val();
        if (TargetID == '') {
            TargetID = '0';
        }
        $.ajax({
            type: "POST",
            url: '@Url.Action("Step1Target", "PlanSummary")',
            data: {
                'PeriodID': PeriodID,
                'TargetID': TargetID
            },
            success: function (data) {
                $('#divPlanContent').html(data);
                $('#liPlanInfor').removeClass("active")
                $('#liTargetIndex').addClass("active")
                $('#liTargetAction').removeClass("active")
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }
    //Hoat dong
    function Action(PeriodID) {
        var TargetID = $('#TargetID').val();
        if (!TargetID) {
            CommonJS.alert("Bạn chưa chọn mục tiêu", false);
            return;
        }
        $.ajax({
            type: "POST",
            url: '@Url.Action("Step2Action", "PlanSummary")',
            data: {
                'PeriodID': PeriodID,
                'TargetID': TargetID
            },
            success: function (data) {
                $('#divPlanContent').html(data);
                $('#liPlanInfor').removeClass("active")
                $('#liTargetIndex').removeClass("active")
                $('#liTargetAction').addClass("active")
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }
</script>

