﻿@using IInterface.Common;
@using IInterface.Common.CommonBO;
@using IInterface.Models;
@using IModel;

@{
    List<PlanTargetModel> lstSubTartget = ViewData["PlanTarget"] as List<PlanTargetModel>;
    if (lstSubTartget == null)
    {
        lstSubTartget = new List<PlanTargetModel>();
    }
    Plan plan = ViewData["Plan"] as Plan;
    Period period = ViewData["Period"] as Period;
    int rangeYear = (int)ViewData["RangeYear"];
    ObjectRoleBO role = ViewData["role"] as ObjectRoleBO;
    int startYear = period.FromDate != null ? period.FromDate.Year : 0;
    var starCol = 1;
    List<ChangeRequestActionModel> listChangeAction = ViewData["listChangeAction"] as List<ChangeRequestActionModel>;
}
<style>
    input[type=text]:focus {
        width: 250px;
        word-wrap: break-word;
        word-break: break-all;
        height: 80px;
        position: absolute;
    }
</style>

<div class="box-body">
    <div class="row">
        <div class="col-md-6">
            <button class="btn btn-default" type="button" onclick="window.history.back();"><i class="fa fa-reply"></i> Quay lại</button>
        </div>
        @if (role != null && role.Role >= Constants.ROLE_EDIT && (role.PL.GetValueOrDefault() == 0 || role.PL.GetValueOrDefault() == 2))
        {
            <div class="col-md-6">
                <button class="btn btn-success pull-right" type="button" onclick="onSaveActionPlanTime()"><i class="fa fa-floppy-o"></i> Lưu thông tin</button>
            </div>
        }
        else
        {
            listChangeAction = new List<ChangeRequestActionModel>();
        }
    </div>
    <br />
    <table class="table table-bordered" id="tableData">
        <!-- Table Header -->
        <thead>
            <tr class="bg-info text-white">

                <th rowspan="2" style="text-align:center;vertical-align:middle;width:6%">Mã hoạt động</th>
                <th rowspan="2" style="text-align:center;vertical-align:middle;width:25%">Nội dung hoạt động</th>
                @for (int year = 0; year <= rangeYear; year++)
                {
                    int viewYear = startYear + year;
                    <th colspan="4" style="text-align:center;vertical-align:middle;width:23%">Năm @viewYear.ToString()</th>
                }

                <th rowspan="2" style="text-align:center;vertical-align:middle;width:10%">Cơ quan thực hiện</th>
                <th rowspan="2" style="text-align:center;vertical-align:middle;width:10%">Cơ quan phối hợp</th>
                <th rowspan="2" style="text-align:center;vertical-align:middle;width:11%">Ghi chú</th>
            </tr>
            <tr class="bg-info text-white">
                @for (int year = 0; year < (rangeYear + 1) * 4; year++)
                {
                    <th style="text-align:center;vertical-align:middle;width:5%">Quý @starCol</th>
                    starCol = starCol + 1;
                    if (starCol > 4)
                    {
                        starCol = 1;
                    }
                }
            </tr>
        </thead>
        <!-- Table Header -->
        <tbody>

            @foreach (PlanTargetModel subTarget in lstSubTartget)
            {
                <tr class="success">
                    <td style="text-align:center">@subTarget.TargetCode</td>
                    <td>
                        <b>
                            @subTarget.PlanTargetContent
                        </b>
                    </td>
                    @for (int i = 0; i < (rangeYear + 1) * 4; i++)
                    {
                        <td></td>
                    }

                    <td></td>
                    <td></td>
                    <td></td>

                </tr>
                foreach (var planTargetAction in subTarget.ListPlanTargetActionModel)
                {
                    var markColor = "";
                    <tr>
                        <td style="text-align:center">
                            @planTargetAction.ActionCode
                        </td>

                        <td>
                            @planTargetAction.ActionContent
                        </td>
                        @foreach (var obj in planTargetAction.ListSubActionPlanTime)
                        {
                            if (planTargetAction.ListSubActionPlan.Count == 0)
                            {
                                var chkVal = obj.SubActionPlanTimeID + "_pta#" + obj.PlanTargetAcionID + "_" + obj.PlanTime;
                                if (listChangeAction != null && !listChangeAction.Any(x => x.ApproveStatus == Constants.IS_ACTIVE && x.PlanTargetActionID == planTargetAction.PlanTargetActionID))
                                {
                                    if (obj.PlanTime != null)
                                    {
                                        <td style="text-align:center"><a href="javascript:void(0)"><i class="fa fa-check-square-o text-success"></i></a></td>
                                    }
                                    else
                                    {
                                        <td style="text-align:center"></td>
                                    }
                                }
                                else
                                {
                                    if (obj.CreateUserID == obj.ModifierID)
                                    {

                                        if (obj.PlanTime != null)
                                        {
                                            <td style="text-align:center"> <input type="checkbox" id="planTimes" name="planTimes" value="@chkVal" checked /> </td>
                                        }
                                        else
                                        {
                                            <td style="text-align:center"> <input id="PlanTimes" name="planTimes" type="checkbox" value="@chkVal" /> </td>
                                        }
                                    }
                                    else
                                    {
                                        markColor = "";
                                        if (obj.PlanTime != null)
                                        {
                                            <td style="text-align:center; background-color:@markColor"> <input type="checkbox" id="planTimes" name="planTimes" value="@chkVal" checked /> </td>
                                        }
                                        else
                                        {
                                            <td style="text-align:center;background-color:@markColor"> <input id="PlanTimes" name="planTimes" type="checkbox" value="@chkVal" /> </td>
                                        }
                                    }
                                }
                            }
                            else
                            {
                                <td style="text-align:center">  </td>
                            }
                        }
                        @if (listChangeAction != null && !listChangeAction.Any(x => x.ApproveStatus == Constants.IS_ACTIVE && x.PlanTargetActionID == planTargetAction.PlanTargetActionID))
                        {
                            <td>
                                @planTargetAction.Exucuter
                            </td>
                            <td>@planTargetAction.Supporter</td>
                            <td>@planTargetAction.Note</td>
                        }
                        else
                        {
                            if (planTargetAction.ListSubActionPlan.Count == 0)
                            {
                                <td style="background-color:@markColor">
                                    <input type="text" class="form-control input-sm" name="Exucuters" id="Executer_@planTargetAction.PlanTargetActionID" value="@planTargetAction.Exucuter">

                                </td>
                                <td style="background-color:@markColor"><input type="text" class="form-control input-sm" name="Supporters" id="Supporter_@planTargetAction.PlanTargetActionID" value="@planTargetAction.Supporter"></td>
                                <td style="background-color:@markColor"><input type="text" class="form-control input-sm" name="Notes" id="Note_@planTargetAction.PlanTargetActionID" value="@planTargetAction.Note"></td>

                            }
                            else
                            {
                                <td style="background-color:@markColor">
                                    <input type="hidden" class="form-control input-sm" name="Exucuters" id="Executer_@planTargetAction.PlanTargetActionID" value="@planTargetAction.Exucuter">

                                </td>
                                <td style="background-color:@markColor"><input type="hidden" class="form-control input-sm" name="Supporters" id="Supporter_@planTargetAction.PlanTargetActionID" value="@planTargetAction.Supporter"></td>
                                <td style="background-color:@markColor"><input type="hidden" class="form-control input-sm" name="Notes" id="Note_@planTargetAction.PlanTargetActionID" value="@planTargetAction.Note"></td>

                            }
                        }

                    </tr>

                    foreach (var subActionPlan in planTargetAction.ListSubActionPlan)
                    {
                        <tr>
                            <td style="text-align:center">
                                @if (listChangeAction == null || listChangeAction.Any(x => x.ApproveStatus == Constants.IS_ACTIVE && x.PlanTargetActionID == planTargetAction.PlanTargetActionID))
                                {
                                    if (role == null || role.Role >= Constants.ROLE_EDIT)
                                    {
                                        <a data-toggle="modal" data-target="#modal" onclick="preparAddSubActionPlan(@planTargetAction.PlanTargetActionID,@subActionPlan.SubActionPlanID,@plan.PlanID,@subTarget.PlanTargetID)">
                                            <span class="fa fa-plus-square"></span>
                                        </a>
                                    }
                                }
                                @subActionPlan.SubActionCode
                            </td>

                            <td>

                                @subActionPlan.SubActionContent

                            </td>
                            @foreach (var subPlanActionTime in subActionPlan.ListSubActionPlanTime)
                            {
                                if (listChangeAction != null && !listChangeAction.Any(x => x.ApproveStatus == Constants.IS_ACTIVE && x.PlanTargetActionID == planTargetAction.PlanTargetActionID))
                                {
                                    if (subPlanActionTime.PlanTime != null)
                                    {
                                        <td style="text-align:center"><a href="javascript:void(0)"><i class="fa fa-check-square-o text-success"></i></a></td>
                                    }
                                    else
                                    {
                                        <td style="text-align:center"></td>
                                    }
                                }
                                else
                                {
                                    var subChkVal = subPlanActionTime.SubActionPlanTimeID + "_sub#" + subPlanActionTime.SubActionPlanID + "_" + subPlanActionTime.PlanTime;

                                    if (subActionPlan.ListChildSubActionPlan.Count == 0)
                                    {
                                        if (subPlanActionTime.CreateUserID == subPlanActionTime.ModifierID)
                                        {
                                            if (subPlanActionTime.PlanTime != null)
                                            {

                                                <td style="text-align:center"><input type="checkbox" id="planTimes" name="planTimes" value="@subChkVal" checked /> </td>
                                            }
                                            else
                                            {
                                                <td style="text-align:center"> <input id="PlanTimes" name="planTimes" type="checkbox" value="@subChkVal" /> </td>
                                            }
                                        }
                                        else
                                        {
                                            if (subPlanActionTime.PlanTime != null)
                                            {
                                                <td style="text-align:center; background-color: none"> <input type="checkbox" id="planTimes" name="planTimes" value="@subChkVal" checked /> </td>
                                            }
                                            else
                                            {
                                                <td style="text-align:center; background-color: none"> <input id="PlanTimes" name="planTimes" type="checkbox" value="@subChkVal" /> </td>
                                            }
                                        }

                                    }
                                    else
                                    {
                                        <td></td>

                                    }
                                }
                            }
                            @if (listChangeAction != null && !listChangeAction.Any(x => x.ApproveStatus == Constants.IS_ACTIVE && x.PlanTargetActionID == planTargetAction.PlanTargetActionID))
                            {
                                <td>
                                    @subActionPlan.Exucuter
                                </td>
                                <td>@subActionPlan.Supporter</td>
                                <td>@subActionPlan.Note</td>
                            }
                            else
                            {
                                if (subActionPlan.ListChildSubActionPlan.Count == 0)
                                {
                                    <td>
                                        <input type="text" class="form-control input-sm" name="Exucuters" id="Executer_@subActionPlan.SubActionPlanID" value="@subActionPlan.Exucuter">
                                    </td>
                                    <td><input type="text" class="form-control input-sm" name="Supporters" id="Supporter_@subActionPlan.SubActionPlanID" value="@subActionPlan.Supporter"></td>
                                    <td><input type="text" class="form-control input-sm" name="Notes" id="Note_@subActionPlan.SubActionPlanID" value="@subActionPlan.Note"></td>
                                }
                                else
                                {
                                    <td>
                                        <input type="hidden" class="form-control input-sm" name="Exucuters" id="Executer_@subActionPlan.SubActionPlanID" value="@subActionPlan.Exucuter">
                                    </td>
                                    <td><input type="hidden" class="form-control input-sm" name="Supporters" id="Supporter_@subActionPlan.SubActionPlanID" value="@subActionPlan.Supporter"></td>
                                    <td><input type="hidden" class="form-control input-sm" name="Notes" id="Note_@subActionPlan.SubActionPlanID" value="@subActionPlan.Note"></td>

                                }
                            }
                        </tr>

                        @*Lay cac subAction con*@
                        foreach (var childActionPlan in subActionPlan.ListChildSubActionPlan)
                        {
                            <tr>
                                <td style="text-align:center">
                                    @if (listChangeAction == null || listChangeAction.Any(x => x.ApproveStatus == Constants.IS_ACTIVE && x.PlanTargetActionID == planTargetAction.PlanTargetActionID))
                                    {
                                        <a onclick="DelSubActionPlan(@childActionPlan.SubActionPlanID)" href="javascript:void(0)">
                                            <span class="fa fa-trash-o text-danger"></span>
                                        </a>
                                    }
                                    <em>
                                        @childActionPlan.SubActionCode
                                    </em>
                                </td>

                                <td>
                                    <em>
                                        @childActionPlan.SubActionContent
                                    </em>
                                </td>
                                @foreach (var subPlanActionTime in childActionPlan.ListSubActionPlanTime)
                                {
                                    if (listChangeAction != null && !listChangeAction.Any(x => x.ApproveStatus == Constants.IS_ACTIVE && x.PlanTargetActionID == planTargetAction.PlanTargetActionID))
                                    {
                                        if (subPlanActionTime.PlanTime != null)
                                        {
                                            <td style="text-align:center"><a href="javascript:void(0)"><i class="fa fa-check-square-o text-success"></i></a></td>
                                        }
                                        else
                                        {
                                            <td style="text-align:center"></td>
                                        }
                                    }
                                    else
                                    {
                                        var subChilChkVal = subPlanActionTime.SubActionPlanTimeID + "_sub#" + subPlanActionTime.SubActionPlanID + "_" + subPlanActionTime.PlanTime;

                                        if (subPlanActionTime.PlanTime != null)
                                        {
                                            <td style="text-align:center; "> <input type="checkbox" id="planTimes" name="planTimes" value="@subChilChkVal" checked /> </td>
                                        }
                                        else
                                        {
                                            <td style="text-align:center; "> <input id="PlanTimes" name="planTimes" type="checkbox" value="@subChilChkVal" /> </td>
                                        }
                                    }
                                }
                                @if (listChangeAction != null && !listChangeAction.Any(x => x.ApproveStatus == Constants.IS_ACTIVE && x.PlanTargetActionID == planTargetAction.PlanTargetActionID))
                                {
                                    <td>
                                        @childActionPlan.Exucuter
                                    </td>
                                    <td>@childActionPlan.Supporter</td>
                                    <td>@childActionPlan.Note</td>
                                }
                                else
                                {
                                    <td>
                                        <input type="text" class="form-control input-sm" name="Exucuters" id="Executer_@childActionPlan.SubActionPlanID" value="@childActionPlan.Exucuter">
                                    </td>
                                    <td><input type="text" class="form-control input-sm" name="Supporters" id="Supporter_@childActionPlan.SubActionPlanID" value="@childActionPlan.Supporter"></td>
                                    <td><input type="text" class="form-control input-sm" name="Notes" id="Note_@childActionPlan.SubActionPlanID" value="@childActionPlan.Note"></td>
                                }
                            </tr>

                        }

                    }
                }
            }
        </tbody>
    </table>

</div>
<div id="modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Thêm hoạt động</h4>
            </div>
            <div class="modal-body" id="modalAddSubActionPlan">
                @Html.Partial("AddSubActionPlan")
            </div>
        </div>
    </div>
</div>
<script>

    function DelSubActionPlan(subActionPlanID){
        $.ajax({

            url: '@Url.Action("DelSubActionPlan", "SubActionPlanTime")',
            data: { subActionPlanID: subActionPlanID },

            success: function (result) {
                CommonJS.alert(result);
                window.location.href = "/SubActionPlanTime/Index?planID="+@plan.PlanID;
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }

    function preparAddSubActionPlan(PlanTargetAcionID,SubActionPlanID,PlanID,PlanTargetID) {

        $.ajax({

            url: '@Url.Action("PreparAddSubActionPlan", "SubActionPlanTime")',
            data: { PlanTargetAcionID: PlanTargetAcionID,SubActionPlanID:SubActionPlanID,PlanID: PlanID,PlanTargetID:PlanTargetID  },

            success: function (result) {
                $("#modalAddSubActionPlan").html(result);
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });

    }
    function toggleCheckbox(element) {

        if (element.checked) {
            // alert($(element).val());
            $(element).prop("checked", true);
        } else {
            //  alert($(element).val());
            $(element).prop("checked", false);
        }
        //  element.checked = !element.checked;
    }

    function onSaveActionPlanTime() {

        var planTimes = $("#tableData tbody").find("input:checkbox[name='planTimes']:checked");

        var selecteditems = [];

        $("#tableData tbody").find("input:checkbox[name='planTimes']:checked").each(function (i, ob) {

            var valArr = $(ob).val().split('_')[1].split('#');

            var exucuter =    $("#Executer_" + valArr[1]).val();
            var supporter =    $("#Supporter_" + valArr[1]).val();
            var note =    $("#Note_" + valArr[1]).val();
            selecteditems.push($(ob).val() + "$" + exucuter + "^&*" + supporter +"^&*"+ note);

        });
        //   alert(selecteditems);
        jQuery.ajaxSettings.traditional = true;
        $.ajax({
            type: "POST",
            url: '@Url.Action("EditSubActionPlanTime", "SubActionPlanTime")',
            data: { actionPlanTime: selecteditems, planID: @plan.PlanID },

            success: function (data) {

                CommonJS.alert(data);
                window.location.href = "/SubActionPlanTime/Index?planID="+@plan.PlanID;
            },
            error: function (e) {
                CommonJS.alert("Có lỗi hệ thống", false);
            }
        });



    }
</script>
