﻿
@using IInterface.Common;
@using IInterface.Models;

@model SubActionPlanModel



@using (Ajax.BeginForm("AddSubActionPlan", "SubActionPlanTime", new AjaxOptions()
{
    HttpMethod = "POST",
    OnBegin = "onBegin",
    OnSuccess = "onSuccess",
}, new { id = "frmSubAction" }))
{

           @Html.HiddenFor(x => x.PeriodID, new { id = "PeriodID" })
           @Html.HiddenFor(x => x.PlanID, new { id = "PlanID" })
           @Html.HiddenFor(x => x.PlanTargetActionID, new { id = "PlanTargetActionID" })
           @Html.HiddenFor(x => x.SubActionPlanID, new { id = "SubActionPlanID" })
           @Html.HiddenFor(x => x.PlanTargetID, new { id = "PlanTargetID" })
           @Html.HiddenFor(x => x.SumCostType, new { id = "SumCostType" })

        <div class="row">
            <div class="col-lg-12">
                <div class="form-group">
                    <label for="addActionID">Mã hoạt động </label>
                      @Html.TextBoxFor(x =>x.ParentPlanTagetActionCode, new {@class = "form-control", id = "ParentPlanTagetActionCode", @readonly = "readonly" })
                    
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="form-group">
                    <label for="addActionCode">Hoạt động</label>
                    @Html.TextBoxFor(x => x.ParentPlanTagetActionContent, new { @class = "form-control", id = "ParentPlanTagetActionContent", @readonly = "readonly" })
                    
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="form-group">
                    <label for="addActionContent">Nội dung hoạt động</label>
                    @Html.TextAreaFor(x => x.SubActionContent, new { placeholder = "Nội dung hoạt động", @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="row" style="display: none">
            <div class="col-lg-12">
             
                <input type="checkbox" name="" id="chkSpendType" class="cbx" onclick="onSetValClick(this)">
                &nbsp;
                <label for="addCheck">Loại chi phí tổng hợp từ 1 mục chi </label>
            </div>
        </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-success" onclick="onSaveSubAction()">
            <i class="fa fa-save"></i>
            Lưu
        </button>
    </div>
}

<script>
    function onSaveSubAction() {
        var subActionContent = $("#frmSubAction #SubActionContent").val();
        
        if (subActionContent == null || subActionContent == "") {
            alert("Chưa nhập nội dung hoạt động");
            return false;
        }
        var myFrmData = $("#frmSubAction").serialize();
        var planID = $("#PlanID").val();
        $.ajax({
            type: "POST",
            url: '@Url.Action("AddSubActionPlan", "SubActionPlanTime")',
            data: myFrmData,
            success: function (data) {
                CommonJS.alert(data);
                $("#modal").modal("hide");
                window.location.href = "/SubActionPlanTime/Index?planID=" + planID;

            },
            error: function (e) {
                CommonJS.alert("Có lỗi hệ thống");
                // alert("Có lỗi hệ thống");

            }
        });

    }

    function onSetValClick(item) {
        if ($(item).is(':checked')) {

            $(item).attr("value", "true");
            $("#frmSubAction #SumCostType").val(1);
        } else {
            $(item).attr("value", "false");
            $("#frmSubAction #SumCostType").val('');
        }
    }
</script>