﻿@using IModel;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";


    Department dept = ViewData["Dept"] as Department;
    Period period = ViewData["Period"] as Period;

}


<script type="text/javascript" src="~/Scripts/jquery.freezeheader.js" ></script>

<div class="row">
    <div class="col-lg-12">
        <div class="box">
            <div class="box-body">
                <div class="box-header">
                    <h3 class="box-title">
                        <i class="fa fa-calendar-check-o"></i> Thời gian thực hiện đơn vị @dept.DepartmentName.Replace("đơn vị", string.Empty).Replace("Đơn vị", string.Empty) - @period.PeriodName
                    </h3>
                </div>
                <div style="display: none">

                    @using (Ajax.BeginForm("GetListSubActionPlanTime", "SubActionPlanTime", new AjaxOptions
                {
                    HttpMethod = "get",
                    UpdateTargetId = "divGridSubActionPlan"
                }, new { id = "frmSearch" }))
                {
                
                }
                </div>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-lg-12" id="divGridSubActionPlan">
                       
                            @Html.Partial("_ListSubActionPlanTime")
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
      
      
        $("#tableData").freezeHeader();
       
    });

    function onSearch() {

        var SubActionContent = $("#SubActionContent").val();
        $.ajax({
            type: "POST",
            //   url: "/SubActionPlanTime/UpdateSubActionPlanTime?subTargetId=" + ,
            url: '@Url.Action("GetListSubActionPlanTime", "SubActionPlanTime")',
            data: { periodId: @period.PeriodID,subActionContent: SubActionContent  },
          
            success: function (data) {

            //    CommonJS.alert(data);
                //  searchMemberForGroup();

                //    searchMember();

            },
            error: function (e) {
                CommonJS.alert("Có lỗi hệ thống");
            }
        });

      //  $("#frmSearch").submit();
    }

</script>
  