﻿@using IInterface.Models
@{
    List<CommentModel> listComment = ViewData["listComment"] as List<CommentModel>;
}
<div class="col-md-12">
    <div class="box box-success">
        <div class="box-header with-border">
            <h4 class="box-title"><i class="fa fa-commenting-o"></i> Ghi chú...</h4>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                    <i class="fa fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="box-body">
            @if (listComment != null)
            {
                foreach (var c in listComment)
                {
                    string[] arr = c.Content.Split('\n');
                    string displayName = c.CommentUserName;
                    if (!string.IsNullOrWhiteSpace(c.CommentFullName))
                    {
                        displayName += " (" + c.CommentFullName.Trim() + ")";
                    }
                    <div class="post" id="post_@c.CommentID">
                        <div class="user-block">
                            <img class="img-circle img-bordered-sm" alt="user image" src="~/Content/Images/avatar-default.jpg" />
                            <span class="username">
                                <a href="javasript:void(0)">@displayName</a>
                            </span>
                            <span class="description">@c.CommentDate.ToString("dd/MM/yyyy hh:mm")</span>
                        </div>
                        <p id="p_@c.CommentID">
                            @for (int i = 0; i < arr.Length; i++)
                            {
                                <text>@arr[i]</text>
                                if (i < arr.Length - 1)
                                {
                                    <br />
                                }
                            }
                        </p>
                    </div>
                }
            }
        </div>
    </div>
</div>