﻿@using IInterface.Common
@using IInterface.Models
@{
    List<CommentModel> listComment = ViewData["listComment"] as List<CommentModel>;
    long? objectID = ViewData["objectID"] as long?;
    int? objectType = ViewData["objectType"] as int?;
    UserInfo user = SessionManager.GetUserInfo();
}
@if (objectID != null && objectID.Value > 0)
{
    <div class="col-md-12" id="divMyComment">
        <div class="box box-success">
            <div class="box-header with-border">
                <h4 class="box-title"><i class="fa fa-commenting-o"></i> Ghi chú...</h4>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">
                @if (listComment != null)
                {
                    foreach (var c in listComment)
                    {
                        string[] arr = c.Content.Split('\n');
                        string displayName = c.CommentUserName;
                        if (!string.IsNullOrWhiteSpace(c.CommentFullName))
                        {
                            displayName += " (" + c.CommentFullName.Trim() + ")";
                        }
                        <div class="post" id="post_@c.CommentID">
                            <div class="user-block">
                                <img class="img-circle img-bordered-sm" alt="user image" src="~/Content/Images/avatar-default.jpg" />
                                <span class="username">
                                    <a href="javasript:void(0)">@displayName</a>
                                    @if (c.CommentUserID == user.UserID)
                                    {
                                        <a class="pull-right btn btn-danger btn-flat btn-xs" href="javasript:void(0)" onclick="delComment(@c.CommentID)"><i class="fa fa-trash-o"></i> Xóa</a>
                                        <a class="pull-right btn btn-info btn-flat btn-xs" href="javasript:void(0)" onclick="editComment(@c.CommentID)"><i class="fa fa-pencil"></i> Sửa</a>
                                    }
                                </span>
                                <span class="description">@c.CommentDate.ToString("dd/MM/yyyy hh:mm")</span>
                                <textarea class="form-control input-sm" style="margin-top: 5px; display: none" id="comment_@c.CommentID" placeholder="Nhập ghi chú..."></textarea>
                                <button class="pull-right btn btn-primary btn-flat btn-xs" id="btn_@c.CommentID" style="margin-top: 5px; display: none" type="button" onclick="updateComment(@c.CommentID)"><i class="fa fa-send-o"></i> Gửi</button>
                                <button class="pull-right btn btn-default btn-flat btn-xs" id="close_@c.CommentID" style="margin-top: 5px; display: none" type="button" onclick="closeComment(@c.CommentID)"><i class="fa fa-close"></i> Hủy</button>
                            </div>
                            @Html.Hidden("hidText_" + c.CommentID, c.Content)
                            <p id="p_@c.CommentID">
                                @for (int i = 0; i < arr.Length; i++)
                                {
                                    <text>@arr[i]</text>
                                    if (i < arr.Length - 1)
                                    {
                                        <br />
                                    }
                                }
                            </p>
                        </div>
                    }
                }
                <div class="post" id="postFinal">
                    <textarea class="form-control input-sm" id="commentContent" placeholder="Nhập ghi chú..."></textarea>
                    <button class="pull-right btn btn-primary btn-flat btn-xs" style="margin-top: 5px;" type="button" onclick="saveComment()"><i class="fa fa-send-o"></i> Gửi</button>
                </div>
            </div>
        </div>
    </div>
}
<script type="text/javascript">
    function saveComment() {
        var objectID = @objectID.GetValueOrDefault();
        var objectType = @objectType.GetValueOrDefault();
        $.ajax({
            type: "POST",
            url: '@Url.Action("SaveComment", "Comment")',
            data: { "ObjectID": objectID, "Type" : objectType, "Content" :  $("#commentContent").val()},
            success: function (data) {
                CommonJS.alert(data);
                refreshComment();
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }

    function updateComment(commentID) {
        var objectID = @objectID.GetValueOrDefault();
        var objectType = @objectType.GetValueOrDefault();
        $.ajax({
            type: "POST",
            url: '@Url.Action("UpdateComment", "Comment")',
            data: { "CommentID": commentID, "Content" :  $("#comment_" + commentID).val()},
            success: function (data) {
                CommonJS.alert(data);
                var val = $("#comment_" + commentID).val().replace(/\r?\n/g, '<br />');
                $('#p_' + commentID).html(val);
                closeComment(commentID)
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }

    function closeComment(commentID) {
        $('#p_' + commentID).show();
        $('#postFinal').show();
        $('#btn_' + commentID).hide();
        $('#close_' + commentID).hide();
        $('#comment_' + commentID).hide();
    }

    function editComment(commentID) {
        $('#p_' + commentID).hide();
        $('#postFinal').hide();
        $('#btn_' + commentID).show();
        $('#close_' + commentID).show();
        $('#comment_' + commentID).show();
        $('#comment_' + commentID).val($('#hidText_' + commentID).val());
    }

    function delComment(commentID) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("DelComment", "Comment")',
            data: { "commentID": commentID },
            success: function (data) {
                CommonJS.alert(data);
                $('#post_' + commentID).remove();
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }

    function refreshComment(){
        var objectID = @objectID.GetValueOrDefault();
        var objectType = @objectType.GetValueOrDefault();
        $.ajax({
            type: "POST",
            url: '@Url.Action("RefreshComment", "Comment")',
            data: { "ObjectID": objectID, "Type" : objectType },
            success: function (data) {
                $('#divMyComment').parent().html(data);
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }
</script>