﻿@using IInterface.Common;
@using IInterface.Models;
@{
    UserInfo user = SessionManager.GetUserInfo();
    Paginate<FinancialReportInfoModel> paginate = ViewData["listResult"] as Paginate<FinancialReportInfoModel>;
    var grid = new WebGrid(
                          rowsPerPage: paginate.PageSize,
                          canPage: true,
                          canSort: false,
                          ajaxUpdateContainerId: "divGridResult"
                          );

    grid.Bind(paginate.List,
    autoSortAndPage: false,
    rowCount: paginate.Count);
    grid.Pager(WebGridPagerModes.All);
}
@{
    if (paginate.Count > 0)
    {
        var gridColumns = new List<WebGridColumn>();
        gridColumns.Add(grid.Column("STT", format: item => item.WebGrid.Rows.IndexOf(item) + 1
                + Math.Round(Convert.ToDouble(grid.TotalRowCount / grid.PageCount) / grid.RowsPerPage)
                * grid.RowsPerPage * grid.PageIndex));
        gridColumns.Add(grid.Column("PlanName", "Tên kế hoạch"));
        gridColumns.Add(grid.Column("Year", "Năm"));
        gridColumns.Add(grid.Column("Quarter", "Quý"));
        gridColumns.Add(grid.Column("DeptName", "Đơn vị"));
        gridColumns.Add(grid.Column(header: "Ngày gửi", format: (x) => string.Format("{0:dd/MM/yyyy HH:mm:ss}", x.SendDate)));
        gridColumns.Add(grid.Column(header: "Trạng thái", format: @<text>
        @if (item.IsHasReview)
        {
            <span class="label label-info">Đã xem xét</span>
        }
        else
        {
            if (item.Status == Constants.PERIOD_NEW)
            {
                <span class="label label-default">Dự thảo</span>
            }
            else if (item.Status == Constants.PERIOD_PLANNED)
            {
                <span class="label label-primary">Đã lập kế hoạch</span>
            }
            else if (item.Status == Constants.PERIOD_NEXT_LEVER)
            {
                <span class="label label-info">Chuyển tiếp</span>
            }
            else if (item.Status == Constants.PERIOD_APPROVED)
            {
                <span class="label label-success">Đã phê duyệt</span>
            }
            else
            {
                <span class="label label-default">Chưa lập kế hoạch</span>
            }
        }
        </text>));
        gridColumns.Add(grid.Column(format: @<text>
            <a href="@Url.Action("AddOrEdit", "ReviewFinancialReport", new { id = item.FinancialReportID })" class="btn btn-xs btn-primary" title="Điều chỉnh thông tin"><i class="fa fa-edit"></i> Điều chỉnh</a>
            @if (user.IsHeadOffice == Constants.IS_ACTIVE)
            {
                <a href="javascript:void(0)" onclick="approve(@item.FinancialReportID)" class="btn btn-xs btn-success" title="Phê duyệt báo cáo"><i class="fa fa-check-circle-o"></i> Phê duyệt</a>
            }
            else
            {
                <a href="javascript:void(0)" onclick="agree(@item.FinancialReportID)" class="btn btn-xs btn-success" title="Đồng ý báo cáo"><i class="fa fa-check-circle-o"></i> Đồng ý</a>
            }
            <a href="javascript:void(0)" class="btn btn-xs btn-primary" title="Sửa thông tin"><i class="fa fa-file-excel-o"></i> Xuất file</a>
            <a href="javascript:void(0)" onclick="viewHistory(@item.FinancialReportID)" class="btn btn-xs btn-info" title="Xem lịch sử xem xét báo cáo"><i class="fa fa-history"></i> Lịch sử xem xét</a>
        </text>));

        @grid.GetHtml(htmlAttributes: new { id = "divGridResult" },
                                      fillEmptyRows: false,
                                      tableStyle: "table table-hover table-striped",
                                      footerStyle: "table-pager",
                                      alternatingRowStyle: "altRow",
                                      selectedRowStyle: "selectRow",
                                      mode: WebGridPagerModes.All,
                                      columns: gridColumns)

    }
    else
    {
        <div style="color:red; margin-left:10px;">
            Không có dữ liệu
        </div>
    }
}
<script type="text/javascript">
    function approve(reportID) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("Approve", "ReviewFinancialReport")',
            data: { "reportID": reportID },
            success: function (data) {
                CommonJS.alert(data);
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }
    function agree(reportID) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("Agree", "ReviewFinancialReport")',
            data: { "reportID": reportID },
            success: function (data) {
                CommonJS.alert(data);
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }


    function viewHistory(reportID) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("LoadReportHis", "ReportHistory")',
            data: { "reportID": reportID, "reportType": '@Constants.REPORT_TYPE_FINANCIAL' },
            success: function (data) {
                $("#modal-his").html(data);
                $("#modal-his").modal("show");
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }
</script>
