﻿@using IInterface.Models
@using IInterface.Common
@{
    List<FinancialReportDetailModel> listDetail = ViewData["listDetail"] as List<FinancialReportDetailModel>;
}

<div class="col-md-12">
    @Html.Hidden("FinancialReportID")
    <table class="table table-bordered table-responsive">
        <thead>
            <tr>
                <th style="width: 8%; text-align:center">Mã hoạt động</th>
                <th style="width: 24%; text-align:center">Diễn giải</th>
                <th style="width: 12%; text-align:center">Tổng ngân sách được duyệt</th>
                <th style="width: 12%; text-align:center">Lũy kế giải ngân đến đầu quý báo cáo</th>
                <th style="width: 12%; text-align:center">Giải ngân trong quý</th>
                <th style="width: 12%; text-align:center">Lũy kế giải ngân thực tế</th>
                <th style="width: 10%; text-align:center">Số dư đến cuối kỳ báo cáo</th>
                <th style="width: 10%; text-align:center">Tỷ lệ giải ngân %</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="text-center">(1)</td>
                <td class="text-center">(2)</td>
                <td class="text-center">(3)</td>
                <td class="text-center">(4)</td>
                <td class="text-center">(5)</td>
                <td class="text-center">(6)=(4)+(5)</td>
                <td class="text-center">(7)=(3)-(6)</td>
                <td class="text-center">(8)=(6)/(3)</td>
            </tr>
            @foreach (FinancialReportDetailModel detail in listDetail)
            {
                string actionCode = detail.IsTarget ? (!string.IsNullOrWhiteSpace(detail.TargetCode) ? detail.TargetCode.Trim() : string.Empty) :
                    (!string.IsNullOrWhiteSpace(detail.PlanTargetActionCode) ? detail.PlanTargetActionCode.Trim() : string.Empty);
                string actionName = detail.IsTarget ? (!string.IsNullOrWhiteSpace(detail.TargetName) ? detail.TargetName.Trim() : string.Empty) :
                    (!string.IsNullOrWhiteSpace(detail.PlanTargetActionName) ? detail.PlanTargetActionName.Trim() : string.Empty);
                double totalInQuarter = detail.DisbMoneyToQuarter.GetValueOrDefault() + detail.DisbMoney.GetValueOrDefault();
                double remainMoney = detail.PlanMoney.GetValueOrDefault() - totalInQuarter;
                double percentDisb = Math.Round(((totalInQuarter / detail.PlanMoney.GetValueOrDefault()) * 100), 2);
                string sPercentDisb = percentDisb + "%";
                <tr>
                    <td class="text-center">@actionCode</td>
                    <td>@actionName</td>
                    <td class="text-right">@detail.PlanMoney</td>
                    <td class="text-right">@detail.DisbMoneyToQuarter</td>
                    <td class="text-right">@detail.DisbMoney</td>
                    <td class="text-right">
                        @totalInQuarter
                    </td>
                    <td class="text-right">
                        @remainMoney
                    </td>
                    <td class="text-right">
                        @sPercentDisb
                    </td>
                </tr>
                if (detail.ListSubAction != null && detail.ListSubAction.Any())
                {
                    foreach (SubActionPlanModel sub in detail.ListSubAction)
                    {
                        actionCode = !string.IsNullOrWhiteSpace(sub.SubActionCode) ? sub.SubActionCode.Trim() : string.Empty;
                        actionName = !string.IsNullOrWhiteSpace(sub.SubActionContent) ? sub.SubActionContent.Trim() : string.Empty;
                        totalInQuarter = sub.DisbMoneyToQuarter.GetValueOrDefault() + sub.DisbMoney.GetValueOrDefault();
                        remainMoney = sub.TotalBudget.GetValueOrDefault() - totalInQuarter;
                        percentDisb = Math.Round(((totalInQuarter / detail.PlanMoney.GetValueOrDefault()) * 100), 2);
                        sPercentDisb = percentDisb + "%";
                        <tr>
                            <td class="text-center">@actionCode</td>
                            <td>@actionName</td>
                            <td class="text-right">@sub.TotalBudget.GetValueOrDefault()</td>
                            <td class="text-right">@sub.DisbMoneyToQuarter</td>
                            <td class="text-right">                                
                                @sub.DisbMoney
                            </td>
                            <td class="text-right">
                                @totalInQuarter
                            </td>
                            <td class="text-right">
                                @remainMoney
                            </td>
                            <td class="text-right">
                                @sPercentDisb
                            </td>
                        </tr>
                    }
                }
            }
        </tbody>
    </table>
</div>