﻿@using IInterface.Models
@using IModel
@{
    List<FinancialReportDetailModel> listDetail = ViewData["listDetail"] as List<FinancialReportDetailModel>;
    FinancialReport entity = ViewData["financialReport"] as FinancialReport;
}
<div class="col-md-12">
    @Html.Hidden("FinancialReportID")
    <table class="table table-bordered table-responsive">
        <thead>
            <tr>
                <th style="width: 8%; text-align:center">Mã hoạt động</th>
                <th style="width: 24%; text-align:center">Diễn giải</th>
                <th style="width: 12%; text-align:center">Tổng ngân sách được duyệt</th>
                <th style="width: 12%; text-align:center">Giải ngân trong năm (Đến 31/12/@entity.Year)</th>
                <th style="width: 10%; text-align:center">Số dư đến cuối kỳ báo cáo</th>
                <th style="width: 10%; text-align:center">Tỷ lệ giải ngân %</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="text-center">(1)</td>
                <td class="text-center">(2)</td>
                <td class="text-center">(3)</td>
                <td class="text-center">(4)</td>
                <td class="text-center">(5)=(3)-(4)</td>
                <td class="text-center">(6)=(4)/(3)</td>
            </tr>
            @foreach (FinancialReportDetailModel detail in listDetail)
            {
                string actionCode = detail.IsTarget ? (!string.IsNullOrWhiteSpace(detail.TargetCode) ? detail.TargetCode.Trim() : string.Empty) :
                    (!string.IsNullOrWhiteSpace(detail.PlanTargetActionCode) ? detail.PlanTargetActionCode.Trim() : string.Empty);
                string actionName = detail.IsTarget ? (!string.IsNullOrWhiteSpace(detail.TargetName) ? detail.TargetName.Trim() : string.Empty) :
                    (!string.IsNullOrWhiteSpace(detail.PlanTargetActionName) ? detail.PlanTargetActionName.Trim() : string.Empty);
                double disbMoney = detail.DisbMoney.GetValueOrDefault();
                double remainMoney = detail.PlanMoney.GetValueOrDefault() - disbMoney;
                double percentDisb = Math.Round(((disbMoney / detail.PlanMoney.GetValueOrDefault()) * 100), 2);
                string sPercentDisb = percentDisb + "%";
                <tr>
                    <td class="text-center">@actionCode</td>
                    <td>@actionName</td>
                    <td class="text-right">@detail.PlanMoney</td>
                    <td class="text-right">
                        @detail.DisbMoney                        
                    </td>
                    <td class="text-right">
                        @remainMoney
                    </td>
                    <td class="text-right">
                        @sPercentDisb
                    </td>
                </tr>
                if (detail.ListSubAction != null && detail.ListSubAction.Any())
                {
                    foreach (SubActionPlanModel sub in detail.ListSubAction)
                    {
                        actionCode = !string.IsNullOrWhiteSpace(sub.SubActionCode) ? sub.SubActionCode.Trim() : string.Empty;
                        actionName = !string.IsNullOrWhiteSpace(sub.SubActionContent) ? sub.SubActionContent.Trim() : string.Empty;
                        disbMoney = sub.DisbMoney.GetValueOrDefault();
                        remainMoney = sub.TotalBudget.GetValueOrDefault() - disbMoney;
                        percentDisb = Math.Round(((disbMoney / detail.PlanMoney.GetValueOrDefault()) * 100), 2);
                        sPercentDisb = percentDisb + "%";
                        <tr>
                            <td class="text-center">@actionCode</td>
                            <td>@actionName</td>
                            <td class="text-right">@sub.TotalBudget.GetValueOrDefault()</td>
                            <td class="text-right">
                                @detail.DisbMoney
                            </td>
                            <td class="text-right">
                                @remainMoney
                            </td>
                            <td class="text-right">
                                @sPercentDisb
                            </td>
                        </tr>
                    }
                }
            }
        </tbody>
    </table>
</div>
<script type="text/javascript">
    function sumMoneyYear(item) {
        var row = $(item).attr('row');
        var planMoney = parseFloat($('#plan_' + row).html());
        var curval = getVal(item);
        curval = curval.replace(/\,/g, "");
        var curmoney = curval.trim() != "" ? parseFloat(curval) : 0;
        var total = curmoney;
        var remain = planMoney - total;
        var percent = (100 * total / planMoney).toFixed(2) + "%";
        var targetID = $('#TargetChoice').val();
        $('#tab' + targetID + ' #ListActionDetail #rem_' + row).html(remain);
        $('#tab' + targetID + ' #ListActionDetail #per_' + row).html(percent);
        var parid = $(item).attr('parentid');
        var parpre = $(item).attr('parentprefix');
        if (parid != "") {
            var sum = 0;
            $('#tab' + targetID + ' #ListActionDetail input[parentprefix="' + parpre + '"][parentid="' + parid + '"]').each(function () {
                var val = getVal(this);
                val = val.replace(/\,/g, "");;
                var money = val.trim() != "" ? parseFloat(val) : 0;
                sum += money;
            });
            var parenttrueid = '#' + parpre + '_' + parid;
            if (sum > 0) {
                $(parenttrueid).html(sum);
            }
            sumMoneyYear($(parenttrueid)[0]);
        }
    }
</script>