﻿@using IInterface.Models
@using IModel
@{
    List<FinancialReportDetailModel> listDetail = ViewData["listDetail"] as List<FinancialReportDetailModel>;
    FinancialReport entity = ViewData["financialReport"] as FinancialReport;
    int count = 1;
}
@using (Ajax.BeginForm("Save", "FinancialReport", new AjaxOptions()
{
    HttpMethod = "post",
    OnSuccess = "onSuccess",
    OnFailure = "onFail"
}, new { id = "frmCreateOrEditExpense" }))
{
    @Html.AntiForgeryToken()
    <div class="col-md-12">
        @Html.Hidden("FinancialReportID")
        <table class="table table-bordered table-responsive">
            <thead>
                <tr>
                    <th style="width: 8%; text-align:center">Mã hoạt động</th>
                    <th style="width: 24%; text-align:center">Diễn giải</th>
                    <th style="width: 12%; text-align:center">Tổng ngân sách được duyệt</th>
                    <th style="width: 12%; text-align:center">Giải ngân trong năm (Đến 31/12/@entity.Year)</th>
                    <th style="width: 10%; text-align:center">Số dư đến cuối kỳ báo cáo</th>
                    <th style="width: 10%; text-align:center">Tỷ lệ giải ngân %</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="text-center">(1)</td>
                    <td class="text-center">(2)</td>
                    <td class="text-center">(3)</td>
                    <td class="text-center">(4)</td>
                    <td class="text-center">(5)=(3)-(4)</td>
                    <td class="text-center">(6)=(4)/(3)</td>
                </tr>
                @foreach (FinancialReportDetailModel detail in listDetail)
                {
                    string actionCode = detail.IsTarget ? (!string.IsNullOrWhiteSpace(detail.TargetCode) ? detail.TargetCode.Trim() : string.Empty) :
                        (!string.IsNullOrWhiteSpace(detail.PlanTargetActionCode) ? detail.PlanTargetActionCode.Trim() : string.Empty);
                    string actionName = detail.IsTarget ? (!string.IsNullOrWhiteSpace(detail.TargetName) ? detail.TargetName.Trim() : string.Empty) :
                        (!string.IsNullOrWhiteSpace(detail.PlanTargetActionName) ? detail.PlanTargetActionName.Trim() : string.Empty);
                    double disbMoney = detail.DisbMoney.GetValueOrDefault();
                    double remainMoney = detail.PlanMoney.GetValueOrDefault() - disbMoney;
                    double percentDisb = Math.Round(((disbMoney / detail.PlanMoney.GetValueOrDefault()) * 100), 2);
                    string sPercentDisb = percentDisb + "%";
                    <tr>
                        <td class="text-center">@actionCode</td>
                        <td>@actionName</td>
                        <td class="text-right" id="plan_@count">@detail.PlanMoney</td>
                        <td class="text-right">
                            @if (detail.IsTarget)
                            {
                                <span id="target_@detail.PlanTargetID" row="@count" parentid="">@detail.DisbMoney</span>
                            }
                            else
                            {
                                if (detail.ListSubAction != null && detail.ListSubAction.Any())
                                {
                                    <span id="targetaction_@detail.PlanTargetActionID" row="@count" parentid="@detail.PlanTargetID" parentprefix="target">@detail.DisbMoney</span>
                                }
                                else
                                {
                                    <input type="hidden" name="ArrPlanTargetActionID" value="@detail.PlanTargetActionID" />
                                    <input type="text" class="currency form-control text-right" row="@count" name="ArrPlanTargetActionMoney" parentid="@detail.PlanTargetID" parentprefix="target" value="@detail.DisbMoney" onblur="sumMoneyYear(this)" />
                                }
                            }
                        </td>
                        <td class="text-right" id="rem_@count">
                            @remainMoney
                        </td>
                        <td class="text-right" id="per_@count">
                            @sPercentDisb
                        </td>
                    </tr>
                    count++;
                    if (detail.ListSubAction != null && detail.ListSubAction.Any())
                    {
                        foreach (SubActionPlanModel sub in detail.ListSubAction)
                        {
                            actionCode = !string.IsNullOrWhiteSpace(sub.SubActionCode) ? sub.SubActionCode.Trim() : string.Empty;
                            actionName = !string.IsNullOrWhiteSpace(sub.SubActionContent) ? sub.SubActionContent.Trim() : string.Empty;
                            disbMoney = sub.DisbMoney.GetValueOrDefault();
                            remainMoney = sub.TotalBudget.GetValueOrDefault() - disbMoney;
                            percentDisb = Math.Round(((disbMoney / detail.PlanMoney.GetValueOrDefault()) * 100), 2);
                            sPercentDisb = percentDisb + "%";
                            <tr>
                                <td class="text-center">@actionCode</td>
                                <td>@actionName</td>
                                <td class="text-right">@sub.TotalBudget.GetValueOrDefault()</td>
                                <td class="text-right">
                                    <input type="hidden" name="ArrSubActionPlanID" value="@sub.SubActionPlanID" />
                                    <input type="text" class="currency form-control text-right" row="@count" name="ArrSubActionPlanMoney" parentid="@sub.PlanTargetActionID" parentprefix="targetaction" value="@sub.DisbMoney" onblur="sumMoneyYear(this)" />
                                </td>
                                <td class="text-right" id="rem_@count">
                                    @remainMoney
                                </td>
                                <td class="text-right" id="per_@count">
                                    @sPercentDisb
                                </td>
                            </tr>
                            count++;
                        }
                    }
                }
            </tbody>
        </table>
    </div>
    <div class="col-md-12 text-right">
        <button class="btn btn-success" type="button" onclick="onBegin()"> <i class="fa fa-floppy-o"></i> Lưu lại</button>
    </div>
}
<script type="text/javascript">
    function sumMoneyYear(item) {
        var row = $(item).attr('row');
        var planMoney = parseFloat($('#plan_' + row).html());
        var curval = getVal(item);
        curval = curval.replace(/\,/g, "");
        var curmoney = curval.trim() != "" ? parseFloat(curval) : 0;
        var total = curmoney;
        var remain = planMoney - total;
        var percent = (100 * total / planMoney).toFixed(2) + "%";
        var targetID = $('#TargetChoice').val();
        $('#tab' + targetID + ' #ListActionDetail #rem_' + row).html(remain);
        $('#tab' + targetID + ' #ListActionDetail #per_' + row).html(percent);
        var parid = $(item).attr('parentid');
        var parpre = $(item).attr('parentprefix');
        if (parid != "") {
            var sum = 0;
            $('#tab' + targetID + ' #ListActionDetail input[parentprefix="' + parpre + '"][parentid="' + parid + '"]').each(function () {
                var val = getVal(this);
                val = val.replace(/\,/g, "");;
                var money = val.trim() != "" ? parseFloat(val) : 0;
                sum += money;
            });
            var parenttrueid = '#' + parpre + '_' + parid;
            if (sum > 0) {
                $(parenttrueid).html(sum);
            }
            sumMoneyYear($(parenttrueid)[0]);
        }
    }
</script>