﻿@using IInterface.Models
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model FinancialReportData
@{
    List<TargetModel> lstTarget = ViewData["listTarget"] as List<TargetModel>;
    bool? isView = ViewData["isView"] as bool?;
    int targetID = 0;
}
<div class="row">
    <div class="col-md-12">
        @if (isView.GetValueOrDefault())
        {
            @Html.Hidden("isView", 1)
            @Html.Partial("_GeneralView", Model, ViewData)
        }
        else
        {
            @Html.Hidden("isView", 0)
            @Html.Partial("_General", Model, ViewData)
        }
    </div>
</div>
@if (Model != null && Model.FinancialReportID > 0 && lstTarget != null)
{
    TargetModel targetFirst = lstTarget.FirstOrDefault();
    targetID = targetFirst != null ? targetFirst.TargetID : 0;
    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-tabs">
                @for (int i = 0; i < lstTarget.Count; i++)
                {
                    TargetModel target = lstTarget[i];
                    string tabId = "#tab" + target.TargetID;
                    if (i == 0)
                    {
                        <li class="active">
                            <a data-toggle="tab" href="@tabId" onclick="loadActionInfo(@target.TargetID)">
                                @target.TargetTitle
                            </a>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a data-toggle="tab" href="@tabId" onclick="loadActionInfo(@target.TargetID)">
                                @target.TargetTitle
                            </a>
                        </li>
                    }
                }
            </ul>
            <div class="tab-content">
                @Html.Hidden("TargetChoice")
                @for (int i = 0; i < lstTarget.Count; i++)
                {
                    TargetModel target = lstTarget[i];
                    string tabId = "tab" + target.TargetID;
                    if (i == 0)
                    {
                        <div id="@tabId" class="tab-pane fade active in"></div>
                    }
                    else
                    {
                        <div id="@tabId" class="tab-pane fade"></div>
                    }
                }
            </div>
        </div>
    </div>
    <div id="modal-action" class="modal fade" role="dialog">
    </div>
}
<script type="text/javascript">
    $(document).ready(function () {
        var targetID = @targetID;
        if(targetID > 0){
            loadActionInfo(targetID);
        }
    });

    function loadActionInfo(targetID) {
        var isView = $('#isView').val();
        var FinancialReportID = $('#frmGeneralInfo #FinancialReportID').val();
        if (FinancialReportID == '') {
            CommonJS.alert("Bạn phải nhập thông tin chung của báo cáo tài chính trước", false);
            return;
        }
        $('#TargetChoice').val(targetID);
        $.ajax({
            type: "POST",
            url: '@Url.Action("LoadActionInfo", "FinancialReport")',
            data: { "FinancialReportID": FinancialReportID, "targetID": targetID, "isView" : isView },
            success: function (data) {
                $('#tab' + targetID).html(data);
                $('#tab' + targetID).find('.currency').each(function () {
                    var val = getVal($(this));
                    setVal($(this), format(val));
                });
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }
    function getAction(id, code, name){
        var targetID = $('#TargetChoice').val();
        $('#tab' + targetID +' #actionName').html('');
        $('#tab' + targetID +' #PlanTargetActionID').val(id);
        $('#tab' + targetID +' #actionCode').html(code);
        if(id > 0){
            $('#tab' + targetID +' #actionName').html(name);
        }
        loadActionseByAction(true);
    }

    function loadActionByTarget() {
        var FinancialReportID = $('#frmGeneralInfo #FinancialReportID').val();
        var targetID = $('#TargetChoice').val();
        $.ajax({
            type: "POST",
            url: '@Url.Action("LoadActionByTarget", "FinancialReport")',
            data: {
                'targetID': targetID,
                'FinancialReportID': FinancialReportID
            },
            success: function (data) {
                $("#modal-action").html(data);
                $("#modal-action").modal("show");
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }

    function loadActionseByAction(loadFromCombo, id) {
        var FinancialReportID = $('#frmGeneralInfo #FinancialReportID').val();
        var targetID = $('#TargetChoice').val();
        var actionId = loadFromCombo ? $('#tab' + targetID +' #PlanTargetActionID').val() : id;
        var isView = $('#isView').val();
        if(actionId == ''){
            actionId = 0;
        }
        $.ajax({
            type: "POST",
            url: '@Url.Action("LoadReportDetail", "FinancialReport")',
            data: { "planTargetActionID": actionId, "targetID": $('#TargetChoice').val(), "FinancialReportID": FinancialReportID, "isView" : isView },
            success: function (data) {
                $('#tab' + targetID +' #ListActionDetail').html(data);
                $('#tab' + targetID +' #ListActionDetail').find('.currency').each(function () {
                    var val = getVal($(this));
                    setVal($(this), format(val));
                });
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }

    function getVal(item){
        if($(item).is("input")){
            return $(item).val();
        } else {
            return $(item).html();
        }
    }    
</script>
<style type="text/css">
    #divBody td input {
        width: 100%;
        height: 100% !important;
        box-sizing: border-box !important;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        border-radius: 0 !important;
        padding: 10px;
        margin: 0px;
        display: inline-block;
        position: relative;
        border: 1px solid #f4f4f4;
    }
</style>