﻿@using IInterface.Models
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    List<SelectListItem> listPlan = ViewData["listPlan"] as List<SelectListItem>;
    List<SelectListItem> listYear = ViewData["listYear"] as List<SelectListItem>;
    List<SelectListItem> listDept = ViewData["listDept"] as List<SelectListItem>;
}
<div class="row">
    <div class="col-lg-12">
        <div class="box">
            <div class="box-header with-border">
                @using (Ajax.BeginForm("Search", "ReviewFinancialReport", new AjaxOptions
                {
                    HttpMethod = "get",
                    UpdateTargetId = "divGridResultSettle"
                }, new { id = "frmSearch", @class = "form-horizontal" }))
                {
                    <div class="form-horizontal">
                        <div class="form-group">
                            @Html.Label("Kế hoạch", new { @class = "control-label col-md-2" })
                            <div class="col-md-6">
                                @Html.DropDownList("PlanID", listPlan, new { @class = "form-control ui-selet2" })
                            </div>
                            @Html.Label("Năm", new { @class = "control-label col-md-2" })
                            <div class="col-md-2">
                                @Html.DropDownList("Year", listYear, new { @class = "form-control ui-selet2" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.Label("Đơn vị", new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownList("DeptID", listDept, new { @class = "form-control ui-selet2" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12 text-right">
                                <button class="btn btn-primary" type="submit"> <i class="fa fa-search"></i> Tìm kiếm</button>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="box-body">
                <br />
                <div class="row">
                    <div class="col-lg-12" id="divGridResultSettle">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="modal-his" class="modal fade" role="dialog"></div>
<script>
    $(document).ready(function () {
        $(".ui-selet2").select2();
        $("#PlanID").change(function () {
            $.ajax({
                type: "POST",
                url: '@Url.Action("LoadYear", "ReviewFinancialReport")',
                data: { planID: $("#PlanID").val() },
                success: function (YearList) {
                    $("#Year").empty();
                    for (var i = 0; i < YearList.length; i++) {
                        $("#Year").append("<option value='" + YearList[i].Value + "'>" + YearList[i].Text + "</Year>");
                    }
                },
                error: function (xhr) {
                    CommonJS.alert(xhr.responseText);
                }
            });
        });
        Search();
    });
    function Search() {
        $("#frmSearch").submit();
    }
</script>
