﻿@using IInterface.Models
@using IInterface.Common
@model ContributeModel
@{
    List<SelectListItem> listPeriod = ViewData["listPeriod"] as List<SelectListItem>;
}
@using (Ajax.BeginForm("Save", "Contribute", new AjaxOptions()
{
    HttpMethod = "post",
    OnBegin = "onBegin",
    OnSuccess = "onSuccess",
    OnFailure = "onFail"
}, new { id = "frmCreateOrEdit" }))
{
    @Html.AntiForgeryToken()
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                @if (Model != null && Model.ContributeID > 0)
                {
                    @Html.HiddenFor(model => model.ContributeID)
                    <h4 class="modal-title">Cập nhật khoản thu bắt buộc</h4>
                }
                else
                {
                    <h4 class="modal-title">Thêm mới khoản thu bắt buộc</h4>
                }

            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Year, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.Year, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Year)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.PlanMoney, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.PlanMoney, new { @class = "form-control currency" })
                            @Html.ValidationMessageFor(model => model.PlanMoney)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.ActualMoney, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.ActualMoney, new { @class = "form-control currency" })
                            @Html.ValidationMessageFor(model => model.ActualMoney)
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success"><i class="fa fa-floppy-o"></i> Lưu</button>
                <button type="button" data-dismiss="modal" class="btn btn-default"><i class="fa fa-ban"></i> Hủy</button>
            </div>
        </div>
    </div>
}
<script type="text/javascript">
    $(function () {
        $(".currency").keyup(function (e) {
            $(this).val(format($(this).val()));
        });
        $('.currency').keypress(function (event) {
            if (event.keyCode != 46 && event.which != 46 && event.which != 8 && isNaN(String.fromCharCode(event.which))) {
                event.preventDefault();
            }
        });
    });

    function onBegin() {
        if ($("#frmCreateOrEdit").valid()) {
            return true;
        } else {
            return false;
        }
    }

    function onSuccess(msg) {
        CommonJS.alert(msg);
        search();
    }

    function onFail(xhr) {
        CommonJS.alert(xhr.responseText);
    }
</script>
