﻿
@using IInterface.Common;
@using IInterface.Models;
@{
    Paginate<ContributeModel> paginate = ViewData["listContribute"] as Paginate<ContributeModel>;
    var grid = new WebGrid(
        rowsPerPage: paginate.PageSize,
        canPage: true,
        canSort: false,
        ajaxUpdateContainerId: "divGridContribute"
        );

    grid.Bind(paginate.List,
        autoSortAndPage: false,
        rowCount: paginate.Count);
    grid.Pager(WebGridPagerModes.All);
}

@{
    if (paginate.Count > 0)
    {
        var gridColumns = new List<WebGridColumn>();
        gridColumns.Add(grid.Column("STT", format: item => item.WebGrid.Rows.IndexOf(item) + 1
                + Math.Round(Convert.ToDouble(grid.TotalRowCount / grid.PageCount) / grid.RowsPerPage)
                * grid.RowsPerPage * grid.PageIndex));
        gridColumns.Add(grid.Column("Year", "Năm"));
        gridColumns.Add(grid.Column("PlanMoneyFormat", "Kế hoạch và dư năm trước"));
        gridColumns.Add(grid.Column("ActualMoneyFormat", "Thực thu"));
        gridColumns.Add(grid.Column(header: "", format: @<text>
            <a href="javascript:void(0)" onclick="prepareAddOrEdit(@item.ContributeID)" class="btn btn-xs btn-primary" title="Sửa khoản chi"><i class="fa fa-edit"></i> Sửa</a>
            <a href="javascript:void(0)" onclick="deleteContribute(@item.ContributeID)" class="btn btn-xs btn-danger" title="Xóa khoản chi"><i class="fa fa-trash-o"></i> Xóa</a>
        </text>));
        @grid.GetHtml(htmlAttributes: new { id = "divGridContribute" },
            fillEmptyRows: false,
            tableStyle: "table table-hover table-striped",
            footerStyle: "table-pager",
            alternatingRowStyle: "altRow",
            selectedRowStyle: "selectRow",
            mode: WebGridPagerModes.All,
            columns: gridColumns)
    }
    else
    {
        <div style="color:red; margin-left:10px;">
            Không có khoản thu bắt buộc nào
        </div>
    }
}
<script type="text/javascript">
    function deleteContribute(id) {
        if (!confirm("Bạn có chắc chắn muốn xóa khoản thu bắt buộc?")) {
            return;
        }
        $.ajax({
            type: "POST",
            url: '@Url.Action("Delete", "Contribute")',
            data: { 'id': id },
            success: function (data) {
                CommonJS.alert(data);
                search();
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }
</script>
