﻿@using IInterface.Models
@using IInterface.Common
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<SelectListItem> listPeriod = ViewData["listPeriod"] as List<SelectListItem>;

}
<div class="row">
    <div class="col-lg-12">
        <div class="box">
            <div class="box-header with-border">
                <h4 class="box-title">Quản lý khoản thu bắt buộc</h4>
            </div>
            <div class="box-body">
                @using (Ajax.BeginForm("Search", "Contribute", new AjaxOptions
                {
                    HttpMethod = "get",
                    UpdateTargetId = "divResult"
                }, new { id = "frmContribute" }))
                {
                    <div class="col-md-12">
                        <div class="input-group">
                            <input id="year" name="year" class="form-control" placeholder="Năm" type="text" />
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="submit"> <i class="fa fa-search"></i> Tìm kiếm</button>
                                <button class="btn btn-success" onclick="prepareAddOrEdit(0)"><i class="fa fa-plus"></i> Thêm mới</button>
                            </span>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="box box-info">
            <div class="box-header with-border">
                <h4 class="box-title">Danh sách khoản thu bắt buộc</h4>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-lg-12" id="divResult">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="modal-AddOrEdit" class="modal fade" role="dialog"></div>
<script>
    $(document).ready(function () {
        search();
    });

    function search() {
        $("#frmContribute").submit();
    }

    function prepareAddOrEdit(id) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("PrepareAddOrEdit", "Contribute")',
            data: {
                'id': id
            },
            success: function (result) {
                $("#modal-AddOrEdit").html(result);
                $("#modal-AddOrEdit").modal("show");
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }
    var format = function (num) {
        var str = num.toString().replace("$", ""), parts = false, output = [], i = 1, formatted = null;
        if (str.indexOf(".") > 0) {
            parts = str.split(".");
            str = parts[0];
        }
        str = str.split("").reverse();
        for (var j = 0, len = str.length; j < len; j++) {
            if (str[j] != ",") {
                output.push(str[j]);
                if (i % 3 == 0 && j < (len - 1)) {
                    output.push(",");
                }
                i++;
            }
        }
        formatted = output.reverse().join("");
        return (formatted + ((parts) ? "." + parts[1].substr(0, 2) : ""));
    };    

    function isNumberKey(evt) {
        if (event.which != 46 && event.which != 8 && isNaN(String.fromCharCode(event.which)))
            return false;
        return true;
    }

</script>