﻿@using Newtonsoft.Json
@using IInterface.Common;
@using IInterface.Models;
@{
    List<MissionModel> listMission = ViewData["listMission"] as List<MissionModel>;
    List<string> listMissionName = listMission.Select(x => x.MissionCode).ToList();
    List<string> listColor = listMission.Select(x => x.Color).ToList();
    List<double> listVal = listMission.Select(x => x.PlanMoney).ToList();
    double totalMoney = listMission.Select(x => x.PlanMoney).DefaultIfEmpty(0).Sum();
}
<div class="row">
    <div class="col-md-12">
        <canvas id="myChart" width="500" height="500"></canvas>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered" id="tableData">
            <thead>
                <tr class="bg-info text-white">
                    <th style="text-align:center;vertical-align:middle;width:10%">Mã</th>
                    <th style="text-align:center;vertical-align:middle;width:60%">Nhiệm vụ</th>
                    <th style="text-align:center;vertical-align:middle;width:15%">Dự toán (triệu đồng)</th>
                    <th style="text-align:center;vertical-align:middle;width:15%">Tỷ lệ (%)</th>
                </tr>
            </thead>
            @if (listMission != null && listMission.Any())
            {
                <tbody>
                    @foreach (MissionModel mission in listMission)
                    {
                        string percent = Math.Round((mission.PlanMoney / totalMoney) * 100, 2).ToString() + "%";
                        <tr>
                            <td style="text-align:center;vertical-align:middle;width:10%"><strong>@mission.MissionCode</strong></td>
                            <td style="vertical-align:middle;width:60%"><strong>@mission.MissionName</strong></td>
                            <td style="text-align:right;vertical-align:middle;width:15%">@Utils.FormatMoney(mission.PlanMoney)</td>
                            <td style="text-align:right;vertical-align:middle;width:15%">@percent</td>
                        </tr>
                    }
                </tbody>
            }
        </table>
    </div>
</div>
<script type="text/javascript">
    var chartData = {
        labels: JSON.parse('@Html.Raw(JsonConvert.SerializeObject(listMissionName))'),
        datasets: [{
            fill: true,
            backgroundColor: JSON.parse('@Html.Raw(JsonConvert.SerializeObject(listColor))'),
            data: JSON.parse('@Html.Raw(JsonConvert.SerializeObject(listVal))'),
            borderColor: JSON.parse('@Html.Raw(JsonConvert.SerializeObject(listColor))'),
        }]
    };
    $(document).ready(function () {
        $("#tableData").freezeHeader();
    });
    var format = function (num) {
        var str = num.toString().replace("$", ""), parts = false, output = [], i = 1, formatted = null;
        if (str.indexOf(".") > 0) {
            parts = str.split(".");
            str = parts[0];
        }
        str = str.split("").reverse();
        for (var j = 0, len = str.length; j < len; j++) {
            if (str[j] != ",") {
                output.push(str[j]);
                if (i % 3 == 0 && j < (len - 1)) {
                    output.push(",");
                }
                i++;
            }
        }
        formatted = output.reverse().join("");
        return (formatted + ((parts) ? "." + parts[1].substr(0, 2) : ""));
    };
    var canvas = document.getElementById("myChart");    

    var ctx = canvas.getContext('2d');
    var myPieChart = new Chart(ctx, {
        type: 'pie',
        responsive: true,        
        data: chartData,
        options: {
            maintainAspectRatio: false,
            tooltips: {
                callbacks: {
                    label: function (tooltipItem, data) {
                        var allData = data.datasets[tooltipItem.datasetIndex].data;
                        var tooltipLabel = data.labels[tooltipItem.index];
                        var tooltipData = allData[tooltipItem.index];
                        var total = 0;
                        for (var i in allData) {
                            total += allData[i];
                        }
                        var tooltipPercentage = ((tooltipData / total) * 100).toFixed(2);
                        return tooltipLabel + ': ' + format(tooltipData) + ' (' + tooltipPercentage + '%)';
                    }
                }
            },
            title: {
                display: true,
                text: 'Biểu đồ kinh phí kế hoạch theo nhiệm vụ'
            },
            legend: {
                display: true,
                position: 'top'
            },
            pieceLabel: {
                render: ['label','percentage'],
                fontColor: 'white',
                precision: 2
            }
        }
    });    

</script>
