﻿@using IInterface.Common
@using IModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Period> listPeriod = ViewData["listPeriod"] as List<Period>;
    int year = DateTime.Now.Year;
    List<SelectListItem> listSelect = new List<SelectListItem>();
    string periodName = listPeriod[0].PeriodName;
    foreach (Period p in listPeriod)
    {
        bool isSelected = p.FromDate.Year <= year && p.ToDate.Year >= year;
        if (isSelected)
        {
            periodName = p.PeriodName;
        }
        listSelect.Add(new SelectListItem { Value = p.PeriodID.ToString(), Text = p.PeriodName, Selected = isSelected });
    }
    periodName = periodName.ToUpper();
}
<script type="text/javascript" src="~/Scripts/jquery.freezeheader.js"></script>
<div class="box">
    <div class="box-header with-border">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-8 text-center">
                    <div class="box-title">
                        <h4 id="title">BẢNG TỔNG HỢP CHI PHÍ @periodName.ToUpper()</h4>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box-tools">
                        <div class="form-group">
                            <div class="input-group">
                                @Html.DropDownList("PeriodID", listSelect, new { @class = "form-control select2" })
                                <div class="input-group-btn">
                                    <button class="btn btn-primary" onclick="loadAction()" type="button"><i class="fa fa-recycle"></i> Tổng hợp</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="box-body" id="divResult">        
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("select").select2();
    });
    $("#PeriodID").change(function () {
        var name = $("#PeriodID option:selected").text();
        $("#title").html("BẢNG TỔNG HỢP CHI PHÍ " + name.toUpperCase());
    });
    function loadAction() {
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetListAction", "ReportMissionPlanCost")',
            data: { "periodID": $('#PeriodID').val() },
            success: function (result) {
                $('#divResult').html(result);
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }
</script>