﻿@using IInterface.Models
@using IInterface.Common
@model UserModel
@{
    List<SelectListItem> listRole = ViewData["listRole"] as List<SelectListItem>;
    List<SelectListItem> listDepartment = ViewData["listDepartment"] as List<SelectListItem>;
    List<SelectListItem> listDepartmentManage = ViewData["listDepartmentManage"] as List<SelectListItem>;
    string check = Model != null && Model.IsHeadOffice ? "checked" : string.Empty;
    string disable = Model != null && Model.IsHeadOffice ? "disabled" : string.Empty;
    string styleDeptMan = Model != null && Model.listManageDeptID != null && Model.listManageDeptID.Length > 0 ? "" : "display:none";
}
<style>
    .fullWidth {
        width: 100%;
    }
</style>
@using (Ajax.BeginForm("", "", new AjaxOptions()
{
    HttpMethod = "post"
}, new { id = "frmAddOrEdit" }))
{
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title ">
                    @if (Model != null && Model.UserID > 0)
                    {
                        @Html.HiddenFor(x => x.UserID)
                        <text>Cập nhật tài khoản</text>
                    }
                    else
                    {
                        <text>Cấp mới tài khoản</text>
                    }
                </h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-md-2">Tên đăng nhập<span class="text-red"> *</span></label>
                        <div class="col-md-4">
                            @Html.TextBoxFor(x => x.UserName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.UserName)
                        </div>
                        @if (Model != null && Model.UserID > 0)
                        {
                            <label class="control-label col-md-2">Cấp lại mật khẩu</label>
                            <div class="col-md-4">
                                <a href="javascript:void(0)" onclick="resetPassword('@Model.UserID')" data-toggle="tooltip" title="Cấp lại mật khẩu"><i class="fa fa-recycle" style="font-size:18px"></i></a>
                            </div>
                        }
                        else
                        {
                            <label class="control-label col-md-2">Mật khẩu<span class="text-red"> *</span></label>
                            <div class="col-md-4">
                                <div class="input-group">
                                    @Html.PasswordFor(x => x.Password, new { @class = "form-control", id = "Password", disabled = "true" })
                                    <span class="input-group-addon">
                                        <input type="checkbox" checked="checked" id="IsAutoPass" onclick="checkAutoPass(this)" value="true" /> Tự cấp
                                    </span>
                                </div>
                                @Html.ValidationMessageFor(x => x.Password)
                            </div>
                        }
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">Họ tên<span class="text-red"> *</span></label>
                        <div class="col-md-4">
                            @Html.TextBoxFor(x => x.FullName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.FullName)
                        </div>
                        <label class="control-label col-md-2">Chức vụ</label>
                        <div class="col-md-4">
                            <div class="input-group">
                                @if (!string.IsNullOrWhiteSpace(check))
                                {
                                    @Html.TextBoxFor(x => x.Position, new { @class = "form-control", id = "Position", disabled = "true" })
                                }
                                else
                                {
                                    @Html.TextBoxFor(x => x.Position, new { @class = "form-control", id = "Position" })
                                }
                                <span class="input-group-addon">
                                    <input type="checkbox" id="IsHeadOffice" @check onclick="checkTP(this)" value="false" /> Trưởng phòng
                                </span>
                            </div>
                            @Html.ValidationMessageFor(x => x.Position)
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">Số điện thoại</label>
                        <div class="col-md-4">
                            @Html.TextBoxFor(x => x.PhoneNumber, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.PhoneNumber)
                        </div>
                        <label class="control-label col-md-2">Email</label>
                        <div class="col-md-4">
                            @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.Email)
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">Đơn vị</label>
                        <div class="col-md-10">
                            @Html.DropDownListFor(x => x.DepartmentID, listDepartment, new { @class = "js-example-basic-single form-control", style = "width:100%" })
                            @Html.ValidationMessageFor(x => x.DepartmentID)
                        </div>
                    </div>
                    <div class="form-group" id="divDeptManage" style="@styleDeptMan">
                        <label class="control-label col-md-2">Đơn vị quản lý</label>
                        <div class="col-md-10">
                            @Html.ListBoxFor(x => x.listManageDeptID, listDepartmentManage, new { multiple = "multiple", @class = "js-example-basic-single form-control", style = "width:100%" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">Vai trò người dùng</label>
                        <div class="col-md-10">
                            @Html.ListBoxFor(x => x.listRoleID, listRole, new { multiple = "multiple", @class = "js-example-basic-single form-control", style = "width:100%" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2"></label>
                        <div class="col-md-10">
                            <div class="input-group">
                                <span class="input-group-btn">
                                    <span class="btn btn-default btn-file">
                                        <i class="fa fa-paperclip"></i> <span id="FileName">Ảnh đại diện</span>
                                        <input id="txtUploadImage" name="txtUploadImage" type="file">
                                    </span>
                                </span>
                                @if (Model != null && Model.UserID > 0)
                                {
                                    <span class="form-control">
                                        <input type="checkbox" id="IsDelAvatar" value="false" onclick="setValue(this)" /> Xóa ảnh đại diện
                                    </span>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success" onclick="addOrEditUser()">
                    <i class="fa fa-save"></i>
                    Lưu
                </button>
                <button type="button" data-dismiss="modal" class="btn btn-default"><i class="fa fa-ban"></i> Hủy</button>
            </div>
        </div>
    </div>
}
<script type="text/javascript">
    $(document).ready(function () {
        $('select').select2();
        $.validator.unobtrusive.parse("#frmAddOrEdit");
        $('#txtUploadImage').bind('change', function () {
            var curFile = this.files[0];
            $('#frmAddOrEdit #FileName').text(curFile.name);
        });
        $("#DepartmentID").change(function () {
            $.ajax({
                type: "POST",
                url: '@Url.Action("GetDeptType", "User")',
                data: { deptID: $("#DepartmentID").val() },
                success: function (deptType) {
                    var pb = @Constants.DEPT_TYPE_PBQUY;
                    if(deptType == pb){
                        $('#divDeptManage').show();
                    } else {
                        $('#divDeptManage').hide();
                    }
                },
                error: function (xhr) {
                    CommonJS.alert(xhr.responseText);
                }
            });
        });

    });

    function setValue(item) {
        if ($(item).is(':checked')) {
            $(item).attr("value", "true");
        } else {
            $(item).attr("value", "false");
        }
    }

    function checkAutoPass(item) {
        if ($(item).is(':checked')) {
            $("#frmAddOrEdit #Password").attr("disabled", "true");
            $(item).attr("value", "true");
        } else {
            $("#frmAddOrEdit #Password").removeAttr("disabled");
            $(item).attr("value", "false");
        }
    }

    function checkTP(item) {
        if ($(item).is(':checked')) {
            $("#frmAddOrEdit #Position").attr("disabled", "true");
            $(item).attr("value", "true");
        } else {
            $("#frmAddOrEdit #Position").removeAttr("disabled");
            $(item).attr("value", "false");
        }
    }

    function addOrEditUser() {
        if (!$("#frmAddOrEdit").valid()) {
            return false;
        }
        var hidUserID = $('#frmAddOrEdit #UserID');
        var userName = $("#frmAddOrEdit #UserName").val();
        var phoneNumber = $("#frmAddOrEdit #PhoneNumber").val();
        var password = $("#frmAddOrEdit #Password").val();
        if (hidUserID == undefined || hidUserID.val() == undefined || $.trim(hidUserID.val()) == '') {
            if (!$("#frmAddOrEdit #IsAutoPass").is(':checked')) {
                if (password == null || password == "") {
                    $("#frmAddOrEdit #Password").focus();
                    CommonJS.alert("Chưa nhập mật khẩu", false);
                    return false;
                }
            }
        }

        if (window.FormData !== undefined) {
            var fileData = new FormData();
            var fileUpload = $("#frmAddOrEdit #txtUploadImage").get(0);
            var files = fileUpload.files;
            var fileName = $("#frmAddOrEdit #FileName").html();
            if (hidUserID != undefined && hidUserID.val() != undefined && $.trim(hidUserID.val()) != '') {
                fileData.append("UserID", hidUserID.val());
            }
            fileData.append("UserAvatar", files[0]);
            fileData.append("AvatarName", fileName);
            fileData.append("UserName", $("#frmAddOrEdit #UserName").val());
            fileData.append("FullName", $("#frmAddOrEdit #FullName").val());
            fileData.append("PhoneNumber", $("#frmAddOrEdit #PhoneNumber").val());
            fileData.append("Password", $("#frmAddOrEdit #Password").val());
            fileData.append("Position", $("#frmAddOrEdit #Position").val());
            fileData.append("DepartmentID", $("#frmAddOrEdit #DepartmentID").val());
            fileData.append("Email", $("#frmAddOrEdit #Email").val());
            fileData.append("RoleIDs", $("#frmAddOrEdit #listRoleID").val());
            fileData.append("ManageDeptIDs", $("#frmAddOrEdit #listManageDeptID").val());
            fileData.append("IsAutoPass", $("#frmAddOrEdit #IsAutoPass").val());
            fileData.append("IsDelAvatar", $("#frmAddOrEdit #IsDelAvatar").val());
            fileData.append("IsHeadOffice", $("#frmAddOrEdit #IsHeadOffice").val());
            $.ajax({
                type: "POST",
                url: '@Url.Action("AddOrEditUser", "User")',
                contentType: false, // Not to set any content header
                processData: false, // Not to process data
                data: fileData,
                success: function (data) {
                    CommonJS.alert(data);
                    if (hidUserID == undefined || hidUserID.val() == undefined || $.trim(hidUserID.val()) == '') {
                        $("#frmAddOrEdit #UserName").val("");
                        $("#frmAddOrEdit #FullName").val("");
                        $("#frmAddOrEdit #PhoneNumber").val("");
                        $("#frmAddOrEdit #Position").val("");
                        $("#frmAddOrEdit #DepartmentID").val("");
                        $("#frmAddOrEdit #Email").val("");
                    } else {
                        $("#modal-user").modal("toggle");
                    }
                    searchUser();
                },
                error: function (xhr) {
                    CommonJS.alert(xhr.responseText);
                }
            });
        }
    }
</script>
