﻿@using IInterface.Common;
@using IInterface.Models;
<style>
    .imgAvatar {
        width: 25px;
        height: 25px;
    }
</style>
@{
    Paginate<UserModel> paginate = ViewData["listUser"] as Paginate<UserModel>;
    var grid = new WebGrid(
                          rowsPerPage: paginate.PageSize,
                          canPage: true,
                          canSort: false,
                          ajaxUpdateContainerId: "gridUser",
                          ajaxUpdateCallback: "unCheckAll()"
                          );

    grid.Bind(paginate.List,
    autoSortAndPage: false,
    rowCount: paginate.Count);
    grid.Pager(WebGridPagerModes.All);
}
@{
    if (paginate.Count > 0)
    {
        var gridColumns = new List<WebGridColumn>();


        gridColumns.Add(grid.Column("", "", format: @<text><input type="checkbox" onclick="checkOne(this)" value="@item.UserID" name="userIds" class="cbx" /></text>, style: ""));
        gridColumns.Add(grid.Column("UserName", "Tài khoản", format: @<text>
            @{
                if (item.Avatar != null)
                {
                    string imageBase64 = Convert.ToBase64String(item.Avatar);
                    string imageSrc = string.Format("data:image/jpg;base64,{0}", imageBase64);
                    <img src="@imageSrc" width="25" height="25" class="img-circle" />
                }
                else
                {
                    <img src="~/Content/Images/avatar-default.jpg" width="25" height="25" class="img-circle" />
                }

            }
            &nbsp;@item.UserName
        </text>, style: ""));
                gridColumns.Add(grid.Column("Password", "Mật khẩu"));
                gridColumns.Add(grid.Column("FullName", "Họ tên"));
                gridColumns.Add(grid.Column("DepartmentName", "Đơn vị"));
                gridColumns.Add(grid.Column("PhoneNumber", "Điện thoại"));
                gridColumns.Add(grid.Column("LastLoginDate", "Lần truy cập cuối", format: (x) => x.LastLoginDate == null ? "Chưa đăng nhập" : string.Format("{0:dd/MM/yyyy HH:mm:ss}", x.LastLoginDate)));
                gridColumns.Add(grid.Column("Status", "Trạng thái", format: @<text>
            @if (item.Status == Constants.IS_NOT_ACTIVE)
            {
                <span class="label label-danger">Chưa hiệu lực</span>
            }
            else
            {
                <span class="label label-success">Đã kích hoạt</span>
            }
                </text>));
                gridColumns.Add(grid.Column(format: @<text>
                    @if (item.Status == 0)
                    {
                        <a href="javascript:void(0)" onclick="activeUserSingle('@item.UserID')" data-toggle="tooltip" title="Kích hoạt tài khoản"><i class="fa fa-unlock" style="font-size:18px"></i></a>
                    }
                    else
                    {
                        <a href="javascript:void(0)" onclick="lockUserSingle('@item.UserID')" data-toggle="tooltip" title="Khóa tài khoản"><i class="fa fa-lock" style="font-size:18px"></i></a>
                    }

                </text>, style: ""));
                gridColumns.Add(grid.Column(format: @<text><a href="javascript:void(0)" onclick="openAddOrEditUser('@item.UserID')" data-toggle="tooltip" title="Sửa tài khoản"><i class="fa fa-pencil-square-o" style="font-size:18px"></i></a></text>, style: ""));
                gridColumns.Add(grid.Column(format: @<text><a href="javascript:void(0)" onclick="resetPassword('@item.UserID')" data-toggle="tooltip" title="Cấp lại mật khẩu"><i class="fa fa-recycle" style="font-size:18px"></i></a></text>, style: ""));
                @grid.GetHtml(htmlAttributes: new { id = "gridUser" },   // id for ajaxUpdateContainerId parameter
          fillEmptyRows: false,
          tableStyle: "table table-hover table-striped",
          footerStyle: "table-pager",
          alternatingRowStyle: "altRow",
          selectedRowStyle: "selectRow",
          mode: WebGridPagerModes.All,
          columns: gridColumns)
                }
                else
                {
                    <div style="color:red;margin-left:10px;">
                        Không có người dùng nào
                    </div>
                }
}
<script type="text/javascript">
    function unCheckAll() {
        $("#iAll").attr("class", "fa fa-square-o");
    }

    function resetPassword(id) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("ResetPassword", "User")',
            data: { 'id': id },
            success: function (data) {
                CommonJS.alert(data);
                searchUser();
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }

    function activeUserSingle(id) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("ActiveUserSingle", "User")',
            data: { 'id': id },
            success: function (data) {
                CommonJS.alert(data);
                searchUser();
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }

    function lockUserSingle(id) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("LockUserSingle", "User")',
            data: { 'id': id },
            success: function (data) {
                CommonJS.alert(data);
                searchUser();
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }
</script>