﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript" src="~/Scripts/jquery.freezeheader.js"></script>
<div class="row">
    <div class="col-lg-12">
        <div class="box box-success">
            <div class="box-header with-border">
                <div class="col-lg-12">
                    @using (Ajax.BeginForm("SearchUser", "User", new AjaxOptions
                    {
                        HttpMethod = "get",
                        UpdateTargetId = "divListUser"
                    }, new { id = "frmSearch" }))
                    {
                        <h3 class="box-title"></h3>
                        <div class="input-group">
                            <input id="Keyword" name="Keyword" class="form-control" placeholder="Từ khóa tìm kiếm" type="text" />
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="submit"> <i class="fa fa-search"></i> Tìm kiếm</button>
                                <button class="btn btn-success" onclick="openAddOrEditUser(-1)"><i class="fa fa-plus"></i> Thêm mới</button>
                            </span>
                        </div>
                    }
                </div>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="btn-group" role="group">
                            <button class="btn btn-default btn-sm" onclick="checkAll(this, true)"><i id="iAll" class="fa fa-square-o"></i></button>
                        </div>
                        <div class="btn-group" role="group">
                            <button class="btn btn-success btn-sm" onclick="activeUser()" title="Kích hoạt tài khoản"><i class="fa fa-unlock"></i> Kích hoạt tài khoản</button>
                        </div>
                        <div class="btn-group" role="group">
                            <button class="btn btn-warning btn-sm" onclick="lockUser()" title="Khóa tài khoản"><i class="fa fa-lock"></i> Khóa tài khoản</button>
                        </div>

                        <div class="btn-group" role="group">
                            <button class="btn btn-danger btn-sm" onclick="deleteUser()" title="Xóa tài khoản"><i class="fa fa-trash-o"></i> Xóa tài khoản</button>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-lg-12" id="divListUser">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="modal-user" class="modal fade" role="dialog"></div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#frmCreate #MemberID").hide();
        searchUser();
    });

    function searchUser() {
        $("#frmSearch").submit();
    }

    function checkAll(item, checked) {
        if (checked) {
            $("#iAll").attr("class", "fa fa-check-square-o");
        } else {
            $("#iAll").attr("class", "fa fa-square-o");
        }
        $("#gridUser tbody input:checkbox[name='userIds']").prop("checked", checked);
        checked = !checked;
        $(item).attr("onclick", "checkAll(this, " + checked + ")");
    }


    function checkOne(item) {
        if (!$(item).is(':checked')) {
            $("#iAll").attr("class", "fa fa-square-o");
        } else {
            if ($("#gridUser tbody input:checkbox[name='userIds']:checked").length == $("#gridUser tbody input:checkbox[name='userIds']").length) {
                $("#iAll").attr("class", "fa fa-check-square-o");
            }
        }
    }
    function openAddOrEditUser(id) {
        var dataPost = (id <= 0 ? {} : { userId: id });
        $.ajax({
            type: "POST",
            url: '@Url.Action("OpenAddOrEditUser", "User")',
            data: dataPost,
            success: function (result) {
                $("#modal-user").html(result);
                $("#modal-user").modal("show");
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }


    function deleteUser() {
        var userIds = $("#gridUser tbody").find("input:checkbox[name='userIds']:checked");
        if (userIds.length == 0) {
            CommonJS.alert("Chưa chọn tài khoản nào để xóa");
            return;
        }
        if (!confirm("Bạn có chắc chắn muốn xóa tài khoản?")) {
            return;
        }
        $.ajax({
            type: "POST",
            url: '@Url.Action("DeleteUser", "User")',
            data: userIds,
            success: function (data) {
                CommonJS.alert("Xóa tài khoản thành công");
                searchUser();
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }

    function lockUser() {
        var userIds = $("#gridUser tbody").find("input:checkbox[name='userIds']:checked");
        if (userIds.length == 0) {
            CommonJS.alert("Chưa chọn tài khoản nào để khóa");
            return;
        }
        $.ajax({
            type: "POST",
            url: '@Url.Action("LockUser", "User")',
            data: userIds,
            success: function (data) {
                CommonJS.alert("Khóa tài khoản thành công");
                searchUser();
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }

    function activeUser() {
        var userIds = $("#gridUser tbody").find("input:checkbox[name='userIds']:checked");
        if (userIds.length == 0) {
            CommonJS.alert("Chưa chọn tài khoản nào để kích hoạt");
            return;
        }
        $.ajax({
            type: "POST",
            url: '@Url.Action("ActiveUser", "User")',
            data: userIds,
            success: function (data) {
                CommonJS.alert("Kích hoạt tài khoản thành công");
                searchUser();
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }
</script>