﻿
@using IInterface.Common;
@using IInterface.Models;
@using IModel;


@{
    List<PlanTargetModel> lstSubTartget = ViewData["PlanTarget"] as List<PlanTargetModel>;
    if (lstSubTartget == null)
    {
        lstSubTartget = new List<PlanTargetModel>();
    }
    Period period = ViewData["Period"] as Period;
    int rangeYear = (int)ViewData["RangeYear"];

    int startYear = period.FromDate != null ? period.FromDate.Year : 0;
    int endYear = period.ToDate != null ? period.ToDate.Year : 0;

}
<style>
    input[type=text]:focus {
        width: 250px;
    }
</style>


<div class="box-body">
    <div class="row">
        <div class="col-md-6">
            <button class="btn btn-default" onclick="window.history.back();"><i class="fa fa-reply"></i> Quay lại</button>
        </div>
        <div class="col-md-6">
            <button class="btn btn-success pull-right" onclick="onSaveActionPlanCost()"><i class="fa fa-floppy-o"></i> Lưu thông tin</button>
        </div>
    </div>
    <br />
    <table class="table table-bordered" id="tableData">
        <!-- Table Header -->
        <thead>
            <tr class="bg-info text-white">
                <th rowspan="2" style="text-align:center;vertical-align:middle;width:6%">Mã hoạt động </th>
                <th rowspan="2" style="text-align:center;vertical-align:middle;width:25%">Nội dung hoạt động</th>
                @for (int year = 0; year <= rangeYear; year++)
                {
                    int viewYear = startYear + year;
                    <th colspan="4" style="text-align:center;vertical-align:middle;">Năm @viewYear.ToString()</th>
                }



                <th rowspan="2" style="text-align:center;vertical-align:middle;">Tổng NS năm @startYear + @endYear </th>
            </tr>
            <tr class="bg-info text-white">
                @for (int year = 0; year < (rangeYear + 1); year++)
                {
                    <th style="text-align:center;vertical-align:middle;width:6%">ĐVT</th>
                    <th style="text-align:center;vertical-align:middle;width:3%">Số lượng</th>
                    <th style="text-align:center;vertical-align:middle;">Đơn giá</th>
                    <th style="text-align:center;vertical-align:middle;">Thành tiền</th>

                }

            </tr>
        </thead>
        <!-- Table Header -->
        <tbody>

            @foreach (PlanTargetModel ptm in lstSubTartget)
            {
                <tr class="success">
                    <td style="text-align:center"></td>

                    <td>
                        <b>
                            @* @ptm.SubTargetTitle: &nbsp; *@
                            @ptm.PlanTargetContent
                        </b>
                    </td>
                    @for (int i = 1; i <= (rangeYear + 1) * 4; i++)
                    {
                        string ptSCost = string.Empty;
                        if(i % 4 == 0)
                        {
                            int idx = startYear + (i / 4) - 1;
                            SubActionPlanCostModel ptCost = ptm.ListSubActionPlanCost != null ? ptm.ListSubActionPlanCost.Where(x => x.PlanYear == idx).FirstOrDefault() : null;
                            if(ptCost != null && ptCost.TotalPrice.GetValueOrDefault() > 0)
                            {
                                ptSCost = ptCost.TotalPrice.GetValueOrDefault().ToString();
                            }
                        }
                        if (rangeYear <= 1)
                        {
                            if (i > 0 && i == 4)
                            {
                                var lblTotalValStart = @ptm.PlanTargetID + "_" + startYear;
                                var lblTotalEnd = @ptm.PlanTargetID + "_" + (startYear + rangeYear);
                                <td style="text-align:right">

                                    <input style="text-align:right; background-color:#dff0d8" type="text"  name="SubTotal" id="Total_@lblTotalValStart" value="@ptSCost" class="form-control input-sm " />
                                </td>
                            }
                            else if (i > 4 && i % 4 == 0)
                            {
                                var lblTotalStart = @ptm.PlanTargetID + "_" + startYear;
                                var lblTotalValEnd = @ptm.PlanTargetID + "_" + (startYear + rangeYear);
                                <td style="text-align:right">
                                    <input style="text-align:right;  background-color:#dff0d8 " type="text" onchange="onChangeSubTotal('Total_@lblTotalStart','Total_@lblTotalValEnd','AllTotal_@ptm.PlanTargetID')" name="SubTotal" id="Total_@lblTotalValEnd" value="@ptSCost" class="form-control input-sm" />
                                </td>
                            }
                            else
                            {
                                <td></td>
                            }
                        }
                        else
                        {
                            if (i > 0 && i == 4)
                            {
                                var lblTotalValStart = @ptm.PlanTargetID + "_" + startYear;
                                <td><input style="text-align:right ;background-color:#dff0d8" type="text" name="SubTotal" id="Total_@lblTotalValStart" value="@ptSCost" class="form-control input-sm" /></td>
                            }
                            else if (i > 4 && i % 4 == 0)
                            {
                                var lblTotalValEnd = @ptm.PlanTargetID + "_" + (startYear + (rangeYear - 1));
                                <td><input style="text-align:right;background-color:#dff0d8" type="text" name="SubTotal" id="Total_@lblTotalValEnd" value="@ptSCost" class="form-control input-sm" /></td>
                            }
                            else
                            {
                                <td></td>
                            }
                        }

                    }

                    <td style="text-align:right">
                        <input type="text" style="text-align:right;background-color:#dff0d8" name="Total" id="AllTotal_@ptm.PlanTargetID" value="@ptm.TotalBudget" class="form-control input-sm" />
                </tr>
                foreach (var pta in ptm.ListPlanTargetActionModel)
                {

                    <tr>
                        @if (pta.ListSubActionPlan.Count == 0)
                        {
                            <td style="text-align:center">
                                
                                    <a data-toggle="modal" data-target="#modalSpendItem" onclick="preparAddActionSpendItem('@pta.SumCostType', '@pta.PlanTargetActionID','','@period.PeriodID','@ptm.PlanTargetID')">
                                        <span class="fa fa-plus-square"></span>
                                    </a>

                                @pta.ActionCode
                            </td>

                            <td>
                                @pta.ActionContent
                            </td>
                        }
                        else
                        {
                            <td style="text-align:center">
                               
                               <b> @pta.ActionCode </b>
                            </td>

                            <td>
                                <b>@pta.ActionContent</b>
                               
                            </td>
                        }

                        @foreach (var obj in pta.ListSubActionPlanCost)
                        {
                           
                            var txtId = ptm.PlanTargetID + "_" + obj.PlanYear + "_" + obj.SubActionPlanCostID + "_" + obj.PlanTargetAcionID;
                            var idTest = ptm.PlanTargetID + "_" + obj.PlanYear;
                            if ((pta.ListSubActionPlan.Count == 0) || pta.SumCostType!=null)
                            {
                                
                                  <td style="text-align:center">
                                        <input type="hidden" name="HddVal" id="HddVal_@txtId" value="@txtId" />
                                        <input type="text" name="Unit" id="Unit_@txtId" value="@obj.Unit" class="form-control input-sm"  />

                                    </td>
                                    <td style="text-align:center;"> <input type="text" name="Quantity" id="Quantity_@txtId" value="@obj.Quantity" onkeypress="return isNumberKey(event);onChangeTotalPrice('TotalPrice_@txtId')" onchange="onChangeValue('Quantity_@txtId','Price_@txtId','TotalPrice_@txtId');onChangeTotalPrice('TotalPrice_@txtId')" onblur="onChangeValue('Quantity_@txtId','Price_@txtId','TotalPrice_@txtId');onChangeTotalPrice('TotalPrice_@txtId')" class="form-control input-sm" style="text-align:right;" parentId="@ptm.PlanTargetID" myId="@obj.PlanYear@obj.PlanTargetAcionID" /> </td>

                                    <td style="text-align:center"> <input type="text" name="Price" id="Price_@txtId" value="@obj.Price" onkeypress="return isNumberKey(event);onChangeTotalPrice('TotalPrice_@txtId')" onchange="onChangeValue('Quantity_@txtId','Price_@txtId','TotalPrice_@txtId'); onChangeTotalPrice('TotalPrice_@txtId')" onblur="onChangeValue('Quantity_@txtId','Price_@txtId','TotalPrice_@txtId')" class="form-control input-sm" style="text-align:right;" parentId="@ptm.PlanTargetID" myId="@obj.PlanYear@obj.PlanTargetAcionID"  /> </td>
                                    <td style="text-align:center">
                                        <input type="text" name="TotalPrice" id="TotalPrice_@txtId"  value="@obj.TotalPrice" class="form-control input-sm" style="text-align:right;" readonly="readonly" parentId="@ptm.PlanTargetID" myId="@obj.PlanYear@pta.PlanTargetActionID"  />

                                    </td>
                            }
                            else
                            {
                                <td style="text-align:center">
                                    <input type="hidden" name="HddVal" id="HddVal_@txtId" value="@txtId" />
                                    <input type="text" readonly="readonly"  name="Unit" id="Unit_@txtId" value="@obj.Unit" class="form-control input-sm" style="display:none"  />

                                </td>
                                    <td style="text-align:center;"> <input type="text" readonly="readonly"  name="Quantity" id="Quantity_@txtId" value="@obj.Quantity" onkeypress="return isNumberKey(event);" onchange="onChangeValue('Quantity_@txtId','Price_@txtId','TotalPrice_@txtId');onChangeTotalVal('@idTest','TotalPrice_@idTest')" onblur="onChangeValue('Quantity_@txtId','Price_@txtId','TotalPrice_@txtId');onChangeTotalVal('@idTest','TotalPrice_@idTest')" class="form-control input-sm" style="text-align:right;display:none" parentId="@ptm.PlanTargetID" myId="@obj.PlanYear@obj.PlanTargetAcionID" /> </td>

                                    <td style="text-align:center"> <input type="text" readonly="readonly"  name="Price" id="Price_@txtId" value="@obj.Price" onkeypress="return isNumberKey(event);onChangeTotalVal('@idTest','TotalPrice_@idTest')" onchange="onChangeValue('Quantity_@txtId','Price_@txtId','TotalPrice_@txtId'); onChangeTotalVal('@idTest','TotalPrice_@idTest')" onblur="onChangeValue('Quantity_@txtId','Price_@txtId','TotalPrice_@txtId')" class="form-control input-sm" style="text-align:right;display:none" parentId="@ptm.PlanTargetID" myId="@obj.PlanYear@obj.PlanTargetAcionID" /> </td>

                                    <td style="text-align:center">
                                        <input type="text" name="TotalPrice" id="TotalPrice_@txtId"  value="@obj.TotalPrice" class="form-control input-sm" style="text-align:right" readonly="readonly"   parentId="@ptm.PlanTargetID" myId="@obj.PlanYear@pta.PlanTargetActionID" />
                                    </td>
                            }

                        }

                        <td>
                            <input type="text" class="form-control input-sm" name="SumTotalBudget" id="SumTotal_@pta.PlanTargetActionID" readonly="readonly" myId="@pta.PlanTargetActionID" value="@pta.TotalBudget" style="text-align:right">

                        </td>

                    </tr>
                    foreach (var subActionPlan in pta.ListSubActionPlan)
                    {
                        <tr>
                            @if (subActionPlan.ListChildSubActionPlan.Count == 0)

                            {
                                <td style="text-align:center">
                                    <a data-toggle="modal" data-target="#modalSpendItem" onclick="preparAddActionSpendItem('@subActionPlan.SumCostType','@subActionPlan.PlanTargetActionID','@subActionPlan.SubActionPlanID','@period.PeriodID','@ptm.PlanTargetID')">
                                        <span class="fa fa-plus-square"></span>
                                    </a>
                                    @subActionPlan.SubActionCode
                                </td>
                            }
                            else
                            {
                                <td style="text-align:center">
 
                                    @subActionPlan.SubActionCode

                                </td>
                            }
                          
                            <td>           
                                    @subActionPlan.SubActionContent                                
                            </td>
                           
                                @foreach (var subPlanActionCost in subActionPlan.ListSubActionPlanCost)
                                {
                                    var txtId = ptm.PlanTargetID + "_" + subPlanActionCost.PlanYear + "_" + subPlanActionCost.SubActionPlanCostID + "_" + subPlanActionCost.SubActionPlanID;
                                    var idTest = ptm.PlanTargetID + "_" + subPlanActionCost.PlanYear;
                                        if (subActionPlan.ListChildSubActionPlan.Count == 0)
                                        {

                                            <td style="text-align:center">
                                                <input type="hidden" name="HddVal" id="HddVal_@txtId" value="@txtId" />
                                                <input type="text" name="Unit" id="Unit_@txtId" value="@subPlanActionCost.Unit" class="form-control input-sm"  />

                                            </td>
                                            <td style="text-align:center"> <input type="text" name="Quantity" id="Quantity_@txtId" value="@subPlanActionCost.Quantity" onkeypress='return isNumberKey(event)' onchange="onChangeValue('Quantity_@txtId','Price_@txtId','TotalPrice_@txtId');onChangeTotalPrice('TotalPrice_@txtId')" class="form-control input-sm" style="text-align:right;" parentId="@pta.PlanTargetActionID" myId="@subPlanActionCost.PlanYear@subActionPlan.SubActionPlanID"  /> </td>

                                            <td style="text-align:center"> <input type="text" name="Price" id="Price_@txtId" value="@subPlanActionCost.Price" onkeypress='return isNumberKey(event)' onchange="onChangeValue('Quantity_@txtId','Price_@txtId','TotalPrice_@txtId');onChangeTotalPrice('TotalPrice_@txtId')" class="form-control input-sm" style="text-align:right;" parentId="@pta.PlanTargetActionID" myId="@subPlanActionCost.PlanYear@subActionPlan.SubActionPlanID" /> </td>
                                            <td style="text-align:center">
                                                <input type="text" name="TotalPrice" id="TotalPrice_@txtId" readonly="readonly"   value="@subPlanActionCost.TotalPrice" class="form-control input-sm" style="text-align:right;" parentId="@pta.PlanTargetActionID" myId="@subPlanActionCost.PlanYear@subActionPlan.SubActionPlanID" onchange="onChangeTotalPrice('TotalPrice_@txtId')" />

                                            </td>
                                    }
                                    else
                                    {
                                        <td style="text-align:center">
                                            <input type="hidden" name="HddVal" id="HddVal_@txtId" value="@txtId" />
                                            <input type="text" name="Unit" id="Unit_@txtId" value="@subPlanActionCost.Unit" class="form-control input-sm" />

                                        </td>
                                        <td style="text-align:center"> <input type="text" readonly="readonly"  name="Quantity" id="Quantity_@txtId" value="@subPlanActionCost.Quantity" onkeypress='return isNumberKey(event)' onchange="onChangeValue('Quantity_@txtId','Price_@txtId','TotalPrice_@txtId')" class="form-control input-sm" style="text-align:right;display:none" parentId="@subActionPlan.SubActionPlanID" myId="@subPlanActionCost.PlanYear@subActionPlan.SubActionPlanID"   /> </td>

                                        <td style="text-align:center"> <input type="text" readonly="readonly"  name="Price" id="Price_@txtId" value="@subPlanActionCost.Price" onkeypress='return isNumberKey(event)' onchange="onChangeValue('Quantity_@txtId','Price_@txtId','TotalPrice_@txtId')" class="form-control input-sm" style="text-align:right;display:none" parentId="@subActionPlan.SubActionPlanID" myId="@subPlanActionCost.PlanYear@subActionPlan.SubActionPlanID"  /> </td>
                                         
                                            <td style="text-align:center">
                                            <input type="text" name="TotalPrice" id="TotalPrice_@txtId" readonly="readonly"  value="@subPlanActionCost.TotalPrice"  class="form-control input-sm" style="text-align:right"  parentId="@pta.PlanTargetActionID" myId="@subPlanActionCost.PlanYear@subActionPlan.SubActionPlanID" onchange="onChangeTotalPrice('TotalPrice_@txtId')" />
                                        </td>
                                    }
                                }
                                <td>
                                    <input type="text" class="form-control input-sm" name="SumTotalBudget" id="SumTotal_@pta.PlanTargetActionID" readonly="readonly" value="@subActionPlan.TotalBudget" style="text-align:right;" parentId="@pta.PlanTargetActionID" >
                                </td>
                            

                        </tr>
                        if(subActionPlan.ListChildSubActionPlan.Count > 0)
                        {

                            foreach (var subChildActionPlan in subActionPlan.ListChildSubActionPlan)
                            {
                                 <tr>
                                     
                                     <td style="text-align:center">
                                         <a data-toggle="modal" data-target="#modalSpendItem" onclick="preparAddActionSpendItem('@subChildActionPlan.SumCostType','@subChildActionPlan.PlanTargetActionID','@subChildActionPlan.SubActionPlanID','@period.PeriodID','@ptm.PlanTargetID')">
                                             <span class="fa fa-plus-square"></span>
                                         </a>
                                         <em>
                                             @subChildActionPlan.SubActionCode
                                         </em>
                                     </td>
                                     <td>
                                         <em>
                                             @subChildActionPlan.SubActionContent
                                        </em>
                                    </td>
                                     
                                    @foreach (var subPlanActionCost in subChildActionPlan.ListSubActionPlanCost)

                                    {
                                        var txtId = ptm.PlanTargetID + "_" + subPlanActionCost.PlanYear + "_" + subPlanActionCost.SubActionPlanCostID + "_" + subPlanActionCost.SubActionPlanID;
                                      //  var idTest = ptm.PlanTargetID + "_" + subPlanActionCost.PlanYear;

                                     <td style="text-align:center">
                                         <input type="hidden" name="HddVal" id="HddVal_@txtId" value="@txtId" />
                                         <input type="text" name="Unit" id="Unit_@txtId" value="@subPlanActionCost.Unit" class="form-control input-sm"  />

                                     </td>
                                     <td style="text-align:center"> <input type="text" name="Quantity" id="Quantity_@txtId" value="@subPlanActionCost.Quantity" onkeypress='return isNumberKey(event)' onchange="onChangeValue('Quantity_@txtId','Price_@txtId','TotalPrice_@txtId') " class="form-control input-sm" style="text-align:right;" parentId="@subActionPlan.SubActionPlanID" myId="@subPlanActionCost.PlanYear@subChildActionPlan.SubActionPlanID" /> </td>

                                     <td style="text-align:center"> <input type="text" name="Price" id="Price_@txtId" value="@subPlanActionCost.Price" onkeypress='return isNumberKey(event)' onchange="onChangeValue('Quantity_@txtId','Price_@txtId','TotalPrice_@txtId')" class="form-control input-sm" style="text-align:right;" parentId="@subActionPlan.SubActionPlanID" myId="@subPlanActionCost.PlanYear@subChildActionPlan.SubActionPlanID" /> </td>
                                     <td style="text-align:center">
                                         <input type="text" name="TotalPrice" id="TotalPrice_@txtId" readonly="readonly"   value="@subPlanActionCost.TotalPrice" class="form-control input-sm" style="text-align:right;" parentId="@subActionPlan.SubActionPlanID" onchange="onChangeTotalPrice('TotalPrice_@txtId')"  />
                                     </td>
                                    
                                     }
                                     <td>
                                         <input type="text" class="form-control input-sm" name="SumTotalBudget" id="SumTotal_@pta.PlanTargetActionID" readonly="readonly" value="@subChildActionPlan.TotalBudget" style="text-align:right">

                                     </td>
                                 </tr>

                                 <!-- Danh muc chi cho tung Subaction con cua SubAction -->
                                foreach (var sub in subChildActionPlan.ListSubActionSpendItem)
                                {
                                    <tr>
                                        <td style="text-align:center">
                                            <a onclick="removeSpendItem('@sub.SubActionSpendItemID')">
                                                <span class="fa fa-remove"></span>
                                            </a>
                                        </td>
                                        
                                        <td>
                                            @if (sub.ParentID == null && sub.ListChild!=null && sub.ListChild.Count > 0)
                                            {
                                                <em>
                                                    <b>
                                                        @sub.SpendItemName
                                                    </b>
                                                </em>
                                            }
                                            else
                                            {
                                                <em>
                                                    @sub.SpendItemName
                                                </em>
                                            }
                                        </td>
                                        @foreach (var subPlanActionCost in sub.ListSubActionPlanCost)
                                        {
                                            var txtId = ptm.PlanTargetID + "_" + subPlanActionCost.PlanYear + "_" + subPlanActionCost.SubActionPlanCostID + "_" + subPlanActionCost.SubActionSpendItemID;
                                            if (sub.ParentID == null && (sub.ListChild != null && sub.ListChild.Count > 0))
                                            {
                                                <td style="text-align:center">
                                                    <input type="hidden" name="HddVal" id="HddVal_@txtId" value="@txtId" />
                                                    <input type="text" name="Unit" id="Unit_@txtId" value="@subPlanActionCost.Unit" class="form-control input-sm" style="display:none" />
                                                </td>
                                                <td style="text-align:center"> <input type="text" name="Quantity" id="Quantity_@txtId" value="@subPlanActionCost.Quantity" onkeypress='return isNumberKey(event)' onchange="onChangeValue('Quantity_@txtId','Price_@txtId','TotalPrice_@txtId')" class="form-control input-sm" style="text-align:right;display:none" /> </td>

                                                <td style="text-align:center"> <input type="text" name="Price" id="Price_@txtId" value="@subPlanActionCost.Price" onkeypress='return isNumberKey(event)' onchange="onChangeValue('Quantity_@txtId','Price_@txtId','TotalPrice_@txtId')" class="form-control input-sm" style="text-align:right;display:none" /> </td>
                                                <td style="text-align:center">
                                                    <input type="text" name="TotalPrice" id="TotalPrice_@txtId" readonly="readonly" value="@subPlanActionCost.TotalPrice" class="form-control input-sm" style="text-align:right" parentId="@pta.PlanTargetActionID" />

                                                </td>
                                            }
                                            else
                                            {
                                                <td style="text-align:center">
                                                    <input type="hidden" name="HddVal" id="HddVal_@txtId" value="@txtId" />
                                                    <input type="text" name="Unit" id="Unit_@txtId" value="@subPlanActionCost.Unit" class="form-control input-sm" />
                                                </td>
                                                <td style="text-align:center"> <input type="text" name="Quantity" id="Quantity_@txtId" value="@subPlanActionCost.Quantity" onkeypress='return isNumberKey(event)' onchange="onChangeValue('Quantity_@txtId','Price_@txtId','TotalPrice_@txtId')" class="form-control input-sm" style="text-align:right;" /> </td>

                                                <td style="text-align:center"> <input type="text" name="Price" id="Price_@txtId" value="@subPlanActionCost.Price" onkeypress='return isNumberKey(event)' onchange="onChangeValue('Quantity_@txtId','Price_@txtId','TotalPrice_@txtId')" class="form-control input-sm" style="text-align:right;" /> </td>
                                                <td style="text-align:center">
                                                    <input type="text" name="TotalPrice" id="TotalPrice_@txtId" readonly="readonly" value="@subPlanActionCost.TotalPrice" class="form-control input-sm" style="text-align:right" parentId="@pta.PlanTargetActionID" />

                                                </td>
                                            }
                                        }
                                        <td>
                                            <input type="hidden" class="form-control input-sm" name="SumTotalBudget" id="SumTotal_@pta.PlanTargetActionID" readonly="readonly" value="@sub.TotalPrice" style="text-align:right;" parentId="@subChildActionPlan.SubActionPlanID">

                                        </td>

                                    </tr>
                                }
                            }

                        }

                        <!-- Muc chi cho cac subAction khong co con-->
                        foreach (var sub in subActionPlan.ListSubActionSpendItem)
                        {
                            <tr>
                                <td style="text-align:center">
                                    <a onclick="removeSpendItem('@sub.SubActionSpendItemID')">
                                        <span class="fa fa-remove"></span>
                                    </a>
                                </td>

                                <td>
                                    @if (sub.ParentID == null && sub.ListChild.Count > 0)
                                    {
                                        <em>
                                            <b>
                                                @sub.SpendItemName
                                            </b>
                                        </em>
                                    }
                                    else
                                    {
                                        <em>
                                            @sub.SpendItemName
                                        </em>
                                    }
                                </td>
                                @foreach (var subPlanActionCost in sub.ListSubActionPlanCost)
                                {
                                    var txtId = ptm.PlanTargetID + "_" + subPlanActionCost.PlanYear + "_" + subPlanActionCost.SubActionPlanCostID + "_" + subPlanActionCost.SubActionSpendItemID;
                                    if (sub.ParentID == null && sub.ListChild.Count > 0)
                                    {
                                        <td style="text-align:center">
                                            <input type="hidden" name="HddVal" id="HddVal_@txtId" value="@txtId" />
                                            <input type="text" name="Unit" id="Unit_@txtId" value="@subPlanActionCost.Unit" class="form-control input-sm" style="display:none"/>
                                        </td>
                                        <td style="text-align:center"> <input type="text" name="Quantity" id="Quantity_@txtId" value="@subPlanActionCost.Quantity" onkeypress='return isNumberKey(event)' onchange="onChangeValue('Quantity_@txtId','Price_@txtId','TotalPrice_@txtId')" class="form-control input-sm" style="text-align:right;display:none" /> </td>

                                        <td style="text-align:center"> <input type="text" name="Price" id="Price_@txtId" value="@subPlanActionCost.Price" onkeypress='return isNumberKey(event)' onchange="onChangeValue('Quantity_@txtId','Price_@txtId','TotalPrice_@txtId')" class="form-control input-sm" style="text-align:right;display:none" /> </td>
                                        <td style="text-align:center">
                                            <input type="text" name="TotalPrice" id="TotalPrice_@txtId" readonly="readonly" value="@subPlanActionCost.TotalPrice" class="form-control input-sm" style="text-align:right" parentId="@pta.PlanTargetActionID" />

                                        </td>
                                    }
                                    else
                                    {
                                        <td style="text-align:center">
                                            <input type="hidden" name="HddVal" id="HddVal_@txtId" value="@txtId" />
                                            <input type="text" name="Unit" id="Unit_@txtId" value="@subPlanActionCost.Unit" class="form-control input-sm" />
                                        </td>
                                        <td style="text-align:center"> <input type="text" name="Quantity" id="Quantity_@txtId" value="@subPlanActionCost.Quantity" onkeypress='return isNumberKey(event)' onchange="onChangeValue('Quantity_@txtId','Price_@txtId','TotalPrice_@txtId')" class="form-control input-sm" style="text-align:right;" /> </td>

                                        <td style="text-align:center"> <input type="text" name="Price" id="Price_@txtId" value="@subPlanActionCost.Price" onkeypress='return isNumberKey(event)' onchange="onChangeValue('Quantity_@txtId','Price_@txtId','TotalPrice_@txtId')" class="form-control input-sm" style="text-align:right;" /> </td>
                                        <td style="text-align:center">
                                            <input type="text" name="TotalPrice" id="TotalPrice_@txtId" readonly="readonly" value="@subPlanActionCost.TotalPrice" class="form-control input-sm" style="text-align:right" parentId="@pta.PlanTargetActionID" />

                                        </td>
                                    }
                                }
                                <td>
                                    <input type="hidden" class="form-control input-sm" name="SumTotalBudget" id="SumTotal_@pta.PlanTargetActionID" readonly="readonly" value="@sub.TotalPrice" style="text-align:right;" parentId ="@subActionPlan.SubActionPlanID">

                                </td>

                            </tr>
                        }
                    }
                    // Muc chi cua hanh dong cha PlanTargetAction
                 
                    foreach (var subSpendItem in pta.ListSubActionSpendItem)
                    {
                        <tr>
                            <td style="text-align:center">
                                <a onclick="removeSpendItem('@subSpendItem.SubActionSpendItemID')">
                                    <span class="fa fa-remove"></span>
                                </a>
                            </td>

                            <td>
                                @if (subSpendItem.ParentID == null && subSpendItem.ListChild!=null && subSpendItem.ListChild.Count > 0)
                                {
                                    <em>
                                     <b>
                                        @subSpendItem.SpendItemName
                                    </b>
                                    </em>
                                }
                                else
                                {
                                    <em>
                                        @subSpendItem.SpendItemName
                                    </em>
                                }

                            </td>
                            @foreach (var subPlanActionCost in subSpendItem.ListSubActionPlanCost)
                            {
                                var txtId = ptm.PlanTargetID + "_" + subPlanActionCost.PlanYear + "_" + subPlanActionCost.SubActionPlanCostID + "_" + subPlanActionCost.SubActionSpendItemID;
                                if (subSpendItem.ParentID == null && subSpendItem.ListChild != null && subSpendItem.ListChild.Count > 0)
                                {
                                    <td style="text-align:center">
                                        <input type="hidden" name="HddVal" id="HddVal_@txtId" value="@txtId" />
                                        <input type="text" name="Unit" id="Unit_@txtId" value="@subPlanActionCost.Unit" class="form-control input-sm" style="display:none" />
                                    </td>
                                    <td style="text-align:center"> <input type="text" name="Quantity" id="Quantity_@txtId" value="@subPlanActionCost.Quantity" onkeypress='return isNumberKey(event)' onchange="onChangeValue('Quantity_@txtId','Price_@txtId','TotalPrice_@txtId')" class="form-control input-sm" style="text-align:right;display:none" /> </td>

                                    <td style="text-align:center"> <input type="text" name="Price" id="Price_@txtId" value="@subPlanActionCost.Price" onkeypress='return isNumberKey(event)' onchange="onChangeValue('Quantity_@txtId','Price_@txtId','TotalPrice_@txtId')" class="form-control input-sm" style="text-align:right;display:none" /> </td>
                                    <td style="text-align:center">
                                        <input type="text" name="TotalPrice" id="TotalPrice_@txtId" readonly="readonly" value="@subPlanActionCost.TotalPrice" class="form-control input-sm" style="text-align:right" parentId="@pta.PlanTargetActionID" />

                                    </td>
                                }
                                else
                                {
                                    <td style="text-align:center">
                                        <input type="hidden" name="HddVal" id="HddVal_@txtId" value="@txtId" />
                                        <input type="text" name="Unit" id="Unit_@txtId" value="@subPlanActionCost.Unit" class="form-control input-sm" />
                                    </td>
                                    <td style="text-align:center"> <input type="text" name="Quantity" id="Quantity_@txtId" value="@subPlanActionCost.Quantity" onkeypress='return isNumberKey(event)' onchange="onChangeValue('Quantity_@txtId','Price_@txtId','TotalPrice_@txtId')" class="form-control input-sm" style="text-align:right;" /> </td>

                                    <td style="text-align:center"> <input type="text" name="Price" id="Price_@txtId" value="@subPlanActionCost.Price" onkeypress='return isNumberKey(event)' onchange="onChangeValue('Quantity_@txtId','Price_@txtId','TotalPrice_@txtId')" class="form-control input-sm" style="text-align:right;" /> </td>
                                    <td style="text-align:center">
                                        <input type="text" name="TotalPrice" id="TotalPrice_@txtId" readonly="readonly" value="@subPlanActionCost.TotalPrice" class="form-control input-sm" style="text-align:right" parentId="@pta.PlanTargetActionID" />

                                    </td>
                                }

                            }
                            <td>
                                <input type="hidden" class="form-control input-sm" name="SumTotalBudget" id="SumTotal_@pta.PlanTargetActionID" readonly="readonly" value="@subSpendItem.TotalPrice" style="text-align:right;">

                            </td>

                        </tr>
                    }
                }
            }

        </tbody>

    </table>

</div>

<div id="modalSpendItem" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Hạng mục chi</h4>
            </div>
            <div class="modal-body" id="modalAddSpendItem">
                @Html.Partial("AddSpendItem")
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    
    var formatCurrency = function(item) {
        var x = $(this).val();
        $(this).val(x.toString().replace(/,/g, "").replace(/\B(?=(\d{3})+(?!\d))/g, ","));
    };

    $.fn.digits = function(){
        return this.each(function(){
            $(this).text( $(this).text().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,") );
        })
    }

    function isNumberKey(evt){
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode > 31 && (charCode < 48 || charCode > 57))
            return false;
        return true;
    }



    function onChangeTotalVal(subTotal,totalPrice) {

        var sum = 0;
        var toTalSum = 0;
        $("#tableData tbody").find("input:text[id*='"+totalPrice+"']").each(function (i, ob) {
            //  alert($(ob).val());
            var total= ($(ob)!=null && $(ob).val()!="") ? parseFloat($(ob).val()):0.0;
            sum += total;

            $("#Total_"+subTotal).val(sum);
            //  $("#AllTotal_"+planTargetID).val(sum);

        });
    }

    function add() {
        var sum = 0;
        for (var i = 0, j = arguments.length; i < j; i++) {
            if (IsNumeric(arguments[i])) {
                sum += parseFloat(arguments[i]);
            }
        }
        return sum;
    }
    function IsNumeric(input) {
        return (input - 0) == input && input.length > 0;
    }


   // var subtotal =0.0;
    function onChangeValue(quantity,price, totalPrice){
        
        var total= ($("#"+totalPrice)!=null && $("#"+totalPrice).val()!="") ? parseFloat($("#"+totalPrice).val()):0.0;

        $("#"+totalPrice).val(total);
        var qua= ($("#"+quantity)!=null && $("#"+quantity).val()!="") ? parseFloat($("#"+quantity).val()):0;
        var pri= ($("#"+price)!=null && $("#"+price).val()!="") ? parseFloat($("#"+price).val()):0.0;

        var subtotal = qua*pri;
        $("#"+totalPrice).val(qua*pri);

        var myId = $("#"+quantity).attr('myId');
        var myParentId = $("#"+quantity).attr('parentId');
        var year = myId.substring(0, 4);
      //  alert(myParentId);
        $("#tableData tbody").find("input:text[name='TotalPrice']").each(function (i, ob) {
            var myId = $(ob).attr('myId');
            //var subParentId = $(ob).attr('parentId');
            if(myId==year+myParentId){
              //  alert(subtotal);
                var parentTotal = 0.0;    
                var subTotalVal= ($(ob)!=null && $(ob).val()!="") ? parseFloat($(ob).val()):0.0;
               // $(ob).val(subTotalVal + subtotal);
            }

        });

    }

    function onChangeTotalValue(totalPrice,totalSumPrice){

        var total= ($("#"+totalPrice)!=null && $("#"+totalPrice).val()!="") ? $("#"+totalPrice).val():0;
        var currVal= ($("#"+totalSumPrice)!=null && $("#"+totalSumPrice)!="") ? $("#"+totalSumPrice).val():0;
        var currVal = parseInt(currVal) + parseInt(total)  ;
        $("#"+totalSumPrice).val(currVal)

    }

    function onChangeSubTotal(subtotalPrice1){
 
        var currVal = 0;
        var val1= ($("#"+subtotalPrice1)!=null && $("#"+subtotalPrice1).val()!="") ? $("#"+subtotalPrice1).val():0;
      //  var val2= ($("#"+subtotalPrice2)!=null && $("#"+subtotalPrice2).val()!="") ? $("#"+subtotalPrice2).val():0;
     //   var currVal = parseFloat(val1) + parseFloat(val2)  ;
      //  $("#"+total).val(currVal)

    }
    function onChangeTotalPrice(subtotalPrice1){
 
        var myId = $("#"+subtotalPrice1).attr('myId');
        var myParentId = $("#"+subtotalPrice1).attr('parentId');
        var year = myId.substring(0, 4);
        var currVal = 0;
     
        $("#tableData tbody").find("input:text[name='TotalPrice']").each(function (i, ob) {
            var submyId = $(ob).attr('myId');
            var subParentId = $(ob).attr('parentId');
           
            //var subParentId = $(ob).attr('parentId');
            if(submyId==year+myParentId){
               // alert(submyId);
                var parentTotal = 0.0;    
                //  var subTotalVal= ($(ob)!=null && $(ob).val()!="") ? parseFloat($(ob).val()):0.0;
              //  var childId = $(ob).attr('parentId');
                if(childId==submyId)
                {
                   // alert(childId);
                }
              
            //    $(ob).val(subTotalVal + subTotal);
      
            }

        });

    }

    function onSaveActionPlanCost() {
        var arrUnit = [];
        var arrQuantity = [];
        var arrPrice = [];
        var arrTotalPrice = [];
        var arrHdd = [];

        $("#tableData tbody").find("input:text[name='Unit']").each(function (i, ob) {
            arrUnit.push($(ob).val());

        });
        $("#tableData tbody").find("input:text[name='Quantity']").each(function (i, ob) {

            arrQuantity.push($(ob).val());

        });
        $("#tableData tbody").find("input:text[name='Price']").each(function (i, ob) {

            arrPrice.push($(ob).val());

        });

        $("#tableData tbody").find("input:text[name='TotalPrice']").each(function (i, ob) {

            arrTotalPrice.push($(ob).val());

        });

        $("#tableData tbody").find("input:hidden[name='HddVal']").each(function (i, ob) {

            arrHdd.push($(ob).val());

        });

        jQuery.ajaxSettings.traditional = true;
        $.ajax({
            type: "POST",
            //   url: "/SubActionPlanTime/UpdateSubActionPlanTime?subTargetId=" + ,

            url: '@Url.Action("UpdateSubActionPlanCost", "SubActionPlanCost")',
            data: { unit: arrUnit, quantity: arrQuantity,price: arrPrice,totalPrice:arrTotalPrice,hdd:arrHdd ,  periodId: @period.PeriodID },

            success: function (data) {

                CommonJS.alert(data);
                window.location.href = "SubActionPlanCost?periodID="+@period.PeriodID;

            },
            error: function (e) {
                CommonJS.alert("Có lỗi hệ thống");
            }
        });

    }


    function preparAddSubActionPlan(PlanTargetAcionID,PeriodID) {

        $.ajax({

            url: '@Url.Action("PreparAddSubActionPlan", "SubActionPlanCost")',
            data: { PlanTargetAcionID: PlanTargetAcionID,PeriodID: PeriodID  },

            success: function (result) {

                $("#modalAddSubActionPlan").html(result);
            },
            error: function (e) {
                CommonJS.alert("Có lỗi hệ thống");
                //   alert("Có lỗi hệ thống" + e.statusText);
            }
        });

    }

    

    function preparAddActionSpendItem(SumCostType,PlanTargetActionID,SubActionPlanID,PeriodID,PlanTargetID) {
       
        $("#SumCostType").val(SumCostType);
        $("#frmSpendItem #PlanTargetActionID").val(PlanTargetActionID);
       
        $("#SubActionPlanID").val(SubActionPlanID);
       
        $("#PeriodID").val(PeriodID);
        $("#PlanTargetID").val(PlanTargetID);
       
        var lblSpendItemName =  $("#lblSpendItemName");
 
      //  alert($("#frmSpendItem #PlanTargetActionID").val());
        if(SumCostType!=null && SumCostType!=""){
            
            lblSpendItemName.html("Chi phí cho 01 hạng mục:");
        }else{
            lblSpendItemName.html("Hạng mục chi phí");
        }
       
    }

    function removeSpendItem(SpendItemID) {

        if (!confirm("Bạn có muốn xóa mục chi?")) {
            return;
        }
        $.ajax({
            type: "POST",
            url: '@Url.Action("RemoveSpendItem", "SubActionPlanCost")',
            data: {spendItemID: SpendItemID},
            success: function (data) {
                CommonJS.alert(data);
              //  $("#modalSpendItem").modal("hide");
                window.location.href = "SubActionPlanCost?periodID=" + @period.PeriodID;
            },
            error: function (e) {
                CommonJS.alert("Có lỗi hệ thống");
                // alert("Có lỗi hệ thống");

            }
        });

    }
</script>
