﻿
@using IInterface.Common;
@using IInterface.Models;

@model SubActionPlanModel

@{
    List<SelectListItem> lstSpendItem = ViewData["ListSpendItem"] as List<SelectListItem>;
}

@using (Ajax.BeginForm("AddSubActionPlan", "SubActionPlanCost", new AjaxOptions()
{
    HttpMethod = "POST",
    OnBegin = "onBegin",
    OnSuccess = "onSuccess",
}, new { id = "frmSpendItem" }))
{


    <input type="hidden" id="PeriodID" />
    <input type="hidden" id="PlanTargetActionID"  />
    <input type="hidden" id="PlanTargetID"  />
    <input type="hidden" id="SumCostType" value="" />
    <input type="hidden" id="SubActionPlanID" />
    <div class="row">
       
        <div class="col-md-12" id="divOtherItem">
                    <table class="table table-bordered" id="tblSpendItem">
                        <tr>
                            <td>

                                <label id="lblSpendItemName"></label>
                            </td>
                            <td>
                                <input type="text" id="txtParentId" class="form-control"  >
                            </td>
                            <td>
                                <input type="button" id="addRow" class="btn btn-default" value="Thêm mục chi phí ">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="addActionSpendItem">Danh mục chi</label>
                            </td>
                            <td>
                                @Html.DropDownList("SpendItemID", lstSpendItem, new { placeholder = "Mục chi", @class = "form-control", id = "SpendItemID" })
                            </td>
                        </tr>
                    </table>
                    <button type="button" id="removeRow" class="btn btn-danger">Loại bỏ</button>
                </div>
        <div class="modal-footer">
                    <button type="button" class="btn btn-success" onclick="onSaveSpendItem()">
                        <i class="fa fa-save"></i>
                        Lưu
                    </button>
                </div>
            </div>
            }

            <script>

                $(document).ready(function () {
                    $("#addRow").click(function () {
                        var markup = "<tr><td style='text-align:right'><input type='checkbox' name='record' ></td><td><input type='text' name='spendItem' class='form-control input sm'></td><td></td></tr>";
                        $("#tblSpendItem tbody").append(markup);
                    });

                    // Find and remove selected table rows
                    $("#removeRow").click(function () {
                        $("#tblSpendItem tbody").find('input[name="record"]').each(function () {
                            if ($(this).is(":checked")) {
                                $(this).parents("tr").remove();
                            }
                        });
                    });
                });

                function onShowHideOther(item) {
                    if ($(item).is(':checked')) {

                        $(item).attr("value", "true");
                        $("#frmSpendItem #divOtherItem").show();
                    } else {
                        $(item).attr("value", "false");
                        $("#frmSpendItem #divOtherItem").hide();
                    }
                }

                function onSaveSubActionSpendItem() {

                    var myFrmData = $("#frmSpendItem").serialize();
                    var periodID = $("#PeriodID").val();
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("AddSubActionPlan", "SubActionPlanCost")',
                        data: myFrmData,
                        success: function (data) {
                            CommonJS.alert(data);
                            $("#modalSpendItem").modal("hide");
                            window.location.href = "SubActionPlanCost?periodID=" + periodID;

                        },
                        error: function (e) {
                            CommonJS.alert("Có lỗi hệ thống");
                            // alert("Có lỗi hệ thống");

                        }
                    });

                }
                function onSaveSpendItem() {

                    var myFrmData = $("#frmSpendItem").serialize();
                    var PeriodID = $("#PeriodID").val();
                    var PlanTargetActionID = $("#frmSpendItem #PlanTargetActionID").val();
                    var arrSpendItem = [];
                    var ParentName = $("#frmSpendItem #txtParentId").val();
                    var SumCostType = $("#SumCostType").val();
                    var SpendItemID = $("#frmSpendItem #SpendItemID").val();
                    var PlanTargetID = $("#PlanTargetID").val();
                    var SubActionPlanID = $("#SubActionPlanID").val();
                   // alert(SpendItemID);
                    var isOther = 0;

                    $("#tblSpendItem tbody").find("input:text[name='spendItem']").each(function (i, ob) {
                            arrSpendItem.push($(ob).val());
                    });

                    jQuery.ajaxSettings.traditional = true;
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("AddSpendItem", "SubActionPlanCost")',

                        data: { IsOther: isOther, PeriodID: PeriodID, PlanTargetActionID: PlanTargetActionID, SubActionPlanID: SubActionPlanID, SumCostType: SumCostType, ParentName: ParentName, SpendItemID: SpendItemID, PlanTargetID: PlanTargetID, SpendItem: arrSpendItem },
                        success: function (data) {
                            CommonJS.alert(data);
                            $("#modalAddSpendItem").modal("hide");
                            window.location.href = "SubActionPlanCost?periodID=" + PeriodID;

                        },
                        error: function (e) {
                            CommonJS.alert("Có lỗi hệ thống");
                            // alert("Có lỗi hệ thống");

                        }
                    });

                }
            </script>
