﻿
@using IInterface.Common;
@using IInterface.Models;

@model SubActionPlanModel

@{ 
    List<SelectListItem> lstSpendItem = ViewData["ListSpendItem"] as List<SelectListItem>;
}

@using (Ajax.BeginForm("AddSubActionPlan", "SubActionPlanCost", new AjaxOptions()
{
    HttpMethod = "POST",
    OnBegin = "onBegin",
    OnSuccess = "onSuccess",
}, new { id = "frmSubAction" }))
{

    @Html.HiddenFor(x => x.PeriodID, new { id = "PeriodID" })
    @Html.HiddenFor(x => x.PlanTargetActionID, new { id = "PlanTargetActionID" })
    @Html.HiddenFor(x => x.ParentPlanTagetActionCode, new { id = "ParentPlanTagetActionCode" })
    <div class="row">
        <div class="col-md-12">
            <!-- Custom Tabs -->
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                  
                    <li class="active"><a href="#tab_2" data-toggle="tab" aria-expanded="true">Mục chi</a></li>
                    <li class=""><a href="#tab_1" data-toggle="tab" aria-expanded="false">Hoạt động</a></li>
                </ul>
                <div class="tab-content">
                    <div  class="tab-pane" id="tab_1">                     
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label for="addActionCode">Nội dung hoạt động cha</label>
                                    @Html.TextBoxFor(x => x.ParentPlanTagetActionContent, new { @class = "form-control", id = "ParentPlanTagetActionContent", @readonly = "readonly" })

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label for="addActionContent">Nội dung</label>
                                    @Html.TextAreaFor(x => x.SubActionContent, new { placeholder = "Nội dung hoạt động", @class = "form-control", id = "SubActionContent" })
                                </div>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-success" onclick="onSaveSubAction()">
                                <i class="fa fa-save"></i>
                                Lưu
                            </button>
                        </div>

                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane active" id="tab_2">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label for="addActionSpendItem">Danh mục chi</label>
                                    @Html.DropDownList("SpendItemID", lstSpendItem, new { placeholder = "Mục chi", @class = "form-control", id = "SpendItemID"})
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-success" onclick="onSaveSpendItem()">
                                <i class="fa fa-save"></i>
                                Lưu
                            </button>
                        </div>
                    </div>

                </div>
                <!-- /.tab-content -->
            </div>
            <!-- nav-tabs-custom -->
        </div>

        </div>
        }

        <script>
            function onSaveSubAction() {

                var myFrmData = $("#frmSubAction").serialize();
                var periodID = $("#PeriodID").val();
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("AddSubActionPlan", "SubActionPlanCost")',
                    data: myFrmData,
                    success: function (data) {
                        CommonJS.alert(data);
                        $("#modal").modal("hide");
                        window.location.href = "SubActionPlanCost?periodID=" + periodID;

                    },
                    error: function (e) {
                        CommonJS.alert("Có lỗi hệ thống");
                        // alert("Có lỗi hệ thống");

                    }
                });

            }
            function onSaveSpendItem() {

                var myFrmData = $("#frmSubAction").serialize();
                var periodID = $("#PeriodID").val();
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("AddPlanTargetSpendItem", "SubActionPlanCost")',
                    data: myFrmData,
                    success: function (data) {
                        CommonJS.alert(data);
                        $("#modal").modal("hide");
                        window.location.href = "SubActionPlanCost?periodID=" + periodID;

                    },
                    error: function (e) {
                        CommonJS.alert("Có lỗi hệ thống");
                        // alert("Có lỗi hệ thống");

                    }
                });

            }
        </script>
