﻿
@using IInterface.Common;
@using IInterface.Models;

@model SubActionPlanModel
@{
    List<SelectListItem> lstSpendItem = ViewData["ListSpendItem"] as List<SelectListItem>;
}

@using (Ajax.BeginForm("AddSubActionPlan", "SubActionPlanCost", new AjaxOptions()
{
    HttpMethod = "POST",
    OnBegin = "onBegin",
    OnSuccess = "onSuccess",
}, new { id = "frmSubSpendItem" }))
{

    <input type="hidden" id="PeriodID" />
    <input type="hidden" id="SubPlanTargetActionID" />
    <input type="hidden" id="SubActionPlanID" />
    <input type="hidden" id="SumSubCostType" value="" />
    <input type="hidden" id="PlanTargetID" value="" />
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-lg-12">
                    <div class="form-group">
                        <label for="addActionSpendItem">Danh mục chi</label>
                        @Html.DropDownList("SpendItemID", lstSpendItem, new { placeholder = "Mục chi", @class = "form-control", id = "SpendItemID" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">

                    <label for="addCheck">Loại khác </label>
                    &nbsp;
                    <input type="checkbox" id="chkSubSpendItem" class="cbx" onclick="onShowHideSubOther(this)">

                </div>
            </div>
        </div>
       <div class="col-md-12" id="divSubOtherItem">
           <table class="table table-bordered" id="tblSubSpendItem">
               <tr>
                   <td>
                      
                       <label id="SubSpendItemName"></label>
                   </td>
                   <td>
                       <input type="text" id="txtParenId" class="form-control"  name="SubParentSpendItem" value="">
                   </td>
                   <td>
                       <input type="button" id="addSubRow" class="btn btn-default" value="Thêm mục chi phí ">
                   </td>
               </tr>
           </table>
           <button type="button" id="removeSubRow" class="btn btn-danger">Loại bỏ</button>
       </div>
            <div class="modal-footer">
                                <button type="button" class="btn btn-success" onclick="onSaveSubSpendItem()">
                                    <i class="fa fa-save"></i>
                                    Lưu
                                </button>
             </div>
        </div>
        }

  <script>

    $(document).ready(function(){
        $("#addSubRow").click(function () {
            var markup = "<tr><td style='text-align:right'> <input type='checkbox' name='record' ></td><td><input type='text' name='spendItem' class='form-control input sm'></td><td></td></tr>";
            $("#tblSubSpendItem tbody").append(markup);
            });

            // Find and remove selected table rows
        $("#removeSubRow").click(function () {
            $("#tblSubSpendItem tbody").find('input[name="record"]').each(function () {
            	    if($(this).is(":checked")){
                        $(this).parents("tr").remove();
                    }
                });
            });
        });
    function onShowHideSubOther(item) {
            if ($(item).is(':checked')) {

                $(item).attr("value", "true");
                $("#frmSubSpendItem #divSubOtherItem").show();
            } else {
                $(item).attr("value", "false");
                $("#frmSubSpendItem #divSubOtherItem").hide();
            }
        }

       function onSaveSubSpendItem() {

               
                var PeriodID = $("#frmSubSpendItem #PeriodID").val();
                var PlanTargetAcionID = $("#frmSubSpendItem #PlanTargetAcionID").val();
                var arrSpendItem = [];
                var ParenId = $("#frmSubSpendItem #txtParenId").val();
                var SumCostType = $("#frmSubSpendItem #SumCostType").val();
                var SpendItemID = $("#SpendItemID").val();
                var PlanTargetID = $("#PlanTargetID").val();


                if ($("#chkSubSpendItem").is(':checked')) {

                    $("#tblSubSpendItem tbody").find("input:text[name='spendItem']").each(function (i, ob) {
                        arrSpendItem.push($(ob).val());
                    });
                }
                jQuery.ajaxSettings.traditional = true;
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("AddSubActionPlan", "SubActionPlanCost")',
                    data: { PeriodID: PeriodID, PlanTargetAcionID: PlanTargetAcionID, SumCostType: SumCostType, ParenId: ParenId, SpendItem: arrSpendItem },
                    success: function (data) {
                        CommonJS.alert(data);
                        $("#modal").modal("hide");
                        window.location.href = "SubActionPlanCost?periodID=" + periodID;

                    },
                    error: function (e) {
                        CommonJS.alert("Có lỗi hệ thống");
                        // alert("Có lỗi hệ thống");

                    }
                });

            }
           
        </script>
