﻿

@using IModel;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";


    Period period = ViewData["Period"] as Period;

}
<script type="text/javascript" src="~/Scripts/jquery.freezeheader.js"></script>

<div class="row">
    <div class="col-lg-12">
        <div class="box">
            <div class="box-body">
                <div class="box-header">
                    <h3 class="box-title">
                        <i class="fa fa-calendar-check-o"></i> Dự toán tài chính - @period.PeriodName
                    </h3>
                </div>       
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-lg-12" id="divGridSubActionPlan">

                        @Html.Partial("_LstSubActionPlanCost")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#tableData").freezeHeader();
        $("#chkSpendItem").attr("value", "false");
     //   $("#chkSubSpendItem").attr("value", "false");
      //  $("#frmSpendItem #divOtherItem").hide();
      //  $("#frmSubSpendItem #divSubOtherItem").hide();

    });

</script>
