﻿@using IInterface.Models
@{
    List<SettleSynCostModel> listCost = ViewData["listCost"] as List<SettleSynCostModel>;
}

@using (Ajax.BeginForm("SaveOne", "SettleSynthesis", new AjaxOptions()
{
    HttpMethod = "post",
    OnBegin = "onBeginOne",
    OnSuccess = "onSuccessOne",
    OnFailure = "onFailOne"
}, new { id = "frmCreateOrEditOne" }))
{
        <div class="col-md-12">
            @Html.Hidden("SettleSynthesisID")
            <h4>Nhập thông tin quyết toán</h4>
        </div>
        <div class="col-md-12">
            <table class="table table-bordered table-responsive">
                <thead>
                    <tr>
                        <th style="width: 10%">Mã HĐ</th>
                        <th style="width: 30%">Nội dung chi</th>
                        <th style="width: 15%">Số tiền dự toán</th>
                        <th style="width: 15%">Số tiền quyết toán</th>
                        <th style="width: 30%">Ghi chú</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < listCost.Count; i++)
                    {
                        SettleSynCostModel syn = listCost[i];
                        string actionCode = !string.IsNullOrWhiteSpace(syn.ActionCode) ? syn.ActionCode.Trim() : string.Empty;
                        string actionName = !string.IsNullOrWhiteSpace(syn.ActionTitle) ? syn.ActionTitle.Trim() : string.Empty;
                        string totalPlanMoney = syn.SumTotalBudget != null ? syn.SumTotalBudget.ToString() : string.Empty;
                        string setttleMoney = syn.SetttleMoney > 0 ? syn.SetttleMoney.ToString() : string.Empty;
                        string desc = !string.IsNullOrWhiteSpace(syn.Description) ? syn.Description.Trim() : string.Empty;
                        <tr>
                            @if (i == 0)
                            {
                                <td>@actionCode</td>
                                <td>@actionName</td>
                                <td>@totalPlanMoney</td>
                                <td id="tdTotalSettleMoney">@setttleMoney</td>
                                <td>
                                    <input type="text" name="ArrPlanTargetActionDes" value="@desc"/>
                                </td>                                
                            }
                            else
                            {
                                <td><input type="text" name="ArrActionCode" value="@actionCode" /></td>
                                <td><input type="text" name="ArrActionContent" value="@actionName" /></td>
                                <td>@totalPlanMoney</td>
                                <td>
                                    <input type="hidden" name="ArrPlanCostID" value="@syn.SubActionPlanCostID" />
                                    <input type="text" name="ArrPlanCostValue" onblur="sumMoneyOne(this)" child="1" class="currency" />
                                </td>
                                <td><input type="text" name="ArrPlanCostDes" /></td>
                            }
                        </tr>
                        if (i == 0)
                        {
                            <tr>
                                <td><input type="text" name="ArrActionCode" /></td>
                                <td><input type="text" name="ArrActionContent" /></td>
                                <td></td>
                                <td>
                                    <input type="hidden" name="ArrPlanCostID" value="0" />
                                    <input type="text" name="ArrPlanCostValue" id="titleSum" class="currency" />
                                </td>
                                <td><input type="text" name="ArrPlanCostDes" /></td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
        <div class="col-md-12 text-right">
            <button type="submit" class="btn btn-success"><i class="fa fa-floppy-o"></i> Lưu</button>
            <button type="button" onclick="loadExpenseByAction(true, 0)" class="btn btn-default"><i class="fa fa-backward"></i> Quay lại</button>
        </div>
}
<script type="text/javascript">
    var format = function (num) {
        var str = num.toString().replace("$", ""), parts = false, output = [], i = 1, formatted = null;
        if (str.indexOf(".") > 0) {
            parts = str.split(".");
            str = parts[0];
        }
        str = str.split("").reverse();
        for (var j = 0, len = str.length; j < len; j++) {
            if (str[j] != ",") {
                output.push(str[j]);
                if (i % 3 == 0 && j < (len - 1)) {
                    output.push(",");
                }
                i++;
            }
        }
        formatted = output.reverse().join("");
        return (formatted + ((parts) ? "." + parts[1].substr(0, 2) : ""));
    };
    $(function () {
        $(".currency").keyup(function (e) {
            $(this).val(format($(this).val()));
        });
        $('.currency').keypress(function (event) {
            if (event.which != 8 && isNaN(String.fromCharCode(event.which))) {
                event.preventDefault();
            }
        });
    });
    function onBeginOne() {
        if ($("#frmCreateOrEditOne").valid()) {
            return true;
        } else {
            return false;
        }
    }
    function onSuccessOne(msg) {
        CommonJS.alert(msg);
    }

    function onFailOne(xhr) {
        CommonJS.alert(xhr.responseText);
    }
</script>
