﻿@using IInterface.Common;
@{ 
    long? planTargetID = ViewData["planTargetID"] as long?;
    ViewData["objectID"] = planTargetID.GetValueOrDefault();
    ViewData["objectType"] = Constants.COMMENT_TYPE_SETTLE;
}
<div class="row">
    <div class="col-md-12" id="divBody">
        <div class="row">
            <div class="col-md-12">                
                <div class="box box-success">
                    <div class="box-header with-border">
                        @Html.Hidden("PlanTargetActionID")
                        <div class="box-title">
                            <div class="list-group" style="padding-right: 20px;">
                                <a href="javascript:void(0)" class="list-group-item active">
                                    <strong>
                                        <span id="actionCode">Tất cả</span>
                                    </strong>
                                    <p class="list-group-item-text text-sm" id="actionName">
                                    </p>
                                </a>
                            </div>
                        </div>                        
                        <div class="box-tools">
                            <button class="btn btn-box-tool" type="button" onclick="loadActionByTarget()"><i class="fa fa-bars"></i></button>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="row" id="ListExpense">
                            @Html.Partial("_ListExpense", ViewData)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    @Html.Partial("../Comment/_ListComment", ViewData)
</div>
<script type="text/javascript">    
    function onBegin() {
        var targetID = $('#TargetChoice').val();
        if ($('#tab' + targetID + ' #frmCreateOrEditExpense').valid()) {
            // Tinh lai so tien
            $('#tab' + targetID + ' #ListExpense input[leaf="1"][first="1"]').each(function () {
                sumMoney(this);
            });
            $('#tab' + targetID + ' #frmCreateOrEditExpense #SettleSynthesisID').val($('#frmGeneralInfo #SettleSynthesisID').val());
            $('#tab' + targetID + ' #frmCreateOrEditExpense').submit();
            return true;
        } else {
            return false;
        }
    }
    function sumMoneyOne(item){
        var sum = 0;
        $('#ListExpense input[child="1"]').each(function() {
            var val = $(this).val();
            val = val.replace(/\,/g, "");;
            var money = val.trim() != "" ? parseFloat(val) : 0;
            sum += money;
        });
        if (sum > 0) {
            $('#titleSum').val(sum);
        }
    }
    function onSuccess(msg) {
        CommonJS.alert(msg);
        loadExpenseByAction(true);
    }

    function onFail(xhr) {
        CommonJS.alert(xhr.responseText);
    }
</script>
