﻿@using IInterface.Models
@using IInterface.Common
@{
    List<SettleModel> listCost = ViewData["listCost"] as List<SettleModel>;
    int idx = 0;
    int planTargetID = listCost.First().PlanTargetID;
}
@using (Ajax.BeginForm("Save", "ReviewSettleSynthesis", new AjaxOptions()
{
    HttpMethod = "post",
    OnSuccess = "onSuccess",
    OnFailure = "onFail"
}, new { id = "frmCreateOrEditExpense" }))
{
    @Html.AntiForgeryToken()
    <div class="col-md-12">
        @Html.Hidden("SettleSynthesisID")
        @Html.Hidden("PlanTargetID", @planTargetID)
        <table class="table table-bordered table-responsive">
            <thead>
                <tr>
                    <th style="width: 10%">Mã HĐ</th>
                    <th style="width: 30%">Nội dung chi</th>
                    <th style="width: 15%">Số tiền dự toán</th>
                    <th style="width: 15%">Số tiền quyết toán</th>
                    <th style="width: 30%">Chứng từ kèm theo</th>
                </tr>
            </thead>
            <tbody>
                @foreach (SettleModel cost in listCost)
                {
                    string actionCode = cost.IsTarget ? (!string.IsNullOrWhiteSpace(cost.TargetCode) ? cost.TargetCode.Trim() : string.Empty) :
                        (!string.IsNullOrWhiteSpace(cost.PlanTargetActionCode) ? cost.PlanTargetActionCode.Trim() : string.Empty);
                    string actionName = cost.IsTarget ? (!string.IsNullOrWhiteSpace(cost.TargetName) ? cost.TargetName.Trim() : string.Empty) :
                        (!string.IsNullOrWhiteSpace(cost.PlanTargetActionName) ? cost.PlanTargetActionName.Trim() : string.Empty);
                    string TotalPlanSettleMoney = cost.TotalPlanSettleMoney != null ? cost.TotalPlanSettleMoney.ToString() : string.Empty;
                    string totalSettleMoney = cost.TotalSettleMoney != null ? cost.TotalSettleMoney.ToString() : string.Empty;
                    string settleDescription = !string.IsNullOrWhiteSpace(cost.SettleDescription) ? cost.SettleDescription.Trim() : string.Empty;
                    <tr>
                        @if (cost.CostUpdateUserID == null
|| cost.TotalSettleMoney.GetValueOrDefault() == cost.TotalSettleMoneyChange.GetValueOrDefault()
|| cost.CostUpdateType.GetValueOrDefault() == Constants.UPDATE_TYPE_REVIEW)
                        {
                            <td>@actionCode</td>
                        }
                        else
                        {
                            <td><span class="btn-primary">@actionCode</span></td>
                        }

                        @if (cost.IsTarget)
                        {
                            if (cost.CostUpdateUserID == null
                            || cost.TotalSettleMoney.GetValueOrDefault() == cost.TotalSettleMoneyChange.GetValueOrDefault()
                            || cost.CostUpdateType.GetValueOrDefault() == Constants.UPDATE_TYPE_REVIEW)
                            {
                                <td>
                                    @actionName
                                </td>
                            }
                            else
                            {
                                <td><span class="btn-primary">@actionName</span></td>
                            }
                        }
                        else
                        {
                            <td>
                                @if (cost.CostUpdateUserID == null
|| cost.TotalSettleMoney.GetValueOrDefault() == cost.TotalSettleMoneyChange.GetValueOrDefault()
|| cost.CostUpdateType.GetValueOrDefault() == Constants.UPDATE_TYPE_REVIEW)
                                {
                                    <div>@actionName</div>
                                }
                                else
                                {
                                    <div class="btn-primary">@actionName</div>
                                }
                            </td>
                        }
                        <td>@TotalPlanSettleMoney</td>
                        <td>
                            @if (cost.IsTarget)
                            {
                                <input type="hidden" name="ArrPlanTargetID" value="@cost.PlanTargetID" />
                                <input type="text" class="currency form-control" name="ArrPlanTargetValue" id="target_@cost.PlanTargetID" parentid="" value="@totalSettleMoney" />
                            }
                            else
                            {
                                <input type="hidden" name="ArrPlanTargetActionID" value="@cost.PlanTargetActionID" />
                                if (cost.ListSubAction != null && cost.ListSubAction.Any())
                                {
                                    <input type="text" class="currency form-control" name="ArrPlanTargetActionValue" onblur="sumMoney(this)" id="targetaction_@cost.PlanTargetActionID" parentprefix="target" parentid="@cost.PlanTargetID" value="@totalSettleMoney" />
                                }
                                else
                                {
                                    if (idx++ == 0)
                                    {
                                        <input type="text" class="currency form-control" name="ArrPlanTargetActionValue" onblur="sumMoney(this)" id="targetaction_@cost.PlanTargetActionID" parentprefix="target" parentid="@cost.PlanTargetID" value="@totalSettleMoney" leaf="1" first="1" />
                                    }
                                    else
                                    {
                                        <input type="text" class="currency form-control" name="ArrPlanTargetActionValue" onblur="sumMoney(this)" id="targetaction_@cost.PlanTargetActionID" parentprefix="target" parentid="@cost.PlanTargetID" value="@totalSettleMoney" leaf="1" />
                                    }
                                }
                            }
                        </td>
                        <td>
                            @if (cost.IsTarget)
                            {
                                <input type="text" name="ArrPlanTargetDesc" value="@settleDescription" />
                            }
                            else
                            {
                                <input type="text" name="ArrPlanTargetActionDes" value="@settleDescription" />
                            }
                        </td>
                    </tr>
                    if (cost.ListSubAction != null && cost.ListSubAction.Any())
                    {
                        idx = 0;
                        foreach (SubActionPlanModel sub in cost.ListSubAction)
                        {
                            actionCode = !string.IsNullOrWhiteSpace(sub.SubActionCode) ? sub.SubActionCode.Trim() : string.Empty;
                            actionName = !string.IsNullOrWhiteSpace(sub.SubActionContent) ? sub.SubActionContent.Trim() : string.Empty;
                            TotalPlanSettleMoney = sub.TotalBudget != null ? sub.TotalBudget.ToString() : string.Empty;
                            totalSettleMoney = sub.TotalSettleBudget != null ? sub.TotalSettleBudget.ToString() : string.Empty;
                            settleDescription = !string.IsNullOrWhiteSpace(cost.SettleDescription) ? cost.SettleDescription.Trim() : string.Empty;
                            <tr>
                                @if (sub.CostUpdateUserID == null
|| sub.TotalSettleBudget.GetValueOrDefault() == sub.TotalSettleBudgetChange.GetValueOrDefault()
|| sub.CostUpdateType.GetValueOrDefault() == Constants.UPDATE_TYPE_REVIEW)
                                {
                                    <td>@actionCode</td>
                                    <td>@actionName</td>
                                }
                                else
                                {
                                    <td><span class="btn-primary">@actionCode</span></td>
                                    <td><span class="btn-primary">@actionName</span></td>
                                }
                                <td>@TotalPlanSettleMoney</td>
                                <td>
                                    <input type="hidden" name="ArrSubPlanActionID" value="@sub.SubActionPlanID" />
                                    @if (sub.ListSettleSynCost != null && sub.ListSettleSynCost.Any())
                                    {
                                        <input type="text" name="ArrSubPlanActionValue" class="currency form-control" id="sub_@sub.SubActionPlanID" parentprefix="targetaction" parentid="@cost.PlanTargetActionID" onblur="sumMoney(this)" value="@totalSettleMoney" />
                                    }
                                    else
                                    {
                                        if (idx++ == 0)
                                        {
                                            <input type="text" name="ArrSubPlanActionValue" class="currency form-control" id="sub_@sub.SubActionPlanID" parentprefix="targetaction" parentid="@cost.PlanTargetActionID" onblur="sumMoney(this)" value="@totalSettleMoney" leaf="1" first="1" />
                                        }
                                        else
                                        {
                                            <input type="text" name="ArrSubPlanActionValue" class="currency form-control" id="sub_@sub.SubActionPlanID" parentprefix="targetaction" parentid="@cost.PlanTargetActionID" onblur="sumMoney(this)" value="@totalSettleMoney" leaf="1" />
                                        }
                                    }
                                </td>
                                <td><input type="text" name="ArrSubPlanActionDes" value="@settleDescription" /></td>
                            </tr>
                            if (sub.ListSettleSynCost != null && sub.ListSettleSynCost.Any())
                            {
                                idx = 0;
                                foreach (SettleSynCostModel syn in sub.ListSettleSynCost)
                                {
                                    actionCode = !string.IsNullOrWhiteSpace(syn.ActionCode) ? syn.ActionCode.Trim() : string.Empty;
                                    actionName = !string.IsNullOrWhiteSpace(syn.ActionTitle) ? syn.ActionTitle.Trim() : string.Empty;
                                    TotalPlanSettleMoney = syn.SumTotalBudget != null ? syn.SumTotalBudget.ToString() : string.Empty;
                                    totalSettleMoney = syn.SetttleMoney.ToString();
                                    settleDescription = !string.IsNullOrWhiteSpace(syn.Description) ? syn.Description.Trim() : string.Empty;
                                    <tr>
                                        @if (syn.CostUpdateUserID == null
|| syn.SetttleMoney == syn.SetttleMoneyChange.GetValueOrDefault()
|| syn.CostUpdateType.GetValueOrDefault() == Constants.UPDATE_TYPE_REVIEW)
                                        {
                                            <td>@actionCode</td>
                                            <td>@actionName</td>
                                        }
                                        else
                                        {
                                            <td><span class="btn-primary">@actionCode</span></td>
                                            <td><span class="btn-primary">@actionName</span></td>
                                        }
                                        <td>@TotalPlanSettleMoney</td>
                                        <td>
                                            <input type="hidden" name="ArrPlanCostSynID" value="@syn.SettleSynthesisCostID" />
                                            <input type="hidden" name="ArrPlanCostID" value="@syn.SubActionPlanCostID" />
                                            @if (idx++ == 0)
                                            {
                                                <input type="text" name="ArrPlanCostValue" class="currency form-control" parentid="@sub.SubActionPlanID" onblur="sumMoney(this)" value="@totalSettleMoney" leaf="1" first="1" />
                                            }
                                            else
                                            {
                                                <input type="text" name="ArrPlanCostValue" class="currency form-control" parentid="@sub.SubActionPlanID" onblur="sumMoney(this)" value="@totalSettleMoney" leaf="1" />
                                            }
                                        </td>
                                        <td><input type="text" name="ArrPlanCostDes" value="@settleDescription" /></td>
                                    </tr>
                                }
                            }
                        }
                    }
                    else if (cost.ListSettleSynCost != null && cost.ListSettleSynCost.Any())
                    {
                        idx = 0;
                        bool hasGroup = cost.ListSettleSynCost.Any(x => x.IsGroup != null && x.IsGroup.Value == Constants.IS_ACTIVE);
                        bool groupLeaf = true;
                        if (hasGroup)
                        {
                            groupLeaf = !cost.ListSettleSynCost.Any(x => x.IsGroup == null || x.IsGroup.Value == Constants.IS_NOT_ACTIVE);
                        }
                        foreach (SettleSynCostModel syn in cost.ListSettleSynCost)
                        {
                            actionCode = !string.IsNullOrWhiteSpace(syn.ActionCode) ? syn.ActionCode.Trim() : string.Empty;
                            actionName = !string.IsNullOrWhiteSpace(syn.ActionTitle) ? syn.ActionTitle.Trim() : string.Empty;
                            TotalPlanSettleMoney = syn.SumTotalBudget != null ? syn.SumTotalBudget.ToString() : string.Empty;
                            totalSettleMoney = syn.SetttleMoney.ToString();
                            settleDescription = !string.IsNullOrWhiteSpace(syn.Description) ? syn.Description.Trim() : string.Empty;
                            <tr>
                                @if (syn.CostUpdateUserID == null
|| syn.SetttleMoney == syn.SetttleMoneyChange.GetValueOrDefault()
|| syn.CostUpdateType.GetValueOrDefault() == Constants.UPDATE_TYPE_REVIEW)
                                {
                                    <td>@actionCode</td>
                                    <td>@actionName</td>
                                }
                                else
                                {
                                    <td><span class="btn-primary">@actionCode</span></td>
                                    <td><span class="btn-primary">@actionName</span></td>
                                }
                                <td>@TotalPlanSettleMoney</td>
                                <td>
                                    <input type="hidden" name="ArrPlanCostSynID" value="@syn.SettleSynthesisCostID" />
                                    <input type="hidden" name="ArrPlanCostID" value="@syn.SubActionPlanCostID" />
                                    @if (hasGroup)
                            {
                                if (syn.IsGroup != null && syn.IsGroup.Value == Constants.IS_ACTIVE)
                                {
                                    if (groupLeaf)
                                    {
                                                <input type="text" name="ArrPlanCostValue" class="currency form-control" id="syn_@syn.SettleSynthesisCostID" parentprefix="targetaction" parentid="@cost.PlanTargetActionID" value="@totalSettleMoney" onblur="sumMoney(this)" leaf="1" />
                                            }
                                            else
                                            {
                                                <input type="text" name="ArrPlanCostValue" class="currency form-control" id="syn_@syn.SettleSynthesisCostID" parentprefix="targetaction" parentid="@cost.PlanTargetActionID" value="@totalSettleMoney" onblur="sumMoney(this)" />
                                            }
                                        }
                                        else
                                        {
                                            <input type="text" name="ArrPlanCostValue" class="currency form-control" id="@syn.SettleSynthesisCostID" parentprefix="syn" parentid="@syn.ParentID" value="@totalSettleMoney" onblur="sumMoney(this)" leaf="1" />
                                        }
                                    }
                                    else
                                    {
                                        if (idx++ == 0)
                                        {
                                            <input type="text" name="ArrPlanCostValue" class="currency form-control" id="@syn.SettleSynthesisCostID" parentprefix="targetaction" parentid="@cost.PlanTargetActionID" value="@totalSettleMoney" onblur="sumMoney(this)" leaf="1" first="1" />
                                        }
                                        else
                                        {
                                            <input type="text" name="ArrPlanCostValue" class="currency form-control" id="@syn.SettleSynthesisCostID" parentprefix="targetaction" parentid="@cost.PlanTargetActionID" value="@totalSettleMoney" onblur="sumMoney(this)" leaf="1" />
                                        }
                                    }
                                </td>
                                <td><input type="text" name="ArrPlanCostDes" value="@settleDescription" /></td>
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>
    </div>    
    <div class="col-md-12 text-right" style="padding-top: 10px">
        <button class="btn btn-success" type="button" onclick="onBegin()"> <i class="fa fa-floppy-o"></i> Lưu lại</button>
    </div>
}
<script type="text/javascript">
    var format = function (num) {
        var str = num.toString().replace("$", ""), parts = false, output = [], i = 1, formatted = null;
        if (str.indexOf(".") > 0) {
            parts = str.split(".");
            str = parts[0];
        }
        str = str.split("").reverse();
        for (var j = 0, len = str.length; j < len; j++) {
            if (str[j] != ",") {
                output.push(str[j]);
                if (i % 3 == 0 && j < (len - 1)) {
                    output.push(",");
                }
                i++;
            }
        }
        formatted = output.reverse().join("");
        return (formatted + ((parts) ? "." + parts[1].substr(0, 2) : ""));
    };
    $(function () {
        $(".currency").keyup(function (e) {
            $(this).val(format($(this).val()));
        });
        $('.currency').keypress(function (event) {
            if (event.keyCode != 46 && event.which != 46 && event.which != 8 && isNaN(String.fromCharCode(event.which))) {
                event.preventDefault();
            }
        });
    });
</script>
