﻿@using IInterface.Models
@using IInterface.Common
@{
    List<SettleModel> listCost = ViewData["listCost"] as List<SettleModel>;
}
<div class="col-md-12">
    <table class="table table-bordered table-responsive">
        <thead>
            <tr>
                <th style="width: 10%">Mã HĐ</th>
                <th style="width: 30%">Nội dung chi</th>
                <th style="width: 15%">Số tiền dự toán</th>
                <th style="width: 15%">Số tiền quyết toán</th>
                <th style="width: 30%">Chứng từ kèm theo</th>
            </tr>
        </thead>
        <tbody>
            @foreach (SettleModel cost in listCost)
            {
                string actionCode = cost.IsTarget ? (!string.IsNullOrWhiteSpace(cost.TargetCode) ? cost.TargetCode.Trim() : string.Empty) :
                    (!string.IsNullOrWhiteSpace(cost.PlanTargetActionCode) ? cost.PlanTargetActionCode.Trim() : string.Empty);
                string actionName = cost.IsTarget ? (!string.IsNullOrWhiteSpace(cost.TargetName) ? cost.TargetName.Trim() : string.Empty) :
                    (!string.IsNullOrWhiteSpace(cost.PlanTargetActionName) ? cost.PlanTargetActionName.Trim() : string.Empty);
                string totalPlanMoney = cost.TotalPlanMoney != null ? cost.TotalPlanMoney.ToString() : string.Empty;
                string totalSettleMoney = cost.TotalSettleMoney != null ? cost.TotalSettleMoney.ToString() : string.Empty;
                string settleDescription = !string.IsNullOrWhiteSpace(cost.SettleDescription) ? cost.SettleDescription.Trim() : string.Empty;
                <tr>
                    <td>@actionCode</td>
                    <td>@actionName</td>
                    <td class="text-right">@totalPlanMoney</td>
                    <td class="text-right">@totalSettleMoney</td>
                    <td class="text-right">@settleDescription</td>
                </tr>
                if (cost.ListSubAction != null && cost.ListSubAction.Any())
                {
                    foreach (SubActionPlanModel sub in cost.ListSubAction)
                    {
                        actionCode = !string.IsNullOrWhiteSpace(sub.SubActionCode) ? sub.SubActionCode.Trim() : string.Empty;
                        actionName = !string.IsNullOrWhiteSpace(sub.SubActionContent) ? sub.SubActionContent.Trim() : string.Empty;
                        totalPlanMoney = sub.TotalBudget != null ? sub.TotalBudget.ToString() : string.Empty;
                        totalSettleMoney = sub.TotalSettleBudget != null ? sub.TotalSettleBudget.ToString() : string.Empty;
                        settleDescription = !string.IsNullOrWhiteSpace(cost.SettleDescription) ? cost.SettleDescription.Trim() : string.Empty;
                        <tr>
                            <td>@actionCode</td>
                            <td>@actionName</td>
                            <td class="text-right">@totalPlanMoney</td>
                            <td class="text-right">@totalSettleMoney</td>
                            <td class="text-right">@settleDescription</td>
                        </tr>
                        if (sub.ListSettleSynCost != null && sub.ListSettleSynCost.Any())
                        {
                            foreach (SettleSynCostModel syn in sub.ListSettleSynCost)
                            {
                                actionCode = !string.IsNullOrWhiteSpace(syn.ActionCode) ? syn.ActionCode.Trim() : string.Empty;
                                actionName = !string.IsNullOrWhiteSpace(syn.ActionTitle) ? syn.ActionTitle.Trim() : string.Empty;
                                totalPlanMoney = syn.SumTotalBudget != null ? syn.SumTotalBudget.ToString() : string.Empty;
                                totalSettleMoney = syn.SetttleMoney.ToString();
                                settleDescription = !string.IsNullOrWhiteSpace(syn.Description) ? syn.Description.Trim() : string.Empty;
                                <tr>
                                    <td>@actionCode</td>
                                    <td>@actionName</td>
                                    <td class="text-right">@totalPlanMoney</td>
                                    <td class="text-right">@totalSettleMoney</td>
                                    <td class="text-right">@settleDescription</td>
                                </tr>
                            }
                        }
                    }
                }
                else if (cost.ListSettleSynCost != null && cost.ListSettleSynCost.Any())
                {
                    bool hasGroup = cost.ListSettleSynCost.Any(x => x.IsGroup != null && x.IsGroup.Value == Constants.IS_ACTIVE);
                    bool groupLeaf = true;
                    if (hasGroup)
                    {
                        groupLeaf = !cost.ListSettleSynCost.Any(x => x.IsGroup == null || x.IsGroup.Value == Constants.IS_NOT_ACTIVE);
                    }
                    foreach (SettleSynCostModel syn in cost.ListSettleSynCost)
                    {
                        actionCode = !string.IsNullOrWhiteSpace(syn.ActionCode) ? syn.ActionCode.Trim() : string.Empty;
                        actionName = !string.IsNullOrWhiteSpace(syn.ActionTitle) ? syn.ActionTitle.Trim() : string.Empty;
                        totalPlanMoney = syn.SumTotalBudget != null ? syn.SumTotalBudget.ToString() : string.Empty;
                        totalSettleMoney = syn.SetttleMoney.ToString();
                        settleDescription = !string.IsNullOrWhiteSpace(syn.Description) ? syn.Description.Trim() : string.Empty;
                        <tr>
                            <td>@actionCode</td>
                            <td>@actionName</td>
                            <td class="text-right">@totalPlanMoney</td>
                            <td class="text-right">@totalSettleMoney</td>
                            <td class="text-right">@settleDescription</td>
                        </tr>
                    }
                }
            }
        </tbody>
    </table>
</div>