﻿@using IInterface.Models
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model SettleInfoModel
@{
    List<TargetModel> lstTarget = ViewData["listTarget"] as List<TargetModel>;
    bool? isView = ViewData["isView"] as bool?;
    int targetID = 0;
}
<div class="row">
    <div class="col-md-12">
        @if (isView.GetValueOrDefault())
        {
            @Html.Hidden("isView", 1)
            @Html.Partial("_GeneralView", Model, ViewData)
        }
        else
        {
            @Html.Hidden("isView", 0)
            @Html.Partial("_General", Model, ViewData)
        }
    </div>
</div>
@if (Model != null && Model.SettleSynthesisID > 0 && lstTarget != null)
{
    TargetModel targetFirst = lstTarget.FirstOrDefault();
    targetID = targetFirst != null ? targetFirst.TargetID : 0;
    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-tabs">
                @for (int i = 0; i < lstTarget.Count; i++)
                {
                    TargetModel target = lstTarget[i];
                    string tabId = "#tab" + target.TargetID;
                    if (i == 0)
                    {
                        <li class="active">
                            <a data-toggle="tab" href="@tabId" onclick="loadExpenInfo(@target.TargetID)">
                                @target.TargetTitle
                            </a>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a data-toggle="tab" href="@tabId" onclick="loadExpenInfo(@target.TargetID)">
                                @target.TargetTitle
                            </a>
                        </li>
                    }
                }
            </ul>
            <div class="tab-content">
                @Html.Hidden("TargetChoice")
                @for (int i = 0; i < lstTarget.Count; i++)
                {
                    TargetModel target = lstTarget[i];
                    string tabId = "tab" + target.TargetID;
                    if (i == 0)
                    {
                        <div id="@tabId" class="tab-pane fade active in"></div>
                    }
                    else
                    {
                        <div id="@tabId" class="tab-pane fade"></div>
                    }
                }
            </div>
        </div>
    </div>
    <div id="modal-action" class="modal fade" role="dialog"></div>
    <div id="modal-reject" class="modal fade" role="dialog"></div>
}
<script type="text/javascript">
    $(document).ready(function () {
        var targetID = @targetID;
        if(targetID > 0){
            loadExpenInfo(targetID);
        }
    });

    function loadExpenInfo(targetID) {
        var isView = $('#isView').val();
        var synId = $('#frmGeneralInfo #SettleSynthesisID').val();
        if (synId == '') {
            CommonJS.alert("Bạn phải nhập thông tin chung của báo cáo quyết toán trước", false);
            return;
        }
        $('#TargetChoice').val(targetID);
        $.ajax({
            type: "POST",
            url: '@Url.Action("LoadExpenseInfo", "ReviewSettleSynthesis")',
            data: { "synID": synId, "targetID": targetID, "isView" : isView },
            success: function (data) {
                $('#tab' + targetID).html(data);
                $('#tab' + targetID).find('.currency').each(function () {
                    var val = getVal($(this));
                    setVal($(this), format(val));
                });
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }
    function getAction(id, code, name){
        var targetID = $('#TargetChoice').val();
        $('#tab' + targetID +' #actionName').html('');
        $('#tab' + targetID +' #PlanTargetActionID').val(id);
        $('#tab' + targetID +' #actionCode').html(code);
        if(id > 0){
            $('#tab' + targetID +' #actionName').html(name);
        }
        loadExpenseByAction(true);
    }

    function loadActionByTarget() {
        var synID = $('#frmGeneralInfo #SettleSynthesisID').val();
        var targetID = $('#TargetChoice').val();
        $.ajax({
            type: "POST",
            url: '@Url.Action("LoadActionByTarget", "ReviewSettleSynthesis")',
            data: {
                'targetID': targetID,
                'synID': synID
            },
            success: function (data) {
                $("#modal-action").html(data);
                $("#modal-action").modal("show");
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }

    function loadExpenseByAction(loadFromCombo, id) {
        var synId = $('#frmGeneralInfo #SettleSynthesisID').val();
        var targetID = $('#TargetChoice').val();
        var isView = $('#isView').val();
        var actionId = loadFromCombo ? $('#tab' + targetID +' #PlanTargetActionID').val() : id;
        if(actionId == ''){
            actionId = 0;
        }
        $.ajax({
            type: "POST",
            url: '@Url.Action("LoadCostByAction", "ReviewSettleSynthesis")',
            data: { "planTargetActionID": actionId, "targetID": $('#TargetChoice').val(), "synID": synId, "isView" : isView },
            success: function (data) {
                $('#tab' + targetID +' #ListExpense').html(data);
                $('#tab' + targetID +' #ListExpense').find('.currency').each(function () {
                    var val = getVal($(this));
                    setVal($(this), format(val));
                });
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }

    function sumMoney(item) {
        var targetID = $('#TargetChoice').val();
        var parid = $(item).attr('parentid');
        var parpre = $(item).attr('parentprefix');
        if (parid != "") {
            var sum = 0;
            $('#tab' + targetID +' #ListExpense input[parentprefix="' + parpre + '"][parentid="' + parid + '"]').each(function () {
                var val = $(this).val();
                val = val.replace(/\,/g, "");;
                var money = val.trim() != "" ? parseFloat(val) : 0;
                sum += money;
            });
            var parenttrueid = '#' + parpre + '_' + parid;
            if (sum > 0) {
                $(parenttrueid).val(sum);
            }
            sumMoney($(parenttrueid)[0]);
        }
    }
</script>
<style type="text/css">
    #divBody td input {
        width: 100%;
        height: 100% !important;
        box-sizing: border-box !important;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        border-radius: 0 !important;
        padding: 10px;
        margin: 0px;
        display: inline-block;
        position: relative;
        border: 1px solid #f4f4f4;
    }
</style>