﻿@using IInterface.Models;
@using IInterface.Common;
@using IModel;
@model CostEstimateSpendModel
@{
    Period period = ViewData["Period"] as Period;

    int startYear = period.FromDate != null ? period.FromDate.Year : 0;
    int endYear = period.ToDate != null ? period.ToDate.Year : 0;
    string parentid = Model.ParentID != null ? "subcost_" + Model.ParentID.Value :
        (Model.SubActionPlanID != null ? "subaction_" + Model.SubActionPlanID.Value :
        (Model.PlanTargetActionID != null ? "targetaction_" + Model.PlanTargetActionID.Value : 
        (Model.PlanTargetID != null ? "target_" + Model.PlanTargetID.Value : "sumall")));
    string des = string.Empty;
    string classTr = "";
    if (string.IsNullOrWhiteSpace(parentid))
    {
        classTr = "success";
    }
}

<tr class="@classTr" id="subcost_@Model.CostEstimateSpendID" parentid="@parentid">
    <td style="text-align:center; vertical-align:middle">
        @if (Model.IsSalary.GetValueOrDefault() == Constants.IS_ACTIVE && Model.SalaryType != null)
        {
            <a title="Tổng hợp lại" href="javascript:void(0)" onclick="syncSalary('@Model.CostEstimateSpendID')">
                <span class="fa fa-recycle"></span>
            </a>
        }
        else
        {
            <a title="Xóa mục chi" href="javascript:void(0)" onclick="delSpendItem(@Model.CostEstimateSpendID)">
                <span class="fa fa-trash-o text-danger"></span>
            </a>
            <a title="Thêm mục chi" href="javascript:void(0)" onclick="openAddSpendItem('@Model.CostEstimateSpendID', '@Model.SpendContent', 'subcost', 'subcost_@Model.CostEstimateSpendID')">
                <span class="fa fa-plus-square"></span>
            </a>
        }
        @if (Model.ListChildSpend != null && Model.ListChildSpend.Any() || string.IsNullOrWhiteSpace(parentid))
        {
            <b>@Model.SpendItemTitle</b>
        }
        else
        {
            <text>@Model.SpendItemTitle</text>
        }
    </td>
    <td style="vertical-align:middle">
        @if (Model.ListChildSpend != null && Model.ListChildSpend.Any() || string.IsNullOrWhiteSpace(parentid))
        {
            <b>@Model.SpendContent</b>
        }
        else
        {
            <text>@Model.SpendContent</text>
        }
    </td>
    @for (int year = startYear; year <= endYear; year++)
    {
        CostEstimateDetailModel cost = Model.ListDetail == null ? null : Model.ListDetail.Where(x => x.PlanYear == year).FirstOrDefault();
        if (cost == null)
        {
            @Html.Partial("_ListYearCost", new CostEstimateDetailModel());
        }
        else
        {
            if(Model.ListChildSpend != null && Model.ListChildSpend.Any())
            {
                cost.HasChild = true;
            }
            @Html.Partial("_ListYearCost", cost);
            des = cost.Description;
        }
    }
    <td style="text-align:center; vertical-align:middle">
        <input type="text" class="currency form-control input-sm text-only-view" name="SumTotalBudget" readonly="readonly" value="@Model.TotalPrice" style="text-align:right">
    </td>
    <td style="text-align:center; vertical-align:middle">
        <textarea stystyle="text-align:right;" name="ArrDesc" class="form-control input-sm">@des</textarea>
    </td>
</tr>
@if (Model.ListChildSpend != null && Model.ListChildSpend.Any())
{
    foreach (CostEstimateSpendModel item in Model.ListChildSpend)
    {
        @Html.Partial("_ListSubCost", item);
    }
}