﻿@using IInterface.Models;
@using IModel;
@model PlanTargetActionModel
@{
    string parentID = "target_" + Model.PlanTargetID;
    Period period = ViewData["Period"] as Period;
    int startYear = period.FromDate != null ? period.FromDate.Year : 0;
    int endYear = period.ToDate != null ? period.ToDate.Year : 0;
    int rangeYear = endYear - startYear;
    bool hasChild = false;
    if((Model.ListSubActionPlan != null && Model.ListSubActionPlan.Any())
        || (Model.ListCostEstimateSpend != null && Model.ListCostEstimateSpend.Any()))
    {
        hasChild = true;
    }
    string des = string.Empty;
}

<tr id="targetaction_@Model.PlanTargetActionID" parentid="target_@Model.PlanTargetID">
    @if (Model.ListSubActionPlan == null || Model.ListSubActionPlan.Count == 0)
    {
        <td style="text-align:center; vertical-align: middle">
            <a title="Thêm mục chi" href="javascript:void(0)" onclick="openAddSpendItem('@Model.PlanTargetActionID', '@Model.ActionContent','targetaction', 'targetaction_@Model.PlanTargetActionID')">
                <span class="fa fa-plus-square"></span>
            </a>
            <b>@Model.ActionCode</b>
        </td>
    }
    else
    {
        <td style="text-align:center; vertical-align: middle">
            <b> @Model.ActionCode </b>
        </td>
    }
    <td style="vertical-align: middle">
        <b>@Model.ActionContent</b>
    </td>
    @for (int i = 0; i <= rangeYear; i++)
    {
        int year = i + startYear;
        CostEstimateDetailModel cost = Model.ListCostEstimateDetail == null ? null : Model.ListCostEstimateDetail.Where(x => x.PlanYear == year).FirstOrDefault();
        if(cost != null)
        {
            cost.HasChild = hasChild;
            des = cost.Description;
        }
        @Html.Partial("_ListYearCost", cost);
    }
    <td style="text-align:center; vertical-align:middle">
        <input type="text" class="currency form-control input-sm text-only-view" name="SumTotalBudget" readonly="readonly" value="@Model.TotalBudget" style="text-align:right">
    </td>
    <td style="text-align:center; vertical-align:middle">
        <textarea stystyle="text-align:right;" name="ArrDesc" class="form-control input-sm">@des</textarea>
    </td>
</tr>
@if (Model.ListSubActionPlan != null && Model.ListSubActionPlan.Any())
{
    int idxSubAction = 1;
    foreach (SubActionPlanModel item in Model.ListSubActionPlan)
    {
        item.SubActionCode = Model.ActionCode + "." + idxSubAction;
        idxSubAction++;
        @Html.Partial("_ListSubAction", item);
    }
}
else
{
    if (Model.ListCostEstimateSpend != null && Model.ListCostEstimateSpend.Any())
    {
        int idxSubCost = 1;
        foreach (CostEstimateSpendModel item in Model.ListCostEstimateSpend)
        {
            item.SpendItemTitle = Model.ActionCode + "." + idxSubCost;
            idxSubCost++;
            @Html.Partial("_ListSubCost", item);
        }
    }
}