﻿@using IInterface.Models;
@using IModel;
@model SubActionPlanModel
@{
    Period period = ViewData["Period"] as Period;
    int rangeYear = (int)ViewData["RangeYear"];

    int startYear = period.FromDate != null ? period.FromDate.Year : 0;
    int endYear = period.ToDate != null ? period.ToDate.Year : 0;
    string parentid = Model.ParentID != null ? "subaction_" + Model.ParentID.Value : "targetaction_" + Model.PlanTargetActionID.GetValueOrDefault();
    bool hasChild = false;
    if ((Model.ListChildSubActionPlan != null && Model.ListChildSubActionPlan.Any())
        || (Model.ListCostEstimateSpend != null && Model.ListCostEstimateSpend.Any()))
    {
        hasChild = true;
    }
    string des = string.Empty;
}

<tr id="subaction_@Model.SubActionPlanID" parentid="@parentid">
    @if (Model.ListChildSubActionPlan == null || Model.ListChildSubActionPlan.Count == 0)
    {
        <td style="text-align:center; vertical-align: middle">
            <a title="Thêm mục chi" href="javascript:void(0)" onclick="openAddSpendItem('@Model.SubActionPlanID', '@Model.SubActionContent','subaction', 'subaction_@Model.SubActionPlanID')">
                <span class="fa fa-plus-square"></span>
            </a>
            @Model.SubActionCode
        </td>
    }
    else
    {
        <td style="text-align:center; vertical-align: middle">
            @Model.SubActionCode
        </td>
    }
    <td style="vertical-align:middle">
        @Model.SubActionContent
    </td>
    @for (int i = 0; i <= rangeYear; i++)
    {
        int year = i + startYear;
        CostEstimateDetailModel cost = Model.ListCostEstimateDetail == null ? null : Model.ListCostEstimateDetail.Where(x => x.PlanYear == year).FirstOrDefault();
        if (cost != null)
        {
            des = cost.Description;
            cost.HasChild = hasChild;
        }
        @Html.Partial("_ListYearCost", cost);
    }
    <td style="text-align:center; vertical-align:middle">
        <input type="text" class="currency form-control input-sm text-only-view" name="SumTotalBudget" readonly="readonly" value="@Model.TotalBudget" style="text-align:right">
    </td>
    <td style="text-align:center; vertical-align:middle">
        <textarea stystyle="text-align:right;" name="ArrDesc" class="form-control input-sm">@des</textarea>
    </td>
</tr>
@if (Model.ListChildSubActionPlan != null && Model.ListChildSubActionPlan.Any())
{
    foreach (SubActionPlanModel item in Model.ListChildSubActionPlan)
    {
        @Html.Partial("_ListSubAction", item);
    }
}
else
{
    if (Model.ListCostEstimateSpend != null && Model.ListCostEstimateSpend.Any())
    {
        foreach (CostEstimateSpendModel item in Model.ListCostEstimateSpend)
        {
            @Html.Partial("_ListSubCost", item);
        }
    }
}