﻿@using IInterface.Models
@model PaySheetModel
@{
    List<SelectListItem> lstYear = ViewData["ListYear"] as List<SelectListItem>;
    List<SelectListItem> lstType = ViewData["ListType"] as List<SelectListItem>;
}
@using (Ajax.BeginForm("SavePaySheet", "PaySheet", new AjaxOptions()
{
    HttpMethod = "post",
    OnBegin = "onBegin",
    OnSuccess = "onSuccess",
    OnFailure = "onFail"
}, new { id = "frmCreateOrEdit" }))
{
    @Html.AntiForgeryToken()
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                @Html.HiddenFor(model => model.Year)
                @if (Model != null && Model.PaySheetId > 0)
                {
                    @Html.HiddenFor(model => model.PaySheetId)
                    <h4 class="modal-title">Cập nhật bảng lương</h4>
                }
                else
                {
                    <h4 class="modal-title">Thêm mới bảng lương</h4>
                }

            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <div class="col-md-2"></div>
                        <label class="control-label col-md-2">Năm</label>
                        <div class="col-md-6">
                            @Html.DropDownListFor(x => x.Year, lstYear, new { @class = "select2", @style = "float:left; width: 100%" })
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-2"></div>
                        <label class="control-label col-md-2">Nhóm lương</label>
                        <div class="col-md-6">
                            @Html.DropDownListFor(x => x.Type, lstType, new { @class = "select2", @style = "float:left; width: 100%" })
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-2"></div>
                        <label class="control-label col-md-2">Số lao động dự kiến</label>
                        <div class="col-md-6">
                            @Html.TextBoxFor(model => model.NumOfEmployee, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.NumOfEmployee)
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-2"></div>
                        <label class="control-label col-md-2">Hệ số lương</label>
                        <div class="col-md-6">
                            @Html.TextBoxFor(model => model.Coefficient, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Coefficient)
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success"><i class="fa fa-floppy-o"></i> Lưu</button>
                <button type="button" data-dismiss="modal" class="btn btn-default"><i class="fa fa-ban"></i> Đóng</button>
            </div>
        </div>
    </div>
}
<script type="text/javascript">
    $(document).ready(function () {
        $('#frmCreateOrEdit select').select2();
    });

    function onBegin() {
        if ($("#frmCreateOrEdit").valid()) {
            return true;
        } else {
            return false;
        }
    }

    function onSuccess(msg) {
        CommonJS.alert(msg);
        SearchPaySheet();
    }

    function onFail(xhr) {
        CommonJS.alert(xhr.responseText);
    }
</script>
