﻿@using IInterface.Models
@model AllowanceModel
@{
    List<SelectListItem> lstYear = ViewData["ListYear"] as List<SelectListItem>;
    List<SelectListItem> lstType = ViewData["ListType"] as List<SelectListItem>;
}
}
@using (Ajax.BeginForm("SaveAllowance", "PaySheet", new AjaxOptions()
{
    HttpMethod = "post",
    OnBegin = "onBegin",
    OnSuccess = "onSuccess",
    OnFailure = "onFail"
}, new { id = "frmCreateOrEditAllowance" }))
{
    @Html.AntiForgeryToken()
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                @Html.HiddenFor(model => model.Year)
                @if (Model != null && Model.AllowanceId > 0)
                {
                    @Html.HiddenFor(model => model.AllowanceId)
                    <h4 class="modal-title">Cập nhật phụ cấp</h4>
                }
                else
                {
                    <h4 class="modal-title">Thêm mới phụ cấp</h4>
                }

            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <div class="col-md-1"></div>
                        <label class="control-label col-md-4">Năm</label>
                        <div class="col-md-6">
                            @Html.DropDownListFor(x => x.Year, lstYear, new { @class = "select2", @style = "float:left; width: 100%" })
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-1"></div>
                        <label class="control-label col-md-4">Nhóm lương</label>
                        <div class="col-md-6">
                            @Html.DropDownListFor(x => x.Type, lstType, new { @class = "select2", @style = "float:left; width: 100%" })
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-1"></div>
                        <label class="control-label col-md-4">Số cán bộ, công chức, viên chức nhận phụ cấp kiêm nhiệm</label>
                        <div class="col-md-6">
                            @Html.TextBoxFor(model => model.NumOfEmployee, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.NumOfEmployee)
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-1"></div>
                        <label class="control-label col-md-4">Hệ số lương</label>
                        <div class="col-md-6">
                            @Html.TextBoxFor(model => model.Coefficient, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Coefficient)
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success"><i class="fa fa-floppy-o"></i> Lưu</button>
                <button type="button" data-dismiss="modal" class="btn btn-default"><i class="fa fa-ban"></i> Đóng</button>
            </div>
        </div>
    </div>
}
<script type="text/javascript">
    $(document).ready(function () {
        $('#frmCreateOrEditAllowance select').select2();
    });

    function onBegin() {
        if ($("#frmCreateOrEditAllowance").valid()) {
            return true;
        } else {
            return false;
        }
    }

    function onSuccess(msg) {
        CommonJS.alert(msg);
        SearchAllowance();
    }

    function onFail(xhr) {
        CommonJS.alert(xhr.responseText);
    }
</script>

