﻿@using System.Globalization
@using IInterface.Models

@{
    List<AllowanceModel> lstAllowance = ViewData["AllowanceResult"] as List<AllowanceModel>;
    AllowanceModel total = ViewData["AllowanceTotal"] as AllowanceModel;
    int i = 0;
}
<div class="box box-solid">
    <div class="box-header with-border">
        <div class="row">
            <div class="col-md-8"><h4>BẢNG TÍNH PHỤ CẤP HÀNG THÁNG CHO CÁC CÁN BỘ KIÊM NHIỆM</h4></div>
            <div class="col-md-4">
                <button class="btn btn-success" type="button" data-toggle="modal" style="float: right" data-target="#modal-AddOrEdit-Allowance" onclick="PrepareAddOrEditAllowance(-1)"><i class="fa fa-plus"></i> Thêm mới</button>
            </div>
        </div>
    </div>
    <div class="box-body">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="header-table">TT</th>
                    <th class="header-table w15">Số cán bộ, công chức, viên chức nhận phụ cấp kiêm nhiệm</th>
                    <th class="header-table">Hệ số lương</th>
                    <th class="header-table"> Lương cơ bản </th>
                    <th class="header-table"> Phụ cấp (30%) 1 tháng </th>
                    <th class="header-table"> Tổng số tiền phụ cấp 1 năm  </th>
                    <th class="header-table"></th>
                </tr>

            </thead>
            <tbody>
                <tr class="sub-header">
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4=3x1.300.000đ </td>
                    <td>5 =4 x 30%</td>
                    <td>6 = 5x 12th</td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td style="text-align: right;">-</td>
                    <td style="text-align: right;">-</td>
                    <td></td>
                    <td></td>
                </tr>
                @foreach (AllowanceModel al in lstAllowance)
            {
                i = i + 1;
                    <tr>
                        <td style="text-align: center;">@i</td>
                        <td style="text-align: center;">
                            @al.NumOfEmployee
                        </td>
                        <td style="text-align: center;">
                            @al.Coefficient
                        </td>
                        <td style="text-align: right;">
                            @al.BasicSalary.GetValueOrDefault().ToString("#,##0")
                        </td>
                        <td style="text-align: right;">
                            @al.AllowancePerMonth.GetValueOrDefault().ToString("#,##0")
                        </td>
                        <td style="text-align: right;">
                            @al.TotalPerYear.GetValueOrDefault().ToString("#,##0")
                        </td>
                        <td style="text-align: center;">
                            <a href="javascript:void(0)" onclick="PrepareAddOrEditAllowance(@al.AllowanceId)" data-toggle="modal" data-target="#modal-AddOrEdit-Allowance" class="btn btn-xs btn-primary" title="Sửa phụ cấp"><i class="fa fa-edit"></i> Sửa</a>
                            <a href="javascript:void(0)" onclick="DeleteAllowance(@al.AllowanceId)" class="btn btn-xs btn-danger" title="Xóa phụ cấp"><i class="fa fa-trash-o"></i> Xóa</a>
                        </td>
                    </tr>
                }
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td style="text-align: right;">-</td>
                    <td style="text-align: right;">-</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <label style="font-weight: bold; text-align: center; font-size: 14px;">Tổng cộng</label>
                    </td>
                    <td></td>
                    <td style="text-align: right;">
                        @total.BasicSalary.GetValueOrDefault().ToString("#,##0")
                    </td>
                    <td style="text-align: right;">
                        @total.AllowancePerMonth.GetValueOrDefault().ToString("#,##0")
                    </td>
                    <td style="text-align: right;">
                        @total.TotalPerYear.GetValueOrDefault().ToString("#,##0")
                    </td>
                    <td></td>
                </tr>

            </tbody>
        </table>
    </div>
</div>
