﻿@using System.Globalization
@using IInterface.Models

@{
    List<PaySheetModel> lstPaySheet = ViewData["PaySheetResult"] as List<PaySheetModel>;
    PaySheetModel total = ViewData["PaySheetTotal"] as PaySheetModel;
    int i = 0;
}
<div class="box box-solid">
    <div class="box-header with-border">
        <div class="row">
            <div class="col-md-8"><h4>BẢNG TÍNH LƯƠNG HÀNG THÁNG CHO CÁC CÁN BỘ</h4></div>
            <div class="col-md-4">
                <button class="btn btn-success" type="button" data-toggle="modal" style="float: right" data-target="#modal-AddOrEdit-PaySheet" onclick="PrepareAddOrEditPaySheet('-1')"><i class="fa fa-plus"></i> Thêm mới</button>
            </div>
        </div>
    </div>
    <div class="box-body">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th rowspan="2" class="header-table">TT</th>
                    <th rowspan="2" class="header-table w9"> Số lao động dự kiến trong năm @ViewData["YearView"] </th>
                    <th rowspan="2" class="header-table"> Hệ số lương</th>
                    <th rowspan="2" class="header-table"> Lương cơ bản </th>
                    <th rowspan="2" class="header-table"> Tiền lương tăng thêm </th>
                    <th rowspan="2" class="header-table"> Tổng tiền lương 1 tháng </th>
                    <th rowspan="2" class="header-table"> Tổng tiền lương 1 năm </th>
                    <th colspan="2" class="header-table"> Các khoản đóng BHXH, BHYT, KPCĐ, BH thất nghiệp </th>
                    <th rowspan="2" class="header-table"> Lương trả cho người lao động </th>
                    <th rowspan="2" class="header-table"> Tổng quỹ lương </th>
                    <th rowspan="2" class="header-table w12"></th>
                </tr>
                <tr>
                    <th class="header-table">Tổng số đơn vị sử dụng lao động đóng (24%)</th>
                    <th class="header-table">Tổng số người lao động đóng (10,5%)</th>
                </tr>
            </thead>
            <tbody>
                <tr class="sub-header">
                    <td>A</td>
                    <td>B</td>
                    <td>1</td>
                    <td>2=1 x 1.300.000đ </td>
                    <td>3 = 1 x 1.300.000đ</td>
                    <td>4=2+3</td>
                    <td>5=4 x 12th</td>
                    <td>6=2 x 24% x 12th</td>
                    <td>7=2 x 10,5% x 12th</td>
                    <td>8= 5-7</td>
                    <td>9=5</td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td style="text-align: right;">-</td>
                    <td style="text-align: right;">-</td>
                    <td></td>
                    <td style="text-align: right;">-</td>
                    <td style="text-align: right;">-</td>
                    <td style="text-align: right;">-</td>
                    <td style="text-align: right;">-</td>
                    <td style="text-align: right;">-</td>
                    <td></td>
                </tr>
                @foreach (PaySheetModel ps in lstPaySheet)
                {
                    i = i + 1;
                    <tr>
                        <td style="text-align: center;">@i</td>
                        <td style="text-align: center;">
                            @ps.NumOfEmployee
                        </td>
                        <td style="text-align: center;">
                            @ps.Coefficient
                        </td>
                        <td style="text-align: right;">
                            @ps.BasicSalary.GetValueOrDefault().ToString("#,##0")
                        </td>
                        <td style="text-align: right;">
                            @ps.IncreasedSalary.GetValueOrDefault().ToString("#,##0")
                        </td>
                        <td style="text-align: right;">
                            @ps.TotalPerMonth.GetValueOrDefault().ToString("#,##0")
                        </td>
                        <td style="text-align: right;">
                            @ps.TotalPerYear.GetValueOrDefault().ToString("#,##0")
                        </td>
                        <td style="text-align: right;">
                            @ps.InsurranceDepartmentPay.GetValueOrDefault().ToString("#,##0")
                        </td>
                        <td style="text-align: right;">
                            @ps.InsurranceEmplyeePay.GetValueOrDefault().ToString("#,##0")
                        </td>
                        <td style="text-align: right;">
                            @ps.ActuallyReceived.GetValueOrDefault().ToString("#,##0")
                        </td>
                        <td style="text-align: right;">
                            @ps.TotalSalary.GetValueOrDefault().ToString("#,##0")
                        </td>
                        <td>
                            <a href="javascript:void(0)" onclick="PrepareAddOrEditPaySheet(@ps.PaySheetId)" data-toggle="modal" data-target="#modal-AddOrEdit-PaySheet" class="btn btn-xs btn-primary" title="Sửa bảng lương"><i class="fa fa-edit"></i> Sửa</a>
                            <a href="javascript:void(0)" onclick="DeletePaySheet(@ps.PaySheetId)" class="btn btn-xs btn-danger" title="Xóa bảng lương"><i class="fa fa-trash-o"></i> Xóa</a>
                        </td>
                    </tr>
                }
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td style="text-align: right;">-</td>
                    <td style="text-align: right;">-</td>
                    <td></td>
                    <td style="text-align: right;">-</td>
                    <td style="text-align: right;">-</td>
                    <td style="text-align: right;">-</td>
                    <td style="text-align: right;">-</td>
                    <td style="text-align: right;">-</td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <label style="font-weight: bold; text-align: center; font-size: 14px;">Tổng cộng</label>
                    </td>
                    <td></td>
                    <td style="text-align: right;">
                        @total.BasicSalary.GetValueOrDefault().ToString("#,##0")
                    </td>
                    <td style="text-align: right;">
                        @total.IncreasedSalary.GetValueOrDefault().ToString("#,##0")
                    </td>
                    <td style="text-align: right;">
                        @total.TotalPerMonth.GetValueOrDefault().ToString("#,##0")
                    </td>
                    <td style="text-align: right;">
                        @total.TotalPerYear.GetValueOrDefault().ToString("#,##0")
                    </td>
                    <td style="text-align: right;">
                        @total.InsurranceDepartmentPay.GetValueOrDefault().ToString("#,##0")
                    </td>
                    <td style="text-align: right;">
                        @total.InsurranceEmplyeePay.GetValueOrDefault().ToString("#,##0")
                    </td>
                    <td style="text-align: right;">
                        @total.ActuallyReceived.GetValueOrDefault().ToString("#,##0")
                    </td>
                    <td style="text-align: right;">
                        @total.TotalSalary.GetValueOrDefault().ToString("#,##0")
                    </td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
