﻿@using IInterface.Models
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    List<SelectListItem> lstYear = ViewData["ListYear"] as List<SelectListItem>;
    List<SelectListItem> lstType = ViewData["ListType"] as List<SelectListItem>;
}
<style>
    .header-table {
        text-align: center !important;
        vertical-align: middle !important;
    }

    .sub-header {
        text-align: center !important;
        vertical-align: middle !important;
        font-style: italic;
    }

    .frm-no-padding {
        padding-bottom: -5px !important;
    }

    .w9 {
        width: 9%;
    }

    .w11 {
        width: 11%;
    }

    .w12 {
        width: 12%;
    }

    .w15 {
        width: 15%;
    }
</style>
<div class="col-lg-12">
    <div class="box">
        <div class="box-header with-border">
            <div class="form-horizontal no-padding" style="padding-bottom: -5px !important">
                <div class="form-group" style="margin-bottom: -5px !important">
                    <div class="col-md-6">
                        <label class="control-label col-md-4">Chọn năm</label>
                        <div class="col-md-8">
                            @Html.DropDownList("YearCount", lstYear, new { @class = "select2", @style = "float:left; width:100% " })
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label class="control-label col-md-4">Chọn nhóm lương</label>
                        <div class="col-md-8">
                            @Html.DropDownList("Type", lstType, new { @class = "select2", @style = "float:left; width:100% " })
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="box-body">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#bang-luong" data-toggle="tab" aria-expanded="true">Bảng lương </a>
                    </li>
                    <li class="">
                        <a href="#phu-cap" data-toggle="tab" aria-expanded="false">Phụ cấp</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="bang-luong">
                        @Html.Partial("_PaySheet")
                    </div>
                    <div class="tab-pane" id="phu-cap">
                        @Html.Partial("_Allowance")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="modal-AddOrEdit-PaySheet" class="modal fade" Period="dialog"></div>
<div id="modal-AddOrEdit-Allowance" class="modal fade" Period="dialog"></div>
<script type="text/javascript">
    $(document).ready(function () {
        $('select').select2();
        $("#YearCount").change(function () {
            SearchPaySheet();
            SearchAllowance();
        });
        $("#Type").change(function () {
            SearchPaySheet();
            SearchAllowance();
        });
    });
    function PrepareAddOrEditPaySheet(id) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("PrepareAddOrEditPaySheet", "PaySheet")',
            data: {
                'id': id, 'year': $("#YearCount").val(), 'type': $("#Type").val()
            },
            success: function (result) {
                $("#modal-AddOrEdit-PaySheet").html(result);
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }

    function PrepareAddOrEditAllowance(id) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("PrepareAddOrEditAllowance", "PaySheet")',
            data: {
                'id': id, 'year': $("#YearCount").val(), 'type': $("#Type").val()
            },
            success: function (result) {
                $("#modal-AddOrEdit-Allowance").html(result);
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }

    function SearchAllowance() {
        $.ajax({
            type: "POST",
            url: '@Url.Action("SearchAllowance", "PaySheet")',
            data: { 'year': $("#YearCount").val(), 'type': $("#Type").val() },
            success: function (result) {
                $("#phu-cap").html(result);
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }

    function SearchPaySheet() {
        $.ajax({
            type: "POST",
            url: '@Url.Action("SearchPaySheet", "PaySheet")',
            data: { 'year': $("#YearCount").val(), 'type': $("#Type").val() },
            success: function (result) {
                $("#bang-luong").html(result);
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }

    function DeleteAllowance(id) {
        if (!confirm("Bạn có chắc chắn muốn xóa phụ cấp?")) {
            return;
        }
        $.ajax({
            type: "POST",
            url: '@Url.Action("DeleteAllowance", "PaySheet")',
            data: { 'id': id },
            success: function (data) {
                CommonJS.alert(data);
                SearchAllowance();
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }
    function DeletePaySheet(id) {
        if (!confirm("Bạn có chắc chắn muốn xóa bảng lương?")) {
            return;
        }
        $.ajax({
            type: "POST",
            url: '@Url.Action("DeletePaySheet", "PaySheet")',
            data: { 'id': id },
            success: function (data) {
                CommonJS.alert(data);
                SearchPaySheet();
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }
</script>
