﻿@model IInterface.Models.ActionIndexModel
@{
    List<SelectListItem> listTarget = ViewData["listTarget"] as List<SelectListItem>;
    List<SelectListItem> listAction = ViewData["listAction"] as List<SelectListItem>;
}

@using (Ajax.BeginForm("Save", "ActionIndex", new AjaxOptions()
{
    HttpMethod = "post",
    OnBegin = "onBegin",
    OnSuccess = "onSuccess",
    OnFailure = "onFail"
}, new { id = "frmCreateOrEdit" }))
{
    @Html.AntiForgeryToken()
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                @if (Model != null && Model.ActionIndexID > 0)
                {
                    @Html.HiddenFor(model => model.ActionIndexID)
                    <h4 class="modal-title">Cập nhật chỉ số hoạt động</h4>
                }
                else
                {
                    <h4 class="modal-title">Thêm mới chỉ số hoạt động</h4>
                }

            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-md-2">Mục tiêu</label>
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.TargetID, listTarget, new { @class = "form-control select2", style = "width: 100%; float:left"})
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">Hoạt động</label>
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.ActionID, listAction, new { @class = "form-control select2", style = "width: 100%; float:left" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">Tên chỉ số</label>
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.IndexName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.IndexName)
                        </div>
                    </div>                   
                    <div class="form-group">
                        <label class="control-label col-md-2">Đơn vị tính</label>
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.UnitName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.UnitName)
                        </div>
                    </div>     
                </div>

            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success"><i class="fa fa-floppy-o"></i> Lưu</button>
                <button type="button" data-dismiss="modal" class="btn btn-default"><i class="fa fa-ban"></i> Hủy</button>
            </div>
        </div>
    </div>
}
<script type="text/javascript">
    $(document).ready(function () {
        $('.select2').select2();
        $.validator.unobtrusive.parse("#frmCreateOrEdit");

        $("#frmCreateOrEdit #TargetID").change(function () {
            var targetId = $(this).val();
            $.ajax({
                type: "POST",
                url: '@Url.Action("LoadListAction", "ActionIndex")',
                data: { targetId: targetId },
                success: function (data) {
                    var select = $("#frmCreateOrEdit #ActionID");
                    select.empty();
                    var $prevGroup, prevGroupName;
                    $.each(data, function (index, itemData) {
                        if (itemData.Group != null) {
                            if (prevGroupName != itemData.Group.Name) {
                                $prevGroup = $('<optgroup />').prop('label', itemData.Group.Name).appendTo('#frmCreateOrEdit #ActionID');
                            }
                            $("<option />").val(itemData.Value).text(itemData.Text).appendTo($prevGroup);
                            prevGroupName = this.Group.Name;
                        } else {
                            $("<option />").val(itemData.Value).text(itemData.Text).appendTo('#frmCreateOrEdit #ActionID');
                        }
                    });
                },
                error: function (xhr) {
                    CommonJS.alert(xhr.responseText);
                }
            });
        });

    });
    function onBegin() {
        if ($("#frmCreateOrEdit").valid()) {
            return true;
        } else {
            return false;
        }
    }

    function onSuccess(msg) {
        CommonJS.alert(msg);
        Search();
    }

    function onFail(xhr) {
        CommonJS.alert(xhr.responseText);
    }
</script>
