﻿@using IInterface.Common;
@using IInterface.Models;
@{
    Paginate<ActionIndexModel> paginate = ViewData["listResult"] as Paginate<ActionIndexModel>;
    var grid = new WebGrid(
                          rowsPerPage: paginate.PageSize,
                          canPage: true,
                          canSort: false,
                          ajaxUpdateContainerId: "divGridResult"
                          );

    grid.Bind(paginate.List,
    autoSortAndPage: false,
    rowCount: paginate.Count);
    grid.Pager(WebGridPagerModes.All);
}
<style>
    .ContentColumn {
        width: 30%;
    }

    .CodeColumn {
        width: 8%;
    }
    .stable-action {
        vertical-align: middle !important;
    }
</style>
@{
    if (paginate.Count > 0)
    {
        var gridColumns = new List<WebGridColumn>();
        gridColumns.Add(grid.Column("STT", format: item => item.WebGrid.Rows.IndexOf(item) + 1
                + Math.Round(Convert.ToDouble(grid.TotalRowCount / grid.PageCount) / grid.RowsPerPage)
                * grid.RowsPerPage * grid.PageIndex));
        gridColumns.Add(grid.Column("TargetName", "Mục tiêu"));
        gridColumns.Add(grid.Column("ActionName", "Nội dung hoạt động", style: "ContentColumn"));
        gridColumns.Add(grid.Column("IndexName", "Tên chỉ số"));
        gridColumns.Add(grid.Column("UnitName", "Đơn vị tính"));        
        gridColumns.Add(grid.Column(header: "", format: @<text>
            <a href="javascript:void(0)" onclick="PrepareAddOrEdit(@item.ActionIndexID)" class="btn btn-xs btn-primary" title="Sửa thông tin"><i class="fa fa-edit"></i></a>
            <a href="javascript:void(0)" onclick="deleteActionIndex(@item.ActionIndexID)" class="btn btn-xs btn-danger" title="Xóa thông tin"><i class="fa fa-trash-o"></i></a>
        </text>, style: "CodeColumn"));

        @grid.GetHtml(htmlAttributes: new { id = "divGridResult" },
                                      fillEmptyRows: false,
                                      tableStyle: "table table-hover table-striped stable-action",
                                      footerStyle: "table-pager",
                                      alternatingRowStyle: "altRow",
                                      selectedRowStyle: "selectRow",
                                      mode: WebGridPagerModes.All,
                                      columns: gridColumns)

    }
    else
    {
        <div style="color:red; margin-left:10px;">
            Không có dữ liệu
        </div>
    }
}
<script>
    function PrepareAddOrEdit(id, type) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("PrepareAddOrEdit", "ActionIndex")',
            data: {
                'id': id
            },
            success: function (result) {
                $("#modal-AddOrEdit").html(result);
                $("#modal-AddOrEdit").modal("show");
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }

    function deleteActionIndex(id) {
        if (!confirm("Bạn có chắc chắn muốn xóa chỉ số hoạt động?")) {
            return;
        }
        $.ajax({
            type: "POST",
            url: '@Url.Action("Delete", "ActionIndex")',
            data: { 'id': id },
            success: function (data) {
                CommonJS.alert(data);
                Search();
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }
</script>
