﻿@using IInterface.Models
@{
    List<PlanTargetActionModel> listAction = ViewData["ListAction"] as List<PlanTargetActionModel>;
    int i = 0;
}
<div class="box">
    <div class="box-header with-border">
        <h3 class="box-title">Thống kê hoạt động mới</h3>
        <div class="box-tools pull-right">
            <button class="btn btn-box-tool" type="button" data-widget="collapse">
                <i class="fa fa-minus"></i>
            </button>
        </div>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <div class="row">
            <div class="col-md-12">
                @if (listAction.Any())
                {
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="header-table">TT</th>
                                <th class="header-table">Nội dung hoạt động</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (PlanTargetActionModel al in listAction)
                            {
                                i = i + 1;
                                <tr>
                                    <td style="text-align: center;">
                                        @i
                                    </td>
                                    <td>
                                        @al.ActionContent
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <div style="color:red; margin-left:10px;">
                        Chưa có dữ liệu
                    </div>
                }
            </div>
            <!-- /.col -->
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- ./box-body -->
    <div class="box-footer">
    </div>
    <!-- /.box-footer -->
</div>