﻿@using IInterface.Models
@using IModel
@{
    List<PlanTargetIndex> listIndex = ViewData["ListIndex"] as List<PlanTargetIndex>;
    int i = 0;
}
<div class="box">
    <div class="box-header with-border">
        <h3 class="box-title">Thống kê chỉ số mới</h3>

        <div class="box-tools pull-right">
            <button class="btn btn-box-tool" type="button" data-widget="collapse"><i class="fa fa-minus"></i>
            </button>
        </div>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <div class="row">
            <div class="col-md-12">
                @if (listIndex.Any())
                {
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th class="header-table">TT</th>
                            <th class="header-table">Nội dung chỉ số</th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (PlanTargetIndex al in listIndex)
                        {
                            i = i + 1;
                            <tr>
                                <td style="text-align: center;">
                                    @i
                                </td>
                                <td>
                                    @al.ContentIndex
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                }
                else
                {
                    <div style="color:red; margin-left:10px;">
                        Chưa có dữ liệu
                    </div>
                }
            </div>
            <!-- /.col -->
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- ./box-body -->
    <div class="box-footer">
        @*<div class="row">
            <div class="col-sm-3 col-xs-6">
                <div class="description-block border-right">
                    <span class="description-percentage text-green"><i class="fa fa-caret-up"></i> 17%</span>
                    <h5 class="description-header">$35,210.43</h5>
                    <span class="description-text">TOTAL REVENUE</span>
                </div>
                <!-- /.description-block -->
            </div>
            <!-- /.col -->
            <div class="col-sm-3 col-xs-6">
                <div class="description-block border-right">
                    <span class="description-percentage text-yellow"><i class="fa fa-caret-left"></i> 0%</span>
                    <h5 class="description-header">$10,390.90</h5>
                    <span class="description-text">TOTAL COST</span>
                </div>
                <!-- /.description-block -->
            </div>
            <!-- /.col -->
            <div class="col-sm-3 col-xs-6">
                <div class="description-block border-right">
                    <span class="description-percentage text-green"><i class="fa fa-caret-up"></i> 20%</span>
                    <h5 class="description-header">$24,813.53</h5>
                    <span class="description-text">TOTAL PROFIT</span>
                </div>
                <!-- /.description-block -->
            </div>
            <!-- /.col -->
            <div class="col-sm-3 col-xs-6">
                <div class="description-block">
                    <span class="description-percentage text-red"><i class="fa fa-caret-down"></i> 18%</span>
                    <h5 class="description-header">1200</h5>
                    <span class="description-text">GOAL COMPLETIONS</span>
                </div>
                <!-- /.description-block -->
            </div>
        </div>*@
        <!-- /.row -->
    </div>
    <!-- /.box-footer -->
</div>