﻿@using IInterface.Models
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    StatisticModel s = (StatisticModel)ViewData["StatisticResult"];
}
<style>
    .w11 {
        width: 11%;
    }
</style>
<div class="row">   
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-primary">
            <div class="inner">
                <h3>@(s.TargetNum + s.ActionNum + s.IndexNum)</h3>
                <p>Tất cả</p>
            </div>
            <div class="icon">
                <i class="fa fa-globe"></i>
            </div>
            <a class="small-box-footer" href="#">&nbsp;&nbsp; </a>
        </div>
    </div>
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-aqua">
            <div class="inner">
                <h3>@s.TargetNum</h3>
                <p>Mục tiêu</p>
            </div>
            <div class="icon">
                <i class="fa fa-recycle"></i>
            </div>
            <a class="small-box-footer" href="#" onclick="GetTargetDetail()">Chi tiết <i class="fa fa-arrow-circle-down" id="iTargetNum"></i></a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-green">
            <div class="inner">
                <h3>@s.ActionNum</h3>
                <p>Hoạt động mới</p>
            </div>
            <div class="icon">
                <i class="fa fa-gears"></i>
            </div>
            <a class="small-box-footer" href="#" onclick="GetActionDetail()">Chi tiết <i class="fa fa-arrow-circle-right" id="iActionNum"></i></a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-yellow">
            <div class="inner">
                <h3>@s.IndexNum</h3>
                <p>Chỉ số mới</p>
            </div>
            <div class="icon">
                <i class="ion fa fa-pie-chart"></i>
            </div>
            <a class="small-box-footer" href="#" onclick="GetIndexDetail()">Chi tiết <i class="fa fa-arrow-circle-right" id="iIndexNum"></i></a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12" id="statistic-detail">
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function() {
        GetTargetDetail();
    });

    function GetTargetDetail() {
        $("#iTargetNum").removeClass("fa fa-arrow-circle-right");
        $("#iTargetNum").addClass("fa fa-arrow-circle-down");

        $("#iActionNum").removeClass("fa fa-arrow-circle-down");
        $("#iActionNum").addClass("fa fa-arrow-circle-right");

        $("#iIndexNum").removeClass("fa fa-arrow-circle-down");
        $("#iIndexNum").addClass("fa fa-arrow-circle-right");

        $.ajax({
            type: "POST",
            url: '@Url.Action("GetTargetDetail", "Statistic")',
            data: {},
            success: function (result) {
                $("#statistic-detail").html("");
                $("#statistic-detail").html(result);
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }
    function GetActionDetail() {
        $("#iTargetNum").removeClass("fa fa-arrow-circle-down");
        $("#iTargetNum").addClass("fa fa-arrow-circle-right");

        $("#iActionNum").removeClass("fa fa-arrow-circle-right");
        $("#iActionNum").addClass("fa fa-arrow-circle-down");

        $("#iIndexNum").removeClass("fa fa-arrow-circle-down");
        $("#iIndexNum").addClass("fa fa-arrow-circle-right");

        $.ajax({
            type: "POST",
            url: '@Url.Action("GetActionDetail", "Statistic")',
            data: {},
            success: function (result) {
                $("#statistic-detail").html("");
                $("#statistic-detail").html(result);
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }
    function GetIndexDetail() {
        $("#iTargetNum").removeClass("fa fa-arrow-circle-down");
        $("#iTargetNum").addClass("fa fa-arrow-circle-right");

        $("#iActionNum").removeClass("fa fa-arrow-circle-down");
        $("#iActionNum").addClass("fa fa-arrow-circle-right");

        $("#iIndexNum").removeClass("fa fa-arrow-circle-right");
        $("#iIndexNum").addClass("fa fa-arrow-circle-down");
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetIndexDetail", "Statistic")',
            data: {},
            success: function (result) {
                $("#statistic-detail").html("");
                $("#statistic-detail").html(result);
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }
</script>