﻿@using IInterface.Common;
@using IInterface.Models;
@{
    List<MenuModel> listMenu = ViewData["listMenu"] as List<MenuModel>;
    int? roleId = ViewData["roleId"] as int?;
}
@if (listMenu.Count > 0)
{
    <input type="hidden" name="roleId" value="@roleId" />
    <table class="table table-hover" id="tableAddMenu">
        <thead>
            <tr>
                <th>
                    Tên chức năng
                </th>
                <th>
                    <input type="checkbox" id="checkAllMenu" onclick="checkAll(this)" />
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (MenuModel menu in listMenu)
            {
                string isChecked = "";
                if (menu.IsSelected)
                {
                    isChecked = "checked";
                }
                <tr>
                    <td>
                        <a href="javascript:void(0)"><i class="fa fa-arrow-down" onclick="changeDisplayChild(this, @menu.MenuID, false)"></i></a>&nbsp;@menu.MenuName
                    </td>
                    <td>
                        <input type="checkbox" id="checkAllMenu_@menu.MenuID" name="menuIds" @isChecked onclick="checkChild(this)" value="@menu.MenuID" />
                    </td>
                </tr>
                if (menu.ListChildMenu != null && menu.ListChildMenu.Count > 0)
                {
                    foreach (MenuModel child in menu.ListChildMenu)
                    {
                        string isChildChecked = "";
                        if (child.IsSelected)
                        {
                            isChildChecked = "checked";
                        }
                        <tr parent="@menu.MenuID">
                            <td>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@child.MenuName
                            </td>
                            <td>
                                <input type="checkbox" parent="@menu.MenuID" name="menuIds" @isChildChecked onclick="checkOne(this)" value="@child.MenuID" />
                            </td>
                        </tr>
                    }
                }
            }
        </tbody>
    </table>
}
else
{
    <div style="color:red; margin-left:10px;">
        Danh sách chức năng hệ thống chưa được khai báo
    </div>
}
<script type="text/javascript">
    function checkAll(item) {
        var checked = $(item).prop("checked");
        $("#tableAddMenu tbody input:checkbox[name='menuIds']").prop("checked", checked);
    }

    function changeDisplayChild(item, menuId, status) {
        if (status) {
            $(item).attr("class", "fa fa-arrow-down");;
            $("#tableAddMenu tbody tr[parent='" + menuId + "']").show();
        } else {
            $(item).attr("class", "fa fa-arrow-right")
            $("#tableAddMenu tbody tr[parent='" + menuId + "']").hide();
        }
        status = !status;
        $(item).attr("onclick", "changeDisplayChild(this, " + menuId + "," + status + ")");
        // Kiem tra check all
        if (!$(item).is(':checked')) {
            $("#checkAllMenu").prop("checked", false);
        } else {
            if ($("#tableAddMenu tbody input:checkbox[name='menuIds']:checked").length == $("#tableAddMenu tbody input:checkbox[name='menuIds']").length) {
                $("#checkAllMenu").prop("checked", true);
            }
        }
    }

    function checkChild(item) {
        var parentId = $(item).val();
        $("#tableAddMenu tbody input:checkbox[parent='" + parentId + "']").prop("checked", $(item).prop("checked"));
        // Kiem tra check all
        if (!$(item).is(':checked')) {
            $("#checkAllMenu").prop("checked", false);
        } else {
            if ($("#tableAddMenu tbody input:checkbox[name='menuIds']:checked").length == $("#tableAddMenu tbody input:checkbox[name='menuIds']").length) {
                $("#checkAllMenu").prop("checked", true);
            }
        }
    }

    function checkOne(item) {
        var parentId = $(item).attr("parent");
        if (!$(item).is(':checked')) {
            $("#checkAllMenu").prop("checked", false);
            $("#checkAllMenu_" + parentId).prop("checked", false);
        } else {
            if ($("#tableAddMenu tbody input:checkbox[parent='" + parentId + "']:checked").length == $("#tableAddMenu tbody input:checkbox[parent='" + parentId + "']").length) {
                $("#checkAllMenu_" + parentId).prop("checked", true);
            }
            if ($("#tableAddMenu tbody input:checkbox[name='menuIds']:checked").length == $("#tableAddMenu tbody input:checkbox[name='menuIds']").length) {
                $("#checkAllMenu").prop("checked", true);
            }
        }
    }

    function addUserToZone() {
        var userIds = $("#gridUserAdd tbody").find("input:checkbox[name='userIds']:checked");
        if (userIds.length == 0) {
            CommonJS.alert("Chưa chọn tài khoản nào để thêm vào nhóm");
            return;
        }
        var listUserId = [];
        userIds.each(function () {
            listUserId.push($(this).val());
        });
        var zoneId = $('#zoneAddId').val();
        $.ajax({
            type: "POST",
            url: '@Url.Action("AddUsers", "Zones")',
            data: { 'userIds': listUserId, 'zoneId': zoneId },
            success: function (data) {
                CommonJS.alert(data);
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }
</script>
