﻿@using IInterface.Common;
@using IInterface.Models;
@{
    Paginate<RoleModel> paginate = ViewData["listRole"] as Paginate<RoleModel>;
    var grid = new WebGrid(
                          rowsPerPage: paginate.PageSize,
                          canPage: true,
                          canSort: false,
                          ajaxUpdateContainerId: "divGridRole"
                          );

    grid.Bind(paginate.List,
    autoSortAndPage: false,
    rowCount: paginate.Count);
    grid.Pager(WebGridPagerModes.All);
}
@{
    if (paginate.Count > 0)
    {
        var gridColumns = new List<WebGridColumn>();
        gridColumns.Add(grid.Column("STT", format: item => item.WebGrid.Rows.IndexOf(item) + 1
                + Math.Round(Convert.ToDouble(grid.TotalRowCount / grid.PageCount) / grid.RowsPerPage)
                * grid.RowsPerPage * grid.PageIndex));
        gridColumns.Add(grid.Column(header: "Tên nhóm", format: @<text>
        <a href="javascript:void(0)" onclick="getMenuListByRole(@item.RoleID, '@item.RoleName')">@item.RoleName</a>
        </text>));
        gridColumns.Add(grid.Column("Description", "Mô tả"));
        gridColumns.Add(grid.Column("Ngày tạo", format: (item) => string.Format("{0:dd/MM/yyyy HH:mm:ss}", item.CreateDate)));
        gridColumns.Add(grid.Column(header: "", format: @<text>
            <a href="javascript:void(0)" onclick="addMenuList(@item.RoleID)" title="Thêm chức năng vào nhóm"><i class="fa fa-Menu-plus"></i></a>
        </text>));
                gridColumns.Add(grid.Column(header: "", format: @<text>
            <a href="javascript:void(0)" onclick="prepareEditRole(@item.RoleID)" title="Sửa nhóm người dùng"><i class="fa fa-edit"></i></a>
                </text>));
                gridColumns.Add(grid.Column(header: "", format: @<text>
                    <a href="javascript:void(0)" onclick="deleteRole(@item.RoleID)" title="Xóa nhóm người dùng"><i class="fa fa-trash-o text-danger"></i></a>
                </text>));

        @grid.GetHtml(htmlAttributes: new { id = "divGridRole" },
                                      fillEmptyRows: false,
                                      tableStyle: "table table-hover table-striped",
                                      footerStyle: "table-pager",
                                      alternatingRowStyle: "altRow",
                                      selectedRowStyle: "selectRow",
                                      mode: WebGridPagerModes.All,
                                      columns: gridColumns)
    }
    else
    {
        <div style="color:red; margin-left:10px;">
            Không có nhóm người dùng nào
        </div>
    }
}
<script type="text/javascript">
    function deleteRole(id) {
        if (!confirm("Bạn có chắc chắn muốn xóa nhóm người dùng?")) {
            return;
        }
        $.ajax({
            type: "POST",
            url: '@Url.Action("Delete", "Role")',
            data: { 'id': id },
            success: function (data) {
                CommonJS.alert(data);
                searchRole();
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }
    
    function prepareEditRole(id) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("OpenAddOrEdit", "Role")',
            data: { 'id': id },
            success: function (result) {
                $("#modal-Role").html(result);
                $("#modal-Role").modal("show");
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }
</script>