﻿@using IInterface.Models
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-lg-7">
        <div class="box">
            <div class="box-header">
                @using (Ajax.BeginForm("SearchRole", "Role", new AjaxOptions
                {
                    HttpMethod = "get",
                    OnSuccess = "onSuccessSearch",
                    UpdateTargetId = "divGridRole"
                }, new { id = "frmSearchRole" }))
                {
                    <div class="input-group with-border">
                        <input id="RoleName" name="RoleName" class="form-control" placeholder="Nhóm người dùng" type="text" />
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit"> <i class="fa fa-search"></i> Tìm kiếm</button>
                            <button class="btn btn-success" type="button" onclick="prepareEditRole(-1)"><i class="fa fa-plus"></i> Thêm mới</button>
                        </span>
                    </div>
                }
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-lg-12" id="divGridRole">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-5">
        @using (Ajax.BeginForm("AddMenus", "Role", new AjaxOptions
        {
            HttpMethod = "post",
            OnSuccess = "onSuccessAddMenu",
            OnFailure = "onFailAddMenu"
        }, new { id = "frmAddMenuRole" }))
        {
            <div class="box">
                <div class="box-header with-border">
                    <strong id="sTitleAddMenu"> Danh sách chức năng</strong>
                </div>
                <div class="box-body">
                    <div id="divMenuList">
                    </div>
                </div>
                <div class="box-footer" id="divBtnAddMenu" style="display:none">
                    <div class="col-lg-12">
                        <button class="btn btn-success" type="submit"><i class="fa fa-floppy-o"></i> Cập nhật</button>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<div id="modal-Role" class="modal fade" role="dialog"></div>
<script>
    $(document).ready(function () {
        searchRole();
    });

    function searchRole() {
        $("#frmSearchRole").submit();
    }

    function onSuccessSearch() {
        $("#divMenuList").html("");
        $("#divBtnAddMenu").hide();
        $("#sTitleAddMenu").html(" Danh sách chức năng");
    }

    function getMenuListByRole(id, name) {
        $.ajax({
            url: '@Url.Action("ViewListMenuForAdd", "Role")',
            data: {
                'id': id
            },
            success: function (result) {
                $("#divMenuList").html(result);
                $("#divBtnAddMenu").show();
                $("#sTitleAddMenu").html(" Danh sách chức năng nhóm người dùng " + name);
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }

    function onSuccessAddMenu(msg) {
        CommonJS.alert(msg);
    }

    function onFailAddMenu(xhr) {
        CommonJS.alert(xhr.responseText);
    }
</script>
