﻿@using IInterface.Models
@using IInterface.Common
@model ActionReportInfoModel
@{
    string sDate = Model.SendDate != null ? Model.SendDate.Value.ToString("dd/MM/yyyy HH:mm:ss") : string.Empty;
    List<ActionReportFileModel> listActionReportFile = ViewData["listActionReportFile"] as List<ActionReportFileModel>;
    if (listActionReportFile == null)
    {
        listActionReportFile = new List<ActionReportFileModel>();
    }
}
<div class="row" id="frmGeneralInfo">
    @Html.HiddenFor(x => x.ActionReportID)
    <div class="col-lg-12">
        <div class="box">
            <div class="box-header with-border text-center">
                <h4>BÁO CÁO HOẠT ĐỘNG</h4>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">
                <div class="form-horizontal">
                    <div class="row">
                        @Html.Label("Kế hoạch:", new { @class = "control-label col-md-2" })
                        <div class="col-md-4 control-label strong-left">
                            @Model.PlanName
                        </div>
                        @Html.Label("Năm:", new { @class = "control-label col-md-2" })
                        <div class="col-md-1 control-label strong-left">
                            @Model.Year
                        </div>
                        @Html.Label("Quý:", new { @class = "control-label col-md-2" })
                        <div class="col-md-1 control-label strong-left">
                            @Model.Quarter
                        </div>
                    </div>
                    <div class="row">
                        @Html.Label("Đơn vị:", new { @class = "control-label col-md-2" })
                        <div class="col-md-10 control-label strong-left">
                            @Model.DeptName
                        </div>
                    </div>
                    <div class="row">
                        @Html.Label("Ngày gửi báo cáo:", new { @class = "control-label col-md-2" })
                        <div class="col-md-4 control-label strong-left">
                            @sDate
                        </div>
                        @Html.Label("Trạng thái:", new { @class = "control-label col-md-2" })
                        <div class="col-md-4 control-label strong-left">
                            @if (Model.Status == Constants.PERIOD_NEW)
                            {
                                <span class="label label-default">Dự thảo</span>
                            }
                            else if (Model.Status == Constants.PERIOD_PLANNED)
                            {
                                <span class="label label-primary">Đã lập kế hoạch</span>
                            }
                            else if (Model.Status == Constants.PERIOD_NEXT_LEVER)
                            {
                                <span class="label label-info">Chuyển tiếp</span>
                            }
                            else if (Model.Status == Constants.PERIOD_APPROVED)
                            {
                                <span class="label label-success">Đã phê duyệt</span>
                            }
                            else
                            {
                                <span class="label label-default">Chưa lập kế hoạch</span>
                            }
                        </div>
                    </div>
                    <div class="row">
                        @Html.Label("Thuận lợi:", new { @class = "control-label col-md-2" })
                        <div class="col-md-10 control-label strong-left">
                            @Model.Advantage
                        </div>
                    </div>
                    <div class="row">
                        @Html.Label("Khó khăn:", new { @class = "control-label col-md-2" })
                        <div class="col-md-10 control-label strong-left">
                            @Model.Difficulty
                        </div>
                    </div>
                    <div class="row">
                        @Html.Label("Đề xuất:", new { @class = "control-label col-md-2" })
                        <div class="col-md-10 control-label strong-left">
                            @Model.Propose
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-md-2 control-label" for="order">Tài liệu:</label>
                        <div class="col-md-10">
                            <div id="divFile" class="alert alert-success" role="alert">
                                @for (int i = 0; i < listActionReportFile.Count; i++)
                                {
                                    ActionReportFileModel d = listActionReportFile[i];
                                    <div class="clearfix" id="divDoc_@i">
                                        <input type="hidden" name="ActionReportFileID" value="@d.ActionReportFileID" />
                                        <a href="@Url.Action("DownloadActionReportFile", "ActionReport", new { actionReportFileID = d.ActionReportFileID })" target="_blank">
                                            <strong>
                                                <i class="fa fa-paperclip"></i>
                                                &nbsp;@d.DocName (@d.MegaBytes)
                                            </strong>
                                        </a>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-footer">
                <div class="row">
                    <div class="col-md-12 text-right">
                        <a class="btn btn-default" href="@Url.Action("Index", "ReviewActionReport")"><i class="fa fa-backward"></i> Quay lại</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>