﻿@using IInterface.Common;
@using IInterface.Models;
@{
    UserInfo user = SessionManager.GetUserInfo();
    Paginate<ActionReportInfoModel> paginate = ViewData["listResult"] as Paginate<ActionReportInfoModel>;
    var grid = new WebGrid(
                          rowsPerPage: paginate.PageSize,
                          canPage: true,
                          canSort: false,
                          ajaxUpdateContainerId: "divGridResult"
                          );

    grid.Bind(paginate.List,
    autoSortAndPage: false,
    rowCount: paginate.Count);
    grid.Pager(WebGridPagerModes.All);
}
@{
    if (paginate.Count > 0)
    {
        var gridColumns = new List<WebGridColumn>();
        gridColumns.Add(grid.Column("STT", format: item => item.WebGrid.Rows.IndexOf(item) + 1
                + Math.Round(Convert.ToDouble(grid.TotalRowCount / grid.PageCount) / grid.RowsPerPage)
                * grid.RowsPerPage * grid.PageIndex));
        gridColumns.Add(grid.Column("PlanName", "Tên kế hoạch"));
        gridColumns.Add(grid.Column("Year", "Năm"));
        gridColumns.Add(grid.Column("Quarter", "Quý"));
        gridColumns.Add(grid.Column("DeptName", "Đơn vị"));
        gridColumns.Add(grid.Column(header: "Ngày gửi", format: (x) => string.Format("{0:dd/MM/yyyy HH:mm:ss}", x.SendDate)));
        gridColumns.Add(grid.Column(header: "Trạng thái", format: @<text>
            @if (item.Status == Constants.PERIOD_NEW)
            {
                <span class="label label-default">Dự thảo</span>
            }
            else if (item.Status == Constants.PERIOD_PLANNED)
            {
                <span class="label label-primary">Đã lập kế hoạch</span>
            }
            else if (item.Status == Constants.PERIOD_NEXT_LEVER)
            {
                <span class="label label-info">Chuyển tiếp</span>
            }
            else if (item.Status == Constants.PERIOD_APPROVED)
            {
                <span class="label label-success">Đã phê duyệt</span>
            }
            else
            {
                <span class="label label-default">Chưa lập kế hoạch</span>
            }
        </text>));
        gridColumns.Add(grid.Column(format: @<text>
            @if (item.Role >= Constants.ROLE_VIEW)
            {
                <a href="@Url.Action("View", "ReviewActionReport", new { id = item.ActionReportID })" data- data-toggle="tooltip" title="Xem chi tiết thông tin"><i class="fa fa-eye" style="font-size:18px"></i></a>
            }
            @if (item.Status != Constants.PERIOD_APPROVED)
            {
                if (item.Role >= Constants.ROLE_EDIT)
                {
                    <a href="@Url.Action("AddOrEdit", "ReviewActionReport", new { id = item.ActionReportID })" data- data-toggle="tooltip" title="Điều chỉnh thông tin"><i class="fa fa-edit" style="font-size:18px"></i></a>
                    <a href="javascript:void(0)" onclick="unlock(@item.ActionReportID)" data- data-toggle="tooltip" title="Mở khóa cho đơn vị cấp dưới điều chỉnh"><i class="fa fa-unlock" style="font-size:18px"></i></a>
                    if (item.Role >= Constants.ROLE_APPROVE)
                    {
                        <a href="javascript:void(0)" onclick="approve(@item.ActionReportID)" da data-toggle="tooltip" title="Phê duyệt báo cáo"><i class="fa fa-check-circle-o" style="font-size:18px"></i></a>
                    }
                    else
                    {
                        <a href="javascript:void(0)" onclick="agree(@item.ActionReportID)" da data-toggle="tooltip" title="Gửi báo cáo"><i class="fa fa-send-o" style="font-size:18px"></i></a>
                    }

                }
            }
            else
            {
                if (item.Role == Constants.ROLE_APPROVE)
                {
                    <a href="javascript:void(0)" onclick="unApprove(@item.ActionReportID)" da data-toggle="tooltip" title="Hủy phê duyệt báo cáo"><i class="fa fa-unlock" style="font-size:18px"></i></a>
                }
            }
            <a href="@Url.Action("ExportActionReport", "ActionReport", new { actionReportID = item.ActionReportID })" data-toggle="tooltip" title="Xuất file báo cáo"><i class="fa fa-file-word-o" style="font-size:18px"></i></a>
            <a href="javascript:void(0)" onclick="viewHistory(@item.ActionReportID)" da data-toggle="tooltip" title="Xem lịch sử xem xét báo cáo"><i class="fa fa-history" style="font-size:18px"></i></a>
        </text>));

        @grid.GetHtml(htmlAttributes: new { id = "divGridResult" },
                                      fillEmptyRows: false,
                                      tableStyle: "table table-hover table-striped",
                                      footerStyle: "table-pager",
                                      alternatingRowStyle: "altRow",
                                      selectedRowStyle: "selectRow",
                                      mode: WebGridPagerModes.All,
                                      columns: gridColumns)

    }
    else
    {
        <div style="color:red; margin-left:10px;">
            Không có dữ liệu
        </div>
    }
}
<script type="text/javascript">
    function approve(reportID) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("Approve", "ReviewActionReport")',
            data: { "reportID": reportID },
            success: function (data) {
                CommonJS.alert(data);
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
                Search();
            }
        });
    }
    function agree(reportID) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("Agree", "ReviewActionReport")',
            data: { "reportID": reportID },
            success: function (data) {
                CommonJS.alert(data);
                Search();
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }


    function viewHistory(reportID) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("LoadReportHis", "ReportHistory")',
            data: { "reportID": reportID, "reportType": '@Constants.REPORT_TYPE_ACTION' },
            success: function (data) {
                $("#modal-his").html(data);
                $("#modal-his").modal("show");
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }
</script>
