﻿@using IInterface.Models
@using IInterface.Common
@{
    List<ActionReportDetailModel> listDetail = ViewData["listDetail"] as List<ActionReportDetailModel>;
}

<div class="col-md-12">
    @Html.Hidden("ActionReportID")
    <table class="table table-bordered table-responsive">
        <thead>
            <tr>
                <th style="width: 8%; text-align:center">Mã hoạt động</th>
                <th style="width: 22%; text-align:center">Tên hoạt động</th>
                <th style="width: 50%; text-align:center">Kết quả đạt được</th>
                <th style="width: 20%; text-align:center">Ghi chú</th>
            </tr>
        </thead>
        <tbody>
            @foreach (ActionReportDetailModel detail in listDetail)
            {
                string actionCode = detail.IsTarget ? (!string.IsNullOrWhiteSpace(detail.TargetCode) ? detail.TargetCode.Trim() : string.Empty) :
                    (!string.IsNullOrWhiteSpace(detail.PlanTargetActionCode) ? detail.PlanTargetActionCode.Trim() : string.Empty);
                string actionName = detail.IsTarget ? (!string.IsNullOrWhiteSpace(detail.TargetName) ? detail.TargetName.Trim() : string.Empty) :
                    (!string.IsNullOrWhiteSpace(detail.PlanTargetActionName) ? detail.PlanTargetActionName.Trim() : string.Empty);
                <tr>
                    <td>@actionCode</td>
                    <td>@actionName</td>
                    <td>@detail.Result</td>
                    <td>@detail.Description</td>
                </tr>
                if (detail.ListSubAction != null && detail.ListSubAction.Any())
                {
                    foreach (SubActionPlanModel sub in detail.ListSubAction)
                    {
                        actionCode = !string.IsNullOrWhiteSpace(sub.SubActionCode) ? sub.SubActionCode.Trim() : string.Empty;
                        actionName = !string.IsNullOrWhiteSpace(sub.SubActionContent) ? sub.SubActionContent.Trim() : string.Empty;

                        <tr>
                            <td>@actionCode</td>
                            <td>@actionName</td>
                            <td>@sub.ActionReportResult</td>
                            <td>@sub.ActionReportDescription</td>
                        </tr>
                    }
                }
            }
        </tbody>
    </table>
</div>