﻿@using IInterface.Models
@using IInterface.Common
@{
    List<ActionReportDetailModel> listDetail = ViewData["listDetail"] as List<ActionReportDetailModel>;
}
@using (Ajax.BeginForm("Save", "ActionReport", new AjaxOptions()
{
    HttpMethod = "post",
    OnSuccess = "onSuccess",
    OnFailure = "onFail"
}, new { id = "frmCreateOrEditExpense" }))
{
    @Html.AntiForgeryToken()
    <div class="col-md-12">
        @Html.Hidden("ActionReportID")
        <table class="table table-bordered table-responsive">
            <thead>
                <tr>
                    <th style="width: 8%; text-align:center">Mã hoạt động</th>
                    <th style="width: 22%; text-align:center">Tên hoạt động</th>
                    <th style="width: 50%; text-align:center">Kết quả đạt được</th>
                    <th style="width: 20%; text-align:center">Ghi chú</th>
                </tr>
            </thead>
            <tbody>
                @foreach (ActionReportDetailModel detail in listDetail)
                {
                    string actionCode = detail.IsTarget ? (!string.IsNullOrWhiteSpace(detail.TargetCode) ? detail.TargetCode.Trim() : string.Empty) :
                        (!string.IsNullOrWhiteSpace(detail.PlanTargetActionCode) ? detail.PlanTargetActionCode.Trim() : string.Empty);
                    string actionName = detail.IsTarget ? (!string.IsNullOrWhiteSpace(detail.TargetName) ? detail.TargetName.Trim() : string.Empty) :
                        (!string.IsNullOrWhiteSpace(detail.PlanTargetActionName) ? detail.PlanTargetActionName.Trim() : string.Empty);
                    <tr>
                        <td>@actionCode</td>
                        <td>@actionName</td>                        
                        <td>
                            @if (detail.IsTarget)
                            {
                                <input type="hidden" name="ArrPlanTargetID" value="@detail.PlanTargetID" />
                                <textarea name="ArrPlanTargetResult" class="form-control">@detail.Result</textarea>
                            }
                            else
                            {
                                <input type="hidden" name="ArrPlanTargetActionID" value="@detail.PlanTargetActionID" />
                                <textarea name="ArrPlanTargetActionResult" class="form-control">@detail.Result</textarea>                                
                            }
                        </td>
                        <td>
                            @if (detail.IsTarget)
                            {
                                <textarea name="ArrPlanTargetDesc" class="form-control">@detail.Description</textarea>
                            }
                            else
                            {
                                <textarea name="ArrPlanTargetActionDes" class="form-control">@detail.Description</textarea>
                            }
                        </td>
                    </tr>
                    if (detail.ListSubAction != null && detail.ListSubAction.Any())
                    {
                        foreach (SubActionPlanModel sub in detail.ListSubAction)
                        {
                            actionCode = !string.IsNullOrWhiteSpace(sub.SubActionCode) ? sub.SubActionCode.Trim() : string.Empty;
                            actionName = !string.IsNullOrWhiteSpace(sub.SubActionContent) ? sub.SubActionContent.Trim() : string.Empty;
                            
                            <tr>
                                <td>@actionCode</td>
                                <td>@actionName</td> 
                                <td>
                                    <input type="hidden" name="ArrSubPlanActionID" value="@sub.SubActionPlanID" />
                                    <textarea name="ArrSubActionPlanResult" class="form-control">@detail.Result</textarea>
                                </td>
                                <td><textarea name="ArrSubActionPlanDes" class="form-control">@detail.Description</textarea></td>
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>
    </div>
    <div class="col-md-12 text-right">
        <button class="btn btn-success" type="button" onclick="onBegin()"> <i class="fa fa-floppy-o"></i> Lưu lại</button>
    </div>
}