﻿@using IInterface.Models;
@using IInterface.Common;
@{
    List<TargetIndexModel> lstTargetIndex = ViewData["listTargetIndexChoosen"] as List<TargetIndexModel>;
    int? isView = ViewData["isView"] as int?;
}
<div class="col-md-12">
    <div class="col-md-10 control-label strong-left label-info text-bold" style="font-size: 120%">
        Thông tin chỉ số thực hiện theo thực tế
    </div>
    @if (isView.GetValueOrDefault() == Constants.IS_NOT_ACTIVE)
    {
        <div class="col-md-2">
            <button class="btn btn-primary pull-right" onclick="TargetIndexChoice()">
                <i class="fa fa-plus"></i> Chọn chỉ số
            </button>
        </div>
    }
</div>
<div class="col-md-12">
    @if (lstTargetIndex != null && lstTargetIndex.Any())
    {
        <ul class="nav nav-pills nav-stacked">
            @foreach (var targetIndex in lstTargetIndex)
                {
                <li>
                    <a href="#">
                        @if (targetIndex.ValueIndex != 0)
                        {
                            <kbd>@targetIndex.ValueIndex</kbd>
                        }
                        @if (targetIndex.TypeIndex.GetValueOrDefault() == Constants.TYPE_INDEX_CHOICE)
                        {
                            <text>@targetIndex.ContentIndex</text>
                        }
                        else
                        {
                            <text>(@targetIndex.ContentIndex)</text>
                        }
                    </a>
                </li>
            }
        </ul>
    }
</div>
<script type="text/javascript">
    function TargetIndexChoice() {
        var actionReportID = $('#frmGeneralInfo #ActionReportID').val();
        var targetID = $('#TargetChoice').val();
        $.ajax({
            type: "POST",
            url: '@Url.Action("OpenIndexPopup", "ActionReport")',
            data: {
                'targetID': targetID,
                'actionReportID': actionReportID
            },
            success: function (data) {
                $("#modal-index").html(data);
                $("#modal-index").modal("show");
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }
</script>
