﻿
@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>404 Page</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/css/font-awesome.css" rel="stylesheet" />
    <link href="~/admin-lte/css/AdminLTE.css" rel="stylesheet" />
</head>
<body class="gray-bg">
    <div class="middle-box loginscreen animated fadeInDown text-center">
        <div>
            <hgroup>
                <h1 class="text-danger">404!</h1>
                <h3>Xin lỗi, địa chỉ bạn truy cập không tồn tại!</h3>
                <h4>Có thể URL bị hỏng hoặc đã bị quản trị viên xóa bỏ </h4>
            </hgroup>
            <a class="btn btn-lg btn-success" href="/Home/Index"><em class="fa fa-long-arrow-left"></em> Quay về trang chủ</a>            
            <h3 class="text-info">
                Hỗ trợ kỹ thuật: <a href="#">024.38315440</a>
            </h3>
        </div>
    </div>
</body>
</html>
