﻿@model IInterface.Models.ChangePasswordModel

@using (Ajax.BeginForm("ChangePassword", "Home", null, new AjaxOptions()
{
    HttpMethod = "post",
    OnBegin = "onBegin",
    OnSuccess = "onSuccess",
    OnFailure = "onFail"
}, new { id = "frmChangePassword" }))
{
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title ">
                    Thay đổi mật khẩu
                </h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="col-md-3 control-label">Tên đăng nhập</label>
                                <label class="col-md-9" style="margin-top: 6px;">@Model.FullName</label>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="col-md-3 control-label">Mật khẩu cũ</label>
                                <div class="col-md-9">
                                    @Html.PasswordFor(x => x.Password, new { placeholder = "Mật khẩu cũ", @class = "form-control" })
                                    @Html.ValidationMessageFor(x => x.Password)
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="col-md-3 control-label" for="NewPassword">Mật khẩu mới</label>
                                <div class="col-md-9">
                                    @Html.PasswordFor(x => x.NewPassword, new { placeholder = "Mật khẩu mới", @class = "form-control" })
                                    @Html.ValidationMessageFor(x => x.NewPassword)
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="col-md-3 control-label" for="ConfirmNewPassword">Xác nhận mật khẩu mới</label>
                                <div class="col-md-9">
                                    @Html.PasswordFor(x => x.ConfirmNewPassword, new { placeholder = "Xác nhận mật khẩu mới", @class = "form-control" })
                                    @Html.ValidationMessageFor(x => x.ConfirmNewPassword)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success"><i class="fa fa-floppy-o"></i> Lưu</button>
                <button type="button" data-dismiss="modal" class="btn btn-default"><i class="fa fa-ban"></i> Hủy</button>
            </div>
        </div>
    </div>
}
<script type="text/javascript">
    function onBegin() {
        if ($("#frmChangePassword").valid()) {
            return true;
        } else {
            return false;
        }
    }
    function onSuccess(msg) {
        CommonJS.alert(msg);
        $("#modal-change-password").modal('hide');
    }
    function onFail(xhr) {
        CommonJS.alert(xhr.responseText, false);
    }

    function changeUserProfile() {
        if (window.FormData !== undefined) {
           var fileData = new FormData();
            //var fileUpload = $("#frmChangePassword #txtUploadImage").get(0);

            //var files = fileUpload.files;

            //fileData.append("UserAvatar", files[0]);

            //  CommonJS.alert(files[0]);

            fileData.append("Password", $("#frmChangePassword #Password").val());
            fileData.append("NewPassword", $("#frmChangePassword #NewPassword").val());
            fileData.append("ConfirmNewPassword", $("#frmChangePassword #ConfirmNewPassword").val());

            $.ajax({
                type: "POST",
                url: '@Url.Action("ChangePassword", "Home")',
                //  data: myFrmData,
                contentType: false, // Not to set any content header
                processData: false, // Not to process data
                data: fileData,
                success: function (data) {
                    CommonJS.alert(data);
                    $("#modal-change-password").modal('hide');
                },
                error: function (e) {
                    console.log(e.responseJSON);
                    if (e.responseJSON != null) {
                        CommonJS.alert("Có lỗi hệ thống", false);
                    } else {
                        CommonJS.alert("Có lỗi hệ thống", false);
                    }
                 }
            });
        }
    }
</script>
