﻿@{
    ViewBag.Title = "Error";
}

<div class="error-page">
    <div class="error-content text-red" style="margin-left: 0px">
        <h2><i class="fa fa-warning text-red"></i> Có lỗi hệ thống, vui lòng quay lại sau!</h2>
        <p class="text-success">
            Thành thật xin lỗi quý vị vì sự cố này, chúng tôi sẽ khắc phục trong thời gian sớm nhất.
        </p>
    </div>
</div>