﻿@using IInterface.Common.CommonBO;
@using IInterface.Common;
@using IModel
@{
    ViewBag.Title = "Hệ thống quản lý văn bản";
    Layout = "~/Views/Shared/_Layout.cshtml";
    bool isWarning = (ViewData["isWarning"] as bool?).GetValueOrDefault();
    bool isWarningYear = (ViewData["isWarningYear"] as bool?).GetValueOrDefault();
    int countDay = (ViewData["countDay"] as int?).GetValueOrDefault();
    List<WarningBO> listWarning = ViewData["listWarning"] as List<WarningBO>;
    List<WarningBO> listTask = ViewData["listTask"] as List<WarningBO>;
    List<Department> listDept = ViewData["listDept"] as List<Department>;
    string percent = (countDay < 0 ? 100 : 100 - (countDay * 100 / Constants.REPORT_WARNING_BEFORE_DAY)) + "%";
    string title = "Còn " + countDay + " ngày để gửi báo cáo";
    if (countDay < 0)
    {
        title = "Đã hết thời gian gửi báo cáo";
    }
}

@if (isWarning && listWarning != null && listWarning.Any())
{
    <div class="row">
        <div class="col-md-4">
            @{
                WarningBO actionWarning = listWarning.Where(x => x.Quarter != null && x.Type == Constants.REPORT_TYPE_ACTION).FirstOrDefault();
            }
            <div class="info-box bg-yellow">
                <span class="info-box-icon"><i class="fa fa-eraser"></i></span>
                <div class="info-box-content">
                    <span class="info-box-number">@actionWarning.Count ĐƠN VỊ</span>
                    <span class="info-box-text">Chưa gửi báo cáo hoạt động quý @actionWarning.Quarter</span>
                    <div class="progress">
                        <div class="progress-bar" style="width: @percent"></div>
                    </div>
                    <span class="progress-description">
                        @title
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            @{
                WarningBO actionSettle = listWarning.Where(x => x.Quarter != null && x.Type == Constants.REPORT_TYPE_SETTLE).FirstOrDefault();
            }
            <div class="info-box bg-orange">
                <span class="info-box-icon"><i class="fa fa-money"></i></span>
                <div class="info-box-content">
                    <span class="info-box-number">@actionSettle.Count ĐƠN VỊ</span>
                    <span class="info-box-text">Chưa gửi báo cáo quyết toán quý @actionSettle.Quarter</span>
                    <div class="progress">
                        <div class="progress-bar" style="width: @percent"></div>
                    </div>
                    <span class="progress-description">
                        @title
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            @{
                WarningBO actionFin = listWarning.Where(x => x.Quarter != null && x.Type == Constants.REPORT_TYPE_FINANCIAL).FirstOrDefault();
            }
            <div class="info-box bg-green">
                <span class="info-box-icon"><i class="fa fa-pie-chart"></i></span>
                <div class="info-box-content">
                    <span class="info-box-number">@actionFin.Count ĐƠN VỊ</span>
                    <span class="info-box-text">Chưa gửi báo cáo tài chính quý @actionFin.Quarter</span>
                    <div class="progress">
                        <div class="progress-bar" style="width: @percent"></div>
                    </div>
                    <span class="progress-description">
                        @title
                    </span>
                </div>
            </div>
        </div>
    </div>
    if (isWarningYear)
    {
        <div class="row">
            <div class="col-md-6">
                @{
                    WarningBO actionWarningYear = listWarning.Where(x => x.Quarter == null && x.Type == Constants.REPORT_TYPE_ACTION).FirstOrDefault();
                }
                <div class="info-box bg-yellow">
                    <span class="info-box-icon"><i class="fa fa-eraser"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-number">@actionWarningYear.Count ĐƠN VỊ</span>
                        <span class="info-box-text">Chưa gửi báo cáo hoạt động năm @actionWarning.Year</span>
                        <div class="progress">
                            <div class="progress-bar" style="width: @percent"></div>
                        </div>
                        <span class="progress-description">
                            @title
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                @{
                    WarningBO actionFinYear = listWarning.Where(x => x.Quarter == null && x.Type == Constants.REPORT_TYPE_FINANCIAL).FirstOrDefault();
                }
                <div class="info-box bg-green">
                    <span class="info-box-icon"><i class="fa fa-pie-chart"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-number">@actionFinYear.Count ĐƠN VỊ</span>
                        <span class="info-box-text">Chưa gửi báo cáo tài chính quý @actionFinYear.Year</span>
                        <div class="progress">
                            <div class="progress-bar" style="width: @percent"></div>
                        </div>
                        <span class="progress-description">
                            @title
                        </span>
                    </div>
                </div>
            </div>
        </div>
    }
}
@if (listTask != null && listTask.Any())
{
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary" style="position: relative; left: 0px; top: 0px;">
                <div class="box-header">
                    <i class="fa fa-2x fa-tasks text-info"></i>
                    <h3 class="box-title label label-info">Danh sách công việc</h3>
                </div>
                <div class="box-body">
                    <ul class="todo-list ui-sortable">
                        @foreach (WarningBO task in listTask)
                        {
                            <li>
                                <span class="text">Bạn có</span>
                                <small class="label label-info">
                                    @if (task.Type == Constants.REPORT_TYPE_ACTION)
                                    {
                                        <i class="fa fa-eraser"></i>
                                    }
                                    else if (task.Type == Constants.REPORT_TYPE_FINANCIAL)
                                    {
                                        <i class="fa fa-pie-chart"></i>
                                    }
                                    else
                                    {
                                        <i class="fa fa-money"></i>
                                    }
                                    @task.Count
                                </small>
                                <span class="text">@Html.Raw(task.ReportName.Replace("IndexDept", "IndexReview")) cần xử lý</span>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
}
@if (listDept != null && listDept.Any())
{
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary" style="position: relative; left: 0px; top: 0px;">
                <div class="box-header">
                    <i class="fa fa-2x fa-sitemap text-info"></i>
                    <h3 class="box-title label label-info">Danh sách đơn vị quản lý</h3>
                </div>
                <div class="box-body">
                    @{
                        var grid = new WebGrid(
                        rowsPerPage: listDept.Count,
                        canPage: false,
                        canSort: false,
                        ajaxUpdateContainerId: "tableGridDepartment"
                        );

                        grid.Bind(listDept,
                        autoSortAndPage: false,
                        rowCount: listDept.Count);
                        var gridColumns = new List<WebGridColumn>
                            ();
                        gridColumns.Add(grid.Column("STT", format: item => item.WebGrid.Rows.IndexOf(item) + 1
                        + Math.Round(Convert.ToDouble(grid.TotalRowCount / grid.PageCount) / grid.RowsPerPage)
                        * grid.RowsPerPage * grid.PageIndex));
                        gridColumns.Add(grid.Column(header: "Tên đơn vị", format:@<text>
            <a href="javascript:void(0)" onclick="getMenuListByDepartment(@item.DepartmentID, '@item.DepartmentName')">@item.DepartmentName</a>
                        </text>));
                 gridColumns.Add(grid.Column("Address", "Địa chỉ"));
                 gridColumns.Add(grid.Column("PhoneNumber", "Số điện thoại"));
                 gridColumns.Add(grid.Column("RepresentPersonName", "Người đại diện"));
                 gridColumns.Add(grid.Column("RepresentPosition", "Chức vụ"));
                @grid.GetHtml(htmlAttributes: new { id = "tableGridDepartment" },
                                                       fillEmptyRows: false,
                                                       tableStyle: "table table-hover table-striped",
                                                       alternatingRowStyle: "altRow",
                                                       selectedRowStyle: "selectRow",
                                                       columns: gridColumns)
                    }
                </div>
            </div>
        </div>
    </div>
}
