﻿@{
    ViewBag.Title = "Hệ thống quản lý tài chính";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .logo-name {
        color: #e6e6e6;
        font-size: 180px;
        font-weight: 800;
        letter-spacing: -10px;
        margin-bottom: 0;
    }
</style>
<div class="text-center">
    <h1 class="logo-name">IF+</h1>
    <h3>Hệ thống Quản lý tài chính</h3>
</div>
