﻿@using IInterface.Common.CommonBO;
@using IInterface.Common;
@using IInterface.Models;
@using Newtonsoft.Json
@{
    ViewBag.Title = "Hệ thống quản lý tài chính";
    Layout = "~/Views/Shared/_Layout.cshtml";
    bool isWarning = (ViewData["isWarning"] as bool?).GetValueOrDefault();
    int countDay = (ViewData["countDay"] as int?).GetValueOrDefault();
    List<WarningBO> listWarning = ViewData["listWarning"] as List<WarningBO>;
    string titleClass = "label-danger";
    string iconClass = "text-danger";
    if (countDay > 1)
    {
        titleClass = "label-warning";
        iconClass = "text-warning";
    }
    List<PlanTargetModel> listPlanTarget = ViewData["listPlanTarget"] as List<PlanTargetModel>;
    if (listPlanTarget == null)
    {
        listPlanTarget = new List<PlanTargetModel>();
    }
    List<string> listColor = new List<string>();
    Dictionary<int, string> dicColor = Utils.GetColorCode();
    double totalMoney = 0;
    for (int i = 0; i < listPlanTarget.Count; i++)
    {
        totalMoney += listPlanTarget[i].TotalBudget.GetValueOrDefault();
        listColor.Add(dicColor[i]);
    }
    string sTotalMoney = Utils.FormatMoney(totalMoney) + "đ";
    List<string> listName = listPlanTarget.OrderBy(x => x.PlanTargetID).Select(x => x.PlanTargetTitle).ToList();
    List<double> listPlanVal = listPlanTarget.OrderBy(x => x.PlanTargetID).Select(x => x.TotalBudget.GetValueOrDefault()).ToList();
    List<double> listActualVal = listPlanTarget.OrderBy(x => x.PlanTargetID).Select(x => x.TotalSettleMoney.GetValueOrDefault()).ToList();
    int isChart = (listPlanTarget != null && listPlanTarget.Any()) ? 1 : 0;
}
@*<div class="row">
    <div class="col-md-12">
        <div class="box box-warning" style="position: relative; left: 0px; top: 0px;">
            <div class="box-header with-border">
                <i class="fa fa-2x fa-line-chart @iconClass"></i>
                <h3 class="box-title label @titleClass">Danh sách các hoạt động đã quá hạn</h3>
            </div>
            <div class="box-body">
                <div class="table-responsive">
                    <table class="table no-margin">
                        <thead>
                            <tr>
                                <th>STT</th>
                                <th>Tên hoạt động</th>
                                <th>Thời gian thực hiện theo kế hoạch</th>
                                <th>Tình trạng</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Tuyên truyền trên đài phát thanh truyền hình tỉnh</td>
                                <td>
                                    Quý 1
                                </td>
                                <td>
                                    <span class="label label-danger">Chưa thực hiện</span>
                                </td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Tổ chức tập huấn nâng cao nhận thức về tác hại của thuốc lá</td>
                                <td>
                                    Quý 1, quý 2
                                </td>
                                <td>
                                    <span class="label label-warning">Đang thực hiện</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>*@
@if (isWarning && listWarning != null && listWarning.Any())
{
    <div class="row">
        <div class="col-md-12">
            <div class="box box-warning" style="position: relative; left: 0px; top: 0px;">
                <div class="box-header with-border">
                    @if (listWarning.Any(x => x.Status == Constants.PLAN_DEACTIVED || x.Status == Constants.PLAN_NEW))
                    {
                        <i class="fa fa-2x fa-warning @iconClass"></i>
                        if (countDay >= 0)
                        {
                            <h3 class="box-title label @titleClass">Còn @countDay ngày để hoàn thành các báo cáo</h3>
                        }
                        else
                        {
                            <h3 class="box-title label @titleClass">Đã quá hạn @(0 - countDay) ngày để hoàn thành các báo cáo</h3>
                        }
                    }
                    else
                    {
                        <h3 class="box-title label label">Đơn vị đã hoàn thành các báo cáo trong giai đoạn này</h3>
                    }
                </div>
                <div class="box-body">
                    <div class="table-responsive">
                        <table class="table no-margin">
                            <thead>
                                <tr>
                                    <th>Báo cáo</th>
                                    <th>Năm</th>
                                    <th>Quý</th>
                                    <th>Tình trạng</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (WarningBO item in listWarning)
                                {
                                    <tr>
                                        <td>@Html.Raw(item.ReportName)</td>
                                        <td>@item.Year</td>
                                        <td>
                                            @if (item.Quarter != null)
                                            {
                                                <span class="label label-default">@item.Quarter</span>
                                            }
                                            else
                                            {
                                                <span class="label label-info">Báo cáo năm</span>
                                            }
                                        </td>
                                        <td>
                                            @Html.Raw(item.StatusName)
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@if (isChart == Constants.IS_ACTIVE)
{
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary" style="position: relative; left: 0px; top: 0px;">
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-8">
                            <canvas id="myChart" width="400" height="400"></canvas>
                        </div>
                        <div class="col-md-4">
                            <a href="@Url.Action("Index", "FinancialView")" title="Chi tiết thông tin giải ngân">
                                <p class="text-center">
                                    <strong>Thông tin giải ngân</strong>
                                </p>
                            </a>
                            @for (int i = 0; i < listPlanTarget.Count; i++)
                            {
                                PlanTargetModel pt = listPlanTarget[i];
                                string percent = (pt.TotalBudget.GetValueOrDefault() == 0 ? 100 : Math.Round((pt.TotalSettleMoney.GetValueOrDefault() * 100 / pt.TotalBudget.GetValueOrDefault()), 2)) + "%";

                                <div class="progress-group">
                                    <span class="progress-text">@pt.PlanTargetTitle</span>
                                    <span class="progress-number"><b>@Utils.FormatMoney(pt.TotalSettleMoney.GetValueOrDefault())</b>/@Utils.FormatMoney(pt.TotalBudget.GetValueOrDefault())</span>

                                    <div class="progress sm">
                                        <div class="progress-bar progress-bar-aqua" style="width: @percent"></div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<script type="text/javascript">
    var isChart = @isChart;
    var chartData = {
        labels: JSON.parse('@Html.Raw(JsonConvert.SerializeObject(listName))'),
        datasets: [{
            fill: true,
            backgroundColor: JSON.parse('@Html.Raw(JsonConvert.SerializeObject(listColor))'),
            data: JSON.parse('@Html.Raw(JsonConvert.SerializeObject(listPlanVal))'),
            borderColor: JSON.parse('@Html.Raw(JsonConvert.SerializeObject(listColor))'),
        }]
    };
    var format = function (num) {
        var str = num.toString().replace("$", ""), parts = false, output = [], i = 1, formatted = null;
        if (str.indexOf(".") > 0) {
            parts = str.split(".");
            str = parts[0];
        }
        str = str.split("").reverse();
        for (var j = 0, len = str.length; j < len; j++) {
            if (str[j] != ",") {
                output.push(str[j]);
                if (i % 3 == 0 && j < (len - 1)) {
                    output.push(",");
                }
                i++;
            }
        }
        formatted = output.reverse().join("");
        return (formatted + ((parts) ? "." + parts[1].substr(0, 2) : ""));
    };
    if(isChart == 1){
        var canvas = document.getElementById("myChart");

        var ctx = canvas.getContext('2d');
        var myPieChart = new Chart(ctx, {
            type: 'pie',
            responsive: true,
            data: chartData,
            options: {
                maintainAspectRatio: false,
                tooltips: {
                    callbacks: {
                        label: function (tooltipItem, data) {
                            var allData = data.datasets[tooltipItem.datasetIndex].data;
                            var tooltipLabel = data.labels[tooltipItem.index];
                            var tooltipData = allData[tooltipItem.index];
                            var total = 0;
                            for (var i in allData) {
                                total += allData[i];
                            }
                            var tooltipPercentage = ((tooltipData / total) * 100).toFixed(2);
                            return tooltipLabel + ': ' + format(tooltipData) + ' (' + tooltipPercentage + '%)';
                        }
                    }
                },
                title: {
                    display: true,
                    text: 'Dự toán kế hoạch theo mục tiêu. Tổng kinh phí @sTotalMoney'
                },
                legend: {
                    display: true,
                    position: 'top'
                },
                pieceLabel: {
                    render: ['label','percentage'],
                    fontColor: 'white',
                    precision: 2
                }
            }
        });
    }
</script>
