﻿@using IInterface.Models
@model ModelLogOn
@{
    ViewBag.Title = "LogOn";
    Layout = "~/Views/Shared/_LogOnLayout.cshtml";
}
<div id="_GlobalMessage" class="alert alert-danger">
</div>
<div id="Contaner" class="login">
    @using (Ajax.BeginForm("LogOn", "Home", new AjaxOptions()
    {
        OnBegin = "OnBegin",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "_GlobalMessage",
        OnFailure = "OnFailure",
        OnSuccess = "OnSucess"

    }, new { @class = "form" }))
    {
        <p>
            <span class="field-validation-valid text-danger" style="display: none;" id="loginFail">Sai thông tin đăng nhập</span>
        </p>
        <p class="field">
            @Html.TextBoxFor(m => m.UserName, new { placeholder = "Tên đăng nhập", @autofocus = "true" })
            @Html.ValidationMessageFor(m => m.UserName)
            <i class="fa fa-user"></i>
        </p>
        <p class="field">
            @Html.PasswordFor(m => m.Password, new { placeholder = "Mật khẩu" })
            @Html.ValidationMessageFor(m => m.Password)
            <i class="fa fa-lock"></i>
        </p>
        <div id="divCaptcha">
            <p class="field">
                <img id="imgCaptcha" src="" alt="Captcha" style="width: 85%">
                <img alt="refreshCaptcha" id="refreshCaptcha" onclick="GetCaptcha()" src="~/Content/Images/captcha_refresh.png" style="cursor: pointer; margin-bottom: 15px; margin-left: 5px;">
            </p>
            <p class="field">
                @Html.HiddenFor(m => m.Captcha.Key, new { id = "captchaKey" })
                @Html.TextBoxFor(m => m.Captcha.Captcha, new { placeholder = "Nhập mã xác nhận" })
                @Html.ValidationMessageFor(m => m.Captcha.Captcha)
                <span class="field-validation-valid text-danger" style="display: none;" id="captchaFail">Sai mã xác nhận</span>
            </p>
        </div>
        <p class="submit"><input type="submit" name="log" value="Đăng nhập"></p>
    }
</div> <!--/ Login-->
<div class="copyright">
    <p>Copyright &copy; 2017. Created by <a href="mailto:duyhung109@gmail.com" target="_blank">System TEAM</a></p>
</div>
<script>
    $(document).ready(function() {
        $("#divCaptcha").hide();
    } );
    function OnFailure(xhr) {
        CommonJS.alert(xhr.responseText);
    }
    function OnBegin() {
        $("#loginFail").hide();
        $("#captchaFail").hide();
    }
    function OnSucess(result) {
        console.log(result);
        if (result.Type === "SUCCESS") {
            // if the server returned a JSON object containing an url
            // property we redirect the browser to that url
            window.location.href = result.RedirectUrl;
        }
        if (result.Type==="CAPTCHA") {
            $("#loginFail").show();
            $("#divCaptcha").show();
            GetCaptcha();
        }
        if (result.Type==="CAPTCHAFAIL") {
            $("#divCaptcha").show();
            $("#loginFail").show();
            GetCaptcha();
            $("#captchaFail").show();
        }
        if (result.Type==="LOGINFAIL") {
            $("#loginFail").show();
        }
    }

    function GetCaptcha() {
        $("#captchaFail").hide();
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetCaptcha", "Captcha")',
            data: {},
            success: function (result) {
                console.log(result);
                document.getElementById('imgCaptcha').setAttribute( 'src', 'data:image/png;base64,'+ result.Data.EncodedData);
                $("#captchaKey").val(result.Data.FileName);
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }
</script>

