﻿
@{
    ViewBag.Title = "RoleError";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="error-page">
    <div class="error-content text-red" style="margin-left: 0px">
        @if (ViewBag.ErrorContent != null)
        {
            <h2><i class="fa fa-warning text-red"></i> Bạn không có quyền thao tác với dữ liệu!</h2>
            <p class="text-success">
                @ViewBag.ErrorContent
            </p>
        }
        else
        {
            <h2><i class="fa fa-warning text-red"></i> Bạn không có quyền thao tác với dữ liệu!</h2>
            <p class="text-success">
                Dữ liệu này không thuộc quyền thao tác của bạn, vui lòng kiểm tra lại.
            </p>
        }
    </div>
</div>
