﻿
@{
    ViewBag.Title = "RoleError";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="error-page">
    <div class="error-content text-red" style="margin-left: 0px">
        <h2><i class="fa fa-warning text-red"></i> Bạn không có quyền thực hiện chức năng này, vui lòng quay lại sau!</h2>
        <p class="text-success">
            Chức năng này đã được khóa từ quản trị hệ thống, bạn không thể thao tác chức năng khi chưa được cấp quyền.
        </p>
    </div>
</div>
