﻿@using Microsoft.AspNet.Identity
@using IInterface.Common;
@using IInterface.Extensions
@{
    UserInfo user = SessionManager.GetUserInfo();
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="~/favicon.ico" rel="shortcut icon">
    <title>Hệ thống tài chính và hoạt động Quỹ</title>
    @Styles.Render("~/Content/css/styles")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="hold-transition skin-blue-light sidebar-mini">
    <div class="wrapper">
        <header class="main-header">
            <!-- Logo -->
            <a href='@Url.Action("Index", "Home")' class="logo">
                <span class="logo-mini"><b>S</b>M+</span>
                <span class="logo-lg"><b>SM</b>art</span>
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button" id="minimizeMenu">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <!-- Navbar Right Menu -->
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="@Url.Action("UserPhotos", "Home")" class="user-image" alt="User Image">
                                <span class="hidden-xs">@User.Identity.GetUserName()</span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- User image -->
                                <li class="user-header">
                                    <img src="@Url.Action("UserPhotos", "Home")" class="img-circle" alt="User Image">                                    
                                    <p>
                                        @User.Identity.GetUserName() - @user.FullName
                                    </p>
                                </li>
                                <!-- Menu Body -->
                                <li class="user-body">
                                    <!-- /.row -->
                                </li>
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a href="#" data-toggle="modal" data-target="#modal-change-password" onclick="ChangePassPopup()" class="btn btn-default btn-flat"><i class="fa fa-recycle"></i> Đổi mật khẩu</a>
                                    </div>
                                    <div class="pull-right">
                                        <a href='@Url.Action("LogOff", "Home")' class="btn btn-default btn-flat"><i class="fa fa-sign-out"></i> Đăng xuất</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar" style="height:auto">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- sidebar menu: : style can be found in sidebar.less -->
                <ul class="sidebar-menu tree" data-widget="tree">
                    <li class="header">CHỨC NĂNG</li>
                    @if (user.ListMenu != null)
                    {
                        var listMenu = user.ListMenu.OrderBy(x => x.OrderNumber).ThenBy(x => x.MenuID).ToList();
                        foreach (var parentMenu in listMenu)
                        {
                            <li class="treeview">
                                <a href="#">
                                    <i class="@parentMenu.IconClass"></i><span>@parentMenu.MenuName</span><i class="fa fa-angle-left pull-right"></i>
                                </a>
                                <ul class="treeview-menu">
                                    @*<li class="header text-uppercase">@parentMenu.MenuName</li>*@
                                    @if (parentMenu.ListChildMenu != null)
                                    {
                                        var listChildMenu = parentMenu.ListChildMenu.OrderBy(x => x.OrderNumber).ThenBy(x => x.MenuID).ToList();
                                        foreach (var childMenu in listChildMenu)
                                        {
                                            <li><a href='@childMenu.ActionPath'><i class="@childMenu.IconClass"></i> <span>@childMenu.MenuName</span></a></li>
                                        }
                                    }
                                </ul>
                            </li>
                        }
                    }
                </ul>
            </section>
            <!-- /.sidebar -->
        </aside>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                @*message and loading*@
                <div id="_GlobalMessage">
                </div>
                @*breadcrumb*@
                <h1>
                    &nbsp;
                </h1>

                @*@Html.Raw(BreadCrumb.Display())*@
                @Html.Raw(Html.BuildBreadcrumbNavigation())

                @*<ol class="breadcrumb">
                        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                        <li class="active">Dashboard</li>
                    </ol>*@
            </section>
            <section class="content">
                @Scripts.Render("~/bundles/jquery")
                @Scripts.Render("~/bundles/jqueryval")
                @Scripts.Render("~/bundles/bootstrap")
                @RenderSection("scripts", required: false)
                @RenderBody()
                <div id="modal-change-password" class="modal fade" role="dialog"></div>
            </section>
        </div>
        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                Hỗ trợ kỹ thuật: <a href="#">Mr Đức (0975.806.002)</a> &nbsp;&nbsp;<a href="#">Mr Toàn ( 0963.589.629)</a>
            </div>
            <strong>Copyright &copy; 2016-2019 </strong> All rights reserved.
        </footer>
    </div>
    <script type="text/javascript">
        $(document).on({
            ajaxStart: function () {
                Pace.restart();
            }
        });

        function ChangePassPopup() {
            $.ajax({
                type: "GET",
                url: '@Url.Action("ChangePassword", "Home")',
                data: {},
                success: function (data) {
                    $('#modal-change-password').html(data);
                },
                error: function (xhr) {
                    CommonJS.alert(xhr.responseText);
                }
            });
        }

        function textAreaAdjust(o) {
            o.style.height = "1px";
            o.style.height = (5 + o.scrollHeight) + "px";
        }

        function formatArea(o) {
            if (o.scrollHeight > 0) {
                o.style.height = (5 + o.scrollHeight) + "px";
            }
        }

        ////active url dc chon
        var url = window.location.href;
        var splUrl = url.split("/");

        var uul = "";
        if (splUrl.length > 4) {
            uul = "/" + splUrl[3] + "/" + splUrl[4];
        } else {
            uul = "/" + splUrl[3];
        }
        if (uul != "" && uul != "/" && uul != "/Home/UnderConstruction") {
            var objSelected = $("li a[href='" + uul + "']");
            var liPar1 = $(objSelected).parent("li");
            liPar1.addClass("active");
            var ulPar1 = $(liPar1).parent("ul");

            if (ulPar1 != undefined && ulPar1 != null && ulPar1.attr('id') != 'rootUl') {
                ulPar1.addClass('menu-open');
                ulPar1.attr('style', 'display: block;');
                var liPar2 = $(ulPar1).parent("li");
                if (liPar2 != undefined && liPar2 != null) {
                    liPar2.addClass("active");
                    var ulPar2 = $(liPar2).parent("ul");
                    if (ulPar2 != undefined && ulPar2 != null && ulPar2.attr('id') != 'rootUl') {
                        ulPar2.addClass('menu-open');
                        ulPar2.attr('style', 'display: block;');
                        var liPar3 = $(ulPar2).parent("li");
                        if (liPar3 != undefined && liPar3 != null) {
                            liPar3.addClass("active");
                        }
                    }
                }
            }
        }

    </script>
</body>
</html>
