﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Đăng nhập</title>
    <link href="~/Content/LogOn.css" rel="stylesheet" />
    <link href="~/Content/css/font-awesome.css" rel="stylesheet" />
    <script src="~/Scripts/LogOn.js"></script>
</head>
<body class="gray-bg">
    <div class="middle-box loginscreen animated fadeInDown">
        <div>
            <div class="text-center">
                <h1 class="logo-name">IF+</h1>
                <h3>Hệ thống quản lý tài chính và hoạt động Quỹ</h3>
                <small>Đăng nhập hệ thống để sử dụng.</small>
            </div>
            @Scripts.Render("~/bundles/jquery")
            @Scripts.Render("~/bundles/jqueryval")
            @Scripts.Render("~/bundles/bootstrap")
            @RenderSection("scripts", required: false)
            @RenderBody()
            <p class="m-t"> <small>Hệ thống được xây dựng trên nền tảng Framework &copy; 2017</small> </p>
            <p class="pull-right">
                Hỗ trợ kỹ thuật: <a href="#">024.38315440</a>
            </p>
        </div>
    </div>

    <!-- Mainly scripts -->
    @*<script src="js/jquery-3.1.1.min.js"></script>
        <script src="js/bootstrap.min.js"></script>*@
    <script>
        $(document).on({
            ajaxStart: function () {
                $('#_AjaxLoading').modal('show');
            },
            ajaxStop: function () {
                $('#_AjaxLoading').modal('hide');
            }
        });
    </script>
</body>
</html>
