﻿@using IInterface.Common
@using IInterface.Common.CommonBO
@model IInterface.Models.PlanModel

@Html.HiddenFor(model => model.PlanID)
<div class="box box-solid">
    <div class="box-header with-border">
        @if (Model.DepartmentID == Constants.HEAD_DEPT_ID)
        {
            <h4 class="box-title">TỔ CHỨC THỰC HIỆN</h4>
        }
    </div>
    <div class="box-body">
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            @if (Model.DepartmentID == Constants.HEAD_DEPT_ID)
            {
                <div class="row">
                    <div class="col-md-12">
                        @Html.Raw(Model.Implementation.Replace("\r\n", "<br />"))
                    </div>
                </div>
            }
            else
            {
                <div class="row">
                    <div class="col-md-12">
                        <h4 class="text-light-blue-edited">
                            <strong> </strong>
                        </h4>
                        <strong>8. Tổ chức quản lý và theo dõi thực hiện hoạt động</strong>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        @Html.Raw(Model.Monitor.Replace("\r\n", "<br />"))
                    </div>
                </div>
                    <div class="row">
                        <div class="col-md-12">
                            <h4 class="text-light-blue-edited">
                                <strong> </strong>
                            </h4>
                            <strong>9. Tổ chức quản lý tài chính</strong>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            @Html.Raw(Model.CostManagement.Replace("\r\n", "<br />"))
                        </div>
                    </div>
            }
        </div>
    </div>
</div>