﻿@using IInterface.Common;
@using IInterface.Models;
@{
    Paginate<PlanModel> paginate = ViewData["listResult"] as Paginate<PlanModel>;
    var grid = new WebGrid(
                          rowsPerPage: paginate.PageSize,
                          canPage: true,
                          canSort: false,
                          ajaxUpdateContainerId: "divGrid"
                          );

    grid.Bind(paginate.List,
    autoSortAndPage: false,
    rowCount: paginate.Count);
    grid.Pager(WebGridPagerModes.All);
}
<style>
    .Deptname {
        max-width: 200px;
    }
</style>
@{
    if (paginate.Count > 0)
    {
        var gridColumns = new List<WebGridColumn>();
        gridColumns.Add(grid.Column("DepartmentName", "Đơn vị", style: "Deptname"));
        gridColumns.Add(grid.Column("PeriodName", "Giai đoạn"));
        gridColumns.Add(grid.Column("Status", "Trạng thái", format: @<text>
        @if (item.Status == Constants.PLAN_APPROVED)
        {
            <span class="label label-success">Phê duyệt</span>
        }
        else if ((item.Status == Constants.PERIOD_NEXT_LEVER))
        {
            <span class="label label-info">Đang xem xét</span>
        }
        else
        {
            <span class="label label-primary">Dự thảo</span>
        }
        </text>));
        gridColumns.Add(grid.Column("Từ ngày", format: (item) => string.Format("{0:MM/yyyy}", item.FromDate)));
        gridColumns.Add(grid.Column("Tới ngày", format: (item) => string.Format("{0:MM/yyyy}", item.ToDate)));
        gridColumns.Add(grid.Column(header: "", format: @<text>
            <div class="btn-group" role="group" aria-label="...">
                @if (item.Role >= Constants.ROLE_EDIT)
                {
                    <a href='@Url.Action("PlanningInfo", "PlanChange", new { PlanID = item.PlanID  })' class="btn btn-sm btn-primary" title="Điều chỉnh kế hoạch"><i class="fa fa-line-chart"></i> Điều chỉnh</a>
                }
                else
                {
                    <a href='@Url.Action("PlanningInfo", "PlanChange", new { PlanID = item.PlanID  })' class="btn btn-sm btn-success" title="Chi tiết kế hoạch"><i class="fa fa-eye-slash"></i> Chi tiết</a>
                }
                <a href='@Url.Action("Index", "SubActionPlanTime", new { planID = item.planID })' class="btn btn-sm btn-default" title="Thời gian thực hiện"><i class="fa fa-clock-o"></i> Thời gian</a>
                <a href='@Url.Action("Index", "PlanCost", new { planID = item.planID })' class="btn btn-sm btn-default" title="Dự toán"><i class="fa fa-money"></i> Dự toán</a>                                
                <a href='@Url.Action("View", "ChangeRequest", new { planID = item.planID })' class="btn btn-sm btn-info" title="Chi tiết thay đổi"><i class="fa fa-info-circle"></i> Chi tiết thay đổi</a>                                
            </div>
        </text>));
        @grid.GetHtml(htmlAttributes: new { id = "divGrid" },
                                      fillEmptyRows: false,
                                      tableStyle: "table table-hover table-striped",
                                      footerStyle: "table-pager",
                                      alternatingRowStyle: "altRow",
                                      selectedRowStyle: "selectRow",
                                      mode: WebGridPagerModes.All,
                                      columns: gridColumns)
    }
    else
    {
        <div style="color:red; margin-left:10px;">
            Không có kế hoạch nào
        </div>
    }
}
<script>
    function Approved(PlanID) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("ApprovePlan", "Review")',
            data: { 'PlanID': PlanID },
            success: function (data) {
                CommonJS.alert(data);
                Search();
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }
    function ReviewHistory(PlanID) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("ViewReviewHistory", "Review")',
            data: { 'PlanID': PlanID },
            success: function (data) {
                $("#modal-review").html(data);
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }
</script>
