﻿@using IInterface.Common;
@model IInterface.Models.PlanTargetActionModel
@{
    List<IInterface.Models.PlanActionIndexModel> listData = ViewData["listIndex"] as List<IInterface.Models.PlanActionIndexModel>;
    var grid = new WebGrid(canPage: false, canSort: false, ajaxUpdateContainerId: "divGridActionIndex");
    grid.Bind(listData, autoSortAndPage: false, rowCount: listData.Count);
}
<style>
    .ContentColumn {
        width: 60%;
    }

    .CodeColumn {
        width: 10%;
    }
</style>
<div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title"><i class="fa fa-eraser"></i> Kết quả dự kiến</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-lg-6">
                    <div class="btn-group" role="group">
                        <button class="btn btn-default btn-sm" onclick="checkAllIndex(this, true)"><i id="iAllIndex" class="fa fa-square-o"></i></button>
                        @Html.HiddenFor(a => a.PlanTargetActionID)
                        @Html.HiddenFor(a => a.SubActionPlanID)
                    </div>
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-primary pull-left" onclick="openAddNewIndex(0)"><i class="fa fa-plus"></i> Thêm mới chỉ số</button>
                    </div>
                </div>
            </div>
            @if (listData.Count > 0)
            {
                var gridColumns = new List<WebGridColumn>();
                gridColumns.Add(grid.Column("", "", format: @<text>
                @if (item.Choosen != null && item.Choosen == 1)
                {
                    <input type="checkbox" onclick="checkOneIndex(this)" value="@item.ActionIndexID" checked name="ActionIndexIDs" class="cbx" />
                }
                else
                {
                    <input type="checkbox" onclick="checkOneIndex(this)" value="@item.ActionIndexID" name="ActionIndexIDs" class="cbx" />
                }
                <input type="hidden" name="PlanActionIndexIDs" value="@item.PlanActionIndexID"/>
                </text>, style: ""));
                gridColumns.Add(grid.Column(header: "Giá trị", format: @<text>
                <input class="form-control input-sm" name="IndexValues" type="number" placeholder="0" value="@item.IndexValue">
                </text>));
                gridColumns.Add(grid.Column("IndexUnitName", "Đơn vị tính"));
                gridColumns.Add(grid.Column("IndexName", "Chỉ số", style: "ContentColumn"));
                gridColumns.Add(grid.Column("", "", format: @<text>
                @if (item.PlanActionIndexID != null && item.PlanActionIndexID > 0 && (item.ActionIndexID == null || item.ActionIndexID == 0))
                {
                    <button class="btn btn-xs btn-primary btn-flat" type="button" onclick="openAddNewIndex(@item.PlanActionIndexID)"><i class="fa fa-edit"></i> Sửa</button>
                }
                </text>, style: ""));
                @grid.GetHtml(htmlAttributes: new { id = "divGridActionIndex" },
                                      fillEmptyRows: false,
                                      tableStyle: "table table-hover table-striped",
                                      footerStyle: "table-pager",
                                      displayHeader: true,
                                      alternatingRowStyle: "altRow",
                                      selectedRowStyle: "selectRow",
                                      columns: gridColumns)
            }
            else
            {
                <div class="text-danger">
                    <br />
                    Chưa khai báo kết quả dự kiến
                </div>
            }
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-success pull-left" onclick="SaveActionIndex()"><i class="fa fa-floppy-o"></i> Lưu lại</button>
            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-close"></i> Đóng</button>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $($('#divGridActionIndex tr th')[1]).html('Giá trị <span class="text-red">*</span>');
    });
    function openAddNewIndex(indexID) {
        var PlanTargetActionID = $('#ActionIndexModal #PlanTargetActionID').val();
        var SubActionPlanID = $('#ActionIndexModal #SubActionPlanID').val();
        $.ajax({
            type: "POST",
            url: '@Url.Action("PrepareAddOrEditOwnActionIndex", "PlanChange")',
            data: {
                'planActionIndexID': indexID,
                'planTargetActionID': PlanTargetActionID,
                'subActionPlanID': SubActionPlanID
            },
            success: function (data) {
                $("#ActionIndexModal").html(data);
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }

    function unCheckAll() {
        $("#iAllIndex").attr("class", "fa fa-square-o");
    }
    function checkAllIndex(item, checked) {
        if (checked) {
            $("#iAllIndex").attr("class", "fa fa-check-square-o");
        } else {
            $("#iAllIndex").attr("class", "fa fa-square-o");
        }
        $("#divGridActionIndex tbody input:checkbox[name='ActionIndexIDs']").prop("checked", checked);
        checked = !checked;
        $(item).attr("onclick", "checkAllIndex(this, " + checked + ")");
    }


    function checkOneIndex(item) {
        if (!$(item).is(':checked')) {
            $("#iAllIndex").attr("class", "fa fa-square-o");
        } else {
            if ($("#divGridActionIndex tbody input:checkbox[name='ActionIndexIDs']:checked").length == $("#divGridActionIndex tbody input:checkbox[name='ActionIndexIDs']").length) {
                $("#iAllIndex").attr("class", "fa fa-check-square-o");
            }
        }
    }
    function SaveActionIndex() {
        var myDictionary = [];
        var PlanTargetActionID = $('#ActionIndexModal #PlanTargetActionID').val();
        var SubActionPlanID = $('#ActionIndexModal #SubActionPlanID').val();
        $('#ActionIndexModal input:checkbox[name="ActionIndexIDs"]:checked').each(function () {
            var tr = $(this).closest("tr");
            var planActionIndexID = tr.find('input[name="PlanActionIndexIDs"]:first').val();
            var indexValue = tr.find('input[name="IndexValues"]:first').val();
            myDictionary.push({
                PlanActionIndexID: planActionIndexID,
                ActionIndexID: $(this).val(),
                IndexValue: indexValue
            });
        });

        $.ajax({
            type: "POST",
            url: '@Url.Action("SaveSubIndex", "PlanChange")',
            data: {
                'ActionIndexs': myDictionary,
                'PlanTargetActionID': PlanTargetActionID,
                'SubActionPlanID': SubActionPlanID
            },
            success: function (data) {
                $("#ActionIndexModal").modal("toggle");
                CommonJS.alert(data);
                if (SubActionPlanID != '' && SubActionPlanID > 0) {
                    LoadSubAction(PlanTargetActionID);
                } else {
                    LoadActionOfTarget();
                }
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }
</script>
