﻿@model IInterface.Models.PlanTargetModel
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-info" ><i class="fa fa-eraser"></i><strong> CÁC HOẠT ĐỘNG CỦA: </strong> <strong id="Step3_target">@Html.Label(Model.PlanTargetTitle)</strong></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ul class="timeline timeline-inverse" id="DivActions">
                </ul>
                <br />
            </div>
        </div>
    </div>
</div>
@Html.HiddenFor(model=>model.PlanTargetID)
<script type="text/javascript">
    $(document).ready(function () {
        LoadActionOfTarget();
    });
    function PrepareAddActionTarget() {
        var PlanID = $('#PlanID').val();
        var PlanTargetID = $('#PlanTargetID').val();
        if (PlanID == null || PlanTargetID == null || PlanID == "" || PlanTargetID == "") {
            CommonJS.alert("Bạn chưa lựa chọn mục tiêu", false);
            return false;
        }
        $.ajax({
            type: "POST",
            url: '@Url.Action("PrepareAddActionOfTarget", "PlanChange")',
            data: {
                'PlanTargetID': PlanTargetID,
                'PlanID': PlanID
            },
            success: function (data) {
                $('#ActionModal').html(data);
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }
    function PrepareEditActionOfTarget(SubTargetActionID) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("PrepareEditActionOfTarget", "PlanChange")',
            data: {
                'SubTargetActionID': SubTargetActionID
            },
            success: function (data) {
                $('#ActionModal').html(data);
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }
    function DeletePlanTargetAction(SubTargetActionID) {
        if (!confirm("Khi xóa hoạt động, hệ thống sẽ xóa tất cả các dữ liệu liên quan. Bạn có muốn tiếp tục thực hiện?")) {
            return;
        }
        $.ajax({
            type: "POST",
            url: '@Url.Action("DeletePlanTargetAction", "PlanChange")',
            data: {
                'SubTargetActionID': SubTargetActionID
            },
            success: function (data) {
                CommonJS.alert("Xóa hoạt động thành công");
                LoadActionOfTarget();
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }
     var LoadActionOfTarget = function () {
        var PlanID = $('#PlanID').val();
        var PlanTargetID = $('#PlanTargetID').val();
        if (PlanID == null || PlanTargetID == null || PlanID == "" || PlanTargetID == "") {
            CommonJS.alert("Bạn chưa lựa chọn mục tiêu", false);
            return false;
        } else {
            $.ajax({
                type: "POST",
                url: '@Url.Action("LoadActionOfTarget", "PlanChange")',
                data: {
                    'PlanTargetID': PlanTargetID,
                    'PlanID': PlanID
                },
                success: function (data) {
                    $('#DivActions').html(data);
                },
                error: function (xhr) {
                    CommonJS.alert(xhr.responseText);
                }
            });
        }
    }
</script>
