﻿@using IInterface.Common;
@using IModel;
@model IInterface.Models.SubActionModel
@{
    List<SelectListItem> listAction = ViewData["listAction"] as List<SelectListItem>;
    UserInfo user = SessionManager.GetUserInfo();
}

@using (Ajax.BeginForm("SaveSubActionPlan", "PlanChange", new AjaxOptions()
{
    HttpMethod = "post",
    OnSuccess = "onSuccess",
    OnFailure = "onFail"
}, new { id = "frmAddOrEditSubAction", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                @Html.HiddenFor(x => x.PlanActionID)
                @Html.HiddenFor(x => x.SubActionPlanID)
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                @if (Model != null && Model.SubActionPlanID > 0)
                {
                    <h4 class="modal-title"><i class="fa fa-eraser"></i> Sửa hoạt động: @Model.SubActionContent</h4>
                }
                else
                {
                    <h4 class="modal-title"><i class="fa fa-eraser"></i> Thêm hoạt động con của: @Model.PlanActionContent</h4>
                }
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="formGroupInputLarge">Hoạt động gợi ý <span class="text-danger">*</span></label>
                            <div class="col-md-9">
                                @Html.DropDownListFor(x => x.MainActionID, listAction, new { id = "MainActionID", @class = "form-control", style = "width:100%" })
                                @Html.ValidationMessageFor(x => x.MainActionID)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="formGroupInputLarge">Thứ tự</label>
                            <div class="col-md-9">
                                @Html.TextBoxFor(x => x.SubActionOrder, new { @class = "form-control" })
                                <span class="text-info" data-valmsg-for="SubActionOrder" data-valmsg-replace="true">
                                    <span id="MainActionID-error" class="">Nếu bỏ trống sẽ được sắp xếp cuối cùng</span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="formGroupInputLarge">Tiêu đề <span class="text-danger">*</span></label>
                            <div class="col-md-9">
                                @Html.TextBoxFor(x => x.SubActionContent, new { @class = "form-control" })
                                @Html.ValidationMessageFor(x => x.SubActionContent)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="formGroupInputLarge">Nội dung</label>
                            <div class="col-md-9">
                                @Html.TextAreaFor(x => x.ContentPropaganda, new { @class = "form-control", @rows = 4 })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="formGroupInputLarge">Đối tượng, phạm vi</label>
                            <div class="col-md-9">
                                @Html.TextAreaFor(x => x.SubActionObject, new { @class = "form-control", @rows = 2 })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="formGroupInputLarge">Phương thức thực hiện</label>
                            <div class="col-md-9">
                                @Html.TextAreaFor(x => x.SubActionMethod, new { @class = "form-control", @rows = 2 })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success pull-left"><i class="fa fa-save"></i> Lưu</button>
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-close"></i> Đóng</button>
            </div>
        </div>
    </div>
}
<script>
    $('#MainActionID').on('change', function () {
        var subActionPlanID = $('#SubActionPlanID').val();
        if ($("#MainActionID :selected").text() != "[Hoạt động khác]" && (subActionPlanID == '' || subActionPlanID == '0')) {
            $('#SubActionContent').val($("#MainActionID :selected").text())
        }
    });
    function onSuccess(msg) {
        CommonJS.alert(msg);
        if ($('#frmAddOrEditSubAction #SubActionPlanID').val() == '' || $('#frmAddOrEditSubAction #SubActionPlanID').val() == 0) {
            $("#frmAddOrEditSubAction").trigger('reset');
        }
        PlanTargetActionID = $('#PlanActionID').val();
        LoadSubAction(PlanTargetActionID);
        // An nut chi so
        $('#action_index_' + PlanTargetActionID).hide();
    }
    function onFail() {
        CommonJS.alert("Dữ liệu không hợp lệ", false);
        $('frmAddOrEditSubAction').removeData('validator');
        $('frmAddOrEditSubAction').removeData('unobtrusiveValidation');
        $.validator.unobtrusive.parse('frmAddOrEditSubAction');
    }
    $(document).ready(function () {
        $('select').select2();
        $.validator.unobtrusive.parse("#frmAddOrEditSubAction");
    });
</script>
