﻿@using IInterface.Models;
@model List<PlanActionIndexModel>
@{
    
}
<ul class="list-group">
    <li class="list-group-item list-group-item-info"><i class="fa fa-sliders"></i> <strong>Chỉ số</strong></li>
    @foreach (var SubIndex in Model)
    {
        <li class="list-group-item">
            @SubIndex.IndexName <span>, </span> <kbd>@SubIndex.IndexValue</kbd> @SubIndex.IndexUnitName
            <a class="pull-right btn btn-danger btn-xs" href="javascript:void(0)" onclick="DeleteSubIndex(@SubIndex.PlanActionIndexID, @SubIndex.PlanTargetActionID)"><i class="fa fa-trash-o"></i></a>
        </li>
    }
</ul>
