﻿@{
    List<IInterface.Models.PlanCommentModel> lstComment = ViewData["ListComments"] as List<IInterface.Models.PlanCommentModel>;
}

@if (lstComment != null)
{
    <div class="direct-chat-messages">
        @foreach (var Comment in lstComment)
        {
            <div class="direct-chat-msg">
                <div class="direct-chat-info clearfix">
                    <span class="direct-chat-name pull-left">@Comment.UserName</span>
                    <span class="direct-chat-timestamp pull-right">@Comment.CommentDate.ToString("dd/MM/yyyy hh:mm")</span>
                </div>
            </div>
            <div class="direct-chat-text">
                @Html.Raw(Comment.Content)
            </div>
        }
    </div>
}
