﻿@using IInterface.Models;
@{
    List<PlanTargetModel> PlanTargets = ViewData["PlanTargetModels"] as List<PlanTargetModel>;
    int PlanTargetID = (ViewData["PlanTargetID"] as int?).GetValueOrDefault();
}

<div class="list-group">
    @if (PlanTargets != null && PlanTargets.Any())
    {
        foreach (var objPlanTarget in PlanTargets)
        {
            string activeClass = "list-group-item";
            if(PlanTargetID == objPlanTarget.PlanTargetID)
            {
                activeClass = "list-group-item active";
            }
            <a href="javascript:TargetChoosen(@objPlanTarget.PlanTargetID)" class="@activeClass" id="Target_@objPlanTarget.PlanTargetID" name="target">
                <strong>
                    <i class="fa fa-folder-o"></i> <span id="titleOfTarget_@objPlanTarget.PlanTargetID">@objPlanTarget.PlanTargetTitle </span>
                </strong>
                <p class="list-group-item-text text-sm">
                    @objPlanTarget.PlanTargetContent
                </p>
            </a>
        }
    }
</div>

<script type="text/javascript">
    function RemoveTarget(PlanTargetID) {
        if (!confirm("Khi xóa mục tiêu, hệ thống sẽ xóa tất cả các dữ liệu liên quan. Bạn có muốn tiếp tục thực hiện?")) {
            return;
        }
        $.ajax({
            type: "POST",
            url: '@Url.Action("RemovePlanTarget", "PlanChange")',
            data: {
                'PlanTargetID': PlanTargetID
            },
            success: function (data) {
                CommonJS.alert(data);
                $('#PlanTargetIDChoice').val('');
                $('#PlanTargetIDAll').val('');
                LoadTarget();
                $('#ListTargetIndex').html('');
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }

    function TargetChoosen(PlanTargetID) {
        $('#PlanTargetIDChoice').val(PlanTargetID);
        $('#PlanTargetIDAll').val(PlanTargetID);
        $('#Step3_target').html($("#titleOfTarget_" + PlanTargetID).html());
        //Active list
        $("a[name='target']").removeClass("active");
        $('#Target_' + PlanTargetID).addClass("active");
        SelectTarget();
    }
    function SelectTarget() {
        var PlanID = $('#PlanID').val();
        var PlanTargetID = $('#PlanTargetIDChoice').val();
        //Load Index
        $.ajax({
            type: "POST",
            url: '@Url.Action("TargetSelected", "PlanChange")',
            data: {
                'PlanTargetID': PlanTargetID,
                'PlanID': PlanID
            },
            success: function (data) {
                $('#ListTargetIndex').html(data);
                $('#TargetTitle').html($("#titleOfTarget_" + PlanTargetID).html());
                LoadComment();
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
        //Load Action
    }
    //Loading list of comments
    function LoadComment() {
        var PlanTargetID = $('#PlanTargetIDChoice').val();
        var PlanID = $('#PlanID').val();
        $.ajax({
            type: "POST",
            url: '@Url.Action("LoadComments", "PlanChange")',
            data: {
                'PlanID': PlanID,
                'PlanTargetID': PlanTargetID
            },
            success: function (data) {
                $('#ListReview').html(data);
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }
</script>
