﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    List<SelectListItem> listDepartment = ViewData["listDepartment"] as List<SelectListItem>;
}

<div class="row">
    <div class="col-lg-12">
        <div class="box">
            <div class="box-header with-border">
                @using (Ajax.BeginForm("Search", "PlanChange", new AjaxOptions
                {
                    HttpMethod = "get",
                    UpdateTargetId = "divResult"
                }, new { id = "frmSearch" }))
                {
                    <div class="form-horizontal">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.Label("Đơn vị", new { @class = "control-label col-md-3" })
                                    <div class="col-md-9">
                                        @Html.DropDownList("SearchDepartmentID", listDepartment, new { id = "SearchDepartmentID", @class = "form-control"})
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.Label("Kế hoạch", new { @class = "control-label col-md-3" })
                                    <div class="col-md-9">
                                        <div class="input-group with-border">
                                            <input id="SearchContent" name="SearchContent" class="form-control" placeholder="Kế hoạch" type="text" />
                                            <span class="input-group-btn">
                                                <button class="btn btn-primary" type="submit"> <i class="fa fa-search"></i> Tìm kiếm</button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="box-body">
                <br />
                <div class="row">
                    <div class="col-lg-12" id="divResult">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#frmSearch select").select2();
        Search();
    });
    function Search() {
        $("#frmSearch").submit();
    }
</script>
