﻿@using IInterface.Common
@{
    ViewBag.Title = "PlanningInfo";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@model IInterface.Models.PlanModel
@{
    int Status = int.Parse(ViewData["PlanStatus"].ToString());
    UserInfo user = SessionManager.GetUserInfo();
}
@Html.HiddenFor(model => model.PlanID)
@Html.HiddenFor(model => model.PeriodID)
@Html.Hidden("PlanTargetIDAll", ViewData["FirstPlanTargetID"])
<div class="row">
    <div class="col-md-12">
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid" style="padding-left: 0px !important">
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li id="liPlanInfor" class="active"><a href="javascript:void(0)" onclick="PlanInfor()" style="padding: 10px 10px !important"><i class="fa fa-bar-chart"></i> 1. Thông tin chung</a></li>
                        <li id="liTargetIndex"><a href="javascript:void(0)" onclick="TargetIndex()" style="padding: 10px 10px !important"><i class="fa fa-dashboard"></i> 2. Mục tiêu chỉ số</a></li>
                        <li id="liTargetAction"><a href="javascript:void(0)" onclick="TargetAction()" style="padding: 10px 10px !important"><i class="fa fa-recycle"></i> 3. Hoạt động</a></li>
                        <li id="liMoney"><a href="javascript:void(0)" onclick="Cost()" style="padding: 10px 10px !important"><i class="fa fa-money"></i> 4. Dự toán</a></li>
                        <li id="liImp"><a href="javascript:void(0)" onclick="Implement()" style="padding: 10px 10px !important"><i class="fa fa-book"></i> 5. Nội dung khác</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <div class="btn-group btn-group-sm">
                                @if ((Model.Role >= Constants.ROLE_VIEW || Model.Role == Constants.ROLE_AFTER_APPROVE) && Model.PlanID != null && Model.PlanID > 0)
                                {
                                    if (Model.PL.GetValueOrDefault() == 0)
                                    {
                                        <button class="btn btn-default navbar-btn" onclick="CreateTime()"><i class="fa fa-clock-o"></i> Thời gian</button>
                                        <button class="btn btn-default navbar-btn" onclick="CreateCost()"><i class="fa fa-money"></i> Dự toán</button>
                                    }
                                    else if (Model.PL == 2)
                                    {
                                        <button class="btn btn-default navbar-btn" onclick="CreateTime()"><i class="fa fa-clock-o"></i> Thời gian</button>
                                    }
                                    else if (Model.PL == 3)
                                    {
                                        <button class="btn btn-default navbar-btn" onclick="CreateCost()"><i class="fa fa-money"></i> Dự toán</button>
                                    }
                                    if (Model.Role == Constants.ROLE_APPROVE && Model.DepartmentID != Constants.HEAD_DEPT_ID)
                                    {
                                        <button class="btn btn-primary navbar-btn" onclick="ApproveOrReject(1)"><i class="fa fa-check"></i> Phê duyệt</button>
                                    }
                                    else if (Model.Role == Constants.ROLE_EDIT && Model.DepartmentID != Constants.HEAD_DEPT_ID)
                                    {
                                        <button class="btn btn-primary navbar-btn" onclick="RequestReview(0)"><i class="fa fa-paper-plane-o"></i> Gửi</button>
                                        if (Model.DepartmentID == user.DepartmentID && Model.IsChange.GetValueOrDefault() == Constants.IS_ACTIVE)
                                        {
                                            <button class="btn btn-warning navbar-btn" onclick="restore()"><i class="fa fa-undo"></i> Hủy thay đổi</button>
                                        }
                                    }
                                if (Status >= Constants.PLAN_NEXT_LEVER && Model.DepartmentID != user.DepartmentID)
                                {
                                    if (Model.Role == Constants.ROLE_EDIT && Model.DepartmentID != Constants.HEAD_DEPT_ID)
                                    {
                                        <button class="btn btn-success navbar-btn" onclick="UnLock()"><i class="fa fa-unlock"></i> Mở khóa</button>
                                    }
                                    else if (Model.Role == Constants.ROLE_APPROVE && Model.DepartmentID != Constants.HEAD_DEPT_ID)
                                    {
                                        <button class="btn btn-success navbar-btn" onclick="ApproveOrReject(0)"><i class="fa fa-unlock"></i> Từ chối</button>
                                    }
                                    else if (Model.Role == Constants.ROLE_AFTER_APPROVE && Model.DepartmentID != Constants.HEAD_DEPT_ID)
                                    {
                                        <button class="btn btn-success navbar-btn" onclick="UnLockSeft()"><i class="fa fa-unlock"></i> Mở khóa</button>
                                        }
                                    }
                                }
                                <button class="btn btn-default navbar-btn" onclick="window.history.back();"><i class="fa fa-reply"></i> Quay lại</button>
                            </div>
                        </li>
                    </ul>
                </div>

            </div>
        </nav>
    </div>
    <div class="col-md-12" id="divPlanContent">
        @Html.Partial("_Step1View", Model)
    </div>
</div>
<div id="ActionModal" class="modal fade" role="dialog">
</div>
<div id="ActionIndexModal" class="modal fade" role="dialog">
</div>
<script type="text/javascript">
    var openChangeDescription = function () {
        $("#modalChangeDescription").modal("show");
    };

    //Thong tin chung
    var PlanInfor = function () {
        var PeriodID = $('#PeriodID').val();
        var PlanID = $('#PlanID').val();
        $.ajax({
            type: "POST",
            url: '@Url.Action("Step1", "PlanChange")',
            data: {
                'PeriodID': PeriodID, 'PlanID': PlanID
            },
            success: function (data) {
                $('#divPlanContent').html(data);
                $('#liPlanInfor').addClass("active");
                $('#liTargetIndex').removeClass("active");
                $('#liTargetAction').removeClass("active");
                $('#liMoney').removeClass("active");
                $('#liImp').removeClass("active");
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }
    //Thong tin muc tieu chi so
    var TargetIndex = function () {
        var PlanID = $('#PlanID').val();
        if (PlanID == null || PlanID == "") {
            CommonJS.alert("Thông tin chung chưa được lưu", false);
            return false;
        }
        $.ajax({
            type: "POST",
            url: '@Url.Action("Step2", "PlanChange")',
            data: {
                'PlanID': PlanID
            },
            success: function (data) {
                $('#divPlanContent').html(data);
                $('#liPlanInfor').removeClass("active");
                $('#liTargetIndex').addClass("active");
                $('#liTargetAction').removeClass("active");
                $('#liMoney').removeClass("active");
                $('#liImp').removeClass("active");
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }
    //Thong tin hoat dong
    var TargetAction = function () {
        var PlanTargetID = $('#PlanTargetIDAll').val();
        if (!PlanTargetID) {
            CommonJS.alert("Bạn chưa lựa chọn mục tiêu", false);
            return false;
        }
        $.ajax({
            type: "POST",
            url: '@Url.Action("Step3", "PlanChange")',
            data: {
                'PlanTargetID': PlanTargetID
            },
            success: function (data) {
                $('#divPlanContent').html(data);
                $('#liPlanInfor').removeClass("active");
                $('#liTargetIndex').removeClass("active");
                $('#liTargetAction').addClass("active");
                $('#liMoney').removeClass("active");
                $('#liImp').removeClass("active");
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }

    var Cost = function () {
        var PlanID = $('#PlanID').val();
        if (PlanID == null || PlanID == "") {
            CommonJS.alert("Thông tin chung chưa được lưu", false);
            return false;
        }
        $.ajax({
            type: "POST",
            url: '@Url.Action("CostInfo", "PeriodDepartment")',
            data: {
                'PlanID': PlanID
            },
            success: function (data) {
                $('#divPlanContent').html(data);
                $('#liPlanInfor').removeClass("active");
                $('#liTargetIndex').removeClass("active");
                $('#liTargetAction').removeClass("active");
                $('#liMoney').addClass("active");
                $('#liImp').removeClass("active");
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }

    var Implement = function () {
        var PlanID = $('#PlanID').val();
        if (PlanID == null || PlanID == "") {
            CommonJS.alert("Thông tin chung chưa được lưu", false);
            return false;
        }
        $.ajax({
            type: "POST",
            url: '@Url.Action("PrepareImplementation", "PeriodDepartment")',
            data: {
                'PlanID': PlanID
            },
            success: function (data) {
                $('#divPlanContent').html(data);
                $('#liPlanInfor').removeClass("active");
                $('#liTargetIndex').removeClass("active");
                $('#liTargetAction').removeClass("active");
                $('#liMoney').removeClass("active");
                $('#liImp').addClass("active");
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }

    var CreateTime = function () {
        var PlanID = $('#PlanID').val();
        var PeriodID = $('#PeriodID').val();
        if (PlanID == null || PlanID == "") {
            CommonJS.alert("Kế hoạch chưa hoàn thành", false);
            return false;
        } else {
            location.href = '/SubActionPlanTime/Index?planID=' + PlanID;
        }
    }
    var CreateCost = function () {
        var PlanID = $('#PlanID').val();
        var PeriodID = $('#PeriodID').val();
        if (PlanID == null || PlanID == "") {
            CommonJS.alert("Kế hoạch chưa hoàn thành", false);
            return false;
        } else {
            location.href = '/PlanCost/Index?planID=' + PlanID;
        }
    }
    var ReviewMarked = function () {
        var PlanID = $('#PlanID').val();
        if (PlanID == null || PlanID == "") {
            CommonJS.alert("Kế hoạch chưa hoàn thành", false);
            return false;
        } else {
            $.ajax({
                type: "POST",
                url: '@Url.Action("ReviewMarked", "PlanChange")',
                data: {
                    'PlanID': PlanID
                },
                success: function (data) {
                    CommonJS.alert(data);
                },
                error: function (xhr) {
                    CommonJS.alert(xhr.responseText);
                }
            });
        }
    }

    var UnLockSeft = function () {
        var PlanID = $('#PlanID').val();
        if (PlanID == null || PlanID == "") {
            CommonJS.alert("Kế hoạch chưa hoàn thành", false);
            return false;
        } else {
            $.ajax({
                type: "POST",
                url: '@Url.Action("UnlockPlan", "PlanChange")',
                data: {
                    'PlanID': PlanID, 'IsSefl': 1
                },
                success: function (data) {
                    CommonJS.alert(data);
                    setTimeout(function () { location.href = "/PlanChange/PlanningInfo?PeriodID=@Model.PeriodID&&PlanID=@Model.PlanID.GetValueOrDefault()" }, 3000);
                },
                error: function (xhr) {
                    CommonJS.alert(xhr.responseText);
                }
            });
        }
    }

    var UnLock = function () {
        var PlanID = $('#PlanID').val();
        if (PlanID == null || PlanID == "") {
            CommonJS.alert("Kế hoạch chưa hoàn thành", false);
            return false;
        } else {
            $.ajax({
                type: "POST",
                url: '@Url.Action("UnlockPlan", "PlanChange")',
                data: {
                    'PlanID': PlanID
                },
                success: function (data) {
                    CommonJS.alert(data);
                    setTimeout(function () { location.href = "/PlanChange/PlanningInfo?PeriodID=@Model.PeriodID&&PlanID=@Model.PlanID.GetValueOrDefault()" }, 3000);
                },
                error: function (xhr) {
                    CommonJS.alert(xhr.responseText);
                }
            });
        }
    }
    var ApproveOrReject = function (status) {
        var PlanID = $('#PlanID').val();
        if (PlanID == null || PlanID == "") {
            CommonJS.alert("Kế hoạch chưa hoàn thành", false);
            return false;
        } else {
            $.ajax({
                type: "POST",
                url: '@Url.Action("ApproveOrRejectPlan", "PlanChange")',
                data: {
                    'PlanID': PlanID, 'Status': status
                },
                success: function (data) {
                    CommonJS.alert(data);
                    setTimeout(function () { location.href = "/PlanChange/PlanningInfo?PeriodID=@Model.PeriodID&&PlanID=@Model.PlanID.GetValueOrDefault()" }, 3000);
                },
                error: function (xhr) {
                    CommonJS.alert(xhr.responseText);
                }
            });
        }
    }

    var restore = function () {
        var PlanID = $('#PlanID').val();
        if (PlanID == null || PlanID == "") {
            CommonJS.alert("Kế hoạch chưa hoàn thành", false);
            return false;
        } else {
            if (!confirm("Bạn có chắc chắn muốn hủy yêu cầu thay đổi kế hoạch, kế hoạch sẽ được khôi phục về dữ liệu trước đó?")) {
                return false;
            }
            $.ajax({
                type: "POST",
                url: '@Url.Action("RetorePlan", "PlanChange")',
                data: {
                    'PlanID': PlanID
                },
                success: function (data) {
                    CommonJS.alert(data);
                    setTimeout(function () { location.href = "/PlanChange/PlanningInfo?PeriodID=@Model.PeriodID&&PlanID=@Model.PlanID.GetValueOrDefault()" }, 3000);
                },
                error: function (xhr) {
                    CommonJS.alert(xhr.responseText);
                }
            });
        }
    }

    var RequestReview = function (passCheck) {
        var PlanID = $('#PlanID').val();
        if (PlanID == null || PlanID == "") {
            CommonJS.alert("Kế hoạch chưa hoàn thành", false);
            return false;
        } else {
            $.ajax({
                type: "POST",
                url: '@Url.Action("RequestReviewPlan", "PlanChange")',
                data: {
                    'PlanID': PlanID, 'ChangeDescription': $('#ChangeDescription').val(), 'IsPassValidate': passCheck
                },
                success: function (data) {
                    if (data.Type == 0) {
                        CommonJS.alert("Gửi thay đổi kế hoạch thành công");
                        setTimeout(function () { location.href = "/PlanChange/PlanningInfo?PeriodID=@Model.PeriodID&&PlanID=@Model.PlanID.GetValueOrDefault()" }, 3000);
                    } else if (data.Type == 1) {
                        CommonJS.alert("Bạn chưa nhập đủ thời gian thực hiện cho các hoạt động " + data.Name, false);
                    } else if (data.Type == 2) {
                        CommonJS.alert("Bạn chưa khai báo hoạt động", false);
                    } else if (data.Type == 3) {
                        CommonJS.alert("Bạn chưa khai báo giá trị cho chỉ số mục tiêu", false);
                    } else if (data.Type == 4) {
                        CommonJS.alert("Bạn chưa khai báo giá trị cho chỉ số hoạt động", false);
                    } else if (data.Type == 5) {
                        if (confirm("Bạn chưa nhập đủ chi phí cho hoạt động " + data.Name + ", bạn có muốn tiếp tục gửi kế hoạch?")) {
                            RequestReview(1);
                        }
                    } else if (data.Type == 6) {
                        CommonJS.alert("Bạn chưa nhập đủ các thông tin cho hoạt động " + data.Name, false);
                    }
                },
                error: function (xhr) {
                    CommonJS.alert(xhr.responseText);
                }
            });
        }
    }
</script>