﻿@model IInterface.Models.PlanActionIndexModel

@using (Ajax.BeginForm("SaveOwnActionIndex", "PeriodDepartment", new AjaxOptions()
{
    HttpMethod = "post",
    OnBegin = "onBeginSubIndex",
    OnSuccess = "onSuccessSubIndex",
    OnFailure = "onFailSubIndex"
}, new { id = "frmCreateOrEditActionIndex", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                @if (Model != null && Model.PlanActionIndexID > 0)
                {
                    @Html.HiddenFor(model => model.PlanActionIndexID)
                    <h4 class="modal-title">Cập nhật kết quả dự kiến</h4>
                }
                else
                {
                    <h4 class="modal-title">Thêm mới kết quả dự kiến</h4>
                }
                @Html.HiddenFor(a => a.PlanTargetActionID)
                @Html.HiddenFor(a => a.SubActionPlanID)
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-md-2">Giá trị <span class="text-red">*</span></label>
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.IndexValue, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.IndexValue)
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">Tên chỉ số <span class="text-red">*</span></label>
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.IndexName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.IndexName)
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">Đơn vị tính</label>
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.IndexUnitName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.IndexUnitName)
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success"><i class="fa fa-floppy-o"></i> Lưu</button>
                <button type="button" data-dismiss="modal" class="btn btn-default"><i class="fa fa-ban"></i> Hủy</button>
            </div>
        </div>
    </div>
}
<script type="text/javascript">
    $(document).ready(function () {
        $.validator.unobtrusive.parse("#frmCreateOrEditActionIndex");
    });
    function onBeginSubIndex() {
        if ($("#frmCreateOrEditActionIndex").valid()) {
            return true;
        } else {
            return false;
        }
    }

    function onSuccessSubIndex(msg) {
        var PlanTargetActionID = $("#frmCreateOrEditActionIndex #PlanTargetActionID").val();
        var SubActionPlanID = $("#frmCreateOrEditActionIndex #SubActionPlanID").val();
        CommonJS.alert(msg);
        $.ajax({
            type: "POST",
            url: '@Url.Action("PrepareAddSubIndex", "PeriodDepartment")',
            data: {
                'PlanTargetActionID': PlanTargetActionID,
                'SubActionPlanID': SubActionPlanID
            },
            success: function (data) {
                $('#ActionIndexModal').html(data);
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }

    function onFailSubIndex(xhr) {
        CommonJS.alert(xhr.responseText);
    }
</script>
