﻿@using IInterface.Common
@model IInterface.Models.PlanModel
<div class="modal-dialog ">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Thông báo</h4>
        </div>
        <div class="modal-body">
            <div class="progress progress-sm active" id="div_progress_modal" style="display: none">
                <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                </div>
            </div>
            Vui lòng lựa chọn hình thức mở khóa, bạn có thể mở khóa toàn bộ hoặc lựa chọn từng hoạt động để mở khóa cho kế hoạch @Model.PeriodName
        </div>
        <div class="modal-footer text-center">
            @if (Model.Role == Constants.ROLE_EDIT && Model.DepartmentID != Constants.HEAD_DEPT_ID)
            {
                <button class="btn btn-success navbar-btn" data-toggle="modal" data-target="#modal-review" onclick="UnLock(this)"><i class="fa fa-unlock"></i> Mở khóa tất cả</button>
            }
            else if (Model.Role == Constants.ROLE_APPROVE && Model.DepartmentID != Constants.HEAD_DEPT_ID)
            {
                <button class="btn btn-success navbar-btn" data-toggle="modal" data-target="#modal-review" onclick="ApproveOrReject(this, 0)"><i class="fa fa-unlock"></i> Mở khóa tất cả</button>
            }
            <a class="btn btn-primary" href='javascript:void(0)' onclick="gotoUnlockAction()"><i class="fa fa-unlock"></i> Mở khóa theo hoạt động</a>
            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-close"></i> Đóng</button>
        </div>
    </div>
</div>
<script type="text/javascript">
    function gotoUnlockAction() {
        var planID = $('#PlanID').val();
        window.location.href = "/PeriodDepartment/PrepareUnlockAction?planID=" + planID;
    }
</script>
