﻿@using IInterface.Common
@using IModel
@using System.Globalization;
@{
    Period period = ViewData["period"] as Period;
    Dictionary<int, double> listCost = ViewData["listCost"] as Dictionary<int, double>;
    double totalMoney = listCost.Values.Sum();
    int startYear = period.FromDate.Year;
    int endYear = period.ToDate.Year;
}
<div class="box box-solid">
    <div class="box-body">
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            @for (int year = startYear; year <= endYear; year++)
            {
                string title = "Kinh phí năm " + year + ":";
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="col-md-3 control-label-st">@title</label>
                            <div class="col-md-9">
                                @Utils.FormatMoney(listCost[year]) đ
                            </div>
                        </div>
                    </div>
                </div>
            }
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="col-md-3 control-label-st">Tổng kinh phí giai đoạn @startYear-@endYear:</label>
                        <div class="col-md-9">
                           @Utils.FormatMoney(totalMoney) đ
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="col-md-3 control-label-st">Bằng chữ:</label>
                        <div class="col-md-9">
                            @Utils.ChuyenSo(totalMoney.ToString())
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>