﻿@using IInterface.Common
@using IInterface.Common.CommonBO
@model IInterface.Models.PlanModel
@{
    ObjectRoleBO role = ViewData["role"] as ObjectRoleBO;
}
@using (Ajax.BeginForm("SaveImplementation", "PeriodDepartment", new AjaxOptions()
{
    HttpMethod = "post",
    OnSuccess = "onSuccess",
    OnFailure = "onFail"
}, new { id = "frmCreateOrEditImp" }))
{
    @Html.HiddenFor(model => model.PlanID)
    <div class="box box-solid">
        <div class="box-header with-border">
            @if (Model.DepartmentID == Constants.HEAD_DEPT_ID)
            {
                <h4 class="box-title">TỔ CHỨC THỰC HIỆN</h4>
            }
            @if (role != null && role.Role >= Constants.ROLE_EDIT && (role.PL == null || role.PL == 1))
            {
                <div class="btn-box-tool">
                    <button class="btn btn-success pull-right" type="submit"><i class="fa fa-save"></i> Lưu thông tin</button>
                </div>
            }
        </div>
        <div class="box-body">
            @Html.AntiForgeryToken()
            <div class="form-horizontal">
                @if (Model.DepartmentID == Constants.HEAD_DEPT_ID)
                {
                    <div class="row">
                        <div class="col-md-12">
                            @if (role != null && role.Role >= Constants.ROLE_EDIT && (role.PL == null || role.PL == 1))
                            {
                                @Html.TextAreaFor(x => x.Implementation, new { @class = "form-control", rows = "30" })
                            }
                            else if (!string.IsNullOrWhiteSpace(Model.Implementation))
                            {
                                @Html.Raw(Model.Implementation.Replace("\r\n", "<br />"))
                            }
                        </div>
                    </div>
                }
                else
                {
                    <div class="row">
                        <div class="col-md-12">
                            <h4 class="text-light-blue-edited">
                                <strong> </strong>
                            </h4>
                            <strong>8. Tổ chức quản lý và theo dõi thực hiện hoạt động</strong>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            @if (role != null && role.Role >= Constants.ROLE_EDIT && (role.PL == null || role.PL == 1))
                            {
                                @Html.TextAreaFor(model => model.Monitor, new { @class = "form-control", @rows = 10 })
                            }
                            else if (!string.IsNullOrWhiteSpace(Model.Monitor))
                            {
                                @Html.Raw(Model.Monitor.Replace("\r\n", "<br />"))
                            }
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <h4 class="text-light-blue-edited">
                                <strong> </strong>
                            </h4>
                            <strong>9. Tổ chức quản lý tài chính</strong>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            @if (role != null && role.Role >= Constants.ROLE_EDIT && (role.PL == null || role.PL == 1))
                            {
                                @Html.TextAreaFor(model => model.CostManagement, new { @class = "form-control", @rows = 10 })
                            }
                            else if (!string.IsNullOrWhiteSpace(Model.CostManagement))
                            {
                                @Html.Raw(Model.CostManagement.Replace("\r\n", "<br />"))
                            }
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
}
<script type="text/javascript">
    function onSuccess(result) {
        CommonJS.alert(result);
    }
    function onFail(xhr) {
        CommonJS.alert(xhr.responseText);
    }
</script>