﻿@using IInterface.Common;
@using IInterface.Models;
@{
    Paginate<PeriodDeptModel> paginate = ViewData["listPeriodDept"] as Paginate<PeriodDeptModel>;
    var grid = new WebGrid(
                          rowsPerPage: paginate.PageSize,
                          canPage: true,
                          canSort: false,
                          ajaxUpdateContainerId: "divGridPeriod"
                          );

    grid.Bind(paginate.List,
    autoSortAndPage: false,
    rowCount: paginate.Count);
    grid.Pager(WebGridPagerModes.All);
}
@{
    if (paginate.Count > 0)
    {
        var gridColumns = new List<WebGridColumn>();
        gridColumns.Add(grid.Column("PeriodName", "Giai đoạn"));
        gridColumns.Add(grid.Column("Status", "Trạng thái", format: @<text>
        @if (item.Status == Constants.PLAN_NEW)
        {
            <span class="label label-primary">Dự thảo</span>
        }
        else if (item.Status == Constants.PLAN_PLANNED)
        {
            <span class="label label-primary">Đã lập kế hoạch</span>
        }
        else if (item.Status == Constants.PLAN_NEXT_LEVER)
        {
            <span class="label label-info">Đang xem xét</span>
        }
        else if (item.Status == Constants.PLAN_APPROVED)
        {
            <span class="label label-success">Đã phê duyệt</span>
        }
        else
        {
            <span class="label label-default">Chưa lập kế hoạch</span>
        }
        </text>));
        gridColumns.Add(grid.Column("Từ ngày", format: (item) => string.Format("{0:MM/yyyy}", item.FromDate)));
        gridColumns.Add(grid.Column("Tới ngày", format: (item) => string.Format("{0:MM/yyyy}", item.ToDate)));
        gridColumns.Add(grid.Column(header: "", format: @<text>
            @if (item.Status == 0)
            {
                <div class="btn-group" role="group" aria-label="...">
                    <a href='@Url.Action("PlanningInfo", "PeriodDepartment", new { PeriodID = item.PeriodID })' class="btn btn-sm btn-primary" title="Lập kế hoạch"><i class="fa fa-line-chart"></i> Lập kế hoạch</a>
                </div>
            }
            else
            {
                <div class="btn-group" role="group" aria-label="...">
                    @if (item.Status == Constants.PLAN_APPROVED || item.Role == Constants.ROLE_VIEW)
                    {
                        if (item.Status == Constants.PLAN_APPROVED)
                        {
                            if (item.IsChange != null && item.IsChange == Constants.IS_ACTIVE)
                            {
                                <a href='@Url.Action("PlanningInfo", "PlanChange", new { PlanID = item.PlanID })' class="btn btn-sm btn-warning" title="Thay đổi kế hoạch"><i class="fa fa-stack-exchange"></i> Thay đổi</a>
                            }
                            else
                            {
                                <a href='@Url.Action("AddOrEdit", "ChangeRequest", new { PlanID = item.PlanID })' class="btn btn-sm btn-warning" title="Đề xuất thay đổi kế hoạch"><i class="fa fa-retweet"></i> Đề xuất thay đổi</a>
                            }
                        }
                        <a href='@Url.Action("PlanningInfo", "PeriodDepartment", new { PeriodID = item.PeriodID })' class="btn btn-sm btn-primary" title="Chi tiết kế hoạch"><i class="fa fa-info-circle"></i> Chi tiết</a>
                        <a href='@Url.Action("Index", "SubActionPlanTime", new { planID = item.planID })' class="btn btn-sm btn-default" title="Thời gian thực hiện"><i class="fa fa-clock-o"></i> Thời gian</a>
                        <a href='@Url.Action("Index", "PlanCost", new { planID = item.planID })' class="btn btn-sm btn-default" title="Dự toán"><i class="fa fa-money"></i> Dự toán</a>
                        if (item.Status == Constants.PLAN_APPROVED)
                        {
                            <a href="javascript:void(0)" onclick="ReviewHistory(@item.PlanID)" data-toggle="modal" data-target="#modal-review" class="btn btn-sm btn-info" title="Danh sách kế hoạch đã được phê duyệt"><i class="fa fa-eye"></i> Lịch sử</a>
                        }
                    }
                    else
                    {
                        if (item.PL == null)
                        {
                            <a href='@Url.Action("PlanningInfo", "PeriodDepartment", new { PeriodID = item.PeriodID })' class="btn btn-sm btn-primary" title="Lập kế hoạch"><i class="fa fa-line-chart"></i> Lập kế hoạch</a>
                            <a href='@Url.Action("Index", "SubActionPlanTime", new { planID = item.planID })' class="btn btn-sm btn-default" title="Thời gian thực hiện"><i class="fa fa-clock-o"></i> Thời gian</a>
                            <a href='@Url.Action("Index", "PlanCost", new { planID = item.planID })' class="btn btn-sm btn-default" title="Dự toán"><i class="fa fa-money"></i> Dự toán</a>
                        }
                        else
                        {
                            if (item.PL == 1)
                            {
                                <a href='@Url.Action("PlanningInfo", "PeriodDepartment", new { PeriodID = item.PeriodID })' class="btn btn-sm btn-primary" title="Lập kế hoạch"><i class="fa fa-line-chart"></i> Lập kế hoạch</a>
                            }
                            if (item.PL == 2)
                            {
                                <a href='@Url.Action("Index", "SubActionPlanTime", new { planID = item.PlanID })' class="btn btn-sm btn-default" title="Thời gian thực hiện"><i class="fa fa-clock-o"></i> Thời gian</a>
                            }
                            if (item.PL == 3)
                            {
                                <a href='@Url.Action("Index", "PlanCost", new { PlanID = item.PlanID })' class="btn btn-sm btn-default" title="Dự toán"><i class="fa fa-money"></i> Dự toán</a>
                            }
                        }
                    }
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-success btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-file-word-o"></i> Xuất kế hoạch
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            @if (item.PL == null)
                            {
                                if (item.DepartmentID == Constants.HEAD_DEPT_ID)
                                {
                                    <li><a href='@Url.Action("ExportPLanPL01", "PlanHeadDocExport", new { planID = item.PlanID })' title="Xuất file PL01"><i class="fa fa-file-word-o"></i> Xuất PL01</a></li>
                                    <li><a href='@Url.Action("ExportPlanActionReport", "ExportReport", new { planID = item.PlanID })' title="Xuất file PL02"><i class="fa fa-file-excel-o"></i> Xuất PL02</a></li>
                                    <li><a href='@Url.Action("ExportCostReport", "CostEstimate", new { periodID = item.PeriodID })' title="Xuất file PL03"><i class="fa fa-file-excel-o"></i> Xuất PL03</a></li>
                                }
                                else
                                {
                                    <li><a href='@Url.Action("ExportPLanPL01", "PlanDocExport", new { planID = item.PlanID })' title="Xuất file PL01"><i class="fa fa-file-word-o"></i> Xuất PL01</a></li>
                                    <li><a href='@Url.Action("ExportPlanActionReport", "ExportReport", new { planID = item.PlanID })' title="Xuất file PL02"><i class="fa fa-file-excel-o"></i> Xuất PL02</a></li>
                                    <li><a href='@Url.Action("ExportPlanCostReport", "ExportReport", new { planID = item.PlanID })' title="Xuất file PL03"><i class="fa fa-file-excel-o"></i> Xuất PL03</a></li>
                                }
                            }
                            else
                            {
                                if (item.PL == 1)
                                {
                                    if (item.DepartmentID == Constants.HEAD_DEPT_ID)
                                    {
                                        <li><a href='@Url.Action("ExportPLanPL01", "PlanHeadDocExport", new { planID = item.PlanID })' title="Xuất file PL01"><i class="fa fa-file-word-o"></i> Xuất PL01</a></li>
                                    }
                                    else
                                    {
                                        <li><a href='@Url.Action("ExportPLanPL01", "PlanDocExport", new { planID = item.PlanID })' title="Xuất file PL01"><i class="fa fa-file-word-o"></i> Xuất PL01</a></li>
                                    }
                                }
                                if (item.PL == 2)
                                {
                                    <li><a href='@Url.Action("ExportPlanActionReport", "ExportReport", new { planID = item.PlanID })' title="Xuất file PL02"><i class="fa fa-file-excel-o"></i> Xuất PL02</a></li>
                                }
                                if (item.PL == 3)
                                {
                                    if (item.DepartmentID == Constants.HEAD_DEPT_ID)
                                    {
                                        <li><a href='@Url.Action("ExportCostReport", "CostEstimate", new { periodID = item.PeriodID })' title="Xuất file PL03"><i class="fa fa-file-excel-o"></i> Xuất PL03</a></li>
                                    }
                                    else
                                    {
                                        <li><a href='@Url.Action("ExportPlanCostReport", "ExportReport", new { planID = item.PlanID })' title="Xuất file PL03"><i class="fa fa-file-excel-o"></i> Xuất PL03</a></li>
                                    }
                                }
                            }
                        </ul>
                    </div>
                </div>
            }
        </text>
            ));
        @grid.GetHtml(htmlAttributes: new { id = "divGridPeriod" },
                                      fillEmptyRows: false,
                                      tableStyle: "table table-hover table-striped",
                                      footerStyle: "table-pager",
                                      alternatingRowStyle: "altRow",
                                      selectedRowStyle: "selectRow",
                                      mode: WebGridPagerModes.All,
                                      columns: gridColumns)
    }
    else
    {
        <div style="color:red; margin-left:10px;">
            Không có kỳ lập kế hoạch nào
        </div>
    }
}

<script type="text/javascript">
    function ReviewHistory(PlanID) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("ViewHisPlanApprove", "Review")',
            data: { 'PlanID': PlanID },
            success: function (data) {
                $("#modal-review").html(data);
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }
</script>