﻿@using IInterface.Models
@{
    ViewBag.Title = "PlanningInfo";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@{
    List<PlanTargetModel> listPlanTarget = ViewData["listPlanTarget"] as List<PlanTargetModel>;
    if (listPlanTarget == null)
    {
        listPlanTarget = new List<PlanTargetModel>();
    }
    PlanModel plan = ViewData["plan"] as PlanModel;
}
<script type="text/javascript" src="~/Scripts/jquery.freezeheader.js"></script>
<div class="row">
    <div class="col-lg-12">
        @using (Ajax.BeginForm("SaveUnlockAction", "PeriodDepartment", new AjaxOptions()
        {
            HttpMethod = "POST",
            OnSuccess = "onSuccess",
            OnFailure = "onFail"
        }, new { id = "frmChangeRequest" }))
        {
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title" id="divTitle">
                        <i class="fa fa-eraser"></i> MỞ KHÓA KẾ HOẠCH - @plan.PeriodName
                    </h3>
                    @Html.Hidden("planID", plan.PlanID)
                </div>
                <div class="box-body">
                    @if (!listPlanTarget.Any())
                    {
                        <span class="text-danger" style="padding-left: 10px;">Kế hoạch chưa khai báo mục tiêu</span>
                    }
                    else
                    {
                        <div class="row">
                            <div class="col-md-6">
                                <button class="btn btn-default" type="button" onclick="window.history.back();"><i class="fa fa-reply"></i> Quay lại</button>
                            </div>
                            <div class="col-md-6">
                                <div class="btn-group pull-right">
                                    <button class="btn btn-success" type="submit"><i class="fa fa-unlock"></i> Mở khóa</button>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-12">
                                <table class="table table-bordered table-responsive" id="tableData">
                                    <thead>
                                        <tr class="bg-info text-white">
                                            <th style="width: 8%; text-align:center"></th>
                                            <th style="width: 10%; text-align:center">Mã hoạt động</th>
                                            <th style="width: 82%; text-align:center">Tên hoạt động</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (PlanTargetModel pt in listPlanTarget)
                                        {
                                            <tr class="success">
                                                <td class="text-center" style="vertical-align: middle">
                                                    @if (pt.IsChosen)
                                                    {
                                                        <input type="checkbox" value="@pt.PlanTargetID" checked id="target_@pt.PlanTargetID" onclick="checkAll(this)" />
                                                    }
                                                    else
                                                    {
                                                        <input type="checkbox" value="@pt.PlanTargetID" id="target_@pt.PlanTargetID" onclick="checkAll(this)" />
                                                    }
                                                </td>
                                                <td class="text-center" style="vertical-align: middle"><strong>@pt.TargetCode</strong></td>
                                                <td style="vertical-align: middle"><strong>@pt.PlanTargetContent</strong></td>
                                            </tr>
                                            if (pt.ListPlanTargetActionModel != null && pt.ListPlanTargetActionModel.Any())
                                            {
                                                foreach (var pta in pt.ListPlanTargetActionModel)
                                                {
                                                    <tr>
                                                        <td class="text-center" style="vertical-align: middle">
                                                            @if (pta.IsChosen)
                                                            {
                                                                <input type="checkbox" checked par="target_@pt.PlanTargetID" onclick="checkOne(this)" name="PlanTargetActionIDs" value="@pta.PlanTargetActionID" />
                                                            }
                                                            else
                                                            {
                                                                <input type="checkbox" par="target_@pt.PlanTargetID" onclick="checkOne(this)" name="PlanTargetActionIDs" value="@pta.PlanTargetActionID" />
                                                            }
                                                        </td>
                                                        <td class="text-center" style="vertical-align: middle">@pta.ActionCode</td>
                                                        <td style="vertical-align: middle">@pta.ActionContent</td>
                                                    </tr>
                                                }
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>                        
                    }
                </div>
            </div>
        }
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#tableData").freezeHeader();
    });

    function checkOne(item) {
        var parID = $(item).attr('par');
        if (!$(item).is(':checked')) {
            $("#tableData #" + parID).prop("checked", false);
        } else {
            if ($("#tableData tbody input:checkbox[par='" + parID + "']:checked").length == $("#tableData tbody input:checkbox[par='" + parID + "']").length) {
                $("#tableData #" + parID).prop("checked", true);
            } else {
                $("#tableData #" + parID).prop("checked", false);
            }
        }
    }

    function checkAll(item) {
        var checked = $(item).is(':checked');
        var ptID = $(item).val();
        $("#tableData tbody input:checkbox[par='target_" + ptID + "']").prop("checked", checked);
    }
    function onSuccess(data) {
        CommonJS.alert(data);
        setTimeout(function () { location.href = "/PeriodDepartment/PlanningInfo?PeriodID=@plan.PeriodID&&PlanID=@plan.PlanID.GetValueOrDefault()" }, 3000);
    }
     
    function onFail(xhr) {
        CommonJS.alert(xhr.responseText);
    }

</script>
