﻿@using IInterface.Common;
@using IInterface.Models;
@{
    int planTargetIndexID = (ViewData["planTargetIndexID"] as int?).GetValueOrDefault();
    Paginate<TargetIndexModel> paginate = ViewData["listTargetIndex"] as Paginate<TargetIndexModel>;
    var grid = new WebGrid(
                          rowsPerPage: paginate.PageSize,
                          canPage: true,
                          canSort: false,
                          ajaxUpdateContainerId: "divGridIndex"
                          );

    grid.Bind(paginate.List,
    autoSortAndPage: false,
    rowCount: paginate.Count);
    grid.Pager(WebGridPagerModes.All);
}
<style>
    .ContentColumn {
        width: 60%;
    }

    .CodeColumn {
        width: 10%;
    }
</style>
<div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title"><i class="fa fa-eraser"></i> Chỉ số</h4>
            @Html.Hidden("hidPlanTargetIndexID", planTargetIndexID)
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-lg-6">
                    <div class="btn-group" role="group">
                        @if (paginate.List.Any(x => x.Choosen.GetValueOrDefault() == 0))
                        {
                            <button class="btn btn-default btn-sm" onclick="checkAllIndex(this, true)"><i id="iAllIndex" class="fa fa-square-o"></i></button>
                        }
                        else
                        {
                            <button class="btn btn-default btn-sm" onclick="checkAllIndex(this, false)"><i id="iAllIndex" class="fa fa-check-square-o"></i></button>
                        }
                    </div>
                </div>
            </div>
            @if (paginate.Count > 0)
            {
                var gridColumns = new List<WebGridColumn>();
                gridColumns.Add(grid.Column("", "", format: @<text>
                @if (item.Choosen != null && item.Choosen == 1)
                {
                    <input type="checkbox" onclick="checkOneIndex(this)" id="chk_@item.MainIndexID" value="@item.MainIndexID" checked name="MainIndexIDs" class="cbx" />
                }
                else
                {
                    <input type="checkbox" onclick="checkOneIndex(this)" id="chk_@item.MainIndexID" value="@item.MainIndexID" name="MainIndexIDs" class="cbx" />
                }
                </text>, style: ""));
                gridColumns.Add(grid.Column("", "Chỉ số", format: @<text>
                @if (item.TypeIndex == Constants.TYPE_INDEX_INPUT || item.TypeIndex == Constants.TYPE_INDEX_INPUT_AVERAGE)
                {
                    <input class="form-control input-sm" id="Vl_@item.MainIndexID" onblur="chooseTargetIndexCheckbox(this)" type="number" value="@item.ValueIndex">
                }
                </text>));
                gridColumns.Add(grid.Column("", "Tổng số", format: @<text>
                @if (item.TypeIndex == Constants.TYPE_INDEX_INPUT)
                {
                    <input class="form-control input-sm" id="TT_@item.MainIndexID" type="number" value="@item.ValueTotal">
                }
                </text>));
                gridColumns.Add(grid.Column(header: "Chỉ số", format: @<text>
                @if (item.TypeIndex == Constants.TYPE_INDEX_INPUT || item.TypeIndex == Constants.TYPE_INDEX_INPUT_AVERAGE)
                {
                    <span>__</span> @item.ContentIndex
                }
                else
                {
                    <i class="fa fa-check-square text-primary"></i>  @item.ContentIndex
                }
                </text>, style: "ContentColumn"));
                @grid.GetHtml(htmlAttributes: new { id = "divGridIndex" },
                                      fillEmptyRows: false,
                                      tableStyle: "table table-hover table-striped",
                                      footerStyle: "table-pager",
                                      displayHeader: true,
                                      alternatingRowStyle: "altRow",
                                      selectedRowStyle: "selectRow",
                                      mode: WebGridPagerModes.All,
                                      columns: gridColumns)
            }
            else
            {
                <div style="color:red; margin-left:10px;">
                    Chưa khai báo chỉ số
                </div>
            }
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-success pull-left" onclick="ChoosenTargetIndex()"><i class="fa fa-floppy-o"></i> Lưu lại</button>
            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-close"></i> Đóng</button>
        </div>
    </div>
</div>
<script>
    function chooseTargetIndexCheckbox(item) {
        var id = $(item).attr("id");
        var val = $(item).val();
        id = id.replace('Vl_', 'chk_');
        if (val.trim() != '') {
            $('#' + id).prop('checked', true);
            if ($("#divGridIndex tbody input:checkbox[name='MainIndexIDs']:checked").length == $("#divGridIndex tbody input:checkbox[name='MainIndexIDs']").length) {
                $("#iAllIndex").attr("class", "fa fa-check-square-o");
            }
        } else {
            $('#' + id).prop('checked', false);
            $("#iAllIndex").attr("class", "fa fa-square-o");
        }
    }

    function unCheckAll() {
        $("#iAllIndex").attr("class", "fa fa-square-o");
    }

    function checkAllIndex(item, checked) {
        if (checked) {
            $("#iAllIndex").attr("class", "fa fa-check-square-o");
        } else {
            $("#iAllIndex").attr("class", "fa fa-square-o");
        }
        $("#divGridIndex tbody input:checkbox[name='MainIndexIDs']").prop("checked", checked);
        checked = !checked;
        $(item).attr("onclick", "checkAllIndex(this, " + checked + ")");
    }


    function checkOneIndex(item) {
        if (!$(item).is(':checked')) {
            $("#iAllIndex").attr("class", "fa fa-square-o");
        } else {
            if ($("#divGridIndex tbody input:checkbox[name='MainIndexIDs']:checked").length == $("#divGridIndex tbody input:checkbox[name='MainIndexIDs']").length) {
                $("#iAllIndex").attr("class", "fa fa-check-square-o");
            }
        }
    }
    function ChoosenTargetIndex() {
        var myDictionary = [];
        var TargetIndexInput = "";
        var PlanID = $('#PlanID').val();
        var PlanTargetID = $('#PlanTargetIDChoice').val();
        $('input:checkbox[name="MainIndexIDs"]:checked').each(function () {
            myDictionary.push({
                MainIndexID: $(this).val(),
                ValueIndex: $('#Vl_' + $(this).val()).val(),
                ValueTotal: $('#TT_' + $(this).val()).val()
            });
        });
        if (myDictionary.length == 0) {
            CommonJS.alert("Bạn chưa chọn chỉ số nào", false);
            return;
        }
        var planTargetIndexID = $('#hidPlanTargetIndexID').val();
        if (planTargetIndexID == 0) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("ChoiceIndex", "PeriodDepartment")',
                data: {
                    'TargetIndexIDs': myDictionary,
                    'PlanTargetID': PlanTargetID,
                    'PlanID': PlanID
                },
                success: function (data) {
                    CommonJS.alert("Thêm mới chỉ số thành công");
                    $('#ListTargetIndex').html(data);
                    $('#TargetIndexModal').modal("toggle");
                },
                error: function (xhr) {
                    CommonJS.alert(xhr.responseText);
                }
            });
        } else {
            $.ajax({
                type: "POST",
                url: '@Url.Action("UpdateIndex", "PeriodDepartment")',
                data: {
                    'TargetIndexIDs': myDictionary,
                    'PlanTargetID': PlanTargetID,
                    'PlanID': PlanID,
                    'planTargetIndexID': planTargetIndexID
                },
                success: function (data) {
                    CommonJS.alert("Cập nhật chỉ số thành công");
                    $('#ListTargetIndex').html(data);
                    $('#TargetIndexModal').modal("toggle");
                },
                error: function (xhr) {
                    CommonJS.alert(xhr.responseText);
                }
            });
        }
    }
</script>

