﻿@using IInterface.Models;
@using IInterface.Common;
@using IInterface.Common.CommonBO;
@using IModel;
@{
    PlanTarget planTarget = ViewData["planTarget"] as PlanTarget;
    List<TargetIndexModel> lstTargetIndex = ViewData["listTargetIndexChoosen"] as List<TargetIndexModel>;
    UserInfo objUser = SessionManager.GetUserInfo();
    List<SelectListItem> listType = ViewData["ListType"] as List<SelectListItem>;
    Plan plan = ViewData["plan"] as Plan;
    ObjectRoleBO role = ViewData["role"] as ObjectRoleBO;
    int noChangeTarget = (ViewData["NoChangeTarget"] as int?).GetValueOrDefault();
}
@if (plan.DepartmentID == Constants.HEAD_DEPT_ID && objUser.DeptType == Constants.MAIN_TYPE && objUser.IsHeadOffice == Constants.IS_ACTIVE
                                                                                                    && plan.Status == Constants.PLAN_APPROVED && plan.Type == Constants.MAIN_TYPE)
{
    string mainResult = planTarget.Description;
    if (mainResult == null)
    {
        mainResult = string.Empty;
    }
    <div class="row">
        <div class="col-md-12">
            @Html.Hidden("hidMainResultDis", planTarget.Description)
            <ul class="list-group">
                <li class="list-group-item list-group-item-info">
                    <i class="fa fa-star-o">
                    </i><strong> Kết quả chính</strong>
                    @if (noChangeTarget == 0)
                    {
                        <div class="btn-group pull-right">
                            <a class="btn btn-primary btn-flat btn-xs" data-toggle="modal" data-target="#TargetDesModal" onclick="openTargetResult(@planTarget.PlanTargetID, '@planTarget.PlanTargetContent')">
                                <i class="fa fa-edit"></i> Cập nhật
                            </a>
                        </div>
                    }
                </li>
                <li class="list-group-item no-border">@Html.Raw(mainResult.Replace("\r\n", "<br />"))</li>
            </ul>
        </div>
    </div>
}
<div class="row">
    <div class="col-md-12">
        <ul class="list-group">
            <li class="list-group-item list-group-item-info"><i class="fa fa-star-o"></i><strong> Chỉ số của - <span id="TargetTitle">@planTarget.PlanTargetTitle</span></strong></li>
            @if (lstTargetIndex != null && lstTargetIndex.Any())
            {
                foreach (var targetIndex in lstTargetIndex)
                {
                    string content = targetIndex.ContentIndex;
                    if (targetIndex.TypeIndex == Constants.TYPE_INDEX_INPUT_AVERAGE)
                    {
                        if (content != null && content.StartsWith("%"))
                        {
                            content = content.Substring(1).Trim();
                        }
                    }
                    <li class="list-group-item no-border clearfix">

                        @if (targetIndex.ValueIndex != 0 && targetIndex.ValueIndex != null)
                        {
                            if (targetIndex.TypeIndex == Constants.TYPE_INDEX_INPUT)
                            {
                                if (targetIndex.ValueTotal != 0 && targetIndex.ValueTotal != null)
                                {
                                    <kbd>@targetIndex.ValueIndex <span>/</span> @targetIndex.ValueTotal</kbd>
                                }
                                else
                                {
                                    <kbd>@targetIndex.ValueIndex</kbd>
                                }
                            }
                            else if (targetIndex.TypeIndex == Constants.TYPE_INDEX_INPUT_AVERAGE)
                            {
                                string valueIndex = targetIndex.ValueIndex.GetValueOrDefault() + " %";
                                <kbd>@valueIndex</kbd>
                            }
                        }
                        @if (targetIndex.ValueIndex != targetIndex.ValueIndexChange && targetIndex.UpdateUserID != objUser.UserID)
                        {
                            <span class="text-primary">@content</span>
                        }
                        else
                        {
                            <span>@content</span>
                        }
                        @if (role != null && role.Role >= Constants.ROLE_EDIT && (role.PL == null || role.PL == 1) && noChangeTarget == 0)
                        {
                            <span class="pull-right">
                                @if (targetIndex.MainIndexID != null && targetIndex.MainIndexID.Value > 0)
                                {
                                    <button class="btn btn-xs btn-primary btn-flat" type="button" onclick="PopUpCheckIndexs(@targetIndex.PlanTargetIndexID)"><i class="fa fa-edit"></i></button>
                                }
                                else
                                {
                                    <button class="btn btn-xs btn-primary btn-flat" type="button" onclick="PopUpAddIndexs(@targetIndex.PlanTargetIndexID)"><i class="fa fa-edit"></i></button>
                                }
                                <button class="btn btn-xs btn-danger btn-flat" type="button" onclick="removePlanTargetIndex(@targetIndex.PlanTargetIndexID)"><i class="fa fa-trash-o"></i></button>
                            </span>
                        }
                    </li>
                }
            }
        </ul>
    </div>
</div>
@if (plan.Status > Constants.PLAN_NEW)
{
    <div class="row">
        <div class="col-md-12">
            <div class="box box-solid collapsed-box">
                <div class="box-header with-border">
                    <strong><i class="fa fa-commenting-o"></i> Ghi chú</strong>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-plus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body" id="ListReview" style="display: none;">

                </div>
                <div class="box-footer" style="display: none;">
                    <input class="form-control input-sm" id="CommentIndex" type="text" placeholder="Nhập ghi chú...">
                </div>
            </div>
        </div>
    </div>
}
<script type="text/javascript">
    jQuery('#CommentIndex').on("keypress", function (e) {
        if (e.keyCode == 13) {
            var PlanTargetID = $('#PlanTargetIDChoice').val();
            var PlanID = $('#PlanID').val();
            var Content = $('#CommentIndex').val();
            $.ajax({
                type: "POST",
                url: '@Url.Action("SaveComments", "PeriodDepartment")',
                data: {
                    'PlanID': PlanID,
                    'PlanTargetID': PlanTargetID,
                    'CommentContent': Content
                },
                success: function (data) {
                    $('#ListReview').html(data);
                },
                error: function (xhr) {
                    CommonJS.alert(xhr.responseText);
                }
            });
        }
    });
    function openTargetResult(id, content) {
        var targetResultL = $('#hidMainResultDis').val();
        $('#titleTargetResult').html("Kết quả chính của mục tiêu: " + content);
        $('#TargetResult').val(targetResultL);
        $('#hiddenPlanTargetID').val(id);
    }
    function removePlanTargetIndex(id) {
        if (!confirm("Bạn có chắc chắn muốn xóa chỉ số?")) {
            return;
        }
        $.ajax({
            type: "POST",
            url: '@Url.Action("RemovePlanTargetIndex", "PeriodDepartment")',
            data: {
                'PlanTargetIndexID': id
            },
            success: function (data) {
                CommonJS.alert(data);
                SelectTarget();
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }
</script>
