﻿@using IInterface.Models;
@using IInterface.Common
@using IInterface.Common.CommonBO
@{

    List<TargetActionModel> TargetAction = ViewData["listTargetAction"] as List<TargetActionModel>;
    IInterface.Common.UserInfo objUser = IInterface.Common.SessionManager.GetUserInfo();
    int OrderTimeline = 1;
    IEnumerable<SelectListItem> MainActionCombo = ViewData["listMainAction"] as IEnumerable<SelectListItem>;
    List<SubActionPlanModel> AllSubActions = ViewData["AllSubActions"] as List<SubActionPlanModel>;
    ObjectRoleBO role = ViewData["role"] as ObjectRoleBO;
    List<ChangeRequestActionModel> listChangeAction = ViewData["listChangeAction"] as List<ChangeRequestActionModel>;
}
<li class="time-label">
    @if (role != null && role.Role >= Constants.ROLE_EDIT && (role.PL == null || role.PL == 1))
    {
        <button class="btn btn-primary" data-toggle="modal" data-target="#ActionModal" onclick="PrepareAddActionTarget()" type="button">
            <i class="fa fa-tag"></i> Thêm hoạt động
        </button>
    }
    else
    {
        <button class="btn btn-success" type="button">
            <i class="fa fa-tag"></i> Danh sách hoạt động
        </button>
    }
</li>
@if (TargetAction != null && TargetAction.Count > 0)
{
    foreach (TargetActionModel objTargetActionModel in TargetAction)
    {
        string classSub = "";
        string classBox = "box box-solid";
        if (listChangeAction != null && listChangeAction.Any(x => x.PlanTargetActionID == objTargetActionModel.PlanTargetActionID && x.ApproveStatus == Constants.IS_ACTIVE))
        {
            classBox = "box box-warning";
        }
        
        <li>
            <i class="fa">@(OrderTimeline++)</i>
            <div class="@classBox">
                <div class="box-header with-border">
                    @if (listChangeAction != null && listChangeAction.Any(x => x.PlanTargetActionID == objTargetActionModel.PlanTargetActionID && x.ApproveStatus == Constants.IS_ACTIVE))
                    {
                        <i class="fa fa-star text-warning"></i>
                    }
                    else
                    {
                        <i class="fa fa-tag"></i>
                    }
                    @if (objTargetActionModel.IsActionContentChange)
                    {
                        <strong class="text-primary">@Html.Raw((string.IsNullOrWhiteSpace(objTargetActionModel.ActionCode) ? string.Empty : objTargetActionModel.ActionCode + ". ") + objTargetActionModel.ActionContent)</strong>
                    }
                    else
                    {
                        <strong>@Html.Raw((string.IsNullOrWhiteSpace(objTargetActionModel.ActionCode) ? string.Empty : objTargetActionModel.ActionCode + ". ") + objTargetActionModel.ActionContent)</strong>
                    }
                    <div class="box-tools">
                        <button class="btn btn-box-tool" type="button" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body">
                    <strong><i class="fa fa-bookmark-o"></i> NỘI DUNG: </strong>
                    <br />
                    @if (!string.IsNullOrWhiteSpace(objTargetActionModel.ContentPropaganda))
                    {
                        if (objTargetActionModel.IsContentPropagandaChange)
                        {
                            <span class="text-primary">@Html.Raw(objTargetActionModel.ContentPropaganda.Replace("\r\n", "<br />"))</span>
                        }
                        else
                        {
                            @Html.Raw(objTargetActionModel.ContentPropaganda.Replace("\r\n", "<br />"))
                        }
                    }
                    else
                    {
                        <span class="text-danger">Chưa nhập</span>
                    }
                    <br />
                    <br />
                    <strong><i class="fa fa-bookmark-o"></i> ĐỐI TƯỢNG, PHẠM VI: </strong>
                    <br />
                    @if (!string.IsNullOrWhiteSpace(objTargetActionModel.ObjectScope))
                    {
                        if (objTargetActionModel.IsObjectScopeChange)
                        {
                            <span class="text-primary">@Html.Raw(objTargetActionModel.ObjectScope.Replace("\r\n", "<br />"))</span>
                        }
                        else
                        {
                            @Html.Raw(objTargetActionModel.ObjectScope.Replace("\r\n", "<br />"))
                        }
                    }
                    else
                    {
                        <span class="text-danger">Chưa nhập</span>
                    }
                    <br />
                    <br />
                    <strong><i class="fa fa-bookmark-o"></i> PHƯƠNG THỨC THỰC HIỆN: </strong>
                    <br />
                    @if (!string.IsNullOrWhiteSpace(objTargetActionModel.ActionMethod))
                    {
                        if (objTargetActionModel.IsActionMethodChange)
                        {
                            <span class="text-primary">@Html.Raw(objTargetActionModel.ActionMethod.Replace("\r\n", "<br />"))</span>
                        }
                        else
                        {
                            @Html.Raw(objTargetActionModel.ActionMethod.Replace("\r\n", "<br />"))
                        }
                    }
                    else
                    {
                        <span class="text-danger">Chưa nhập</span>
                    }
                    <br />
                    <br />
                    <strong><i class="fa fa-bookmark-o"></i> KẾT QUẢ DỰ KIẾN: </strong>
                    <br />
                    @if (!string.IsNullOrWhiteSpace(objTargetActionModel.Result))
                    {
                        <span>@Html.Raw(objTargetActionModel.Result.Replace("\r\n", "<br />"))</span>
                    }
                    else
                    {
                        <span class="text-danger">Chưa nhập</span>
                    }
                    <br />
                    <br />
                    <strong><i class="fa fa-bookmark-o"></i> THỜI GIAN THỰC HIỆN: </strong>
                    <br />
                    @if (!string.IsNullOrWhiteSpace(objTargetActionModel.ActionTimes))
                    {
                        if (objTargetActionModel.ActionTimes != null)
                        {
                            <span>@objTargetActionModel.ActionTimes</span>
                        }
                    }
                    else
                    {
                        <span class="text-danger">Chưa nhập</span>
                    }
                </div>
                <div class="box-footer with-border">
                    @if (role != null && role.Role >= Constants.ROLE_EDIT && (role.PL == null || role.PL == 1)
                        && (listChangeAction == null || listChangeAction.Any(x => x.PlanTargetActionID == objTargetActionModel.PlanTargetActionID && x.ApproveStatus == Constants.IS_ACTIVE)))
                    {
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="btn-group">
                                        @if (AllSubActions.Where(a => a.PlanTargetActionID == objTargetActionModel.PlanTargetActionID).Any())
                                        {
                                            classSub = "display:none";
                                        }
                                        <button style="@classSub" id="action_index_@objTargetActionModel.PlanTargetActionID" class="btn btn-primary btn-flat" data-toggle="modal" data-target="#ActionIndexModal"
                                                onclick="PrepareAddSubIndex(@objTargetActionModel.PlanTargetActionID)">
                                            <i class="fa fa-sliders"></i> Kết quả dự kiến
                                        </button>
                                        <button class="btn btn-success btn-flat" data-toggle="modal" data-target="#ActionModal"
                                                onclick="PrepareAddSubAction(@objTargetActionModel.PlanTargetActionID)">
                                            <i class="fa fa-tags" aria-hidden="true"></i> Thêm hoạt động con
                                        </button>
                                        <button class="btn btn-info btn-flat" data-toggle="modal" data-target="#ActionModal"
                                                onclick="PrepareEditActionOfTarget(@objTargetActionModel.PlanTargetActionID)">
                                            <i class="fa fa-edit"></i> Sửa
                                        </button>
                                        <button class="btn btn-danger btn-flat" onclick="DeletePlanTargetAction(@objTargetActionModel.PlanTargetActionID)">
                                            <i class="fa fa-trash-o"></i> Xóa
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="col-md-12" id="listSubAction_@objTargetActionModel.PlanTargetActionID">
                                    @{
                                        var listSubAction = AllSubActions.Where(a => a.PlanTargetActionID == objTargetActionModel.PlanTargetActionID).OrderBy(x => x.SubActionOrder).ToList();
                                    }
                                    @Html.Partial("_Step3SubActionView", listSubAction)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
                                            }
                                        }
<li>
    <i class="fa fa-clock-o bg-gray"></i>
</li>
<script type="text/javascript">
    $("select").select2();
    //popup Sua hoat dong
    function PrepareEditActionOfTarget(PlanTargetActionID) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("PrepareEditActionOfTarget", "PeriodDepartment")',
            data: {
                'PlanTargetActionID': PlanTargetActionID
            },
            success: function (data) {
                $('#ActionModal').html(data);
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }
    //popup thm hoat dong con
    function PrepareAddSubAction(PlanTargetActionID) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("PrepareAddSubAction", "PeriodDepartment")',
            data: {
                'PlanTargetActionID': PlanTargetActionID
            },
            success: function (data) {
                $('#ActionModal').html(data);
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }
    function PrepareEditSubAction(SubActionID) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("PrepareEditSubAction", "PeriodDepartment")',
            data: {
                'SubActionID': SubActionID
            },
            success: function (data) {
                $('#ActionModal').html(data);
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }
    //popup them chi so cho hoat dong
    function PrepareAddSubIndex(PlanTargetActionID) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("PrepareAddSubIndex", "PeriodDepartment")',
            data: {
                'PlanTargetActionID': PlanTargetActionID
            },
            success: function (data) {
                $('#ActionIndexModal').html(data);
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }
    //popup them chi so cho hoat dong con
    function PrepareAddSuperSubIndex(PlanTargetActionID, SubActionPlanID) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("PrepareAddSubIndex", "PeriodDepartment")',
            data: {
                'PlanTargetActionID': PlanTargetActionID,
                'SubActionPlanID': SubActionPlanID
            },
            success: function (data) {
                $('#ActionIndexModal').html(data);
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }
    //lay len danh sach hoat dong con
    function LoadSubAction(PlanTargetActionID) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("LoadSubAction", "PeriodDepartment")',
            data: {
                'PlanTargetActionID': PlanTargetActionID
            },
            success: function (data) {
                $('#listSubAction_' + PlanTargetActionID).html(data);
                // An hien nut chi so
                var len = $('#listSubAction_' + PlanTargetActionID + ' ul li').length;
                if (len > 1) {
                    $('#action_index_' + PlanTargetActionID).hide();
                } else {
                    $('#action_index_' + PlanTargetActionID).show();
                }
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }
    //lay len danh sach chi so cua hoat dong
    function LoadSubIndex(PlanTargetActionID) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("LoadSubIndex", "PeriodDepartment")',
            data: {
                'PlanTargetActionID': PlanTargetActionID
            },
            success: function (data) {
                $('#listSubIndex_' + PlanTargetActionID).html(data);
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }
    //Xoa chi so cua hoat dong
    function DeleteSubIndex(PlanActionIndexID, PlanTargetActionID) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("DeleteSubIndex", "PeriodDepartment")',
            data: {
                'PlanActionIndexID': PlanActionIndexID
            },
            success: function (data) {
                CommonJS.alert(data);
                LoadSubIndex(PlanTargetActionID);
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }
    //Xoa hoat dong con
    function DeleteSubAction(SubTargetActionID, PlanTargetActionID) {
        if (!confirm("Khi xóa hoạt động, hệ thống sẽ xóa tất cả các dữ liệu liên quan. Bạn có muốn tiếp tục thực hiện?")) {
            return;
        }
        $.ajax({
            type: "POST",
            url: '@Url.Action("DeleteSubAction", "PeriodDepartment")',
            data: {
                'SubTargetActionID': SubTargetActionID
            },
            success: function (data) {
                CommonJS.alert(data);
                LoadSubAction(PlanTargetActionID);
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }
</script>