﻿@using IInterface.Common
@using IInterface.Common.CommonBO
@{
    ObjectRoleBO role = ViewData["role"] as ObjectRoleBO;
    int noChangeTarget = (ViewData["NoChangeTarget"] as int?).GetValueOrDefault();
}
<div class="row">
    <div class="col-md-5">
        <div class="row">
            <div class="col-md-12">
				 <nav class="navbar navbar-default pull-left">
                    <div class="container-fluid">
						<div class="navbar-header">
							@if (role != null && role.Role >= Constants.ROLE_EDIT && (role.PL == null || role.PL == 1) && noChangeTarget == 0)
							{
								<a class="btn btn-default navbar-btn" href="javascript:void(0)" data-toggle="modal" data-target="#TargetModal" onclick="OpenTarget()"> <i class="fa fa-check-square-o"></i> Lựa chọn</a>
								<a class="btn btn-default navbar-btn" href="javascript:void(0)" data-toggle="modal" data-target="#TargetModal" onclick="PopUpAddTargets(0)"> <i class="fa fa-plus"></i> Thêm mới</a>
								<a class="btn btn-default navbar-btn" href="javascript:void(0)" data-toggle="modal" data-target="#TargetModal" onclick="PopUpAddTargets(1)"> <i class="fa fa-edit"></i> Điều chỉnh</a>
							}
							<a href="#" class="navbar-brand">Mục tiêu <span class="text-danger">*</span></a> 
						</div>
                    </div>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" id="ListSubTarget">

            </div>
        </div>
    </div>
    <div class="col-md-7">
        <div class="row" id="Criterions">
            <div class="col-md-12">
                <nav class="navbar navbar-default pull-right">
                    <div class="container-fluid">
						<div class="navbar-header">
							@if (role != null && role.Role >= Constants.ROLE_EDIT && (role.PL == null || role.PL == 1) && noChangeTarget == 0)
							{
								<a class="btn btn-default navbar-btn" href="javascript:void(0)" data-toggle="modal" data-target="#TargetIndexModal" onclick="PopUpCheckIndexs(0)"> <i class="fa fa-check-square-o"></i> Lựa chọn</a>
								<a class="btn btn-default navbar-btn" href="javascript:void(0)" data-toggle="modal" data-target="#TargetIndexModal" onclick="PopUpAddIndexs(0)"> <i class="fa fa-plus"></i> Thêm mới</a>
							}
							<a href="#" class="navbar-brand">Chỉ số <span class="text-danger">*</span></a> 
						</div>
                    </div>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" id="ListTargetIndex">

            </div>
        </div>
    </div>
</div>
<div id="TargetModal" class="modal fade" role="dialog">
</div>
<div id="TargetIndexModal" class="modal fade" role="dialog">
</div>
<div id="TargetDesModal" class="modal fade" role="dialog">
    @Html.Partial("_TargetResult")
</div>
@Html.Hidden("PlanTargetIDChoice")
<script type="text/javascript">
    $(document).ready(function () {
        LoadTarget();
    });
    //Loading list of target at begining
    function LoadTarget() {
        var PlanID = $('#PlanID').val();
        var PlanTargetID = $('#PlanTargetIDAll').val();
        var dataPost = {
            'PlanID': PlanID
        };
        if (PlanTargetID && PlanTargetID != '') {
            dataPost = {
                'PlanID': PlanID, 'PlanTargetID': PlanTargetID
            };
        }
        $.ajax({
            type: "POST",
            url: '@Url.Action("FirtLoadTarget", "PeriodDepartment")',
            data: dataPost,
            success: function (data) {
                $('#ListSubTarget').html(data);
                if (PlanTargetID && PlanTargetID != '') {
                    $('#PlanTargetIDChoice').val(PlanTargetID);
                    SelectTarget();
                }
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }
    //Show modal to choice Target
    function OpenTarget() {
        var PlanID = $('#PlanID').val();
        $.ajax({
            type: 'POST',
            url: '@Url.Action("PrepareTarget", "PeriodDepartment")',
            data: {
                'PlanID': PlanID
            },
            success: function (data) {
                $('#TargetModal').html(data);
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }
    //Show modal to choice Index
    function PopUpCheckIndexs(planTargetIndexID) {
        var PlanID = $('#PlanID').val();
        var PlanTargetID = $('#PlanTargetIDChoice').val();
        if (PlanID == null || PlanTargetID == null || PlanID == "" || PlanTargetID == "") {
            CommonJS.alert("Bạn chưa lựa chọn mục tiêu", false);
            return false;
        }
        $.ajax({
            type: 'POST',
            url: '@Url.Action("PrepareIndex", "PeriodDepartment")',
            data: {
                'PlanID': PlanID,
                'PlanTargetID': PlanTargetID,
                'planTargetIndexID': planTargetIndexID
            },
            success: function (data) {
                $('#TargetIndexModal').html(data);
                $('#TargetIndexModal').modal('show')
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }
    //Show modal to add new index
    function PopUpAddIndexs(planTargetIndexID) {
        var PlanID = $('#PlanID').val();
        var PlanTargetID = $('#PlanTargetIDChoice').val();
        if (PlanID == null || PlanTargetID == null || PlanID == "" || PlanTargetID == "") {
            CommonJS.alert("Bạn chưa lựa chọn mục tiêu", false);
            return false;
        }
        $.ajax({
            type: 'POST',
            url: '@Url.Action("PrepareAddNewIndex", "PeriodDepartment")',
            data: {
                'PlanID': PlanID,
                'PlanTargetID': PlanTargetID,
                'planTargetIndexID': planTargetIndexID
            },
            success: function (data) {
                $('#TargetIndexModal').html(data);
                $('#TargetIndexModal').modal('show')
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }
    //Show modal to add new target
    function PopUpAddTargets(status) {
        var PlanID = $('#PlanID').val();
        var planTargetID = 0;
        if (status == 1) {
            planTargetID = $('#PlanTargetIDChoice').val();
            if (planTargetID == undefined || planTargetID == null || planTargetID == '' || planTargetID == 0) {
                CommonJS.alert("Bạn chưa lựa chọn mục tiêu", false);
                return false;
            }
        }
        if (PlanID == null || PlanID == "") {
            CommonJS.alert("Kế hoạch chưa được lập", false);
            return false;
        }
        $.ajax({
            type: 'POST',
            url: '@Url.Action("PrepareAddNewTarget", "PeriodDepartment")',
            data: {
                'PlanID': PlanID, 'PlanTargetID': planTargetID
            },
            success: function (data) {
                $('#TargetModal').html(data);
                $('#TargetModal').modal('show')
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }
</script>