﻿@model IInterface.Models.PlanTargetModel

@using (Ajax.BeginForm("AddTarget", "PeriodDepartment", new AjaxOptions()
{
    HttpMethod = "post",
    OnSuccess = "onSuccess",
    OnFailure = "onFail"
}, new { id = "frmAddOrEditTarget", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                @if (Model != null && Model.PlanTargetID > 0)
                {
                    @Html.HiddenFor(x => x.PlanTargetID)
                    <h4 class="modal-title"><i class="fa fa-eraser"></i>Điều chỉnh mục tiêu</h4>
                }
                else
                {
                    <h4 class="modal-title"><i class="fa fa-eraser"></i>Thêm mới mục tiêu</h4>
                }
            </div>
            <div class="modal-body">
                <div class="form-group">
                    @Html.LabelFor(model => model.PlanTargetTitle, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.PlanTargetTitle, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.PlanTargetTitle)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.PlanTargetContent, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.PlanTargetContent, new { @class = "form-control", rows = 5 })
                        @Html.ValidationMessageFor(model => model.PlanTargetContent)
                    </div>
                </div>
                @Html.HiddenFor(a => a.PlanID)
            </div>
            <div class="modal-footer">
                @if (Model != null && Model.PlanTargetID > 0)
                {
                    <button class="btn btn-danger btn-flat" data-dismiss="modal" type="button" onclick="RemoveTarget(@Model.PlanTargetID)">
                        <i class="fa fa-trash-o" aria-hidden="true"></i> Xóa
                    </button>
                }
                <button type="submit" class="btn btn-success"><i class="fa fa-floppy-o"></i> Lưu</button>
                <button type="button" data-dismiss="modal" class="btn btn-default"><i class="fa fa-ban"></i> Hủy</button>
            </div>
        </div>
    </div>
}
<script>
    $(document).ready(function () {
        $('select').select2();
    });
    function onSuccess(msg) {
        CommonJS.alert(msg);
        LoadTarget();
    }
    function onFail() {
        CommonJS.alert("Dữ liệu không hợp lệ", false);
        $('frmAddOrEditTarget').removeData('validator');
        $('frmAddOrEditTarget').removeData('unobtrusiveValidation');
        $.validator.unobtrusive.parse('frmAddOrEditIndex');
    }
</script>