﻿@model IInterface.Models.PlanModel
@using (Ajax.BeginForm("PlanInforSave", "PeriodDepartment", new AjaxOptions()
{
    HttpMethod = "post",
    OnBegin = "onBegin",
    OnSuccess = "onSuccess",
    OnFailure = "onFail"
}, new { id = "frmCreateOrEditPlan" }))
{
    @Html.HiddenFor(model => model.PlanID)
    @Html.HiddenFor(model => model.PeriodID)
    <div class="box box-solid">
        <div class="box-header with-border">
            <div class="col-md-12">
                <button class="btn btn-success pull-right"><i class="fa fa-save"></i> Lưu thông tin</button>
            </div>
        </div>
        <div class="box-body">
            @Html.AntiForgeryToken()
            <div class="form-horizontal">
                <h4>I. THÔNG TIN VỀ CƠ QUAN, ĐƠN VỊ ĐỀ NGHỊ HỖ TRỢ</h4>
                <br />
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-3 control-label-st" for="formGroupInputLarge">1. Tên tổ chức</label>
                            <div class="col-md-9">
                                @Html.DisplayFor(x => x.DepartmentName, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-3 control-label-st" for="formGroupInputLarge">2. Địa chỉ</label>
                            <div class="col-md-9">
                                @Html.DisplayFor(x => x.Address, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-3 control-label-st" for="formGroupInputLarge">3.Tài khoản</label>
                            <div class="col-md-9">
                                @Html.DisplayFor(x => x.AccountNumber, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-3 control-label-st" for="formGroupInputLarge">Số điện thoại</label>
                            <div class="col-md-9">
                                @Html.DisplayFor(x => x.PhoneNumber, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-3 control-label-st" for="formGroupInputLarge">4.Người đại diện</label>
                            <div class="col-md-9">

                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-3 control-label-st" for="formGroupInputLarge"></label>
                            <div class="col-md-9">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-3 control-label-em" for="formGroupInputLarge">Họ và tên:</label>
                            <div class="col-md-9">
                                @Html.TextBoxFor(x => x.RepresentPersonName, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-3 control-label-em" for="formGroupInputLarge">Chức vụ: </label>
                            <div class="col-md-9">
                                @Html.TextBoxFor(x => x.RepresentPosition, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-3 control-label-em" for="formGroupInputLarge">Địa chỉ liên lạc :</label>
                            <div class="col-md-9">
                                @Html.TextBoxFor(x => x.RepresentAddress, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-3 control-label-em" for="formGroupInputLarge">Điện thoại: </label>
                            <div class="col-md-9">
                                @Html.TextBoxFor(x => x.RepresentPhone, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-3 control-label-st" for="formGroupInputLarge">5. Cán bộ đầu mối</label>
                            <div class="col-md-9">

                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-3 control-label-st" for="formGroupInputLarge"></label>
                            <div class="col-md-9">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-3 control-label-em" for="formGroupInputLarge">Họ và tên:</label>
                            <div class="col-md-9">
                                @Html.TextBoxFor(x => x.ContactPersonName, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-3 control-label-em" for="formGroupInputLarge">Chức vụ: </label>
                            <div class="col-md-9">
                                @Html.TextBoxFor(x => x.ContactPosition, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-3 control-label-em" for="formGroupInputLarge">Địa chỉ liên lạc :</label>
                            <div class="col-md-9">
                                @Html.TextBoxFor(x => x.ContactAddress, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-3 control-label-em" for="formGroupInputLarge">Điện thoại: </label>
                            <div class="col-md-9">
                                @Html.TextBoxFor(x => x.ContactPhone, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
                <h4 class="legend-border">II.  NỘI DUNG HOẠT ĐỘNG</h4>
                <div class="row">
                    <div class="col-md-12">
                        <h4 class="text-light-blue-edited">
                            <strong> </strong>
                        </h4>
                        <small>1. Cơ sở đề xuất hoạt động</small>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        @Html.TextAreaFor(model => model.PlanContent, new { @class = "form-control", @rows = 10 })
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <small> 2. Thời gian thực hiện:</small>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.FromDate, new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                <div class="input-group datetimepickerFromDate">
                                    @Html.TextBoxFor(model => model.FromDate, "{0:dd/MM/yyyy}", new { @class = "form-control" })
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar">
                                        </i>
                                    </div>
                                </div>
                                @Html.ValidationMessageFor(model => model.FromDate)
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.ToDate, new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                <div class="input-group datetimepickerToDate">
                                    @Html.TextBoxFor(model => model.ToDate, "{0:dd/MM/yyyy}", new { @class = "form-control" })
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar">
                                        </i>
                                    </div>
                                </div>
                                @Html.ValidationMessageFor(model => model.ToDate)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <small> 3: Mục tiêu chung:</small>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        @Html.TextAreaFor(model => model.PlanTarget, new { @class = "form-control", @rows = 10 })
                        @Html.HiddenFor(model => model.DepartmentID)
                        @Html.HiddenFor(model => model.Type)
                        @Html.HiddenFor(model => model.Status)
                        @Html.HiddenFor(model => model.ParentPlanID)
                    </div>
                </div>
            </div>
        </div>
    </div>    
}
<script type="text/javascript">
    $.validator.unobtrusive.adapters.add('isgreater', ['otherproperty', 'ownerproperty'], function (options) {
        options.rules['isgreater'] = { otherproperty: options.params.otherproperty, ownerproperty: options.params.ownerproperty };
        options.messages['isgreater'] = options.message;
    });

    $.validator.addMethod("isgreater", function (value, element, param) {
        var ownerId = element.id;
        var otherid = param.otherproperty;
        if (ownerId !== param.ownerproperty) {
            otherid = ownerId.substr(0, ownerId.length - param.ownerproperty.length) + otherid;
        }
        var otherProp = $('#' + otherid);
        if (otherProp.val() != '') {
            var StartDate = new Date(moment(otherProp.val(), 'DD/MM/YYYY'));

            var Enddate = new Date(moment(value, 'DD/MM/YYYY'));
            if (StartDate != '') {
                return Enddate >= StartDate;
            }
        }
        return true;
    });
    $('.datetimepickerFromDate').click(function (event) {
        event.preventDefault();
        $('#FromDate').focus();
    });
    $('.datetimepickerToDate').click(function (event) {
        event.preventDefault();
        $('#ToDate').focus();
    });
    function onBegin() {
        if ($("#frmCreateOrEditPlan").valid()) {
            return true;
        } else {
            return false;
        }
    }
    $(document).ready(function () {
        $('select').select2();
        $('#FromDate').datepicker({
            locale: 'vi',
            format: 'dd/mm/yyyy',
            autoclose: true
        });
        $('#ToDate').datepicker({
            locale: 'vi',
            format: 'dd/mm/yyyy',
            autoclose: true
        });
        $(function () {
            $.validator.methods.date = function (value, element) {
                return this.optional(element) || moment(value, "DD/MM/YYYY", true).isValid();
            }
        });
        $.validator.unobtrusive.parse("#frmCreateOrEditPlan");
    });
    function onSuccess(result) {
        $('#PlanID').val(result.PlanID);
        var periodID = $('#PeriodID').val();
        setTimeout(function () { window.location.href = "/PeriodDepartment/PlanningInfo?PeriodID=" + periodID + "&PlanID=" + result.PlanID }, 3000);
        CommonJS.alert(result.msg);
    }
    function onFail(xhr) {
        CommonJS.alert(xhr.responseText);
    }
</script>
