﻿@using IInterface.Models;
@using IInterface.Common.CommonBO;
@using IInterface.Common;
@model List<SubActionPlanModel>
@{
    ObjectRoleBO role = ViewData["role"] as ObjectRoleBO;
    List<ChangeRequestActionModel> listChangeAction = ViewData["listChangeAction"] as List<ChangeRequestActionModel>;
}
@if (Model != null && Model.Any())
{
    <ul class="list-group">
        @foreach (var SubAction in Model)
        {
            <li class="list-group-item list-group-item-info">
                <i class="fa fa-tags"></i> <strong>@Html.Raw((string.IsNullOrWhiteSpace(SubAction.SubActionCode) ? string.Empty : SubAction.SubActionCode + ". ") + SubAction.SubActionContent)</strong>
                @if (role != null && role.Role >= Constants.ROLE_EDIT && (role.PL == null || role.PL == 1)
                                                && (listChangeAction == null || listChangeAction.Any(x => x.PlanTargetActionID == SubAction.PlanTargetActionID && x.ApproveStatus == Constants.IS_ACTIVE)))
                {
                    <div class="btn-group pull-right">
                        <a class="btn btn-success btn-xs" data-toggle="modal" data-target="#ActionIndexModal" title="Kết quả dự kiến" onclick="PrepareAddSuperSubIndex(@SubAction.PlanTargetActionID, @SubAction.SubActionPlanID)" href="javascript:void(0)"><i class="fa fa-sliders"></i></a>
                        <a class="btn btn-primary btn-xs" data-toggle="modal" data-target="#ActionModal" title="Sửa hoạt động" onclick="PrepareEditSubAction(@SubAction.SubActionPlanID)" href="javascript:void(0)"><i class="fa fa-edit"></i></a>
                        <a class="btn btn-danger btn-xs" title="Xóa hoạt động" onclick="DeleteSubAction(@SubAction.SubActionPlanID, @SubAction.PlanTargetActionID)" href="javascript:void(0)"><i class="fa fa-trash-o"></i></a>
                    </div>
                }
            </li>
            <li class="list-group-item">
                <strong><i class="fa fa-bookmark-o"></i> NỘI DUNG: </strong>
                <br />
                @if (!string.IsNullOrWhiteSpace(SubAction.ContentPropaganda))
                {
                    @Html.Raw(SubAction.ContentPropaganda.Replace("\r\n", "<br />"))
                }
                else
                {
                    <span class="text-danger">Chưa nhập</span>
                }
            </li>

            <li class="list-group-item">
                <strong><i class="fa fa-bookmark-o"></i> ĐỐI TƯỢNG, PHẠM VI: </strong>
                <br />
                @if (!string.IsNullOrWhiteSpace(SubAction.SubActionObject))
                {
                    @Html.Raw(SubAction.SubActionObject.Replace("\r\n", "<br />"))
                }
                else
                {
                    <span class="text-danger">Chưa nhập</span>
                }
            </li>
            <li class="list-group-item">
                <strong><i class="fa fa-bookmark-o"></i> PHƯƠNG THỨC THỰC HIỆN: </strong>
                <br />
                @if (!string.IsNullOrWhiteSpace(SubAction.SubActionMethod))
                {
                    @Html.Raw(SubAction.SubActionMethod.Replace("\r\n", "<br />"))
                }
                else
                {
                    <span class="text-danger">Chưa nhập</span>
                }
            </li>
            <li class="list-group-item">
                <strong><i class="fa fa-bookmark-o"></i> KẾT QUẢ DỰ KIẾN: </strong>
                <br />
                @if (!string.IsNullOrWhiteSpace(SubAction.Result))
                {
                    @Html.Raw(SubAction.Result.Replace("\r\n", "<br />"))
                }
                else
                {
                    <span class="text-danger">Chưa nhập</span>
                }
            </li>

            <li class="list-group-item">
                <strong><i class="fa fa-bookmark-o"></i> THỜI GIAN THỰC HIỆN: </strong>
                <br />
                @if (!string.IsNullOrWhiteSpace(SubAction.ActionTime))
                {
                    @Html.Raw(SubAction.ActionTime)
                }
                else
                {
                    <span class="text-danger">Chưa nhập</span>
                }
            </li>
        }
    </ul>
}
