﻿@using IInterface.Common;
@using IInterface.Models;
@{
    Paginate<TargetModel> paginate = ViewData["listTarget"] as Paginate<TargetModel>;
    var grid = new WebGrid(
                          rowsPerPage: paginate.PageSize,
                          canPage: true,
                          canSort: false,
                          ajaxUpdateContainerId: "divGrid"
                          );

    grid.Bind(paginate.List,
    autoSortAndPage: false,
    rowCount: paginate.Count);
    grid.Pager(WebGridPagerModes.All);
}
<div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title"><i class="fa fa-eraser"></i> Mục tiêu</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-lg-6">
                    <div class="btn-group" role="group">
                        @if (paginate.List.Any(x => x.Choosen.GetValueOrDefault() == 0))
                        {
                            <button class="btn btn-default btn-sm" onclick="checkAll(this, true)"><i id="iAll" class="fa fa-square-o"></i></button>
                        }
                        else
                        {
                            <button class="btn btn-default btn-sm" onclick="checkAll(this, false)"><i id="iAll" class="fa fa-check-square-o"></i></button>
                        }
                    </div>
                </div>
            </div>
            <br />
            @if (paginate.Count > 0)
            {
                var gridColumns = new List<WebGridColumn>();
                gridColumns.Add(grid.Column("", "", format: @<text>
                @if (item.Choosen != null && item.Choosen == 1)
                {
                    <input type="checkbox" onclick="checkOne(this)" value="@item.TargetID" checked name="targetIds" class="cbx" />
                }
                else
                {
                    <input type="checkbox" onclick="checkOne(this)" value="@item.TargetID" name="targetIds" class="cbx" />
                }
                </text>, style: ""));
                gridColumns.Add(grid.Column("", "Mục tiêu", format: @<text>
                <i class="text-primary">@item.TargetTitle<span>&#58;</span> @item.TargetContent </i>
                </text>, style: ""));
                @grid.GetHtml(htmlAttributes: new { id = "divGrid" },
                                      fillEmptyRows: false,
                                      tableStyle: "table table-hover table-striped",
                                      footerStyle: "table-pager",
                                      displayHeader: false,
                                      alternatingRowStyle: "altRow",
                                      selectedRowStyle: "selectRow",
                                      mode: WebGridPagerModes.All,
                                      columns: gridColumns)
            }
            else
            {
                <div style="color:red; margin-left:10px;">
                    Chưa khai báo mục tiêu
                </div>
            }
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-success pull-left" onclick="ChoosenTarget()"><i class="fa fa-save"></i> Lưu lại</button>
            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-close"></i> Đóng</button>
        </div>
    </div>
</div>
<script>
    function unCheckAll() {
        $("#iAll").attr("class", "fa fa-square-o");
    }
    function checkAll(item, checked) {
        if (checked) {
            $("#iAll").attr("class", "fa fa-check-square-o");
        } else {
            $("#iAll").attr("class", "fa fa-square-o");
        }
        $("#divGrid tbody input:checkbox[name='targetIds']").prop("checked", checked);
        checked = !checked;
        $(item).attr("onclick", "checkAll(this, " + checked + ")");
    }


    function checkOne(item) {
        if (!$(item).is(':checked')) {
            $("#iAll").attr("class", "fa fa-square-o");
        } else {
            if ($("#divGrid tbody input:checkbox[name='targetIds']:checked").length == $("#divGrid tbody input:checkbox[name='targetIds']").length) {
                $("#iAll").attr("class", "fa fa-check-square-o");
            }
        }
    }
    function ChoosenTarget() {
        var PlanID = $('#PlanID').val();
        var targetIds = [];
        $('input:checkbox[name="targetIds"]:checked').each(function () {
            targetIds.push($(this).val());
        });
        if (targetIds.length == 0) {
            CommonJS.alert("Bạn chưa chọn mục tiêu nào", false);
            return;
        }
        $.ajax({
            type: "POST",
            url: '@Url.Action("ChoiceTarget", "PeriodDepartment")',
            data: {
                'TargetIDs': targetIds,
                'PlanID': PlanID
            },
            success: function (data) {
                CommonJS.alert("Thêm mới mục tiêu thành công");
                $("#TargetModal").modal('toggle');
                $('#ListSubTarget').html(data);
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }
</script>
