﻿@model IInterface.Models.PlanIndexModel
@{
    List<SelectListItem> listType = new List<SelectListItem>();
    if (ViewData["ListType"] != null)
    {
        listType = ViewData["ListType"] as List<SelectListItem>;
    }
}
@using (Ajax.BeginForm("AddIndex", "PeriodDepartment", new AjaxOptions()
{
    HttpMethod = "post",
    OnSuccess = "onSuccess",
    OnFailure = "onFail"
}, new { id = "frmAddOrEditIndex", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                @if (Model != null && Model.PlanTargetIndexID > 0)
                {
                    @Html.HiddenFor(x => x.PlanTargetIndexID)
                    <h4 class="modal-title"><i class="fa fa-eraser"></i>Cập nhật chỉ số</h4>
                }
                else
                {
                    <h4 class="modal-title"><i class="fa fa-eraser"></i>Thêm mới chỉ số</h4>
                }
            </div>
            <div class="modal-body">
                <div class="form-group">
                    @Html.LabelFor(model => model.ContentIndex, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.ContentIndex, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ContentIndex)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.TypeIndex, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.TypeIndex, listType, new { @class = "form-control", id = "TypeIndex", style = "width: 100%" })
                        @Html.ValidationMessageFor(model => model.TypeIndex)
                    </div>
                </div>
                <div class="form-group" id="divValue">
                    @Html.LabelFor(model => model.ValueIndex, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.ValueIndex, new { @class = "form-control", type = "number" })
                        @Html.ValidationMessageFor(model => model.ValueIndex)
                    </div>
                </div>
                <div class="form-group" id="divTotal">
                    @Html.LabelFor(model => model.ValueTotal, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.ValueTotal, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ValueTotal)
                    </div>
                </div>
                @Html.HiddenFor(a => a.PlanID)
                @Html.HiddenFor(a => a.PlanTargetID)
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success"><i class="fa fa-floppy-o"></i> Lưu</button>
                <button type="button" data-dismiss="modal" class="btn btn-default"><i class="fa fa-ban"></i> Hủy</button>
            </div>
        </div>
    </div>
}
<script>
    $(document).ready(function () {
        $('select').select2();
        changeType();
        $("#TypeIndex").change(function () {
            changeType();
        });
    });

    function changeType() {
        var type = $('#TypeIndex').val();
        if (type == 1) {
            $('#divValue').hide();
            $('#divTotal').hide();
        } else if (type == 3) {
            $('#divValue').show();
            $('#divTotal').hide();
        } else if (type == 2) {
            $('#divValue').show();
            $('#divTotal').show();
        }
    }

    function onSuccess(msg) {
        CommonJS.alert(msg);
        SelectTarget();
    }
    function onFail() {
        CommonJS.alert("Dữ liệu không hợp lệ", false);
        $('frmAddOrEditIndex').removeData('validator');
        $('frmAddOrEditIndex').removeData('unobtrusiveValidation');
        $.validator.unobtrusive.parse('frmAddOrEditIndex');
    }
</script>