﻿@using IInterface.Common;
@using IModel;
@model IInterface.Models.TargetActionModel
@{
    List<SelectListItem> listAction = ViewData["listAction"] as List<SelectListItem>;
    UserInfo user = SessionManager.GetUserInfo();
}

@using (Ajax.BeginForm("SaveActionOfTarget", "PeriodDepartment", new AjaxOptions()
{
    HttpMethod = "post",
    OnSuccess = "onSuccess",
    OnFailure = "onFail"
}, new { id = "frmAddOrEditAction", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                @if (Model.PlanTargetActionID > 0)
                {
                    <h4 class="modal-title"><i class="fa fa-eraser"></i> Sửa hoạt động - @Model.ActionContent</h4>
                }
                else
                {
                    <h4 class="modal-title"><i class="fa fa-eraser"></i> Thêm hoạt động - @ViewData["TargetName"].ToString()</h4>
                }
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="formGroupInputLarge">Hoạt động gợi ý <span class="text-danger">*</span></label>
                            <div class="col-md-9">
                                @Html.DropDownListFor(x => x.MainActionID, listAction, new { id = "MainActionID", @class = "form-control", style = "width:100%" })
                                @Html.ValidationMessageFor(x => x.MainActionID)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="formGroupInputLarge">Thứ tự</label>
                            <div class="col-md-9">
                                @Html.TextBoxFor(x => x.ActionOrder, new { @class = "form-control" })
                                <span class="text-info" data-valmsg-for="ActionOrder" data-valmsg-replace="true">
                                    <span id="MainActionID-error" class="">Nếu bỏ trống sẽ được sắp xếp cuối cùng</span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="formGroupInputLarge">Tiêu đề <span class="text-danger">*</span></label>
                            <div class="col-md-9">
                                @Html.TextBoxFor(x => x.ActionContent, new { @class = "form-control" })
                                @Html.ValidationMessageFor(x => x.ActionContent)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="formGroupInputLarge">Nội dung</label>
                            <div class="col-md-9">
                                @Html.TextAreaFor(x => x.ContentPropaganda, new { @class = "form-control", @rows = 4 })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="formGroupInputLarge">Đối tượng, phạm vi</label>
                            <div class="col-md-9">
                                @Html.TextAreaFor(x => x.ObjectScope, new { @class = "form-control", @rows = 2 })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="formGroupInputLarge">Phương thức thực hiện</label>
                            <div class="col-md-9">
                                @Html.TextAreaFor(x => x.ActionMethod, new { @class = "form-control", @rows = 2 })
                                @Html.HiddenFor(x => x.PlanTargetActionID)
                                @Html.HiddenFor(x => x.PlanID)
                                @Html.HiddenFor(x => x.PlanTargetID)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success pull-left"><i class="fa fa-save"></i> Lưu</button>
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-close"></i> Đóng</button>
            </div>
        </div>
    </div>
}
<script>
    $(function () {
        $('#MainActionID').select2();
    });
    function onSuccess(msg) {
        CommonJS.alert(msg);
        if ($('#frmAddOrEditAction #PlanTargetActionID').val() == '' || $('#frmAddOrEditAction #PlanTargetActionID').val() == 0) {
            var numberOrder = $("#frmAddOrEditAction #ActionOrder").val();
            $("#frmAddOrEditAction").trigger('reset');
            if (numberOrder != '') {
                $("#frmAddOrEditAction #ActionOrder").val(Number(numberOrder) + 1);
            }
        } else {
            $("#ActionModal").modal('toggle');
        }
        LoadActionOfTarget();
    }
    function onFail() {
        CommonJS.alert("Dữ liệu không hợp lệ", false);
        $('frmAddOrEditAction').removeData('validator');
        $('frmAddOrEditAction').removeData('unobtrusiveValidation');
        $.validator.unobtrusive.parse('frmAddOrEditAction');
    }
    $(document).ready(function () {
        $('select').select2();
        $.validator.unobtrusive.parse("#frmAddOrEditAction");
    });
    $('#MainActionID').on('change', function () {
        var planTargetActionID = $('#PlanTargetActionID').val();
        if ($("#MainActionID :selected").text() != "[Hoạt động khác]" && (planTargetActionID == '' || planTargetActionID == '0')) {
            $('#ActionContent').val($("#MainActionID :selected").text())
        }
    });
</script>