﻿@using IInterface.Models

<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title" id="titleTargetResult"></h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        @Html.Hidden("hiddenPlanTargetID")
                        @Html.Label("Kết quả:", new { @class = "control-label" })
                        @Html.TextArea("TargetResult", new { @class = "form-control", rows = "10" })
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" onclick="delTargetResult()"><i class="fa fa-trash-o"></i> Xóa</button>
            <button type="button" class="btn btn-success" onclick="addTargetResult()"><i class="fa fa-floppy-o"></i> Lưu lại</button>
            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-close"></i> Đóng</button>
        </div>
    </div>
</div>
<script type="text/javascript">
    function addTargetResult() {
        var val = $('#TargetResult').val();
        if (val.trim() == '') {
            CommonJS.alert("Chưa nhập nội dung kết quả", false);
            $('#TargetResult').focus();
        } else {
            var planTargetID = $('#hiddenPlanTargetID').val();
            $.ajax({
                type: "POST",
                url: '@Url.Action("SaveTargetResult", "PeriodDepartment")',
                data: {
                    'planTargetID': planTargetID,
                    'targetResult': val.trim()
                },
                success: function (data) {
                    CommonJS.alert(data);
                    SelectTarget();
                },
                error: function (xhr) {
                    CommonJS.alert(xhr.responseText);
                }
            });
        }
    }

    function delTargetResult() {
        var planTargetID = $('#hiddenPlanTargetID').val();
        $.ajax({
            type: "POST",
            url: '@Url.Action("DelTargetResult", "PeriodDepartment")',
            data: {
                'planTargetID': planTargetID
            },
            success: function (data) {
                CommonJS.alert(data);
                SelectTarget();
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }
</script>
