﻿@using IInterface.Common
@{
    ViewBag.Title = "PlanningInfo";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@model IInterface.Models.PlanModel
@{
    int Status = int.Parse(ViewData["PlanStatus"].ToString());
    UserInfo user = SessionManager.GetUserInfo();
    String title = Model.PeriodName + " - " + Model.DepartmentName;
}
@Html.HiddenFor(model => model.PlanID)
@Html.HiddenFor(model => model.PeriodID)
@Html.Hidden("PlanTargetIDAll", ViewData["FirstPlanTargetID"])
<style type="text/css">
    .tooltip {
        padding: 15px;
        min-height: 30px;
        background: #000; /*change accordingly*/
    }
</style>
<div class="row">
    <div class="col-md-12">
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid" style="padding-left: 0px !important">
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li id="liPlanInfor" class="active">
                            <a href="javascript:void(0)" onclick="PlanInfor()"
                               data-toggle="tooltip" data-placement="bottom"
                               title="@title" style="padding: 10px 10px !important"><i class="fa fa-bar-chart"></i>1. Thông tin chung</a>
                        </li>
                        <li id="liTargetIndex"><a href="javascript:void(0)" onclick="TargetIndex()" style="padding: 10px 10px !important"><i class="fa fa-dashboard"></i> 2. Mục tiêu chỉ số</a></li>
                        <li id="liTargetAction"><a href="javascript:void(0)" onclick="TargetAction()" style="padding: 10px 10px !important"><i class="fa fa-recycle"></i> 3. Hoạt động</a></li>
                        @if (user.DepartmentID == Constants.HEAD_DEPT_ID && user.DeptType == Constants.DEPT_TYPE_PBQUY && user.IsHeadOffice == Constants.IS_ACTIVE
&& Model.Status == Constants.PLAN_APPROVED && Model.Type == Constants.MAIN_TYPE)
                        {
                            <li id="liMoney"><a href="javascript:void(0)" onclick="Cost()" style="padding: 10px 10px !important"><i class="fa fa-money"></i> 4. Tổng kinh phí HĐ</a></li>
                            <li id="liImp"><a href="javascript:void(0)" onclick="Implement()" style="padding: 10px 10px !important"><i class="fa fa-book"></i> 5. Tổ chức thực hiện</a></li>
                        }
                        else
                        {
                            <li id="liMoney"><a href="javascript:void(0)" onclick="Cost()" style="padding: 10px 10px !important"><i class="fa fa-money"></i> 4. Tổng kinh phí HĐ</a></li>
                            <li id="liImp"><a href="javascript:void(0)" onclick="Implement()" style="padding: 10px 10px !important"><i class="fa fa-book"></i> 5. Nội dung khác</a></li>
                        }
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <div class="btn-group btn-group-sm">
                                @if ((Model.Role >= Constants.ROLE_VIEW || Model.Role == Constants.ROLE_AFTER_APPROVE) && Model.PlanID != null && Model.PlanID > 0)
                                {
                                    <button class="btn btn-default navbar-btn" onclick="CreateTime()"><i class="fa fa-clock-o"></i> Thời gian</button>
                                    if (user.DepartmentID == Constants.HEAD_DEPT_ID && Model.DepartmentID == Constants.HEAD_DEPT_ID)
                                    {
                                        <a href='@Url.Action("Index", "CostEstimate", new { periodId = Model.PeriodID })' class="btn btn-default navbar-btn" title="Dự toán"><i class="fa fa-money"></i> Dự toán</a>
                                    }
                                    else
                                    {
                                        <button class="btn btn-default navbar-btn" onclick="CreateCost()"><i class="fa fa-money"></i> Dự toán</button>
                                    }
                                    if (Model.Role == Constants.ROLE_APPROVE && Model.DepartmentID != Constants.HEAD_DEPT_ID)
                                    {
                                        <button class="btn btn-primary navbar-btn" onclick="ApproveOrReject(this, 1)"><i class="fa fa-check"></i> Phê duyệt</button>
                                    }
                                    else if (Model.Role == Constants.ROLE_EDIT && Model.DepartmentID != Constants.HEAD_DEPT_ID)
                                    {
                                        <button class="btn btn-primary navbar-btn" onclick="RequestReview(this, 0)"><i class="fa fa-paper-plane-o"></i> Gửi</button>
                                    }
                                    if (Status >= Constants.PLAN_NEXT_LEVER && user.DepartmentID != Model.DepartmentID)
                                    {
                                        if (Model.Role == Constants.ROLE_EDIT && Model.DepartmentID != Constants.HEAD_DEPT_ID)
                                        {
                                            <button class="btn btn-success navbar-btn" data-toggle="modal" data-target="#modal-unlock-confirm"><i class="fa fa-unlock"></i> Mở khóa</button>
                                        }
                                        else if (Model.Role == Constants.ROLE_APPROVE && Model.DepartmentID != Constants.HEAD_DEPT_ID)
                                        {
                                            <button class="btn btn-success navbar-btn" data-toggle="modal" data-target="#modal-unlock-confirm"><i class="fa fa-unlock"></i> Mở khóa</button>
                                        }
                                        else if (Model.Role == Constants.ROLE_AFTER_APPROVE && Model.DepartmentID != Constants.HEAD_DEPT_ID)
                                        {
                                            <button class="btn btn-success navbar-btn" onclick="UnLockSeft(this)"><i class="fa fa-unlock"></i> Mở khóa phê duyệt</button>
                                        }
                                    }
                                }
                                @if (user.DepartmentID != Model.DepartmentID)
                                {
                                    <button class="btn btn-default navbar-btn" onclick="javascript:location.href= '@Url.Action("Index", "Review")'"><i class="fa fa-reply"></i> Quay lại</button>
                                }
                                else
                                {
                                    <button class="btn btn-default navbar-btn" onclick="javascript:location.href= '@Url.Action("Index", "PeriodDepartment")'"><i class="fa fa-reply"></i> Quay lại</button>
                                }
                            </div>
                        </li>
                    </ul>
                </div>

            </div>
        </nav>
    </div>
    <div class="col-md-12" id="div_progress" style="display: none">
        <div class="progress progress-sm active">
            <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
            </div>
        </div>
    </div>
    <div class="col-md-12" id="divPlanContent">
        @if (Model.Role >= Constants.ROLE_EDIT && (Model.PL == null || Model.PL == 1))
        {
            @Html.Partial("_Step1", Model)
        }
        else
        {
            @Html.Partial("_Step1View")
        }
    </div>
</div>
<div id="modal-unlock-confirm" class="modal fade" role="dialog">
    @Html.Partial("_ConfirmUnlock", Model)
</div>
<div id="ActionModal" class="modal fade" role="dialog" data-backdrop="static">

</div>
<div id="ActionIndexModal" class="modal fade" role="dialog">

</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('textarea').each(function () {
            formatArea(this);
            $(this).attr("onkeyup", "textAreaAdjust(this)")
        });
    });
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
    //Thong tin chung
    var PlanInfor = function () {
        var PeriodID = $('#PeriodID').val();
        var PlanID = $('#PlanID').val();
        $.ajax({
            type: "POST",
            url: '@Url.Action("Step1", "PeriodDepartment")',
            data: {
                'PeriodID': PeriodID, 'PlanID': PlanID
            },
            success: function (data) {
                $('#divPlanContent').html(data);
                $('#liPlanInfor').addClass("active");
                $('#liTargetIndex').removeClass("active");
                $('#liTargetAction').removeClass("active");
                $('#liMoney').removeClass("active");
                $('#liImp').removeClass("active");
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }
    //Thong tin muc tieu chi so
    var TargetIndex = function () {
        var PlanID = $('#PlanID').val();
        if (PlanID == null || PlanID == "") {
            CommonJS.alert("Thông tin chung chưa được lưu", false);
            return false;
        }
        $.ajax({
            type: "POST",
            url: '@Url.Action("Step2", "PeriodDepartment")',
            data: {
                'PlanID': PlanID
            },
            success: function (data) {
                $('#divPlanContent').html(data);
                $('#liPlanInfor').removeClass("active");
                $('#liTargetIndex').addClass("active");
                $('#liTargetAction').removeClass("active");
                $('#liMoney').removeClass("active");
                $('#liImp').removeClass("active");
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }
    //Thong tin hoat dong
    var TargetAction = function () {
        var PlanTargetID = $('#PlanTargetIDAll').val();
        if (!PlanTargetID) {
            CommonJS.alert("Bạn chưa lựa chọn mục tiêu", false);
            return false;
        }
        $.ajax({
            type: "POST",
            url: '@Url.Action("Step3", "PeriodDepartment")',
            data: {
                'PlanTargetID': PlanTargetID
            },
            success: function (data) {
                $('#divPlanContent').html(data);
                $('#liPlanInfor').removeClass("active");
                $('#liTargetIndex').removeClass("active");
                $('#liTargetAction').addClass("active");
                $('#liMoney').removeClass("active");
                $('#liImp').removeClass("active");
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }

    var Cost = function () {
        var PlanID = $('#PlanID').val();
        if (PlanID == null || PlanID == "") {
            CommonJS.alert("Thông tin chung chưa được lưu", false);
            return false;
        }
        $.ajax({
            type: "POST",
            url: '@Url.Action("CostInfo", "PeriodDepartment")',
            data: {
                'PlanID': PlanID
            },
            success: function (data) {
                $('#divPlanContent').html(data);
                $('#liPlanInfor').removeClass("active");
                $('#liTargetIndex').removeClass("active");
                $('#liTargetAction').removeClass("active");
                $('#liMoney').addClass("active");
                $('#liImp').removeClass("active");
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }

    var Implement = function () {
        var PlanID = $('#PlanID').val();
        if (PlanID == null || PlanID == "") {
            CommonJS.alert("Thông tin chung chưa được lưu", false);
            return false;
        }
        $.ajax({
            type: "POST",
            url: '@Url.Action("PrepareImplementation", "PeriodDepartment")',
            data: {
                'PlanID': PlanID
            },
            success: function (data) {
                $('#divPlanContent').html(data);
                $('#liPlanInfor').removeClass("active");
                $('#liTargetIndex').removeClass("active");
                $('#liTargetAction').removeClass("active");
                $('#liMoney').removeClass("active");
                $('#liImp').addClass("active");
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }

    var CreateTime = function () {
        var PlanID = $('#PlanID').val();
        var PeriodID = $('#PeriodID').val();
        if (PlanID == null || PlanID == "") {
            CommonJS.alert("Kế hoạch chưa hoàn thành", false);
            return false;
        } else {
            location.href = '/SubActionPlanTime/Index?planID=' + PlanID;
        }
    }
    var CreateCost = function () {
        var PlanID = $('#PlanID').val();
        var PeriodID = $('#PeriodID').val();
        if (PlanID == null || PlanID == "") {
            CommonJS.alert("Kế hoạch chưa hoàn thành", false);
            return false;
        } else {
            location.href = '/PlanCost/Index?planID=' + PlanID;
        }
    }

    var UnLockSeft = function (btn) {
        var PlanID = $('#PlanID').val();
        if (PlanID == null || PlanID == "") {
            CommonJS.alert("Kế hoạch chưa hoàn thành", false);
            return false;
        } else {
            if (!confirm("Bạn có chắc chắn muốn mở khóa phê duyệt kế hoạch?")) {
                return;
            }
            $('#div_progress').show();
            $(btn).attr("disabled", "disabled");
            $.ajax({
                type: "POST",
                url: '@Url.Action("UnlockPlan", "PeriodDepartment")',
                data: {
                    'PlanID': PlanID, 'IsSefl': 1
                },
                success: function (data) {
                    CommonJS.alert(data);
                    setTimeout(function () { location.href = "/PeriodDepartment/PlanningInfo?PeriodID=@Model.PeriodID&PlanID=@Model.PlanID.GetValueOrDefault()" }, 3000);
                },
                error: function (xhr) {
                    $('#div_progress').show();
                    $(btn).removeAttr("disabled");
                    CommonJS.alert(xhr.responseText);
                }
            });
        }
    }

    var UnLock = function (btn) {
        var PlanID = $('#PlanID').val();
        if (PlanID == null || PlanID == "") {
            CommonJS.alert("Kế hoạch chưa hoàn thành", false);
            return false;
        } else {
            if (!confirm("Bạn có chắc chắn muốn mở khóa kế hoạch?")) {
                return;
            }
            $('#div_progress_modal').show();
            $(btn).attr("disabled", "disabled");
            $.ajax({
                type: "POST",
                url: '@Url.Action("UnlockPlan", "PeriodDepartment")',
                data: {
                    'PlanID': PlanID
                },
                success: function (data) {
                    CommonJS.alert(data);
                    setTimeout(function () { location.href = "/PeriodDepartment/PlanningInfo?PeriodID=@Model.PeriodID&PlanID=@Model.PlanID.GetValueOrDefault()" }, 3000);
                },
                error: function (xhr) {
                    $('#div_progress_modal').hide();
                    $(btn).removeAttr("disabled");
                    CommonJS.alert(xhr.responseText);
                }
            });
        }
    }
    var ApproveOrReject = function (btn, status) {
        var PlanID = $('#PlanID').val();
        if (PlanID == null || PlanID == "") {
            CommonJS.alert("Kế hoạch chưa hoàn thành", false);
            return false;
        } else {
            if (status == 0) {
                if (!confirm("Bạn có chắc chắn muốn từ chối phê duyệt kế hoạch?")) {
                    return;
                }
                $('#div_progress_modal').show();
            } else {
                if (!confirm("Bạn có chắc chắn muốn phê duyệt kế hoạch?")) {
                    return;
                }
                $('#div_progress').show();
            }
            $(btn).attr("disabled", "disabled");
            $.ajax({
                type: "POST",
                url: '@Url.Action("ApproveOrRejectPlan", "PeriodDepartment")',
                data: {
                    'PlanID': PlanID, 'Status': status
                },
                success: function (data) {
                    CommonJS.alert(data);
                    setTimeout(function () { location.href = "/PeriodDepartment/PlanningInfo?PeriodID=@Model.PeriodID&PlanID=@Model.PlanID.GetValueOrDefault()" }, 3000);
                },
                error: function (xhr) {
                    $('#div_progress').hide();
                    $('#div_progress_modal').hide();
                    $(btn).removeAttr("disabled");
                    CommonJS.alert(xhr.responseText);
                }
            });
        }
    }

    var RequestReview = function (btn, passCheck) {
        var PlanID = $('#PlanID').val();
        if (PlanID == null || PlanID == "") {
            CommonJS.alert("Kế hoạch chưa hoàn thành", false);
            return false;
        } else {
            if (!confirm("Bạn có chắc chắn muốn gửi kế hoạch?")) {
                return;
            }
            $('#div_progress').show();
            $(btn).attr("disabled", "disabled");
            $.ajax({
                type: "POST",
                url: '@Url.Action("RequestReviewPlan", "PeriodDepartment")',
                data: {
                    'PlanID': PlanID, 'IsPassValidate': passCheck
                },
                success: function (data) {
                    $(btn).removeAttr("disabled");
                    if (data.Type == 0) {
                        CommonJS.alert("Gửi kế hoạch thành công");
                        setTimeout(function () { location.href = "/PeriodDepartment/PlanningInfo?PeriodID=@Model.PeriodID&PlanID=@Model.PlanID.GetValueOrDefault()" }, 3000);
                    } else if (data.Type == 1) {
                        CommonJS.alert("Bạn chưa nhập đủ thời gian thực hiện cho các hoạt động " + data.Name, false);
                    } else if (data.Type == 2) {
                        CommonJS.alert("Bạn chưa khai báo hoạt động", false);
                    } else if (data.Type == 3) {
                        CommonJS.alert("Bạn chưa khai báo giá trị cho chỉ số mục tiêu", false);
                    } else if (data.Type == 4) {
                        CommonJS.alert("Bạn chưa khai báo giá trị cho chỉ số hoạt động", false);
                    } else if (data.Type == 5) {
                        if (confirm("Bạn chưa nhập đủ chi phí cho hoạt động " + data.Name + ", bạn có muốn tiếp tục gửi kế hoạch?")) {
                            RequestReview(1);
                        }
                    } else if (data.Type == 6) {
                        CommonJS.alert("Bạn chưa nhập đủ các thông tin cho hoạt động " + data.Name, false);
                    }
                },
                error: function (xhr) {
                    $('#div_progress').hide();
                    $(btn).removeAttr("disabled");
                    CommonJS.alert(xhr.responseText);
                }
            });
        }
    }
</script>