﻿@using IInterface.Models
@using IInterface.Common
@model ReportTemplateModel
@{
}
<style>
    .fullWidth {
        width: 100%;
    }
</style>
@using (Ajax.BeginForm("", "", new AjaxOptions()
{
    HttpMethod = "post"
}, new { id = "frmAddOrEdit" }))
{
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title ">
                    @Html.HiddenFor(x => x.ReportTemplateID)
                    @if (Model != null && Model.ReportTemplateID > 0)
                    {                        
                        <text>Cập nhật mẫu báo cáo</text>
                    }
                    else
                    {
                        <text>Thêm mới mẫu báo cáo</text>
                    }
                </h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-md-3">Tên báo cáo<span class="text-red"> *</span></label>
                        <div class="col-md-9">
                            @Html.TextBoxFor(x => x.ReportName, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3">Mô tả</label>
                        <div class="col-md-9">
                            @Html.TextAreaFor(x => x.Description, new { row = "4", @class = "form-control" })
                        </div>  
                    </div>                    
                    <div class="form-group">
                        <label class="control-label col-md-3"></label>
                        <div class="col-md-9">
                            <div class="input-group">
                                <span class="input-group-btn">
                                    <span class="btn btn-default btn-file">
                                        <i class="fa fa-paperclip"></i> <span id="FileName">File mẫu báo cáo</span>
                                        <input id="txtUploadImage" name="txtUploadImage" type="file">
                                    </span>
                                </span>
                                @if (Model != null && Model.ReportTemplateID > 0)
                                {
                                    <span class="form-control">
                                        <input type="checkbox" id="IsDelTemplate" value="false" onclick="setValue(this)" /> Xóa file mẫu
                                    </span>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success" onclick="addOrEditReportTemplate()">
                    <i class="fa fa-save"></i>
                    Lưu
                </button>
                <button type="button" data-dismiss="modal" class="btn btn-default"><i class="fa fa-ban"></i> Hủy</button>
            </div>
        </div>
    </div>
}
<script type="text/javascript">
    $(document).ready(function () {
        $.validator.unobtrusive.parse("#frmAddOrEdit");
        $('#txtUploadImage').bind('change', function () {
            var curFile = this.files[0];
            $('#frmAddOrEdit #FileName').text(curFile.name);
        });
    });

    function setValue(item) {
        if ($(item).is(':checked')) {
            $(item).attr("value", "true");
        } else {
            $(item).attr("value", "false");
        }
    }

    function addOrEditReportTemplate() {
        if (!$("#frmAddOrEdit").valid()) {
            return false;
        }

        if (window.FormData !== undefined) {
            var fileData = new FormData();
            var fileUpload = $("#frmAddOrEdit #txtUploadImage").get(0);
            var files = fileUpload.files;
            var fileName = $("#frmAddOrEdit #FileName").html();
            fileData.append("FileName", fileName);
            fileData.append("ReportTemplateAvatar", files[0]);
            fileData.append("ReportTemplateID", $("#frmAddOrEdit #ReportTemplateID").val());
            fileData.append("ReportName", $("#frmAddOrEdit #ReportName").val());
            fileData.append("Description", $("#frmAddOrEdit #Description").val());
            fileData.append("IsDelTemplate", $("#frmAddOrEdit #IsDelTemplate").val());
            $.ajax({
                type: "POST",
                url: '@Url.Action("AddOrEditReportTemplate", "ReportTemplate")',
                contentType: false, // Not to set any content header
                processData: false, // Not to process data
                data: fileData,
                success: function (data) {
                    CommonJS.alert(data);
                    $("#modal-ReportTemplate").modal("toggle");
                    searchReportTemplate();
                },
                error: function (xhr) {
                    CommonJS.alert(xhr.responseText);
                }
            });
        }
    }
</script>
