﻿@using IInterface.Common;
@using IInterface.Models;
<style>
    .imgAvatar {
        width: 25px;
        height: 25px;
    }
</style>
@{
    Paginate<ReportTemplateModel> paginate = ViewData["listReportTemplate"] as Paginate<ReportTemplateModel>;
    var grid = new WebGrid(
                          rowsPerPage: paginate.PageSize,
                          canPage: true,
                          canSort: false,
                          ajaxUpdateContainerId: "gridReportTemplate"
                          );

    grid.Bind(paginate.List,
    autoSortAndPage: false,
    rowCount: paginate.Count);
}
@{
    if (paginate.Count > 0)
    {
        var gridColumns = new List<WebGridColumn>();


        gridColumns.Add(grid.Column("STT", format: item => item.WebGrid.Rows.IndexOf(item) + 1
                + Math.Round(Convert.ToDouble(grid.TotalRowCount / grid.PageCount) / grid.RowsPerPage)
                * grid.RowsPerPage * grid.PageIndex));
        gridColumns.Add(grid.Column("ReportName", "Tên báo cáo"));
        gridColumns.Add(grid.Column("Description", "Mô tả"));
        gridColumns.Add(grid.Column("FileName", "File mẫu"));
        gridColumns.Add(grid.Column("CreateDate", "Ngày tạo", format: (x) => x.CreateDate == null ? "Chưa đăng nhập" : string.Format("{0:dd/MM/yyyy HH:mm:ss}", x.CreateDate)));

        gridColumns.Add(grid.Column(format: @<text><a href="javascript:void(0)" onclick="openAddOrEditReportTemplate('@item.ReportTemplateID')" data-toggle="tooltip" title="Sửa mẫu báo cáo"><i class="fa fa-pencil-square-o" style="font-size:16px"></i></a></text>, style: ""));
        gridColumns.Add(grid.Column(format: @<text><a href="javascript:void(0)" onclick="deleteReportTemplate('@item.ReportTemplateID')" data-toggle="tooltip" title="Xóa mẫu báo cáo"><i class="fa fa-trash-o text-danger" style="font-size:16px"></i></a></text>, style: ""));
        gridColumns.Add(grid.Column(format: @<text>
            @if (item.FileName != null && item.FileName != "")
            {
                <a href="@Url.Action("DownloadTemplate", "ReportTemplate", new { id = item.ReportTemplateID })" data-toggle="tooltip" title="Xem mẫu báo cáo"><i class="fa fa-eye-slash" style="font-size:16px"></i></a>
            }
        </text>));
        @grid.GetHtml(htmlAttributes: new { id = "gridReportTemplate" },   // id for ajaxUpdateContainerId parameter
          fillEmptyRows: false,
          tableStyle: "table table-hover table-striped",
          footerStyle: "table-pager",
          alternatingRowStyle: "altRow",
          selectedRowStyle: "selectRow",
          mode: WebGridPagerModes.All,
          columns: gridColumns)
    }
    else
    {
        <div style="color:red;margin-left:10px;">
            Không có mẫu báo cáo nào
        </div>
    }
}