﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-lg-12">
        <div class="box box-success">
            <div class="box-header with-border">
                <div class="col-lg-12">
                    @using (Ajax.BeginForm("SearchReportTemplate", "ReportTemplate", new AjaxOptions
                    {
                        HttpMethod = "post",
                        UpdateTargetId = "divListReportTemplate"
                    }, new { id = "frmSearch" }))
                    {
                        <h3 class="box-title"></h3>
                        <div class="input-group">
                            <input id="ReportName" name="ReportName" class="form-control" placeholder="Tên báo cáo" type="text" />
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="submit"> <i class="fa fa-search"></i> Tìm kiếm</button>
                                <button class="btn btn-success" onclick="openAddOrEditReportTemplate(-1)"><i class="fa fa-plus"></i> Thêm mới</button>
                            </span>
                        </div>
                    }
                </div>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-lg-12" id="divListReportTemplate">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="modal-ReportTemplate" class="modal fade" role="dialog"></div>
<script type="text/javascript">
    $(document).ready(function () {
        searchReportTemplate();
    });

    function searchReportTemplate() {
        $("#frmSearch").submit();
    }

    function openAddOrEditReportTemplate(id) {
        var dataPost = (id <= 0 ? {} : { ReportTemplateId: id });
        $.ajax({
            type: "POST",
            url: '@Url.Action("OpenAddOrEditReportTemplate", "ReportTemplate")',
            data: dataPost,
            success: function (result) {
                $("#modal-ReportTemplate").html(result);
                $("#modal-ReportTemplate").modal("show");
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }


    function deleteReportTemplate(id) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("DeleteReportTemplate", "ReportTemplate")',
            data: {"id": id},
            success: function (data) {
                CommonJS.alert("Xóa mẫu báo cáo thành công");
                searchReportTemplate();
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }
</script>