﻿@using IInterface.Models
@using IInterface.Common
@model RevenueModel
@{
    List<SelectListItem> listPeriod = ViewData["listPeriod"] as List<SelectListItem>;
}
@using (Ajax.BeginForm("Save", "Revenue", new AjaxOptions()
{
    HttpMethod = "post",
    OnBegin = "onBegin",
    OnSuccess = "onSuccess",
    OnFailure = "onFail"
}, new { id = "frmCreateOrEdit" }))
{
    @Html.AntiForgeryToken()
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                @if (Model != null && Model.RevenueID > 0)
                {
                    @Html.HiddenFor(model => model.RevenueID)
                    <h4 class="modal-title">Cập nhật khoản thu</h4>
                }
                else
                {
                    <h4 class="modal-title">Thêm mới khoản thu</h4>
                }

            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        @Html.LabelFor(model => model.PeriodID, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.PeriodID, listPeriod, new { @class = "form-control", @style = "float:left; width: 100%" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Source, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.Source, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Source)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Money, new { @class = "control-label col-md-2" })
                        <div class="col-md-4">
                            @Html.TextBoxFor(model => model.Money, new { @class = "form-control currency" })
                            @Html.ValidationMessageFor(model => model.Money)
                        </div>
                        @Html.LabelFor(model => model.RevenueDate, new { @class = "control-label col-md-2" })
                        <div class="col-md-4">
                            <div class="input-group datetimepicker date">
                                @Html.TextBoxFor(model => model.RevenueDate, "{0:dd/MM/yyyy}", new { @class = "form-control" })
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar">
                                    </i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.Description, new { @class = "form-control", row = "2" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success"><i class="fa fa-floppy-o"></i> Lưu</button>
                <button type="button" data-dismiss="modal" class="btn btn-default"><i class="fa fa-ban"></i> Hủy</button>
            </div>
        </div>
    </div>
}
<script type="text/javascript">
    $(document).ready(function () {
        $("select").select2();
        $('#RevenueDate').datepicker({
            locale: 'vi',
            format: 'dd/mm/yyyy',
            autoclose: true
        });
        $(function () {
            $.validator.methods.date = function (value, element) {
                return this.optional(element) || moment(value, "DD/MM/YYYY", true).isValid();
            }
        });
    });

    $(function () {
        $(".currency").keyup(function (e) {
            $(this).val(format($(this).val()));
        });
        $('.currency').keypress(function (event) {
            if (event.keyCode != 46 && event.which != 46 && event.which != 8 && isNaN(String.fromCharCode(event.which))) {
                event.preventDefault();
            }
        });
    });

    function onBegin() {
        if ($("#frmCreateOrEdit").valid()) {
            return true;
        } else {
            return false;
        }
    }

    function onSuccess(msg) {
        CommonJS.alert(msg);
        search();
    }

    function onFail(xhr) {
        CommonJS.alert(xhr.responseText);
    }
</script>
