﻿
@using IInterface.Common;
@using IInterface.Models;
@{
    Paginate<RevenueModel> paginate = ViewData["listRevenue"] as Paginate<RevenueModel>;
    var grid = new WebGrid(
        rowsPerPage: paginate.PageSize,
        canPage: true,
        canSort: false,
        ajaxUpdateContainerId: "divGridRevenue"
        );

    grid.Bind(paginate.List,
        autoSortAndPage: false,
        rowCount: paginate.Count);
    grid.Pager(WebGridPagerModes.All);
}

@{
    if (paginate.Count > 0)
    {
        var gridColumns = new List<WebGridColumn>();
        gridColumns.Add(grid.Column("STT", format: item => item.WebGrid.Rows.IndexOf(item) + 1
                + Math.Round(Convert.ToDouble(grid.TotalRowCount / grid.PageCount) / grid.RowsPerPage)
                * grid.RowsPerPage * grid.PageIndex));
        gridColumns.Add(grid.Column("PeriodName", "Giai đoạn"));
        gridColumns.Add(grid.Column("Source", "Nguồn thu"));
        gridColumns.Add(grid.Column(header: "Ngày thu", format: (item) => string.Format("{0:dd/MM/yyyy}", item.RevenueDate)));
        gridColumns.Add(grid.Column("MoneyFormat", "Tổng tiền"));
        gridColumns.Add(grid.Column("Description", "Ghi chú"));
        gridColumns.Add(grid.Column(header: "", format: @<text>
            <a href="javascript:void(0)" onclick="prepareAddOrEdit(@item.RevenueID)" class="btn btn-xs btn-primary" title="Sửa khoản chi"><i class="fa fa-edit"></i> Sửa</a>
            <a href="javascript:void(0)" onclick="deleteRevenue(@item.RevenueID)" class="btn btn-xs btn-danger" title="Xóa khoản chi"><i class="fa fa-trash-o"></i> Xóa</a>
        </text>));
        @grid.GetHtml(htmlAttributes: new { id = "divGridRevenue" },
            fillEmptyRows: false,
            tableStyle: "table table-hover table-striped",
            footerStyle: "table-pager",
            alternatingRowStyle: "altRow",
            selectedRowStyle: "selectRow",
            mode: WebGridPagerModes.All,
            columns: gridColumns)
    }
    else
    {
        <div style="color:red; margin-left:10px;">
            Không có khoản thu nào
        </div>
    }
}
<script type="text/javascript">
    function deleteRevenue(id) {
        if (!confirm("Bạn có chắc chắn muốn xóa khoản thu?")) {
            return;
        }
        $.ajax({
            type: "POST",
            url: '@Url.Action("Delete", "Revenue")',
            data: { 'id': id },
            success: function (data) {
                CommonJS.alert(data);
                search();
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }
</script>
