﻿@using IInterface.Models
@using IInterface.Common
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<SelectListItem> listPeriod = ViewData["listPeriod"] as List<SelectListItem>;

}
@model RevenueSearchModel
<div class="row">
    <div class="col-lg-12">
        <div class="box">
            <div class="box-header with-border">
                <h4 class="box-title">Quản lý khoản thu</h4>
            </div>
            <div class="box-body">
                @using (Ajax.BeginForm("Search", "Revenue", new AjaxOptions
                {
                    HttpMethod = "get",
                    UpdateTargetId = "divResult"
                }, new { id = "frmRevenue" }))
                {
                    <div class="col-md-12">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="control-label col-md-2">Giai đoạn:</label>
                                <div class="col-md-4">
                                    @Html.DropDownListFor(model => model.PeriodID, listPeriod, new { @class = "form-control", @style = "float:left; width: 100%" })
                                </div>
                                <label class="control-label col-md-2">Nguồn thu:</label>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(model => model.Source, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2">Thời gian thu Từ:</label>
                                <div class="col-md-4">
                                    <div class="input-group datetimepicker date1">
                                        @Html.TextBoxFor(model => model.FromRevenueDate, "{0:dd/MM/yyyy}", new { @class = "form-control" })
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar">
                                            </i>
                                        </div>
                                    </div>
                                </div>
                                <label class="control-label col-md-2">Tới:</label>
                                <div class="col-md-4">
                                    <div class="input-group datetimepicker date2">
                                        @Html.TextBoxFor(model => model.ToRevenueDate, "{0:dd/MM/yyyy}", new { @class = "form-control" })
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar">
                                            </i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <button class="btn btn-primary" type="submit"><i class="fa fa-search"></i> Tìm kiếm</button>
                                <button class="btn btn-success" type="button" onclick="prepareAddOrEdit(0)"><i class="fa fa-plus"></i> Thêm mới</button>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="box box-info">
            <div class="box-header with-border">
                <h4 class="box-title">Danh sách khoản thu</h4>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-lg-12" id="divResult">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="modal-AddOrEdit" class="modal fade" role="dialog"></div>
<script>
    $(document).ready(function () {
        $("select").select2();
        $('#FromRevenueDate').datepicker({
            locale: 'vi',
            format: 'dd/mm/yyyy',
            autoclose: true
        });
        $('#ToRevenueDate').datepicker({
            locale: 'vi',
            format: 'dd/mm/yyyy',
            autoclose: true
        });
        $(function () {
            $.validator.methods.date = function (value, element) {
                return this.optional(element) || moment(value, "DD/MM/YYYY", true).isValid();
            }
        });
        search();
    });

    $('.date1').click(function (event) {
        event.preventDefault();
        $('#FromRevenueDate').focus();
    });

    $('.date2').click(function (event) {
        event.preventDefault();
        $('#ToRevenueDate').focus();
    });

    function search() {
        $("#frmRevenue").submit();
    }

    function prepareAddOrEdit(id) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("PrepareAddOrEdit", "Revenue")',
            data: {
                'id': id
            },
            success: function (result) {
                $("#modal-AddOrEdit").html(result);
                $("#modal-AddOrEdit").modal("show");
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }
    var format = function (num) {
        var str = num.toString().replace("$", ""), parts = false, output = [], i = 1, formatted = null;
        if (str.indexOf(".") > 0) {
            parts = str.split(".");
            str = parts[0];
        }
        str = str.split("").reverse();
        for (var j = 0, len = str.length; j < len; j++) {
            if (str[j] != ",") {
                output.push(str[j]);
                if (i % 3 == 0 && j < (len - 1)) {
                    output.push(",");
                }
                i++;
            }
        }
        formatted = output.reverse().join("");
        return (formatted + ((parts) ? "." + parts[1].substr(0, 2) : ""));
    };    

    function isNumberKey(evt) {
        if (event.which != 46 && event.which != 8 && isNaN(String.fromCharCode(event.which)))
            return false;
        return true;
    }

</script>