﻿@model IInterface.Models.PlanModel
@using (Ajax.BeginForm("SaveImplementation", "PeriodDepartment", new AjaxOptions()
{
    HttpMethod = "post",
    OnSuccess = "onSuccess",
    OnFailure = "onFail"
}, new { id = "frmCreateOrEditImp" }))
{
    @Html.HiddenFor(model => model.PlanID)
    <div class="box box-solid">
        <div class="box-body">
            @Html.AntiForgeryToken()
            <div class="form-horizontal">
                <div class="row">
                    <div class="col-md-12">
                        @Html.Raw(Model.Implementation)
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<script type="text/javascript">
    function onSuccess(result) {
        CommonJS.alert(result);
    }
    function onFail(xhr) {
        CommonJS.alert(xhr.responseText);
    }
</script>