﻿@using IInterface.Models;
@using IInterface.Common;
@using IInterface.Common.CommonBO
@using IModel;
@model SubActionSpendItemModel
@{
    Period period = ViewData["Period"] as Period;
    int rangeYear = (int)ViewData["RangeYear"];

    int startYear = period.FromDate != null ? period.FromDate.Year : 0;
    int endYear = period.ToDate != null ? period.ToDate.Year : 0;
    string parentid = Model.ParentID != null ? "subcost_" + Model.ParentID.Value :
        (Model.SubActionPlanID != null ? "subaction_" + Model.SubActionPlanID.Value : "targetaction_" + Model.PlanTargetActionID.Value);
    string spendType = Model.SpendItemID == null ? "spendItemOther" : "spendItem";
    if (Model.ParentID == null)
    {
        Model.Level = 1;
    }
}

<tr id="subcost_@Model.SubActionSpendItemID" parentid="@parentid">
    <td style="text-align:center">
        @if (Model.ListChild != null && Model.ListChild.Any())
        {
            <b>@Model.SpendItemTitle</b>
        }
        else
        {
            <div id="div_title_@Model.SubActionSpendItemID">@Model.SpendItemTitle</div>
        }
    </td>
    <td>
        @if (Model.ListChild != null && Model.ListChild.Any())
        {
            <b>
                @for (int i = 0; i < Model.Level; i++)
                {
                    <text>&nbsp;</text>
                }
                @Model.SpendItemName
            </b>
        }
        else
        {
            <div id="div_name_@Model.SubActionSpendItemID">
                @for (int i = 0; i < Model.Level; i++)
                {
                    <text>&nbsp;</text>
                }
                @Model.SpendItemName
            </div>
        }
    </td>
    @for (int i = 0; i <= rangeYear; i++)
    {
        int year = startYear + i;
        SubActionPlanCostModel cost = Model.ListSubActionPlanCost == null ? null : Model.ListSubActionPlanCost.Where(x => x.PlanYear == year).FirstOrDefault();
        if (Model.ListChild != null && Model.ListChild.Any())
        {
            cost.CountChild = Model.ListChild.Count;
            cost.SumCostType = Model.SumCostType;
        }
        @Html.Partial("_ListYearCost", cost);
    }
    <td>
        <input type="text" class="currency form-control input-sm" name="SumTotalBudget" readonly="readonly" value="@Model.TotalPrice" style="text-align:right">
    </td>
</tr>
@if (Model.ListChild != null && Model.ListChild.Any())
{
    foreach (SubActionSpendItemModel item in Model.ListChild)
    {
        item.Level = Model.Level + 1;
        @Html.Partial("_ListSubCost", item);
    }
}