﻿@using IInterface.Models;
@model SubActionPlanCostModel

@{
    int subCostID = Model == null ? 0 : Model.SubActionPlanCostID;
    string unit = Model == null ? string.Empty : Model.Unit;
    int? quan = Model == null ? null : Model.Quantity;
    double? Price = Model == null ? null : Model.Price;
    double? TotalPrice = Model == null ? null : Model.TotalPrice;
    string sReadOnly = "readonly";
}
<td style="text-align:center">
    <input type="hidden" name="SubCostID" value="@subCostID" />
    <input type="text" name="Unit" disabled class="form-control input-sm" value="@unit" />
</td>
@if (Model.CreateUserID != Model.ModifierID)
{

        <td style="text-align:center;">
            <input type="text" name="Quantity" disabled year="@Model.PlanYear" value="@quan" onkeypress="return isNumberKey(event)" onblur="countMoneyByQuan(this)" class="form-control input-sm" style="text-align:right;background-color:#f1c40f;" />
        </td>
        <td style="text-align:center">
            <input type="text" name="Price" disabled year="@Model.PlanYear" @sReadOnly value="@Price" onblur="countMoneyByPrice(this)" class="currency form-control input-sm" style="text-align:right;background-color:#f1c40f;" />
        </td>
        <td style="text-align:center">
            <input type="text" name="TotalPrice" disabled year="@Model.PlanYear" @sReadOnly value="@TotalPrice" class="currency form-control input-sm" style="text-align:right;background-color:#f1c40f;" readonly="readonly" />
        </td>
}
else
{
    <td style="text-align:center;">

        <input type="text" name="Quantity" disabled year="@Model.PlanYear" value="@quan" onkeypress="return isNumberKey(event)" onblur="countMoneyByQuan(this)" class="form-control input-sm" style="text-align:right;" />
    </td>
    <td style="text-align:center">
        <input type="text" name="Price" disabled year="@Model.PlanYear" @sReadOnly value="@Price" onblur="countMoneyByPrice(this);" class="currency form-control input-sm" style="text-align:right;" on />
    </td>
    <td style="text-align:center">
        <input type="text" name="TotalPrice" disabled year="@Model.PlanYear" @sReadOnly value="@TotalPrice" class="currency form-control input-sm" style="text-align:right;" readonly="readonly" />
    </td>
}

