﻿@using IInterface.Models;
@using IInterface.Common;
@using IInterface.Common.CommonBO;
@using IModel;
@model SubActionPlanModel
@{
    Period period = ViewData["Period"] as Period;
    int rangeYear = (int)ViewData["RangeYear"];

    int startYear = period.FromDate != null ? period.FromDate.Year : 0;
    int endYear = period.ToDate != null ? period.ToDate.Year : 0;
    string parentid = Model.ParentID != null ? "subaction_" + Model.ParentID.Value : "targetaction_" + Model.PlanTargetActionID.GetValueOrDefault();
    bool hasChild = false;
    if ((Model.ListChildSubActionPlan != null && Model.ListChildSubActionPlan.Any())
        || (Model.ListSubActionSpendItem != null && Model.ListSubActionSpendItem.Any()))
    {
        hasChild = true;
    }
    ObjectRoleBO role = ViewData["role"] as ObjectRoleBO;
}

<tr id="subaction_@Model.SubActionPlanID" parentid="@parentid">
    @if (Model.ListChildSubActionPlan == null || Model.ListChildSubActionPlan.Count == 0)
    {
        <td style="text-align:center">
            @Model.SubActionCode
        </td>
    }
    else
    {
        <td style="text-align:center">
            @Model.SubActionCode
        </td>
    }
    <td>
        @Model.SubActionContent
    </td>
    @for (int i = 0; i <= rangeYear; i++)
    {
        int year = i + startYear;
        SubActionPlanCostModel cost = Model.ListSubActionPlanCost == null ? null : Model.ListSubActionPlanCost.Where(x => x.PlanYear == year).FirstOrDefault();
        if (cost != null)
        {
            cost.HasChild = hasChild;
        }
        @Html.Partial("_ListYearCost", cost);
    }
    <td>
        <input type="text" class="currency form-control input-sm" name="SumTotalBudget" readonly="readonly" value="@Model.TotalBudget" style="text-align:right">
    </td>
</tr>
@if (Model.ListChildSubActionPlan != null && Model.ListChildSubActionPlan.Any())
{
    foreach (SubActionPlanModel item in Model.ListChildSubActionPlan)
    {
        @Html.Partial("_ListSubAction", item);
    }
}
else
{
    if (Model.ListSubActionSpendItem != null && Model.ListSubActionSpendItem.Any())
    {
        foreach (SubActionSpendItemModel item in Model.ListSubActionSpendItem)
        {
            @Html.Partial("_ListSubCost", item);
        }
    }
}