﻿@using IInterface.Common;
@using IInterface.Common.CommonBO;
@using IInterface.Models;
@using IModel;
<style>
    #divGridSubActionPlan input[type=text]:focus {
        width: 150px;
    }
</style>

@{
    List<PlanTargetModel> lstSubTartget = ViewData["PlanTarget"] as List<PlanTargetModel>;
    if (lstSubTartget == null)
    {
        lstSubTartget = new List<PlanTargetModel>();
    }
    Period period = ViewData["Period"] as Period;
    int rangeYear = (int)ViewData["RangeYear"];
    ObjectRoleBO role = ViewData["role"] as ObjectRoleBO;

    int startYear = period.FromDate != null ? period.FromDate.Year : 0;
    int endYear = period.ToDate != null ? period.ToDate.Year : 0;
    Dictionary<int, double?> dicSumAll = new Dictionary<int, double?>();
    double sumAll = 0;

    foreach (PlanTargetModel target in lstSubTartget)
    {
        List<SubActionPlanCostModel> listCost = target.ListSubActionPlanCost;
        foreach (SubActionPlanCostModel cost in listCost)
        {
            if (dicSumAll.ContainsKey(cost.PlanYear.Value))
            {
                dicSumAll[cost.PlanYear.Value] = dicSumAll[cost.PlanYear.Value] + cost.TotalPrice;
            }
            else
            {
                dicSumAll[cost.PlanYear.Value] = cost.TotalPrice;
            }
        }
    }
}
<div class="box box-solid" id="divCost">
    <div class="box-body">
        @Html.Hidden("periodID", period.PeriodID)
        <table class="table table-bordered" id="tableDataCost">
            <!-- Table Header -->
            <thead>
                <tr class="bg-info text-white">
                    <th rowspan="2" style="text-align:center;vertical-align:middle;width:6%">Mã hoạt động </th>
                    <th rowspan="2" style="text-align:center;vertical-align:middle;width:25%">Nội dung hoạt động</th>
                    @for (int year = 0; year <= rangeYear; year++)
                    {
                        int viewYear = startYear + year;
                        <th colspan="4" style="text-align:center;vertical-align:middle;width:20%">Năm @viewYear.ToString()</th>
                    }
                    <th rowspan="2" style="text-align:center;vertical-align:middle;">Tổng NS năm @startYear + @endYear </th>
                </tr>
                <tr class="bg-info text-white">
                    @for (int year = 0; year < (rangeYear + 1); year++)
                    {
                        <th style="text-align:center;vertical-align:middle;width:7%">ĐVT</th>
                        <th style="text-align:center;vertical-align:middle;width:3%">Số lượng</th>
                        <th style="text-align:center;vertical-align:middle;width:8%">Đơn giá</th>
                        <th style="text-align:center;vertical-align:middle;width:9%">Thành tiền</th>
                    }

                </tr>
            </thead>
            <!-- Table Header -->
            <tbody>
                <tr id="sumall" parentid="">
                    <td style="text-align:center;vertical-align: middle"></td>
                    <td style="text-align:center;vertical-align: middle">
                        <b>
                            Cộng
                        </b>
                    </td>
                    @for (int i = 1; i <= (rangeYear + 1) * 4; i++)
                    {
                        string ptSCost = string.Empty;

                        if (i % 4 == 0)
                        {
                            int year = startYear + (i / 4) - 1;
                            ptSCost = dicSumAll.ContainsKey(year) ? dicSumAll[year].GetValueOrDefault().ToString() : "";
                            sumAll = dicSumAll.ContainsKey(year) ? sumAll + dicSumAll[year].GetValueOrDefault() : 0.0;
                            <td style="text-align:right">
                                <input style="text-align:right;" year="@year" type="text" disabled name="TotalPrice" value="@ptSCost" class="currency form-control input-sm text-bold" />
                            </td>
                        }
                        else if (i % 4 == 1)
                        {
                            <td colspan="3"></td>
                        }
                    }

                    <td style="text-align:right">
                        <input type="text" style="text-align:right;" disabled name="SumTotalBudget" value="@sumAll" class="currency form-control input-sm text-bold" />
                    </td>
                </tr>

                @foreach (PlanTargetModel ptm in lstSubTartget)
                {
                    <tr class="success" id="target_@ptm.PlanTargetID" parentid="sumall">
                        <td style="text-align:center;vertical-align: middle">
                            <b>
                                @ptm.TargetCode
                            </b>
                        </td>
                        <td>
                            <b>
                                @ptm.PlanTargetContent
                            </b>
                        </td>
                        @for (int i = 1; i <= (rangeYear + 1) * 4; i++)
                        {
                            string ptSCost = string.Empty;

                            if (i % 4 == 0)
                            {
                                int year = startYear + (i / 4) - 1;
                                SubActionPlanCostModel ptCost = ptm.ListSubActionPlanCost != null ? ptm.ListSubActionPlanCost.Where(x => x.PlanYear == year).FirstOrDefault() : null;
                                if (ptCost != null && ptCost.TotalPrice.GetValueOrDefault() > 0)
                                {
                                    ptSCost = ptCost.TotalPrice.GetValueOrDefault().ToString();
                                }
                                if (ptm.ListPlanTargetActionModel != null && ptm.ListPlanTargetActionModel.Any())
                                {
                                    <td style="text-align:right">
                                        <input style="text-align:right; background-color:#dff0d8" year="@year" type="text" disabled name="TotalPrice" value="@ptSCost" class="currency form-control input-sm" />
                                    </td>
                                }
                                else if (ptCost != null)
                                {

                                    <td style="text-align:right">
                                        <input type="hidden" name="SubCostID" value="@ptCost.SubActionPlanCostID" />
                                        <input type="hidden" name="Unit" />
                                        <input type="hidden" name="Quantity" />
                                        <input type="hidden" name="Price" />
                                        <input style="text-align:right;" year="@year" type="text" onchange="sumTotalMoney(this)" name="TotalPrice" value="@ptSCost" class="currency form-control input-sm" />
                                    </td>
                                }
                                else
                                {
                                    <td style="text-align:right">
                                        <input type="hidden" name="SubCostID" value="" />
                                        <input type="hidden" name="Unit" />
                                        <input type="hidden" name="Quantity" />
                                        <input type="hidden" name="Price" />
                                        <input style="text-align:right;" year="@year" type="text" onchange="sumTotalMoney(this)" name="TotalPrice" value="@ptSCost" class="currency form-control input-sm" />
                                    </td>
                                }
                            }
                            else
                            {
                                <td></td>
                            }
                        }

                        <td style="text-align:right">
                            <input type="text" style="text-align:right;background-color:#dff0d8" disabled name="SumTotalBudget" value="@ptm.TotalBudget" class="currency form-control input-sm" />
                        </td>
                    </tr>
                    foreach (var pta in ptm.ListPlanTargetActionModel)
                    {
                        @Html.Partial("_ListPlanTargetAction", pta)
                    }
                }

                <tr id="sumallLast" parentid="">
                    <td style="text-align:center;vertical-align: middle"></td>
                    <td style="text-align:center;vertical-align: middle">
                        <b>
                            Cộng
                        </b>
                    </td>
                    @for (int i = 1; i <= (rangeYear + 1) * 4; i++)
                    {
                        string ptSCost = string.Empty;
                        if (i % 4 == 0)
                        {
                            int year = startYear + (i / 4) - 1;
                            ptSCost = dicSumAll.ContainsKey(year) ? dicSumAll[year].GetValueOrDefault().ToString() : "";
                            <td style="text-align:right">
                                <input style="text-align:right;" year="@year" type="text" disabled name="TotalPrice" value="@ptSCost" class="currency form-control input-sm text-bold" />
                            </td>
                        }
                        else if (i % 4 == 1)
                        {
                            <td colspan="3"></td>
                        }
                    }

                    <td style="text-align:right">
                        <input type="text" style="text-align:right;" disabled name="SumTotalBudget" value="@sumAll" class="currency form-control input-sm text-bold" />
                    </td>
                </tr>
            </tbody>

        </table>

    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#tableDataCost").freezeHeader();
        $("#tableDataCost").find('.currency').each(function () {
            var val = $(this).val();
            $(this).val(format(val));
        });
    });
    var format = function (num) {
        var str = num.toString().replace("$", ""), parts = false, output = [], i = 1, formatted = null;
        if (str.indexOf(".") > 0) {
            parts = str.split(".");
            str = parts[0];
        }
        str = str.split("").reverse();
        for (var j = 0, len = str.length; j < len; j++) {
            if (str[j] != ",") {
                output.push(str[j]);
                if (i % 3 == 0 && j < (len - 1)) {
                    output.push(",");
                }
                i++;
            }
        }
        formatted = output.reverse().join("");
        return (formatted + ((parts) ? "." + parts[1].substr(0, 2) : ""));
    };
    $(function () {
        $(".currency").keyup(function (e) {
            $(this).val(format($(this).val()));
        });
        $('.currency').keypress(function (event) {
            if (event.keyCode != 46 && event.which != 46 && event.which != 8 && isNaN(String.fromCharCode(event.which))) {
                event.preventDefault();
            }
        });
    });
</script>
<style type="text/css">
    #divCost .form-control {
        background-color: transparent !important;
        border: 0 !important;
        background: transparent !important;
    }
</style>