﻿@using IInterface.Common;
@using IInterface.Common.CommonBO;
@using IInterface.Models;
@using IModel;

@{
    List<PlanTargetModel> lstSubTartget = ViewData["PlanTarget"] as List<PlanTargetModel>;
    if (lstSubTartget == null)
    {
        lstSubTartget = new List<PlanTargetModel>();
    }
    Period period = ViewData["Period"] as Period;
    int rangeYear = (int)ViewData["RangeYear"];
    ObjectRoleBO role = ViewData["role"] as ObjectRoleBO;
    int startYear = period.FromDate != null ? period.FromDate.Year : 0;
    var starCol = 1;

}

<div class="box box-solid">
    <div class="box-body">
        <table class="table table-bordered" id="tableDataTime">
            <!-- Table Header -->
            <thead>
                <tr class="bg-info text-white">

                    <th rowspan="2" style="text-align:center;vertical-align:middle;width:7%">Mã hoạt động</th>
                    <th rowspan="2" style="text-align:center;vertical-align:middle;width:25%">Nội dung hoạt động</th>
                    @for (int year = 0; year <= rangeYear; year++)
                    {
                        int viewYear = startYear + year;
                        <th colspan="4" style="text-align:center;vertical-align:middle;width:23%">Năm @viewYear.ToString()</th>
                    }

                    <th rowspan="2" style="text-align:center;vertical-align:middle;width:7%">Cơ quan thực hiện</th>
                    <th rowspan="2" style="text-align:center;vertical-align:middle;width:7%">Cơ quan phối hợp</th>
                    <th rowspan="2" style="text-align:center;vertical-align:middle;width:8%">Ghi chú</th>
                </tr>
                <tr class="bg-info text-white">
                    @for (int year = 0; year < (rangeYear + 1) * 4; year++)
                    {
                        <th style="text-align:center;vertical-align:middle;width:6%">Quý @starCol</th>
                        starCol = starCol + 1;
                        if (starCol > 4)
                        {
                            starCol = 1;
                        }
                    }
                </tr>
            </thead>
            <!-- Table Header -->
            <tbody>

                @foreach (PlanTargetModel subTarget in lstSubTartget)
            {
                    <tr class="success">
                        <td style="text-align:center"></td>
                        <td>
                            <b>
                                @subTarget.PlanTargetContent
                            </b>
                        </td>
                        @for (int i = 0; i < (rangeYear + 1) * 4; i++)
                        {
                            <td></td>
                        }

                        <td></td>
                        <td></td>
                        <td></td>

                    </tr>
                    foreach (var planTargetAction in subTarget.ListPlanTargetActionModel)
                    {
                        var markColor = "";
                        <tr>
                            <td style="text-align:center">
                                @planTargetAction.ActionCode
                            </td>

                            <td>
                                @planTargetAction.ActionContent
                            </td>
                            @foreach (var obj in planTargetAction.ListSubActionPlanTime)
                            {
                                if (planTargetAction.ListSubActionPlan.Count == 0)
                                {
                                    var chkVal = obj.SubActionPlanTimeID + "_" + obj.PlanTargetAcionID + "_" + obj.PlanTime;

                                    if (obj.CreateUserID == obj.ModifierID)
                                    {

                                        if (obj.PlanTime != null)
                                        {
                                            <td style="text-align:center"> <input type="checkbox" id="planTimes" name="planTimes" value="@chkVal" checked /> </td>
                                        }
                                        else
                                        {
                                            <td style="text-align:center"> <input id="PlanTimes" name="planTimes" type="checkbox" value="@chkVal" /> </td>
                                        }
                                    }
                                    else
                                    {
                                        markColor = "lightcyan";
                                        if (obj.PlanTime != null)
                                        {
                                            <td style="text-align:center; background-color:lightcyan"> <input type="checkbox" id="planTimes" name="planTimes" value="@chkVal" checked /> </td>
                                        }
                                        else
                                        {
                                            <td style="text-align:center;background-color:lightcyan"> <input id="PlanTimes" name="planTimes" type="checkbox" value="@chkVal" /> </td>
                                        }
                                    }
                                }
                                else
                                {
                                    <td style="text-align:center">  </td>
                                }
                            }
                            @if (planTargetAction.ListSubActionPlan.Count == 0)
                            {
                                <td style="background-color:@markColor">
                                    @planTargetAction.Exucuter
                                </td>
                                <td style="background-color:@markColor">
                                    @planTargetAction.Supporter
                                </td>
                                <td style="background-color:@markColor">
                                    @planTargetAction.Note
                                </td>
                            }
                            else
                            {
                                <td style="background-color:@markColor">
                                    @planTargetAction.Exucuter
                                </td>
                                <td style="background-color:@markColor">
                                    @planTargetAction.Supporter
                                </td>
                                <td style="background-color:@markColor">
                                    @planTargetAction.Note
                                </td>
                            }

                        </tr>

                        foreach (var subActionPlan in planTargetAction.ListSubActionPlan)
                        {
                            <tr>
                                <td style="text-align:center">
                                    @subActionPlan.SubActionCode
                                </td>

                                <td>

                                    @subActionPlan.SubActionContent

                                </td>
                                @foreach (var subPlanActionTime in subActionPlan.ListSubActionPlanTime)
                                {
                                    var subChkVal = subPlanActionTime.SubActionPlanTimeID + "_" + subPlanActionTime.SubActionPlanID + "_" + subPlanActionTime.PlanTime;

                                    if (subActionPlan.ListChildSubActionPlan.Count == 0)
                                    {
                                        if (subPlanActionTime.CreateUserID == subPlanActionTime.ModifierID)
                                        {
                                            if (subPlanActionTime.PlanTime != null)
                                            {

                                                <td style="text-align:center"><input type="checkbox" id="planTimes" name="planTimes" value="@subChkVal" checked /> </td>
                                            }
                                            else
                                            {
                                                <td style="text-align:center"> <input id="PlanTimes" name="planTimes" type="checkbox" value="@subChkVal" /> </td>
                                            }
                                        }
                                        else
                                        {
                                            if (subPlanActionTime.PlanTime != null)
                                            {
                                                <td style="text-align:center; background-color:lightcyan"> <input type="checkbox" id="planTimes" name="planTimes" value="@subChkVal" checked /> </td>
                                            }
                                            else
                                            {
                                                <td style="text-align:center; background-color:lightcyan"> <input id="PlanTimes" name="planTimes" type="checkbox" value="@subChkVal" /> </td>
                                            }
                                        }

                                    }
                                    else
                                    {
                                        <td></td>

                                    }

                                }
                                @if (subActionPlan.ListChildSubActionPlan.Count == 0)
                                {
                                    <td>
                                        @subActionPlan.Exucuter
                                    </td>
                                    <td>
                                        @subActionPlan.Supporter
                                    </td>
                                    <td>
                                        @subActionPlan.Note
                                    </td>
                                }
                                else
                                {
                                    <td>
                                        @subActionPlan.Exucuter
                                    </td>
                                    <td>
                                        @subActionPlan.Supporter
                                    </td>
                                    <td>
                                        @subActionPlan.Note
                                    </td>

                                }
                            </tr>

                            @*Lay cac subAction con*@
                foreach (var childActionPlan in subActionPlan.ListChildSubActionPlan)
                {
                    <tr>
                        <td style="text-align:center">
                            <em>
                                @childActionPlan.SubActionCode
                            </em>
                        </td>

                        <td>
                            <em>
                                @childActionPlan.SubActionContent
                            </em>
                        </td>
                        @foreach (var subPlanActionTime in childActionPlan.ListSubActionPlanTime)
                        {
                            var subChilChkVal = subPlanActionTime.SubActionPlanTimeID + "_" + subPlanActionTime.SubActionPlanID + "_" + subPlanActionTime.PlanTime;

                            if (subPlanActionTime.PlanTime != null)
                            {
                                <td style="text-align:center; "> <input type="checkbox" id="planTimes" name="planTimes" value="@subChilChkVal" checked /> </td>
                            }
                            else
                            {
                                <td style="text-align:center; "> <input id="PlanTimes" name="planTimes" type="checkbox" value="@subChilChkVal" /> </td>
                            }

                        }
                        <td>
                            @childActionPlan.Exucuter
                        </td>
                        <td>
                            @childActionPlan.Supporter
                        </td>
                        <td>
                            @childActionPlan.Note
                        </td>
                    </tr>

                            }

                        }
                    }
                }
            </tbody>
        </table>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#tableDataTime").freezeHeader();
    });
    function toggleCheckbox(element) {

        if (element.checked) {
            // alert($(element).val());
            $(element).prop("checked", true);
        } else {
            //  alert($(element).val());
            $(element).prop("checked", false);
        }
        //  element.checked = !element.checked;
    }
</script>
