﻿@using IInterface.Common;
@using IInterface.Models;
@{
    List<TargetIndexModel> Indexs = ViewData["ListIndex"] as List<TargetIndexModel>;
    string targetTitle = ViewData["targetTitle"] as string;
}
<ul class="list-group">
    <li class="list-group-item list-group-item-info"><i class="fa fa-star-o"></i><strong> Chỉ số của - <span id="TargetTitle">@targetTitle</span></strong></li>
    @if (Indexs != null && Indexs.Any())
    {
        foreach (var targetIndex in Indexs)
        {
            string content = targetIndex.ContentIndex;
            if (targetIndex.TypeIndex == Constants.TYPE_INDEX_INPUT_AVERAGE)
            {
                if (content != null && content.StartsWith("%"))
                {
                    content = content.Substring(1).Trim();
                }
            }
            <li class="list-group-item no-border">

                @if (targetIndex.ValueIndex != 0 && targetIndex.ValueIndex != null)
                {
                    if (targetIndex.TypeIndex == Constants.TYPE_INDEX_INPUT)
                    {
                        if (targetIndex.ValueTotal != 0 && targetIndex.ValueTotal != null)
                        {
                            <kbd>@targetIndex.ValueIndex <span>/</span> @targetIndex.ValueTotal</kbd>
                        }
                        else
                        {
                            <kbd>@targetIndex.ValueIndex</kbd>
                        }
                    }
                    else if (targetIndex.TypeIndex == Constants.TYPE_INDEX_INPUT_AVERAGE)
                    {
                        string valueIndex = targetIndex.ValueIndex.GetValueOrDefault() + " %";
                        <kbd>@valueIndex</kbd>
                    }
                }
                @content
            </li>
        }
    }
</ul>

