﻿@using IInterface.Common
@{
    ViewBag.Title = "Step";
    Layout = "~/Views/Shared/_Layout.cshtml";
    UserInfo user = SessionManager.GetUserInfo();
    long PlanHisID = (ViewData["PlanHisID"] as long?).GetValueOrDefault();
}
@model IInterface.Models.PlanModel
@Html.HiddenFor(model => PlanHisID)
@Html.Hidden("PlanTargetID", ViewData["FirstPlanTargetID"])
<script type="text/javascript" src="~/Scripts/jquery.freezeheader.js"></script>
<div class="row">
    <div class="col-md-12">
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li id="liPlanInfor" class="active"><a href='@Url.Action("Step", "PlanHistory", new { PlanHisID = PlanHisID })'><i class="fa fa-bar-chart"></i> 1. Thông tin chung</a></li>
                        <li id="liTargetIndex"><a href='javascript:void(0)' onclick="TargetIndex(@PlanHisID)"><i class="fa fa-dashboard"></i> 2. Mục tiêu chỉ số</a></li>
                        <li id="liTargetAction"><a href='javascript:void(0)' onclick="Action(@PlanHisID)"><i class="fa fa-recycle"></i> 3. Hoạt động</a></li>
                        <li id="liTime"><a href='javascript:void(0)' onclick="CreateTime(@PlanHisID)"><i class="fa fa-clock-o"></i> 4. Thời gian</a></li>
                        <li id="liCost"><a href='javascript:void(0)' onclick="CreateCost(@PlanHisID)"><i class="fa fa-money"></i> 5. Dự toán</a></li>
                        @if (user.DepartmentID == Constants.HEAD_DEPT_ID && user.DeptType == Constants.DEPT_TYPE_PBQUY && user.IsHeadOffice == Constants.IS_ACTIVE
&& Model.Status == Constants.PLAN_APPROVED && Model.Type == Constants.MAIN_TYPE)
                        {
                            <li id="liImp"><a href="javascript:void(0)" onclick="Implement(@PlanHisID)"><i class="fa fa-book"></i> 5. Tổ chức thực hiện</a></li>
                        }
                        else
                        {
                            <li id="liImp"><a href="javascript:void(0)" onclick="Implement(@PlanHisID)"><i class="fa fa-book"></i> 5. Các nội dung khác</a></li>
                        }
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <div class="btn-group btn-group-sm">
                                <button class="btn btn-default navbar-btn" type="button" onclick="window.history.back();"><i class="fa fa-reply"></i> Quay lại</button>
                            </div>
                        </li>
                    </ul>
                </div>

            </div>
        </nav>
    </div>
    <div class="col-md-12" id="divPlanContent">
        @Html.Partial("_Step1View", Model)
    </div>
</div>
<script type="text/javascript">
    var CreateTime = function (PlanHisID) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("ViewTime", "PlanHistory")',
            data: {
                'PlanHisID': PlanHisID
            },
            success: function (data) {
                $('#divPlanContent').html(data);
                $('#liPlanInfor').removeClass("active");
                $('#liTargetIndex').removeClass("active");
                $('#liTargetAction').removeClass("active");
                $('#liTime').addClass("active");
                $('#liCost').removeClass("active");
                $('#liImp').removeClass("active");
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }

    var CreateCost = function (PlanHisID) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("ViewCost", "PlanHistory")',
            data: {
                'PlanHisID': PlanHisID
            },
            success: function (data) {
                $('#divPlanContent').html(data);
                $('#liPlanInfor').removeClass("active");
                $('#liTargetIndex').removeClass("active");
                $('#liTargetAction').removeClass("active");
                $('#liTime').removeClass("active");
                $('#liCost').addClass("active");
                $('#liImp').removeClass("active");
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }

    var Implement = function (PlanHisID) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("PrepareImplementation", "PlanHistory")',
            data: {
                'PlanHisID': PlanHisID
            },
            success: function (data) {
                $('#divPlanContent').html(data);
                $('#liPlanInfor').removeClass("active");
                $('#liTargetIndex').removeClass("active");
                $('#liTargetAction').removeClass("active");
                $('#liTime').removeClass("active");
                $('#liCost').removeClass("active");
                $('#liImp').addClass("active");
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }

    //Muc tieu tieu chi
    function TargetIndex(PlanHisID) {
        var PlanTargetID = $('#PlanTargetID').val();
        if (PlanTargetID == '') {
            PlanTargetID = '0';
        }
        $.ajax({
            type: "POST",
            url: '@Url.Action("Step1Target", "PlanHistory")',
            data: {
                'PlanHisID': PlanHisID,
                'PlanTargetID': PlanTargetID
            },
            success: function (data) {
                $('#divPlanContent').html(data);
                $('#liPlanInfor').removeClass("active");
                $('#liTargetIndex').addClass("active");
                $('#liTargetAction').removeClass("active");
                $('#liTime').removeClass("active");
                $('#liCost').removeClass("active");
                $('#liImp').removeClass("active");
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }
    //Hoat dong
    function Action(PlanHisID) {
        var PlanTargetID = $('#PlanTargetID').val();
        if (!PlanTargetID) {
            CommonJS.alert("Bạn chưa chọn mục tiêu", false);
            return;
        }
        $.ajax({
            type: "POST",
            url: '@Url.Action("Step2Action", "PlanHistory")',
            data: {
                'PlanHisID': PlanHisID,
                'PlanTargetID': PlanTargetID
            },
            success: function (data) {
                $('#divPlanContent').html(data);
                $('#liPlanInfor').removeClass("active");
                $('#liTargetIndex').removeClass("active");
                $('#liTargetAction').addClass("active");
                $('#liTime').removeClass("active");
                $('#liCost').removeClass("active");
                $('#liImp').removeClass("active");
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }
</script>

