﻿@using IInterface.Common;
@using IInterface.Models;
@{
    List<PlanTargetActionModel> listData = ViewData["listResult"] as List<PlanTargetActionModel>;
    int reportYear = (ViewData["reportYear"] as int?).GetValueOrDefault();
    var grid = new WebGrid(
                          canPage: false,
                          canSort: false,
                          ajaxUpdateContainerId: "divGridResult"
                          );

    grid.Bind(listData,
    autoSortAndPage: false,
    rowCount: listData.Count);
}
<style>
    .ContentColumn {
        width: 40%;
    }

    .CodeColumn {
        width: 10px;
    }

    .w12 {
        width: 15px !important;
    }

    .stable-action {
        vertical-align: middle !important;
    }
</style>
@{
    if (listData.Count > 0)
    {
        using (Ajax.BeginForm("SaveNextPlan", "NextPlan", new AjaxOptions()
        {
            HttpMethod = "POST",
            OnSuccess = "onSuccess",
            OnFailure = "onFail"
        }, new { id = "frmNextPlanSave" }))
        {
            <div class="col-md-12" style="margin-bottom: 10px;">
                <button class="btn btn-success pull-right" onclick="validate()" type="submit"><i class="fa fa-save"></i> Lưu lại</button>
            </div>
            <div class="col-md-12">
                <table class="table table-hover table-striped table-bordered" id="tableData">
                    <thead>
                        <tr class="bg-info text-white">
                            <th style="width: 6%; text-align:center; vertical-align: middle">TT</th>
                            <th style="width: 28%; text-align:center; vertical-align: middle">Nội dung</th>
                            <th style="width: 15%; text-align:center; vertical-align: middle">Kinh phí hội đồng phê duyệt</th>
                            <th style="width: 15%; text-align:center; vertical-align: middle">Quyết toán đến năm @reportYear</th>
                            <th style="width: 15%; text-align:center; vertical-align: middle">Kinh phí còn lại</th>
                            <th style="width: 15%; text-align:center; vertical-align: middle">Kinh phí chuyển sang giai đoạn tiếp theo</th>
                            <th style="width: 6%; text-align:center; vertical-align: middle">
                                <input type="checkbox" id="iAll" onclick="checkAll(this)" />
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 1; i <= listData.Count; i++)
                        {
                            PlanTargetActionModel data = listData[i - 1];
                            <tr>
                                <td style="vertical-align: middle; text-align:center">
                                    @i
                                </td>
                                <td style="vertical-align: middle">
                                    @data.ActionContent
                                </td>
                                <td style="vertical-align: middle; text-align: right">
                                    @Utils.FormatMoney(data.TotalBudget)
                                </td>
                                <td style="vertical-align: middle; text-align: right">
                                    @Utils.FormatMoney(data.TotalSettleMoney)
                                </td>
                                <td style="vertical-align: middle; text-align: right">
                                    @Utils.FormatMoney(data.RemainMoney)
                                </td>
                                <td style="vertical-align: middle; text-align: center">
                                    <input type="text" name="ArrMoney" value="@Utils.FormatMoney(data.RemainMoney)" class="currency form-control text-right" />
                                    <input type="hidden" name="ArrPlanTargetID" value="@data.PlanTargetActionID" />
                                </td>
                                <td style="vertical-align: middle; text-align: center">
                                    @if (data.IsNextPlan.GetValueOrDefault() == Constants.IS_ACTIVE)
                                    {
                                        <input type="checkbox" name="ArrPlanTargetSelectedID" checked id="checkOne" value="@data.PlanTargetActionID" onclick="checkOneNode(this)" />
                                    }
                                    else
                                    {
                                        <input type="checkbox" name="ArrPlanTargetSelectedID" id="checkOne" value="@data.PlanTargetActionID" onclick="checkOneNode(this)" />
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="col-md-12">
                <button class="btn btn-success pull-right" onclick="validate()" type="submit"><i class="fa fa-save"></i> Lưu lại</button>
            </div>
        }
    }
    else
    {
        <div class="col-md-12">
            <div style="color:red; margin-left:10px;">
                Không có dữ liệu
            </div>
        </div>
    }
}
<script type="text/javascript">
    $(document).ready(function () {
        $("#tableData").freezeHeader();
    });
    var format = function (num) {
        var str = num.toString().replace("$", ""), parts = false, output = [], i = 1, formatted = null;
        if (str.indexOf(".") > 0) {
            parts = str.split(".");
            str = parts[0];
        }
        str = str.split("").reverse();
        for (var j = 0, len = str.length; j < len; j++) {
            if (str[j] != ",") {
                output.push(str[j]);
                if (i % 3 == 0 && j < (len - 1)) {
                    output.push(",");
                }
                i++;
            }
        }
        formatted = output.reverse().join("");
        return (formatted + ((parts) ? "." + parts[1].substr(0, 2) : ""));
    };
    $(function () {
        $(".currency").keyup(function (e) {
            $(this).val(format($(this).val()));
        });
        $('.currency').keypress(function (event) {
            if (event.keyCode != 46 && event.which != 46 && event.which != 8 && isNaN(String.fromCharCode(event.which))) {
                event.preventDefault();
            }
        });
    });

    function validate() {
        if ($("#tableData tbody input:checkbox[name='ArrPlanTargetSelectedID']:checked").length == 0) {
            CommonJS.alert("Bạn chưa chọn hoạt động nào", false);
            return false;
        }
        return true;
    }

    function onSuccess(msg) {
        CommonJS.alert(msg);
    }

    function onFail(xhr) {
        CommonJS.alert(xhr.responseText);
    }
</script>
