﻿@using IInterface.Common

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<SelectListItem> listPeriod = ViewData["listPeriod"] as List<SelectListItem>;
    string periodName = string.Empty;
    if (listPeriod.Any(x => !string.IsNullOrWhiteSpace(x.Value)))
    {
        periodName = listPeriod[0].Text;
    }
    SelectListItem selected = listPeriod.FirstOrDefault(x => !string.IsNullOrWhiteSpace(x.Value) && x.Selected);
    if (selected != null)
    {
        periodName = selected.Text;
    }
    if (!string.IsNullOrWhiteSpace(periodName))
    {
        periodName = periodName.ToUpper().Replace("GIAI ĐOẠN", "");
    }
}
<script type="text/javascript" src="~/Scripts/jquery.freezeheader.js"></script>
<div class="box">
    <div class="box-header with-border">
        <h4 class="box-title" id="divTitle">
            CÁC HOẠT ĐỘNG ĐÃ PHÊ DUYỆT GIAI ĐOẠN @periodName CHUYỂN SANG GIAI ĐOẠN TIẾP THEO
        </h4>
    </div>
    <div class="box-header with-border">
        <div class="row">
            <div class="col-md-12 form-horizontal">
                <div class="form-group">
                    <label class="control-label col-md-2">Giai đoạn:</label>
                    <div class="col-md-6">
                        @Html.DropDownList("PeriodID", listPeriod, new { @class = "form-control", @style = "float:left; width: 100%" })
                    </div>
                    <div class="col-md-4">
                        <button class="btn btn-primary" onclick="loadAction()" type="button"><i class="fa fa-search"></i> Tìm kiếm</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="box-body">
        <div class="row" id="divResult">
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("select").select2();
    });
    function loadAction() {
        $.ajax({
            type: "POST",
            url: '@Url.Action("LoadAction", "NextPlan")',
            data: { 'PeriodID': $('#PeriodID').val() },
            success: function (data) {
                $('#divResult').html(data);
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }


    function checkAll(item) {
        $("#tableData tbody input:checkbox[name='ArrPlanTargetSelectedID']").prop("checked", $(item).is(":checked"));
    }

    function checkOneNode(item) {
        if (!$(item).is(':checked')) {
            $("#tableData #iAll").prop("checked", false);
        } else {
            if ($("#tableData tbody input:checkbox[name='ArrPlanTargetSelectedID']:checked").length == $("#tableData tbody input:checkbox[name='ArrPlanTargetSelectedID']").length) {
                $("#tableData #iAll").prop("checked", true);
            }
        }
    }
</script>
