﻿
@using IInterface.Common;
@using IInterface.Models;

@model SubActionPlanModel

@{
    List<SelectListItem> lstSpendItem = ViewData["ListSpendItem"] as List<SelectListItem>;
}
<div class="modal-dialog modal-lg">
    <div class="modal-content">
        @using (Ajax.BeginForm("AddSpendItem", "ReportMission", new AjaxOptions()
        {
            HttpMethod = "POST",
            OnFailure = "onFail",
            OnSuccess = "onAddSpendSuccess",
        }, new { id = "frmSpendItem" }))
        {
            <div class="modal-header">
                <input type="hidden" name="hPeriodID" id="hPeriodID" />
                <input type="hidden" name="actionID" id="actionID" />
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="titleSpend"></h4>
            </div>
            <div class="modal-body">
                <input type="hidden" id="SubActionPlanID" />
                <div class="row" id="divSpendItemList">
                    <div class="col-md-12">
                        <div class="input-group">
                            <span class="input-group-addon">Danh mục chi</span>
                            @Html.DropDownList("SpendItemID", lstSpendItem, new { placeholder = "Mục chi", @class = "form-control", id = "SpendItemID" })
                            <span class="input-group-btn">
                                <button class="btn btn-success" type="button" onclick="addSpendItem()"> <i class="fa fa-plus"></i> Thêm</button>
                            </span>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-12" id="divItem">
                        <table class="table table-bordered" id="tblSpendItem">
                            <thead>
                                <tr>
                                    <th style="text-align: center; vertical-align: middle; width: 90%;">
                                        Tên mục chi
                                    </th>
                                    <th style="text-align: center; vertical-align: middle; width: 10%;">
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-default"><i class="fa fa-ban"></i> Hủy</button>
                <button type="submit" class="btn btn-success">
                    <i class="fa fa-save"></i>
                    Lưu
                </button>
            </div>
        }
    </div>
</div>
<script type="text/javascript">
    function addSpendItem() {
        var spendID = $("#SpendItemID").val();
        var spendName = $("#SpendItemID option:selected").text().replace(/\-/g, "").trim();
        var markup = "<tr><td style='width: 90%;'><input type='hidden' name='spendItemIDs' class='form-control' value='" + spendID + "' />" + spendName + "</td>" +
            "<td style='text-align:center'><button type='button' class='btn btn-sm btn-danger' title='Xóa mục chi' onclick='removeSpendItem(this)'><i class='fa fa-trash-o'></i></button></td></tr>";
        $("#tblSpendItem tbody").append(markup);
    }

    function removeSpendItem(item) {
        var tr = $(item).closest('tr');
        tr.remove();
    }
    
    function onAddSpendSuccess(data) {
        CommonJS.alert(data);
        loadAction();
    }

    function onFail(xhr) {
        CommonJS.alert(xhr.responseText);
    }
</script>
