﻿@using IInterface.Models;
@using IInterface.Common;
@model MainActionModel
@{
    string parentid = Model.ParentID != null ? "action_" + Model.ParentID.Value : "mission_" + Model.MissionID;
    bool hasChild = false;
    if (Model.ListChildAction != null && Model.ListChildAction.Any())
    {
        hasChild = true;
    }
}

<tr parentid="@parentid" id="action_@Model.MainActionID">
    @if (hasChild)
    {
        <td style="text-align:center;vertical-align:middle;width:10%">@Model.ActionCode</td>
    }
    else
    {
        <td style="text-align:center;vertical-align:middle;width:10%">
            @*<a onclick="openAddSpendItem('@Model.MainActionID', '@Model.ActionContent')">
                <span class="fa fa-plus-square"></span>
            </a>*@
            @Model.ActionCode
        </td>
    }
    <td style="vertical-align:middle;width:60%">@Model.ActionContent</td>
    @if (Model.ListActionIndex != null && Model.ListActionIndex.Any())
    {
        int countIndex = 0;
        foreach (ActionIndexModel index in Model.ListActionIndex)
        {
            if (countIndex++ < 2)
            {
                string title = index.IndexValue.ToString();
                if (!string.IsNullOrWhiteSpace(index.UnitName))
                {
                    title += " (" + index.UnitName.Trim() + ")";
                }
                <td style="text-align:right;vertical-align:middle;width:15%">@title</td>
            }
        }
        if (countIndex < 2)
        {
            for (int i = countIndex; i < 2; i++)
            {
                <td style="text-align:right;vertical-align:middle;width:15%"></td>
            }
        }
    }
    else
    {
        if (Model.ListChildAction != null && Model.ListChildAction.Any())
        {
            <td style="text-align:right;vertical-align:middle;width:15%"></td>
            <td style="text-align:right;vertical-align:middle;width:15%"></td>
        }
        else
        {
            <td style="text-align:right;vertical-align:middle;width:15%">@Utils.FormatMoney(Model.ReportCount)</td>
            <td style="text-align:right;vertical-align:middle;width:15%"></td>
        }
    }
</tr>
@if (Model.ListChildAction != null && Model.ListChildAction.Any())
{
    foreach (MainActionModel child in Model.ListChildAction)
    {
        @Html.Partial("_ListAction", child)
    }
}
@if (Model.ListSpendItem != null && Model.ListSpendItem.Any())
{
    foreach (ReportMissionModel spend in Model.ListSpendItem)
    {
        <tr parentid="action_@Model.MainActionID" id="spend_@spend.ReportMissionID">
            <td style="text-align:center;vertical-align:middle;width:15%">
                <a onclick="delSpendItem('@spend.ReportMissionID')">
                    <span class="fa fa-trash-o text-danger"></span>
                </a>
            </td>
            <td style="vertical-align:middle;width:45%">
                @spend.SpendItemName
            </td>
            <td style="text-align:right;vertical-align:middle;width:45%">@Utils.FormatMoney(spend.ReportCount)</td>
            <td style="text-align:right;vertical-align:middle;width:15%"></td>
        </tr>
    }
}