﻿@using IInterface.Common;
@using IInterface.Models;
@{
    List<MissionModel> listMission = ViewData["listMission"] as List<MissionModel>;
}
<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Lựa chọn nhiệm vụ</h4>
        </div>
        <div class="modal-body">
            <table class="table no-margin" id="tableData">
                <thead>
                    <tr>
                        <th class="text-center">Mã nhiệm vụ</th>
                        <th class="text-center">Tên nhiệm vụ</th>
                    </tr>
                </thead>
                <tbody>
                    @if (listMission != null)
                    {
                        foreach (MissionModel item in listMission)
                        {
                            <tr>
                                <td class="text-center">
                                    @item.MissionCode
                                </td>
                                <td>
                                    <a href="javascript:void(0)" onclick="getMission(@item.MissionID, '@item.MissionCode', '@item.MissionName')" data-dismiss="modal">@item.MissionName</a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>