﻿@using IInterface.Common;
@using IInterface.Models;
@{
    List<MissionModel> listMission = ViewData["listMission"] as List<MissionModel>;
}
<table class="table table-bordered" id="tableData">
    <!-- Table Header -->
    <thead>
        <tr class="bg-info text-white">
            <th style="text-align:center;vertical-align:middle;width:10%">Mã Code</th>
            <th style="text-align:center;vertical-align:middle;width:60%">Đầu mục công việc</th>
            <th style="text-align:center;vertical-align:middle;width:15%">Số lượng</th>
            <th style="text-align:center;vertical-align:middle;width:15%">Số lần/số người</th>
        </tr>
    </thead>
    @if (listMission != null && listMission.Any())
    {
        <tbody>
            @foreach (MissionModel mission in listMission)
            {
                <tr class="bg-warning text-black" id="mission_@mission.MissionID" parentid="">
                    <td style="text-align:center;vertical-align:middle;width:10%"><strong>@mission.MissionCode</strong></td>
                    <td style="vertical-align:middle;width:60%"><strong>@mission.MissionName</strong></td>
                    <td style="text-align:right;vertical-align:middle;width:15%"></td>
                    <td style="text-align:right;vertical-align:middle;width:15%"></td>
                </tr>
                if (mission.ListAction != null && mission.ListAction.Any())
                {
                    foreach (MainActionModel action in mission.ListAction)
                    {
                        @Html.Partial("_ListAction", action)
                    }
                }
            }
        </tbody>
    }
</table>
<script type="text/javascript">
    $(document).ready(function () {
        $("#tableData").freezeHeader();
    });
</script>