﻿@using IInterface.Models
@using IInterface.Common
@using IModel
@{
    List<PlanTargetModel> listPlanTarget = ViewData["listPlanTarget"] as List<PlanTargetModel>;
    if (listPlanTarget == null)
    {
        listPlanTarget = new List<PlanTargetModel>();
    }
    string now = DateTime.Now.ToString("dd/MM/yyyy");
    double planMoney = listPlanTarget.Select(x => x.TotalBudget.GetValueOrDefault()).DefaultIfEmpty(0).Sum();
    double disbMoney = listPlanTarget.Select(x => x.TotalSettleMoney.GetValueOrDefault()).DefaultIfEmpty(0).Sum();
    double remainMoney = planMoney - disbMoney;
    double percentDisb = planMoney == 0 ? 100 : Math.Round(((disbMoney / planMoney) * 100), 2);
    string sPercentDisb = percentDisb + "%";
}
<div class="col-md-12">
    @if (!listPlanTarget.Any())
    {
        <span class="text-danger" style="padding-left: 10px;">Không có thông tin chi phí</span>
    }
    else
    {
        <table class="table table-bordered table-responsive" id="tableData">
            <thead>
                <tr class="bg-info text-white">
                    <th style="width: 8%; text-align:center">Mã hoạt động</th>
                    <th style="width: 24%; text-align:center">Diễn giải</th>
                    <th style="width: 12%; text-align:center">Tổng ngân sách được duyệt</th>
                    <th style="width: 12%; text-align:center">Giải ngân tới @now</th>
                    <th style="width: 10%; text-align:center">Số dư đến cuối kỳ báo cáo</th>
                    <th style="width: 10%; text-align:center">Tỷ lệ giải ngân %</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="text-center">(1)</td>
                    <td class="text-center">(2)</td>
                    <td class="text-center">(3)</td>
                    <td class="text-center">(4)</td>
                    <td class="text-center">(5)=(3)-(4)</td>
                    <td class="text-center">(6)=(4)/(3)</td>
                </tr>
                <tr>
                    <td class="text-center" colspan="2"><strong>TỔNG CỘNG</strong></td>
                    <td class="text-right">@Utils.FormatMoney(planMoney)</td>
                    <td class="text-right">
                        @Utils.FormatMoney(disbMoney)
                    </td>
                    <td class="text-right">
                        @Utils.FormatMoney(remainMoney)
                    </td>
                    <td class="text-right">
                        @sPercentDisb
                    </td>
                </tr>
                @foreach (PlanTargetModel pt in listPlanTarget)
                {
                    disbMoney = pt.TotalSettleMoney.GetValueOrDefault();
                    remainMoney = pt.TotalBudget.GetValueOrDefault() - disbMoney;
                    percentDisb = pt.TotalBudget.GetValueOrDefault() == 0 ? 100 : Math.Round(((disbMoney / pt.TotalBudget.GetValueOrDefault()) * 100), 2);
                    sPercentDisb = percentDisb + "%";
                    <tr class="success">
                        <td class="text-center"><strong>@pt.TargetCode</strong></td>
                        <td><strong>@pt.PlanTargetContent</strong></td>
                        <td class="text-right">@Utils.FormatMoney(pt.TotalBudget)</td>
                        <td class="text-right">
                            @Utils.FormatMoney(disbMoney)
                        </td>
                        <td class="text-right">
                            @Utils.FormatMoney(remainMoney)
                        </td>
                        <td class="text-right">
                            @sPercentDisb
                        </td>
                    </tr>
                    if (pt.ListPlanTargetActionModel != null && pt.ListPlanTargetActionModel.Any())
                    {
                        foreach (var pta in pt.ListPlanTargetActionModel)
                        {
                            disbMoney = pta.TotalSettleMoney.GetValueOrDefault();
                            remainMoney = pta.TotalBudget.GetValueOrDefault() - disbMoney;
                            percentDisb = pta.TotalBudget.GetValueOrDefault() == 0 ? 100 : Math.Round(((disbMoney / pta.TotalBudget.GetValueOrDefault()) * 100), 2);
                            sPercentDisb = percentDisb + "%";
                            <tr>
                                @if (pta.ListSubActionPlan != null && pta.ListSubActionPlan.Any())
                                {
                                    <td class="text-center"><strong>@pta.ActionCode</strong></td>
                                    <td><strong>@pta.ActionContent</strong></td>
                                }
                                else
                                {
                                    <td class="text-center">@pta.ActionCode</td>
                                    <td>@pta.ActionContent</td>
                                }
                                <td class="text-right">@Utils.FormatMoney(pta.TotalBudget)</td>
                                <td class="text-right">
                                    @Utils.FormatMoney(disbMoney)
                                </td>
                                <td class="text-right">
                                    @Utils.FormatMoney(remainMoney)
                                </td>
                                <td class="text-right">
                                    @sPercentDisb
                                </td>
                            </tr>
                            if (pta.ListSubActionPlan != null && pta.ListSubActionPlan.Any())
                            {
                                foreach (SubActionPlanModel sub in pta.ListSubActionPlan)
                                {
                                    disbMoney = sub.DisbMoney.GetValueOrDefault();
                                    remainMoney = sub.TotalBudget.GetValueOrDefault() - disbMoney;
                                    percentDisb = sub.TotalBudget.GetValueOrDefault() == 0 ? 100 : Math.Round(((disbMoney / sub.TotalBudget.GetValueOrDefault()) * 100), 2);
                                    sPercentDisb = percentDisb + "%";
                                    <tr>
                                        <td class="text-center">@sub.SubActionCode</td>
                                        <td>@sub.SubActionContent</td>
                                        <td class="text-right">@Utils.FormatMoney(sub.TotalBudget.GetValueOrDefault())</td>
                                        <td class="text-right">
                                            @Utils.FormatMoney(disbMoney)
                                        </td>
                                        <td class="text-right">
                                            @Utils.FormatMoney(remainMoney)
                                        </td>
                                        <td class="text-right">
                                            @sPercentDisb
                                        </td>
                                    </tr>
                                }
                            }
                        }
                    }
                }
            </tbody>
        </table>
    }
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#tableData").freezeHeader();
    });
</script>