﻿@using IInterface.Models
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    List<SelectListItem> listPeriod = ViewData["listPeriod"] as List<SelectListItem>;
}
<script type="text/javascript" src="~/Scripts/jquery.freezeheader.js"></script>
<div class="row">
    <div class="col-lg-12">
        <div class="box">
            <div class="box-header with-border">
                @using (Ajax.BeginForm("ViewFinancialNow", "FinancialReport", new AjaxOptions
                {
                    HttpMethod = "get",
                    UpdateTargetId = "divGridResultSettle"
                }, new { id = "frmSearch", @class = "form-horizontal" }))
                {
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group">
                                <div class="col-md-12">
                                    @Html.DropDownList("PeriodID", listPeriod, new { @class = "form-control ui-selet2" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <button class="btn btn-primary" type="submit"> <i class="fa fa-eye-slash"></i> Xem thông tin</button>
                            <button class="btn btn-default" type="button" onclick="window.history.back();"><i class="fa fa-reply"></i> Quay lại</button>
                        </div>
                    </div>
                }
            </div>
            <div class="box-body">
                <br />
                <div class="row">
                    <div class="col-lg-12" id="divGridResultSettle">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="modal-his" class="modal fade" role="dialog">
</div>
<script>
    $(document).ready(function () {
        $(".ui-selet2").select2();
        Search();
    });
    function Search() {
        $("#frmSearch").submit();
    }
</script>
