﻿@using IInterface.Models
@using IInterface.Common
@model ExpenseModel
@{
    List<SelectListItem> lstStatus = new List<SelectListItem>();
    if (ViewBag.LstStatus != null)
    {
        lstStatus = ViewBag.LstStatus as List<SelectListItem>;
    }
}
@using (Ajax.BeginForm("Save", "Expense", new AjaxOptions()
{
    HttpMethod = "post",
    OnBegin = "onBegin",
    OnSuccess = "onSuccess",
    OnFailure = "onFail"
}, new { id = "frmCreateOrEdit" }))
{
    @Html.AntiForgeryToken()
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                @Html.HiddenFor(model => model.ActionType)
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                @if (Model != null && Model.ActionType == Constants.ACTION_EDIT)
                {
                    @Html.HiddenFor(model => model.SpendItemID)
                    <h4 class="modal-title">Cập nhật khoản chi</h4>
                }
                else
                {
                    <h4 class="modal-title">Thêm mới khoản chi</h4>
                }

            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        @Html.LabelFor(model => model.SpenContent, new { @class = "control-label col-md-2" })
                        <div class="col-md-4">
                            @Html.TextBoxFor(model => model.SpenContent, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.SpenContent)
                        </div>
                        @Html.LabelFor(model => model.Price, new { @class = "control-label col-md-2" })
                        <div class="col-md-4">
                            @Html.TextBoxFor(model => model.Price, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Price)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-2" })
                        <div class="col-md-4">
                            @Html.TextBoxFor(model => model.Description, new { @class = "form-control", @rows = 10 })
                            @Html.ValidationMessageFor(model => model.Description)
                        </div>
                        @if (Model != null && Model.ActionType != Constants.ACTION_ADD_NEW)
                        {
                            @Html.LabelFor(model => model.Status, new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                @Html.DropDownListFor(model => model.Status, lstStatus, new { @class = "select2", @style = "float:left" })
                            </div>
                        }
                    </div>
                    <div class="form-group">
                        @if (Model != null && Model.ActionType == Constants.ACTION_ADD_CHILD)
                        {

                            @Html.LabelFor(model => model.ParentID, new { @class = "control-label col-md-2" })
                            @Html.HiddenFor(model => model.ParentID)
                            <div class="col-md-10">
                                @Html.TextAreaFor(model => model.ParentName, new { @class = "form-control", @rows = 10, @disabled = true })
                                @Html.ValidationMessageFor(model => model.ParentName)
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success"><i class="fa fa-floppy-o"></i> Lưu</button>
                <button type="button" data-dismiss="modal" class="btn btn-default"><i class="fa fa-ban"></i> Hủy</button>
            </div>
        </div>
    </div>
}
<script type="text/javascript">
    $.validator.unobtrusive.adapters.add('isgreater', ['otherproperty', 'ownerproperty'], function (options) {
        options.rules['isgreater'] = { otherproperty: options.params.otherproperty, ownerproperty: options.params.ownerproperty };
        options.messages['isgreater'] = options.message;
    });

    $.validator.addMethod("isgreater", function (value, element, param) {
        var ownerId = element.id;
        var otherid = param.otherproperty;
        if (ownerId !== param.ownerproperty) {
            otherid = ownerId.substr(0, ownerId.length - param.ownerproperty.length) + otherid;
        }
        var otherProp = $('#' + otherid);
        if (otherProp.val() != '') {
            var startDate = new Date(moment(otherProp.val(), 'DD/MM/YYYY'));

            var enddate = new Date(moment(value, 'DD/MM/YYYY'));
            if (startDate != '') {
                return enddate >= startDate;
            }
        }
        return true;
    });

    $(document).ready(function () {
        $('select').select2();
        $.validator.unobtrusive.parse("#frmCreateOrEdit");
    });

    function onBegin() {
        if ($("#frmCreateOrEdit").valid()) {
            return true;
        } else {
            return false;
        }
    }

    function onSuccess(msg) {
        CommonJS.alert(msg);
        Search();
    }

    function onFail(xhr) {
        CommonJS.alert(xhr.responseText);
    }
</script>
