﻿
@using IInterface.Common;
@using IInterface.Models;
@{
    Paginate<ExpenseModel> paginate = ViewData["listExpense"] as Paginate<ExpenseModel>;
    var grid = new WebGrid(
        rowsPerPage: paginate.PageSize,
        canPage: true,
        canSort: false,
        ajaxUpdateContainerId: "divGridExpense"
        );

    grid.Bind(paginate.List,
        autoSortAndPage: false,
        rowCount: paginate.Count);
    grid.Pager(WebGridPagerModes.All);
}

@{
    if (paginate.Count > 0)
    {
        var gridColumns = new List<WebGridColumn>();
        gridColumns.Add(grid.Column("SpenContent", "Nội dung", format: @<text>

        @for (int i = 1; i <= @item.Level; i++)
        {
            <label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
        }
        @if (@item.Level > 0)
        {
            <label>- </label>
        }
        @item.SpenContent
        </text>));
        gridColumns.Add(grid.Column("Price", "Giá"));
        gridColumns.Add(grid.Column("Description", "Chi tiết"));
        //gridColumns.Add(grid.Column("PathTraversal", "Đường dẫn"));
        //gridColumns.Add(grid.Column("PathTraversal", format: (item) => string.Format("{0:dd/MM/yyyy}", item.CreateTime)));
        gridColumns.Add(grid.Column("Status", "Trạng thái", format: @<text>
            @if (item.Status == Constants.IS_ACTIVE)
            {
                <label class="label label-success">Hiệu lực</label>
            }
            else
            {
                <label class="label label-default">Hết hiệu lực</label>
            }
        </text>));
        gridColumns.Add(grid.Column(header: "", format: @<text>
            <a href="javascript:void(0)" onclick="PrepareAddOrEdit(@item.SpendItemID,@Constants.ACTION_EDIT)" class="btn btn-xs btn-primary" title="Sửa khoản chi"><i class="fa fa-edit"></i> Sửa</a>
            <a href="javascript:void(0)" onclick="PrepareAddOrEdit(@item.SpendItemID,@Constants.ACTION_ADD_CHILD)" class="btn btn-xs btn-success" title="Thêm khoản con"><i class="fa fa-plus"></i> Thêm</a>
            <a href="javascript:void(0)" onclick="deleteExpense(@item.SpendItemID)" class="btn btn-xs btn-danger" title="Xóa khoản chi"><i class="fa fa-trash-o"></i> Xóa</a>
        </text>));
        @grid.GetHtml(htmlAttributes: new { id = "divGridExpense" },
            fillEmptyRows: false,
            tableStyle: "table table-hover table-striped",
            footerStyle: "table-pager",
            alternatingRowStyle: "altRow",
            selectedRowStyle: "selectRow",
            mode: WebGridPagerModes.All,
            columns: gridColumns)
    }
    else
    {
        <div style="color:red; margin-left:10px;">
            Không có khoản chi nào
        </div>
    }
}
<script type="text/javascript">
    function deleteExpense(id) {
        if (!confirm("Bạn có chắc chắn muốn xóa khoản chi?")) {
            return;
        }
        $.ajax({
            type: "POST",
            url: '@Url.Action("Delete", "Expense")',
            data: { 'id': id },
            success: function (data) {
                CommonJS.alert(data);
                Search();
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }

    function PrepareAddOrEdit(id,type) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("PrepareAddOrEdit", "Expense")',
            data: {
                'id': id,
                'type':type
            },
            success: function (result) {
                $("#modal-AddOrEdit").html(result);
                $("#modal-AddOrEdit").modal("show");
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }

</script>
