﻿@using IInterface.Common

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="box">
    <div class="box-header">
        <h4 class="box-title">Danh mục chi</h4>
    </div>
    <div class="box-header with-border">
        @using (Ajax.BeginForm("Search", "Expense", new AjaxOptions
        {
            HttpMethod = "get",
            UpdateTargetId = "divGridExpense"
        }, new { id = "frmSearch", @class = "form-horizontal" }))
        {
            <div class="row">
                <div class="col-md-10">
                    <div class="form-group">
                        @Html.Label("Nội dung", new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            <div class="input-group with-border">
                                <input id="MissionNameSearch" name="MissionNameSearch" class="form-control" placeholder="Nội dung" type="text" />
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="submit"> <i class="fa fa-search"></i> Tìm kiếm</button>
                                    <button class="btn btn-success" type="button" data-toggle="modal" data-target="#modal-AddOrEdit" onclick="PrepareAddOrEdit(-1, @Constants.ACTION_ADD_NEW)"><i class="fa fa-plus"></i> Thêm mới</button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<div class="box box-solid">
    <div class="box-body" id="divGridExpense">
    </div>
</div>
<div id="modal-AddOrEdit" class="modal fade" Period="dialog"></div>
<script>
    $(document).ready(function () {
        Search();
    });
    function Search() {
        $("#frmSearch").submit();
    }
</script>
