﻿@using IInterface.Models
@using IInterface.Common
@using IModel
@{
    List<PlanTargetModel> listPlanTarget = ViewData["listPlanTarget"] as List<PlanTargetModel>;
    if (listPlanTarget == null)
    {
        listPlanTarget = new List<PlanTargetModel>();
    }
    PlanModel plan = ViewData["plan"] as PlanModel;
}
@if (!listPlanTarget.Any())
{
    <span class="text-danger" style="padding-left: 10px;">Kế hoạch chưa khai báo mục tiêu</span>
}
else
{
    <table class="table table-bordered table-responsive" id="tableData">
        <thead>
            <tr class="bg-info text-white">
                <th style="width: 8%; text-align:center"></th>
                <th style="width: 10%; text-align:center">Mã hoạt động</th>
                <th style="width: 60%; text-align:center">Tên hoạt động</th>
                @if (plan.IsChange != null && plan.IsChange.Value == Constants.IS_ACTIVE)
                {
                    <th style="width: 22%; text-align:center">Chi tiết thay đổi</th>
                }
                else
                {
                    <th style="width: 22%; text-align:center">Trạng thái</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (PlanTargetModel pt in listPlanTarget)
                {
                <tr class="success">
                    <td class="text-center" style="vertical-align: middle">
                        @if (pt.IsChosen)
                        {
                            <a href="javascript:void(0)"><i class="fa fa-check-square-o text-success"></i></a>
                        }
                    </td>
                    <td class="text-center" style="vertical-align: middle"><strong>@pt.TargetCode</strong></td>
                    <td style="vertical-align: middle"><strong>@pt.PlanTargetContent</strong></td>
                    <td class="text-center" style="vertical-align: middle">
                        @if (pt.IsChosen && pt.ApproveStatus != null)
                        {
                            <span class="label label-info">Đã xem xét</span>
                        }
                    </td>
                </tr>
                if (pt.ListPlanTargetActionModel != null && pt.ListPlanTargetActionModel.Any())
                {
                    foreach (var pta in pt.ListPlanTargetActionModel)
                    {
                        <tr>
                            <td class="text-center" style="vertical-align: middle">
                                @if (pta.IsChosen)
                                {
                                    <a href="javascript:void(0)"><i class="fa fa-check-square-o text-success"></i></a>
                                }
                            </td>
                            <td class="text-center" style="vertical-align: middle">@pta.ActionCode</td>
                            <td style="vertical-align: middle">@pta.ActionContent</td>
                            @if (plan.IsChange != null && plan.IsChange.Value == Constants.IS_ACTIVE)
                            {
                                <td class="text-center" style="vertical-align: middle">
                                    @pta.SettleDescription
                                </td>
                            }
                            else
                            {
                                <td class="text-center" style="vertical-align: middle">
                                    @if (pt.IsChosen && pt.ApproveStatus != null)
                                {
                                        <span class="label label-info">Đã xem xét</span>
                                    }
                                </td>
                            }
                        </tr>
                    }
                }
            }
        </tbody>
    </table>
}
<script type="text/javascript">
    $(document).ready(function () {
        $("#tableData").freezeHeader();
    });
</script>