﻿@using IInterface.Models
@using IInterface.Common
@using IModel
@{
    List<PlanTargetModel> listPlanTarget = ViewData["listPlanTarget"] as List<PlanTargetModel>;
    if (listPlanTarget == null)
    {
        listPlanTarget = new List<PlanTargetModel>();
    }
}
@if (!listPlanTarget.Any())
{
    <span class="text-danger" style="padding-left: 10px;">Kế hoạch chưa khai báo mục tiêu</span>
}
else
{
    <table class="table table-bordered table-responsive" id="tableData">
        <thead>
            <tr class="bg-info text-white">
                <th style="width: 8%; text-align:center"></th>
                <th style="width: 10%; text-align:center">Mã hoạt động</th>
                <th style="width: 82%; text-align:center">Tên hoạt động</th>
            </tr>
        </thead>
        <tbody>
            @foreach (PlanTargetModel pt in listPlanTarget)
                {
                <tr class="success">
                    <td class="text-center" style="vertical-align: middle">
                        @if (pt.IsChosen)
                        {
                            <input type="checkbox" value="@pt.PlanTargetID" checked id="target_@pt.PlanTargetID" onclick="checkAll(this)" />
                        }
                        else
                        {
                            <input type="checkbox" value="@pt.PlanTargetID" id="target_@pt.PlanTargetID" onclick="checkAll(this)" />
                        }
                    </td>
                    <td class="text-center" style="vertical-align: middle"><strong>@pt.TargetCode</strong></td>
                    <td style="vertical-align: middle"><strong>@pt.PlanTargetContent</strong></td>
                </tr>
                if (pt.ListPlanTargetActionModel != null && pt.ListPlanTargetActionModel.Any())
                {
                    foreach (var pta in pt.ListPlanTargetActionModel)
                    {
                        <tr>
                            <td class="text-center" style="vertical-align: middle">
                                @if (pta.IsChosen)
                                {
                                    <input type="checkbox" checked par="target_@pt.PlanTargetID" onclick="checkOne(this)" name="PlanTargetActionIDs" value="@pta.PlanTargetActionID" />
                                }
                                else
                                {
                                    <input type="checkbox" par="target_@pt.PlanTargetID" onclick="checkOne(this)" name="PlanTargetActionIDs" value="@pta.PlanTargetActionID" />
                                }
                            </td>
                            <td class="text-center" style="vertical-align: middle">@pta.ActionCode</td>
                            <td style="vertical-align: middle">@pta.ActionContent</td>
                        </tr>
                    }
                }
            }
        </tbody>
    </table>
}
<script type="text/javascript">
    $(document).ready(function () {
        $("#tableData").freezeHeader();
    });

    function checkOne(item) {
        var parID = $(item).attr('par');
        if (!$(item).is(':checked')) {
            $("#" + parID).prop("checked", false);
        } else {
            if ($("#tableData tbody input:checkbox[par='" + parID + "']:checked").length == $("#tableData tbody input:checkbox[par='" + parID + "']").length) {
                $("#" + parID).prop("checked", true);
            }
        }
    }

    function checkAll(item) {
        var checked = $(item).is(':checked');
        var ptID = $(item).val();
        $("#tableData tbody input:checkbox[par='target_" + ptID + "']").prop("checked", checked);
    }
</script>