﻿@using IInterface.Common;
@using IInterface.Models;
@{
    UserInfo user = SessionManager.GetUserInfo();
    Paginate<ChangeRequestModel> paginate = ViewData["listResult"] as Paginate<ChangeRequestModel>;
    var grid = new WebGrid(
                          rowsPerPage: paginate.PageSize,
                          canPage: true,
                          canSort: false,
                          ajaxUpdateContainerId: "divGrid"
                          );

    grid.Bind(paginate.List,
    autoSortAndPage: false,
    rowCount: paginate.Count);
    grid.Pager(WebGridPagerModes.All);
}
<style>
    .Deptname {
        max-width: 200px;
    }
</style>
@{
    if (paginate.Count > 0)
    {
        var gridColumns = new List<WebGridColumn>();
        gridColumns.Add(grid.Column("DepartmentName", "Đơn vị", style: "Deptname"));
        gridColumns.Add(grid.Column("PeriodName", "Giai đoạn"));
        gridColumns.Add(grid.Column(header: "Ngày tạo", format: (x) => string.Format("{0:dd/MM/yyyy HH:mm:ss}", x.CreateDate)));
        gridColumns.Add(grid.Column("Status", "Trạng thái", format: @<text>
        @if (item.Status == Constants.PLAN_APPROVED)
        {
            <span class="label label-success">Phê duyệt</span>
        }
        else if ((item.Status == Constants.PERIOD_NEXT_LEVER))
        {
            <span class="label label-info">Đang xem xét</span>
        }
        else
        {
            <span class="label label-primary">Dự thảo</span>
        }
        </text>));
        gridColumns.Add(grid.Column(format: @<text>
            @if (item.Role >= Constants.ROLE_VIEW || item.Role == Constants.ROLE_AFTER_APPROVE)
            {
                <a href="@Url.Action("View", "ChangeRequest", new { ChangeRequestID = item.ChangeRequestID })" data- data-toggle="tooltip" title="Xem chi tiết thông tin"><i class="fa fa-eye" style="font-size:16px"></i></a>
            }
            @if (item.Status != Constants.PERIOD_APPROVED)
            {
                if (item.Role >= Constants.ROLE_EDIT)
                {
                    <a href="@Url.Action("AddOrEdit", "ChangeRequest", new { ChangeRequestID = item.ChangeRequestID })" data- data-toggle="tooltip" title="Cập nhật yêu cầu"><i class="fa fa-edit" style="font-size:16px"></i></a>
                    if (user.DepartmentID.GetValueOrDefault() == item.DepartmentID)
                    {
                        <a href="javascript:void(0)" onclick="send(@item.ChangeRequestID)" da data-toggle="tooltip" title="Gửi yêu cầu"><i class="fa fa-send-o" style="font-size:16px"></i></a>
                    }
                    else
                    {
                        <a href="javascript:void(0)" onclick="unlock(@item.ChangeRequestID)" data- data-toggle="tooltip" title="Mở khóa cho đơn vị cấp dưới điều chỉnh"><i class="fa fa-unlock" style="font-size:16px"></i></a>
                        if (item.Role >= Constants.ROLE_APPROVE)
                        {
                            <a href="javascript:void(0)" onclick="approve(@item.ChangeRequestID)" da data-toggle="tooltip" title="Phê duyệt yêu cầu"><i class="fa fa-check-circle-o" style="font-size:16px"></i></a>
                        }
                        else
                        {
                            <a href="javascript:void(0)" onclick="agree(@item.ChangeRequestID)" da data-toggle="tooltip" title="Gửi yêu cầu"><i class="fa fa-send-o" style="font-size:16px"></i></a>
                        }
                    }
                }
            }
            else
            {
                if (item.Role == Constants.ROLE_AFTER_APPROVE)
                {
                    <a href="javascript:void(0)" onclick="unApprove(@item.ChangeRequestID)" da data-toggle="tooltip" title="Hủy phê duyệt yêu cầu"><i class="fa fa-unlock" style="font-size:16px"></i></a>
                }
            }
            @if (item.Role >= Constants.ROLE_VIEW)
            {
                <a href="javascript:void(0)" onclick="viewHistory(@item.ChangeRequestID)" da data-toggle="tooltip" title="Xem lịch sử xem xét yêu cầu"><i class="fa fa-history" style="font-size:16px"></i></a>
            }
        </text>));
        @grid.GetHtml(htmlAttributes: new { id = "divGrid" },
                                      fillEmptyRows: false,
                                      tableStyle: "table table-hover table-striped",
                                      footerStyle: "table-pager",
                                      alternatingRowStyle: "altRow",
                                      selectedRowStyle: "selectRow",
                                      mode: WebGridPagerModes.All,
                                      columns: gridColumns)
    }
    else
    {
        <div style="color:red; margin-left:10px;">
            Không có yêu cầu nào
        </div>
    }
}
<div id="modal-review" class="modal fade" Period="dialog"></div>
<script>
    function approve(id) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("ApproveOrReject", "ChangeRequest")',
            data: { "ChangeRequestID": id, "Status": 1 },
            success: function (data) {
                CommonJS.alert(data);
                Search();
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }

    function unApprove(id) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("ApproveOrReject", "ChangeRequest")',
            data: { "ChangeRequestID": id, "Status": 0 },
            success: function (data) {
                CommonJS.alert(data);
                Search();
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }

    function unlock(id) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("Unlock", "ChangeRequest")',
            data: { "ChangeRequestID": id },
            success: function (data) {
                CommonJS.alert(data);
                Search();
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }

    function agree(id) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("Agree", "ChangeRequest")',
            data: { "ChangeRequestID": id },
            success: function (data) {
                CommonJS.alert(data);
                Search();
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }

    function send(id) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("RequestReview", "ChangeRequest")',
            data: { "ChangeRequestID": id },
            success: function (data) {
                CommonJS.alert(data);
                Search();
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }

    function deleteReport(id) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("Delete", "ChangeRequest")',
            data: { "ChangeRequestID": id },
            success: function (data) {
                CommonJS.alert(data);
                Search();
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }
    function viewHistory(ChangeRequestID) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("LoadReportHis", "ReportHistory")',
            data: { "reportID": ChangeRequestID, "reportType": '@Constants.REPORT_TYPE_CHANGE_REQUEST' },
            success: function (data) {
                $("#modal-his").html(data);
                $("#modal-his").modal("show");
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }
</script>
