﻿@using IInterface.Models
@using IInterface.Common
@using IModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    UserInfo user = SessionManager.GetUserInfo();
    PlanModel plan = ViewData["plan"] as PlanModel;
    ChangeRequest cr = ViewData["changeRequest"] as ChangeRequest;
    string des = string.Empty;
    int changeRequestID = 0;
    if (cr != null)
    {
        des = cr.Description != null ? cr.Description.Replace("\r\n", "<br />") : string.Empty;
        changeRequestID = cr.ChangeRequestID;
    }
    List<SelectListItem> listPeriod = ViewData["listPeriod"] as List<SelectListItem>;
    int isReview = cr != null && cr.DepartmentID != user.DepartmentID ? 1 : 0;
    int isFix = (ViewData["IsFix"] as int?).GetValueOrDefault();
    int role = plan.Role;
}
<script type="text/javascript" src="~/Scripts/jquery.freezeheader.js"></script>

<div class="row">
    <div class="col-lg-12">
        @using (Ajax.BeginForm("SaveRequest", "ChangeRequest", new AjaxOptions()
        {
            HttpMethod = "POST",
            OnSuccess = "onSuccess",
            OnFailure = "onFail"
        }, new { id = "frmChangeRequest" }))
        {
            <div class="box">
                <div class="box-header with-border">
                    @if (isReview == Constants.IS_ACTIVE || isFix == Constants.IS_ACTIVE)
                    {
                        <h3 class="box-title" id="divTitle">
                            <i class="fa fa-eraser"></i> YÊU CẦU THAY ĐỔI KẾ HOẠCH - @plan.PeriodName
                        </h3>
                        @Html.Hidden("PeriodID", plan.PeriodID)
                    }
                    else
                    {
                        <h3 class="box-title" id="divTitle">
                            <i class="fa fa-eraser"></i> YÊU CẦU THAY ĐỔI KẾ HOẠCH - @plan.PeriodName
                        </h3>
                        <div class="box-tools">
                            <div class="input-group">
                                @Html.DropDownList("PeriodID", listPeriod, new { @class = "form-control select2", style = "width: 100%" })
                            </div>
                        </div>
                    }
                    @Html.Hidden("ChangeRequestID", changeRequestID)
                    @Html.Hidden("nextAction", 0)
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-6">
                            <button class="btn btn-default" type="button" onclick="window.history.back();"><i class="fa fa-reply"></i> Quay lại</button>
                        </div>
                        <div class="col-md-6">
                            <div class="btn-group pull-right">
                                @if (changeRequestID > 0)
                                {
                                    if (role == Constants.ROLE_EDIT)
                                    {
                                        if (user.DepartmentID == plan.DepartmentID)
                                        {
                                            <button class="btn btn-primary" type="button" onclick="saveAndSend(@changeRequestID)"><i class="fa fa-send-o"></i> Gửi yêu cầu</button>
                                        }
                                        else
                                        {
                                            <button class="btn btn-primary" type="button" onclick="saveAndSend(@changeRequestID)"><i class="fa fa-send-o"></i> Đồng ý và gửi yêu cầu</button>
                                            <button class="btn btn-warning" type="button" onclick="saveAndSend(@changeRequestID)"><i class="fa fa-unlock"></i> Mở khóa</button>
                                        }
                                    }
                                    else if (role == Constants.ROLE_APPROVE)
                                    {
                                        <button class="btn btn-primary" type="button" onclick="saveAndApprove(@changeRequestID)"><i class="fa fa-check"></i> Phê duyệt</button>
                                        <button class="btn btn-warning" type="button" onclick="saveAndSend(@changeRequestID)"><i class="fa fa-unlock"></i> Từ chối duyệt</button>
                                    }
                                }
                                <button class="btn btn-success" type="submit"><i class="fa fa-floppy-o"></i> Lưu thông tin</button>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-12" id="divGridSubActionPlan">
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="exampleInput">Ghi chú:</label>
                                @if (isReview == 0)
                                {
                                    <textarea class="form-control" id="Description" name="Description" placeholder="Ghi chú">@des</textarea>
                                }
                                else
                                {
                                    @Html.Raw(des)
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('select').select2();
        var isReview = @isReview;
        if (isReview == 0) {
            $("#PeriodID").change(function() {
                loadActionInfo();
            });
        }
        loadActionInfo();
    });

    var isReview = @isReview;
    var isFix = @isFix;
    function loadActionInfo() {
        var PeriodID = $('#PeriodID').val();
        var ChangeRequestID = $('#ChangeRequestID').val();
        $.ajax({
            type: "POST",
            url: '@Url.Action("LoadAction", "ChangeRequest")',
            data: { "PeriodID": PeriodID, "ChangeRequestID": ChangeRequestID },
            success: function (data) {
                if(isReview == 0 && isFix == 0){
                    $('#divTitle').html('<i class="fa fa-eraser"></i> YÊU CẦU THAY ĐỔI KẾ HOẠCH - ' + $("#PeriodID :selected").text());
                }
                $('#divGridSubActionPlan').html(data);
            },
            error: function (xhr) {
                $('#divGridSubActionPlan').html("");
                CommonJS.alert(xhr.responseText);
            }
        });
    }

    function saveAndSend(id){
        $("#nextAction").val(1);
        $("#frmChangeRequest").submit();
    }
    function saveAndApprove(id){
        $("#nextAction").val(2);
        $("#frmChangeRequest").submit();
    }

    function onSuccess(msg) {
        var nextAction = $("#nextAction").val();
        if(nextAction == 1){
            var ChangeRequestID = $('#ChangeRequestID').val();
            if(isReview == 0){
                send(ChangeRequestID);
            } else {
                agree(ChangeRequestID);
            }
        } else if(nextAction == 2){
            var ChangeRequestID = $('#ChangeRequestID').val();
            approve(ChangeRequestID);
        } else {
            CommonJS.alert(msg);
        }
        $("#nextAction").val(0);
    }

    function onFail(xhr) {
        CommonJS.alert(xhr.responseText);
    }
    function approve(id) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("ApproveOrReject", "ChangeRequest")',
            data: { "ChangeRequestID": id, "Status": 1 },
            success: function (data) {
                CommonJS.alert(data);
                setTimeout(function () { location.href = "/ChangeRequest/View?ChangeRequestID=" + id }, 3000);
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }

    function unApprove(id) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("ApproveOrReject", "ChangeRequest")',
            data: { "ChangeRequestID": id, "Status": 0 },
            success: function (data) {
                CommonJS.alert(data);
                setTimeout(function () { location.href = "/ChangeRequest/View?ChangeRequestID=" + id }, 3000);
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }

    function unlock(id) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("Unlock", "ChangeRequest")',
            data: { "ChangeRequestID": id },
            success: function (data) {
                CommonJS.alert(data);
                setTimeout(function () { location.href = "/ChangeRequest/View?ChangeRequestID=" + id }, 3000);
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }

    function agree(id) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("Agree", "ChangeRequest")',
            data: { "ChangeRequestID": id },
            success: function (data) {
                CommonJS.alert(data);
                setTimeout(function () { location.href = "/ChangeRequest/View?ChangeRequestID=" + id }, 3000);
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }

    function send(id) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("RequestReview", "ChangeRequest")',
            data: { "ChangeRequestID": id },
            success: function (data) {
                CommonJS.alert(data);
                setTimeout(function () { location.href = "/ChangeRequest/View?ChangeRequestID=" + id }, 3000);
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }

    function viewHistory(ChangeRequestID) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("LoadReportHis", "ReportHistory")',
            data: { "reportID": ChangeRequestID, "reportType": '@Constants.REPORT_TYPE_CHANGE_REQUEST' },
            success: function (data) {
                $("#modal-his").html(data);
                $("#modal-his").modal("show");
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }

</script>