﻿@using IInterface.Models
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    List<SelectListItem> listPeriod = ViewData["listPeriod"] as List<SelectListItem>;
}
<script type="text/javascript" src="~/Scripts/jquery.freezeheader.js"></script>
<div class="row">
    <div class="col-lg-12">
        <div class="box">
            <div class="box-header with-border">
                @using (Ajax.BeginForm("SearchDept", "ChangeRequest", new AjaxOptions
                {
                    HttpMethod = "get",
                    UpdateTargetId = "divGridResult"
                }, new { id = "frmSearch", @class = "form-horizontal" }))
                {
                    <div class="input-group">
                        @Html.DropDownList("PeriodID", listPeriod, new { @class = "form-control ui-selet2" })
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit"> <i class="fa fa-search"></i> Tìm kiếm</button>
                            <button class="btn btn-success" type="button" onclick="@Url.Action("AddOrEdit", "ChangeRequest")"><i class="fa fa-plus"></i> Thêm mới</button>
                        </span>
                    </div>
                }
            </div>
            <div class="box-body">
                <br />
                <div class="row">
                    <div class="col-lg-12" id="divGridResult">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="modal-his" class="modal fade" role="dialog">
</div>
<script>
    $(document).ready(function () {
        $(".ui-selet2").select2();
        Search();
    });
    function Search() {
        $("#frmSearch").submit();
    }
</script>
