﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    List<SelectListItem> listPeriod = ViewData["listPeriod"] as List<SelectListItem>;
    List<SelectListItem> listDepartment = ViewData["listDepartment"] as List<SelectListItem>;
}

<div class="row">
    <div class="col-lg-12">
        <div class="box">
            <div class="box-header with-border">
                @using (Ajax.BeginForm("SearchReview", "ChangeRequest", new AjaxOptions
                {
                    HttpMethod = "get",
                    UpdateTargetId = "divResult"
                }, new { id = "frmSearch" }))
                {
                    <div class="form-horizontal">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.Label("Đơn vị", new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.DropDownList("DeptID", listDepartment, new { id = "DeptID", @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    @Html.Label("Giai đoạn", new { @class = "control-label col-md-3" })
                                    <div class="col-md-9">
                                        @Html.DropDownList("PeriodID", listPeriod, new { @class = "form-control ui-selet2" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <button class="btn btn-primary pull-right" type="submit"> <i class="fa fa-search"></i> Tìm kiếm</button>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="box-body">
                <br />
                <div class="row">
                    <div class="col-lg-12" id="divResult">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="modal-his" class="modal fade" role="dialog">
</div>
<script>
    $(document).ready(function () {
        $("#frmSearch select").select2();
        Search();
    });
    function Search() {
        $("#frmSearch").submit();
    }
</script>
