﻿@using IInterface.Models
@using IInterface.Common
@using IModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    List<PlanTargetModel> lstTarget = ViewData["listTarget"] as List<PlanTargetModel>;
    PlanModel plan = ViewData["plan"] as PlanModel;
    ChangeRequest cr = ViewData["changeRequest"] as ChangeRequest;
    string des = string.Empty;
    if (cr != null)
    {
        des = cr.Description != null ? cr.Description.Replace("\r\n", "<br />") : string.Empty;
    }
}
<script type="text/javascript" src="~/Scripts/jquery.freezeheader.js"></script>

<div class="row">
    <div class="col-lg-12">
        <div class="box">
            <div class="box-body">
                <div class="box-header with-border">
                    <h3 class="box-title" id="divTitle">
                        <i class="fa fa-eraser"></i> YÊU CẦU THAY ĐỔI KẾ HOẠCH - @plan.PeriodName
                    </h3>
                </div>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-md-6">
                        <button class="btn btn-default" type="button" onclick="window.history.back();"><i class="fa fa-reply"></i> Quay lại</button>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-12">
                        @Html.Partial("_ListActionView")
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="exampleInput">Ghi chú:</label>
                            <br />
                            @if (!string.IsNullOrWhiteSpace(des)){ 
                                @Html.Raw(des.Replace("\n", "<br />"))
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>