﻿
@using IInterface.Common;
@using IInterface.Models;

@model SubActionPlanModel

@{
    List<SelectListItem> lstSpendItem = ViewData["ListSpendItem"] as List<SelectListItem>;
}
<div class="modal-dialog modal-lg">
    <div class="modal-content">
        @using (Ajax.BeginForm("AddSpendItem", "PlanCost", new AjaxOptions()
        {
            HttpMethod = "POST",
            OnFailure = "onFail",
            OnSuccess = "onAddSpendSuccess",
        }, new { id = "frmSpendItem" }))
        {
            <div class="modal-header">
                <input type="hidden" id="idpar" />
                <input type="hidden" name="id" id="id" />
                <input type="hidden" name="type" id="type" />
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="titleSpend"></h4>
            </div>
            <div class="modal-body">
                <input type="hidden" id="SubActionPlanID" />
                <div class="row" id="divSpendItemList">
                    <div class="col-md-12">
                        <div class="input-group">
                            <span class="input-group-addon">Danh mục chi</span>
                            @Html.DropDownList("SpendItemID", lstSpendItem, new { placeholder = "Mục chi", @class = "form-control", id = "SpendItemID" })
                            <span class="input-group-btn">
                                <button class="btn btn-success" type="button" onclick="loadSpendItem()"> <i class="fa fa-plus"></i> Thêm</button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row" style="padding-top: 5px;">
                    <div class="col-md-12">
                        <button type="button" class="btn btn-success pull-right" onclick="addSpendItem()">
                            <i class="fa fa-plus"></i>
                            Thêm mục chi khác
                        </button>
                    </div>                    
                </div>
                <br />
                <div class="row">
                    <div class="col-md-12" id="divOtherItem">
                        @Html.Partial("_ListSubSpendItem")
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="btn-group">
                    <button type="submit" class="btn btn-success">
                        <i class="fa fa-save"></i>
                        Lưu
                    </button>
                    <button type="button" data-dismiss="modal" class="btn btn-default"><i class="fa fa-ban"></i> Hủy</button>
                </div>
            </div>
        }
    </div>
</div>
<script type="text/javascript">
    function addSpendItem() {
        var markup = "<tr><td style='width: 15%;'><input type='text' name='spendCodes' class='form-control' /></td>" +
            "<td style='width: 75%;'><input type='hidden' name='spendIDs' class='form-control' /><input type='text' name='spendContents' class='form-control' /></td>" +
            "<td style='text-align:center'><button type='button' class='btn btn-danger' title='Xóa mục chi' onclick='removeSpendItem(this)'><i class='fa fa-trash-o'></i></button></td></tr>";
        $("#tblSpendItem tbody").append(markup);
    }

    function removeSpendItem(item) {
        console.log($(item).closest('tr'));
        var tr = $(item).closest('tr');
        tr.remove();
    }

    function loadSpendItem() {
        var spendID = $("#SpendItemID").val();
        $.ajax({
            type: "POST",
            url: '@Url.Action("LoadSpendItem", "PlanCost")',
            data: { "spendID": spendID },
            success: function (data) {
                $("#divOtherItem").html(data);
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }

    function onShowHideSubOther(item) {
        $('#tblSpendItem tbody').empty();
        if ($(item).is(':checked')) {
            $(item).attr("value", "true");
            $("#frmSpendItem #divSpendItemList").hide();
        } else {
            $(item).attr("value", "false");
            $("#frmSpendItem #divSpendItemList").show();
        }
    }

    function findLastChild(tr) {
        var id = tr.attr('id');
        var countChild = 0;
        var lastChild;
        $('#divGridSubActionPlan table tr[parentid="' + id + '"]').each(function () {
            countChild++;
            lastChild = $(this);
        });
        if (countChild == 0) {
            return tr;
        } else {
            return findLastChild(lastChild);
        }
    }

    function onAddSpendSuccess(data) {        
        var id = $('#frmSpendItem #idpar').val();
        var children = $('#divGridSubActionPlan table tr[parentid="' + id + '"]')
        if (children.length == 0) {
            $('#frmPlanCost').submit();
        } else {
            CommonJS.alert("Thêm hạng mục chi thành công"); 
            var tr = findLastChild($('#' + id));
            tr.after(data);
            var id = $('#frmSpendItem #id').val();
            $('#divGridSubActionPlan table #div_title_' + id).addClass('text-bold');
            $('#divGridSubActionPlan table #div_name_' + id).addClass('text-bold');
        }
    }
</script>
