﻿@using IInterface.Common;
@using IInterface.Models;
<div class="modal-dialog">
    <div class="modal-content">
        @using (Ajax.BeginForm("UpdateSumCostType", "PlanCost", new AjaxOptions()
        {
            HttpMethod = "POST",
            OnFailure = "onFail",
            OnSuccess = "onConfigSumCostTypeSuccess",
        }, new { id = "frmConfigSumItem" }))
        {
            <div class="modal-header">
                @Html.Hidden("actionID")
                @Html.Hidden("actionType")
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="divTitleConfigSum"></h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="col-md-6">
                                <div class="input-group">
                                    <label class="radio-inline input-group-addon text-left" style="border: 0px !important;">
                                        @Html.RadioButton("SumCostType", Constants.SUM_COST_TYPE_TOTAL) Tính vào tổng giá
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="input-group">
                                    <label class="radio-inline input-group-addon text-left" style="border: 0px !important;">
                                        @Html.RadioButton("SumCostType", Constants.SUM_COST_TYPE_PRICE) Tính vào đơn giá
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="btn-group">
                    <button type="submit" class="btn btn-success">
                        <i class="fa fa-save"></i>
                        Lưu
                    </button>
                    <button type="button" data-dismiss="modal" class="btn btn-default"><i class="fa fa-ban"></i> Hủy</button>
                </div>
            </div>
        }
    </div>
</div>
<script type="text/javascript">
    function onConfigSumCostTypeSuccess(data) {
        CommonJS.alert(data);
        var sumType = $('#frmConfigSumItem input[name="SumCostType"]:checked').val();
        var trID = $('#frmConfigSumItem #actionType').val() + "_" + $('#frmConfigSumItem #actionID').val();
        var tr = $('#divGridSubActionPlan #' + trID);
        var nowType = tr.attr('sumType');
        tr.find('input[name="Price"]').each(function () {
            if (nowType != sumType) {
                var year = $(this).attr('year');
                if (sumType == 1) {
                    tr.find('input[name="TotalPrice"][year="' + year + '"]:first').val($(this).val());
                    var quanInput = tr.find('input[name="Quantity"][year="' + year + '"]:first');
                    quanInput.val("");
                    quanInput.attr("readonly", "");
                    $(this).attr("readonly", "");
                    $(this).val('');
                    quanInput.addClass("text-only-view");
                    $(this).addClass("text-only-view");
                } else if (sumType == 2) {
                    $(this).val(tr.find('input[name="TotalPrice"][year="' + year + '"]:first').val());
                    tr.find('input[name="TotalPrice"][year="' + year + '"]:first').val('');
                    var quanInput = tr.find('input[name="Quantity"][year="' + year + '"]:first');
                    quanInput.removeAttr("readonly");
                    $(this).attr("readonly", "");
                    quanInput.removeClass("text-only-view");
                    $(this).removeClass("text-only-view");
                }
            }
        });
        tr.attr('sumType', sumType);
        var child = tr.find('tr[parentid="' + trID + '"]:first');
        child.find('input[name="Price"]').each(function () {
            countMoneyByPrice(this);
        });
    }
</script>
