﻿@using IInterface.Common;
@using IInterface.Models;

@model SubActionSpendItemModel

<div class="modal-dialog">
    <div class="modal-content">
        @using (Ajax.BeginForm("UpdateSpendItem", "PlanCost", new AjaxOptions()
        {
            HttpMethod = "POST",
            OnFailure = "onFail",
            OnSuccess = "onEditSpendSuccess",
        }, new { id = "frmEditSpendItem" }))
        {
            <div class="modal-header">
                @Html.HiddenFor(x => x.SubActionSpendItemID)
                @Html.HiddenFor(x => x.Level)
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Cập nhật nội dung mục chi</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Mã mục chi</label>
                            @Html.TextBoxFor(x => x.SpendItemTitle, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.SpendItemTitle)
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Tên mục chi</label>
                            @Html.TextBoxFor(x => x.SpendItemName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.SpendItemName)
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group" id="divSpendItemPar">                            
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Ghi chú</label>
                            @Html.TextAreaFor(x => x.Description, new { @class = "form-control", @rows = 2 })
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="col-md-6">
                                <div class="input-group">
                                    <label class="radio-inline input-group-addon text-left" style="border: 0px !important;">
                                        @Html.RadioButtonFor(x => x.SumCostType, Constants.SUM_COST_TYPE_TOTAL) Tính vào tổng giá
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="input-group">
                                    <label class="radio-inline input-group-addon text-left" style="border: 0px !important;">
                                        @Html.RadioButtonFor(x => x.SumCostType, Constants.SUM_COST_TYPE_PRICE) Tính vào đơn giá
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="btn-group">
                    <button type="submit" class="btn btn-success">
                        <i class="fa fa-save"></i>
                        Lưu
                    </button>
                    <button type="button" data-dismiss="modal" class="btn btn-default"><i class="fa fa-ban"></i> Hủy</button>
                </div>
            </div>
        }
    </div>
</div>
<script type="text/javascript">
    function onEditSpendSuccess(data) {
        var oldParentID = $("#modalEditSpendItem #hidParentID").val();
        var newParentID = $("#modalEditSpendItem #ParentID").val();
        if (newParentID == oldParentID) {
            CommonJS.alert(data);
            $("#modalEditSpendItem").modal('toggle');
            var id = $('#frmEditSpendItem #SubActionSpendItemID').val();
            var level = $('#frmEditSpendItem #Level').val();
            if (level == '') {
                level = 0;
            }
            var title = $('#frmEditSpendItem #SpendItemTitle').val();
            var name = $('#frmEditSpendItem #SpendItemName').val();
            for (var i = 0; i < level; i++) {
                name = '&nbsp;' + name;
            }
            $('#divGridSubActionPlan table #div_title_' + id).html(title);
            $('#divGridSubActionPlan table #div_name_' + id).html(name);
            var sumType = $('#frmEditSpendItem input[name="SumCostType"]:checked').val();
            var trID = "subcost_" + id;
            var tr = $('#divGridSubActionPlan #' + trID);
            var nowType = tr.attr('sumType');
            tr.find('input[name="Price"]').each(function () {
                if (nowType != sumType) {
                    var year = $(this).attr('year');
                    if (sumType == 1) {
                        tr.find('input[name="TotalPrice"][year="' + year + '"]:first').val($(this).val());
                        $(this).val('');
                    } else if (sumType == 2) {
                        $(this).val(tr.find('input[name="TotalPrice"][year="' + year + '"]:first').val());
                        tr.find('input[name="TotalPrice"][year="' + year + '"]:first').val('');
                    }
                    countMoneyByPrice(this);
                }
            });
            tr.attr('sumType', sumType);
        } else {
            $('#frmPlanCost').submit();
        }
    }
</script>
