﻿@using IInterface.Models;
@{
    List<SubActionSpendItemModel> listSubSpendItem = ViewData["listSubSpendItem"] as List<SubActionSpendItemModel>;
}

@foreach(SubActionSpendItemModel item in listSubSpendItem)
{
    @Html.Partial("_ListSubCost", item)
}
<script type="text/javascript">
    $(function () {
        $(".currency").keyup(function (e) {
            $(this).val(format($(this).val()));
        });
        $('.currency').keypress(function (event) {
            if (event.keyCode != 46 && event.which != 46 && event.which != 8 && isNaN(String.fromCharCode(event.which))) {
                event.preventDefault();
            }
        });
    });
</script>