﻿@using IInterface.Models;
@using IInterface.Common;
@using IInterface.Common.CommonBO;
@{
    List<ChangeRequestActionModel> listChangeAction = ViewData["listChangeAction"] as List<ChangeRequestActionModel>;
    ObjectRoleBO role = ViewData["role"] as ObjectRoleBO;
}

@if (Model.ListSubActionPlan == null || Model.ListSubActionPlan.Count == 0)
{
    if (role == null || role.Role >= Constants.ROLE_EDIT
                            && (listChangeAction == null || listChangeAction.Any(x => x.ApproveStatus == Constants.IS_ACTIVE && x.PlanTargetActionID == Model.PlanTargetActionID)))
    {
        <a href="javascript:void(0)" title="Thêm mục chi" onclick="openAddSpendItem('@Model.PlanTargetActionID', '@Model.ActionContent','targetaction', 'targetaction_@Model.PlanTargetActionID')">
            <span class="fa fa-plus-square"></span>
        </a>
        if (Model.ListSubActionSpendItem != null && Model.ListSubActionSpendItem.Any())
        {
            <a href="javascript:void(0)" title="Cấu hình cách tính chi phí" onclick="openComfigSumType(this, '@Model.PlanTargetActionID', '@Model.ActionContent','targetaction')">
                <span class="fa fa-cog"></span>
            </a>
        }
    }
    <b>@Model.ActionCode</b>
}
else
{
    if (role == null || role.Role >= Constants.ROLE_EDIT
                                && (listChangeAction == null || listChangeAction.Any(x => x.ApproveStatus == Constants.IS_ACTIVE && x.PlanTargetActionID == Model.PlanTargetActionID)))
    {
        <a href="javascript:void(0)" title="Cấu hình cách tính chi phí" onclick="openComfigSumType(this, '@Model.PlanTargetActionID', '@Model.ActionContent','targetaction')">
            <span class="fa fa-cog"></span>
        </a>
    }
    <b> @Model.ActionCode </b>
}