﻿@using IInterface.Common;
@using IInterface.Common.CommonBO;
@using IInterface.Models;
@using IModel;

@{
    List<PlanTargetModel> lstSubTartget = ViewData["PlanTarget"] as List<PlanTargetModel>;
    if (lstSubTartget == null)
    {
        lstSubTartget = new List<PlanTargetModel>();
    }
    Period period = ViewData["Period"] as Period;
    Plan plan = ViewData["plan"] as Plan;
    int rangeYear = (int)ViewData["RangeYear"];
    ObjectRoleBO role = ViewData["role"] as ObjectRoleBO;

    int startYear = period.FromDate != null ? period.FromDate.Year : 0;
    int endYear = period.ToDate != null ? period.ToDate.Year : 0;
    Dictionary<int, double?> dicSumAll = new Dictionary<int, double?>();
    double sumAll = 0;

    foreach (PlanTargetModel target in lstSubTartget)
    {
        List<SubActionPlanCostModel> listCost = target.ListSubActionPlanCost;
        foreach (SubActionPlanCostModel cost in listCost)
        {
            if (dicSumAll.ContainsKey(cost.PlanYear.Value))
            {
                dicSumAll[cost.PlanYear.Value] = dicSumAll[cost.PlanYear.Value] + cost.TotalPrice.GetValueOrDefault();
            }
            else
            {
                dicSumAll[cost.PlanYear.Value] = cost.TotalPrice;
            }
        }
    }
}
<style>
    #divGridSubActionPlan input[type=text]:focus {
        width: 150px;
    }
</style>
<div class="box-body" id="divCost">
    @using (Ajax.BeginForm("SavePlanCost", "PlanCost", new AjaxOptions()
    {
        HttpMethod = "POST",
        OnBegin = "startProgress"
    }, new { id = "frmPlanCost", autocomplete = "off" }))
    {
        <div class="row">
            <div class="col-md-6">
                <button class="btn btn-default" type="button" onclick="window.history.back();"><i class="fa fa-reply"></i> Quay lại</button>
            </div>
            @if (role != null && role.Role >= Constants.ROLE_EDIT && (role.PL.GetValueOrDefault() == 0 || role.PL.GetValueOrDefault() == 3))
            {
                <div class="col-md-6">
                    <button class="btn btn-success pull-right" type="submit" id="btnSubmit"><i class="fa fa-floppy-o"></i> Lưu thông tin</button>
                </div>
            }
        </div>
        <br />
        <div class="row" id="div_progress" style="display: none">
            <div class="col-md-12">
                <div class="progress progress-sm active">
                    <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                @Html.Hidden("periodID", period.PeriodID)
                @Html.Hidden("PlanID", plan.PlanID)
                <table class="table table-bordered" id="tableData">
                    <!-- Table Header -->
                    <thead>
                        <tr class="bg-info text-white">
                            <th rowspan="2" style="text-align:center;vertical-align:middle;width:7%">Mã hoạt động </th>
                            <th rowspan="2" style="text-align:center;vertical-align:middle;width:25%">Nội dung hoạt động</th>
                            @for (int year = 0; year <= rangeYear; year++)
                            {
                                int viewYear = startYear + year;
                                <th colspan="4" style="text-align:center;vertical-align:middle;width:20%">Năm @viewYear.ToString()</th>
                            }
                            <th rowspan="2" style="text-align:center;vertical-align:middle;">Tổng NS năm <br /> @startYear + @endYear </th>
                        </tr>
                        <tr class="bg-info text-white">
                            @for (int year = 0; year < (rangeYear + 1); year++)
                            {
                                <th style="text-align:center;vertical-align:middle;width:7%">ĐVT</th>
                                <th style="text-align:center;vertical-align:middle;width:5%">Số lượng</th>
                                <th style="text-align:center;vertical-align:middle;width:8%">Đơn giá</th>
                                <th style="text-align:center;vertical-align:middle;width:9%">Thành tiền</th>
                            }

                        </tr>
                    </thead>
                    <!-- Table Header -->
                    <tbody>
                        <tr id="sumall" parentid="">
                            <td style="text-align:center;vertical-align: middle"></td>
                            <td style="text-align:center;vertical-align: middle">
                                <b>
                                    Cộng
                                </b>
                            </td>
                            @for (int i = 1; i <= (rangeYear + 1) * 4; i++)
                            {
                                string ptSCost = string.Empty;

                                if (i % 4 == 0)
                                {
                                    int year = startYear + (i / 4) - 1;
                                    ptSCost = dicSumAll.ContainsKey(year) ? dicSumAll[year].GetValueOrDefault().ToString() : "";
                                    sumAll = dicSumAll.ContainsKey(year) ? sumAll + dicSumAll[year].GetValueOrDefault() : 0.0;
                                    <td style="text-align:right">
                                        <input style="text-align:right;" year="@year" type="text" disabled name="TotalPrice" value="@ptSCost" class="currency form-control input-sm text-bold text-only-view" />
                                    </td>
                                }
                                else if (i % 4 == 1)
                                {
                                    <td colspan="3"></td>
                                }
                            }

                            <td style="text-align:right">
                                <input type="text" style="text-align:right;" disabled name="SumTotalBudget" value="@sumAll" class="currency form-control input-sm text-bold text-only-view" />
                            </td>
                        </tr>

                        @foreach (PlanTargetModel ptm in lstSubTartget)
                {
                            <tr class="success" id="target_@ptm.PlanTargetID" parentid="sumall" sumType="@Constants.SUM_COST_TYPE_TOTAL">
                                <td style="text-align:center;vertical-align: middle">
                                    <b>
                                        @ptm.TargetCode
                                    </b>
                                </td>
                                <td>
                                    <b>
                                        @ptm.PlanTargetContent
                                    </b>
                                </td>
                                @for (int i = 1; i <= (rangeYear + 1) * 4; i++)
                                {
                                    string ptSCost = string.Empty;

                                    if (i % 4 == 0)
                                    {
                                        int year = startYear + (i / 4) - 1;
                                        SubActionPlanCostModel ptCost = ptm.ListSubActionPlanCost != null ? ptm.ListSubActionPlanCost.Where(x => x.PlanYear == year).FirstOrDefault() : null;
                                        if (ptCost != null && ptCost.TotalPrice.GetValueOrDefault() > 0)
                                        {
                                            ptSCost = ptCost.TotalPrice.GetValueOrDefault().ToString();
                                        }
                                        if (ptm.ListPlanTargetActionModel != null && ptm.ListPlanTargetActionModel.Any())
                                        {
                                            <td style="text-align:right">
                                                <input style="text-align:right; background-color:#dff0d8" year="@year" type="text" disabled name="TotalPrice" value="@ptSCost" class="currency form-control input-sm text-only-view" />
                                            </td>
                                        }
                                        else if (ptCost != null)
                                        {

                                            <td style="text-align:right">
                                                <input type="hidden" name="SubCostID" value="@ptCost.SubActionPlanCostID" />
                                                <input type="hidden" name="Unit" />
                                                <input type="hidden" name="Quantity" />
                                                <input type="hidden" name="Price" />
                                                <input style="text-align:right;" year="@year" type="text" onchange="sumTotalMoney(this)" name="TotalPrice" value="@ptSCost" class="currency form-control input-sm" />
                                            </td>
                                        }
                                        else
                                        {
                                            <td style="text-align:right">
                                                <input type="hidden" name="SubCostID" value="" />
                                                <input type="hidden" name="Unit" />
                                                <input type="hidden" name="Quantity" />
                                                <input type="hidden" name="Price" />
                                                <input style="text-align:right;" year="@year" type="text" onchange="sumTotalMoney(this)" name="TotalPrice" value="@ptSCost" class="currency form-control input-sm" />
                                            </td>
                                        }
                                    }
                                    else
                                    {
                                        <td></td>
                                    }
                                }

                                <td style="text-align:right">
                                    <input type="text" style="text-align:right;background-color:#dff0d8" disabled name="SumTotalBudget" value="@ptm.TotalBudget" class="currency form-control input-sm text-only-view" />
                                </td>
                            </tr>
                            if (ptm.ListPlanTargetActionModel != null && ptm.ListPlanTargetActionModel.Any())
                            {
                                foreach (var pta in ptm.ListPlanTargetActionModel)
                                {
                                    @Html.Partial("_ListPlanTargetAction", pta)
                                }
                            }
                        }

                        <tr id="sumallLast" parentid="">
                            <td style="text-align:center;vertical-align: middle"></td>
                            <td style="text-align:center;vertical-align: middle">
                                <b>
                                    Cộng
                                </b>
                            </td>
                            @for (int i = 1; i <= (rangeYear + 1) * 4; i++)
                            {
                                string ptSCost = string.Empty;
                                if (i % 4 == 0)
                                {
                                    int year = startYear + (i / 4) - 1;
                                    ptSCost = dicSumAll.ContainsKey(year) ? dicSumAll[year].GetValueOrDefault().ToString() : "";
                                    <td style="text-align:right">
                                        <input style="text-align:right;" year="@year" type="text" disabled name="TotalPrice" value="@ptSCost" class="currency form-control input-sm text-bold text-only-view" />
                                    </td>
                                }
                                else if (i % 4 == 1)
                                {
                                    <td colspan="3"></td>
                                }
                            }

                            <td style="text-align:right">
                                <input type="text" style="text-align:right;" disabled name="SumTotalBudget" value="@sumAll" class="currency form-control input-sm text-bold text-only-view" />
                            </td>
                        </tr>
                    </tbody>

                </table>
            </div>
        </div>
    }
</div>

<script type="text/javascript">

    var format = function (num) {
        var str = num.toString().replace("$", ""), parts = false, output = [], i = 1, formatted = null;
        str = str.replace(/\,/g, "");
        if (str.indexOf(".") > 0) {
            parts = str.split(".");
            str = parts[0];
        }
        str = str.split("").reverse();
        for (var j = 0, len = str.length; j < len; j++) {
            if (str[j] != ",") {
                output.push(str[j]);
                if (i % 3 == 0 && j < (len - 1)) {
                    output.push(",");
                }
                i++;
            }
        }
        formatted = output.reverse().join("");
        return (formatted + ((parts) ? "." + parts[1].substr(0, 2) : ""));
    };
    $(function () {
        $(".currency").keyup(function (e) {
            $(this).val(format($(this).val()));
        });
        $('.currency').keypress(function (event) {
            if (event.keyCode != 46 && event.which != 46 && event.which != 8 && isNaN(String.fromCharCode(event.which))) {
                event.preventDefault();
            }
        });
        $('input[type="text"][hasquan="1"]').keypress(function (event) {
            if (event.keyCode != 46 && event.which != 46 && event.which != 8 && isNaN(String.fromCharCode(event.which))) {
                event.preventDefault();
            }
        });
    });

    function isNumberKey(evt) {
        if (event.which != 46 && event.which != 8 && isNaN(String.fromCharCode(event.which)))
            return false;
        return true;
    }

    function setSameUnit(item) {
        var year = $(item).attr('year');
        var tr = $(item).closest("tr");
        var unit = tr.find('input[name="Unit"][year="' + year + '"]:first').val();
        if (unit != null && $.trim(unit) != '') {
            tr.find('input[name="Unit"][year!="' + year + '"]:first').val(unit);
        }
    }

    function countMoneyByQuan(item){
        var year = $(item).attr('year');
        var quan = $(item).val().trim();
        var tr = $(item).closest("tr");
        var price = tr.find('input[name="Price"][year="' + year + '"]:first').val();
        var totalItem = $(tr).find('input[name="TotalPrice"][year="' + year + '"]:first');
        if(price.trim() != '' && quan != ''){
            var totalValue = parseFloat(price.replace(/\,/g, "")) * parseFloat(quan);
            totalItem.val(format(totalValue));
        } else {
            var countChild = $('#divGridSubActionPlan table tr[parentid="' + tr.attr('id') + '"]').length;
            if(countChild == 0){
                totalItem.val('');
            }
        }
        var sum = 0;
        tr.find('input[name="TotalPrice"]').each(function () {
            var val = $(this).val().replace(/\,/g, "");
            var money = val.trim() != "" ? parseFloat(val) : 0;
            sum += money;
        });
        if(sum > 0){
            tr.find('input[name="SumTotalBudget"]:first').val(format(sum));
        } else {
            tr.find('input[name="SumTotalBudget"]:first').val('');
        }
        sumMoney(tr, false);
    }

    function countMoneyByPrice(item){
        var year = $(item).attr('year');
        var price = $(item).val().trim();
        var tr = $(item).closest("tr");
        var quan = tr.find('input[name="Quantity"][year="' + year + '"]:first').val();
        var totalItem = $(tr).find('input[name="TotalPrice"][year="' + year + '"]:first');
        if(price.trim() != '' && quan != ''){
            var totalValue = parseFloat(price.replace(/\,/g, "")) * parseFloat(quan);
            totalItem.val(format(totalValue));
        } else {
            var countChild = $('#divGridSubActionPlan table tr[parentid="' + tr.attr('id') + '"]').length;
            if(countChild == 0){
                totalItem.val('');
            }
        }
        var sum = 0;
        tr.find('input[name="TotalPrice"]').each(function () {
            var val = $(this).val().replace(/\,/g, "");;
            var money = val.trim() != "" ? parseFloat(val) : 0;
            sum += money;
        });
        if(sum > 0){
            tr.find('input[name="SumTotalBudget"]:first').val(format(sum));
        } else {
            tr.find('input[name="SumTotalBudget"]:first').val('');
        }
        sumMoney(tr, false);
    }

    function sumMoney(tr, notme){
        var parentid = $(tr).attr('parentid');
        if(parentid != ''){
            var trparentid = '#divGridSubActionPlan #' + parentid;
            var startYear = @startYear;
            var endYear = @endYear;
            var sumTotal = 0;
            for(var year = startYear; year <= endYear; year++){
                var totalByYear = 0;
                var countChild = 0;
                $('#divGridSubActionPlan table tr[parentid="' + parentid + '"]').each(function () {
                    if($(this).attr('id').startsWith('subcost_')){
                        if(notme != undefined){
                            if(!notme || $(this).attr('id') != $(tr).attr('id')){
                                countChild++;
                            }
                        } else {
                            countChild++;
                        }
                    }
                    var totalItem = $(this).find('input[name="TotalPrice"][year="' + year + '"]');
                    var val = $(totalItem).val().replace(/\,/g, "");;
                    var money = val.trim() != "" ? parseFloat(val) : 0;
                    if(money > 0){
                        totalByYear += money;
                    }
                });
                var trParent = $(trparentid);
                var sumType = trParent.attr('sumType');
                if(sumType == 1){
                    trParent.find('input[name="TotalPrice"][year="' + year + '"]:first').val(format(totalByYear));
                } else if(sumType == 2){
                    trParent.find('input[name="Price"][year="' + year + '"]:first').val(format(totalByYear));
                    var quan = trParent.find('input[name="Quantity"][year="' + year + '"]:first').val();
                    if(quan != ''){
                        var totalValue = totalByYear * parseFloat(quan);
                        trParent.find('input[name="TotalPrice"][year="' + year + '"]:first').val(format(totalValue));
                    }
                } else {
                    if(countChild == 1 && trparentid.startsWith('subcost_')){
                        trParent.find('input[name="Price"][year="' + year + '"]:first').val(format(totalByYear));
                        var quan = trParent.find('input[name="Quantity"][year="' + year + '"]:first').val();
                        if(quan != ''){
                            var totalValue = totalByYear * parseFloat(quan);
                            trParent.find('input[name="TotalPrice"][year="' + year + '"]:first').val(format(totalValue));
                        }
                    } else {
                        trParent.find('input[name="TotalPrice"][year="' + year + '"]:first').val(format(totalByYear));
                    }
                }
            }
            // Tinh tong
            $('#divGridSubActionPlan table tr[parentid="' + parentid + '"]').each(function () {
                // Tinh lai tong tung dong
                var sum = 0;
                $(this).find('input[name="TotalPrice"]').each(function () {
                    var val = $(this).val().replace(/\,/g, "");;
                    var money = val.trim() != "" ? parseFloat(val) : 0;
                    sum += money;
                });
                if(sum > 0){
                    $(this).find('input[name="SumTotalBudget"]:first').val(format(sum));
                } else {
                    $(this).find('input[name="SumTotalBudget"]:first').val('');
                }
                sumTotal += sum;
            });
            $(trparentid).find('input[name="SumTotalBudget"]:first').val(format(sumTotal));
            sumMoney($(trparentid)[0], false);
        } else {
            // Thiet lap du lieu dong cuoi cung
            var sum = 0;
            var firstTr = $('#divGridSubActionPlan #sumall');
            var lastTr = $('#divGridSubActionPlan #sumallLast');
            firstTr.find('input[name="TotalPrice"]').each(function () {
                var year = $(this).attr('year');
                var val = $(this).val();
                lastTr.find('input[name="TotalPrice"][year="' + year + '"]:first').val(val);
                if(val != ''){
                    var money = parseFloat(val.replace(/\,/g, "").trim());
                    sum += money;
                }
            });
            if(sum > 0){
                sum = Math.round(sum);
                lastTr.find('input[name="SumTotalBudget"]:first').val(format(sum));
            } else {
                lastTr.find('input[name="SumTotalBudget"]:first').val('');
            }
        }
    }

    function sumTotalMoney(item){
        var tr = $(item).closest("tr");
        sumMoney(tr, false);
    }

    function IsNumeric(input) {
        return (input - 0) == input && input.length > 0;
    }

    function removeSpend(tr){
        var id = tr.attr('id');
        $('#divGridSubActionPlan table tr[parentid="' + id + '"]').each(function () {
            removeSpend($(this));
        });
        tr.remove();
    }

    function delSpendItem(id) {
        if (!confirm("Bạn có chắc chắn muốn xóa mục chi này không?")) {
            return;
        }
        $.ajax({
            url: '@Url.Action("DelSpendItem", "PlanCost")',
            data: { "id": id },
            success: function (result) {
                var tr = $('#subcost_' + id);
                var parId = tr.attr('parentid');
                var children = $('#divGridSubActionPlan table tr[parentid="' + parId + '"]')
                if (children.length == 1) {
                    $('#frmPlanCost').submit();
                } else {
                    CommonJS.alert(result);
                    tr.find('input[name="TotalPrice"]').each(function () {
                        $(this).val(0);
                    });
                    sumMoney(tr, true);
                    removeSpend(tr);
                }
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }

    function openAddSpendItem(id, name, type, idpar){
        $.ajax({
            url: '@Url.Action("OpenSpendItemPopup", "PlanCost")',
            data: { "id": id, "type": type  },
            success: function (result) {
                $("#modalSpendItem").html(result);
                $("#modalSpendItem").modal("show");
                $("#modalSpendItem #id").val(id);
                $("#modalSpendItem #type").val(type);
                $("#modalSpendItem #idpar").val(idpar);
                $("#modalSpendItem #titleSpend").html("Hạng mục chi: " + name);
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }

    function openEditSpendItemPopup(id) {
        $.ajax({
            url: '@Url.Action("LoadSpendItem", "PlanCost")',
            data: { "spendID": id },
            success: function (result) {
                $("#modalEditSpendItem").html(result);
                $("#modalEditSpendItem").modal("toggle");
                $.ajax({
                    url: '@Url.Action("GetForEditSpendItem", "PlanCost")',
                    data: { "subItemID": id },
                    success: function (result) {
                        $("#modalEditSpendItem #divSpendItemPar").html(result);
                        $('#modalEditSpendItem #divSpendItemPar select').select2();
                    },
                    error: function (xhr) {
                        CommonJS.alert(xhr.responseText);
                    }
                });
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }

    function openEditSpendItem(item, id, name, title, level, description) {
        $.ajax({
            url: '@Url.Action("GetForEditSpendItem", "PlanCost")',
            data: { "subItemID": id },
            success: function (result) {
                $("#modalEditSpendItem #divSpendItemPar").html(result);
                $('#modalEditSpendItem #divSpendItemPar select').select2();
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
        $("#modalEditSpendItem #SubActionSpendItemID").val(id);
        $("#modalEditSpendItem #SpendItemTitle").val(title);
        $("#modalEditSpendItem #SpendItemName").val(name);
        $("#modalEditSpendItem #Level").val(level);
        $("#modalEditSpendItem #Description").val(description);
        var sumType = $(item).closest("tr").attr("sumType");
        var $radios = $('#modalEditSpendItem  input:radio[name=SumCostType]');
        $radios.filter('[value=' + sumType + ']').prop('checked', true);
        $("#modalEditSpendItem").modal("show");
    }

    function openComfigSumType(item, id, name, type){
        $("#modalConfigSumCostType #actionID").val(id);
        $("#modalConfigSumCostType #actionType").val(type);
        $("#modalConfigSumCostType #divTitleConfigSum").html("Cập nhật cách tính chi phí của hoạt động: " + name);
        var sumType = $(item).closest("tr").attr("sumType");
        var $radios = $('#modalConfigSumCostType input:radio[name=SumCostType]');
        $radios.filter('[value=' + sumType + ']').prop('checked', true);
        $("#modalConfigSumCostType").modal("show");
    }
</script>
@if (role == null || role.Role < Constants.ROLE_EDIT || (role.PL.GetValueOrDefault() != 0 && role.PL.GetValueOrDefault() != 3))
{
    <style type="text/css">
        #divCost .form-control {
            background-color: transparent !important;
            border: 0 !important;
            background: transparent !important;
        }
    </style>
}
