﻿@using IInterface.Models;
@using IInterface.Common;
@using IInterface.Common.CommonBO;
@using IModel;
@model SubActionPlanModel
@{
    List<ChangeRequestActionModel> listChangeAction = ViewData["listChangeAction"] as List<ChangeRequestActionModel>;
    Period period = ViewData["Period"] as Period;
    int rangeYear = (int)ViewData["RangeYear"];

    int startYear = period.FromDate != null ? period.FromDate.Year : 0;
    int endYear = period.ToDate != null ? period.ToDate.Year : 0;
    string parentid = Model.ParentID != null ? "subaction_" + Model.ParentID.Value : "targetaction_" + Model.PlanTargetActionID.GetValueOrDefault();
    int countChild = 0;
    if (Model.ListChildSubActionPlan != null && Model.ListChildSubActionPlan.Any())
    {
        countChild = Model.ListChildSubActionPlan.Count();
    }
    if (Model.ListSubActionSpendItem != null && Model.ListSubActionSpendItem.Any())
    {
        countChild += Model.ListSubActionSpendItem.Count();
    }
    ObjectRoleBO role = ViewData["role"] as ObjectRoleBO;
}

<tr id="subaction_@Model.SubActionPlanID" parentid="@parentid" sumType="@Model.SumCostType">
    @if (Model.ListChildSubActionPlan == null || Model.ListChildSubActionPlan.Count == 0)
    {
        <td style="text-align:center">
            @if (role == null || role.Role >= Constants.ROLE_EDIT
                            && (listChangeAction == null || listChangeAction.Any(x => x.ApproveStatus == Constants.IS_ACTIVE && x.PlanTargetActionID == Model.PlanTargetActionID)))
            {
                <a href="javascript:void(0)" title="Thêm mục chi" onclick="openAddSpendItem('@Model.SubActionPlanID', '@Model.SubActionContent','subaction', 'subaction_@Model.SubActionPlanID')">
                    <span class="fa fa-plus-square"></span>
                </a>
                if (Model.ListSubActionSpendItem != null && Model.ListSubActionSpendItem.Any())
                {
                    <a href="javascript:void(0)" title="Cấu hình cách tính chi phí" onclick="openComfigSumType(this, '@Model.SubActionPlanID', '@Model.SubActionContent','subaction')">
                        <span class="fa fa-cog"></span>
                    </a>
                }
            }
            @Model.SubActionCode
        </td>
    }
    else
    {
        <td style="text-align:center">
            @if (role == null || role.Role >= Constants.ROLE_EDIT
                            && (listChangeAction == null || listChangeAction.Any(x => x.ApproveStatus == Constants.IS_ACTIVE && x.PlanTargetActionID == Model.PlanTargetActionID)))
            {
                <a href="javascript:void(0)" title="Cấu hình cách tính chi phí" onclick="openComfigSumType(this, '@Model.SubActionPlanID', '@Model.SubActionContent','subaction')">
                    <span class="fa fa-cog"></span>
                </a>
            }
            @Model.SubActionCode
        </td>
    }
    <td>
        @Model.SubActionContent
    </td>
    @for (int i = 0; i <= rangeYear; i++)
    {
        int year = i + startYear;
        SubActionPlanCostModel cost = Model.ListSubActionPlanCost == null ? null : Model.ListSubActionPlanCost.Where(x => x.PlanYear == year).FirstOrDefault();
        if (cost != null)
        {
            cost.CountChild = countChild;
            cost.SumCostType = Model.SumCostType;
        }
        @Html.Partial("_ListYearCost", cost);
    }
    <td>
        <input type="text" class="currency form-control input-sm text-only-view" name="SumTotalBudget" readonly="readonly" value="@Model.TotalBudget" style="text-align:right">
    </td>
</tr>
@if (Model.ListChildSubActionPlan != null && Model.ListChildSubActionPlan.Any())
{
    foreach (SubActionPlanModel item in Model.ListChildSubActionPlan)
    {
        @Html.Partial("_ListSubAction", item);
    }
}
else
{
    if (Model.ListSubActionSpendItem != null && Model.ListSubActionSpendItem.Any())
    {
        foreach (SubActionSpendItemModel item in Model.ListSubActionSpendItem)
        {
            @Html.Partial("_ListSubCost", item);
        }
    }
}