﻿@using IInterface.Models;
@using IInterface.Common;
@using IInterface.Common.CommonBO;
@using IModel;
@model PlanTargetActionModel
@{
    List<ChangeRequestActionModel> listChangeAction = ViewData["listChangeAction"] as List<ChangeRequestActionModel>;
    string parentID = "target_" + Model.PlanTargetID;
    Period period = ViewData["Period"] as Period;
    int startYear = period.FromDate != null ? period.FromDate.Year : 0;
    int endYear = period.ToDate != null ? period.ToDate.Year : 0;
    int rangeYear = endYear - startYear;
    int countChild = 0;
    if (Model.ListSubActionPlan != null && Model.ListSubActionPlan.Any())
    {
        countChild = Model.ListSubActionPlan.Count();
    }
    if (Model.ListSubActionSpendItem != null && Model.ListSubActionSpendItem.Any())
    {
        countChild += Model.ListSubActionSpendItem.Count();
    }
    ObjectRoleBO role = ViewData["role"] as ObjectRoleBO;
}

<tr id="targetaction_@Model.PlanTargetActionID" parentid="target_@Model.PlanTargetID" sumType="@Model.SumCostType">
    @if (Model.ListSubActionPlan == null || Model.ListSubActionPlan.Count == 0)
    {
        <td style="text-align:center">
            @if (role == null || role.Role >= Constants.ROLE_EDIT
                    && (listChangeAction == null || listChangeAction.Any(x => x.ApproveStatus == Constants.IS_ACTIVE && x.PlanTargetActionID == Model.PlanTargetActionID)))
            {
                <a href="javascript:void(0)" title="Thêm mục chi" onclick="openAddSpendItem('@Model.PlanTargetActionID', '@Model.ActionContent','targetaction', 'targetaction_@Model.PlanTargetActionID')">
                    <span class="fa fa-plus-square"></span>
                </a>
                if (Model.ListSubActionSpendItem != null && Model.ListSubActionSpendItem.Any())
                {
                    <a href="javascript:void(0)" title="Cấu hình cách tính chi phí" onclick="openComfigSumType(this, '@Model.PlanTargetActionID', '@Model.ActionContent','targetaction')">
                        <span class="fa fa-cog"></span>
                    </a>
                }
            }
            <b>@Model.ActionCode</b>
        </td>
    }
    else
    {
        <td style="text-align:center">
            @if (role == null || role.Role >= Constants.ROLE_EDIT
                        && (listChangeAction == null || listChangeAction.Any(x => x.ApproveStatus == Constants.IS_ACTIVE && x.PlanTargetActionID == Model.PlanTargetActionID)))
            {
                <a href="javascript:void(0)" title="Cấu hình cách tính chi phí" onclick="openComfigSumType(this, '@Model.PlanTargetActionID', '@Model.ActionContent','targetaction')">
                    <span class="fa fa-cog"></span>
                </a>
            }
            <b> @Model.ActionCode </b>
        </td>
    }
    <td>
        <b>@Model.ActionContent</b>
    </td>
    @for (int i = 0; i <= rangeYear; i++)
    {
        int year = i + startYear;
        SubActionPlanCostModel cost = Model.ListSubActionPlanCost == null ? null : Model.ListSubActionPlanCost.Where(x => x.PlanYear == year).FirstOrDefault();
        if (cost != null)
        {
            cost.CountChild = countChild;
            cost.SumCostType = Model.SumCostType;
        }
        @Html.Partial("_ListYearCost", cost);
    }
    <td>
        <input type="text" class="currency form-control input-sm text-only-view" name="SumTotalBudget" readonly="readonly" value="@Model.TotalBudget" style="text-align:right">
    </td>
</tr>
@if (Model.ListSubActionPlan != null && Model.ListSubActionPlan.Any())
{
    foreach (SubActionPlanModel item in Model.ListSubActionPlan)
    {
        @Html.Partial("_ListSubAction", item);
    }
}
else
{
    if (Model.ListSubActionSpendItem != null && Model.ListSubActionSpendItem.Any())
    {
        foreach (SubActionSpendItemModel item in Model.ListSubActionSpendItem)
        {
            @Html.Partial("_ListSubCost", item);
        }
    }
}