﻿@using IInterface.Models;
@using IInterface.Common;
@using IInterface.Common.CommonBO;
@using IModel;
@model SubActionSpendItemModel
@{
    List<ChangeRequestActionModel> listChangeAction = ViewData["listChangeAction"] as List<ChangeRequestActionModel>;
    Period period = ViewData["Period"] as Period;
    int rangeYear = (int)ViewData["RangeYear"];

    int startYear = period.FromDate != null ? period.FromDate.Year : 0;
    int endYear = period.ToDate != null ? period.ToDate.Year : 0;
    string parentid = Model.ParentID != null ? "subcost_" + Model.ParentID.Value :
        (Model.SubActionPlanID != null ? "subaction_" + Model.SubActionPlanID.Value : "targetaction_" + Model.PlanTargetActionID.Value);
    string spendType = Model.SpendItemID == null ? "spendItemOther" : "spendItem";
    if (Model.ParentID == null)
    {
        Model.Level = 1;
    }
    ObjectRoleBO role = ViewData["role"] as ObjectRoleBO;
    string className = "";
    if (Model.IsParent)
    {
        className += "text-bold";
        if (Model.IsChangeName)
        {
            className += " text-primary";
        }
    }
    else if (Model.IsChangeName)
    {
        className = "text-primary";
    }
}

<tr id="subcost_@Model.SubActionSpendItemID" parentid="@parentid" sumType="@Model.SumCostType">
    <td style="text-align:center">
        @if (role == null || role.Role >= Constants.ROLE_EDIT
                        && (listChangeAction == null || listChangeAction.Any(x => x.ApproveStatus == Constants.IS_ACTIVE && x.PlanTargetActionID == Model.PlanTargetActionID)))
        {
            <a title="Xóa mục chi" href="javascript:void(0)" onclick="delSpendItem(@Model.SubActionSpendItemID)">
                <span class="fa fa-trash-o text-danger"></span>
            </a>
            if (Model.SpendItemID == null || Model.SpendItemID.Value <= 0)
            {
                <a title="Sửa mục chi" href="javascript:void(0)" onclick="openEditSpendItemPopup(@Model.SubActionSpendItemID)">
                    <span class="fa fa-edit"></span>
                </a>
            }
            <a title="Thêm mục chi" href="javascript:void(0)" onclick="openAddSpendItem('@Model.SubActionSpendItemID', '@Utils.GetStandardString(Model.SpendItemName).Replace("'", "\\'")','@spendType', 'subcost_@Model.SubActionSpendItemID')">
                <span class="fa fa-plus-square"></span>
            </a>
        }
        <div class="@className" id="div_title_@Model.SubActionSpendItemID">@Model.SpendItemTitle</div>
    </td>
    <td>
        <div id="div_name_@Model.SubActionSpendItemID" class="@className">
            @for (int i = 0; i < Model.Level; i++)
            {
                <text>&nbsp;</text>
            }
            @if (!string.IsNullOrWhiteSpace(Model.Description))
            {
                <a title="@Model.Description" href="javascript:void(0)">
                    @Model.SpendItemName
                </a>
            }
            else
            {
                <text>@Model.SpendItemName</text>
}
        </div>
    </td>
    @for (int i = 0; i <= rangeYear; i++)
    {
        int year = startYear + i;
        SubActionPlanCostModel cost = Model.ListSubActionPlanCost == null ? null : Model.ListSubActionPlanCost.Where(x => x.PlanYear == year).FirstOrDefault();
        if (Model.ListChild != null && Model.ListChild.Any())
        {
            cost.CountChild = Model.ListChild.Count;
            cost.SumCostType = Model.SumCostType;
        }
        @Html.Partial("_ListYearCost", cost);
    }
    <td>
        <input type="text" class="currency form-control input-sm text-only-view" name="SumTotalBudget" readonly="readonly" value="@Model.TotalPrice" style="text-align:right">
    </td>
</tr>
@if (Model.ListChild != null && Model.ListChild.Any())
{
    foreach (SubActionSpendItemModel item in Model.ListChild)
    {
        item.Level = Model.Level + 1;
        @Html.Partial("_ListSubCost", item);
    }
}