﻿@using IInterface.Models;
@{
    List<ExpenseModel> lstSpendItem = ViewData["listSpendItem"] as List<ExpenseModel>;
}

<table class="table table-bordered" id="tblSpendItem">
    <thead>
        <tr>
            <th style="text-align: center; vertical-align: middle; width: 15%;">
                Mã mục chi
            </th>
            <th style="text-align: center; vertical-align: middle; width: 75%;">
                Tên mục chi
            </th>
            <th style="text-align: center; vertical-align: middle; width: 10%;">
            </th>
        </tr>
    </thead>
    <tbody>
        @if (lstSpendItem != null && lstSpendItem.Any())
        {
            int idx = 0;
            foreach (ExpenseModel item in lstSpendItem)
            {
                <tr>
                    <td style="width: 15%;">
                        <input type="text" name="spendCodes" class="form-control" />
                    </td>
                    <td style="width: 75%;">
                        <input type="hidden" name="spendIDs" value="@item.SpendItemID" />
                        <input type="text" name="spendContents" class="form-control" value="@item.SpenContent" />
                    </td>
                    <td style="text-align:center">
                        @if (idx++ > 0)
                        {
                            <button type="button" class="btn btn-danger" title="Xóa mục chi" onclick="removeSpendItem(this)"><i class="fa fa-trash-o"></i></button>
                        }
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
