﻿@using IInterface.Models;
@model SubActionSpendItemModel
@{
    List<SelectListItem> listParent = ViewData["listParent"] as List<SelectListItem>;
}
<label>Mục chi cha</label>
<input type="hidden" id="hidParentID" value="@Model.ParentID" />
@Html.DropDownListFor(x => x.ParentID, listParent, new { id = "ParentID", @class = "form-control", style = "width:100%" })