﻿@using IInterface.Models;
@using IInterface.Common;
@using IInterface.Common.CommonBO;
@model SubActionPlanCostModel

@{
    ObjectRoleBO role = ViewData["role"] as ObjectRoleBO;
    List<ChangeRequestActionModel> listChangeAction = ViewData["listChangeAction"] as List<ChangeRequestActionModel>;
    int subCostID = Model == null ? 0 : Model.SubActionPlanCostID;
    string unit = Model == null ? string.Empty : Model.Unit;
    double? quan = Model == null ? null : Model.Quantity;
    double? Price = Model == null ? null : Model.Price;
    double? TotalPrice = Model == null ? null : Model.TotalPrice;
    int countChild = Model == null ? 0 : Model.CountChild;
    string sReadOnly = "";
    string classView = "";
    string quanView = string.Empty;
    string quanReadOnly = string.Empty;
    if (countChild > 0 || (listChangeAction != null && !listChangeAction.Any(x => x.ApproveStatus == Constants.IS_ACTIVE && x.PlanTargetActionID == Model.PlanTargetAcionID)))
    {
        sReadOnly = "readonly";
        classView = "text-only-view";
        if (Model.SumCostType == null && countChild > 1)
        {
            quanView = "text-only-view";
            quanReadOnly = "readonly";
        }
        else if (Model.SumCostType.GetValueOrDefault() == Constants.SUM_COST_TYPE_TOTAL)
        {
            quanView = "text-only-view";
            quanReadOnly = "readonly";
        }
        if (listChangeAction != null && !listChangeAction.Any(x => x.ApproveStatus == Constants.IS_ACTIVE && x.PlanTargetActionID == Model.PlanTargetAcionID))
        {
            quanReadOnly = "readonly";
        }
    }
    string unitReadOnly = string.Empty;
    if (role == null || role.Role < Constants.ROLE_EDIT || (role.PL.GetValueOrDefault() != 0 && role.PL.GetValueOrDefault() != 3))
    {
        quanReadOnly = "readonly";
        sReadOnly = "readonly";
        unitReadOnly = "readonly";
    }
    string styleQuan = Model.IsQuantityChange ? "background-color:#f1c40f !important;" : "";
    string stylePrice = Model.IsPriceChange ? "background-color:#f1c40f !important;" : "";
    string styleTotal = Model.IsTotalPriceChange ? "background-color:#f1c40f !important;" : "";
}
<td style="text-align:center">
    <input type="hidden" name="SubCostID" value="@subCostID" />
    <input type="text" name="Unit" @unitReadOnly year="@Model.PlanYear" class="form-control input-sm @classView" onblur="setSameUnit(this)" value="@unit" />
</td>
<td style="text-align:center;">
    <input type="text" name="Quantity" @quanReadOnly year="@Model.PlanYear" value="@quan" hasquan="1" onblur="countMoneyByQuan(this)" class="form-control input-sm @quanView" style="text-align:right;@styleQuan" />
</td>
<td style="text-align:center">
    <input type="text" name="Price" year="@Model.PlanYear" @sReadOnly value="@Price" onblur="countMoneyByPrice(this)" class="currency form-control input-sm @classView" style="text-align:right;@stylePrice" />
</td>
<td style="text-align:center">
    <input type="text" name="TotalPrice" year="@Model.PlanYear" @sReadOnly value="@TotalPrice" class="currency form-control input-sm @classView" style="text-align:right;@styleTotal" readonly="readonly" />
</td>
