﻿@using IModel;
@using IInterface.Common;
@using IInterface.Common.CommonBO;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    Period period = ViewData["Period"] as Period;
    Plan plan = ViewData["Plan"] as Plan;
    Department dept = ViewData["Dept"] as Department;
    ObjectRoleBO role = ViewData["role"] as ObjectRoleBO;
}
<style>
    .box-body {
        padding: 2px;
    }
</style>
<script type="text/javascript" src="~/Scripts/jquery.freezeheader.js"></script>

<div class="row">
    <div class="col-lg-12">
        <div class="box">
            <div class="box-body">
                <div class="box-header">
                    <h3 class="box-title">
                        <i class="fa fa-calendar-check-o"></i> Dự toán tài chính đơn vị @dept.DepartmentName.Replace("đơn vị", string.Empty).Replace("Đơn vị", string.Empty) - @period.PeriodName
                    </h3>
                </div>
            </div>
            <div class="box-body">
                <div class="row">
                    <input type="hidden" id="IsAutoSubmit" value="0" />
                    <div class="col-lg-12" id="divGridSubActionPlan">
                        @Html.Partial("_ListSubActionPlanCost")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="modalSpendItem" class="modal fade" role="dialog">
</div>
<div id="modalEditSpendItem" class="modal fade" role="dialog">
</div>
<div id="modalConfigSumCostType" class="modal fade" role="dialog">
    @Html.Partial("_ConfigSumCostType")
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#tableData").freezeHeader();
        $("#tableData").find('.currency').each(function () {
            var val = $(this).val();
            $(this).val(format(val));
        });
        setSubmit();
        var role = @role.Role;
        var editRole = @Constants.ROLE_EDIT;
        if(role >= editRole){
            startRefreshSubmit();
        }
        $("#minimizeMenu").click();
    });
    function setSubmit() {
        $('#frmPlanCost').on('submit', function (e) {
            e.preventDefault();
            $.ajax({
                url: $(this).attr('action'),
                type: "POST",
                data: $(this).serialize(),
                success: function (data) {
                    onSuccessWhenSave(data);
                },
                error: function (xhr) {
                    onFail(xhr);
                }
            });
        });
    }
    function startProgress() {
        $('#div_progress').show();
        $('#btnSubmit').attr("disabled", "disabled");
    }
    function onSuccessWhenSave(msg) {
        var IsAutoSubmit = $('#IsAutoSubmit').val();
        if(IsAutoSubmit == '0'){
            CommonJS.alert(msg);
            reloadData();
            $('#div_progress').hide();
            $('#btnSubmit').removeAttr("disabled");
        }
        $('#IsAutoSubmit').val('0');
    }

    function onFail(xhr) {
        CommonJS.alert(xhr.responseText);
        $('#div_progress').hide();
        $('#btnSubmit').removeAttr("disabled");
    }

    function startRefreshSubmit() {
        refreshProgramSpeech = setInterval(function () {
            $('#IsAutoSubmit').val('1');
            $('#frmPlanCost').submit();
            $('#div_progress').hide();
            $('#btnSubmit').removeAttr("disabled");
        }, 60000);
    }

    function reloadData() {
        $.ajax({
            type: "POST",
            url: '@Url.Action("ReloadCost", "PlanCost")',
            data: { "planID": @plan.PlanID },
            success: function (data) {
                $("#divGridSubActionPlan").html(data);
                setSubmit();
                $("#tableData").freezeHeader();
                $("#tableData").find('.currency').each(function () {
                    var val = $(this).val();
                    $(this).val(format(val));
                });
                $("#tableData").find('.currency').keypress(function (event) {
                    if (event.keyCode != 46 && event.which != 46 && event.which != 8 && isNaN(String.fromCharCode(event.which))) {
                        event.preventDefault();
                    }
                });
                $("#tableData").find('input[type="text"][hasquan="1"]').keypress(function (event) {
                    if (event.keyCode != 46 && event.which != 46 && event.which != 8 && isNaN(String.fromCharCode(event.which))) {
                        event.preventDefault();
                    }
                });
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }

</script>
<style type="text/css">
    .text-only-view {
        background-color: transparent !important;
        border: 0 !important;
        background: transparent !important;
    }
</style>