﻿@using IInterface.Models;
@using IInterface.Common;
@{
    /**/

    List<ActionReportActionIndexModel> lstActionIndex = ViewData["lstActionIndex"] as List<ActionReportActionIndexModel>;
    int? isView = ViewData["isView"] as int?;
}
<div class="col-md-12">
    <br />
    <ul class="list-group">
        <li class="list-group-item list-group-item-info">
            <i class="fa fa-star-o"></i>
            <strong>
                CHỈ SỐ HOẠT ĐỘNG
            </strong>
            @if (isView.GetValueOrDefault() == Constants.IS_NOT_ACTIVE)
            {
                <a class="pull-right btn btn-primary btn-xs" href="javascript:void(0)" onclick="ActionIndexChoice()"><i class="fa fa-plus"></i> Chọn chỉ số hoạt động</a>
            }
        </li>
        @if (lstActionIndex != null && lstActionIndex.Any())
        {
            foreach (var actionIndex in lstActionIndex)
            {
                <li class="list-group-item">
                    <a href="javascript:void(0)">
                        @if (!string.IsNullOrEmpty(actionIndex.PrefixName))
                        {
                            <text>@actionIndex.PrefixName</text>
                        }
                        @if (actionIndex.IndexValue >= 0)
                        {
                            <kbd>@actionIndex.IndexValue</kbd>
                        }
                        @if (!string.IsNullOrEmpty(actionIndex.FullIndexName))
                        {
                            <text>/@actionIndex.FullIndexName</text>
                        }
                    </a>
                    <a class="pull-right btn btn-danger btn-xs" href="javascript:void(0)" title="Xóa chỉ số hoạt động" onclick="deleteActionIndex(@actionIndex.ActionReportActionIndexID)"><i class="fa fa-trash-o"></i></a>
                </li>
            }
        }
    </ul>
</div>
<script type="text/javascript">
    function ActionIndexChoice() {
        var actionReportID = $('#frmGeneralInfo #ActionReportID').val();
        var targetID = $('#TargetChoice').val();
        $.ajax({
            type: "GET",
            url: '@Url.Action("OpenActionIndexPopup", "ActionReport")',
            data: {
                'planTargetID': targetID,
                'actionReportID': actionReportID
            },
            success: function (data) {
                $("#modal-index").html(data);
                $("#modal-index").modal("show");
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }
    function deleteActionIndex(actionReportActionIndexID) {
        var actionReportID = $('#frmGeneralInfo #ActionReportID').val();
        var targetID = $('#TargetChoice').val();
        $.ajax({
            type: "POST",
            url: '@Url.Action("RemoveActionIndex", "ActionReport")',
            data: {
                'planTargetID': targetID,
                'actionReportID': actionReportID,
                'actionReportActionIndexID': actionReportActionIndexID
            },
            success: function (data) {
                CommonJS.alert(data);
                loadReportActionIndex();
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }
</script>
