﻿@using IModel
@using IInterface.Common
@{
    double planMoney = (ViewData["planMoney"] as double?).GetValueOrDefault();
    double totalMoneyInReport = (ViewData["totalMoneyInReport"] as double?).GetValueOrDefault();
    int percent = planMoney == 0 ? 0 : Convert.ToInt32(totalMoneyInReport * 100 / planMoney);
    int reportType = (ViewData["reportType"] as int?).GetValueOrDefault();
}

<div class="form-group">
    <label class="col-md-2 control-label" for="order"></label>
    <div class="col-md-10">
        - Tổng kinh phí theo kế hoạch năm: @Utils.FormatMoney(planMoney) VNĐ
    </div>
</div>
<div class="form-group">
    <label class="col-md-2 control-label" for="order"></label>
    <div class="col-md-10">
        @if (reportType == Constants.REPORT_TYPE_QUARTER)
        {
            <text>- Tổng số kinh phí đã giải ngân: @Utils.FormatMoney(totalMoneyInReport) VNĐ (Lũy kế theo quý)</text>
        }
        else
        {
            <text>- Tổng số kinh phí đã giải ngân: @Utils.FormatMoney(totalMoneyInReport) VNĐ (Lũy kế đến ngày 31/12 của năm báo cáo)</text>
        }
    </div>
</div>
<div class="form-group">
    <label class="col-md-2 control-label" for="order"></label>
    <div class="col-md-10">
        - Tỉ lệ giải ngân: @percent % (Tính tổng kinh phí năm)
    </div>
</div>