﻿@using IInterface.Models
@using IInterface.Common
@using IModel
@model ActionReportInfoModel
@{
    List<SelectListItem> listPeriod = ViewData["listPeriod"] as List<SelectListItem>;
    List<SelectListItem> listYear = ViewData["listYear"] as List<SelectListItem>;
    List<SelectListItem> listQuarter = ViewData["listQuarter"] as List<SelectListItem>;
    List<ActionReportFileModel> listActionReportFile = ViewData["listActionReportFile"] as List<ActionReportFileModel>;
    if (listActionReportFile == null)
    {
        listActionReportFile = new List<ActionReportFileModel>();
    }
    int reportType = (ViewData["reportType"] as int?).GetValueOrDefault();
    int isReview = (ViewData["isReview"] as int?).GetValueOrDefault();
}
<div class="row">
    <div class="col-lg-12">
        <div class="box box-default">
            <div class="box-header with-border text-center">
                @if (Model.Quarter != null && Model.Quarter > 0)
                {
                    <h4 class="box-title">BÁO CÁO HOẠT ĐỘNG QUÝ @Utils.ToRoman(Model.Quarter.Value) / @Model.Year</h4>
                }
                else
                {
                    <h4 class="box-title">BÁO CÁO HOẠT ĐỘNG NĂM @Model.Year </h4>
                }
                @*<div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>*@
            </div>
            <div class="box-body">
                @using (Ajax.BeginForm("", "", new AjaxOptions()
                {
                    HttpMethod = "post"
                }, new { id = "frmGeneralInfo", @class = "form-horizontal", enctype = "multipart/form-data" }))
                {
                    <div class="form-horizontal">
                        <h4>Phần 1. THÔNG TIN CHUNG</h4>
                        <br />
                        <div class="row">
                            @Html.HiddenFor(x => x.ActionReportID)
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.HiddenFor(x => x.PeriodID)
                                    @Html.Label("Giai đoạn:", new { @class = "control-label col-md-4" })
                                    <div class="col-md-8 control-label strong-left">
                                        @Model.PlanName
                                    </div>
                                </div>
                            </div>
                            @if (Model.Quarter != null && Model.Quarter > 0)
                            {
                                <div class="col-md-3">
                                    <div class="form-group">
                                        @Html.HiddenFor(x => x.Year)
                                        @Html.Label("Năm:", new { @class = "control-label col-md-3" })
                                        <div class="col-md-9 control-label strong-left">
                                            @Model.Year
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        @Html.HiddenFor(x => x.Quarter)
                                        @Html.Label("Quý:", new { @class = "control-label col-md-3" })
                                        <div class="col-md-9 control-label strong-left">
                                            @Model.Quarter
                                        </div>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="col-md-3">
                                    <div class="form-group">
                                        @Html.HiddenFor(x => x.Year)
                                        @Html.Label("Năm:", new { @class = "control-label col-md-3" })
                                        <div class="col-md-9 control-label strong-left">
                                            @Model.Year
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <div class="col-md-3 control-label strong-left">
                                            <span class="label label-info">
                                                Báo cáo năm
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                        <div class="row">
                            <div class="col-md-12" id="divTarget">
                            </div>
                        </div>
                        @if (reportType == Constants.REPORT_TYPE_QUARTER)
                        {
                            <a href="javascript:void(0)" onclick="focusAction()"><h4>Phần 2. BÁO CÁO TIẾN ĐỘ (Cập nhật thông tin ở dưới)</h4></a>
                        }
                        else
                        {
                            <a href="javascript:void(0)" onclick="focusAction()"><h4>Phần 2. NHỮNG KẾT QUẢ CHÍNH (Cập nhật thông tin ở dưới)</h4></a>
                        }
                        <br />
                        <h4>Phần 3. NHỮNG THUẬN LỢI, KHÓ KHĂN TRONG QUÁ TRÌNH THỰC HIỆN</h4>
                        <br />
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="col-md-2 control-label-st" for="formGroupInputLarge">3.1. Thuận lợi</label>
                                    <div class="col-md-10">
                                        @Html.TextAreaFor(x => x.Advantage, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="col-md-2 control-label-st" for="formGroupInputLarge">3.2. Khó khăn</label>
                                    <div class="col-md-10">
                                        @Html.TextAreaFor(x => x.Difficulty, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    @if (reportType == Constants.REPORT_TYPE_QUARTER)
                                    {
                                        <label class="col-md-2 control-label-st" for="formGroupInputLarge">3.3. Đề xuất</label>
                                    }
                                    else
                                    {
                                        <label class="col-md-2 control-label-st" for="formGroupInputLarge">3.3. Công tác phối hợp với Quỹ PCTH của thuốc lá</label>
                                    }
                                    <div class="col-md-10">
                                        @Html.TextAreaFor(x => x.Propose, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h4>Phần 4. TÌNH HÌNH GIẢI NGÂN</h4>
                        <br />
                        <div class="row">
                            <div class="col-md-12" id="divMoney">
                            </div>
                        </div>
                        <h4>Phần 5. SẢN PHẨM HOẠT ĐỘNG KÈM THEO BÁO CÁO</h4>
                        <br />
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="col-md-2 control-label-st" for="formGroupInputLarge">Tài liệu</label>
                                    <div class="col-md-10">
                                        <div class="input-group">
                                            <span class="input-group-btn">
                                                <span class="btn btn-default btn-file">
                                                    <i class="fa fa-paperclip"></i> <span id="FileName">Chọn tài liệu</span>
                                                    <input name="attachmentFile" id="attachmentFile" type="file">
                                                </span>
                                            </span>
                                            <input type="text" name="AttachFileName" id="AttachFileName" class="form-control" placeholder="Tên file tài liệu">
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-primary btn-file" onclick="addFile()">
                                                    <i class="fa fa-plus"></i>
                                                </button>
                                            </span>
                                        </div>
                                        <div id="divFile" class="alert alert-success" role="alert">
                                            @for (int i = 0; i < listActionReportFile.Count; i++)
                                            {
                                                ActionReportFileModel d = listActionReportFile[i];
                                                <div class="clearfix" id="divDoc_@i">
                                                    <input type="hidden" name="ActionReportFileID" value="@d.ActionReportFileID" />
                                                    <a href="@Url.Action("DownloadActionReportFile", "ActionReport", new { actionReportFileID = d.ActionReportFileID })" target="_blank">
                                                        <strong>
                                                            <i class="fa fa-paperclip"></i>
                                                            &nbsp;@d.DocName (@d.MegaBytes)
                                                        </strong>
                                                    </a>
                                                    <text>&nbsp;&nbsp;&nbsp;</text>
                                                    <a href="javascript:void(0)" onclick="removeOldFile(@i)">
                                                        <i class="fa fa-trash-o text-danger"></i>
                                                    </a>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="box-footer">
                <div class="row">
                    <div class="col-md-12 text-right">
                        @if (isReview == 0)
                        {
                            <a class="btn btn-default" href="@Url.Action("IndexDept", "ActionReport")"><i class="fa fa-backward"></i> Quay lại</a>
                        }
                        else
                        {
                            <a class="btn btn-default" href="@Url.Action("IndexReview", "ActionReport")"><i class="fa fa-backward"></i> Quay lại</a>
                        }
                        @if (listPeriod.Any()) {
                            <button class="btn btn-success" type="submit" onclick="addActionReportGeneralInfo()"> <i class="fa fa-floppy-o"></i> Lưu lại</button>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="modal-AddOrEdit" class="modal fade" Period="dialog"></div>
<script>
    $(document).ready(function () {
        $(".ui-select2").select2();
        $('#frmGeneralInfo').find('textarea').each(function () {
            formatArea(this);
            $(this).attr("onkeyup", "textAreaAdjust(this)")
        });
        loadTarget();
        loadCost();
        $("#Quarter").change(function () {
            loadCost();
        });
        $("#Year").change(function () {
            loadCost();
        });
        $("#PeriodID").change(function () {
            $.ajax({
                type: "POST",
                url: '@Url.Action("LoadYear", "ActionReport")',
                data: { PeriodID: $("#PeriodID").val() },
                success: function (YearList) {
                    $("#Year").empty();
                    for (var i = 0; i < YearList.length; i++) {
                        if (YearList[i].Value != '0') {
                            $("#Year").append("<option value='" + YearList[i].Value + "'>" + YearList[i].Text + "</option>");
                        }
                    }
                    loadCost();
                },
                error: function (xhr) {
                    CommonJS.alert(xhr.responseText);
                }
            });

            loadTarget();
        });
    });

    function onFail(xhr) {
        CommonJS.alert(xhr.responseText);
    }
    var listFile = [];
    var listAttachName = [];
    var curFile = null;
    var fromIdx = @listActionReportFile.Count;
    var count = @listActionReportFile.Count;
    $(document).ready(function () {
        $.validator.unobtrusive.parse("#frmGeneralInfo");

        $('#attachmentFile').bind('change', function () {
            curFile = this.files[0];
            var FileNameAtt = curFile.name;
            if(FileNameAtt.length > 15){
                FileNameAtt = FileNameAtt.substring(0, 15) + "...";
            }
            $('#frmGeneralInfo #FileName').text(FileNameAtt);
        });
    });
    function addFile() {
        if (curFile == null) {
            CommonJS.alert("Bạn chưa chọn file đính kèm", false);
            return;
        }
        var attName = curFile.name;
        var displayName = attName;
        if ($.trim($('#frmGeneralInfo #AttachFileName').val()) !== '') {
            attName = $.trim($('#frmGeneralInfo #AttachFileName').val());
        } else {
            CommonJS.alert("Bạn chưa nhập tên file", false);
            return;
        }
        var htmlDiv = $('#divFile').html();
        htmlDiv += '<div class="clearfix" id="divDoc_' + count + '">'
        +'<strong>'
        + '<i class="fa fa-paperclip"></i>&nbsp;'
        + attName + ' (' + bytesToSize(curFile.size) + ')'
        + '</strong>'
        + '&nbsp;&nbsp;&nbsp;'
        + '<a href="javascript:void(0)" onclick="removeFile(' + count + ')">'
        + '<i class="fa fa-trash-o text-danger"></i>'
        + '</a>'
        + '</div>';
        $('#divFile').html(htmlDiv);
        listFile.push(curFile);
        listAttachName.push(attName);
        curFile = null;
        $('#frmGeneralInfo #AttachFileName').val('');
        $('#attachmentFile').val('')
        $('#frmGeneralInfo #FileName').text("Chọn tài liệu");
        count++;
    }
    function removeFile(idx) {
        // Xoa
        for(var i = idx; i < count; i++){
            $('#divDoc_' + i).remove();
        }
        // Sinh lai
        listFile.splice(idx, 1);
        listAttachName.splice(idx, 1);
        count--;
        var htmlDiv = $('#divFile').html();
        for(var i = idx; i < count; i++){
            htmlDiv += '<div class="clearfix" id="divDoc_' + i + '">'
            +'<strong>'
            + '<i class="fa fa-paperclip"></i>&nbsp;'
            + listAttachName[i - fromIdx] + ' (' + bytesToSize(listFile[i - fromIdx].size) + ')'
            + '</strong>'
            + '&nbsp;&nbsp;&nbsp;'
            + '<a href="javascript:void(0)" onclick="removeFile(' + i + ')">'
            + '<i class="fa fa-trash-o text-danger"></i>'
            + '</a>'
            + '</div>';
        }
        $('#divFile').html(htmlDiv);
    }

    function removeOldFile(idx){
        $('#divDoc_' + idx).remove();
    }

    function bytesToSize(bytes) {
        var thresh = 1024;
        if(Math.abs(bytes) < thresh) {
            return bytes + ' B';
        }
        var units = ['kB','MB','GB','TB','PB','EB','ZB','YB'];
        var u = -1;
        do {
            bytes /= thresh;
            ++u;
        } while(Math.abs(bytes) >= thresh && u < units.length - 1);
        return bytes.toFixed(1) + ' ' + units[u];
    }

    function addActionReportGeneralInfo(){
        if (!$("#frmGeneralInfo").valid()) {
            return false;
        }
        if (window.FormData !== undefined) {
            var fileData = new FormData();
            // Looping over all files and add it to FormData object
            for (var i = 0; i < listFile.length; i++) {
                fileData.append('file' + i + "_" + listAttachName[i], listFile[i]);
            }
            $('input[name=ActionReportFileID]').each(function(){
                fileData.append('ActionReportFileID', $(this).val());
            });
            fileData.append('ActionReportID', $('#frmGeneralInfo #ActionReportID').val());
            fileData.append('PeriodID', $('#frmGeneralInfo #PeriodID').val());
            fileData.append('Year', $('#frmGeneralInfo #Year').val());
            fileData.append('Quarter', $('#frmGeneralInfo #Quarter').val());
            fileData.append('Advantage', $('#frmGeneralInfo #Advantage').val());
            fileData.append('Difficulty', $('#frmGeneralInfo #Difficulty').val());
            fileData.append('Propose', $('#frmGeneralInfo #Propose').val());
            $.ajax({
                url: '@Url.Action("SaveGeneralInfo", "ActionReport")',
                type: "POST",
                contentType: false, // Not to set any content header
                processData: false, // Not to process data
                data: fileData,
                success: function (id) {
                    CommonJS.alert("Lưu thông tin chung của báo cáo hoạt động thành công");
                },
                error: function (xhr) {
                    CommonJS.alert(xhr.responseText);
                }
            });
        } else {
            CommonJS.alert("Trình duyệt không hỗ trợ, vui lòng cài đặt trình duyệt Chrome hoặc Firefox phiên bản mới nhất", false);
        }
        return false;
    }
</script>
