﻿@using IInterface.Models
@using IInterface.Common
@model ActionReportInfoModel
@{
    string sDate = Model.SendDate != null ? Model.SendDate.Value.ToString("dd/MM/yyyy HH:mm:ss") : string.Empty;
    List<ActionReportFileModel> listActionReportFile = ViewData["listActionReportFile"] as List<ActionReportFileModel>;
    if (listActionReportFile == null)
    {
        listActionReportFile = new List<ActionReportFileModel>();
    }
    int isReview = (ViewData["isReview"] as int?).GetValueOrDefault();
    int reportType = (ViewData["reportType"] as int?).GetValueOrDefault();
}
<div class="row" id="frmGeneralInfo">
    @Html.HiddenFor(x => x.ActionReportID)
    @Html.HiddenFor(x => x.PeriodID)
    @Html.HiddenFor(x => x.Year)
    @Html.HiddenFor(x => x.Quarter)
    <div class="col-lg-12">
        <div class="box">
            <div class="box-header with-border text-center">
                @if (reportType == Constants.REPORT_TYPE_QUARTER)
                {
                    if (isReview == Constants.IS_ACTIVE)
                    {
                        <h4 class="box-title">BÁO CÁO HOẠT ĐỘNG QUÝ @Model.Quarter-NĂM @Model.Year - @Model.DeptName</h4>
                    }
                    else
                    {
                        <h4 class="box-title">BÁO CÁO HOẠT ĐỘNG QUÝ @Model.Quarter-NĂM @Model.Year</h4>
                    }
                }
                else
                {
                    <h4 class="box-title">BÁO CÁO HOẠT ĐỘNG NĂM @Model.Year - @Model.DeptName</h4>
                }
                @*<div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>*@
            </div>
            <div class="box-body">
                <div class="form-horizontal">
                    <h4>Phần 1. THÔNG TIN CHUNG</h4>
                    <br />
                    <div class="row">
                        @Html.Label("Kế hoạch:", new { @class = "control-label col-md-2" })
                        <div class="col-md-4 control-label strong-left">
                            @Model.PlanName
                        </div>
                        @Html.Label("Năm:", new { @class = "control-label col-md-2" })
                        <div class="col-md-1 control-label strong-left">
                            @Model.Year
                        </div>
                        @if (reportType == Constants.REPORT_TYPE_QUARTER)
                        {
                            @Html.Label("Quý:", new { @class = "control-label col-md-2" })
                            <div class="col-md-1 control-label strong-left">
                                @Model.Quarter
                            </div>
                        }
                    </div>
                    <div class="row">
                        @Html.Label("Đơn vị:", new { @class = "control-label col-md-2" })
                        <div class="col-md-10 control-label strong-left">
                            @Model.DeptName
                        </div>
                    </div>
                    <div class="row">
                        @Html.Label("Ngày gửi báo cáo:", new { @class = "control-label col-md-2" })
                        <div class="col-md-4 control-label strong-left">
                            @sDate
                        </div>
                        @Html.Label("Trạng thái:", new { @class = "control-label col-md-2" })
                        <div class="col-md-4 control-label strong-left">
                            @if (Model.Status == Constants.PERIOD_NEW)
                            {
                                <span class="label label-default">Dự thảo</span>
                            }
                            else if (Model.Status == Constants.PERIOD_PLANNED)
                            {
                                <span class="label label-primary">Đã lập kế hoạch</span>
                            }
                            else if (Model.Status == Constants.PERIOD_NEXT_LEVER)
                            {
                                <span class="label label-info">Chuyển tiếp</span>
                            }
                            else if (Model.Status == Constants.PERIOD_APPROVED)
                            {
                                <span class="label label-success">Đã phê duyệt</span>
                            }
                            else
                            {
                                <span class="label label-default">Chưa lập kế hoạch</span>
                            }
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-12" id="divTarget">
                        </div>
                    </div>
                    @if (reportType == Constants.REPORT_TYPE_QUARTER)
                    {
                        <a href="javascript:void(0)" onclick="focusAction()"><h4>Phần 2. BÁO CÁO TIẾN ĐỘ (Xem thông tin ở dưới)</h4></a>
                    }
                    else
                    {
                        <a href="javascript:void(0)" onclick="focusAction()"><h4>Phần 2. NHỮNG KẾT QUẢ CHÍNH (Xem thông tin ở dưới)</h4></a>
                    }
                    <br />
                    <h4>Phần 3. NHỮNG THUẬN LỢI, KHÓ KHĂN TRONG QUÁ TRÌNH THỰC HIỆN</h4>
                    <div class="row">
                        <label class="col-md-2 control-label" for="formGroupInputLarge">3.1. Thuận lợi:</label>
                        <div class="col-md-10 control-label strong-left">
                            @Model.Advantage
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-md-2 control-label" for="formGroupInputLarge">3.2. Khó khăn:</label>
                        <div class="col-md-10 control-label strong-left">
                            @Model.Difficulty
                        </div>
                    </div>
                    <div class="row">
                        @if (reportType == Constants.REPORT_TYPE_QUARTER)
                        {
                            <label class="col-md-2 control-label" for="formGroupInputLarge">3.3. Đề xuất:</label>
                        }
                        else
                        {
                            <label class="col-md-2 control-label" for="formGroupInputLarge">3.3. Công tác phối hợp với Quỹ PCTH của thuốc lá:</label>
                        }
                        <div class="col-md-10 control-label strong-left">
                            @Model.Propose
                        </div>
                    </div>
                    <h4>Phần 4. TÌNH HÌNH GIẢI NGÂN</h4>
                    <br />
                    <div class="row">
                        <div class="col-md-12" id="divMoney">
                        </div>
                    </div>
                    <h4>Phần 5. SẢN PHẨM HOẠT ĐỘNG KÈM THEO BÁO CÁO</h4>
                    <br />
                    <div class="row">
                        <label class="col-md-2 control-label" for="order">Tài liệu:</label>
                        <div class="col-md-10">
                            <div id="divFile" class="alert alert-success" role="alert">
                                @for (int i = 0; i < listActionReportFile.Count; i++)
                                {
                                    ActionReportFileModel d = listActionReportFile[i];
                                    <div class="clearfix" id="divDoc_@i">
                                        <input type="hidden" name="ActionReportFileID" value="@d.ActionReportFileID" />
                                        <a href="@Url.Action("DownloadActionReportFile", "ActionReport", new { actionReportFileID = d.ActionReportFileID })" target="_blank">
                                            <strong>
                                                <i class="fa fa-paperclip"></i>
                                                &nbsp;@d.DocName (@d.MegaBytes)
                                            </strong>
                                        </a>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-footer">
                <div class="row">
                    <div class="col-md-12 text-right">
                        @if (isReview == 0)
                        {
                            <a class="btn btn-default" href="@Url.Action("IndexDept", "ActionReport")"><i class="fa fa-backward"></i> Quay lại</a>
                        }
                        else
                        {
                            <a class="btn btn-default" href="@Url.Action("IndexReview", "ActionReport")"><i class="fa fa-backward"></i> Quay lại</a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        loadTarget();
        loadCost();
    });
</script>