﻿@using IInterface.Common;
@using IInterface.Models;
@{
    UserInfo user = SessionManager.GetUserInfo();
    int? isReview = ViewData["isReview"] as int?;
    Paginate<ActionReportInfoModel> paginate = ViewData["listResult"] as Paginate<ActionReportInfoModel>;
    var grid = new WebGrid(
                  rowsPerPage: paginate.PageSize,
                  canPage: true,
                  canSort: false,
                  ajaxUpdateContainerId: "divGridResult"
                  );

    grid.Bind(paginate.List,
    autoSortAndPage: false,
    rowCount: paginate.Count);
    grid.Pager(WebGridPagerModes.All);
}
@{
    if (paginate.Count > 0)
    {
        var gridColumns = new List<WebGridColumn>();
        gridColumns.Add(grid.Column("STT", format: item => item.WebGrid.Rows.IndexOf(item) + 1
                + Math.Round(Convert.ToDouble(grid.TotalRowCount / grid.PageCount) / grid.RowsPerPage)
                * grid.RowsPerPage * grid.PageIndex));
        gridColumns.Add(grid.Column("PlanName", "Giai đoạn"));
        if (isReview == Constants.IS_ACTIVE)
        {
            gridColumns.Add(grid.Column("DeptName", "Đơn vị"));
        }
        gridColumns.Add(grid.Column(header: "Loại báo cáo", format: @<text>
        @if (item.Quarter == null || item.Quarter == 0)
        {
            <span class="label label-success">Báo cáo năm</span>
        }
        else
        {
            <span class="label label-info">Báo cáo quý</span>
        }
        </text>));
        gridColumns.Add(grid.Column("Year", "Năm"));
        gridColumns.Add(grid.Column(header: "Quý", format: @<text>
            @if (item.Quarter == null)
            {
                <span class="label label-info">Báo cáo năm</span>
            }
            else
            {
                <span class="label label-default">@item.Quarter</span>
            }
        </text>));        
        gridColumns.Add(grid.Column(header: "Trạng thái", format: @<text>
            @if (item.ActionReportID > 0)
            {
                if (item.Status == Constants.PERIOD_NEW)
                {
                    <span class="label label-primary">Dự thảo</span>
                }
                else if (item.Status == Constants.PERIOD_PLANNED)
                {
                    <span class="label label-primary">Dự thảo</span>
                }
                else if (item.Status == Constants.PERIOD_NEXT_LEVER)
                {
                    <span class="label label-info">Đang xem xét</span>
                }
                else if (item.Status == Constants.PERIOD_APPROVED)
                {
                    <span class="label label-success">Đã phê duyệt</span>
                }
                else
                {
                    <span class="label label-warning">Chưa lập báo cáo</span>
                }
            }
            else
            {
                <span class="label label-warning">Chưa lập báo cáo</span>
            }
        </text>));
        gridColumns.Add(grid.Column(header: "Ngày tạo", format: (x) => x.CreateDate == null ? string.Empty : string.Format("{0:dd/MM/yyyy HH:mm:ss}", x.CreateDate)));
        gridColumns.Add(grid.Column(header: "Ngày gửi", format: (x) => x.SendDate == null ? string.Empty : string.Format("{0:dd/MM/yyyy HH:mm:ss}", x.SendDate)));
        gridColumns.Add(grid.Column(format: @<text>
            @if (item.ActionReportID > 0)
            {
                if (item.Role >= Constants.ROLE_VIEW)
                {
                    <a href="@Url.Action("View", "ActionReport", new { id = item.ActionReportID })" data- data-toggle="tooltip" title="Xem chi tiết thông tin"><i class="fa fa-eye" style="font-size:16px"></i></a>
                }
                if (item.Status != Constants.PERIOD_APPROVED)
                {
                    if (item.Role >= Constants.ROLE_EDIT)
                    {
                        <a href="@Url.Action("AddOrEdit", "ActionReport", new { id = item.ActionReportID, isReview = isReview })" data- data-toggle="tooltip" title="Điều chỉnh thông tin"><i class="fa fa-edit" style="font-size:16px"></i></a>
                        if (user.DepartmentID.GetValueOrDefault() == item.DeptID)
                        {
                            <a href="javascript:void(0)" onclick="agree(@item.ActionReportID)" da data-toggle="tooltip" title="Gửi báo cáo"><i class="fa fa-send-o" style="font-size:16px"></i></a>
                        }
                        else
                        {
                            <a href="javascript:void(0)" onclick="unlock(@item.ActionReportID)" data- data-toggle="tooltip" title="Mở khóa cho đơn vị cấp dưới điều chỉnh"><i class="fa fa-unlock" style="font-size:16px"></i></a>
                            if (item.Role >= Constants.ROLE_APPROVE)
                            {
                                <a href="javascript:void(0)" onclick="approve(@item.ActionReportID)" da data-toggle="tooltip" title="Phê duyệt báo cáo"><i class="fa fa-check-circle-o" style="font-size:16px"></i></a>
                            }
                            else
                            {
                                <a href="javascript:void(0)" onclick="agree(@item.ActionReportID)" da data-toggle="tooltip" title="Gửi báo cáo"><i class="fa fa-send-o" style="font-size:16px"></i></a>
                            }
                        }
                    }
                }
                else
                {
                    if (item.Role == Constants.ROLE_APPROVE || item.Role == Constants.ROLE_AFTER_APPROVE)
                    {
                        <a href="javascript:void(0)" onclick="unApprove(@item.ActionReportID)" da data-toggle="tooltip" title="Hủy phê duyệt báo cáo"><i class="fa fa-unlock" style="font-size:16px"></i></a>
                    }
                }
                if (item.Role >= Constants.ROLE_VIEW || item.Role == Constants.ROLE_AFTER_APPROVE)
                {
                    <a href="@Url.Action("ExportActionReport", "ActionReport", new { actionReportID = item.ActionReportID })" data-toggle="tooltip" title="Xuất file báo cáo"><i class="fa fa-file-word-o" style="font-size:16px"></i></a>
                    <a href="javascript:void(0)" onclick="viewHistory(@item.ActionReportID)" da data-toggle="tooltip" title="Xem lịch sử xem xét báo cáo"><i class="fa fa-history" style="font-size:16px"></i></a>
                }
                if (item.Status != Constants.PERIOD_APPROVED && item.Role == Constants.ROLE_EDIT && user.DepartmentID.GetValueOrDefault() == item.DeptID)
                {
                    <a href="javascript:void(0)" onclick="deleteReport(@item.ActionReportID)" data-toggle="tooltip" class="text-danger" title="Xóa thông tin"><i class="fa fa-trash-o" style="font-size:16px"></i></a>
                }
            }
            else if(isReview == 0)
            {
                <a href='@Url.Action("AddOrEdit", "ActionReport", new { periodID = item.PeriodID, year = item.Year, quarter = item.Quarter })' class="btn btn-sm btn-primary" title="Lập báo cáo"><i class="fa fa-plus"></i> Lập báo cáo</a>
            }
        </text>));

        @grid.GetHtml(htmlAttributes: new { id = "divGridResult" },
                                      fillEmptyRows: false,
                                      tableStyle: "table table-hover table-striped",
                                      footerStyle: "table-pager",
                                      alternatingRowStyle: "altRow",
                                      selectedRowStyle: "selectRow",
                                      mode: WebGridPagerModes.All,
                                      columns: gridColumns)

    }
    else
    {
        <div style="color:red; margin-left:10px;">
            Không có dữ liệu
        </div>
    }
}
<script type="text/javascript">
    function approve(id) {
        if (!confirm("Bạn có chắc chắn muốn phê duyệt báo cáo hoạt động?")) {
            return;
        }
        $.ajax({
            type: "POST",
            url: '@Url.Action("Approve", "ReviewActionReport")',
            data: { "reportID": id },
            success: function (data) {
                CommonJS.alert(data);
                Search();
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }

    function unApprove(id) {
        if (!confirm("Bạn có chắc chắn muốn từ chối phê duyệt báo cáo hoạt động?")) {
            return;
        }
        $.ajax({
            type: "POST",
            url: '@Url.Action("UnApprove", "ReviewActionReport")',
            data: { "reportID": id },
            success: function (data) {
                CommonJS.alert(data);
                Search();
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }

    function unlock(id) {
        if (!confirm("Bạn có chắc chắn muốn mở khóa báo cáo hoạt động?")) {
            return;
        }
        $.ajax({
            type: "POST",
            url: '@Url.Action("Unlock", "ReviewActionReport")',
            data: { "reportID": id },
            success: function (data) {
                CommonJS.alert(data);
                Search();
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }

    function agree(id) {
        if (!confirm("Bạn có chắc chắn muốn gửi báo cáo hoạt động?")) {
            return;
        }
        $.ajax({
            type: "POST",
            url: '@Url.Action("Agree", "ReviewActionReport")',
            data: { "reportID": id },
            success: function (data) {
                CommonJS.alert(data);
                Search();
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }

    function deleteReport(id) {
        if (!confirm("Bạn có chắc chắn muốn xóa báo cáo hoạt động?")) {
            return;
        }
        $.ajax({
            type: "POST",
            url: '@Url.Action("DeleteReport", "ActionReport")',
            data: { "id": id },
            success: function (data) {
                CommonJS.alert(data);
                Search();
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }
    function viewHistory(reportID) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("LoadReportHis", "ReportHistory")',
            data: { "reportID": reportID, "reportType": '@Constants.REPORT_TYPE_ACTION' },
            success: function (data) {
                $("#modal-his").html(data);
                $("#modal-his").modal("show");
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }

</script>