﻿@using IInterface.Models
@{
    List<ActionReportDetailModel> listDetail = ViewData["listDetail"] as List<ActionReportDetailModel>;
    long planTargetID = (ViewData["planTargetID"] as long?).GetValueOrDefault();
}

<div class="col-md-12">
    <table class="table table-bordered table-responsive" id="tableData">
        <thead>
            <tr class="bg-info text-white">
                <th style="width: 22%; text-align:center">Tên hoạt động</th>
                <th style="width: 26%; text-align:center">Kế hoạch</th>
                <th style="width: 26%; text-align:center">Kết quả đạt được</th>
                <th style="width: 26%; text-align:center">Ghi chú</th>
            </tr>
        </thead>
        <tbody>
            @foreach (ActionReportDetailModel detail in listDetail)
            {
                string actionCode = detail.IsTarget ? (!string.IsNullOrWhiteSpace(detail.TargetCode) ? detail.TargetCode.Trim() : string.Empty) :
                    (!string.IsNullOrWhiteSpace(detail.PlanTargetActionCode) ? detail.PlanTargetActionCode.Trim() : string.Empty);
                string actionName = detail.IsTarget ? (!string.IsNullOrWhiteSpace(detail.TargetName) ? detail.TargetName.Trim() : string.Empty) :
                    (!string.IsNullOrWhiteSpace(detail.PlanTargetActionName) ? detail.PlanTargetActionName.Trim() : string.Empty);
                if (detail.IsTarget)
                {
                    actionCode = "I. Mục tiêu " + actionCode + ":";
                }
                else
                {
                    actionCode = "Hoạt động " + actionCode + ":";
                }
                <tr>
                    <td>
                        @if (detail.IsTarget)
                        {
                            <b>@actionCode</b>
                            <br />
                            <b>@actionName</b>
                        }
                        else
                        {
                            <text>@actionCode</text>
                            <br />
                            <i>@actionName</i>
                        }
                    </td>
                    <td style="vertical-align: middle">
                        @Html.Raw(string.IsNullOrWhiteSpace(detail.PlanContent) ? string.Empty : detail.PlanContent.Replace("\r\n", "<br />").Replace("\n", "<br />"))
                    </td>
                    <td style="vertical-align: middle">
                        @Html.Raw(detail.Result)
                    </td>
                    <td style="vertical-align: middle">
                        @Html.Raw(detail.Description)
                    </td>
                </tr>
                if (detail.ListSubAction != null && detail.ListSubAction.Any())
                {
                    foreach (SubActionPlanModel sub in detail.ListSubAction)
                    {
                        @Html.Partial("_ListSubActionView", sub)
                    }
                }
            }
        </tbody>
    </table>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        var targetID = $('#TargetChoice').val();
        $('#tab' + targetID + ' #tableData_@planTargetID').freezeHeader();
    });
</script>