﻿@using IInterface.Models
@using IModel
@using System.Collections.Generic
@{
    List<ActionReportDetailModel> listDetail = ViewData["listDetail"] as List<ActionReportDetailModel>;
    long planTargetID = (ViewData["planTargetID"] as long?).GetValueOrDefault();
    ActionReport entity = ViewData["actionReport"] as ActionReport;
    string quarter = entity.Quarter.GetValueOrDefault().ToString();
}
@using (Ajax.BeginForm("Save", "ActionReport", new AjaxOptions()
{
    HttpMethod = "post",
    OnSuccess = "onSuccess",
    OnFailure = "onFail"
}, new { id = "frmCreateOrEditExpense" }))
{
    @Html.AntiForgeryToken()
    <div class="col-md-12">
        @Html.Hidden("ActionReportID")
        <table class="table table-bordered" id="tableData_@planTargetID">
            <thead>
                <tr class="bg-info text-white">
                    <th style="width: 22%; text-align:center">Tên hoạt động</th>
                    <th style="width: 26%; text-align:center">Kế hoạch</th>
                    <th style="width: 26%; text-align:center">Kết quả đạt được</th>
                    <th style="width: 26%; text-align:center">Ghi chú</th>
                </tr>
            </thead>
            <tbody>
                @foreach (ActionReportDetailModel detail in listDetail)
                {
                    string actionCode = detail.IsTarget ? (!string.IsNullOrWhiteSpace(detail.TargetCode) ? detail.TargetCode.Trim() : string.Empty) :
                        (!string.IsNullOrWhiteSpace(detail.PlanTargetActionCode) ? detail.PlanTargetActionCode.Trim() : string.Empty);
                    string actionName = detail.IsTarget ? (!string.IsNullOrWhiteSpace(detail.TargetName) ? detail.TargetName.Trim() : string.Empty) :
                        (!string.IsNullOrWhiteSpace(detail.PlanTargetActionName) ? detail.PlanTargetActionName.Trim() : string.Empty);
                    if (detail.IsTarget)
                    {
                        actionCode = "I. Mục tiêu " + actionCode + ":";
                    }
                    else
                    {
                        actionCode = "Hoạt động " + actionCode + ":";
                    }
                    <tr>
                        <td>
                            @if (detail.IsTarget)
                            {
                                <b>@actionCode</b>
                                <br />
                                <b>@actionName</b>
                            }
                            else
                            {
                                bool isInQuarter = false;
                                if (!string.IsNullOrWhiteSpace(detail.ActionTime))
                                {
                                    string time = detail.ActionTime.Split(';').Where(x => x.Contains(entity.Year.ToString())).FirstOrDefault();
                                    if (time != null)
                                    {
                                        string[] qs = time.Split(':');
                                        isInQuarter = (qs != null && qs.Length > 1 && qs[1].Contains(quarter));
                                    }
                                }
                                if (isInQuarter)
                                {
                                    <i class="fa fa-star text-primary"></i> <span class="text-primary">@actionCode</span>
                                    <br />
                                    <i class="text-primary">@actionName</i>
                                }
                                else
                                {
                                    <text>@actionCode</text>
                                    <br />
                                    <i>@actionName</i>
                                }
                            }
                        </td>
                        <td style="vertical-align: middle">
                            @Html.Raw(string.IsNullOrWhiteSpace(detail.PlanContent) ? string.Empty : detail.PlanContent.Replace("\r\n", "<br />").Replace("\n", "<br />"))
                            @if (detail.IsTarget)
                            {
                                <input type="hidden" name="ArrPlanTargetID" value="@detail.PlanTargetID" />
                                <input type="hidden" name="ArrPlanTargetPlanContent" value="@detail.PlanContent" />
                            }
                            else
                            {
                                <input type="hidden" name="ArrPlanTargetActionID" value="@detail.PlanTargetActionID" />
                                <input type="hidden" name="ArrPlanTargetActionPlanContent" value="@detail.PlanContent" />
                            }
                        </td>
                        <td style="vertical-align: middle">
                            @if (detail.IsTarget)
                            {
                                <textarea name="ArrPlanTargetResult" rows="4" class="form-control">@detail.Result</textarea>
                            }
                            else
                            {
                                <textarea name="ArrPlanTargetActionResult" rows="4" class="form-control">@detail.Result</textarea>
                            }
                        </td>
                        <td style="vertical-align: middle">
                            @if (detail.IsTarget)
                            {
                                <textarea name="ArrPlanTargetDesc" rows="4" class="form-control">@detail.Description</textarea>
                            }
                            else
                            {
                                <textarea name="ArrPlanTargetActionDes" rows="4" class="form-control">@detail.Description</textarea>
                            }
                        </td>
                    </tr>
                    if (detail.ListSubAction != null && detail.ListSubAction.Any())
                    {
                        foreach (SubActionPlanModel sub in detail.ListSubAction)
                        {
                            @Html.Partial("_ListSubAction", sub)
                        }
                    }
                }
            </tbody>
        </table>
    </div>
    <div class="col-md-12 text-right">
        <button class="btn btn-success" type="submit"> <i class="fa fa-floppy-o"></i> Lưu lại</button>
    </div>
}
<script type="text/javascript">
    $(document).ready(function () {
        var targetID = $('#TargetChoice').val();
        $('#tab' + targetID + ' #tableData_@planTargetID').freezeHeader();
    });
</script>