﻿@using IInterface.Models
@model SubActionPlanModel
@{
    string actionCode = !string.IsNullOrWhiteSpace(Model.SubActionCode) ? Model.SubActionCode.Trim() : string.Empty;
    string actionName = !string.IsNullOrWhiteSpace(Model.SubActionContent) ? Model.SubActionContent.Trim() : string.Empty;
    actionCode = "Hoạt động " + actionCode + ":";
}
<tr>
    <td>
        <text>@actionCode</text>
        <br />
        <i>@actionName</i>
    </td>
    <td style="vertical-align: middle">
        @Html.Raw(string.IsNullOrWhiteSpace(Model.ActionReportPlanContent) ? string.Empty : Model.ActionReportPlanContent.Replace("\r\n", "<br />").Replace("\n", "<br />"))
    </td>
    <td style="vertical-align: middle">
        @Html.Raw(Model.ActionReportResult)
    </td>
    <td style="vertical-align: middle">
        @Html.Raw(Model.ActionReportDescription)
    </td>
</tr>
@if (Model.ListChildSubActionPlan != null && Model.ListChildSubActionPlan.Any())
{
    foreach (SubActionPlanModel sub in Model.ListChildSubActionPlan)
    {
        @Html.Partial("_ListSubActionView", sub)
    }
}