﻿@using IInterface.Models
@using IModel
@using System.Collections.Generic
@model SubActionPlanModel
@{
    string actionCode = !string.IsNullOrWhiteSpace(Model.SubActionCode) ? Model.SubActionCode.Trim() : string.Empty;
    string actionName = !string.IsNullOrWhiteSpace(Model.SubActionContent) ? Model.SubActionContent.Trim() : string.Empty;
    actionCode = "Hoạt động " + actionCode + ":";
    ActionReport entity = ViewData["actionReport"] as ActionReport;
    string quarter = entity.Quarter.GetValueOrDefault().ToString();
    bool isInQuarter = false;
    if (!string.IsNullOrWhiteSpace(Model.ActionTime))
    {
        string time = Model.ActionTime.Split(';').Where(x => x.Contains(entity.Year.ToString())).FirstOrDefault();
        if (time != null)
        {
            string[] qs = time.Split(':');
            isInQuarter = (qs != null && qs.Length > 1 && qs[1].Contains(quarter));
        }
    }
}
<tr>
    <td>
        @if (isInQuarter)
        {
            <i class="fa fa-star text-primary"></i> <span class="text-primary">@actionCode</span>
            <br />
            <i class="text-primary">@actionName</i>
        }
        else
        {
            <text>@actionCode</text>
            <br />
            <i>@actionName</i>
        }
    </td>
    <td style="vertical-align: middle">
        <input type="hidden" name="ArrSubActionPlanID" value="@Model.SubActionPlanID" />
        @Html.Raw(string.IsNullOrWhiteSpace(Model.ActionReportPlanContent) ? string.Empty : Model.ActionReportPlanContent.Replace("\r\n", "<br />").Replace("\n", "<br />"))
        <input type="hidden" name="ArrSubActionPlanPlanContent" value="@Model.ActionReportPlanContent" />
    </td>
    <td style="vertical-align: middle">
        <textarea name="ArrSubActionPlanResult" rows="4" class="form-control">@Model.ActionReportResult</textarea>
    </td>
    <td style="vertical-align: middle"><textarea name="ArrSubActionPlanDes" rows="4" class="form-control">@Model.ActionReportDescription</textarea></td>
</tr>
@if (Model.ListChildSubActionPlan != null && Model.ListChildSubActionPlan.Any())
{
    foreach (SubActionPlanModel sub in Model.ListChildSubActionPlan)
    {
        @Html.Partial("_ListSubAction", sub)
    }
}