﻿@using IInterface.Models
@using IModel;
@{
    List<ActionReportIndexModel> listReportIndex = ViewData["listReportIndex"] as List<ActionReportIndexModel>;
    ActionReport entity = ViewData["actionReport"] as ActionReport;
    string mainResult = ViewData["mainResult"] as string;
    if (mainResult == null)
    {
        mainResult = string.Empty;
    }
    string[] arr = mainResult.Split('\n');
    int? isView = ViewData["isView"] as int?;
}
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-success">
                    <div class="box-header with-border">
                        @if (entity.Quarter == null)
                        {
                            <h4>NHỮNG KẾT QUẢ CHÍNH </h4>
                        }
                        else
                        {
                            <h4>BÁO CÁO TIẾN ĐỘ</h4>
                        }
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="box-body">
                        @if (entity.Quarter == null)
                        {
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <label class="control-label strong-left">Kết quả chính:</label>
                                            @if (isView.GetValueOrDefault() == 0)
                                            {
                                                <a class="btn btn-primary btn-flat btn-xs" data-toggle="modal" data-target="#TargetModal" onclick="openTargetResult()">
                                                    <i class="fa fa-edit"></i> Cập nhật
                                                </a>
                                                <a class="btn btn-danger btn-flat btn-xs" onclick="delTargetResult()">
                                                    <i class="fa fa-trash"></i> Xóa nội dung
                                                </a>
                                            }
                                        </div>
                                        @Html.Hidden("hidMainResultDis", mainResult)
                                        <div class="col-md-12 control-label strong-left" id="mainResultDis">
                                            @foreach (string s in arr)
                                            {
                                                <span>@s</span>
                                                <br />
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="row" id="ListTargetIndex">
                                @Html.Partial("_TargetIndexView", ViewData)
                            </div>
                        }
                        <div class="row" id="ListActionIndex">
                            @Html.Partial("_ActionIndex", ViewData)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function openTargetResult() {
        var targetID = $('#TargetChoice').val();
        var targetName = $('#TargetChoiceName').val();
        var targetResultL = $('#tab' + targetID + ' #hidMainResultDis').val();
        $('#titleTargetResult').html("Kết quả chính của mục tiêu: " + targetName);
        $('#TargetResult').val(targetResultL);
    }

    function delTargetResult() {
        var targetID = $('#TargetChoice').val();
        var actionReportID = $('#frmGeneralInfo #ActionReportID').val();
        $.ajax({
            type: "POST",
            url: '@Url.Action("DelTargetResult", "ActionReport")',
            data: {
                'PlanTargetID': targetID,
                'ActionReportID': actionReportID
            },
            success: function (data) {
                CommonJS.alert(data);
                $('#tab' + targetID + ' #mainResultDis').html("");
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }
</script>
