﻿@using IInterface.Common;
@using IInterface.Models;
@{
    string targetName = ViewData["targetName"] as string;
    Paginate<ActionReportActionIndexModel> paginate = ViewData["listActionIndex"] as Paginate<ActionReportActionIndexModel>;
    var grid = new WebGrid(
                          rowsPerPage: paginate.PageSize,
                          canPage: true,
                          canSort: false,
                          ajaxUpdateContainerId: "divGridActionIndex"
                          );

    grid.Bind(paginate.List,
    autoSortAndPage: false,
    rowCount: paginate.Count);
    grid.Pager(WebGridPagerModes.All);
}
<style>
    .ContentColumn {
        width: 75%;
    }

    .CodeColumn {
        width: 8%;
    }
</style>
<div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title"><i class="fa fa-eraser"></i> @targetName</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-lg-6">
                    <div class="btn-group" role="group">
                        <button class="btn btn-default btn-sm" onclick="checkAllActionIndex(this, true)"><i id="iAllActionIndex" class="fa fa-square-o"></i></button>
                    </div>
                </div>
            </div>
            @if (paginate.Count > 0)
            {
                var gridColumns = new List<WebGridColumn>();
                gridColumns.Add(grid.Column("", "", format: @<text>
                @if (item.Choosen)
                {
                    <input type="checkbox" onclick="checkOneIndex(this)" id="chk_@item.PlanActionIdexID" value="@item.PlanActionIdexID" checked name="PlanActionIdexIDs" class="cbx" />
                }
                else
                {
                    <input type="checkbox" onclick="checkOneIndex(this)" id="chk_@item.PlanActionIdexID" value="@item.PlanActionIdexID" name="PlanActionIdexIDs" class="cbx" />
                }
                </text>, style: "CodeColumn"));
                gridColumns.Add(grid.Column("", "Chỉ số thực tế", format: @<text>
                @if (item.Choosen)
                {
                    <input class="form-control input-sm" id="Vl_@item.PlanActionIdexID" onblur="chooseCheckbox(this)" type="number" value="@item.IndexValue">
                }
                else
                {
                    <input class="form-control input-sm" id="Vl_@item.PlanActionIdexID" onblur="chooseCheckbox(this)" type="number" value="">
                }
                </text>));
                gridColumns.Add(grid.Column(header: "Chỉ số theo kế hoạch", format: @<text>
                <span></span> @item.FullIndexName
                </text>, style: "ContentColumn"));
                @grid.GetHtml(htmlAttributes: new { id = "divGridActionIndex" },
                                      fillEmptyRows: false,
                                      tableStyle: "table table-hover table-striped",
                                      footerStyle: "table-pager",
                                      displayHeader: true,
                                      alternatingRowStyle: "altRow",
                                      selectedRowStyle: "selectRow",
                                      mode: WebGridPagerModes.All,
                                      columns: gridColumns)
            }
            else
            {
                <div style="color:red; margin-left:10px;">
                    Chưa khai báo chỉ số
                </div>
            }
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-success pull-left" onclick="ChoosenActionIndex()" data-dismiss="modal"><i class="fa fa-floppy-o"></i> Lưu lại</button>
            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-close"></i> Đóng</button>
        </div>
    </div>
</div>
<script>
    function chooseCheckbox(item) {
        var id = $(item).attr("id");
        var val = $(item).val();
        id = id.replace('Vl_', 'chk_');
        if (val.trim() != '') {
            $('#' + id).prop('checked', true);
            if ($("#divGridActionIndex tbody input:checkbox[name='PlanActionIdexIDs']:checked").length == $("#divGridActionIndex tbody input:checkbox[name='PlanActionIdexIDs']").length) {
                $("#iAllActionIndex").attr("class", "fa fa-check-square-o");
            }
        } else {
            $('#' + id).prop('checked', false);
            $("#iAllActionIndex").attr("class", "fa fa-square-o");
        }
    }

    function unCheckAll() {
        $("#iAllActionIndex").attr("class", "fa fa-square-o");
    }
    function checkAllActionIndex(item, checked) {
        if (checked) {
            $("#iAllActionIndex").attr("class", "fa fa-check-square-o");
        } else {
            $("#iAllActionIndex").attr("class", "fa fa-square-o");
        }
        $("#divGridActionIndex tbody input:checkbox[name='PlanActionIdexIDs']").prop("checked", checked);
        checked = !checked;
        $(item).attr("onclick", "checkAllActionIndex(this, " + checked + ")");
    }


    function checkOneIndex(item) {
        if (!$(item).is(':checked')) {
            $("#iAllActionIndex").attr("class", "fa fa-square-o");
        } else {
            if ($("#divGridActionIndex tbody input:checkbox[name='PlanActionIdexIDs']:checked").length == $("#divGridActionIndex tbody input:checkbox[name='PlanActionIdexIDs']").length) {
                $("#iAllActionIndex").attr("class", "fa fa-check-square-o");
            }
        }
    }
    function ChoosenActionIndex() {
        var myDictionary = [];
        var ActionIndexInput = "";
        var actionReportID = $('#frmGeneralInfo #ActionReportID').val();
        var TargetID = $('#TargetChoice').val();
        $('input:checkbox[name="PlanActionIdexIDs"]:checked').each(function () {
            myDictionary.push({
                MainIndexID: $(this).val(),
                ValueIndex: $('#Vl_' + $(this).val()).val()
            });
        });
        var page = parseInt($('#divGridActionIndex .table-pager td').clone().children('a').remove().end().text().trim()) || 1;
        $.ajax({
            type: "POST",
            url: '@Url.Action("ChoiceActionIndex", "ActionReport")',
            data: {
                'ActionIndexIDs': myDictionary,
                'PlanTargetID': TargetID,
                'ActionReportID': actionReportID,
                'Page': page
            },
            success: function (data) {
                CommonJS.alert(data);
                loadReportActionIndex();
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }

    function loadReportActionIndex() {
        var actionReportID = $('#frmGeneralInfo #ActionReportID').val();
        var targetID = $('#TargetChoice').val();
        $.ajax({
            type: "POST",
            url: '@Url.Action("loadReportActionIndex", "ActionReport")',
            data: {
                'PlanTargetID': targetID,
                'ActionReportID': actionReportID
            },
            success: function (data) {
                $('#tab' + targetID + ' #ListActionIndex').html(data);
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }
</script>

