﻿@using IInterface.Common;
@using IInterface.Models;
@{
    string targetName = ViewData["targetName"] as string;
    Paginate<ActionReportIndexModel> paginate = ViewData["listTargetIndex"] as Paginate<ActionReportIndexModel>;
    var grid = new WebGrid(
                          rowsPerPage: paginate.PageSize,
                          canPage: true,
                          canSort: false,
                          ajaxUpdateContainerId: "divGridIndex"
                          );

    grid.Bind(paginate.List,
    autoSortAndPage: false,
    rowCount: paginate.Count);
    grid.Pager(WebGridPagerModes.All);
}
<style>
    .ContentColumn {
        width: 75%;
    }

    .CodeColumn {
        width: 8%;
    }
</style>
<div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title"><i class="fa fa-eraser"></i> @targetName</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-lg-6">
                    <div class="btn-group" role="group">
                        <button class="btn btn-default btn-sm" onclick="checkAllIndex(this, true)"><i id="iAllIndex" class="fa fa-square-o"></i></button>
                    </div>
                </div>
            </div>
            @if (paginate.Count > 0)
            {
                var gridColumns = new List<WebGridColumn>();
                gridColumns.Add(grid.Column("", "", format: @<text>
                @if (item.Choosen)
                {
                    <input type="checkbox" onclick="checkOneIndex(this)" id="chk_@item.PlanTargetIndexID" value="@item.PlanTargetIndexID" checked name="PlanTargetIndexIDs" class="cbx" />
                }
                else
                {
                    <input type="checkbox" onclick="checkOneIndex(this)" id="chk_@item.PlanTargetIndexID" value="@item.PlanTargetIndexID" name="PlanTargetIndexIDs" class="cbx" />
                }
                </text>, style: "CodeColumn"));
                gridColumns.Add(grid.Column("", "Chỉ số thực tế", format: @<text>
                @if (item.TypeIndex == Constants.TYPE_INDEX_INPUT || item.TypeIndex == Constants.TYPE_INDEX_INPUT_AVERAGE)
                {
                    <input class="form-control input-sm" id="Vl_@item.PlanTargetIndexID" onblur="chooseCheckbox(this)" type="number" value="@item.ValueIndex">
                }
                </text>));
                gridColumns.Add(grid.Column(header: "Chỉ số theo kế hoạch", format: @<text>
                @if (item.TypeIndex == Constants.TYPE_INDEX_INPUT || item.TypeIndex == Constants.TYPE_INDEX_INPUT_AVERAGE)
                {
                    <span></span> @item.ContentIndex
                }
                else
                {
                    <i class="fa fa-check-square text-primary"></i>  @item.ContentIndex
                }
                </text>, style: "ContentColumn"));
                @grid.GetHtml(htmlAttributes: new { id = "divGridIndex" },
                                      fillEmptyRows: false,
                                      tableStyle: "table table-hover table-striped",
                                      footerStyle: "table-pager",
                                      displayHeader: true,
                                      alternatingRowStyle: "altRow",
                                      selectedRowStyle: "selectRow",
                                      mode: WebGridPagerModes.All,
                                      columns: gridColumns)
            }
            else
            {
                <div style="color:red; margin-left:10px;">
                    Chưa khai báo chỉ số
                </div>
            }
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-success pull-left" onclick="ChoosenTargetIndex()" data-dismiss="modal"><i class="fa fa-floppy-o"></i> Lưu lại</button>
            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-close"></i> Đóng</button>
        </div>
    </div>
</div>
<script>
    function chooseCheckbox(item) {
        var id = $(item).attr("id");
        var val = $(item).val();
        id = id.replace('Vl_', 'chk_');
        if (val.trim() != '') {
            $('#' + id).prop('checked', true);
            if ($("#divGridIndex tbody input:checkbox[name='PlanTargetIndexIDs']:checked").length == $("#divGridIndex tbody input:checkbox[name='PlanTargetIndexIDs']").length) {
                $("#iAllIndex").attr("class", "fa fa-check-square-o");
            }
        } else {
            $('#' + id).prop('checked', false);
            $("#iAllIndex").attr("class", "fa fa-square-o");
        }
    }

    function unCheckAll() {
        $("#iAllIndex").attr("class", "fa fa-square-o");
    }
    function checkAllIndex(item, checked) {
        if (checked) {
            $("#iAllIndex").attr("class", "fa fa-check-square-o");
        } else {
            $("#iAllIndex").attr("class", "fa fa-square-o");
        }
        $("#divGridIndex tbody input:checkbox[name='PlanTargetIndexIDs']").prop("checked", checked);
        checked = !checked;
        $(item).attr("onclick", "checkAllIndex(this, " + checked + ")");
    }


    function checkOneIndex(item) {
        if (!$(item).is(':checked')) {
            $("#iAllIndex").attr("class", "fa fa-square-o");
        } else {
            if ($("#divGridIndex tbody input:checkbox[name='PlanTargetIndexIDs']:checked").length == $("#divGridIndex tbody input:checkbox[name='PlanTargetIndexIDs']").length) {
                $("#iAllIndex").attr("class", "fa fa-check-square-o");
            }
        }
    }
    function ChoosenTargetIndex() {
        var myDictionary = [];
        var page = parseInt($('#divGridIndex .table-pager td').clone().children('a').remove().end().text().trim()) || 1;
        var actionReportID = $('#frmGeneralInfo #ActionReportID').val();
        var TargetID = $('#TargetChoice').val();
        $('input:checkbox[name="PlanTargetIndexIDs"]:checked').each(function () {
            myDictionary.push({
                MainIndexID: $(this).val(),
                ValueIndex: $('#Vl_' + $(this).val()).val()
            });
        });
        $.ajax({
            type: "POST",
            url: '@Url.Action("ChoiceIndex", "ActionReport")',
            data: {
                'TargetIndexIDs': myDictionary,
                'PlanTargetID': TargetID,
                'ActionReportID': actionReportID,
                'Page': page
            },
            success: function (data) {
                CommonJS.alert(data);
                loadReportIndex();
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }

    function loadReportIndex() {
        var actionReportID = $('#frmGeneralInfo #ActionReportID').val();
        var targetID = $('#TargetChoice').val();
        $.ajax({
            type: "POST",
            url: '@Url.Action("LoadReportIndex", "ActionReport")',
            data: {
                'PlanTargetID': targetID,
                'ActionReportID': actionReportID
            },
            success: function (data) {
                $('#tab' + targetID + ' #ListTargetIndex').html(data);
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }
</script>

