﻿@using IInterface.Models
@using IInterface.Common
@using IModel
@{
    List<PlanTargetModel> listTarget = ViewData["listTarget"] as List<PlanTargetModel>;
    Plan plan = ViewData["plan"] as Plan;
    double planMoney = (ViewData["planMoney"] as double?).GetValueOrDefault();
}
<table class="table table-bordered" id="tableData">
    <tbody>
        <tr>
            <td style="vertical-align:middle;width:25%"><strong>Mục tiêu chung</strong></td>
            <td style="vertical-align:middle;width:75%">
                @if (plan != null)
                {
                    @plan.PlanTarget
                }
            </td>
        </tr>
        <tr>
            <td style="vertical-align:middle;width:25%"><strong>Mục tiêu cụ thể</strong></td>
            <td style="vertical-align:middle;width:75%">
                @if (plan != null)
                {
                    for (int i = 1; i <= listTarget.Count; i++)
                    {
                        PlanTargetModel target = listTarget[i - 1];
                        <span class="label label-success">Mục tiêu @i</span><span>: @target.PlanTargetContent</span>
                        if (i != listTarget.Count)
                        {
                            <br />
                        }
                    }
                }
            </td>
        </tr>
        <tr>
            <td style="vertical-align:middle;width:25%"><strong>Tổng kinh phí hỗ trợ</strong></td>
            <td style="vertical-align:middle;width:75%">@Utils.FormatMoney(planMoney) (@Utils.ChuyenSo(planMoney.ToString()))</td>
        </tr>
    </tbody>
</table>