﻿@using IInterface.Models;
@using IInterface.Common;
@{
    List<TargetIndexModel> lstTargetIndex = ViewData["listTargetIndexChoosen"] as List<TargetIndexModel>;
    int? isView = ViewData["isView"] as int?;
}

<div class="col-md-12">
    <br />
    <ul class="list-group">
        <li class="list-group-item list-group-item-info">
            <i class="fa fa-star-o"></i>
            <strong>
                CHỈ SỐ MỤC TIÊU
            </strong>
            @if (isView.GetValueOrDefault() == Constants.IS_NOT_ACTIVE)
            {
                <a class="pull-right btn btn-primary btn-xs" href="javascript:void(0)" onclick="TargetIndexChoice()"><i class="fa fa-plus"></i> Chọn chỉ số mục tiêu</a>
            }
        </li>
        @if (lstTargetIndex != null && lstTargetIndex.Any())
        {
            foreach (var targetIndex in lstTargetIndex)
            {
                <li class="list-group-item">
                    <a href="javascript:void(0)">
                        @if (targetIndex.ValueIndex != 0)
                        {
                            if (targetIndex.TypeIndex == Constants.TYPE_INDEX_INPUT)
                            {
                                <kbd>@targetIndex.ValueIndex</kbd>
                            }
                            else
                            {
                                string text = targetIndex.ValueIndex + "%";
                                <kbd>@text</kbd>
                            }
                        }
                        @if (targetIndex.TypeIndex.GetValueOrDefault() == Constants.TYPE_INDEX_CHOICE)
                        {
                            <text>@targetIndex.ContentIndex</text>
                        }
                        else
                        {
                            <text>(@targetIndex.ContentIndex)</text>
                        }
                    </a>
                    <a class="pull-right btn btn-danger btn-xs" href="javascript:void(0)" title="Xóa chỉ số mục tiêu" onclick="deleteTargetIndex(@targetIndex.PlanTargetIndexID)"><i class="fa fa-trash-o"></i></a>
                </li>
            }

        }
    </ul>
</div>
<script type="text/javascript">
    function TargetIndexChoice() {
        var actionReportID = $('#frmGeneralInfo #ActionReportID').val();
        var targetID = $('#TargetChoice').val();
        $.ajax({
            type: "GET",
            url: '@Url.Action("OpenIndexPopup", "ActionReport")',
            data: {
                'planTargetID': targetID,
                'actionReportID': actionReportID
            },
            success: function (data) {
                $("#modal-index").html(data);
                $("#modal-index").modal("show");
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }

    function deleteTargetIndex(planTargetIndexID) {
        var actionReportID = $('#frmGeneralInfo #ActionReportID').val();
        var targetID = $('#TargetChoice').val();
        $.ajax({
            type: "POST",
            url: '@Url.Action("RemoveTargetIndex", "ActionReport")',
            data: {
                'planTargetID': targetID,
                'actionReportID': actionReportID,
                'planTargetIndexID': planTargetIndexID
            },
            success: function (data) {
                CommonJS.alert(data);
                loadReportIndex();
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }
</script>
