﻿@using IInterface.Models
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model ActionReportInfoModel
@{
    List<PlanTargetModel> lstTarget = ViewData["listTarget"] as List<PlanTargetModel>;
    bool? isView = ViewData["isView"] as bool?;
    int? isReview = ViewData["isReview"] as int?;
    int targetID = 0;
    string targetName = string.Empty;
}
<script type="text/javascript" src="~/Scripts/jquery.freezeheader.js"></script>
<div class="row">
    <div class="col-md-12">
        @if (isReview.GetValueOrDefault() == 0)
        {
            if (isView.GetValueOrDefault())
            {
                @Html.Partial("_GeneralView", Model, ViewData)
            }
            else
            {
                @Html.Partial("_General", Model, ViewData)
            }
        }
        else
        {
            @Html.Partial("_GeneralView", Model, ViewData)
        }
        @if (isView.GetValueOrDefault())
        {
            @Html.Hidden("isView", 1)
        }
        else
        {
            @Html.Hidden("isView", 0)
        }
    </div>
</div>
@if (Model != null && Model.ActionReportID > 0 && lstTarget != null)
{
    PlanTargetModel targetFirst = lstTarget.FirstOrDefault();
    targetID = targetFirst != null ? targetFirst.PlanTargetID : 0;
    targetName = targetFirst != null ? targetFirst.PlanTargetContent : string.Empty;
    <div class="row" id="divAction">
        <div class="col-md-12">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    @for (int i = 0; i < lstTarget.Count; i++)
                {
                    PlanTargetModel target = lstTarget[i];
                    string tabId = "#tab" + target.PlanTargetID;
                    if (i == 0)
                    {
                            <li class="active">
                                <a data-toggle="tab" href="@tabId" onclick="loadActionInfo(@target.PlanTargetID, '@target.PlanTargetContent')">
                                    @target.PlanTargetTitle
                                </a>
                            </li>
                    }
                    else
                    {
                            <li>
                                <a data-toggle="tab" href="@tabId" onclick="loadActionInfo(@target.PlanTargetID, '@target.PlanTargetContent')">
                                    @target.PlanTargetTitle
                                </a>
                            </li>
                    }
                }
                </ul>
                <div class="tab-content">
                    @Html.Hidden("TargetChoice")
                    @Html.Hidden("TargetChoiceName")
                    @for (int i = 0; i < lstTarget.Count; i++)
                {
                    PlanTargetModel target = lstTarget[i];
                    string tabId = "tab" + target.PlanTargetID;
                    if (i == 0)
                    {
                            <div id="@tabId" class="tab-pane fade active in"></div>
                    }
                    else
                    {
                            <div id="@tabId" class="tab-pane fade"></div>
                    }
                }
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">

        </div>
    </div>
    <div id="modal-action" class="modal fade" role="dialog">
    </div>
}
<div id="modal-his" class="modal fade" role="dialog">
</div>
<div id="modal-index" class="modal fade" role="dialog">
</div>
@if (Model != null && Model.Quarter == null)
{
    <div id="TargetModal" class="modal fade" role="dialog">
        @Html.Partial("_TargetResult")
    </div>
}
<script type="text/javascript">
    $(document).ready(function () {
        var periodID = $("#PeriodID").val();
        if(periodID == undefined || periodID == ''){
            CommonJS.alert("Chưa có kế hoạch nào của đơn vị được phê duyệt", false);
        } else {
            var targetID = @targetID;
            if(targetID > 0){
                loadActionInfo(targetID, '@targetName');
            }
        }
    });

    function loadActionInfo(targetID, targetName) {
        var actionReportID = $('#frmGeneralInfo #ActionReportID').val();
        if (actionReportID == '') {
            CommonJS.alert("Bạn phải nhập thông tin chung của báo cáo hoạt động trước", false);
            return;
        }
        $('#TargetChoice').val(targetID);
        $('#TargetChoiceName').val(targetName);
        var isView = $('#isView').val();
        $.ajax({
            type: "POST",
            url: '@Url.Action("LoadActionInfo", "ActionReport")',
            data: { "actionReportID": actionReportID, "planTargetID": targetID, "isView" : isView },
            success: function (data) {
                $('#tab' + targetID).html(data);
                $('#tab' + targetID).find('textarea').each(function () {
                    formatArea(this);
                    $(this).attr("onkeyup", "textAreaAdjust(this)")
                });
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }
    function getAction(id, code, name){
        var targetID = $('#TargetChoice').val();
        $('#tab' + targetID +' #actionName').html('');
        $('#tab' + targetID +' #PlanTargetActionID').val(id);
        $('#tab' + targetID +' #actionCode').html(code);
        if(id > 0){
            $('#tab' + targetID +' #actionName').html(name);
        }
        loadActionseByAction(true);
    }

    function loadActionByTarget() {
        var actionReportID = $('#frmGeneralInfo #ActionReportID').val();
        var targetID = $('#TargetChoice').val();
        $.ajax({
            type: "POST",
            url: '@Url.Action("LoadActionByTarget", "ActionReport")',
            data: {
                'planTargetID': targetID,
                'actionReportID': actionReportID
            },
            success: function (data) {
                $("#modal-action").html(data);
                $("#modal-action").modal("show");
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }

    function loadActionseByAction(loadFromCombo, id) {
        var actionReportID = $('#frmGeneralInfo #ActionReportID').val();
        var targetID = $('#TargetChoice').val();
        var actionId = loadFromCombo ? $('#tab' + targetID +' #PlanTargetActionID').val() : id;
        var isView = $('#isView').val();
        if(actionId == ''){
            actionId = 0;
        }
        $.ajax({
            type: "POST",
            url: '@Url.Action("LoadReportDetail", "ActionReport")',
            data: { "planTargetActionID": actionId, "planTargetID": $('#TargetChoice').val(), "actionReportID": actionReportID, "isView" : isView },
            success: function (data) {
                $('#tab' + targetID +' #ListActionDetail').html(data);
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }

    function sumMoney(item) {
        var targetID = $('#TargetChoice').val();
        var parid = $(item).attr('parentid');
        var parpre = $(item).attr('parentprefix');
        if (parid != "") {
            var sum = 0;
            $('#tab' + targetID +' #ListActionDetail input[parentprefix="' + parpre + '"][parentid="' + parid + '"]').each(function () {
                var val = $(this).val();
                val = val.replace(/\,/g, "");;
                var money = val.trim() != "" ? parseFloat(val) : 0;
                sum += money;
            });
            var parenttrueid = '#' + parpre + '_' + parid;
            if (sum > 0) {
                $(parenttrueid).val(sum);
            }
            sumMoney($(parenttrueid)[0]);
        }
    }

    function focusAction(){
        $('html, body').animate({
            scrollTop: $("#divAction").offset().top
        }, 500);
    }

    function loadTarget(){
        var periodID = $("#PeriodID").val();
        if(periodID != undefined && periodID != ''){
            $.ajax({
                type: "POST",
                url: '@Url.Action("LoadTarget", "ActionReport")',
                data: { PeriodID:  periodID, 'ActionReportID' : $("#ActionReportID").val() },
                success: function (data) {
                    $('#divTarget').html(data);
                },
                error: function (xhr) {
                    CommonJS.alert(xhr.responseText);
                }
            });
        }
    }

    function loadCost(){
        var periodID = $("#PeriodID").val();
        if(periodID != undefined && periodID != ''){
            $.ajax({
                type: "POST",
                url: '@Url.Action("LoadCostInfo", "ActionReport")',
                data: { 'PeriodID': periodID, 'Year' : $("#Year").val(), 'Quarter' : $("#Quarter").val(), 'ActionReportID' : $("#ActionReportID").val() },
                success: function (data) {
                    $('#divMoney').html(data);
                },
                error: function (xhr) {
                    CommonJS.alert(xhr.responseText);
                }
            });
        }
    }

</script>