﻿@using IInterface.Models
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    List<SelectListItem> listPeriod = ViewData["listPeriod"] as List<SelectListItem>;
    List<SelectListItem> listYear = ViewData["listYear"] as List<SelectListItem>;
}
<div class="row">
    <div class="col-lg-12">        
        <div class="box">
            <div class="box-header with-border">
                @using (Ajax.BeginForm("Search", "ActionReport", new AjaxOptions
                {
                    HttpMethod = "get",
                    OnBegin = "checkPeriod",
                    UpdateTargetId = "divGridResultSettle"
                }, new { id = "frmSearch", @class = "form-horizontal" }))
                {
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.Label("Giai đoạn", new { @class = "control-label col-md-3" })
                                <div class="col-md-9">
                                    @Html.DropDownList("PeriodID", listPeriod, new { @class = "form-control ui-selet2" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                @Html.Label("Năm", new { @class = "control-label col-md-3" })
                                <div class="col-md-9">
                                    @Html.DropDownList("Year", listYear, new { @class = "form-control ui-selet2" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <button class="btn btn-primary" type="submit"> <i class="fa fa-search"></i> Tìm kiếm</button>
                        </div>
                    </div>
                }
            </div>
            <div class="box-body">
                <br />
                <div class="row">
                    <div class="col-lg-12" id="divGridResultSettle">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="modal-his" class="modal fade" role="dialog">
</div>
<script>
    $(document).ready(function () {
        $("select").select2();
        $("#PeriodID").change(function () {
            $.ajax({
                type: "POST",
                url: '@Url.Action("LoadYear", "ActionReport")',
                data: { PeriodID: $("#PeriodID").val() },
                success: function (YearList) {
                    $("#Year").empty();
                    for (var i = 0; i < YearList.length; i++) {
                        $("#Year").append("<option value='" + YearList[i].Value + "'>" + YearList[i].Text + "</Year>");
                    }
                },
                error: function (xhr) {
                    CommonJS.alert(xhr.responseText);
                }
            });
        });
        var periodID = $("#PeriodID").val();
        if (periodID == undefined || periodID == '') {
            CommonJS.alert("Chưa có kế hoạch nào của đơn vị được phê duyệt", false);
        } else {
            Search();
        }        
    });
    function Search() {
        $("#frmSearch").submit();
    }
    function checkPeriod() {
        var periodID = $("#PeriodID").val();
        if(periodID == undefined || periodID == ''){
            CommonJS.alert("Chưa có kế hoạch nào của đơn vị được phê duyệt", false);
            return false;
        } else {
            return true;
        }
    }
</script>
