﻿@using IInterface.Common;
@using IInterface.Models;
@{
    Paginate<PlanModel> paginate = ViewData["listResult"] as Paginate<PlanModel>;
    var grid = new WebGrid(
                          rowsPerPage: paginate.PageSize,
                          canPage: true,
                          canSort: false,
                          ajaxUpdateContainerId: "divGrid"
                          );

    grid.Bind(paginate.List,
    autoSortAndPage: false,
    rowCount: paginate.Count);
    grid.Pager(WebGridPagerModes.All);
}
<style>

    .Deptname {
        max-width: 200px;
    }
</style>
@{
    if (paginate.Count > 0)
    {
        var gridColumns = new List<WebGridColumn>();
        gridColumns.Add(grid.Column("DepartmentName", "Đơn vị", style: "Deptname"));
        gridColumns.Add(grid.Column("PeriodName", "Giai đoạn"));
        gridColumns.Add(grid.Column("Status", "Trạng thái", format: @<text>
    @if (item.Status == Constants.PLAN_APPROVED)
    {
        <span class="label label-success">Đã phê duyệt</span>
    }
    else if (item.Status == Constants.PERIOD_NEXT_LEVER)
    {
        if (item.StepNow == 0)
        {
            <span class="label label-warning">@Html.Raw(item.LastReviewInfo)</span>
        }
        else
        {
            <span class="label label-info">@Html.Raw(item.LastReviewInfo)</span>
        }
    }
    else
    {
        <span class="label label-primary">Dự thảo</span>
    }
        </text>));
 gridColumns.Add(grid.Column("Từ ngày", format: (item) => string.Format("{0:MM/yyyy}", item.FromDate)));
 gridColumns.Add(grid.Column("Tới ngày", format: (item) => string.Format("{0:MM/yyyy}", item.ToDate)));
 gridColumns.Add(grid.Column(header: "", format: @<text>
    <div class="btn-group" role="group" aria-label="...">
        @if (item.Role >= Constants.ROLE_EDIT)
        {
            <a href='@Url.Action("PlanningInfo", "PeriodDepartment", new { PeriodID = item.PeriodID, PlanID = item.PlanID  })' class="btn btn-sm btn-primary" title="Điều chỉnh kế hoạch"><i class="fa fa-line-chart"></i> Điều chỉnh</a>
        }
        else
        {
            <a href='@Url.Action("PlanningInfo", "PeriodDepartment", new { PeriodID = item.PeriodID, PlanID = item.PlanID  })' class="btn btn-sm btn-success" title="Chi tiết kế hoạch"><i class="fa fa-eye-slash"></i> Chi tiết</a>
        }
        <a href='@Url.Action("Index", "SubActionPlanTime", new { planID = item.planID })' class="btn btn-sm btn-default" title="Thời gian thực hiện"><i class="fa fa-clock-o"></i> Thời gian</a>
        <a href='@Url.Action("Index", "PlanCost", new { planID = item.planID })' class="btn btn-sm btn-default" title="Dự toán"><i class="fa fa-money"></i> Dự toán</a>
        <a href="javascript:void(0)" onclick="ReviewHistory(@item.PlanID)" data-toggle="modal" data-target="#modal-review" class="btn btn-sm btn-info" title="Lịch sử"><i class="fa fa-check-circle-o"></i> Lịch sử</a>
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-success btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-file-word-o"></i> Xuất kế hoạch
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href='@Url.Action("ExportPLanPL01", "PlanDocExport", new { planID = item.PlanID })' title="Xuất file PL01"><i class="fa fa-file-word-o"></i> Xuất PL01</a></li>
                <li><a href='@Url.Action("ExportPlanActionReport", "ExportReport", new { planID = item.PlanID })' title="Xuất file PL02"><i class="fa fa-file-excel-o"></i> Xuất PL02</a></li>
                <li><a href='@Url.Action("ExportPlanCostReport", "ExportReport", new { planID = item.PlanID })' title="Xuất file PL03"><i class="fa fa-file-excel-o"></i> Xuất PL03</a></li>
            </ul>
        </div>
    </div>
</text>));
@grid.GetHtml(htmlAttributes: new { id = "divGrid" },
                              fillEmptyRows: false,
                              tableStyle: "table table-hover table-striped",
                              footerStyle: "table-pager",
                              alternatingRowStyle: "altRow",
                              selectedRowStyle: "selectRow",
                              mode: WebGridPagerModes.All,
                              columns: gridColumns)
}
else
{
<div style="color:red; margin-left:10px;">
    Không có kế hoạch nào
</div>
}
}
<div id="modal-review" class="modal fade" Period="dialog"></div>
<script>
    function Approved(PlanID) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("ApprovePlan", "Review")',
            data: { 'PlanID': PlanID },
            success: function (data) {
                CommonJS.alert(data);
                Search();
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }
    function ReviewHistory(PlanID) {
        $.ajax({
            type: "GET",
            url: '@Url.Action("ViewReviewHistory", "Review")',
            data: { 'PlanID': PlanID },
            success: function (data) {
                $("#modal-review").html(data);
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }
</script>
