﻿@using IInterface.Common;
@using IInterface.Models
@{
    Paginate<PlanReviewHistoryModel> paginate = ViewData["listResult"] as Paginate<PlanReviewHistoryModel>;
    var grid = new WebGrid(
                          rowsPerPage: paginate.PageSize,
                          canPage: true,
                          canSort: false,
                          ajaxUpdateContainerId: "divGridResult"
                          );

    grid.Bind(paginate.List,
    autoSortAndPage: false,
    rowCount: paginate.Count);
    grid.Pager(WebGridPagerModes.All);

    var objUser = SessionManager.GetUserInfo();
}

<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Lịch sử phê duyệt kế hoạch</h4>            
        </div>
        <div class="modal-body">
            @if (paginate.Count > 0)
            {
                var gridColumns = new List<WebGridColumn>();
                gridColumns.Add(grid.Column("UserName", "Người phê duyệt"));
                gridColumns.Add(grid.Column("Comment", "Ghi chú", style: "CodeColumn"));
                gridColumns.Add(grid.Column("Ngày phê duyệt", format: (item) => string.Format("{0:dd/MM/yyyy HH:mm:ss}", item.CreateDate)));
                gridColumns.Add(grid.Column(header: "", format: @<text>
            <a href="@Url.Action("Step", "PlanHistory", new { PlanHisID = item.PlanHisID })" class="btn btn-xs btn-info" data-toggle="tooltip" title="Xem chi tiết kế hoạch"><i class="fa fa-eye"></i></a>
            </text>));
                @grid.GetHtml(htmlAttributes: new { id = "divGridResult" },
                                      fillEmptyRows: false,
                                      tableStyle: "table table-hover table-striped",
                                      footerStyle: "table-pager",
                                      alternatingRowStyle: "altRow",
                                      selectedRowStyle: "selectRow",
                                      mode: WebGridPagerModes.All,
                                      columns: gridColumns);
            }
            else
            {
                <div style="color:red; margin-left:10px;">
                    <i class="fa fa-warning"></i> Không có thông tin
                </div>
            }
        </div>
        <div class="modal-footer">

        </div>
    </div>
</div>