﻿@using IInterface.Common;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    List<SelectListItem> listPeriod = ViewData["listPeriod"] as List<SelectListItem>;
    List<SelectListItem> listDepartment = ViewData["listDepartment"] as List<SelectListItem>;
    List<SelectListItem> listStatus = new List<SelectListItem>();
    listStatus.Add(new SelectListItem
    {
        Text = "--Tất cả--",
        Value = ""
    });
    listStatus.Add(new SelectListItem
    {
        Text = "Dự thảo",
        Value = Constants.PLAN_NEW.ToString()
    });
    listStatus.Add(new SelectListItem
    {
        Text = "Đang xem xét",
        Value = Constants.PERIOD_NEXT_LEVER.ToString()
    });
    listStatus.Add(new SelectListItem
    {
        Text = "Phê duyệt",
        Value = Constants.PLAN_APPROVED.ToString()
    });
    int year = DateTime.Now.Year;
}
<div class="row">
    <div class="col-lg-12">
        <div class="box">
            <div class="box-header with-border">
                @using (Ajax.BeginForm("Search", "Review", new AjaxOptions
                {
                    HttpMethod = "get",
                    UpdateTargetId = "divResult"
                }, new { id = "frmSearch" }))
                {
                    <div class="form-horizontal">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.Label("Đơn vị", new { @class = "control-label col-md-3" })
                                    <div class="col-md-9">
                                        @Html.DropDownList("SearchDepartmentID", listDepartment, new { id = "SearchDepartmentID", @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.Label("Kỳ báo cáo", new { @class = "control-label col-md-3" })
                                    <div class="col-md-9">
                                        @Html.DropDownList("PeriodId", listPeriod, new { @class = "form-control", style = "width:100%" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.Label("Trạng thái", new { @class = "control-label col-md-3" })
                                    <div class="col-md-9">
                                        @Html.DropDownList("Status", listStatus, new { id = "Status", @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="col-md-12 text-center">
                                        <button class="btn btn-primary" type="submit"> <i class="fa fa-search"></i> Tìm kiếm</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="box-body">
                <br />
                <div class="row">
                    <div class="col-lg-12" id="divResult">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#frmSearch select").select2();
        Search();
    });
    function Search() {
        $("#frmSearch").submit();
    }
</script>
