﻿
@using IInterface.Common;
@using IInterface.Models;
@{
    Paginate<MissionModel> paginate = ViewData["listMission"] as Paginate<MissionModel>;
    var grid = new WebGrid(
                          rowsPerPage: paginate.PageSize,
                          canPage: true,
                          canSort: false,
                          ajaxUpdateContainerId: "divGridMission"
                          );

    grid.Bind(paginate.List,
    autoSortAndPage: false,
    rowCount: paginate.Count);
    grid.Pager(WebGridPagerModes.All);
}
<style>
    .w30 {
        width: 30% !important;
    }
</style>
@{
    if (paginate.Count > 0)
    {
        var gridColumns = new List<WebGridColumn>();
        gridColumns.Add(grid.Column("MissionCode", "Mã nhiệm vụ"));
        gridColumns.Add(grid.Column("MissionName", "Tên nhiệm vụ", style: "w30"));
        gridColumns.Add(grid.Column("MissionContent", "Nội dung"));
        gridColumns.Add(grid.Column("Creator", "Người tạo"));
        gridColumns.Add(grid.Column("Ngày tạo", format: (item) => string.Format("{0:dd/MM/yyyy}", item.CreateTime)));
        gridColumns.Add(grid.Column("Status", "Trạng thái", format: @<text>
        @if (item.Status == Constants.IS_ACTIVE)
        {
            <label class="label label-success">Hiệu lực</label>
        }
        else
        {
            <label class="label label-default">Hết hiệu lực</label>
        }
        </text>));
        gridColumns.Add(grid.Column(header: "", format: @<text>
            <a href="javascript:void(0)" onclick="prepareEdit(@item.MissionID)" class="btn btn-xs btn-primary" title="Sửa nhiệm vụ"><i class="fa fa-edit"></i> Sửa</a>
            <a href="javascript:void(0)" onclick="deleteMision(@item.MissionID)" class="btn btn-xs btn-danger" title="Xóa nhiệm vụ"><i class="fa fa-trash-o"></i> Xóa</a>
        </text>));
        @grid.GetHtml(htmlAttributes: new { id = "divGridMission" },
                                      fillEmptyRows: false,
                                      tableStyle: "table table-hover table-striped",
                                      footerStyle: "table-pager",
                                      alternatingRowStyle: "altRow",
                                      selectedRowStyle: "selectRow",
                                      mode: WebGridPagerModes.All,
                                      columns: gridColumns)
    }
    else
    {
        <div style="color:red; margin-left:10px;">
            Không có nhiệm vụ nào
        </div>
    }
}
<script type="text/javascript">
    function deleteMision(id) {
        if (!confirm("Bạn có chắc chắn muốn xóa nhiệm vụ?")) {
            return;
        }
        $.ajax({
            type: "POST",
            url: '@Url.Action("Delete", "Mission")',
            data: { 'id': id },
            success: function (data) {
                CommonJS.alert(data);
                Search();
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }

    function prepareEdit(id) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("PrepareAddOrEdit", "Mission")',
            data: {
                'id': id
            },
            success: function (result) {
                $("#modal-AddOrEdit").html(result);
                $("#modal-AddOrEdit").modal("show");
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }

</script>
