﻿@using IInterface.Common;
@using IInterface.Models
@{
    UserInfo objUser = SessionManager.GetUserInfo();
    int? reportType = ViewData["reportType"] as int?;
    int? reportID = ViewData["reportID"] as int?;
    List<ReportReviewModel> listReview = ViewData["listReview"] as List<ReportReviewModel>;
    var grid = new WebGrid(
                          canPage: false,
                          canSort: false,
                          ajaxUpdateContainerId: "divGridResult"
                          );

    grid.Bind(listReview,
    autoSortAndPage: false,
    rowCount: listReview.Count);
}

<div class="modal-dialog modal-lg" id="divReportHis">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            @if (reportType.GetValueOrDefault() == Constants.REPORT_TYPE_CHANGE_REQUEST)
            {
                <h4 class="modal-title">Thông tin tác động yêu cầu</h4>
            }
            else
            {
                <h4 class="modal-title">Thông tin tác động báo cáo</h4>
            }
        </div>
        <div class="modal-body">
            @if (listReview.Count > 0)
            {
                var gridColumns = new List<WebGridColumn>();
                gridColumns.Add(grid.Column("UserName", "Tài khoản"));
                gridColumns.Add(grid.Column("FullName", "Họ tên"));
                gridColumns.Add(grid.Column("DeptName", "Đơn vị"));
                gridColumns.Add(grid.Column("Thời gian", format: (item) => string.Format("{0:dd/MM/yyyy HH:mm:ss}", item.ProcessDate)));
                gridColumns.Add(grid.Column(header: "Hành động", format: @<text>
                @if (item.ActionType == Constants.REPORT_ACTION_TYPE_SEND)
                {
                    if (reportType.GetValueOrDefault() == Constants.REPORT_TYPE_CHANGE_REQUEST)
                    {
                        <span class="label label-primary">Gửi yêu cầu</span>
                    }
                    else
                    {
                        <span class="label label-primary">Gửi báo cáo</span>
                    }
                }
                else if (item.ActionType == Constants.REPORT_ACTION_TYPE_AGREE)
                {
                    if (reportType.GetValueOrDefault() == Constants.REPORT_TYPE_CHANGE_REQUEST)
                    {
                        <span class="label label-primary">Đồng ý yêu cầu</span>
                    }
                    else
                    {
                        <span class="label label-primary">Chốt báo cáo</span>
                    }
                }
                else if (item.ActionType == Constants.REPORT_ACTION_TYPE_UNLOCK)
                {
                    if (reportType.GetValueOrDefault() == Constants.REPORT_TYPE_CHANGE_REQUEST)
                    {
                        <span class="label label-info">Mở khóa yêu cầu</span>
                    }
                    else
                    {
                        <span class="label label-info">Mở khóa báo cáo</span>
                    }
                }
                else if (item.ActionType == Constants.REPORT_ACTION_TYPE_UNAPPROVE)
                {
                    <span class="label label-warning">Đã mở phê duyệt</span>
                }
                else
                {
                    <span class="label label-success">Phê duyệt</span>
                }
                </text>));
                if (objUser.DepartmentID == Constants.HEAD_DEPT_ID && objUser.IsHeadOffice == Constants.IS_ACTIVE)
                {
                    gridColumns.Add(grid.Column(header: "", format: @<text><a href="javascript:void(0)" onclick="deleteHistory(@item.ReportReviewID)" class="btn btn-xs btn-danger" title="Xóa thông tin lịch sử"><i class="fa fa-trash-o"></i> Xóa</a></text>));
                }
                @grid.GetHtml(htmlAttributes: new { id = "divGridResult" },
                                      fillEmptyRows: false,
                                      tableStyle: "table table-hover table-striped",
                                      footerStyle: "table-pager",
                                      alternatingRowStyle: "altRow",
                                      selectedRowStyle: "selectRow",
                                      columns: gridColumns);
            }
            else
            {
                <div style="color:red; margin-left:10px;">
                    Chưa có thông tin lịch sử
                </div>
            }
        </div>
    </div>
</div>

<script type="text/javascript">
    function deleteHistory(id) {
        if (!confirm("Bạn có chắc chắn muốn xóa lịch sử đã chọn?")) {
            return;
        }
        $.ajax({
            type: "POST",
            url: '@Url.Action("Delete", "ReportHistory")',
            data: { 'id': id },
            success: function (data) {
                CommonJS.alert(data);
                reloadReportHis(@reportID);
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }

    function reloadReportHis(reportID) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("LoadReportHis", "ReportHistory")',
            data: { 'reportID': reportID, 'reportType': @reportType },
            success: function (data) {
                $('#divReportHis').parent().html(data);
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }
</script>