﻿@using IInterface.Models
@model DisbursementModel
@using (Ajax.BeginForm("SaveDisb", "SettleSynthesis", new AjaxOptions
{
    HttpMethod = "post",
    OnBegin = "onBegin",
    OnSuccess = "onSuccessDisb",
    OnFailure = "onFailDisb"
}, new { id = "frmAddDisb", @class = "form-horizontal" }))
{
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                @if (Model.DisbursementID > 0)
                {
                    <h4 class="modal-title">Cập nhật thông tin tạm ứng</h4>
                }
                else
                {
                    <h4 class="modal-title">Thêm mới tạm ứng</h4>
                }
                @Html.HiddenFor(x => x.DisbursementID)
                @Html.HiddenFor(x => x.PlanID)
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Number, new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.TextBoxFor(model => model.Number, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Number)
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                @Html.LabelFor(model => model.SMoney, new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.TextAreaFor(model => model.SMoney, new { @class = "form-control currency" })
                                    @Html.ValidationMessageFor(model => model.SMoney)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success"><i class="fa fa-floppy-o"></i> Lưu</button>
                <button type="button" data-dismiss="modal" class="btn btn-default"><i class="fa fa-ban"></i> Hủy</button>
            </div>
        </div>
    </div>
}
<script>
    function onBegin() {
        if ($("#frmAddDisb").valid()) {
            return true;
        } else {
            return false;
        }
    }
    function onSuccessDisb(data) {
        CommonJS.alert(data);
        $('#modal-disb').modal("toggle");
        loadDisb();
    }

    function onFailDisb(xhr) {
        CommonJS.alert(xhr.responseText);
    }
    $(function () {
        $(".currency").keyup(function (e) {
            $(this).val(format($(this).val()));
        });
        $('.currency').keypress(function (event) {
            if (event.keyCode != 46 && event.which != 46 && event.which != 8 && isNaN(String.fromCharCode(event.which))) {
                event.preventDefault();
            }
        });
    });
</script>
