﻿@using IInterface.Models
@using IInterface.Common
@{
    List<DisbursementModel> listDisb = ViewData["listDisb"] as List<DisbursementModel>;
    double totalMoney = 0;
    if (listDisb != null && listDisb.Any())
    {
        totalMoney = listDisb.Sum(x => x.Money.GetValueOrDefault());
    }
    double totalSettleMoney = (ViewData["totalSettleMoney"] as double?).GetValueOrDefault();
    int planID = (ViewData["planID"] as int?).GetValueOrDefault();
    int isView = (ViewData["isView"] as int?).GetValueOrDefault();
}
<div class="box box-info">
    <div class="box-header with-border">
        <h4 class="box-title">Thông tin giải ngân</h4>
        @if (isView == 0)
        {
            <div class="box-tools">
                <button class="btn btn-success" onclick="editDisb(0, @planID)" type="button" data-toggle="modal" data-target="#modal-disb"><i class="fa fa-plus"></i> Thêm mới</button>
            </div>
        }
    </div>
    <div class="box-body">
        <table class="table table-bordered">
            <tbody>
                @foreach (DisbursementModel d in listDisb)
                {
                    <tr>
                        @if (isView == 0)
                        {
                            <td style="vertical-align:middle;width:20%">
                                <a href="javascript:void(0)" onclick="editDisb(@d.DisbursementID, @planID)" data-toggle="modal" data-target="#modal-disb" class="btn btn-xs btn-primary" title="Sửa thông tin tạm ứng"><i class="fa fa-edit"></i> Sửa</a>
                                <a href="javascript:void(0)" onclick="delDisb(@d.DisbursementID)" class="btn btn-xs btn-danger" title="Xóa thông tin tạm ứng"><i class="fa fa-trash-o"></i> Xóa</a>
                            </td>
                            <td style="vertical-align:middle;width:30%"><strong>Tạm ứng lần @d.Number:</strong></td>
                        }
                        else
                        {
                            <td style="vertical-align:middle;width:50%"><strong>Tạm ứng lần @d.Number:</strong></td>
                        }
                        <td style="vertical-align:middle;width:50%">
                            @Utils.FormatMoney(d.Money)
                        </td>
                    </tr>
                }
                <tr>
                    @if (isView != 0)
                    {
                        <td style="vertical-align:middle;width:40%"><strong>Tổng số tiền tạm ứng:</strong></td>
                    }
                    else
                    {
                        <td colspan="2" style="vertical-align:middle;width:40%"><strong>Tổng số tiền tạm ứng:</strong></td>
                    }
                    <td style="vertical-align:middle;width:60%">
                        @Utils.FormatMoney(totalMoney)
                    </td>
                </tr>
                <tr>
                    @if (isView != 0)
                    {
                        <td style="vertical-align:middle;width:40%"><strong>Tổng số tiền giải ngân:</strong></td>
                    }
                    else
                    {
                        <td colspan="2" style="vertical-align:middle;width:40%"><strong>Tổng số tiền giải ngân:</strong></td>
                    }
                    <td style="vertical-align:middle;width:60%" id="tdSettle">
                        @Utils.FormatMoney(totalSettleMoney)
                    </td>
                </tr>
                <tr>
                    @if (isView != 0)
                    {
                        <td style="vertical-align:middle;width:40%"><strong>Chênh lệch tạm ứng và giải ngân:</strong></td>
                    }
                    else
                    {
                        <td colspan="2" style="vertical-align:middle;width:40%"><strong>Chênh lệch tạm ứng và giải ngân:</strong></td>
                    }
                    <td style="vertical-align:middle;width:60%" id="tdRemainSettle">
                        @Utils.FormatMoney(totalMoney - totalSettleMoney)
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<script type="text/javascript">
    function delDisb(id) {
        if (!confirm("Bạn có chắc chắn muốn xóa thông tin tạm ứng?")) {
            return;
        }
        $.ajax({
            type: "POST",
            url: '@Url.Action("DelDisb", "FinancialReport")',
            data: { 'id': id },
            success: function (data) {
                CommonJS.alert(data);
                loadDisb();
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }

    function editDisb(id, planID) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("LoadDisbEdit", "FinancialReport")',
            data: { 'id': id, 'planID': planID },
            success: function (data) {
                $('#modal-disb').html(data);
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }

    function resetDisbForm() {
        $("#frmAddDisb").trigger("reset");
    }
</script>