﻿@using IInterface.Models
@using IInterface.Common
@model FinancialReportInfoModel
@{
    string sDate = Model.SendDate != null ? Model.SendDate.Value.ToString("dd/MM/yyyy HH:mm:ss") : string.Empty;
    int isReview = (ViewData["isReview"] as int?).GetValueOrDefault();
}
<div class="row" id="frmGeneralInfo">
    @Html.HiddenFor(x => x.FinancialReportID)
    <div class="col-lg-12">
        <div class="box">
            <div class="box-header with-border text-center">
                @if (Model.Quarter != null)
                {
                    <h4>BÁO CÁO TÀI CHÍNH QUÝ @Utils.ToRoman(Model.Quarter.Value)/@Model.Year</h4>
                }
                else
                {
                    <h4>BÁO CÁO TÀI CHÍNH NĂM @Model.Year</h4>
                }
                @*<div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>*@
            </div>
            <div class="box-body">
                <div class="form-horizontal">
                    <div class="row">
                        <div class="col-md-6">
                            @Html.Hidden("PeriodID", Model.PeriodID)
                            @Html.Label("Kế hoạch:", new { @class = "control-label col-md-4" })
                            <div class="col-md-8 control-label strong-left">
                                @Model.PlanName
                            </div>
                        </div>
                        <div class="col-md-3">
                            @Html.Label("Năm:", new { @class = "control-label col-md-3" })
                            <div class="col-md-9 control-label strong-left">
                                @Model.Year
                            </div>
                        </div>
                        <div class="col-md-3">
                            @Html.Label("Quý:", new { @class = "control-label col-md-3" })
                            <div class="col-md-9 control-label strong-left">
                                @Model.Quarter
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        @Html.Label("Đơn vị:", new { @class = "control-label col-md-2" })
                        <div class="col-md-10 control-label strong-left">
                            @Model.DeptName
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            @Html.Label("Tổng ngân sách được duyệt:", new { @class = "control-label col-md-4" })
                            <div class="col-md-8 control-label strong-left">
                                @Utils.FormatMoney(Model.PlanMoney)
                            </div>
                        </div>
                        <div class="col-md-6">
                            @Html.Label("Giải ngân trong kỳ báo cáo:", new { @class = "control-label col-md-4" })
                            <div class="col-md-8 control-label strong-left">
                                @Utils.FormatMoney(Model.MoneyInQuarter)
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            @Html.Label("Ngày gửi báo cáo:", new { @class = "control-label col-md-4" })
                            <div class="col-md-8 control-label strong-left">
                                @sDate
                            </div>
                        </div>
                        <div class="col-md-6">
                            @Html.Label("Trạng thái:", new { @class = "control-label col-md-4" })
                            <div class="col-md-8 control-label strong-left">
                                @if (Model.Status == Constants.PERIOD_NEW)
                                {
                                    <span class="label label-default">Dự thảo</span>
                                }
                                else if (Model.Status == Constants.PERIOD_PLANNED)
                                {
                                    <span class="label label-primary">Đã lập kế hoạch</span>
                                }
                                else if (Model.Status == Constants.PERIOD_NEXT_LEVER)
                                {
                                    <span class="label label-info">Chuyển tiếp</span>
                                }
                                else if (Model.Status == Constants.PERIOD_APPROVED)
                                {
                                    <span class="label label-success">Đã phê duyệt</span>
                                }
                                else
                                {
                                    <span class="label label-default">Chưa lập kế hoạch</span>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 text-right">
                            @if (isReview == 0)
                            {
                                <a class="btn btn-default" href="@Url.Action("IndexDept", "FinancialReport")"><i class="fa fa-backward"></i> Quay lại</a>
                            }
                            else
                            {
                                <a class="btn btn-default" href="@Url.Action("IndexReview", "FinancialReport")"><i class="fa fa-backward"></i> Quay lại</a>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style type="text/css">
    .strong-left {
        text-align: left !important;
    }
</style>