﻿@using IInterface.Models
@using IInterface.Common
@{
    List<FinancialReportDetailModel> listDetail = ViewData["listDetail"] as List<FinancialReportDetailModel>;
    int planTargetID = (ViewData["planTargetID"] as int?).GetValueOrDefault();
}
@using (Ajax.BeginForm("Save", "FinancialReport", new AjaxOptions()
{
    HttpMethod = "post",
    OnSuccess = "onSuccess",
    OnFailure = "onFail"
}, new { id = "frmCreateOrEditExpense" }))
{
    @Html.AntiForgeryToken()
    <div class="col-md-12">
        @Html.Hidden("FinancialReportID")
        <table class="table table-bordered table-responsive" id="tableData_@planTargetID">
            <thead>
                <tr class="bg-info text-white">
                    <th style="width: 8%; text-align:center; vertical-align: middle">Mã hoạt động</th>
                    <th style="width: 24%; text-align:center; vertical-align: middle">Tên hoạt động</th>
                    <th style="width: 12%; text-align:center; vertical-align: middle">Tổng ngân sách được duyệt</th>
                    <th style="width: 12%; text-align:center; vertical-align: middle">Lũy kế giải ngân đến đầu quý báo cáo</th>
                    <th style="width: 12%; text-align:center; vertical-align: middle">Quyết toán trong quý</th>
                    <th style="width: 12%; text-align:center; vertical-align: middle">Lũy kế quyết toán đến cuối quý báo cáo</th>
                    <th style="width: 10%; text-align:center; vertical-align: middle">Số dư đến cuối kỳ báo cáo</th>
                    <th style="width: 10%; text-align:center; vertical-align: middle">Tỷ lệ giải ngân %</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="text-center">(1)</td>
                    <td class="text-center">(2)</td>
                    <td class="text-center">(3)</td>
                    <td class="text-center">(4)</td>
                    <td class="text-center">(5)</td>
                    <td class="text-center">(6)=(4)+(5)</td>
                    <td class="text-center">(7)=(3)-(6)</td>
                    <td class="text-center">(8)=(6)/(3)</td>
                </tr>
                @foreach (FinancialReportDetailModel detail in listDetail)
                {
                    string actionCode = detail.IsTarget ? (!string.IsNullOrWhiteSpace(detail.TargetCode) ? detail.TargetCode.Trim() : string.Empty) :
                        (!string.IsNullOrWhiteSpace(detail.PlanTargetActionCode) ? detail.PlanTargetActionCode.Trim() : string.Empty);
                    string actionName = detail.IsTarget ? (!string.IsNullOrWhiteSpace(detail.TargetName) ? detail.TargetName.Trim() : string.Empty) :
                        (!string.IsNullOrWhiteSpace(detail.PlanTargetActionName) ? detail.PlanTargetActionName.Trim() : string.Empty);
                    double totalInQuarter = detail.DisbMoneyToQuarter.GetValueOrDefault() + detail.DisbMoney.GetValueOrDefault();
                    double remainMoney = detail.PlanMoney.GetValueOrDefault() - totalInQuarter;
                    double percentDisb = detail.PlanMoney.GetValueOrDefault() == 0 ? 0 : Math.Round(((totalInQuarter / detail.PlanMoney.GetValueOrDefault()) * 100), 2);
                    string sPercentDisb = percentDisb + "%";
                    <tr>
                        <td class="text-center">@actionCode</td>
                        <td>@actionName</td>
                        <td class="text-right" mark="plan">@Utils.FormatMoney(detail.PlanMoney)</td>
                        <td class="text-right" mark="toq">@Utils.FormatMoney(detail.DisbMoneyToQuarter)</td>
                        <td class="text-right">
                            @if (detail.IsTarget)
                            {
                                <span id="target_@detail.PlanTargetID" parentid="">@Utils.FormatMoney(detail.DisbMoney)</span>
                            }
                            else
                            {
                                if (detail.ListSubAction != null && detail.ListSubAction.Any())
                                {
                                    <span id="targetaction_@detail.PlanTargetActionID" parentid="@detail.PlanTargetID" parentprefix="target">@Utils.FormatMoney(detail.DisbMoney)</span>
                                }
                                else
                                {
                                    <input type="hidden" name="ArrPlanTargetActionID" value="@detail.PlanTargetActionID" />
                                    <input type="text" class="currency form-control text-right" name="ArrPlanTargetActionMoney" parentid="@detail.PlanTargetID" parentprefix="target" value="@detail.DisbMoney" onblur="sumMoneyQuarter(this)" />
                                }
                            }
                        </td>
                        <td class="text-right" mark="total">
                            @Utils.FormatMoney(totalInQuarter)
                        </td>
                        <td class="text-right" mark="rem">
                            @Utils.FormatMoney(remainMoney)
                        </td>
                        <td class="text-right" mark="per">
                            @sPercentDisb
                        </td>
                    </tr>
                    if (detail.ListSubAction != null && detail.ListSubAction.Any())
                    {
                        foreach (SubActionPlanModel sub in detail.ListSubAction)
                        {
                            @Html.Partial("_ListSubActionQuarter", sub)                            
                        }
                    }
                }
            </tbody>
        </table>
    </div>
    <div class="col-md-12 text-right">
        <button class="btn btn-success" type="submit"> <i class="fa fa-floppy-o"></i> Lưu lại</button>
    </div>
}
<script type="text/javascript">
    $(document).ready(function () {
        $("#tableData_@planTargetID").freezeHeader();
        $("#tableData_@planTargetID").find('.currency').each(function () {
            var val = getVal($(this));
            setVal($(this), format(val));
        });
    });
    $(function () {
        $(".currency").keyup(function (e) {
            $(this).val(format($(this).val()));
        });
        $('.currency').keypress(function (event) {
            if (event.keyCode != 46 && event.which != 46 && event.which != 8 && isNaN(String.fromCharCode(event.which))) {
                event.preventDefault();
            }
        });
    });
    function sumMoneyQuarter(item) {
        var targetID = $('#TargetChoice').val();
        var tr = $(item).closest('tr');        
        var disbMoneyToQuarter = parseFloat(tr.find('td[mark="toq"]:first').html().replace(/\,/g, ""));
        var planMoney = parseFloat(tr.find('td[mark="plan"]:first').html().replace(/\,/g, ""));
        var curval = getVal(item);
        curval = curval.replace(/\,/g, "");
        var curmoney = curval.trim() != "" ? parseFloat(curval) : 0;
        var total = disbMoneyToQuarter + curmoney;
        var remain = planMoney - total;
        var percent = planMoney == 0 ? "0" : (100 * total / planMoney).toFixed(2) + "%";
        tr.find('td[mark="total"]:first').html(format(total));
        tr.find('td[mark="rem"]:first').html(format(remain));
        tr.find('td[mark="per"]:first').html(percent);
        var parid = $(item).attr('parentid');
        var parpre = $(item).attr('parentprefix');
        if (parid != "") {
            var sum = 0;
            $('#tab' + targetID + ' #ListActionDetail input[parentprefix="' + parpre + '"][parentid="' + parid + '"]').each(function () {
                var val = getVal(this);
                val = val.replace(/\,/g, "");;
                var money = val.trim() != "" ? parseFloat(val) : 0;
                sum += money;
            });
            var parenttrueid = '#tab' + targetID + ' #ListActionDetail #' + parpre + '_' + parid;
            if (sum > 0) {
                $(parenttrueid).html(format(sum));
            } else {
                $(parenttrueid).html('');
            }
            sumMoneyQuarter($(parenttrueid)[0]);
        }
    }
</script>