﻿@using IInterface.Models
@using IInterface.Common
@model SubActionPlanModel
@{
    string actionCode = !string.IsNullOrWhiteSpace(Model.SubActionCode) ? Model.SubActionCode.Trim() : string.Empty;
    string actionName = !string.IsNullOrWhiteSpace(Model.SubActionContent) ? Model.SubActionContent.Trim() : string.Empty;
    double totalInQuarter = Model.DisbMoneyToQuarter.GetValueOrDefault() + Model.DisbMoney.GetValueOrDefault();
    double remainMoney = Model.TotalBudget.GetValueOrDefault() - totalInQuarter;
    double percentDisb = Model.TotalBudget.GetValueOrDefault() == 0 ? 0 : Math.Round(((totalInQuarter / Model.TotalBudget.GetValueOrDefault()) * 100), 2);
    string sPercentDisb = percentDisb + "%";
    int parentid = Model.ParentID != null ? Model.ParentID.Value : Model.PlanTargetActionID.GetValueOrDefault();
    string parentprefix = Model.ParentID != null ? "subaction" : "targetaction";
}
<tr>
    <td class="text-center">@actionCode</td>
    <td>@actionName</td>
    <td class="text-right" mark="plan">@Utils.FormatMoney(Model.TotalBudget.GetValueOrDefault())</td>
    <td class="text-right" mark="toq">@Model.DisbMoneyToQuarter</td>
    <td class="text-right">
        <input type="hidden" name="ArrSubActionPlanID" value="@Model.SubActionPlanID" />
        <input type="text" class="currency form-control text-right" id="subaction_@Model.SubActionPlanID" name="ArrSubActionPlanMoney" parentid="@parentid" parentprefix="@parentprefix" value="@Model.DisbMoney" onblur="sumMoneyQuarter(this)" />
    </td>
    <td class="text-right" mark="total">
        @Utils.FormatMoney(totalInQuarter)
    </td>
    <td class="text-right" mark="rem">
        @Utils.FormatMoney(remainMoney)
    </td>
    <td class="text-right" mark="per">
        @sPercentDisb
    </td>
</tr>
@if (Model.ListChildSubActionPlan != null && Model.ListChildSubActionPlan.Any())
{
    foreach (SubActionPlanModel sub in Model.ListChildSubActionPlan)
    {
        @Html.Partial("_ListSubActionQuarter", sub)
    }
}