﻿@using IInterface.Models
@using IInterface.Common
@{
    List<FinancialReportDetailModel> listDetail = ViewData["listDetail"] as List<FinancialReportDetailModel>;
    int planTargetID = (ViewData["planTargetID"] as int?).GetValueOrDefault();
}

<div class="col-md-12">
    @Html.Hidden("FinancialReportID")
    <table class="table table-bordered table-responsive">
        <thead>
            <tr class="bg-info text-white">
                <th style="width: 8%; text-align:center; vertical-align: middle">Mã hoạt động</th>
                <th style="width: 24%; text-align:center; vertical-align: middle">Tên hoạt động</th>
                <th style="width: 12%; text-align:center; vertical-align: middle">Tổng ngân sách được duyệt</th>
                <th style="width: 12%; text-align:center; vertical-align: middle">Lũy kế giải ngân đến đầu quý báo cáo</th>
                <th style="width: 12%; text-align:center; vertical-align: middle">Quyết toán trong quý</th>
                <th style="width: 12%; text-align:center; vertical-align: middle">Lũy kế quyết toán đến cuối quý báo cáo</th>
                <th style="width: 10%; text-align:center; vertical-align: middle">Số dư đến cuối kỳ báo cáo</th>
                <th style="width: 10%; text-align:center; vertical-align: middle">Tỷ lệ giải ngân %</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="text-center">(1)</td>
                <td class="text-center">(2)</td>
                <td class="text-center">(3)</td>
                <td class="text-center">(4)</td>
                <td class="text-center">(5)</td>
                <td class="text-center">(6)=(4)+(5)</td>
                <td class="text-center">(7)=(3)-(6)</td>
                <td class="text-center">(8)=(6)/(3)</td>
            </tr>
            @foreach (FinancialReportDetailModel detail in listDetail)
            {
                string actionCode = detail.IsTarget ? (!string.IsNullOrWhiteSpace(detail.TargetCode) ? detail.TargetCode.Trim() : string.Empty) :
                    (!string.IsNullOrWhiteSpace(detail.PlanTargetActionCode) ? detail.PlanTargetActionCode.Trim() : string.Empty);
                string actionName = detail.IsTarget ? (!string.IsNullOrWhiteSpace(detail.TargetName) ? detail.TargetName.Trim() : string.Empty) :
                    (!string.IsNullOrWhiteSpace(detail.PlanTargetActionName) ? detail.PlanTargetActionName.Trim() : string.Empty);
                double totalInQuarter = detail.DisbMoneyToQuarter.GetValueOrDefault() + detail.DisbMoney.GetValueOrDefault();
                double remainMoney = detail.PlanMoney.GetValueOrDefault() - totalInQuarter;
                double percentDisb = detail.PlanMoney.GetValueOrDefault() == 0 ? 0 : Math.Round(((totalInQuarter / detail.PlanMoney.GetValueOrDefault()) * 100), 2);
                string sPercentDisb = percentDisb + "%";
                <tr>
                    <td class="text-center">@actionCode</td>
                    <td>@actionName</td>
                    <td class="text-right">@Utils.FormatMoney(detail.PlanMoney)</td>
                    <td class="text-right">@Utils.FormatMoney(detail.DisbMoneyToQuarter)</td>
                    <td class="text-right">@Utils.FormatMoney(detail.DisbMoney)</td>
                    <td class="text-right">
                        @Utils.FormatMoney(totalInQuarter)
                    </td>
                    <td class="text-right">
                        @Utils.FormatMoney(remainMoney)
                    </td>
                    <td class="text-right">
                        @sPercentDisb
                    </td>
                </tr>
                if (detail.ListSubAction != null && detail.ListSubAction.Any())
                {
                    foreach (SubActionPlanModel sub in detail.ListSubAction)
                    {
                        actionCode = !string.IsNullOrWhiteSpace(sub.SubActionCode) ? sub.SubActionCode.Trim() : string.Empty;
                        actionName = !string.IsNullOrWhiteSpace(sub.SubActionContent) ? sub.SubActionContent.Trim() : string.Empty;
                        totalInQuarter = sub.DisbMoneyToQuarter.GetValueOrDefault() + sub.DisbMoney.GetValueOrDefault();
                        remainMoney = sub.TotalBudget.GetValueOrDefault() - totalInQuarter;
                        percentDisb = Math.Round(((totalInQuarter / detail.PlanMoney.GetValueOrDefault()) * 100), 2);
                        sPercentDisb = percentDisb + "%";
                        <tr>
                            <td class="text-center">@actionCode</td>
                            <td>@actionName</td>
                            <td class="text-right">@Utils.FormatMoney(sub.TotalBudget.GetValueOrDefault())</td>
                            <td class="text-right">@Utils.FormatMoney(sub.DisbMoneyToQuarter)</td>
                            <td class="text-right">
                                @Utils.FormatMoney(sub.DisbMoney)
                            </td>
                            <td class="text-right">
                                @Utils.FormatMoney(totalInQuarter)
                            </td>
                            <td class="text-right">
                                @Utils.FormatMoney(remainMoney)
                            </td>
                            <td class="text-right">
                                @sPercentDisb
                            </td>
                        </tr>
                    }
                }
            }
        </tbody>
    </table>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#tableData_@planTargetID").freezeHeader();
    });
</script>