﻿@using IInterface.Common;
@using IInterface.Models
@{
    List<ReportReviewModel> listReview = ViewData["listReview"] as List<ReportReviewModel>;
    var grid = new WebGrid(
                          canPage: false,
                          canSort: false,
                          ajaxUpdateContainerId: "divGridResult"
                          );

    grid.Bind(listReview,
    autoSortAndPage: false,
    rowCount: listReview.Count);
}

<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Thông tin xem xét báo cáo tài chính</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
            @if (listReview.Count > 0)
            {
                var gridColumns = new List<WebGridColumn>();
                gridColumns.Add(grid.Column("UserName", "Tài khoản"));
                gridColumns.Add(grid.Column("FullName", "Họ tên"));
                gridColumns.Add(grid.Column("DeptName", "Đơn vị"));
                gridColumns.Add(grid.Column("Ngày gửi báo cáo", format: (item) => item.SendDate == null ? string.Empty : string.Format("{0:dd/MM/yyyy HH:mm:ss}", item.SendDate)));
                gridColumns.Add(grid.Column("Ngày xem xét", format: (item) => string.Format("{0:dd/MM/yyyy HH:mm:ss}", item.ReviewDate)));

                @grid.GetHtml(htmlAttributes: new { id = "divGridResult" },
                                      fillEmptyRows: false,
                                      tableStyle: "table table-hover table-striped",
                                      footerStyle: "table-pager",
                                      alternatingRowStyle: "altRow",
                                      selectedRowStyle: "selectRow",
                                      columns: gridColumns);
            }
            else
            {
                <div style="color:red; margin-left:10px;">
                    Báo cáo tài chính chưa được xem xét
                </div>
            }
        </div>
    </div>
</div>
