﻿@using IInterface.Models
@using IInterface.Common
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model FinancialReportInfoModel
@{
    UserInfo user = SessionManager.GetUserInfo();
    List<PlanTargetModel> lstTarget = ViewData["listTarget"] as List<PlanTargetModel>;
    bool? isView = ViewData["isView"] as bool?;
    int targetID = 0;
    bool isReview = Model != null && user.DepartmentID != Model.DeptID;
}
<script type="text/javascript" src="~/Scripts/jquery.freezeheader.js"></script>
<div class="row">
    <div class="col-md-12">
        @if (isView.GetValueOrDefault())
        {
            @Html.Hidden("isView", 1)
            @Html.Partial("_GeneralView", Model, ViewData)
        }
        else
        {
            @Html.Hidden("isView", 0)
            if (isReview)
            {
                @Html.Partial("_GeneralView", Model, ViewData)
            }
            else
            {
                @Html.Partial("_General", Model, ViewData)
            }
        }
    </div>
</div>
@if (Model != null && Model.FinancialReportID > 0 && lstTarget != null)
{
    PlanTargetModel targetFirst = lstTarget.FirstOrDefault();
    targetID = targetFirst != null ? targetFirst.PlanTargetID : 0;
    <div class="row">
        <div class="col-md-12">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    @for (int i = 0; i < lstTarget.Count; i++)
                {
                    PlanTargetModel target = lstTarget[i];
                    string tabId = "#tab" + target.PlanTargetID;
                    if (i == 0)
                    {
                            <li class="active">
                                <a data-toggle="tab" href="@tabId" onclick="loadActionInfo(@target.PlanTargetID)">
                                    @target.PlanTargetTitle
                                </a>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a data-toggle="tab" href="@tabId" onclick="loadActionInfo(@target.PlanTargetID)">
                                    @target.PlanTargetTitle
                                </a>
                            </li>
                        }
                    }
                </ul>
                <div class="tab-content">
                    @Html.Hidden("TargetChoice")
                    @for (int i = 0; i < lstTarget.Count; i++)
                {
                    PlanTargetModel target = lstTarget[i];
                    string tabId = "tab" + target.PlanTargetID;
                    if (i == 0)
                    {
                            <div id="@tabId" class="tab-pane fade active in"></div>
                        }
                        else
                        {
                            <div id="@tabId" class="tab-pane fade"></div>
                        }
                    }
                </div>
            </div>
    </div>
    </div>
    <div class="row">
        <div class="col-md-12" id="DisbView">
        </div>
    </div>
    <div id="modal-action" class="modal fade" role="dialog">
    </div>
    if (!isView.GetValueOrDefault())
    {
        <div id="modal-disb" class="modal fade" role="dialog">
        </div>
    }
}
else
{
    <div class="row">
        <div class="col-md-12" id="DisbView">
        </div>
    </div>
}
<script type="text/javascript">
    $(document).ready(function () {
        var periodID = $("#PeriodID").val();
        if(periodID == undefined || periodID == ''){
            CommonJS.alert("Chưa có kế hoạch nào của đơn vị được phê duyệt", false);
        } else {
            var targetID = @targetID;
            if(targetID > 0){
                loadActionInfo(targetID);
            }
            loadDisb();
        }
    });
    function loadDisb(){
        var reportID = $('#frmGeneralInfo #FinancialReportID').val();
        $.ajax({
            type: "POST",
            url: '@Url.Action("LoadDisb", "FinancialReport")',
            data: {
                'periodID': $("#PeriodID").val(),
                'reportID': reportID
            },
            success: function (data) {
                $("#DisbView").html(data);
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }
    var format = function (num) {
        var str = num.toString().replace("$", ""), parts = false, output = [], i = 1, formatted = null;
        if (str.indexOf(".") > 0) {
            parts = str.split(".");
            str = parts[0];
        }
        str = str.split("").reverse();
        for (var j = 0, len = str.length; j < len; j++) {
            if (str[j] != ",") {
                output.push(str[j]);
                if (i % 3 == 0 && j < (len - 1)) {
                    output.push(",");
                }
                i++;
            }
        }
        formatted = output.reverse().join("");
        return (formatted + ((parts) ? "." + parts[1].substr(0, 2) : ""));
    };
    function loadActionInfo(targetID) {
        var isView = $('#isView').val();
        var FinancialReportID = $('#frmGeneralInfo #FinancialReportID').val();
        if (FinancialReportID == '') {
            CommonJS.alert("Bạn phải nhập thông tin chung của báo cáo tài chính trước", false);
            return;
        }
        $('#TargetChoice').val(targetID);
        $.ajax({
            type: "POST",
            url: '@Url.Action("LoadActionInfo", "FinancialReport")',
            data: { "FinancialReportID": FinancialReportID, "planTargetID": targetID, "isView" : isView },
            success: function (data) {
                $('#tab' + targetID).html(data);
                $('#tab' + targetID).find('.currency').each(function () {
                    var val = getVal($(this));
                    setVal($(this), format(val));
                });
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }
    function getAction(id, code, name){
        var targetID = $('#TargetChoice').val();
        $('#tab' + targetID +' #actionName').html('');
        $('#tab' + targetID +' #PlanTargetActionID').val(id);
        $('#tab' + targetID +' #actionCode').html(code);
        if(id > 0){
            $('#tab' + targetID +' #actionName').html(name);
        }
        loadActionseByAction(true);
    }

    function loadActionByTarget() {
        var FinancialReportID = $('#frmGeneralInfo #FinancialReportID').val();
        var targetID = $('#TargetChoice').val();
        $.ajax({
            type: "POST",
            url: '@Url.Action("LoadActionByTarget", "FinancialReport")',
            data: {
                'planTargetID': targetID,
                'FinancialReportID': FinancialReportID
            },
            success: function (data) {
                $("#modal-action").html(data);
                $("#modal-action").modal("show");
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }

    function loadActionseByAction(loadFromCombo, id) {
        var FinancialReportID = $('#frmGeneralInfo #FinancialReportID').val();
        var targetID = $('#TargetChoice').val();
        var actionId = loadFromCombo ? $('#tab' + targetID +' #PlanTargetActionID').val() : id;
        var isView = $('#isView').val();
        if(actionId == ''){
            actionId = 0;
        }
        $.ajax({
            type: "POST",
            url: '@Url.Action("LoadReportDetail", "FinancialReport")',
            data: { "planTargetActionID": actionId, "planTargetID": $('#TargetChoice').val(), "FinancialReportID": FinancialReportID, "isView" : isView },
            success: function (data) {
                $('#tab' + targetID +' #ListActionDetail').html(data);
                $('#tab' + targetID +' #ListActionDetail').find('.currency').each(function () {
                    var val = getVal($(this));
                    setVal($(this), format(val));
                });
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }

    function getVal(item){
        if($(item).is("input")){
            return $(item).val();
        } else {
            return $(item).html();
        }
    }

    function setVal(item, val){
        if($(item).is("input")){
            $(item).val(val);
        } else {
            return $(item).html(val);
        }
    }
</script>