﻿@using IInterface.Common
@model IInterface.Models.MainActionModel
@{
    List<SelectListItem> listTarget = ViewData["listTarget"] as List<SelectListItem>;
    List<SelectListItem> listParent = ViewData["listParent"] as List<SelectListItem>;
    List<SelectListItem> listMission = ViewData["ListMission"] as List<SelectListItem>;
    listMission.Insert(0, new SelectListItem { Value = "", Text = "--Nhiệm vụ--" });
    List<SelectListItem> listDeptType = Utils.GetDepartmentType().Where(x => !string.IsNullOrWhiteSpace(x.Value) && !x.Value.Equals(Constants.DEPT_TYPE_PBQUY.ToString())).ToList();
    int id = Model != null && Model.ActionType == Constants.ACTION_EDIT ? Model.MainActionID : 0;
}

@using (Ajax.BeginForm("Save", "Action", new AjaxOptions()
{
    HttpMethod = "post",
    OnBegin = "onBegin",
    OnSuccess = "onSuccess",
    OnFailure = "onFail"
}, new { id = "frmCreateOrEdit" }))
{
    @Html.AntiForgeryToken()
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                @if (Model != null && Model.ActionType == Constants.ACTION_EDIT)
                {
                    @Html.HiddenFor(model => model.MainActionID)
                    <h4 class="modal-title">Cập nhật hoạt động</h4>
                }
                else
                {
                    <h4 class="modal-title">Thêm mới hoạt động</h4>
                }

            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    @Html.HiddenFor(model => model.TypeFor)
                    @Html.HiddenFor(model => model.ActionType)
                    <div class="form-group">
                        @Html.LabelFor(model => model.ActionCode, htmlAttributes: new { @class = "control-label col-md-2" })
                        @if (Model != null && Model.TypeFor.GetValueOrDefault() == Constants.MAIN_TYPE)
                        {
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.ActionCode, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.ActionCode)
                            </div>
                        }
                        else
                        {
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.ActionCode, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.ActionCode)
                            </div>
                            <div class="col-md-4 ">
                                <label>@Html.CheckBoxFor(x => x.IsOther) &nbsp;Hoạt động khác</label>
                            </div>
                        }
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.ActionContent, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.ActionContent, new { @class = "form-control", @rows = 3 })
                            @Html.ValidationMessageFor(model => model.ActionContent)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.TargetID, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.TargetID, listTarget, new { @class = "select2", @style = "float:left; width: 100%", @id = "TargetId" })
                            @*@Html.ValidationMessageFor(model => model.Status)*@
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.ParentID, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.ParentID, listParent, new { @class = "select2", @style = "float:left; width: 100%", @id = "ParentId" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("", "Nhiệm vụ", new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.MissionID, listMission, new { @class = "select2", @style = "float:left; width: 100%", @id = "missionId" })
                        </div>
                    </div>
                    @if (Model != null && Model.TypeFor.GetValueOrDefault() == Constants.MAIN_TYPE)
                    {
                        <div class="form-group">
                            @Html.Label("", "Loại đơn vị", new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.ListBoxFor(model => model.DeptType, listDeptType, new { multiple = "multiple", @class = "js-example-basic-single form-control", @style = "float:left; width: 100%", @id = "DeptType" })
                            </div>
                        </div>
                        <div class="form-group" id="divMappingDept">
                        </div>
                    }
                    @Html.HiddenFor(model => model.Status)
                </div>

            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success"><i class="fa fa-floppy-o"></i> Lưu</button>
                <button type="button" data-dismiss="modal" class="btn btn-default"><i class="fa fa-ban"></i> Hủy</button>
            </div>
        </div>
    </div>
}
<script type="text/javascript">
    $(document).ready(function () {
        $('select').select2();
        $.validator.unobtrusive.parse("#frmCreateOrEdit");
        var deptType = $("#frmCreateOrEdit #DeptType").val();
        getDept(deptType);
        $("#frmCreateOrEdit #TargetId").change(function () {
            var targetId = $(this).val();
            var deptType = $("#TypeFor").val();
            $.ajax({
                type: "POST",
                url: '@Url.Action("LoadListParentAction", "Action")',
                data: { targetId: targetId ,deptType:deptType},
                success: function (data) {
                    var select = $("#frmCreateOrEdit #ParentId");
                    select.empty();
                    $.each(data, function (index, itemData) {
                        select.append($('<option/>', {
                            value: itemData.Value,
                            text: itemData.Text
                        }));
                    });
                },
                error: function (xhr) {
                    CommonJS.alert(xhr.responseText);
                }
            });
        });

        $("#DeptType").change(function () {
            var deptType = $(this).val();
            getDept(deptType);
        });
    });

    function getDept(deptType) {
        if (deptType != "") {
            $.ajax({
                type: "POST",
                url: '@Url.Action("LoadListDept", "Action")',
                data: { "deptType": deptType, 'id': @id },
                success: function (data) {
                    $("#divMappingDept").html(data);
                },
                error: function (xhr) {
                    CommonJS.alert(xhr.responseText);
                }
            });
        } else {
            var select = $("#frmCreateOrEdit #DeptID");
            select.empty();
        }
    }

    function onBegin() {
        if ($("#frmCreateOrEdit").valid()) {
            return true;
        } else {
            return false;
        }
    }

    function onSuccess(msg) {
        CommonJS.alert(msg);
        $('#modal-AddOrEdit').modal('toggle');
        Search();
    }

    function onFail(xhr) {
        CommonJS.alert(xhr.responseText);
    }
</script>
