﻿@{
    List<SelectListItem> listDept = ViewData["listDept"] as List<SelectListItem>; ;
}
@Html.Label("", "Đơn vị", new { @class = "control-label col-md-2" })
<div class="col-md-10">
    @Html.ListBox("listDeptID", listDept, new { multiple = "multiple", @class = "js-example-basic-single form-control", style = "width:100%", @id = "DeptID" })
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('select').select2();
    });
</script>
