﻿@using IInterface.Common;
@using IInterface.Models;
@{
    Paginate<MainActionModel> paginate = ViewData["listResult"] as Paginate<MainActionModel>;
    var grid = new WebGrid(
                          rowsPerPage: paginate.PageSize,
                          canPage: true,
                          canSort: false,
                          ajaxUpdateContainerId: "divGridResult"
                          );

    grid.Bind(paginate.List,
    autoSortAndPage: false,
    rowCount: paginate.Count);
    grid.Pager(WebGridPagerModes.All);
}
<style>
    .ContentColumn {
        width: 40%;
    }

    .CodeColumn {
        width: 10px;
    }

    .w12 {
        width: 15px !important;
    }

    .stable-action {
        vertical-align: middle !important;
    }
</style>
@{
    if (paginate.Count > 0)
    {
        var gridColumns = new List<WebGridColumn>();
        gridColumns.Add(grid.Column("TargetName", "Mục tiêu"));
        gridColumns.Add(grid.Column("ActionCode", "Mã HĐ", style: "w12"));
        gridColumns.Add(grid.Column("ActionContent", "Nội dung hoạt động", format: @<text>

    @for (int i = 1; i <= @item.Level; i++)
    {
        <label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
    }
    @if (@item.Level > 0 && @item.ParentID != null)
    {
        <label>- </label>
    }
    @item.ActionContent
        </text>, style: "ContentColumn"));
 gridColumns.Add(grid.Column("ParentName", "Hoạt động cha"));
 gridColumns.Add(grid.Column(header: "Cấp áp dụng", format: @<text>
    @if (item.TypeFor == Constants.MAIN_TYPE)
    {
        <span class="label label-primary">Quỹ</span>

    }
    else
    {
        <span class="label label-success">Đơn vị</span>
    }
</text>));
gridColumns.Add(grid.Column("Ngày tạo", format: (item) => string.Format("{0:dd/MM/yyyy}", item.CreatDate)));
gridColumns.Add(grid.Column(header: "", format: @<text>
    <a href="javascript:void(0)" onclick="PrepareAddOrEdit(@item.MainActionID,@Constants.ACTION_ADD_CHILD)" data-toggle="modal" data-target="#modal-AddOrEdit" class="btn btn-xs btn-success" title="Thêm hoạt động nhỏ"><i class="fa fa-plus"></i></a>
    <a href="javascript:void(0)" onclick="PrepareAddOrEdit(@item.MainActionID,@Constants.ACTION_EDIT)" data-toggle="modal" data-target="#modal-AddOrEdit" class="btn btn-xs btn-primary" title="Sửa thông tin"><i class="fa fa-edit"></i></a>
    <a href="javascript:void(0)" onclick="deleteAction(@item.MainActionID)" class="btn btn-xs btn-danger" title="Xóa thông tin"><i class="fa fa-trash-o"></i></a>
</text>));

@grid.GetHtml(htmlAttributes: new { id = "divGridResult" },
                              fillEmptyRows: false,
                              tableStyle: "table table-hover table-striped stable-action",
                              footerStyle: "table-pager",
                              alternatingRowStyle: "altRow",
                              selectedRowStyle: "selectRow",
                              mode: WebGridPagerModes.All,
                              columns: gridColumns)

}
else
{
<div style="color:red; margin-left:10px;">
    Không có dữ liệu
</div>
}
}
<script>
    function PrepareAddOrEdit(id, type) {
        var typeDept = $("#typeDept").val();
        $.ajax({
            type: "POST",
            url: '@Url.Action("PrepareAddOrEdit", "Action")',
            data: {
                'id': id,
                'typeDept': typeDept,
                'type': type
            },
            success: function (result) {
                $("#modal-AddOrEdit").html(result);
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }

    function deleteAction(id) {
        if (!confirm("Bạn có chắc chắn muốn xóa hoạt động?")) {
            return;
        }
        $.ajax({
            type: "POST",
            url: '@Url.Action("Delete", "Action")',
            data: { 'id': id },
            success: function (data) {
                CommonJS.alert(data);
                Search();
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }
</script>
