﻿@using IInterface.Common
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int typeDept = (int)ViewData["typeDept"];
}
<div class="box">
    <div class="box-header">
        @if (typeDept == Constants.MAIN_TYPE)
        {
            <h4 class="box-title">Hoạt động quỹ</h4>
        }
        else
        {
            <h4 class="box-title">Hoạt động đơn vị</h4>
        }
    </div>
    <div class="box-body">
        @using (Ajax.BeginForm("Search", "Action", new AjaxOptions
        {
            HttpMethod = "get",
            UpdateTargetId = "divResult"
        }, new { id = "frmSearch" }))
        {
            <div class="form-horizontal">
                <input type="hidden" name="typeDept" id="typeDept" value="@typeDept" />
                @if (typeDept != Constants.MAIN_TYPE)
                {
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-3"> Loại đơn vị</label>
                                <div class="col-md-9">
                                    @Html.DropDownList("DeptType", Utils.GetDepartmentType(), htmlAttributes: new { @class = "form-control", style = "width: 100%" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-3"> Mục tiêu</label>
                                <div class="col-md-9">
                                    @Html.DropDownList("TargetID", new List<SelectListItem>(), htmlAttributes: new { @class = "form-control", style = "width: 100%" })
                                </div>
                            </div>
                        </div>
                    </div>
                }
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.Label("Mã hoạt động", new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                <input id="SearchCode" name="SearchCode" class="form-control" placeholder="Mã hoạt động" type="text" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.Label("Nội dung", new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                <div class="input-group with-border">
                                    <input id="SearchContent" name="SearchContent" class="form-control" placeholder="Nội dung hoạt động" type="text" />
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="submit"> <i class="fa fa-search"></i> Tìm kiếm</button>
                                        <button class="btn btn-success" type="button" data-toggle="modal" data-target="#modal-AddOrEdit" onclick="PrepareAddOrEdit(-1, @Constants.ACTION_ADD_NEW)"><i class="fa fa-plus"></i> Thêm mới</button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<div class="box box-solid">
    <div class="box-body" id="divResult">
    </div>
</div>
<div id="modal-AddOrEdit" class="modal fade" Period="dialog"></div>
<div id="modal-add-mappingAction" class="modal fade" role="dialog"></div>
<script>
    $(document).ready(function () {
        Search();
        $(function () {
            $('#frmSearch #TargetID').select2({
                placeholder: 'Lựa chọn mục tiêu...'
            });
            $('#frmSearch #TargetID').select2('val', '');
            $('#frmSearch #DeptType').select2();
            $("#frmSearch #DeptType").change(function () {
                var type = $(this).val();
                Search();
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("GetLstTargetByDept", "Target")',
                    data: { deptType: type },
                    success: function (data) {
                        var select = $("#frmSearch #TargetID");
                        select.empty();
                        select.append($('<option/>', {
                            value: 0,
                            text: "-- Chọn --"
                        }));
                        $.each(data, function (index, itemData) {
                            select.append($('<option/>', {
                                value: itemData.Value,
                                text: itemData.Text
                            }));
                        });
                    },
                    error: function (xhr) {
                        CommonJS.alert(xhr.responseText);
                    }
                });
            });
        });
    });
    function Search() {
        $("#frmSearch").submit();
    }

    function AddAction(id) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("LoadMappingAction", "Action")',
            data: {
                'id': id
            },
            success: function (result) {
                $("#modal-add-mappingAction").html(result);
                $("#modal-add-mappingAction").modal("show");
                $("#hidTargetID").val(id);
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }

    function ReloadAction(id) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("LoadMappingAction", "Action")',
            data: {
                'id': id
            },
            success: function (result) {
                $("#modal-add-mappingAction").html(result);
                $("#hidTargetID").val(id);
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }
</script>
