﻿@using IModel;
@{
    Plan plan = ViewData["Plan"] as Plan;
}
<div class="modal-dialog modal-lg">
    <div class="modal-content">
        @using (Ajax.BeginForm("AddSpendItem", "CostEstimate", new AjaxOptions()
        {
            HttpMethod = "POST",
            OnFailure = "onFail",
            OnSuccess = "onAddSpendSuccess",
        }, new { id = "frmSpendItem" }))
        {
            <div class="modal-header">
                <input type="hidden" name="planID" id="planID" value="@plan.PlanID" />
                <input type="hidden" id="idpar" />
                <input type="hidden" name="id" id="id" />
                <input type="hidden" name="type" id="type" />
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="titleSpend"></h4>
            </div>
            <div class="modal-body">
                <div class="row" style="padding-top: 5px;">
                    <div class="col-md-12">
                        <button type="button" class="btn btn-success pull-right" onclick="addSpendItem()">
                            <i class="fa fa-plus"></i>
                            Thêm mục chi
                        </button>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-bordered" id="tblSpendItem">
                            <thead>
                                <tr>
                                    <th style="text-align: center; vertical-align: middle; width: 15%;">
                                        Mã mục chi
                                    </th>
                                    <th style="text-align: center; vertical-align: middle; width: 75%;">
                                        Tên mục chi
                                    </th>
                                    <th style="text-align: center; vertical-align: middle; width: 10%;">
                                    </th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-default"><i class="fa fa-ban"></i> Hủy</button>
                <button type="submit" class="btn btn-success">
                    <i class="fa fa-save"></i>
                    Lưu
                </button>
            </div>
        }
    </div>
</div>
<script type="text/javascript">
    function addSpendItem() {
        var markup = "<tr><td style='width: 15%;'><input type='text' name='spendCodes' class='form-control' /></td>" +
            "<td style='width: 75%;'><input type='text' name='spendContents' class='form-control' /></td>" +
            "<td style='text-align:center'><button type='button' class='btn btn-danger' title='Xóa mục chi' onclick='removeSpendItem(this)'><i class='fa fa-trash-o'></i></button></td></tr>";
        $("#tblSpendItem tbody").append(markup);
    }

    function removeSpendItem(item) {
        console.log($(item).closest('tr'));
        var tr = $(item).closest('tr');
        tr.remove();
    }

    function findLastChild(tr) {
        var id = tr.attr('id');
        var countChild = 0;
        var lastChild;
        $('table tr[parentid="' + id + '"]').each(function () {
            countChild++;
            lastChild = $(this);
        });
        if (countChild == 0) {
            return tr;
        } else {
            return findLastChild(lastChild);
        }
    }

    function onAddSpendSuccess(data) {
        CommonJS.alert("Thêm hạng mục chi thành công");
        var id = $('#frmSpendItem #idpar').val();
        if (id == '') {
            $("#tableData tbody").append(data);
        } else {
            var tr = findLastChild($('#' + id));
            tr.after(data);
        }
    }
</script>
