﻿@using IInterface.Models;
@model CostEstimateDetailModel
@{
    long subCostID = Model == null ? 0 : Model.CostEstimateDetailID;
    double? TotalPrice = Model == null ? null : Model.TotalMoney;
    bool hasChild = Model == null ? false : Model.HasChild;
    string sReadOnly = hasChild ? "readonly" : "";
    string textView = hasChild ? "text-only-view" : " ";
}
<td style="text-align:center; vertical-align: middle">
    <input type="hidden" name="SubCostID" value="@subCostID" />
    <input type="text" name="TotalPrice" year="@Model.PlanYear" @sReadOnly value="@TotalPrice" onblur="sumMoney(this)" class="currency form-control input-sm @textView" style="text-align:right;" />
</td>
