﻿@using IInterface.Models;
@using IInterface.Common;
@using IModel;

@{

    Period period = ViewData["Period"] as Period;

    int startYear = period.FromDate != null ? period.FromDate.Year : 0;
    int endYear = period.ToDate != null ? period.ToDate.Year : 0;
    string title = startYear + "-" + endYear;
    Dictionary<int, double?> dicSumAll = new Dictionary<int, double?>();
    double sumAll = 0;
    string percent = (28 / (endYear - startYear + 1)) + "%";
   
    List<CostEstimateSpendModel> listSpend = ViewData["listSpend "] as List<CostEstimateSpendModel>;
    if (listSpend != null && listSpend.Any())
    {
        foreach (CostEstimateSpendModel spend in listSpend)
        {
            if (spend.ListChildSpend != null && spend.ListChildSpend.Any())
            {
                foreach (CostEstimateDetailModel cost in spend.ListDetail)
                {
                    if (dicSumAll.ContainsKey(cost.PlanYear))
                    {
                        dicSumAll[cost.PlanYear] = dicSumAll[cost.PlanYear] + cost.TotalMoney;
                    }
                    else
                    {
                        dicSumAll[cost.PlanYear] = cost.TotalMoney;
                    }
                }
            }
            sumAll += spend.TotalPrice.GetValueOrDefault();
        }
    }
}
<div class="box-body">
    @using (Ajax.BeginForm("SaveCostEstimate", "AdCostEstimate", new AjaxOptions()
    {
        HttpMethod = "POST",
        OnSuccess = "onSuccess",
        OnFailure = "onFail"
    }, new { id = "frmCostEstimate" }))
    {
        <div class="row">
            <div class="col-md-6">
                <button class="btn btn-default" type="button" onclick="window.history.back();"><i class="fa fa-reply"></i> Quay lại</button>
            </div>
            <div class="col-md-6">
                <div class="btn-group pull-right">
                    <button class="btn btn-success" type="submit"><i class="fa fa-floppy-o"></i> Lưu thông tin</button>
                </div>                
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-12">
                <div class="pull-right">
                    Đơn vị: Đồng
                </div>
            </div>
        </div>
        @Html.Hidden("periodID", period.PeriodID)
        <table class="table table-bordered" id="tableData">
            <!-- Table Header -->
            <thead>
                <tr class="bg-info text-white">
                    <th rowspan="2" style="text-align:center;vertical-align:middle;width:8%">TT</th>
                    <th rowspan="2" style="text-align:center;vertical-align:middle;width:25%">Nội dung</th>
                    @for (int year = startYear; year <= endYear; year++)
                    {
                        <th style="text-align:center;vertical-align:middle;width:@percent">Năm @year</th>
                    }
                    <th rowspan="2" style="text-align:center;vertical-align:middle;width:14%">Tổng ngân sách <br /> @title</th>
                    <th rowspan="2" style="text-align:center;vertical-align:middle;width:25%">Ghi chú</th>
                </tr>
                <tr class="bg-info text-white">
                    @for (int year = startYear; year <= endYear; year++)
                    {
                        <th style="text-align:center;vertical-align:middle;">Số tiền</th>
                    }

                </tr>
            </thead>
            <!-- Table Header -->
            <tbody>
                <tr id="sumall" parentid="">
                    <td></td>
                    <td style="text-align:center;vertical-align: middle">
                        <b>
                            Tổng cộng
                        </b>
                    </td>
                    @for (int year = startYear; year <= endYear; year++)
                    {
                        string ptSCost = dicSumAll.ContainsKey(year) ? dicSumAll[year].GetValueOrDefault().ToString() : "";
                        <td style="text-align:right">
                            <input style="text-align:right; vertical-align: middle" year="@year" type="text" disabled name="TotalPrice" value="@ptSCost" class="currency form-control input-sm text-bold text-only-view" />
                        </td>
                    }
                    <td style="text-align:right">
                        <input type="text" style="text-align:right; vertical-align: middle" disabled name="SumTotalBudget" value="@sumAll" class="currency form-control input-sm text-bold text-only-view" />
                    </td>
                    <td></td>
                </tr>

                @if (listSpend != null && listSpend.Any())
                {
                    foreach (CostEstimateSpendModel spend in listSpend)
                    {
                        // spend.SpendItemTitle = Utils.ToRoman(8);
                        @Html.Partial("_ListSubCost", spend)
                    }
                }

                <tr id="sumallLast" parentid="">
                    <td style="text-align:center;vertical-align: middle"></td>
                    <td style="text-align:center;vertical-align: middle">
                        <b>
                            Tổng cộng
                        </b>
                    </td>
                    @for (int year = startYear; year <= endYear; year++)
                    {
                        string ptSCost = dicSumAll.ContainsKey(year) ? dicSumAll[year].GetValueOrDefault().ToString() : "";
                        <td style="text-align:right">
                            <input style="text-align:right;" year="@year" type="text" disabled name="TotalPrice" value="@ptSCost" class="currency form-control input-sm text-bold text-only-view" />
                        </td>
                    }
                    <td style="text-align:right">
                        <input type="text" style="text-align:right;" disabled name="SumTotalBudget" value="@sumAll" class="currency form-control input-sm text-bold text-only-view" />
                    </td>
                    <td></td>
                </tr>
            </tbody>

        </table>
    }
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#tableData").freezeHeader();
        $("#tableData").find('.currency').each(function () {
            var val = $(this).val();
            $(this).val(format(val));
        });
    });

    var format = function (num) {
        var str = num.toString().replace("$", ""), parts = false, output = [], i = 1, formatted = null;
        if (str.indexOf(".") > 0) {
            parts = str.split(".");
            str = parts[0];
        }
        str = str.split("").reverse();
        for (var j = 0, len = str.length; j < len; j++) {
            if (str[j] != ",") {
                output.push(str[j]);
                if (i % 3 == 0 && j < (len - 1)) {
                    output.push(",");
                }
                i++;
            }
        }
        formatted = output.reverse().join("");
        return (formatted + ((parts) ? "." + parts[1].substr(0, 2) : ""));
    };
    $(function () {
        $(".currency").keyup(function (e) {
            $(this).val(format($(this).val()));
        });
        $('.currency').keypress(function (event) {
            if (event.keyCode != 46 && event.which != 46 && event.which != 8 && isNaN(String.fromCharCode(event.which))) {
                event.preventDefault();
            }
        });
    });

    function sumMoney(item){
        var tr = $(item).closest("tr");
        var parentid = tr.attr('parentid');
        if(parentid != ''){
            var trparentid = '#divGridSubActionPlan #' + parentid;
            var startYear = @startYear;
            var endYear = @endYear;
            var sumTotal = 0;
            for(var year = startYear; year <= endYear; year++){
                var totalByYear = 0;
                $('#divGridSubActionPlan table tr[parentid="' + parentid + '"]').each(function () {
                    var totalItem = $(this).find('input[name="TotalPrice"][year="' + year + '"]');
                    var val = $(totalItem).val().replace(/\,/g, "");;
                    var money = val.trim() != "" ? parseFloat(val) : 0;
                    if(money > 0){
                        totalByYear += money;
                    }
                });
                $(trparentid).find('input[name="TotalPrice"][year="' + year + '"]:first').val(format(totalByYear));
            }
            // Tinh tong
            $('#divGridSubActionPlan table tr[parentid="' + parentid + '"]').each(function () {
                // Tinh lai tong tung dong
                var sum = 0;
                $(this).find('input[name="TotalPrice"]').each(function () {
                    var val = $(this).val().replace(/\,/g, "");;
                    var money = val.trim() != "" ? parseFloat(val) : 0;
                    sum += money;
                });
                $(this).find('input[name="SumTotalBudget"]:first').val(format(sum));
                sumTotal += sum;
            });
            $(trparentid).find('input[name="SumTotalBudget"]:first').val(format(sumTotal));
            sumMoney($(trparentid)[0]);
        } else {
            // Thiet lap du lieu dong cuoi cung
            var sum = 0;
            var firstTr = $('#divGridSubActionPlan #sumall');
            var lastTr = $('#divGridSubActionPlan #sumallLast');
            firstTr.find('input[name="TotalPrice"]').each(function () {
                var year = $(this).attr('year');
                var val = $(this).val();
                lastTr.find('input[name="TotalPrice"][year="' + year + '"]:first').val(val);
                if(val != ''){
                    var money = parseFloat(val.replace(/\,/g, "").trim());
                    sum += money;
                }
            });
            if(sum > 0){
                lastTr.find('input[name="SumTotalBudget"]:first').val(format(sum));
            } else {
                lastTr.find('input[name="SumTotalBudget"]:first').val('');
            }
        }
    }

    function loadEstimateCost(periodID){
        $.ajax({
            url: '@Url.Action("SyncCostEstimate", "CostEstimate")',
            data: { "periodID": periodID },
            success: function (result) {
                $('#divGridResult').html(result);
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }

    function IsNumeric(input) {
        return (input - 0) == input && input.length > 0;
    }

    function removeSpend(tr){
        var id = tr.attr('id');
        $('#divGridSubActionPlan table tr[parentid="' + id + '"]').each(function () {
            removeSpend($(this));
        });
        tr.remove();
    }

    function delSpendItem(id){
        $.ajax({
            url: '@Url.Action("DelSpendItem", "CostEstimate")',
            data: { "id": id },
            success: function (result) {
                CommonJS.alert(result);
                var tr = $('#subcost_' + id);
                var item;
                tr.find('input[name="TotalPrice"]').each(function () {
                    $(this).val(0);
                    item = $(this);
                });
                sumMoney(item);
                removeSpend(tr);
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }

    function syncSalary(id){
        $.ajax({
            url: '@Url.Action("SyncSalary", "CostEstimate")',
            data: { "id": id },
            success: function (result) {
                CommonJS.alert("Tổng hợp thành công");
                var tr = $('#subcost_' + id);
                var item;
                var i = 0;
                tr.find('input[name="TotalPrice"]').each(function () {
                    $(this).val(format(result[i]));
                    item = $(this);
                    i++;
                });
                sumMoney(item);
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }

    function openAddSpendItem(id, name, type, idpar){
        $("#modalSpendItem").modal("show");
        $("#modalSpendItem #id").val(id);
        $("#modalSpendItem #type").val(type);
        $("#modalSpendItem #idpar").val(idpar);
        $("#modalSpendItem #titleSpend").html("Hạng mục chi: " + name);
        $("#modalSpendItem #tblSpendItem tbody").empty();
    }
</script>
