﻿@using IInterface.Common;
@using IInterface.Models;
@{
    Paginate<PeriodDeptModel> paginate = ViewData["listPeriodDept"] as Paginate<PeriodDeptModel>;
    var grid = new WebGrid(
                          rowsPerPage: paginate.PageSize,
                          canPage: true,
                          canSort: false,
                          ajaxUpdateContainerId: "divGridPeriod"
                          );

    grid.Bind(paginate.List,
    autoSortAndPage: false,
    rowCount: paginate.Count);
    grid.Pager(WebGridPagerModes.All);
}
@{
    if (paginate.Count > 0)
    {
        var gridColumns = new List<WebGridColumn>();
        gridColumns.Add(grid.Column("PeriodName", "Giai đoạn"));
        gridColumns.Add(grid.Column("Status", "Trạng thái", format: @<text>
        @if (item.PlanID != null)
        {
            <span class="label label-success">Đã lập chi phí</span>
        }
        else
        {
            <span class="label label-warning">Chưa lập chi phí</span>
        }
        </text>));
        gridColumns.Add(grid.Column("Từ ngày", format: (item) => string.Format("{0:MM/yyyy}", item.FromDate)));
        gridColumns.Add(grid.Column("Tới ngày", format: (item) => string.Format("{0:MM/yyyy}", item.ToDate)));
        gridColumns.Add(grid.Column(header: "", format: @<text>
            <div class="btn-group" role="group" aria-label="...">
                @if (item.PlanID == null || item.PlanID == 0 || !item.HasAdCost)
                {
                    <a href='@Url.Action("AdCost", "AdCostEstimate", new { periodID = item.PeriodID })' class="btn btn-sm btn-primary" title="Cập nhật chi phí hành chính"><i class="fa fa-line-chart"></i> Cập nhật</a>
                }
                else
                {
                    <a href='@Url.Action("AdCost", "AdCostEstimate", new { planID = item.PlanID })' class="btn btn-sm btn-primary" title="Cập nhật chi phí hành chính"><i class="fa fa-line-chart"></i> Cập nhật</a>
                    <a href='@Url.Action("AdCost", "AdCostEstimate", new { planID = item.PlanID, isView = Constants.IS_ACTIVE })' class="btn btn-sm btn-info" title="Chi tiết chi phí hành chính"><i class="fa fa-info-circle"></i> Chi tiết</a>
                }
            </div>
        </text>
            ));
        @grid.GetHtml(htmlAttributes: new { id = "divGridPeriod" },
                                      fillEmptyRows: false,
                                      tableStyle: "table table-hover table-striped",
                                      footerStyle: "table-pager",
                                      alternatingRowStyle: "altRow",
                                      selectedRowStyle: "selectRow",
                                      mode: WebGridPagerModes.All,
                                      columns: gridColumns)
    }
    else
    {
        <div style="color:red; margin-left:10px;">
            Không có dữ liệu
        </div>
    }
}