﻿@using IModel;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";


    Period period = ViewData["Period"] as Period;
    int fromYear = period.FromDate.Year;
    int toYear = period.ToDate.Year;
    string title = "CHI PHÍ HÀNH CHÍNH GIAI ĐOẠN " + fromYear + "-" + toYear;
}
<script type="text/javascript" src="~/Scripts/jquery.freezeheader.js"></script>

<div class="row">
    <div class="col-lg-12">
        <div class="box">
            <div class="box-header with-border">
                <h4 class="box-title">
                    QUỸ PHÒNG CHỐNG TÁC HẠI CỦA THUỐC LÁ
                </h4>
                <br />
                <br />
                <h4 class="text-center">
                    @title
                </h4>
                <div class="btn-box-tool">

                </div>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-lg-12" id="divGridSubActionPlan">
                        @Html.Partial("_ListEstimateCost")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="modalSpendItem" class="modal fade" role="dialog">
    @Html.Partial("_AddSpendItem")
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#tableData").freezeHeader();
    });
    function onSuccess(msg) {
        CommonJS.alert(msg);
    }

    function onFail(xhr) {
        CommonJS.alert(xhr.responseText);
    }
</script>
<style type="text/css">
    .text-only-view {
        background-color: transparent !important;
        border: 0 !important;
        background: transparent !important;
    }
</style>