﻿@using IInterface.Common
@using IInterface.Models
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model ActionLogModel
<div class="box">
    <div class="box-header with-border">
        <i class="fa fa-search"></i>
        <h4 class="box-title">Thông tin tra cứu</h4>
    </div>
    <div class="box-header with-border">
        @using (Ajax.BeginForm("Search", "ActionLog", new AjaxOptions
        {
            HttpMethod = "get",
            UpdateTargetId = "divGridActionLog"
        }, new { id = "frmSearch", @class = "form-horizontal" }))
        {
            <div class="form-horizontal">
                <div class="form-group">
                    @Html.Label("Tên đăng nhập:", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.TextBoxFor(model => model.UserName, "{0:dd/MM/yyyy}", new { @class = "form-control" })
                    </div>
                    @Html.Label("Tên hành động:", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.TextBoxFor(model => model.ActionName, "{0:dd/MM/yyyy}", new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">Thời gian Từ:</label>
                    <div class="col-md-4">
                        <div class="input-group datetimepicker date1">
                            @Html.TextBoxFor(model => model.FromDate, "{0:dd/MM/yyyy}", new { @class = "form-control" })
                            <div class="input-group-addon">
                                <i class="fa fa-calendar">
                                </i>
                            </div>
                        </div>
                    </div>
                    <label class="control-label col-md-2">Tới:</label>
                    <div class="col-md-4">
                        <div class="input-group datetimepicker date2">
                            @Html.TextBoxFor(model => model.ToDate, "{0:dd/MM/yyyy}", new { @class = "form-control" })
                            <div class="input-group-addon">
                                <i class="fa fa-calendar">
                                </i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12 text-center">
                        <button class="btn btn-primary" type="submit"> <i class="fa fa-search"></i> Tìm kiếm</button>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<div class="box box-info">
    <div class="box-header with-border">
        <h4 class="box-title">Danh sách kết quả</h4>
    </div>
    <div class="box-body" id="divGridActionLog">
    </div>
</div>
<div id="modal-AddOrEdit" class="modal fade" Period="dialog"></div>
<script>
    $(document).ready(function () {
        $("select").select2();
        $('#FromDate').datepicker({
            locale: 'vi',
            format: 'dd/mm/yyyy',
            autoclose: true
        });
        $('#ToDate').datepicker({
            locale: 'vi',
            format: 'dd/mm/yyyy',
            autoclose: true
        });
        $(function () {
            $.validator.methods.date = function (value, element) {
                return this.optional(element) || moment(value, "DD/MM/YYYY", true).isValid();
            }
        });
    });

    $('.date1').click(function (event) {
        event.preventDefault();
        $('#FromDate').focus();
    });

    $('.date2').click(function (event) {
        event.preventDefault();
        $('#ToDate').focus();
    });
    function Search() {
        $("#frmSearch").submit();
    }
</script>
