﻿@using IInterface.Models
@model MenuModel
@{
    List<SelectListItem> lstStatus = new List<SelectListItem>();
    if (ViewBag.LstStatus != null)
    {
        lstStatus = ViewBag.LstStatus as List<SelectListItem>;
    }

    List<SelectListItem> lstParent = new List<SelectListItem>();
    if (ViewBag.LstParent != null)
    {
        lstParent = ViewBag.LstParent as List<SelectListItem>;
    }
}
@using (Ajax.BeginForm("Save", "MenuManagement", new AjaxOptions()
{
    HttpMethod = "post",
    OnBegin = "onBegin",
    OnSuccess = "onSuccess",
    OnFailure = "onFail"
}, new { id = "frmCreateOrEdit" }))
{
    @Html.AntiForgeryToken()
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                @Html.HiddenFor(model => model.Type)
                @if (Model != null && Model.Type == -1)
                {
                    <h4 class="modal-title">Thêm mới chức năng cha</h4>
                }
                else if (Model != null && Model.Type == 2)
                {
                    <h4 class="modal-title">Thêm mới chức năng con cho chức năng @Model.ParentName</h4>
                }
                else if (Model != null && Model.Type == 3)
                {
                    @Html.HiddenFor(model => model.MenuID)
                    <h4 class="modal-title">Cập nhật chức năng</h4>
                }

            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        @Html.LabelFor(model => model.MenuName, new { @class = "control-label col-md-2" })
                        <div class="col-md-4">
                            @Html.TextBoxFor(model => model.MenuName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.MenuName)
                        </div>
                        @Html.LabelFor(model => model.IconClass, new { @class = "control-label col-md-2" })
                        <div class="col-md-4">
                            @Html.TextBoxFor(model => model.IconClass, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.IconClass)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.ActionPath, new { @class = "control-label col-md-2" })
                        <div class="col-md-4">
                            @Html.TextBoxFor(model => model.ActionPath, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.ActionPath)
                        </div>
                        @if (Model != null && Model.Type != -1)
                        {
                            @Html.LabelFor(model => model.ParentID, new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                <div>
                                    @Html.DropDownListFor(model => model.ParentID, lstParent, new { @class = "select2", @style = "float:left; width:100%" })
                                </div>
                            </div>
                        }
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.OrderNumber, new { @class = "control-label col-md-2" })
                        <div class="col-md-4">
                            @Html.TextBoxFor(model => model.OrderNumber, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.OrderNumber)
                        </div>
                        @if (Model != null && Model.MenuID > 0)
                        {
                            @Html.LabelFor(model => model.Status, new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                <div>
                                    @Html.DropDownListFor(model => model.Status, lstStatus, new { @class = "select2", @style = "float:left; width:100%" })
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success"><i class="fa fa-floppy-o"></i> Lưu</button>
                <button type="button" data-dismiss="modal" class="btn btn-default"><i class="fa fa-ban"></i> Hủy</button>
            </div>
        </div>
    </div>
}
<script type="text/javascript">
    $.validator.unobtrusive.adapters.add('isgreater', ['otherproperty', 'ownerproperty'], function (options) {
        options.rules['isgreater'] = { otherproperty: options.params.otherproperty, ownerproperty: options.params.ownerproperty };
        options.messages['isgreater'] = options.message;
    });

    $.validator.addMethod("isgreater", function (value, element, param) {
        var ownerId = element.id;
        var otherid = param.otherproperty;
        if (ownerId !== param.ownerproperty) {
            otherid = ownerId.substr(0, ownerId.length - param.ownerproperty.length) + otherid;
        }
        var otherProp = $('#' + otherid);
        if (otherProp.val() != '') {
            var StartDate = new Date(moment(otherProp.val(), 'DD/MM/YYYY'));

            var Enddate = new Date(moment(value, 'DD/MM/YYYY'));
            if (StartDate != '') {
                return Enddate >= StartDate;
            }
        }
        return true;
    });

    $(document).ready(function () {
        $('select').select2();
        $.validator.unobtrusive.parse("#frmCreateOrEdit");
    });

    function onBegin() {
        if ($("#frmCreateOrEdit").valid()) {
            return true;
        } else {
            return false;
        }
    }

    function onSuccess(msg) {
        CommonJS.alert(msg);
        Search();
        $("#modal-AddOrEditMenu").modal("hide");
    }

    function onFail(xhr) {
        CommonJS.alert(xhr.responseText);
    }
</script>
