﻿@using IInterface.Common;
@using IInterface.Models;
@{
    List<MenuModel> listMenu = ViewData["listMenu"] as List<MenuModel>;
}
@if (listMenu.Count > 0)
{
    <table class="table table-hover" id="tableAddMenu">
        <thead>
            <tr>
                <th>Tên chức năng</th>
                <th>Thứ tự</th>
                <th>Class Icon</th>
                <th>Url</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (MenuModel menu in listMenu)
            {
                <tr>
                    <td>
                        <a href="javascript:void(0)"><i class="fa fa-arrow-down" onclick="changeDisplayChild(this, @menu.MenuID, false)"></i></a>&nbsp;@menu.MenuName
                    </td>
                    <td>@menu.OrderNumber</td>
                    <td>@menu.IconClass</td>
                    <td>@menu.ActionPath</td>
                    <td><a href="javascript:void(0)" onclick="PrepareAddOrEdit(@menu.MenuID)" class="btn btn-xs btn-success" title="Thêm menu con"><i class="fa fa-plus"></i> Thêm</a></td>
                </tr>
                if (menu.ListChildMenu != null && menu.ListChildMenu.Count > 0)
                {
                    foreach (MenuModel child in menu.ListChildMenu)
                    {
                        <tr parent="@menu.MenuID">
                            <td>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@child.MenuName
                            </td>
                            <td>@menu.OrderNumber</td>
                            <td>@child.IconClass</td>
                            <td>@child.ActionPath</td>
                            <td>
                                <a href="javascript:void(0)" onclick="PrepareAddOrEdit(@child.MenuID)" class="btn btn-xs btn-primary" title="Sửa menu"><i class="fa fa-edit"></i> Sửa</a>
                                <a href="javascript:void(0)" onclick="deleteMision(@child.MenuID)" class="btn btn-xs btn-danger" title="Xóa menu"><i class="fa fa-trash-o"></i> Xóa</a>
                            </td>
                        </tr>
                    }
                }
            }
        </tbody>
    </table>
}
else
{
    <div style="color:red; margin-left:10px;">
        Danh sách chức năng hệ thống chưa được khai báo
    </div>
}
<script type="text/javascript">

    function changeDisplayChild(item, menuId, status) {
        if (status) {
            $(item).attr("class", "fa fa-arrow-down");;
            $("#tableAddMenu tbody tr[parent='" + menuId + "']").show();
        } else {
            $(item).attr("class", "fa fa-arrow-right")
            $("#tableAddMenu tbody tr[parent='" + menuId + "']").hide();
        }
        status = !status;
        $(item).attr("onclick", "changeDisplayChild(this, " + menuId + "," + status + ")");
        // Kiem tra check all
        if (!$(item).is(':checked')) {
            $("#checkAllMenu").prop("checked", false);
        } else {
            if ($("#tableAddMenu tbody input:checkbox[name='menuIds']:checked").length == $("#tableAddMenu tbody input:checkbox[name='menuIds']").length) {
                $("#checkAllMenu").prop("checked", true);
            }
        }
    }
</script>
