﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-lg-12">
        <div class="box">
            <div class="box-header with-border">
                @using (Ajax.BeginForm("Search", "MenuManagement", new AjaxOptions
                {
                    HttpMethod = "get",
                    UpdateTargetId = "divGridMenu"
                }, new { id = "frmSearch", @class = "form-horizontal" }))
                {
                    <div class="row">
                        @*<div class="col-md-4">
                                <div class="form-group">
                                    @Html.Label("Mã nhiệm vụ", new { @class = "control-label col-md-5" })
                                    <div class="col-md-7">
                                        <input id="MissionCodeSearch" name="MissionCodeSearch" class="form-control" placeholder="Mã nhiệm vụ" type="text" />
                                    </div>
                                </div>
                            </div>*@
                        <div class="col-md-12">
                            <div class="form-group">
                                @Html.Label("Tên chức năng", new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    <div class="input-group with-border">
                                        <input id="MissionNameSearch" name="MenuNameSearch" class="form-control" placeholder="Menu" type="text" />
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" type="submit"> <i class="fa fa-search"></i> Tìm kiếm</button>
                                            <button class="btn btn-success" type="button" data-toggle="modal" data-target="#modal-AddOrEdit" onclick="PrepareAddOrEdit(-1)"><i class="fa fa-plus"></i> Thêm mới</button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="box-body">
                <br />
                <div class="col-lg-12" id="divGridMenu">

                </div>
            </div>
        </div>
    </div>
</div>
<div id="modal-AddOrEditMenu" class="modal fade" Period="dialog"></div>
<script>
    $(document).ready(function () {
        Search();
    });
    function Search() {
        $("#frmSearch").submit();
    }

    function PrepareAddOrEdit(id) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("PrepareAddOrEdit", "MenuManagement")',
            data: {
                'id': id
            },
            success: function (result) {                
                $("#modal-AddOrEditMenu").html(result);
                $("#modal-AddOrEditMenu").modal("show");
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }
</script>
