﻿
@using IInterface.Models
@using IInterface.Common
@model DepartmentModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<SelectListItem> listParent = ViewData["listParent"] as List<SelectListItem>;
    List<SelectListItem> listMainAction = ViewData["listMainAction"] as List<SelectListItem>;
    List<SelectListItem> listTarget = ViewData["listTarget"] as List<SelectListItem>;
    List<SelectListItem> listDeptType = ViewData["listDeptType"] as List<SelectListItem>;
}
@using (Ajax.BeginForm("Save", "DepartmentInfo", new AjaxOptions()
{
    HttpMethod = "post",
    OnBegin = "onBegin",
    OnSuccess = "onSuccess",
    OnFailure = "onFail"
}, new { id = "frmCreateOrEdit" }))
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-lg-12">
            <div class="box">
                <div class="box-header">
                    @if (Model != null && Model.DepartmentID > 0)
                    {
                        @Html.HiddenFor(model => model.DepartmentID)
                        <h3 class="modal-title"><i class="fa fa-edit"></i> Cập nhật thông tin đơn vị</h3>
                    }
                    else
                    {
                        <h3 class="modal-title"><i class="fa fa-plus"></i> Thêm mới đơn vị</h3>
                    }

                </div>
                <div class="box-body">
                    <div class="form-horizontal">
                        <fieldset class="fieldset-border">
                            <legend class="legend-border">Thông tin chung</legend>
                            <div class="form-group">
                                <label class="control-label col-md-2">Mã đơn vị</label>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(x => x.DepartmentCode, new { @class = "form-control", disabled = true })
                                    @Html.ValidationMessageFor(x => x.DepartmentCode)
                                </div>
                                <label class="control-label col-md-2">Tên đơn vị <span class="text-red">*</span></label>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(x => x.DepartmentName, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(x => x.DepartmentName)
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2">Địa chỉ</label>
                                <div class="col-md-10">
                                    @Html.TextBoxFor(x => x.Address, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(x => x.Address)
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2">Số điện thoại</label>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(x => x.PhoneNumber, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(x => x.PhoneNumber)
                                </div>
                                <label class="control-label col-md-2">Fax</label>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(x => x.Fax, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(x => x.Fax)
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2">Số tài khoản</label>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(x => x.AccountNumber, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(x => x.AccountNumber)
                                </div>
                                <label class="control-label col-md-2">Ngân hàng</label>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(x => x.BankName, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(x => x.BankName)
                                </div>
                            </div>
                        </fieldset>
                        <fieldset class="fieldset-border">
                            <legend class="legend-border">Người đại diện</legend>
                            <div class="form-group">
                                <label class="control-label col-md-2">Họ tên</label>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(x => x.RepresentPersonName, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(x => x.RepresentPersonName)
                                </div>
                                <label class="control-label col-md-2">Chức vụ</label>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(x => x.RepresentPosition, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(x => x.RepresentPosition)
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2">Địa chỉ</label>
                                <div class="col-md-10">
                                    @Html.TextBoxFor(x => x.RepresentAddress, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(x => x.RepresentAddress)
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2">Số điện thoại</label>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(x => x.RepresentPhone, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(x => x.RepresentPhone)
                                </div>
                                <label class="control-label col-md-2">Email</label>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(x => x.RepresentEmail, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(x => x.RepresentEmail)
                                </div>
                            </div>
                        </fieldset>
                        <fieldset class="fieldset-border">
                            <legend class="legend-border">Đầu mối liên hệ</legend>
                            <div class="form-group">
                                <label class="control-label col-md-2">Họ tên</label>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(x => x.ContactPersonName, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(x => x.ContactPersonName)
                                </div>
                                <label class="control-label col-md-2">Chức vụ</label>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(x => x.ContactPosition, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(x => x.ContactPosition)
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2">Địa chỉ</label>
                                <div class="col-md-10">
                                    @Html.TextBoxFor(x => x.ContactAddress, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(x => x.ContactAddress)
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2">Số điện thoại</label>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(x => x.ContactPhone, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(x => x.ContactPhone)
                                </div>
                                <label class="control-label col-md-2">Email</label>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(x => x.ContactEmail, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(x => x.ContactEmail)
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
                <div class="box-footer text-center">
                    <button type="submit" class="btn btn-success"><i class="fa fa-floppy-o"></i> Lưu</button>
                </div>
            </div>
        </div>
    </div>
}
<script type="text/javascript">
    $(document).ready(function () {
        $('select').select2();
        $.validator.unobtrusive.parse("#frmCreateOrEdit");

        $("#mainTargetId").change(function () {
            var targetId = $(this).val();

            $.ajax({
                type: "POST",
                url: '@Url.Action("LoadListAction", "Department")',
                data: { id: targetId},
                success: function (data) {
                    var select = $("#mainActionId");
                    select.empty();
                    select.append($('<option/>', {
                        value: 0,
                        text: "-- Chọn --"
                    }));
                    $.each(data, function (index, itemData) {
                        select.append($('<option/>', {
                            value: itemData.Value,
                            text: itemData.Text
                        }));
                    });
                },
                error: function (xhr) {
                    CommonJS.alert(xhr.responseText);
                }
            });
        });

    });

    function onBegin() {
        if ($("#frmCreateOrEdit").valid()) {
            return true;
        } else {
            return false;
        }
    }

    function onSuccess(msg) {
        CommonJS.alert(msg);
        @*var hidDepartmentID = $('#frmCreateOrEdit #DepartmentID');
        if (hidDepartmentID == undefined || hidDepartmentID.val() == undefined || $.trim(hidDepartmentID.val()) == '') {
            $("#frmCreateOrEdit").trigger('reset');
            $.ajax({
                type: "POST",
                url: '@Url.Action("ReloadParent", "Department")',
                data: {},
                success: function (data) {
                    $("#divParent").html(data);
                },
                error: function (xhr) {
                    CommonJS.alert(xhr.responseText);
                }
            });
        }*@
    }

    function onFail(xhr) {
        CommonJS.alert(xhr.responseText);
    }
</script>
