﻿@model IInterface.Models.MainIndexModel
@{
    List<SelectListItem> listTarget = new List<SelectListItem>();
    if (ViewData["ListTarget"] != null)
    {
        listTarget = ViewData["ListTarget"] as List<SelectListItem>;
    }
    List<SelectListItem> listType = new List<SelectListItem>();
    if (ViewData["ListType"] != null)
    {
        listType = ViewData["ListType"] as List<SelectListItem>;
    }
    List<SelectListItem> listDeptType = new List<SelectListItem>();
    if (ViewData["ListDeptType"] != null)
    {
        listDeptType = ViewData["ListDeptType"] as List<SelectListItem>;
    }
    List<SelectListItem> listIndex = new List<SelectListItem>();
    if (ViewData["ListIndex"] != null)
    {
        listIndex = ViewData["ListIndex"] as List<SelectListItem>;
    }
}
@using (Ajax.BeginForm("Save", "MainIndex", new AjaxOptions()
{
    HttpMethod = "post",
    OnBegin = "onBegin",
    OnSuccess = "onSuccess",
    OnFailure = "onFail"
}, new { id = "frmCreateOrEdit" }))
{
    @Html.AntiForgeryToken()
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                @if (Model != null && Model.MainIndexID > 0)
                {
                    @Html.HiddenFor(model => model.MainIndexID)
                    <h4 class="modal-title">Cập nhật chỉ số</h4>
                }
                else
                {
                    <h4 class="modal-title">Thêm mới chỉ số</h4>
                }
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group" id="divVal">
                        @Html.LabelFor(model => model.IndexValue, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.TextBoxFor(model => model.IndexValue, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.IndexValue)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.ContentIndex, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.TextAreaFor(model => model.ContentIndex, new { @class = "form-control", @rows = 4 })
                            @Html.ValidationMessageFor(model => model.ContentIndex)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.TypeIndex, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.DropDownListFor(model => model.TypeIndex, listType, new { @class = "form-control", id = "TypeIndex", style = "width: 100%" })
                            @Html.ValidationMessageFor(model => model.TypeIndex)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Type, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.DropDownListFor(model => model.Type, listDeptType, new { @class = "form-control", id = "TypeDept", style = "width: 100%" })
                            @Html.ValidationMessageFor(model => model.Type)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.TargetID, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.DropDownListFor(model => model.TargetID, listTarget, new { @class = "form-control", style = "width: 100%", id = "AddOrEditTargetID" })
                            @Html.ValidationMessageFor(model => model.TargetID)
                        </div>
                    </div>
                    <div class="form-group" id="divMappingIndex">
                        @Html.LabelFor(model => model.MappingIndexID, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.DropDownListFor(model => model.MappingIndexID, listIndex, new { @class = "form-control", style = "width: 100%", id = "AddOrEditMappingIndexID" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.OrderNumber, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.TextBoxFor(model => model.OrderNumber, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.OrderNumber)
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success"><i class="fa fa-floppy-o"></i> Lưu</button>
                <button type="button" data-dismiss="modal" class="btn btn-default"><i class="fa fa-ban"></i> Hủy</button>
            </div>
        </div>
    </div>
}
<script type="text/javascript">
    $(document).ready(function () {
        var type = $("#TypeIndex").val();
        if (type == 1) {
            $('#divVal').hide();
        } else {
            $('#divVal').show();
        }
        if ($("#TypeDept").val() == 0) {
            $('#divMappingIndex').hide();
        } else {
            $('#divMappingIndex').show();
        }
        $.validator.unobtrusive.parse("#frmCreateOrEdit");
        $(function () {
            $('#AddOrEditTargetID').select2();
            $('#AddOrEditMappingIndexID').select2();
            $('#TypeIndex').select2();
            $('#TypeDept').select2();
        });

        $("#TypeIndex").change(function () {
            var type = $(this).val();
            if (type == 1) {
                $('#divVal').hide();
            } else {
                $('#divVal').show();
            }
        });

        $("#TypeDept").change(function () {
            var type = $(this).val();
            if (type == 0) {
                $('#divMappingIndex').hide();
            } else {
                $('#divMappingIndex').show();
            }
            $.ajax({
                type: "POST",
                url: '@Url.Action("LoadListTarget", "MainIndex")',
                data: { type: type },
                success: function (data) {
                    var select = $("#AddOrEditTargetID");
                    select.empty();
                    select.append($('<option/>', {
                        value: 0,
                        text: "-- Chọn --"
                    }));
                    $.each(data, function (index, itemData) {
                        select.append($('<option/>', {
                            value: itemData.Value,
                            text: itemData.Text
                        }));
                    });
                },
                error: function (xhr) {
                    CommonJS.alert(xhr.responseText);
                }
            });
        });
    });

    function onBegin() {
        if ($("#frmCreateOrEdit").valid()) {
            return true;
        } else {
            return false;
        }
    }

    function onSuccess(msg) {
        CommonJS.alert(msg);
        Search();
    }

    function onFail(xhr) {
        CommonJS.alert(xhr.responseText);
    }
</script>

