﻿@using IInterface.Common;
@{
    Paginate<IInterface.Models.MainIndexModel> paginate = ViewData["listResult"] as Paginate<IInterface.Models.MainIndexModel>;
    var grid = new WebGrid(
                          rowsPerPage: paginate.PageSize,
                          canPage: true,
                          canSort: false,
                          ajaxUpdateContainerId: "divGridResult"
                          );

    grid.Bind(paginate.List,
    autoSortAndPage: false,
    rowCount: paginate.Count);
    grid.Pager(WebGridPagerModes.All);
}
<style>
    .ContentColumn {
        width: 50%;
    }

    .CodeColumn {
        width: 10%;
    }
</style>
@{
    if (paginate.Count > 0)
    {
        var gridColumns = new List<WebGridColumn>();
        gridColumns.Add(grid.Column("TargetName", "Mục tiêu", style: "CodeColumn"));
        gridColumns.Add(grid.Column(header: "Cấp áp dụng", format: @<text>
        @if (item.Type == Constants.MAIN_TYPE)
        {
            <span class="label label-primary">Quỹ</span>

        }
        else
        {
            <span class="label label-success">Đơn vị</span>
        }
        </text>));
        gridColumns.Add(grid.Column(header: "Chỉ số", format: @<text>
            @if (item.TypeIndex == Constants.TYPE_INDEX_INPUT)
            {
                <i class="fa fa-sign-in text-success"></i>  @item.ContentIndex
            }
            else if (item.TypeIndex == Constants.TYPE_INDEX_CHOICE)
            {
                <i class="fa fa-check-square text-primary"></i>  @item.ContentIndex
            }
            else if (item.TypeIndex == Constants.TYPE_INDEX_INPUT_AVERAGE)
            {
                <span class="label label-warning">%</span> @item.ContentIndex
            }
        </text>, style: "ContentColumn"));
        gridColumns.Add(grid.Column("IndexValue", "Giá trị"));
        gridColumns.Add(grid.Column("OrderNumber","Số thứ tự"));
        gridColumns.Add(grid.Column("Ngày tạo", format: (item) => string.Format("{0:dd/MM/yyyy}", item.CreateTime)));
        gridColumns.Add(grid.Column(header: "", format: @<text>
            <a href="javascript:void(0)" onclick="PrepareAddOrEdit(@item.MainIndexID)" data-toggle="modal" data-target="#modal-AddOrEdit" class="btn btn-xs btn-primary" title="Sửa thông tin"><i class="fa fa-edit"></i> Sửa</a>
            <a href="javascript:void(0)" onclick="deleteIndex(@item.MainIndexID)" class="btn btn-xs btn-danger" title="Xóa thông tin"><i class="fa fa-trash-o"></i> Xóa</a>
        </text>));

        @grid.GetHtml(htmlAttributes: new { id = "divGridResult" },
                                      fillEmptyRows: false,
                                      tableStyle: "table table-hover table-striped",
                                      footerStyle: "table-pager",
                                      alternatingRowStyle: "altRow",
                                      selectedRowStyle: "selectRow",
                                      mode: WebGridPagerModes.All,
                                      columns: gridColumns)

    }
    else
    {
        <div style="color:red; margin-left:10px;">
            Không có dữ liệu
        </div>
    }
}
<script>
    function PrepareAddOrEdit(id) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("PrepareAddOrEdit", "MainIndex")',
            data: {
                'id': id
            },
            success: function (result) {
                $("#modal-AddOrEdit").html(result);
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }

    function deleteIndex(id) {
        if (!confirm("Bạn có chắc chắn muốn xóa chỉ số?")) {
            return;
        }
        $.ajax({
            type: "POST",
            url: '@Url.Action("Delete", "MainIndex")',
            data: { 'id': id },
            success: function (data) {
                CommonJS.alert(data);
                Search();
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }
</script>
