﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="box">
    <div class="box-header">
        <h4 class="box-title">Chỉ số</h4>
    </div>
    <div class="box-body">
        @using (Ajax.BeginForm("Search", "MainIndex", new AjaxOptions
        {
            HttpMethod = "get",
            UpdateTargetId = "divResult"
        }, new { id = "frmSearch" }))
        {
            <div class="form-horizontal">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label col-md-3"> Cấp dùng</label>
                        <div class="col-md-9">
                            @Html.DropDownList("DeptID", null, htmlAttributes: new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="form-group">
                        <label class="control-label col-md-3"> Mục tiêu</label>
                        <div class="col-md-9">
                            <div class="input-group with-border">
                                @Html.DropDownList("TargetID", null, htmlAttributes: new { @class = "form-control" })
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="submit"> <i class="fa fa-search"></i> Tìm kiếm</button>
                                    <button class="btn btn-success" type="button" data-toggle="modal" data-target="#modal-AddOrEdit" onclick="PrepareAddOrEdit(-1)"><i class="fa fa-plus"></i> Thêm mới</button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<div class="box box-solid">
    <div class="box-body" id="divResult">
    </div>
</div>
<div id="modal-AddOrEdit" class="modal fade" Period="dialog"></div>
<script type="text/javascript">
    $(document).ready(function () {
        Search();
        $(function () {
            $('#TargetID').select2({
                placeholder: 'Lựa chọn mục tiêu...'
            });
            $('#TargetID').select2('val', '');
            $('#DeptID').select2();

            $("#DeptID").change(function () {
                var type = $(this).val();
                Search();
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("LoadListTarget", "MainIndex")',
                    data: { type: type},
                    success: function (data) {
                        var select = $("#TargetID");
                        select.empty();
                        select.append($('<option/>', {
                            value: 0,
                            text: "-- Chọn --"
                        }));
                        $.each(data, function (index, itemData) {
                            select.append($('<option/>', {
                                value: itemData.Value,
                                text: itemData.Text
                            }));
                        });
                    },
                    error: function (xhr) {
                        CommonJS.alert(xhr.responseText);
                    }
                });
            });
        });


    });
    function Search() {
        $("#frmSearch").submit();
    }
</script>
