﻿@using IInterface.Models
@model FlowProcessModel
@{
    List<SelectListItem> listCap = new List<SelectListItem> { new SelectListItem { Value = "0", Text = "Nhân viên" }, new SelectListItem { Value = "1", Text = "Trưởng phòng" } };
    List<SelectListItem> listObjectType = new List<SelectListItem> { new SelectListItem { Value = "1", Text = "Kế hoạch" }, new SelectListItem { Value = "2", Text = "Báo cáo quyết toán" }, new SelectListItem { Value = "3", Text = "Báo cáo tài chính" }, new SelectListItem { Value = "4", Text = "Báo cáo hoạt động" } };
    List<SelectListItem> listProcessorType = new List<SelectListItem> { new SelectListItem { Value = "1", Text = "Vai trò" }, new SelectListItem { Value = "2", Text = "Đơn vị" } };
    List<SelectListItem> listWorkType = new List<SelectListItem> { new SelectListItem { Value = "0", Text = "Nhận thông tin" }, new SelectListItem { Value = "1", Text = "Xem xét" }, new SelectListItem { Value = "2", Text = "Phê duyệt" } };
    List<SelectListItem> listPLNumber = new List<SelectListItem> { new SelectListItem { Value = "0", Text = "Tất cả" }, new SelectListItem { Value = "1", Text = "PL 01" }, new SelectListItem { Value = "2", Text = "PL 02" }, new SelectListItem { Value = "3", Text = "PL 03" } }; ;
    List<SelectListItem> listProcess = ViewData["listProcess"] as List<SelectListItem>;
    List<SelectListItem> listPeriod = ViewData["listPeriod"] as List<SelectListItem>;
}
<style>
    .fullWidth {
        width: 100%;
    }
</style>
@using (Ajax.BeginForm("Save", "FlowProcess", new AjaxOptions()
{
    HttpMethod = "post",
    OnBegin = "onBegin",
    OnSuccess = "onSuccess",
    OnFailure = "onFail"
}, new { id = "frmAddOrEdit" }))
{
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title ">
                    @if (Model != null && Model.FlowProcessID > 0)
                    {
                        @Html.HiddenFor(x => x.FlowProcessID)
                        <text>Cập nhật luồng</text>
                    }
                    else
                    {
                        <text>Thêm mới luồng</text>
                    }
                </h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-md-2">Loại đối tượng<span class="text-red"> *</span></label>
                        <div class="col-md-4">
                            @Html.DropDownListFor(x => x.ObjectType, listObjectType, new { @class = "js-example-basic-single form-control", style = "width:100%" })
                        </div>
                        <label id="lblPL" class="control-label col-md-2">Phụ lục</label>
                        <div class="col-md-2" id="divPL">
                            @Html.DropDownListFor(x => x.PLNumber, listPLNumber, new { @class = "js-example-basic-single form-control", style = "width:100%" })
                        </div>
                        <label id="divStep" class="control-label col-md-1">Bước<span class="text-red"> *</span></label>
                        <div class="col-md-1">
                            @Html.TextBoxFor(x => x.Step, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.Step)
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">Loại đối tượng</label>
                        <div class="col-md-4">
                            @Html.DropDownListFor(x => x.ProcessorType, listProcessorType, new { @class = "js-example-basic-single form-control", style = "width:100%" })
                        </div>
                        <label class="control-label col-md-2">Tên đối tượng</label>
                        <div class="col-md-4">
                            @Html.DropDownListFor(x => x.ProcessorID, listProcess, new { @class = "js-example-basic-single form-control", style = "width:100%" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">Hành động</label>
                        <div class="col-md-4">
                            @Html.DropDownListFor(x => x.WorkType, listWorkType, new { @class = "js-example-basic-single form-control", style = "width:100%" })
                        </div>
                        <label class="control-label col-md-2">Cấp thực hiện</label>
                        <div class="col-md-4">
                            @Html.DropDownListFor(x => x.IsHeadOffice, listCap, new { @class = "js-example-basic-single form-control", style = "width:100%" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">Kỳ báo cáo</label>
                        <div class="col-md-4">
                            @Html.DropDownListFor(x => x.PeriodID, listPeriod, new { @class = "js-example-basic-single form-control", style = "width:100%" })
                        </div>
                        <label class="control-label col-md-2"></label>
                        <div class="col-md-4">
                            @Html.CheckBoxFor(x => x.IsRepresent) &nbsp;Cán bộ phụ trách
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success">
                    <i class="fa fa-save"></i>
                    Lưu
                </button>
                <button type="button" data-dismiss="modal" class="btn btn-default"><i class="fa fa-ban"></i> Hủy</button>
            </div>
        </div>
    </div>
}
<script type="text/javascript">
    $(document).ready(function () {
        $(".js-example-basic-single").select2();
        $.validator.unobtrusive.parse("#frmAddOrEdit");
        $("#ProcessorType").change(function () {
            $.ajax({
                type: "POST",
                url: '@Url.Action("LoadObect", "FlowProcess")',
                data: { ProcessorType: $("#ProcessorType").val() },
                success: function (ObjectList) {
                    $("#ProcessorID").empty();
                    for (var i = 0; i < ObjectList.length; i++) {
                        $("#ProcessorID").append("<option value='" + ObjectList[i].Value + "'>" + ObjectList[i].Text + "</option>");
                    }
                },
                error: function (xhr) {
                    CommonJS.alert(xhr.responseText);
                }
            });
        });
        $("#ObjectType").change(function () {
            var objectType = $('#ObjectType').val();
            if (objectType == 1) {
                $('#lblPL').show();
                $('#divPL').show();
                $('#divStep').removeClass('col-md-2');
                $('#divStep').addClass('col-md-1');
            } else {
                $('#lblPL').hide();
                $('#divPL').hide();
                $('#divStep').removeClass('col-md-1');
                $('#divStep').addClass('col-md-2');
            }
        });

    });
    function onBegin() {
        if ($("#frmAddOrEdit").valid()) {
            return true;
        } else {
            return false;
        }
    }

    function onSuccess(msg) {
        CommonJS.alert(msg);
        search();
    }

    function onFail(xhr) {
        CommonJS.alert(xhr.responseText);
    }
</script>
