﻿@using IInterface.Common;
@using IInterface.Models;
@{
    int? objectType = ViewData["objectType"] as int?;
    List<FlowProcessModel> listFlow = ViewData["listFlowProcess"] as List<FlowProcessModel>;
    var grid = new WebGrid(
                          canSort: false,
                          ajaxUpdateContainerId: "gridFlowProcess",
                          ajaxUpdateCallback: "unCheckAll()"
                          );

    grid.Bind(listFlow,
    autoSortAndPage: false,
    rowCount: listFlow.Count);
}
@{
    if (listFlow.Count > 0)
    {
        var gridColumns = new List<WebGridColumn>();
        gridColumns.Add(grid.Column("", "Đối tượng", format: @<text>
        @{
            if (item.ObjectType == Constants.COMMENT_TYPE_PLAN_TARGET)
            {
                <span>Kế hoạch</span>
            }
            else if (item.ObjectType == Constants.COMMENT_TYPE_ACTION)
            {
                <span>Báo cáo hoạt động</span>
            }
            else if (item.ObjectType == Constants.COMMENT_TYPE_SETTLE)
            {
                <span>Báo cáo quyết toán</span>
            }
            else if (item.ObjectType == Constants.COMMENT_TYPE_FINANCIAL)
            {
                <span>Báo cáo tài chính</span>
            }
        }
        </text>, style: ""));
            gridColumns.Add(grid.Column("Step", "Thứ tự"));
            gridColumns.Add(grid.Column("", "Loại đối tượng", format: @<text>
            @{
                if (item.ProcessorType == Constants.FLOW_ROLE)
                {
                    <span>Vai trò</span>
                }
                else if (item.ProcessorType == Constants.FLOW_DEPT)
                {
                    <span>Đơn vị</span>
                }
            }
            </text>, style: ""));
                gridColumns.Add(grid.Column("ProcessorName", "Tên đối tượng"));
                gridColumns.Add(grid.Column("", "Hành động", format: @<text>
                @{
                    if (item.WorkType == Constants.FLOW_WORK_REVIEW)
                    {
                        <span>Xem xét</span>
                    }
                    else if (item.WorkType == Constants.FLOW_WORK_APPROVE)
                    {
                        <span>Phê duyệt</span>
                    }
                    else if (item.WorkType == 0)
                    {
                        <span>Nhận thông tin</span>
                    }
                }
                </text>, style: ""));
                    gridColumns.Add(grid.Column("", "Cấp thực hiện", format: @<text>
                    @{
                        if (item.IsHeadOffice != null && item.IsHeadOffice == Constants.IS_ACTIVE)
                        {
                            <span>Trưởng phòng</span>
                        }
                        else
                        {
                            <span>Nhân viên</span>
                        }
                    }
                    </text>, style: ""));
                        if (objectType.GetValueOrDefault() == Constants.COMMENT_TYPE_PLAN_TARGET)
                        {
                            gridColumns.Add(grid.Column("", "Phụ lục", format: @<text>
                        @{
                            if (item.PLNumber != null)
                            {
                                string s = "Phụ lục " + item.PLNumber;
                                <span>@s</span>
                            }
                            else
                            {
                                <span>Toàn bộ</span>
                            }
                        }
                            </text>, style: ""));
                            }
                            gridColumns.Add(grid.Column(format: @<text><a href="javascript:void(0)" onclick="openAddOrEditFlowProcess('@item.FlowProcessID')" data-toggle="tooltip" title="Sửa tài khoản"><i class="fa fa-pencil-square-o" style="font-size:18px"></i></a></text>, style: ""));
                gridColumns.Add(grid.Column(format: @<text><a href="javascript:void(0)" onclick="del('@item.FlowProcessID')" data-toggle="tooltip" title="Xóa thông tin"><i class="text-danger fa fa-trash-o" style="font-size:18px"></i></a></text>, style: ""));
                            @grid.GetHtml(htmlAttributes: new { id = "gridFlowProcess" },   // id for ajaxUpdateContainerId parameter
          fillEmptyRows: false,
          tableStyle: "table table-hover table-striped",
          footerStyle: "table-pager",
          alternatingRowStyle: "altRow",
          selectedRowStyle: "selectRow",
          columns: gridColumns)
                            }
                            else
                            {
                                <div style="color:red;margin-left:10px;">
                                    Không có dữ liệu
                                </div>
                            }
}