﻿@using IInterface.Models
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<SelectListItem> listObjectType = new List<SelectListItem> { new SelectListItem { Value = "1", Text = "Kế hoạch" }, new SelectListItem { Value = "2", Text = "Báo cáo quyết toán" }, new SelectListItem { Value = "3", Text = "Báo cáo tài chính" }, new SelectListItem { Value = "4", Text = "Báo cáo hoạt động" } };
    List<SelectListItem> listPeriod = ViewData["listPeriod"] as List<SelectListItem>;
}
<div class="row">
    <div class="col-lg-12">
        <div class="box box-success">
            <div class="box-header with-border">
                <div class="col-lg-12 form-horizontal">
                    @using (Ajax.BeginForm("SearchFlowProcess", "FlowProcess", new AjaxOptions
                    {
                        HttpMethod = "post",
                        UpdateTargetId = "divListFlowProcess"
                    }, new { id = "frmSearch" }))
                    {
                        <h3 class="box-title"></h3>
                        <div class="form-group">
                            <label class="control-label col-md-2">Loại đối tượng</label>
                            <div class="col-md-2">
                                <select id="objectType" name="objectType" class="form-control js-example-basic-single" style = "width:100%">
                                    @foreach (SelectListItem item in listObjectType)
                                    {
                                        <option value="@item.Value">@item.Text</option>
                                    }
                                </select>
                            </div>
                            <label class="control-label col-md-2">Kỳ báo cáo</label>
                            <div class="col-md-3">
                                @Html.DropDownList("periodId", listPeriod, new { @class = "js-example-basic-single form-control", style = "width:100%" })
                            </div>
                            <div class="col-md-3">
                                <button class="btn btn-default" type="submit"> <i class="fa fa-search"></i> Tìm kiếm</button>
                                <button class="btn btn-success" onclick="openAddOrEditFlowProcess(-1)"><i class="fa fa-plus"></i> Thêm mới</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-lg-12" id="divListFlowProcess">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="modal-FlowProcess" class="modal fade" role="dialog"></div>
<script type="text/javascript">
        $(document).ready(function () {
            $(".js-example-basic-single").select2();
            search();
        });

        function search() {
            $("#frmSearch").submit();
        }

        function openAddOrEditFlowProcess(id) {
            var dataPost = (id <= 0 ? {} : { FlowProcessId: id });
            $.ajax({
                type: "POST",
                url: '@Url.Action("OpenAddOrEditFlowProcess", "FlowProcess")',
                data: dataPost,
                success: function (result) {
                    $("#modal-FlowProcess").html(result);
                    $("#modal-FlowProcess").modal("show");
                    search();
                },
                error: function (xhr) {
                    CommonJS.alert(xhr.responseText);
                }
            });
        }


        function del(id) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("DeleteFlowProcess", "FlowProcess")',
                data: { "id": id },
                success: function (data) {
                    CommonJS.alert("Xóa thông tin thành công");
                    search();
                },
                error: function (xhr) {
                    CommonJS.alert(xhr.responseText);
                }
            });
        }
</script>