﻿@using Newtonsoft.Json
@using IInterface.Common;
@using IInterface.Models;
@{
    List<MissionModel> listMission = ViewData["listMission"] as List<MissionModel>;
    List<string> listMissionName = listMission.Select(x => x.MissionCode).ToList();
    List<double> listPlanVal = listMission.Select(x => x.PlanMoney).ToList();
    List<double> listActualVal = listMission.Select(x => x.ActualMoney).ToList();
}
<div class="row">
    <div class="col-md-12">
        <canvas id="myChart" width="500" height="180" style="width:500px; height:180px"></canvas>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered" id="tableData">
            <thead>
                <tr class="bg-info text-white">
                    <th style="text-align:center;vertical-align:middle;width:10%">Mã</th>
                    <th style="text-align:center;vertical-align:middle;width:50%">Nhiệm vụ</th>
                    <th style="text-align:center;vertical-align:middle;width:15%">Dự toán (triệu đồng)</th>
                    <th style="text-align:center;vertical-align:middle;width:15%">Giải ngân (triệu đồng)</th>
                    <th style="text-align:center;vertical-align:middle;width:10%">Tỷ lệ (%)</th>
                </tr>
            </thead>
            @if (listMission != null && listMission.Any())
            {
                <tbody>
                    @foreach (MissionModel mission in listMission)
                    {
                        double percent = mission.PlanMoney == 0 ? 0 : Math.Round((mission.ActualMoney / mission.PlanMoney) * 100, 2);
                        string sPercent = percent + "%";
                        <tr>
                            <td style="text-align:center;vertical-align:middle;width:10%"><strong>@mission.MissionCode</strong></td>
                            <td style="vertical-align:middle;width:50%"><strong>@mission.MissionName</strong></td>
                            <td style="text-align:right;vertical-align:middle;width:15%">@Utils.FormatMoney(mission.PlanMoney)</td>
                            <td style="text-align:right;vertical-align:middle;width:15%">@Utils.FormatMoney(mission.ActualMoney)</td>
                            <td style="text-align:right;vertical-align:middle;width:10%">@sPercent</td>
                        </tr>
                    }
                </tbody>
            }
        </table>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#tableData").freezeHeader();
    });
    var format = function (num) {
        var str = num.toString().replace("$", ""), parts = false, output = [], i = 1, formatted = null;
        if (str.indexOf(".") > 0) {
            parts = str.split(".");
            str = parts[0];
        }
        str = str.split("").reverse();
        for (var j = 0, len = str.length; j < len; j++) {
            if (str[j] != ",") {
                output.push(str[j]);
                if (i % 3 == 0 && j < (len - 1)) {
                    output.push(",");
                }
                i++;
            }
        }
        formatted = output.reverse().join("");
        return (formatted + ((parts) ? "." + parts[1].substr(0, 2) : ""));
    };
    var planData = {
        label: 'Chi phí theo kế hoạch (tỷ đồng)',
        data: JSON.parse('@Html.Raw(JsonConvert.SerializeObject(listPlanVal))'),
        backgroundColor: 'rgba(54, 162, 235, 0.8)',
        borderColor: 'rgba(54, 162, 235, 1)',
        borderWidth: 1
    };

    var actualData = {
        label: 'Chi phí theo báo cáo (tỷ đồng)',
        data: JSON.parse('@Html.Raw(JsonConvert.SerializeObject(listActualVal))'),
        backgroundColor: 'rgba(255, 206, 86, 0.8)',
        borderColor: 'rgba(255, 206, 86, 1)',
        borderWidth: 1
    };

    var chartData = {
        labels: JSON.parse('@Html.Raw(JsonConvert.SerializeObject(listMissionName))'),
        datasets: [planData, actualData]
    };

    var chartOptions = {
        legend: {
            display: false
        },
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true,
                    callback: function (label, index, labels) {
                        return format(label);
                    }
                },
                gridLines: {
                    color: "rgba(0, 0, 0, 0)",
                }                
            }],
            xAxes: [{
                gridLines: {
                    color: "rgba(0, 0, 0, 0)",
                },
                barPercentage: 1,
                categoryPercentage: 0.6
            }]
        },
        tooltips: {
            callbacks: {
                label: function (tooltipItem, data) {
                    var allData = data.datasets[tooltipItem.datasetIndex].data;
                    var tooltipLabel = data.labels[tooltipItem.index];
                    var tooltipData = allData[tooltipItem.index];
                    return tooltipLabel + ': ' + format(tooltipData);
                }
            }
        }
    };

    var canvas = document.getElementById("myChart");
    var ctx = canvas.getContext('2d');
    var barChart = new Chart(ctx, {
        type: 'bar',
        data: chartData,
        options: chartOptions
    });
</script>
