﻿@using IInterface.Common
@using IModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Period> listPeriod = ViewData["listPeriod"] as List<Period>;
    int year = DateTime.Now.Year;
    List<SelectListItem> listSelect = new List<SelectListItem>();
    List<SelectListItem> listYear = ViewData["listYear"] as List<SelectListItem>;
    List<SelectListItem> listQuarter = new List<SelectListItem>();
    listQuarter.Add(new SelectListItem { Value = string.Empty, Text = "Tất cả" });
    listQuarter.Add(new SelectListItem { Value = "1", Text = "1" });
    listQuarter.Add(new SelectListItem { Value = "2", Text = "2" });
    listQuarter.Add(new SelectListItem { Value = "3", Text = "3" });
    listQuarter.Add(new SelectListItem { Value = "4", Text = "4" });
    int nowYear = 0;
    foreach (Period p in listPeriod)
    {
        bool isSelected = p.FromDate.Year <= year && p.ToDate.Year >= year;
        if (isSelected)
        {
            nowYear = DateTime.Now.Year;
        }
        listSelect.Add(new SelectListItem { Value = p.PeriodID.ToString(), Text = p.PeriodName, Selected = isSelected });
    }
}

<div class="box">
    <div class="box-header with-border text-center">
        <div class="box-title text-center">
            @if (nowYear == 0)
            {
                <h4 id="title">BẢNG THEO DÕI BÁO CÁO TÀI CHÍNH CỦA CÁC TỈNH</h4>
            }
            else
            {
                <h4 id="title">BẢNG THEO DÕI BÁO CÁO TÀI CHÍNH CỦA CÁC TỈNH NĂM @nowYear</h4>
            }
        </div>
    </div>
    <div class="box-body">
        <div class="row">
            <div class="form-horizontal">
                <div class="form-group">
                    @Html.Label("Giai đoạn", new { @class = "control-label col-md-1" })
                    <div class="col-md-4">
                        @Html.DropDownList("PeriodID", listSelect, new { @class = "form-control ui-selet2" })
                    </div>
                    @Html.Label("Năm", new { @class = "control-label col-md-1" })
                    <div class="col-md-2">
                        @Html.DropDownList("Year", listYear, new { @class = "form-control ui-selet2" })
                    </div>
                    @Html.Label("Quý", new { @class = "control-label col-md-1" })
                    <div class="col-md-2">
                        @Html.DropDownList("Quarter", listQuarter, new { @class = "form-control ui-selet2" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2"></label>
                    <div class="col-md-4">
                        <label class="radio-inline input-group-addon text-left">
                            <input type="radio" checked name="ReportType" value="1" /> Báo cáo theo mục tiêu
                        </label>
                    </div>
                    <div class="col-md-4">
                        <label class="radio-inline input-group-addon text-left">
                            <input type="radio" name="ReportType" value="2" /> Báo cáo theo nhiệm vụ
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12 text-center">
                        <button class="btn btn-primary" onclick="synCost()" type="button"><i class="fa fa-recycle"></i> Tổng hợp</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("select").select2();
    });
    $("#PeriodID").change(function () {
        $.ajax({
            type: "POST",
            url: '@Url.Action("LoadYear", "ActionReport")',
            data: { PeriodID: $("#PeriodID").val() },
            success: function (YearList) {
                $("#Year").empty();
                for (var i = 0; i < YearList.length; i++) {
                    if (YearList[i].Value != '0') {
                        $("#Year").append("<option value='" + YearList[i].Value + "'>" + YearList[i].Text + "</option>");
                    }
                }
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    });
    $("#Year").change(function () {
        var year = $("#Year").val();
        if (year == 0) {
            $("#title").html("BẢNG THEO DÕI BÁO CÁO TÀI CHÍNH CỦA CÁC TỈNH");
        } else {
            $("#title").html("BẢNG THEO DÕI BÁO CÁO TÀI CHÍNH CỦA CÁC TỈNH NĂM " + year);
        }
    });
    function synCost() {
        var periodID = $('#PeriodID').val();
        var year = $('#Year').val();
        var quarter = $('#Quarter').val();
        var reportType = $('input[name=ReportType]:checked').val();
        if (reportType == 1) {
            window.location = "/ReportSyncCost/SynCost?periodID=" + periodID + "&year=" + year + "&quarter=" + quarter;
        } else {
            window.location = "/ReportSyncCost/SynCostByMission?periodID=" + periodID + "&year=" + year + "&quarter=" + quarter;
        }
    }
</script>
<style>
    .form-group .input-group-addon {
        background: none !important;
        border: none !important;
    }
</style>