﻿@using IInterface.Common
@using IModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Period> listPeriod = ViewData["listPeriod"] as List<Period>;
    int year = DateTime.Now.Year;
    List<SelectListItem> listSelect = new List<SelectListItem>();
    List<SelectListItem> listYear = ViewData["listYear"] as List<SelectListItem>;
    foreach (Period p in listPeriod)
    {
        bool isSelected = p.FromDate.Year <= year && p.ToDate.Year >= year;
        listSelect.Add(new SelectListItem { Value = p.PeriodID.ToString(), Text = p.PeriodName, Selected = isSelected });
    }
    List<SelectListItem> listQuarter = new List<SelectListItem>();
    listQuarter.Add(new SelectListItem { Value = "0", Text = "---Tất cả---" });
    listQuarter.Add(new SelectListItem { Value = "1", Text = "Quý 1" });
    listQuarter.Add(new SelectListItem { Value = "2", Text = "Quý 2" });
    listQuarter.Add(new SelectListItem { Value = "3", Text = "Quý 3" });
    listQuarter.Add(new SelectListItem { Value = "4", Text = "Quý 4" });
}

<div class="box">
    <div class="box-header with-border text-center">
        <div class="box-title text-center">
            <h4 id="title">BÁO CÁO TỔNG HỢP CHI PHÍ THỰC TẾ THEO NHIỆM VỤ</h4>
        </div>
    </div>
    <div class="box-body">
        <div class="row">
            <div class="form-horizontal">
                <div class="form-group">
                    @Html.Label("Giai đoạn", new { @class = "control-label col-md-1" })
                    <div class="col-md-3">
                        @Html.DropDownList("PeriodID", listSelect, new { @class = "form-control ui-selet2" })
                    </div>
                    @Html.Label("Năm", new { @class = "control-label col-md-1" })
                    <div class="col-md-2">
                        @Html.DropDownList("Year", listYear, new { @class = "form-control ui-selet2" })
                    </div>
                    @Html.Label("Quý", new { @class = "control-label col-md-1" })
                    <div class="col-md-2">
                        @Html.DropDownList("Quarter", listQuarter, new { @class = "form-control ui-selet2" })
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-primary text-center" onclick="loadAction()" type="button"><i class="fa fa-recycle"></i> Tổng hợp</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="box">
    <div class="box-header with-border text-center">
        <div class="box-title text-uppercase">
            <h4 id="title">Biểu đồ kinh phí thực tế theo nhiệm vụ</h4>
        </div>
    </div>
    <div class="box-body" id="divResultSync">
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("select").select2();
    });
    $("#PeriodID").change(function () {
        $.ajax({
            type: "POST",
            url: '@Url.Action("LoadYear", "ActionReport")',
            data: { PeriodID: $("#PeriodID").val() },
            success: function (YearList) {
                $("#Year").empty();
                for (var i = 0; i < YearList.length; i++) {
                    if (YearList[i].Value != '0') {
                        $("#Year").append("<option value='" + YearList[i].Value + "'>" + YearList[i].Text + "</option>");
                    }
                }
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    });

    function loadAction() {
        var periodID = $('#PeriodID').val();
        var year = $('#Year').val();
        var quarter = $('#Quarter').val();
        $.ajax({
            url: '@Url.Action("SysChartCost", "ReportSyncCost")',
            data: { "periodID": periodID, 'year': year, 'quarter': quarter },
            success: function (result) {
                $('#divResultSync').html(result);
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }
</script>
